# CSV to SQLite

In [14]:
import pandas as pd
import sqlite3

In [15]:
conn = sqlite3.connect("movies.sqlite")

In [16]:
conn.execute("CREATE TABLE if not exists movies (\
title TEXT,\
rating TEXT,\
vote_count INTEGER,\
start_year INTEGER,\
minutes INTEGER,\
genres TEXT,\
director_id TEXT,\
imdb_id TEXT,\
id INTEGER PRIMARY KEY AUTOINCREMENT\
)")

conn.execute("CREATE TABLE if not exists directors (\
name TEXT,\
birth_year INTEGER,\
death_year INTEGER,\
imdb_director_id TEXT,\
id INTEGER PRIMARY KEY AUTOINCREMENT,\
UNIQUE(imdb_director_id)\
)")

In [33]:
cursor = conn.cursor()
cursor.execute("SELECT sql FROM sqlite_master")
cursor.fetchall()

[('CREATE TABLE movies (title TEXT,rating TEXT,vote_count INTEGER,start_year INTEGER,minutes INTEGER,genres TEXT,director_id TEXT,imdb_id TEXT,id INTEGER PRIMARY KEY AUTOINCREMENT)',),
 ('CREATE TABLE sqlite_sequence(name,seq)',),
 ('CREATE TABLE directors (name TEXT,birth_year INTEGER,death_year INTEGER,director_id TEXT,id INTEGER PRIMARY KEY AUTOINCREMENT)',)]

In [17]:
df = pd.read_csv("movies.csv")

In [17]:
df.head()

,Unnamed: 0,tconst,averageRating,numVotes,directors,primaryTitle,startYear,runtimeMinutes,genres,nconst,primaryName,birthYear,deathYear
0,0,tt0000417,8.2,39710,nm0617588,A Trip to the Moon,1902,13,"Action,Adventure,Comedy",nm0617588,Georges Méliès,1861,1938
1,1,tt0000439,7.3,15526,nm0692105,The Great Train Robbery,1903,11,"Action,Crime,Short",nm0692105,Edwin S. Porter,1870,1941
2,2,tt0004972,6.4,20774,nm0000428,The Birth of a Nation,1915,195,"Drama,History,War",nm0000428,D.W. Griffith,1875,1948
3,3,tt0006864,7.8,13051,nm0000428,Intolerance: Love's Struggle Throughout the Ages,1916,163,"Drama,History",nm0000428,D.W. Griffith,1875,1948
4,4,tt0010323,8.1,51029,nm0927468,The Cabinet of Dr. Caligari,1920,76,"Fantasy,Horror,Mystery",nm0927468,Robert Wiene,1873,1938

In [9]:
for index, row in df.iterrows():
    values = f'("{row["primaryTitle"]}", {row["averageRating"]}, {row["numVotes"]}, {row["startYear"]}, {row["runtimeMinutes"]}, "{row["genres"]}", "{row["nconst"]}", "{row["tconst"]}")'
    conn.execute(f'INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values {values}')

OperationalError: unrecognized token: "\"

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9875 entries, 0 to 9874
Data columns (total 13 columns):
Unnamed: 0        9875 non-null int64
tconst            9875 non-null object
averageRating     9875 non-null float64
numVotes          9875 non-null int64
directors         9875 non-null object
primaryTitle      9875 non-null object
startYear         9875 non-null int64
runtimeMinutes    9875 non-null object
genres            9875 non-null object
nconst            9875 non-null object
primaryName       9875 non-null object
birthYear         9875 non-null object
deathYear         9875 non-null object
dtypes: float64(1), int64(3), object(9)
memory usage: 1003.0+ KB

In [19]:
df.replace("\\N", "null", inplace=True)
for col in df.columns:
    print(df[col][df[col] == "\\N"])

Series([], Name: Unnamed: 0, dtype: int64)
Series([], Name: tconst, dtype: object)
Series([], Name: averageRating, dtype: float64)
Series([], Name: numVotes, dtype: int64)
Series([], Name: directors, dtype: object)
Series([], Name: primaryTitle, dtype: object)
Series([], Name: startYear, dtype: int64)
Series([], Name: runtimeMinutes, dtype: object)
Series([], Name: genres, dtype: object)
Series([], Name: nconst, dtype: object)
Series([], Name: primaryName, dtype: object)
Series([], Name: birthYear, dtype: object)
Series([], Name: deathYear, dtype: object)

In [20]:
c = conn.cursor()

for index, row in df.iterrows():
    values = f'("{row["primaryTitle"]}", {row["averageRating"]}, {row["numVotes"]}, {row["startYear"]}, {row["runtimeMinutes"]}, "{row["genres"]}", "{row["nconst"]}", "{row["tconst"]}")'
    query = f'INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values {values}'
    c.execute(query)
    conn.commit()
    print(query)
c.close()

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Trip to the Moon", 8.2, 39710, 1902, 13, "Action,Adventure,Comedy", "nm0617588", "tt0000417")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Great Train Robbery", 7.3, 15526, 1903, 11, "Action,Crime,Short", "nm0692105", "tt0000439")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Birth of a Nation", 6.4, 20774, 1915, 195, "Drama,History,War", "nm0000428", "tt0004972")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Intolerance: Love's Struggle Throughout the Ages", 7.8, 13051, 1916, 163, "Drama,History", "nm0000428", "tt0006864")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Cabinet of Dr. Caligari", 8.1, 51029, 1920, 76, "Fantasy,Horror,Mystery", "nm0927468", "tt0010323")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Kid", 8.3, 100448, 1921, 68, "Comedy,Drama,Family", "nm0000122", "tt0012349")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Gold Rush", 8.2, 91289, 1925, 95, "Adventure,Comedy,Drama", "nm0000122", "tt0015864")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Circus", 8.2, 23402, 1928, 72, "Comedy,Romance", "nm0000122", "tt0018773")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("City Lights", 8.5, 151274, 1931, 87, "Comedy,Drama,Romance", "nm0000122", "tt0021749")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Modern Times", 8.5, 195831, 1936, 87, "Comedy,Drama,Family", "nm0000122", "tt0027977")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Great Dictator", 8.5, 185034, 1940, 125, "Comedy,Drama,War", "nm0000122", "tt0032553")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monsieur Verdoux", 7.9, 14398, 1947, 124, "Comedy,Crime,Drama", "nm0000122", "tt0039631")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Limelight", 8.1, 16452, 1952, 137, "Drama,Music,Romance", "nm0000122", "tt0044837")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Häxan", 7.7, 10513, 1922, 91, "Documentary,Fantasy,Horror", "nm0159725", "tt0013257")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nosferatu", 7.9, 82089, 1922, 94, "Fantasy,Horror", "nm0003638", "tt0013442")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Laugh", 8.1, 11271, 1924, 77, "Drama", "nm0003638", "tt0015064")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Faust", 8.1, 12862, 1926, 107, "Drama,Fantasy,Horror", "nm0003638", "tt0016847")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sunrise", 8.1, 44067, 1927, 94, "Drama,Romance", "nm0003638", "tt0018455")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Safety Last!", 8.1, 16689, 1923, 74, "Action,Comedy,Thriller", "nm0628345", "tt0014429")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sherlock Jr.", 8.2, 34610, 1924, 45, "Action,Comedy,Romance", "nm0000036", "tt0015324")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The General", 8.1, 73200, 1926, 67, "Action,Adventure,Comedy", "nm0000036", "tt0017925")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Battleship Potemkin", 8.0, 48897, 1925, 75, "Drama,History", "nm0001178", "tt0015648")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Phantom of the Opera", 7.6, 15314, 1925, 93, "Horror", "nm0432216", "tt0016220")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Metropolis", 8.3, 147167, 1927, 153, "Drama,Sci-Fi", "nm0000485", "tt0017136")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("M", 8.3, 130945, 1931, 117, "Crime,Mystery,Thriller", "nm0000485", "tt0022100")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Testament of Dr. Mabuse", 8.0, 10462, 1933, 122, "Crime", "nm0000485", "tt0023563")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fury", 7.9, 10401, 1936, 92, "Crime,Drama,Film-Noir", "nm0000485", "tt0027652")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Woman in the Window", 7.7, 12318, 1944, 107, "Crime,Drama,Film-Noir", "nm0000485", "tt0037469")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scarlet Street", 7.8, 12816, 1945, 102, "Drama,Film-Noir,Thriller", "nm0000485", "tt0038057")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Big Heat", 8.0, 21219, 1953, 89, "Crime,Film-Noir,Thriller", "nm0000485", "tt0045555")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wings", 7.5, 10333, 1927, 144, "Action,Drama,Romance", "nm0920074", "tt0018578")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Public Enemy", 7.7, 16339, 1931, 83, "Crime,Drama", "nm0920074", "tt0022286")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ox-Bow Incident", 8.0, 19376, 1942, 75, "Drama,Western", "nm0920074", "tt0036244")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Passion of Joan of Arc", 8.2, 41833, 1928, 110, "Biography,Drama,History", "nm0003433", "tt0019254")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vampyr", 7.6, 14167, 1932, 75, "Fantasy,Horror", "nm0003433", "tt0023649")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ordet", 8.4, 12487, 1955, 126, "Drama,Fantasy", "nm0003433", "tt0048452")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Steamboat Bill, Jr.", 7.9, 11916, 1928, 70, "Action,Comedy,Drama", "nm0718469", "tt0019421")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Man with a Movie Camera", 8.4, 20201, 1929, 68, "Documentary,Music", "nm0895048", "tt0019760")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Un Chien Andalou", 7.7, 42722, 1929, 16, "Fantasy,Horror,Short", "nm0000320", "tt0020530")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("L'Age d'Or", 7.3, 11685, 1930, 60, "Comedy,Drama", "nm0000320", "tt0021577")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Young and the Damned", 8.3, 16455, 1950, 85, "Crime,Drama", "nm0000320", "tt0042804")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Viridiana", 8.2, 20093, 1961, 90, "Comedy,Drama", "nm0000320", "tt0055601")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Exterminating Angel", 8.2, 26158, 1962, 95, "Drama,Fantasy", "nm0000320", "tt0056732")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Belle de Jour", 7.7, 36540, 1967, 100, "Drama", "nm0000320", "tt0061395")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Discreet Charm of the Bourgeoisie", 7.9, 34297, 1972, 102, "Comedy", "nm0000320", "tt0068361")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Phantom of Liberty", 7.9, 12934, 1974, 104, "Comedy", "nm0000320", "tt0071487")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("That Obscure Object of Desire", 7.9, 18624, 1977, 103, "Comedy,Drama", "nm0000320", "tt0075824")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("All Quiet on the Western Front", 8.0, 54059, 1930, 136, "Drama,War", "nm0587277", "tt0020629")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ocean's 11", 6.6, 18509, 1960, 127, "Comedy,Crime,Music", "nm0587277", "tt0054135")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Animal Crackers", 7.6, 12389, 1930, 97, "Comedy,Musical", "nm0373511", "tt0020640")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Blue Angel", 7.7, 12632, 1930, 104, "Drama,Music", "nm0903049", "tt0020697")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Little Caesar", 7.3, 10971, 1931, 79, "Action,Crime,Drama", "nm0503777", "tt0021079")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Am a Fugitive from a Chain Gang", 8.2, 10699, 1932, 92, "Crime,Drama,Film-Noir", "nm0503777", "tt0023042")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wizard of Oz", 8.0, 356298, 1939, 102, "Adventure,Family,Fantasy", "nm0503777", "tt0032138")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Quo Vadis", 7.2, 12469, 1951, 171, "Biography,Drama,History", "nm0503777", "tt0043949")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bad Seed", 7.5, 11854, 1956, 129, "Crime,Drama,Horror", "nm0503777", "tt0048977")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dracula", 7.5, 42088, 1931, 75, "Fantasy,Horror", "nm0115218", "tt0021814")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Freaks", 7.9, 39025, 1932, 64, "Drama,Horror", "nm0115218", "tt0022913")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Frankenstein", 7.8, 59698, 1931, 70, "Drama,Horror,Sci-Fi", "nm0001843", "tt0021884")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Invisible Man", 7.7, 26698, 1933, 71, "Horror,Sci-Fi", "nm0001843", "tt0024184")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bride of Frankenstein", 7.8, 39862, 1935, 75, "Drama,Horror,Sci-Fi", "nm0001843", "tt0026138")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monkey Business", 7.5, 10584, 1931, 77, "Comedy,Musical", "nm0572851", "tt0022158")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Horse Feathers", 7.6, 11027, 1932, 68, "Comedy,Musical,Romance", "nm0572851", "tt0023027")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dr. Jekyll and Mr. Hyde", 7.6, 11600, 1931, 98, "Horror,Sci-Fi", "nm0541149", "tt0022835")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Grand Hotel", 7.4, 15959, 1932, 112, "Drama,Romance", "nm0332539", "tt0022958")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mummy", 7.1, 21130, 1932, 73, "Fantasy,Horror", "nm0005713", "tt0023245")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scarface", 7.8, 23263, 1932, 93, "Action,Crime,Drama", "nm0744514", "tt0023427")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Trouble in Paradise", 8.0, 11887, 1932, 83, "Comedy,Crime,Romance", "nm0523932", "tt0023622")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ninotchka", 7.9, 17534, 1939, 110, "Comedy,Romance", "nm0523932", "tt0031725")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Shop Around the Corner", 8.1, 24836, 1940, 99, "Comedy,Drama,Romance", "nm0523932", "tt0033045")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("To Be or Not to Be", 8.3, 23752, 1942, 99, "Comedy,War", "nm0523932", "tt0035446")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Duck Soup", 7.8, 52861, 1933, 68, "Comedy,Musical,War", "nm0564970", "tt0023969")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Awful Truth", 7.7, 16462, 1937, 90, "Comedy,Romance", "nm0564970", "tt0028597")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("An Affair to Remember", 7.5, 26021, 1957, 115, "Drama,Romance", "nm0564970", "tt0050105")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("King Kong", 7.9, 74609, 1933, 100, "Adventure,Horror,Sci-Fi", "nm0178260", "tt0024216")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("L'Atalante", 7.8, 13240, 1934, 89, "Comedy,Drama,Romance", "nm0897118", "tt0024844")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("It Happened One Night", 8.1, 86246, 1934, 105, "Comedy,Romance", "nm0001008", "tt0025316")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mr. Deeds Goes to Town", 7.9, 18393, 1936, 115, "Comedy,Drama,Romance", "nm0001008", "tt0027996")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lost Horizon", 7.7, 11313, 1937, 132, "Adventure,Drama,Fantasy", "nm0001008", "tt0029162")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("You Can't Take It with You", 7.9, 21500, 1938, 126, "Comedy,Drama,Romance", "nm0001008", "tt0030993")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mr. Smith Goes to Washington", 8.1, 99716, 1939, 129, "Comedy,Drama", "nm0001008", "tt0031679")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Meet John Doe", 7.7, 11144, 1941, 122, "Comedy,Drama,Romance", "nm0001008", "tt0033891")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Arsenic and Old Lace", 8.0, 62152, 1944, 118, "Comedy,Crime,Thriller", "nm0001008", "tt0036613")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("It's a Wonderful Life", 8.6, 364031, 1946, 130, "Drama,Family,Fantasy", "nm0001008", "tt0038650")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Man Who Knew Too Much", 6.8, 15524, 1934, 75, "Crime,Mystery,Thriller", "nm0000033", "tt0025452")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The 39 Steps", 7.7, 47524, 1935, 86, "Film-Noir,Mystery,Thriller", "nm0000033", "tt0026029")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sabotage", 7.1, 13435, 1936, 76, "Crime,Thriller", "nm0000033", "tt0028212")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lady Vanishes", 7.8, 43467, 1938, 96, "Film-Noir,Mystery,Thriller", "nm0000033", "tt0030341")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Foreign Correspondent", 7.5, 16798, 1940, 120, "Action,Romance,Thriller", "nm0000033", "tt0032484")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rebecca", 8.1, 112771, 1940, 130, "Drama,Mystery,Romance", "nm0000033", "tt0032976")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Suspicion", 7.4, 29563, 1941, 99, "Mystery,Thriller", "nm0000033", "tt0034248")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Saboteur", 7.2, 21417, 1942, 109, "Thriller,War", "nm0000033", "tt0035279")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shadow of a Doubt", 7.9, 54833, 1943, 108, "Thriller", "nm0000033", "tt0036342")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lifeboat", 7.7, 24678, 1944, 97, "Drama,War", "nm0000033", "tt0037017")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spellbound", 7.6, 39944, 1945, 111, "Film-Noir,Mystery,Romance", "nm0000033", "tt0038109")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Notorious", 7.9, 86312, 1946, 102, "Drama,Film-Noir,Romance", "nm0000033", "tt0038787")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rope", 8.0, 117395, 1948, 80, "Crime,Drama,Mystery", "nm0000033", "tt0040746")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stage Fright", 7.1, 11556, 1950, 110, "Film-Noir,Thriller", "nm0000033", "tt0042994")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Strangers on a Train", 8.0, 115923, 1951, 101, "Crime,Film-Noir,Thriller", "nm0000033", "tt0044079")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Confess", 7.3, 17543, 1953, 95, "Crime,Drama,Thriller", "nm0000033", "tt0045897")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dial M for Murder", 8.2, 143334, 1954, 105, "Crime,Thriller", "nm0000033", "tt0046912")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rear Window", 8.5, 407443, 1954, 112, "Mystery,Thriller", "nm0000033", "tt0047396")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("To Catch a Thief", 7.4, 57729, 1955, 106, "Mystery,Romance,Thriller", "nm0000033", "tt0048728")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Trouble with Harry", 7.1, 30910, 1955, 99, "Comedy,Mystery", "nm0000033", "tt0048750")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Man Who Knew Too Much", 7.5, 52800, 1956, 120, "Drama,Thriller", "nm0000033", "tt0049470")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wrong Man", 7.4, 23356, 1956, 105, "Drama,Film-Noir", "nm0000033", "tt0051207")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vertigo", 8.3, 328040, 1958, 128, "Mystery,Romance,Thriller", "nm0000033", "tt0052357")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("North by Northwest", 8.3, 276925, 1959, 136, "Adventure,Mystery,Thriller", "nm0000033", "tt0053125")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Psycho", 8.5, 550377, 1960, 109, "Horror,Mystery,Thriller", "nm0000033", "tt0054215")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Birds", 7.7, 157650, 1963, 119, "Drama,Horror,Mystery", "nm0000033", "tt0056869")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Marnie", 7.2, 41138, 1964, 130, "Crime,Drama,Mystery", "nm0000033", "tt0058329")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Torn Curtain", 6.7, 22638, 1966, 128, "Thriller", "nm0000033", "tt0061107")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Topaz", 6.3, 15374, 1969, 143, "Drama,Thriller", "nm0000033", "tt0065112")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Frenzy", 7.4, 37772, 1972, 116, "Thriller", "nm0000033", "tt0068611")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Family Plot", 6.8, 18826, 1976, 120, "Comedy,Crime,Drama", "nm0000033", "tt0074512")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Thin Man", 8.0, 24521, 1934, 91, "Comedy,Crime,Mystery", "nm0886754", "tt0025878")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Triumph of the Will", 7.3, 13963, 1935, 114, "Documentary,History,War", "nm0726166", "tt0025913")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Captain Blood", 7.7, 12004, 1935, 119, "Action,Adventure", "nm0002031", "tt0026174")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Adventures of Robin Hood", 7.9, 44521, 1938, 102, "Action,Adventure,Romance", "nm0002031", "tt0029843")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Angels with Dirty Faces", 7.9, 18588, 1938, 97, "Crime,Drama,Film-Noir", "nm0002031", "tt0029870")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Casablanca", 8.5, 484787, 1942, 102, "Drama,Romance,War", "nm0002031", "tt0034583")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Yankee Doodle Dandy", 7.7, 13097, 1942, 126, "Biography,Drama,Musical", "nm0002031", "tt0035575")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mildred Pierce", 8.0, 20700, 1945, 111, "Crime,Drama,Film-Noir", "nm0002031", "tt0037913")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("White Christmas", 7.6, 28629, 1954, 120, "Comedy,Musical,Romance", "nm0002031", "tt0047673")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mutiny on the Bounty", 7.7, 19224, 1935, 132, "Adventure,Biography,Drama", "nm0515979", "tt0026752")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Night at the Opera", 7.9, 28923, 1935, 96, "Comedy,Music,Musical", "nm0939992", "tt0026778")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Day at the Races", 7.6, 12246, 1937, 111, "Comedy,Musical,Sport", "nm0939992", "tt0028772")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Top Hat", 7.8, 15985, 1935, 101, "Comedy,Musical,Romance", "nm0762263", "tt0027125")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Holiday Inn", 7.5, 11860, 1942, 100, "Comedy,Drama,Music", "nm0762263", "tt0034862")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Man Godfrey", 8.0, 19086, 1936, 94, "Comedy,Drama,Romance", "nm0478441", "tt0028010")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Petrified Forest", 7.6, 11439, 1936, 82, "Drama,Film-Noir,Romance", "nm0562845", "tt0028096")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Swing Time", 7.6, 11287, 1936, 103, "Comedy,Musical,Romance", "nm0828419", "tt0028333")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gunga Din", 7.4, 10299, 1939, 117, "Adventure,Comedy,War", "nm0828419", "tt0031398")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Place in the Sun", 7.8, 18422, 1951, 122, "Drama,Romance", "nm0828419", "tt0043924")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shane", 7.6, 34035, 1953, 118, "Drama,Western", "nm0828419", "tt0046303")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Giant", 7.7, 31641, 1956, 201, "Drama,Western", "nm0828419", "tt0049261")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Diary of Anne Frank", 7.4, 11181, 1959, 180, "Biography,Drama,Family", "nm0828419", "tt0052738")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("La Grande Illusion", 8.1, 31456, 1937, 113, "Drama,War", "nm0719756", "tt0028950")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Rules of the Game", 8.1, 24636, 1939, 110, "Comedy,Drama", "nm0719756", "tt0031885")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Snow White and the Seven Dwarfs", 7.6, 167674, 1937, 83, "Animation,Family,Fantasy", "nm0183183", "tt0029583")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bringing Up Baby", 7.9, 51712, 1938, 102, "Comedy,Family,Romance", "nm0001328", "tt0029947")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Only Angels Have Wings", 7.7, 11255, 1939, 121, "Adventure,Drama,Romance", "nm0001328", "tt0031762")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("His Girl Friday", 7.9, 49295, 1940, 92, "Comedy,Drama,Romance", "nm0001328", "tt0032599")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sergeant York", 7.7, 14299, 1941, 134, "Biography,Drama,History", "nm0001328", "tt0034167")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("To Have and Have Not", 7.9, 28538, 1944, 100, "Adventure,Comedy,Film-Noir", "nm0001328", "tt0037382")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Big Sleep", 7.9, 74525, 1946, 114, "Crime,Film-Noir,Mystery", "nm0001328", "tt0038355")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Red River", 7.8, 25910, 1948, 133, "Action,Adventure,Romance", "nm0001328", "tt0040724")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monkey Business", 7.0, 12022, 1952, 97, "Comedy,Sci-Fi", "nm0001328", "tt0044916")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gentlemen Prefer Blondes", 7.2, 28597, 1953, 91, "Comedy,Musical,Romance", "nm0001328", "tt0045810")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rio Bravo", 8.0, 51839, 1959, 141, "Action,Drama,Western", "nm0001328", "tt0053221")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hatari!", 7.2, 10912, 1962, 157, "Action,Adventure,Drama", "nm0001328", "tt0056059")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("El Dorado", 7.6, 22117, 1967, 126, "Drama,Romance,Western", "nm0001328", "tt0061619")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Holiday", 7.8, 13089, 1938, 95, "Comedy,Romance", "nm0002030", "tt0030241")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gone with the Wind", 8.1, 268308, 1939, 238, "Drama,History,Romance", "nm0002030", "tt0031381")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Women", 7.8, 11734, 1939, 133, "Comedy,Drama", "nm0002030", "tt0032143")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Philadelphia Story", 7.9, 59342, 1940, 112, "Comedy,Romance", "nm0002030", "tt0032904")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gaslight", 7.8, 21616, 1944, 114, "Crime,Drama,Film-Noir", "nm0002030", "tt0036855")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Adam's Rib", 7.5, 18140, 1949, 101, "Comedy,Drama,Romance", "nm0002030", "tt0041090")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Star Is Born", 7.6, 14347, 1954, 154, "Drama,Musical,Romance", "nm0002030", "tt0047522")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Fair Lady", 7.8, 80872, 1964, 170, "Drama,Family,Musical", "nm0002030", "tt0058385")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jezebel", 7.5, 10898, 1938, 104, "Drama,Romance", "nm0943758", "tt0030287")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wuthering Heights", 7.6, 15130, 1939, 104, "Drama,Romance", "nm0943758", "tt0032145")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Letter", 7.6, 10566, 1940, 95, "Crime,Drama,Film-Noir", "nm0943758", "tt0032701")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mrs. Miniver", 7.6, 14511, 1942, 134, "Drama,Romance,War", "nm0943758", "tt0035093")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Best Years of Our Lives", 8.0, 53982, 1946, 170, "Drama,Romance,War", "nm0943758", "tt0036868")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Heiress", 8.2, 12153, 1949, 115, "Drama,Romance", "nm0943758", "tt0041452")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Roman Holiday", 8.0, 119108, 1953, 118, "Comedy,Romance", "nm0943758", "tt0046250")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Big Country", 7.9, 14218, 1958, 166, "Romance,Western", "nm0943758", "tt0051411")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ben-Hur", 8.1, 204472, 1959, 212, "Adventure,Drama,History", "nm0943758", "tt0052618")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Children's Hour", 7.8, 13254, 1961, 108, "Drama,Romance", "nm0943758", "tt0054743")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("How to Steal a Million", 7.6, 22554, 1966, 123, "Comedy,Crime,Romance", "nm0943758", "tt0060522")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Funny Girl", 7.4, 17120, 1968, 151, "Biography,Comedy,Drama", "nm0943758", "tt0062994")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Roaring Twenties", 8.0, 11603, 1939, 106, "Action,Crime,Drama", "nm0909825", "tt0031867")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("High Sierra", 7.5, 13867, 1941, 100, "Action,Adventure,Crime", "nm0909825", "tt0033717")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("White Heat", 8.2, 25059, 1949, 114, "Action,Crime,Drama", "nm0909825", "tt0042041")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stagecoach", 7.9, 39007, 1939, 96, "Adventure,Drama,Western", "nm0000406", "tt0031971")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Grapes of Wrath", 8.0, 81972, 1940, 129, "Drama,History", "nm0000406", "tt0032551")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("How Green Was My Valley", 7.7, 19492, 1941, 118, "Drama,Family", "nm0000406", "tt0033729")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Darling Clementine", 7.8, 19764, 1946, 97, "Biography,Drama,Western", "nm0000406", "tt0038762")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fort Apache", 7.5, 15161, 1948, 128, "Action,Adventure,Western", "nm0000406", "tt0040369")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("She Wore a Yellow Ribbon", 7.3, 14509, 1949, 104, "Western", "nm0000406", "tt0041866")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rio Grande", 7.2, 12910, 1950, 105, "Romance,Western", "nm0000406", "tt0042895")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Quiet Man", 7.8, 32286, 1952, 129, "Comedy,Drama,Romance", "nm0000406", "tt0045061")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mister Roberts", 7.7, 14479, 1955, 123, "Comedy,Drama,War", "nm0000406", "tt0048380")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Searchers", 7.9, 74302, 1956, 119, "Adventure,Drama,Western", "nm0000406", "tt0049730")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("How the West Was Won", 7.1, 17160, 1962, 164, "Western", "nm0000406", "tt0056085")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Man Who Shot Liberty Valance", 8.1, 63644, 1962, 123, "Drama,Western", "nm0000406", "tt0056217")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fantasia", 7.8, 82891, 1940, 125, "Animation,Family,Fantasy", "nm1968474", "tt0032455")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pinocchio", 7.4, 119175, 1940, 88, "Animation,Comedy,Family", "nm0272568", "tt0032910")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Three Caballeros", 6.5, 10779, 1944, 71, "Animation,Comedy,Family", "nm0272568", "tt0038166")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Thief of Bagdad", 7.5, 10952, 1940, 106, "Adventure,Family,Fantasy", "nm0003490", "tt0033152")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Citizen Kane", 8.3, 369537, 1941, 119, "Drama,Mystery", "nm0000080", "tt0033467")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Magnificent Ambersons", 7.7, 20588, 1942, 88, "Drama,Romance", "nm0000080", "tt0035015")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Stranger", 7.4, 20015, 1946, 95, "Crime,Drama,Film-Noir", "nm0000080", "tt0038991")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lady from Shanghai", 7.6, 23949, 1947, 87, "Crime,Drama,Film-Noir", "nm0000080", "tt0040525")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Touch of Evil", 8.0, 93623, 1958, 95, "Crime,Drama,Film-Noir", "nm0000080", "tt0052311")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Trial", 7.8, 17579, 1962, 119, "Drama,Mystery,Thriller", "nm0000080", "tt0057427")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dumbo", 7.2, 110515, 1941, 64, "Animation,Drama,Family", "nm0035899", "tt0033563")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lady Eve", 7.8, 17586, 1941, 94, "Comedy,Romance", "nm0002545", "tt0033804")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sullivan's Travels", 8.0, 22101, 1941, 90, "Adventure,Comedy,Drama", "nm0002545", "tt0034240")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Maltese Falcon", 8.0, 142239, 1941, 100, "Film-Noir,Mystery", "nm0001379", "tt0033870")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Key Largo", 7.8, 34559, 1948, 100, "Action,Crime,Drama", "nm0001379", "tt0040506")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Treasure of the Sierra Madre", 8.2, 105273, 1948, 126, "Adventure,Drama,Western", "nm0001379", "tt0040897")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Asphalt Jungle", 7.9, 22111, 1950, 112, "Crime,Drama,Film-Noir", "nm0001379", "tt0042208")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The African Queen", 7.8, 67373, 1951, 105, "Adventure,Drama,Romance", "nm0001379", "tt0043265")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Moby Dick", 7.3, 15844, 1956, 116, "Adventure,Drama", "nm0001379", "tt0049513")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Misfits", 7.3, 15971, 1961, 125, "Drama,Romance,Western", "nm0001379", "tt0055184")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Man Who Would Be King", 7.8, 41371, 1975, 129, "Adventure,History,War", "nm0001379", "tt0073341")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Victory", 6.7, 25518, 1981, 116, "Drama,Sport,War", "nm0001379", "tt0083284")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Annie", 6.6, 37109, 1982, 126, "Comedy,Drama,Family", "nm0001379", "tt0083564")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Prizzi's Honor", 6.7, 21404, 1985, 130, "Comedy,Crime,Drama", "nm0001379", "tt0089841")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wolf Man", 7.3, 21405, 1941, 70, "Horror", "nm0905729", "tt0034398")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bambi", 7.3, 120820, 1942, 70, "Animation,Drama,Family", "nm0019282", "tt0034492")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Adventures of Ichabod and Mr. Toad", 7.0, 11086, 1949, 68, "Animation,Comedy,Family", "nm0019282", "tt0041094")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fantasia 2000", 7.2, 32676, 1999, 75, "Animation,Comedy,Family", "nm0019282", "tt0120910")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cat People", 7.3, 17803, 1942, 73, "Fantasy,Horror,Thriller", "nm0869664", "tt0034587")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Out of the Past", 8.0, 29618, 1947, 97, "Crime,Drama,Film-Noir", "nm0869664", "tt0039689")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Curse of the Demon", 7.5, 10852, 1957, 95, "Fantasy,Horror,Mystery", "nm0869664", "tt0050766")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Now, Voyager", 8.0, 13724, 1942, 117, "Drama,Romance", "nm0710924", "tt0035140")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kate & Leopold", 6.4, 74993, 2001, 118, "Comedy,Fantasy,Romance", "nm0003506", "tt0035423")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cop Land", 6.9, 80603, 1997, 105, "Crime,Drama,Thriller", "nm0003506", "tt0118887")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Girl, Interrupted", 7.3, 150480, 1999, 127, "Biography,Drama", "nm0003506", "tt0172493")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Identity", 7.3, 212433, 2003, 90, "Mystery,Thriller", "nm0003506", "tt0309698")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Walk the Line", 7.8, 216302, 2005, 136, "Biography,Drama,Music", "nm0003506", "tt0358273")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("3:10 to Yuma", 7.7, 273047, 2007, 122, "Action,Crime,Drama", "nm0003506", "tt0381849")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Knight and Day", 6.3, 171559, 2010, 109, "Action,Adventure,Comedy", "nm0003506", "tt1013743")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wolverine", 6.7, 407848, 2013, 126, "Action,Adventure,Sci-Fi", "nm0003506", "tt1430132")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Logan", 8.1, 579204, 2017, 137, "Action,Drama,Sci-Fi", "nm0003506", "tt3315342")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Life and Death of Colonel Blimp", 8.1, 11992, 1943, 163, "Drama,Romance,War", "nm0003836", "tt0036112")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Red Shoes", 8.2, 25438, 1948, 134, "Drama,Music,Romance", "nm0003836", "tt0040725")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Peeping Tom", 7.7, 27547, 1960, 101, "Drama,Horror,Thriller", "nm0003836", "tt0054167")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Double Indemnity", 8.3, 131015, 1944, 107, "Crime,Drama,Film-Noir", "nm0000697", "tt0036775")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lost Weekend", 7.9, 31049, 1945, 101, "Drama,Film-Noir", "nm0000697", "tt0037884")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sunset Blvd.", 8.4, 183367, 1950, 110, "Drama,Film-Noir", "nm0000697", "tt0043014")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ace in the Hole", 8.2, 25223, 1951, 111, "Drama,Film-Noir", "nm0000697", "tt0043338")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stalag 17", 8.0, 48568, 1953, 120, "Comedy,Drama,War", "nm0000697", "tt0046359")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sabrina", 7.7, 54519, 1954, 113, "Comedy,Drama,Romance", "nm0000697", "tt0047437")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Seven Year Itch", 7.1, 31366, 1955, 105, "Comedy,Romance", "nm0000697", "tt0048605")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Love in the Afternoon", 7.2, 12710, 1957, 130, "Comedy,Crime,Drama", "nm0000697", "tt0050658")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Witness for the Prosecution", 8.4, 95306, 1957, 116, "Crime,Drama,Film-Noir", "nm0000697", "tt0051201")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Some Like It Hot", 8.2, 224936, 1959, 121, "Comedy,Music,Romance", "nm0000697", "tt0053291")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Apartment", 8.3, 147689, 1960, 125, "Comedy,Drama,Romance", "nm0000697", "tt0053604")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("One, Two, Three", 7.9, 17987, 1961, 104, "Comedy", "nm0000697", "tt0055256")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Irma la Douce", 7.4, 15644, 1963, 147, "Comedy,Romance", "nm0000697", "tt0057187")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fortune Cookie", 7.3, 11614, 1966, 125, "Comedy,Romance", "nm0000697", "tt0060424")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Front Page", 7.3, 11282, 1974, 105, "Comedy,Drama,Romance", "nm0000697", "tt0071524")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Laura", 8.0, 39148, 1944, 88, "Drama,Film-Noir,Mystery", "nm0695937", "tt0037008")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Anatomy of a Murder", 8.0, 54989, 1959, 161, "Crime,Drama,Mystery", "nm0695937", "tt0052561")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Meet Me in St. Louis", 7.6, 18528, 1944, 113, "Comedy,Drama,Family", "nm0591486", "tt0037059")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("An American in Paris", 7.2, 27843, 1951, 114, "Drama,Musical,Romance", "nm0591486", "tt0043278")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bad and the Beautiful", 7.8, 11888, 1952, 118, "Drama,Romance", "nm0591486", "tt0044391")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gigi", 6.7, 18055, 1958, 115, "Comedy,Musical,Romance", "nm0591486", "tt0051658")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Murder, My Sweet", 7.6, 11033, 1944, 95, "Crime,Drama,Film-Noir", "nm0229424", "tt0037101")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Caine Mutiny", 7.7, 22993, 1954, 124, "Drama,War", "nm0229424", "tt0046816")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("And Then There Were None", 7.5, 11527, 1945, 97, "Crime,Drama,Mystery", "nm0163229", "tt0037515")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brief Encounter", 8.0, 32434, 1945, 86, "Drama,Romance", "nm0000180", "tt0037558")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Great Expectations", 7.8, 20579, 1946, 118, "Adventure,Drama,Mystery", "nm0000180", "tt0038574")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Oliver Twist", 7.8, 10418, 1948, 116, "Drama", "nm0000180", "tt0040662")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bridge on the River Kwai", 8.1, 188961, 1957, 161, "Adventure,Drama,War", "nm0000180", "tt0050212")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lawrence of Arabia", 8.3, 247348, 1962, 228, "Adventure,Biography,Drama", "nm0000180", "tt0056172")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Doctor Zhivago", 8.0, 65295, 1965, 197, "Drama,Romance,War", "nm0000180", "tt0059113")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Passage to India", 7.3, 15824, 1984, 164, "Adventure,Drama,History", "nm0000180", "tt0087892")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Detour", 7.4, 13119, 1945, 68, "Crime,Drama,Film-Noir", "nm0880618", "tt0037638")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Children of Paradise", 8.4, 17006, 1945, 189, "Drama,Romance", "nm0138893", "tt0037674")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Picture of Dorian Gray", 7.5, 10839, 1945, 110, "Drama,Fantasy,Horror", "nm0506797", "tt0037988")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beauty and the Beast", 7.9, 22638, 1946, 96, "Drama,Fantasy,Romance", "nm0168413", "tt0038348")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gilda", 7.7, 25382, 1946, 110, "Drama,Film-Noir,Romance", "nm0896533", "tt0038559")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Killers", 7.8, 17438, 1946, 103, "Crime,Drama,Film-Noir", "nm0802563", "tt0038669")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Matter of Life and Death", 8.1, 17573, 1946, 104, "Comedy,Drama,Fantasy", "nm0696247", "tt0038733")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Narcissus", 7.8, 19575, 1947, 101, "Drama", "nm0696247", "tt0039192")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Postman Always Rings Twice", 7.5, 17093, 1946, 113, "Crime,Drama,Film-Noir", "nm0307819", "tt0038854")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rome, Open City", 8.1, 20904, 1945, 103, "Drama,Thriller,War", "nm0744023", "tt0038890")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Song of the South", 7.1, 10290, 1946, 94, "Animation,Comedy,Family", "nm0287836", "tt0038969")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bishop's Wife", 7.6, 12704, 1947, 109, "Comedy,Drama,Fantasy", "nm0467396", "tt0039190")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Harvey", 7.9, 50548, 1950, 104, "Comedy,Drama,Fantasy", "nm0467396", "tt0042546")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Miracle on 34th Street", 7.9, 37182, 1947, 96, "Comedy,Drama,Family", "nm0780833", "tt0039628")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Airport", 6.6, 16190, 1970, 137, "Action,Drama,Thriller", "nm0780833", "tt0065377")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Abbott and Costello Meet Frankenstein", 7.5, 13375, 1948, 83, "Comedy,Fantasy,Horror", "nm0059106", "tt0040068")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hamlet", 7.7, 14085, 1948, 154, "Drama", "nm0000059", "tt0040416")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bicycle Thieves", 8.3, 130950, 1948, 89, "Drama", "nm0001120", "tt0040522")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Umberto D.", 8.2, 20597, 1952, 89, "Drama", "nm0001120", "tt0045274")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Letter from an Unknown Woman", 8.0, 10143, 1948, 87, "Drama,Romance", "nm0649097", "tt0040536")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Naked City", 7.6, 10959, 1948, 96, "Crime,Drama,Film-Noir", "nm0202088", "tt0040636")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Night and the City", 8.0, 10762, 1950, 101, "Crime,Film-Noir,Mystery", "nm0202088", "tt0042788")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rififi", 8.2, 23370, 1955, 118, "Crime,Thriller", "nm0202088", "tt0048021")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("All the King's Men", 7.5, 12156, 1949, 110, "Drama,Film-Noir", "nm0744035", "tt0041113")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hustler", 8.0, 71335, 1961, 134, "Drama,Sport", "nm0744035", "tt0054997")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Late Spring", 8.3, 12442, 1949, 108, "Drama", "nm0654868", "tt0041154")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tokyo Story", 8.2, 45163, 1953, 136, "Drama", "nm0654868", "tt0046438")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kind Hearts and Coronets", 8.0, 32345, 1949, 106, "Comedy,Crime", "nm0357607", "tt0041546")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stray Dog", 7.9, 13515, 1949, 122, "Crime,Drama,Film-Noir", "nm0000041", "tt0041699")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rashomon", 8.2, 138364, 1950, 88, "Crime,Drama,Mystery", "nm0000041", "tt0042876")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ikiru", 8.3, 60090, 1952, 143, "Drama", "nm0000041", "tt0044741")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Seven Samurai", 8.6, 289904, 1954, 207, "Adventure,Drama", "nm0000041", "tt0047478")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Throne of Blood", 8.1, 40653, 1957, 110, "Drama,History", "nm0000041", "tt0050613")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hidden Fortress", 8.1, 30445, 1958, 139, "Adventure,Drama", "nm0000041", "tt0051808")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Yojimbo", 8.2, 100428, 1961, 110, "Action,Comedy,Crime", "nm0000041", "tt0055630")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sanjuro", 8.1, 28619, 1962, 96, "Action,Crime,Drama", "nm0000041", "tt0056443")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("High and Low", 8.5, 24396, 1963, 143, "Crime,Drama,Mystery", "nm0000041", "tt0057565")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Red Beard", 8.4, 14671, 1965, 185, "Drama", "nm0000041", "tt0058888")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dersu Uzala", 8.3, 21479, 1975, 142, "Adventure,Biography,Drama", "nm0000041", "tt0071411")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kagemusha", 8.0, 29135, 1980, 180, "Drama,History,War", "nm0000041", "tt0080979")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ran", 8.2, 101550, 1985, 162, "Action,Drama", "nm0000041", "tt0089881")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dreams", 7.8, 22053, 1990, 119, "Drama,Fantasy", "nm0000041", "tt0100998")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("On the Town", 7.4, 14813, 1949, 98, "Comedy,Musical,Romance", "nm0002045", "tt0041716")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Singin' in the Rain", 8.3, 201153, 1952, 103, "Comedy,Musical,Romance", "nm0002045", "tt0045152")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Seven Brides for Seven Brothers", 7.4, 19777, 1954, 102, "Comedy,Drama,Musical", "nm0002045", "tt0047472")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Funny Face", 7.0, 24481, 1957, 103, "Comedy,Musical,Romance", "nm0002045", "tt0050419")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Charade", 7.9, 61580, 1963, 113, "Comedy,Mystery,Romance", "nm0002045", "tt0056923")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Two for the Road", 7.5, 11153, 1967, 111, "Comedy,Drama,Romance", "nm0002045", "tt0062407")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Third Man", 8.1, 147665, 1949, 104, "Film-Noir,Mystery,Thriller", "nm0715346", "tt0041959")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mutiny on the Bounty", 7.3, 13848, 1962, 178, "Adventure,Drama,History", "nm0715346", "tt0056264")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Oliver!", 7.4, 31879, 1968, 153, "Drama,Family,Musical", "nm0715346", "tt0063385")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Twelve O'Clock High", 7.7, 11571, 1949, 132, "Drama,War", "nm0454771", "tt0041996")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cinderella", 7.3, 134296, 1950, 74, "Animation,Family,Fantasy", "nm0414144", "tt0042332")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gun Crazy", 7.6, 10364, 1950, 87, "Crime,Drama,Film-Noir", "nm0507390", "tt0042530")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In a Lonely Place", 8.0, 22976, 1950, 94, "Drama,Film-Noir,Mystery", "nm0712947", "tt0042593")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Johnny Guitar", 7.7, 14158, 1954, 110, "Drama,Western", "nm0712947", "tt0047136")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rebel Without a Cause", 7.7, 77113, 1955, 111, "Drama", "nm0712947", "tt0048545")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Winchester '73", 7.7, 15370, 1950, 92, "Action,Drama,Western", "nm0542649", "tt0043137")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("El Cid", 7.2, 11906, 1961, 182, "Biography,Drama,History", "nm0542649", "tt0054847")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Love Lucy", 8.4, 20873, 1951, 30, "Comedy,Family", "nm0038906", "tt0043208")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bewitched", 7.5, 14943, 1964, 25, "Comedy,Family,Fantasy", "nm0038906", "tt0057733")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alice in Wonderland", 7.4, 118764, 1951, 75, "Adventure,Animation,Family", "nm0314671", "tt0043274")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Peter Pan", 7.3, 115190, 1953, 77, "Adventure,Animation,Family", "nm0314671", "tt0046183")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lady and the Tramp", 7.3, 111746, 1955, 76, "Adventure,Animation,Comedy", "nm0314671", "tt0048280")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sleeping Beauty", 7.2, 125063, 1959, 75, "Animation,Family,Fantasy", "nm0314671", "tt0053285")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("101 Dalmatians", 7.2, 140807, 1961, 79, "Adventure,Animation,Comedy", "nm0314671", "tt0055254")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Day the Earth Stood Still", 7.7, 73068, 1951, 92, "Drama,Sci-Fi", "nm0936404", "tt0043456")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("West Side Story", 7.5, 89388, 1961, 153, "Crime,Drama,Musical", "nm0936404", "tt0055614")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Haunting", 7.5, 31898, 1963, 112, "Horror", "nm0936404", "tt0057129")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sound of Music", 8.0, 185890, 1965, 172, "Biography,Drama,Family", "nm0936404", "tt0059742")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sand Pebbles", 7.6, 12377, 1966, 182, "Adventure,Drama,Romance", "nm0936404", "tt0060934")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Andromeda Strain", 7.2, 30890, 1971, 131, "Sci-Fi,Thriller", "nm0936404", "tt0066769")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Trek: The Motion Picture", 6.4, 76067, 1979, 132, "Adventure,Mystery,Sci-Fi", "nm0936404", "tt0079945")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Forbidden Games", 8.1, 10142, 1952, 86, "Drama,War", "nm0167496", "tt0043686")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Purple Noon", 7.8, 12219, 1960, 118, "Crime,Drama,Thriller", "nm0167496", "tt0054189")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Christmas Carol", 8.1, 18209, 1951, 86, "Drama,Fantasy", "nm0221423", "tt0044008")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Thing from Another World", 7.2, 23425, 1951, 87, "Horror,Sci-Fi", "nm0638528", "tt0044121")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Greatest Show on Earth", 6.6, 11818, 1952, 152, "Drama,Family,Romance", "nm0001124", "tt0044672")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ten Commandments", 7.8, 58332, 1956, 220, "Adventure,Drama", "nm0001124", "tt0049833")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("High Noon", 7.9, 91660, 1952, 85, "Drama,Thriller,Western", "nm0003593", "tt0044706")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("From Here to Eternity", 7.6, 39979, 1953, 118, "Drama,Romance,War", "nm0003593", "tt0045793")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Oklahoma!", 7.0, 10468, 1955, 145, "Comedy,Drama,Musical", "nm0003593", "tt0048445")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Man for All Seasons", 7.7, 28653, 1966, 120, "Biography,Drama,History", "nm0003593", "tt0060665")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Day of the Jackal", 7.8, 34943, 1973, 143, "Crime,Drama,Thriller", "nm0003593", "tt0069947")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lavender Hill Mob", 7.6, 11624, 1951, 78, "Comedy,Crime", "nm0187769", "tt0044829")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Birdman of Alcatraz", 7.8, 14791, 1962, 147, "Biography,Crime,Drama", "nm0187769", "tt0055798")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Fish Called Wanda", 7.5, 123970, 1988, 108, "Comedy,Crime", "nm0187769", "tt0095159")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("House of Wax", 7.1, 14788, 1953, 88, "Horror", "nm0211964", "tt0045888")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("How to Marry a Millionaire", 6.9, 19096, 1953, 95, "Comedy,Drama,Romance", "nm0624535", "tt0045891")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Niagara", 7.0, 13602, 1953, 92, "Film-Noir,Thriller", "nm0368871", "tt0046126")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sons of Katie Elder", 7.2, 13242, 1965, 122, "Western", "nm0368871", "tt0059740")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("True Grit", 7.4, 39384, 1969, 128, "Adventure,Drama,Western", "nm0368871", "tt0065126")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pickup on South Street", 7.7, 11640, 1953, 80, "Crime,Film-Noir,Thriller", "nm0002087", "tt0046187")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shock Corridor", 7.4, 10041, 1963, 101, "Drama,Mystery", "nm0002087", "tt0057495")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Big Red One", 7.2, 17594, 1980, 113, "Drama,War", "nm0002087", "tt0080437")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wages of Fear", 8.1, 49261, 1953, 131, "Adventure,Drama,Thriller", "nm0167241", "tt0046268")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Diabolique", 8.0, 57736, 1955, 117, "Crime,Drama,Horror", "nm0167241", "tt0046911")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Summer with Monika", 7.6, 11161, 1953, 96, "Drama,Romance", "nm0000005", "tt0046345")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Smiles of a Summer Night", 7.8, 11283, 1955, 109, "Comedy,Romance", "nm0000005", "tt0048641")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Seventh Seal", 8.2, 146638, 1957, 96, "Drama,Fantasy", "nm0000005", "tt0050976")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wild Strawberries", 8.2, 86028, 1957, 91, "Drama,Romance", "nm0000005", "tt0050986")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Virgin Spring", 8.1, 24145, 1960, 89, "Drama", "nm0000005", "tt0053976")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Through a Glass Darkly", 8.1, 20369, 1961, 89, "Drama", "nm0000005", "tt0055499")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Winter Light", 8.2, 19174, 1963, 81, "Drama", "nm0000005", "tt0057358")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Silence", 7.9, 16021, 1963, 96, "Drama", "nm0000005", "tt0057611")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Persona", 8.1, 89458, 1966, 85, "Drama,Thriller", "nm0000005", "tt0060827")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shame", 8.1, 10787, 1968, 103, "Drama", "nm0000005", "tt0063611")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hour of the Wolf", 7.7, 16389, 1968, 90, "Drama,Horror", "nm0000005", "tt0063759")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cries & Whispers", 8.1, 26515, 1972, 91, "Drama", "nm0000005", "tt0069467")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scenes from a Marriage", 8.4, 13961, 1973, 283, "Drama", "nm0000005", "tt0070644")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fellini's Satyricon", 6.9, 13721, 1969, 129, "Drama,Fantasy,History", "nm0000019", "tt0064940")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Roma", 7.4, 10573, 1972, 120, "Comedy,Drama", "nm0000019", "tt0069191")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Amarcord", 7.9, 36127, 1973, 123, "Comedy,Drama", "nm0000019", "tt0071129")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The War of the Worlds", 7.1, 30160, 1953, 85, "Action,Sci-Fi,Thriller", "nm0005738", "tt0046534")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("20,000 Leagues Under the Sea", 7.2, 26460, 1954, 127, "Adventure,Drama,Family", "nm0281507", "tt0046672")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Vikings", 7.1, 11613, 1958, 116, "Action,Adventure,History", "nm0281507", "tt0052365")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fantastic Voyage", 6.8, 15984, 1966, 100, "Adventure,Family,Sci-Fi", "nm0281507", "tt0060397")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tora! Tora! Tora!", 7.5, 29683, 1970, 144, "Action,Drama,History", "nm0281507", "tt0066473")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Soylent Green", 7.1, 53255, 1973, 97, "Crime,Mystery,Sci-Fi", "nm0281507", "tt0070723")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Conan the Destroyer", 5.9, 72328, 1984, 103, "Action,Adventure,Fantasy", "nm0281507", "tt0087078")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Red Sonja", 5.1, 36415, 1985, 89, "Action,Adventure,Fantasy", "nm0281507", "tt0089893")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Creature from the Black Lagoon", 7.0, 23458, 1954, 79, "Horror,Sci-Fi", "nm0000791", "tt0046876")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Incredible Shrinking Man", 7.6, 14593, 1957, 81, "Horror,Sci-Fi", "nm0000791", "tt0050539")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gilligan's Island", 7.3, 11511, 1964, 30, "Comedy,Family", "nm0000791", "tt0057751")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Godzilla", 7.6, 26116, 1954, 96, "Drama,Horror,Sci-Fi", "nm0393094", "tt0047034")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Them!", 7.2, 18333, 1954, 94, "Horror,Sci-Fi", "nm0235066", "tt0047573")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wild One", 6.8, 13594, 1953, 79, "Crime,Drama,Romance", "nm0070670", "tt0047677")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alfred Hitchcock Presents", 8.5, 13402, 1955, 25, "Comedy,Crime,Drama", "nm0828720", "tt0047708")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("All That Heaven Allows", 7.6, 12057, 1955, 89, "Drama,Romance", "nm0802862", "tt0047811")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Imitation of Life", 7.9, 13623, 1959, 125, "Drama", "nm0802862", "tt0052918")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Animal Farm", 7.2, 13716, 1954, 72, "Animation,Drama", "nm0354691", "tt0047834")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bad Day at Black Rock", 7.7, 17676, 1955, 81, "Crime,Drama,Mystery", "nm0836328", "tt0047849")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gunfight at the O.K. Corral", 7.2, 12720, 1957, 122, "Biography,Drama,Western", "nm0836328", "tt0050468")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Magnificent Seven", 7.7, 82029, 1960, 128, "Action,Adventure,Western", "nm0836328", "tt0054047")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Great Escape", 8.2, 208169, 1963, 172, "Adventure,Drama,History", "nm0836328", "tt0057115")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Joe Kidd", 6.5, 15421, 1972, 88, "Western", "nm0836328", "tt0068768")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Eagle Has Landed", 6.9, 17500, 1976, 135, "Adventure,Drama,Thriller", "nm0836328", "tt0074452")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Killer's Kiss", 6.7, 19430, 1955, 67, "Crime,Drama,Film-Noir", "nm0000040", "tt0048254")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Killing", 8.0, 74942, 1956, 84, "Crime,Drama,Film-Noir", "nm0000040", "tt0049406")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paths of Glory", 8.4, 160515, 1957, 88, "Drama,War", "nm0000040", "tt0050825")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spartacus", 7.9, 115168, 1960, 197, "Adventure,Biography,Drama", "nm0000040", "tt0054331")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lolita", 7.6, 84502, 1962, 153, "Crime,Drama,Romance", "nm0000040", "tt0056193")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb", 8.4, 421411, 1964, 95, "Comedy", "nm0000040", "tt0057012")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("2001: A Space Odyssey", 8.3, 553751, 1968, 149, "Adventure,Sci-Fi", "nm0000040", "tt0062622")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Clockwork Orange", 8.3, 702479, 1971, 136, "Crime,Drama,Sci-Fi", "nm0000040", "tt0066921")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Barry Lyndon", 8.1, 135243, 1975, 185, "Adventure,Drama,History", "nm0000040", "tt0072684")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Shining", 8.4, 801154, 1980, 146, "Drama,Horror", "nm0000040", "tt0081505")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Full Metal Jacket", 8.3, 622072, 1987, 116, "Drama,War", "nm0000040", "tt0093058")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eyes Wide Shut", 7.4, 277212, 1999, 159, "Drama,Mystery,Thriller", "nm0000040", "tt0120663")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kiss Me Deadly", 7.6, 17040, 1955, 106, "Crime,Film-Noir,Mystery", "nm0000736", "tt0048261")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What Ever Happened to Baby Jane?", 8.1, 46079, 1962, 134, "Drama,Horror,Thriller", "nm0000736", "tt0056687")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hush...Hush, Sweet Charlotte", 7.6, 11692, 1964, 133, "Crime,Drama,Mystery", "nm0000736", "tt0058213")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Flight of the Phoenix", 7.5, 17796, 1965, 142, "Adventure,Drama", "nm0000736", "tt0059183")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Dirty Dozen", 7.8, 62599, 1967, 150, "Action,Adventure,War", "nm0000736", "tt0061578")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Longest Yard", 7.1, 15794, 1974, 121, "Comedy,Crime,Drama", "nm0000736", "tt0071771")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ladykillers", 7.7, 24463, 1955, 91, "Comedy,Crime", "nm0533241", "tt0048281")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sweet Smell of Success", 8.1, 24898, 1957, 96, "Drama,Film-Noir", "nm0533241", "tt0051036")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Marty", 7.7, 19609, 1955, 90, "Drama,Romance", "nm0542720", "tt0048356")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Night of the Hunter", 8.0, 76363, 1955, 92, "Crime,Drama,Film-Noir", "nm0001452", "tt0048424")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Night and Fog", 8.6, 15809, 1956, 32, "Documentary,History,Short", "nm0720297", "tt0048434")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hiroshima Mon Amour", 7.9, 25371, 1959, 90, "Drama,Romance", "nm0720297", "tt0052893")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Last Year at Marienbad", 7.8, 18363, 1961, 94, "Drama,Mystery", "nm0720297", "tt0054632")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pather Panchali", 8.6, 19766, 1955, 125, "Drama", "nm0006249", "tt0048473")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The World of Apu", 8.5, 10125, 1959, 105, "Drama", "nm0006249", "tt0052572")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Around the World in 80 Days", 6.8, 22554, 1956, 175, "Adventure,Comedy,Family", "nm0268513", "tt0048960")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Red Balloon", 8.2, 15244, 1956, 34, "Comedy,Drama,Family", "nm0483738", "tt0048980")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Court Jester", 7.9, 10620, 1955, 101, "Adventure,Comedy,Family", "nm0291035", "tt0049096")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Forbidden Planet", 7.6, 42005, 1956, 98, "Action,Adventure,Sci-Fi", "nm0928208", "tt0049223")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("High Society", 7.0, 12764, 1956, 111, "Comedy,Musical,Romance", "nm0910199", "tt0049314")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Invasion of the Body Snatchers", 7.7, 41534, 1956, 80, "Drama,Horror,Sci-Fi", "nm0796923", "tt0049366")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Coogan's Bluff", 6.5, 14398, 1968, 93, "Action,Comedy,Crime", "nm0796923", "tt0062824")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Two Mules for Sister Sara", 7.0, 21755, 1970, 116, "Adventure,Romance,War", "nm0796923", "tt0065134")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Beguiled", 7.2, 14417, 1971, 105, "Drama,Thriller,War", "nm0796923", "tt0066819")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dirty Harry", 7.7, 133887, 1971, 102, "Action,Crime,Thriller", "nm0796923", "tt0066999")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Shootist", 7.7, 20532, 1976, 100, "Drama,Romance,Western", "nm0796923", "tt0075213")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Escape from Alcatraz", 7.6, 106782, 1979, 112, "Biography,Crime,Drama", "nm0796923", "tt0079116")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The King and I", 7.4, 22449, 1956, 133, "Biography,Drama,Musical", "nm0485943", "tt0049408")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Man Escaped", 8.3, 16401, 1956, 101, "Drama", "nm0000975", "tt0049902")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pickpocket", 7.7, 17437, 1959, 76, "Crime,Drama", "nm0000975", "tt0053168")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Balthazar", 7.9, 15668, 1966, 95, "Drama", "nm0000975", "tt0060138")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("12 Angry Men", 8.9, 611146, 1957, 96, "Drama", "nm0001486", "tt0050083")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fail-Safe", 8.0, 17874, 1964, 112, "Drama,Thriller", "nm0001486", "tt0058083")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hill", 7.9, 11221, 1965, 123, "Drama,War", "nm0001486", "tt0059274")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Serpico", 7.7, 98918, 1973, 130, "Biography,Crime,Drama", "nm0001486", "tt0070666")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Murder on the Orient Express", 7.3, 50626, 1974, 128, "Crime,Drama,Mystery", "nm0001486", "tt0071877")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dog Day Afternoon", 8.0, 221175, 1975, 125, "Biography,Crime,Drama", "nm0001486", "tt0072890")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Network", 8.1, 134030, 1976, 121, "Drama", "nm0001486", "tt0074958")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wiz", 5.4, 12865, 1978, 134, "Adventure,Family,Fantasy", "nm0001486", "tt0078504")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Deathtrap", 7.0, 10934, 1982, 116, "Comedy,Crime,Mystery", "nm0001486", "tt0083806")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Verdict", 7.7, 32907, 1982, 129, "Drama", "nm0001486", "tt0084855")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Running on Empty", 7.7, 12810, 1988, 116, "Crime,Drama,Music", "nm0001486", "tt0096018")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Family Business", 5.7, 11262, 1989, 110, "Crime,Drama", "nm0001486", "tt0097328")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Before the Devil Knows You're Dead", 7.3, 90985, 2007, 117, "Crime,Drama,Thriller", "nm0001486", "tt0292963")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Find Me Guilty", 7.0, 31327, 2006, 125, "Biography,Comedy,Crime", "nm0001486", "tt0419749")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Cranes Are Flying", 8.3, 13204, 1957, 95, "Drama,Romance,War", "nm0435563", "tt0050634")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Old Yeller", 7.3, 10699, 1957, 83, "Adventure,Drama,Family", "nm0829038", "tt0050798")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mary Poppins", 7.8, 146087, 1964, 139, "Comedy,Family,Fantasy", "nm0829038", "tt0058331")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Love Bug", 6.5, 12983, 1968, 108, "Comedy,Family,Sport", "nm0829038", "tt0064603")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bedknobs and Broomsticks", 7.1, 31512, 1971, 117, "Adventure,Animation,Comedy", "nm0829038", "tt0066817")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The 7th Voyage of Sinbad", 7.1, 10731, 1958, 88, "Action,Adventure,Family", "nm0432846", "tt0051337")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Elevator to the Gallows", 8.0, 18699, 1958, 91, "Crime,Drama,Thriller", "nm0001501", "tt0051378")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Atlantic City", 7.3, 13537, 1980, 104, "Crime,Drama,Romance", "nm0001501", "tt0080388")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Dinner with Andre", 7.8, 15869, 1981, 110, "Biography,Comedy,Drama", "nm0001501", "tt0082783")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Au Revoir les Enfants", 8.0, 28591, 1987, 104, "Drama,War", "nm0001501", "tt0092593")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Damage", 6.8, 15099, 1992, 111, "Drama,Romance", "nm0001501", "tt0104237")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Blob", 6.4, 20793, 1958, 86, "Horror,Sci-Fi", "nm0947105", "tt0051418")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shoot the Piano Player", 7.5, 15734, 1960, 81, "Crime,Drama,Thriller", "nm0000076", "tt0054389")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jules and Jim", 7.8, 33985, 1962, 105, "Drama,Romance", "nm0000076", "tt0055032")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fahrenheit 451", 7.2, 38877, 1966, 112, "Drama,Sci-Fi", "nm0000076", "tt0060390")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stolen Kisses", 7.7, 10547, 1968, 90, "Comedy,Drama,Romance", "nm0000076", "tt0062695")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Day for Night", 8.0, 18234, 1973, 116, "Comedy,Drama,Romance", "nm0000076", "tt0070460")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Metro", 7.4, 11305, 1980, 131, "Drama,Romance,War", "nm0000076", "tt0080610")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eyes Without a Face", 7.7, 23450, 1960, 90, "Drama,Horror", "nm0290802", "tt0053459")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Breathless", 7.9, 65918, 1960, 90, "Crime,Drama", "nm0000419", "tt0053472")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Woman Is a Woman", 7.5, 13587, 1961, 85, "Comedy,Drama,Romance", "nm0000419", "tt0055572")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vivre Sa Vie", 8.0, 24049, 1962, 80, "Drama", "nm0000419", "tt0056663")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Contempt", 7.6, 25381, 1963, 103, "Drama,Romance", "nm0000419", "tt0057345")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Band of Outsiders", 7.8, 20472, 1964, 95, "Comedy,Crime,Drama", "nm0000419", "tt0057869")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alphaville", 7.2, 20743, 1965, 99, "Drama,Mystery,Sci-Fi", "nm0000419", "tt0058898")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pierrot le Fou", 7.6, 25723, 1965, 110, "Crime,Drama,Romance", "nm0000419", "tt0059592")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Masculin Féminin", 7.6, 11291, 1966, 110, "Drama,Romance", "nm0000419", "tt0060675")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Weekend", 7.2, 12147, 1967, 105, "Adventure,Comedy,Drama", "nm0000419", "tt0062480")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Andy Griffith Show", 8.3, 10931, 1960, 30, "Comedy,Family", "nm0706347", "tt0053479")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bugs Bunny Show", 8.6, 28996, 1960, 30, "Animation,Comedy", "nm0293989", "tt0053488")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bugs Bunny/Looney Tunes Comedy Hour", 8.4, 15135, 1985, 45, "Animation,Comedy,Family", "nm0293989", "tt0088491")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Flintstones", 7.5, 30238, 1960, 30, "Adventure,Animation,Comedy", "nm0053484", "tt0053502")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scooby Doo, Where Are You!", 7.8, 27180, 1969, 22, "Adventure,Animation,Comedy", "nm0053484", "tt0063950")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Alamo", 6.9, 13382, 1960, 162, "Adventure,Drama,History", "nm0000078", "tt0053580")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("L'Avventura", 7.9, 23453, 1960, 144, "Drama,Mystery", "nm0000774", "tt0053619")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("La Notte", 8.1, 15711, 1961, 122, "Drama", "nm0000774", "tt0054130")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("L'Eclisse", 7.9, 15206, 1962, 126, "Drama,Romance", "nm0000774", "tt0056736")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Red Desert", 7.7, 12279, 1964, 117, "Drama", "nm0000774", "tt0058003")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blow-Up", 7.6, 51630, 1966, 111, "Drama,Mystery,Thriller", "nm0000774", "tt0060176")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zabriskie Point", 7.0, 13556, 1970, 113, "Drama", "nm0000774", "tt0066601")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Passenger", 7.6, 19014, 1975, 126, "Drama,Thriller", "nm0000774", "tt0073580")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("House of Usher", 7.0, 10832, 1960, 79, "Drama,Horror", "nm0000339", "tt0053925")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Little Shop of Horrors", 6.3, 14851, 1960, 72, "Comedy,Horror", "nm0000339", "tt0054033")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pit and the Pendulum", 7.1, 11398, 1961, 80, "Drama,Horror,Mystery", "nm0000339", "tt0055304")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Masque of the Red Death", 7.0, 11098, 1964, 89, "Horror", "nm0000339", "tt0058333")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Sunday", 7.2, 12271, 1960, 87, "Horror", "nm0000878", "tt0054067")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rocco and His Brothers", 8.3, 14731, 1960, 177, "Crime,Drama,Sport", "nm0899581", "tt0054248")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Leopard", 8.0, 20670, 1963, 186, "Drama,History", "nm0899581", "tt0057091")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Death in Venice", 7.4, 16966, 1971, 130, "Drama", "nm0899581", "tt0067445")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Swiss Family Robinson", 7.2, 12475, 1960, 126, "Adventure,Family", "nm0002175", "tt0054357")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Longest Day", 7.8, 49694, 1962, 178, "Action,Drama,History", "nm0002175", "tt0056197")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Battle of the Bulge", 6.8, 13630, 1965, 167, "Drama,History,War", "nm0002175", "tt0058947")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Time Machine", 7.6, 33557, 1960, 103, "Adventure,Romance,Sci-Fi", "nm0657162", "tt0054387")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Le Trou", 8.5, 13164, 1960, 131, "Crime,Drama,Thriller", "nm0065442", "tt0054407")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Village of the Damned", 7.3, 13676, 1960, 77, "Horror,Sci-Fi", "nm0727211", "tt0054443")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Guns of Navarone", 7.5, 42585, 1961, 158, "Action,Adventure,Drama", "nm0496746", "tt0054953")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cape Fear", 7.7, 24246, 1962, 106, "Drama,Thriller", "nm0496746", "tt0055824")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Conquest of the Planet of the Apes", 6.1, 28382, 1972, 88, "Action,Sci-Fi", "nm0496746", "tt0068408")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Battle for the Planet of the Apes", 5.5, 27276, 1973, 93, "Action,Sci-Fi", "nm0496746", "tt0069768")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("King Solomon's Mines", 5.3, 11655, 1985, 100, "Action,Adventure,Comedy", "nm0496746", "tt0089421")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Innocents", 7.8, 24093, 1961, 100, "Horror", "nm0002338", "tt0055018")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Great Gatsby", 6.4, 22270, 1974, 144, "Drama,Romance", "nm0002338", "tt0071577")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Parent Trap", 7.1, 17267, 1961, 129, "Comedy,Family,Romance", "nm0842582", "tt0055277")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Jetsons", 7.0, 16827, 1962, 25, "Animation,Comedy,Family", "nm0204190", "tt0055683")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Carnival of Souls", 7.1, 18268, 1962, 78, "Horror,Mystery", "nm0367547", "tt0055830")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cleo from 5 to 7", 7.9, 13012, 1962, 90, "Comedy,Drama,Music", "nm0889513", "tt0055852")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Divorce Italian Style", 8.1, 10414, 1961, 105, "Comedy,Drama,Romance", "nm0314584", "tt0055913")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dr. No", 7.3, 136298, 1962, 110, "Action,Adventure,Thriller", "nm0950109", "tt0055928")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("From Russia with Love", 7.4, 107763, 1963, 115, "Action,Adventure,Thriller", "nm0950109", "tt0057076")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thunderball", 7.0, 96959, 1965, 130, "Action,Adventure,Thriller", "nm0950109", "tt0059800")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wait Until Dark", 7.8, 25573, 1967, 108, "Horror,Thriller", "nm0950109", "tt0062467")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Harakiri", 8.7, 26487, 1962, 133, "Drama,History", "nm0462030", "tt0056058")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kwaidan", 8.0, 13207, 1964, 183, "Drama,Fantasy,Horror", "nm0462030", "tt0058279")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ivan's Childhood", 8.1, 27088, 1962, 95, "Drama,War", "nm0001789", "tt0056111")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Andrei Rublev", 8.2, 40199, 1966, 205, "Biography,Drama,History", "nm0001789", "tt0060107")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Solaris", 8.1, 71597, 1972, 167, "Drama,Mystery,Sci-Fi", "nm0001789", "tt0069293")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mirror", 8.1, 33635, 1975, 107, "Biography,Drama", "nm0001789", "tt0072443")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stalker", 8.2, 100945, 1979, 162, "Drama,Sci-Fi", "nm0001789", "tt0079944")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nostalgia", 8.1, 19468, 1983, 125, "Drama", "nm0001789", "tt0086022")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sacrifice", 8.1, 20736, 1986, 149, "Drama", "nm0001789", "tt0091670")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("La Jetée", 8.3, 26909, 1962, 28, "Drama,Romance,Sci-Fi", "nm0003408", "tt0056119")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Manchurian Candidate", 7.9, 68180, 1962, 126, "Drama,Thriller", "nm0001239", "tt0056218")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Seven Days in May", 7.9, 11651, 1964, 118, "Drama,Thriller", "nm0001239", "tt0058576")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Train", 7.8, 12864, 1964, 133, "Thriller,War", "nm0001239", "tt0059825")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Seconds", 7.7, 14562, 1966, 106, "Sci-Fi,Thriller", "nm0001239", "tt0060955")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("French Connection II", 6.8, 15455, 1975, 119, "Action,Crime,Drama", "nm0001239", "tt0073018")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Island of Dr. Moreau", 4.5, 29472, 1996, 96, "Horror,Sci-Fi,Thriller", "nm0001239", "tt0116654")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ronin", 7.3, 163197, 1998, 122, "Action,Crime,Thriller", "nm0001239", "tt0122690")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Reindeer Games", 5.8, 35837, 2000, 104, "Action,Adventure,Crime", "nm0001239", "tt0184858")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Miracle Worker", 8.1, 14835, 1962, 106, "Biography,Drama", "nm0671957", "tt0056241")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bonnie and Clyde", 7.8, 95800, 1967, 111, "Action,Biography,Crime", "nm0671957", "tt0061418")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Little Big Man", 7.6, 30960, 1970, 139, "Adventure,Comedy,Drama", "nm0671957", "tt0065988")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Night Moves", 7.1, 10630, 1975, 100, "Crime,Mystery,Thriller", "nm0671957", "tt0073453")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Music Man", 7.7, 15019, 1962, 151, "Comedy,Family,Musical", "nm0196536", "tt0056262")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Knife in the Water", 7.5, 18212, 1962, 94, "Drama,Thriller", "nm0000591", "tt0056291")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Repulsion", 7.7, 44546, 1965, 105, "Drama,Horror,Thriller", "nm0000591", "tt0059646")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cul-de-sac", 7.1, 10617, 1966, 112, "Comedy,Drama,Thriller", "nm0000591", "tt0060268")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fearless Vampire Killers", 7.2, 27447, 1967, 108, "Comedy,Horror", "nm0000591", "tt0061655")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rosemary's Baby", 8.0, 174219, 1968, 137, "Drama,Horror", "nm0000591", "tt0063522")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Macbeth", 7.4, 11703, 1971, 140, "Biography,Drama,History", "nm0000591", "tt0067372")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chinatown", 8.2, 270622, 1974, 130, "Drama,Mystery,Thriller", "nm0000591", "tt0071315")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Tenant", 7.7, 35100, 1976, 126, "Drama,Thriller", "nm0000591", "tt0074811")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tess", 7.3, 13801, 1979, 170, "Drama,Romance", "nm0000591", "tt0080009")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Frantic", 6.9, 45981, 1988, 120, "Crime,Drama,Mystery", "nm0000591", "tt0095174")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bitter Moon", 7.2, 32181, 1992, 139, "Drama,Romance,Thriller", "nm0000591", "tt0104779")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Death and the Maiden", 7.3, 20774, 1994, 103, "Drama,Mystery,Thriller", "nm0000591", "tt0109579")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ninth Gate", 6.7, 155413, 1999, 133, "Mystery,Thriller", "nm0000591", "tt0142688")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Pianist", 8.5, 659043, 2002, 150, "Biography,Drama,Music", "nm0000591", "tt0253474")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Oliver Twist", 6.8, 29447, 2005, 130, "Crime,Drama", "nm0000591", "tt0380599")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lord of the Flies", 6.9, 16225, 1963, 92, "Adventure,Drama,Thriller", "nm0111656", "tt0057261")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("McLintock!", 7.2, 11824, 1963, 127, "Comedy,Romance,Western", "nm0572132", "tt0057298")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wild Geese", 6.8, 10885, 1978, 134, "Action,Adventure,Drama", "nm0572132", "tt0078492")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Nutty Professor", 6.7, 14428, 1963, 107, "Comedy,Romance,Sci-Fi", "nm0001471", "tt0057372")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sword in the Stone", 7.2, 81975, 1963, 79, "Adventure,Animation,Comedy", "nm0718627", "tt0057546")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Jungle Book", 7.6, 153802, 1967, 78, "Adventure,Animation,Family", "nm0718627", "tt0061852")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Aristocats", 7.1, 84794, 1970, 78, "Adventure,Animation,Comedy", "nm0718627", "tt0065421")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Robin Hood", 7.6, 105937, 1973, 83, "Adventure,Animation,Comedy", "nm0718627", "tt0070608")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tom Jones", 6.5, 10630, 1963, 129, "Adventure,Comedy,History", "nm0724798", "tt0057590")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Addams Family", 7.9, 12348, 1964, 30, "Comedy,Family,Horror", "nm0674759", "tt0057729")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Munsters", 7.8, 10922, 1964, 30, "Comedy,Family,Fantasy", "nm0724504", "tt0057773")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zorba the Greek", 7.7, 19035, 1964, 142, "Comedy,Drama", "nm0128050", "tt0057831")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Becket", 7.8, 12823, 1964, 148, "Biography,Drama,History", "nm0322706", "tt0057877")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Troops of St. Tropez", 7.2, 10084, 1964, 90, "Adventure,Comedy,Crime", "nm0320833", "tt0058135")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Goldfinger", 7.7, 160763, 1964, 110, "Action,Adventure,Thriller", "nm0357891", "tt0058150")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Battle of Britain", 7.0, 19376, 1969, 132, "Action,Drama,History", "nm0357891", "tt0064072")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Diamonds Are Forever", 6.6, 88045, 1971, 120, "Action,Adventure,Thriller", "nm0357891", "tt0066995")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Live and Let Die", 6.8, 89146, 1973, 121, "Action,Adventure,Thriller", "nm0357891", "tt0070328")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Man with the Golden Gun", 6.8, 88041, 1974, 125, "Action,Adventure,Thriller", "nm0357891", "tt0071807")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Force 10 from Navarone", 6.4, 15647, 1978, 118, "Action,Drama,War", "nm0357891", "tt0077572")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Evil Under the Sun", 7.1, 12364, 1982, 117, "Drama,Mystery", "nm0357891", "tt0083908")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Remo Williams: The Adventure Begins", 6.5, 10277, 1985, 121, "Action,Adventure,Comedy", "nm0357891", "tt0089901")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Hard Day's Night", 7.6, 37431, 1964, 87, "Comedy,Music,Musical", "nm0504513", "tt0058182")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Help!", 7.2, 16136, 1965, 92, "Adventure,Comedy,Musical", "nm0504513", "tt0059260")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Three Musketeers", 7.2, 14459, 1973, 106, "Action,Adventure", "nm0504513", "tt0072281")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Robin and Marian", 6.5, 10583, 1976, 106, "Adventure,Drama,Romance", "nm0504513", "tt0075147")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Superman II", 6.8, 92192, 1980, 127, "Action,Adventure,Sci-Fi", "nm0504513", "tt0081573")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Superman III", 5.0, 60579, 1983, 125, "Action,Adventure,Comedy", "nm0504513", "tt0086393")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Superman II: The Richard Donner Cut", 7.7, 13094, 2006, 115, "Action,Adventure,Romance", "nm0504513", "tt0839995")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Onibaba", 8.0, 13994, 1964, 103, "Drama,Horror", "nm0793881", "tt0058430")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Umbrellas of Cherbourg", 7.8, 21031, 1964, 91, "Drama,Musical,Romance", "nm0218840", "tt0058450")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Fistful of Dollars", 8.0, 181404, 1964, 99, "Drama,Western", "nm0001466", "tt0058461")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("For a Few Dollars More", 8.3, 211389, 1965, 132, "Western", "nm0001466", "tt0059578")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Good, the Bad and the Ugly", 8.8, 635901, 1966, 161, "Western", "nm0001466", "tt0060196")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Once Upon a Time in the West", 8.5, 277108, 1968, 165, "Western", "nm0001466", "tt0064116")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Duck, You Sucker", 7.7, 27119, 1971, 157, "Drama,War,Western", "nm0001466", "tt0067140")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Once Upon a Time in America", 8.4, 283744, 1984, 229, "Crime,Drama", "nm0001466", "tt0087843")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rudolph the Red-Nosed Reindeer", 8.1, 23327, 1964, 47, "Adventure,Animation,Comedy", "nm0736392", "tt0058536")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Santa Claus Conquers the Martians", 2.6, 10312, 1964, 81, "Adventure,Comedy,Family", "nm0916977", "tt0058548")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Woman in the Dunes", 8.5, 15196, 1964, 123, "Drama,Thriller", "nm0856267", "tt0058625")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Man on Earth", 6.9, 15844, 1964, 86, "Drama,Horror,Sci-Fi", "nm0706575", "tt0058700")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zulu", 7.7, 33684, 1964, 138, "Drama,History,War", "nm0256831", "tt0058777")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Get Smart", 8.2, 10024, 1965, 25, "Action,Adventure,Comedy", "nm0091575", "tt0058805")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("All in the Family", 8.3, 12958, 1971, 30, "Comedy,Drama", "nm0091575", "tt0066626")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Dream of Jeannie", 7.4, 11669, 1965, 30, "Comedy,Family,Fantasy", "nm0030516", "tt0058815")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Battle of Algiers", 8.1, 47898, 1966, 121, "Drama,War", "nm0690597", "tt0058946")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cat Ballou", 6.8, 12427, 1965, 97, "Comedy,Romance,Western", "nm0799033", "tt0059017")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Charlie Brown Christmas", 8.3, 28444, 1965, 25, "Animation,Comedy,Family", "nm0006837", "tt0059026")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("It's the Great Pumpkin, Charlie Brown", 8.2, 14506, 1966, 25, "Animation,Comedy,Family", "nm0006837", "tt0060550")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Cincinnati Kid", 7.3, 13899, 1965, 102, "Drama", "nm0422484", "tt0059037")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In the Heat of the Night", 8.0, 61637, 1967, 110, "Crime,Drama,Mystery", "nm0422484", "tt0061811")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Thomas Crown Affair", 7.0, 20698, 1968, 102, "Crime,Drama,Romance", "nm0422484", "tt0063688")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fiddler on the Roof", 8.0, 35821, 1971, 181, "Drama,Family,Musical", "nm0422484", "tt0067093")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jesus Christ Superstar", 7.4, 23514, 1973, 106, "Drama,History,Musical", "nm0422484", "tt0070239")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rollerball", 6.6, 20781, 1975, 125, "Action,Sci-Fi,Sport", "nm0422484", "tt0073631")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("...and justice for all.", 7.4, 28022, 1979, 119, "Crime,Drama,Thriller", "nm0422484", "tt0078718")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Moonstruck", 7.1, 44736, 1987, 102, "Comedy,Drama,Romance", "nm0422484", "tt0093565")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Only You", 6.5, 18803, 1994, 115, "Comedy,Romance", "nm0422484", "tt0110737")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hurricane", 7.6, 87171, 1999, 146, "Biography,Drama,Sport", "nm0422484", "tt0174856")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Faster, Pussycat! Kill! Kill!", 6.7, 12861, 1965, 83, "Action,Comedy", "nm0000540", "tt0059170")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ipcress File", 7.2, 12703, 1965, 109, "Thriller", "nm0002089", "tt0059319")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Entity", 6.6, 13528, 1982, 125, "Drama,Horror", "nm0002089", "tt0082334")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Iron Eagle", 5.5, 12603, 1986, 117, "Action,Thriller,War", "nm0002089", "tt0091278")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Superman IV: The Quest for Peace", 3.7, 40121, 1987, 90, "Action,Adventure,Family", "nm0002089", "tt0094074")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Operation 'Y' & Other Shurik's Adventures", 8.7, 10702, 1965, 95, "Comedy,Crime,Romance", "nm0301145", "tt0059550")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Diamond Arm", 8.5, 11910, 1969, 100, "Adventure,Comedy,Crime", "nm0301145", "tt0062759")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ivan Vasilievich: Back to the Future", 8.4, 13648, 1973, 93, "Adventure,Comedy,Sci-Fi", "nm0301145", "tt0070233")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Von Ryan's Express", 7.1, 11875, 1965, 117, "Action,Adventure,War", "nm0733476", "tt0059885")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Earthquake", 5.9, 12749, 1974, 122, "Action,Drama,Thriller", "nm0733476", "tt0071455")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman", 7.5, 17138, 1966, 25, "Action,Adventure,Comedy", "nm0624809", "tt0059968")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Trek", 8.3, 67475, 1966, 50, "Action,Adventure,Sci-Fi", "nm0200022", "tt0060028")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alfie", 7.1, 12593, 1966, 114, "Comedy,Drama", "nm0318150", "tt0060086")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("You Only Live Twice", 6.9, 89698, 1967, 117, "Action,Adventure,Thriller", "nm0318150", "tt0062512")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Spy Who Loved Me", 7.1, 90805, 1977, 125, "Action,Adventure,Thriller", "nm0318150", "tt0076752")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Moonraker", 6.3, 83438, 1979, 126, "Action,Adventure,Sci-Fi", "nm0318150", "tt0079574")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Educating Rita", 7.2, 11439, 1983, 110, "Comedy,Drama", "nm0318150", "tt0085478")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman: The Movie", 6.5, 27944, 1966, 105, "Adventure,Comedy,Crime", "nm0554169", "tt0060153")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Django", 7.3, 22653, 1966, 91, "Action,Western", "nm0179281", "tt0060315")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Great Silence", 7.7, 12556, 1968, 105, "Western", "nm0179281", "tt0063032")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("How the Grinch Stole Christmas!", 8.3, 41343, 1966, 26, "Animation,Family,Fantasy", "nm0005062", "tt0060345")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("La Grande Vadrouille", 8.0, 14388, 1966, 132, "Adventure,Comedy,War", "nm0653620", "tt0060474")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mad Adventures of Rabbi Jacob", 7.4, 10992, 1973, 100, "Adventure,Comedy,Crime", "nm0653620", "tt0069747")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Manos: The Hands of Fate", 1.9, 33787, 1966, 70, "Horror", "nm0912849", "tt0060666")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Closely Watched Trains", 7.7, 10266, 1966, 92, "Comedy,Drama,Romance", "nm0579954", "tt0060802")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Who's Afraid of Virginia Woolf?", 8.0, 65140, 1966, 131, "Drama", "nm0001566", "tt0061184")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Graduate", 8.0, 241092, 1967, 106, "Comedy,Drama,Romance", "nm0001566", "tt0061722")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Catch-22", 7.2, 20573, 1970, 122, "Comedy,Drama,War", "nm0001566", "tt0065528")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Carnal Knowledge", 7.0, 10276, 1971, 98, "Drama", "nm0001566", "tt0066892")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Silkwood", 7.2, 16980, 1983, 131, "Biography,Drama,History", "nm0001566", "tt0086312")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Biloxi Blues", 6.6, 13553, 1988, 106, "Comedy,Drama", "nm0001566", "tt0094746")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Working Girl", 6.8, 48459, 1988, 113, "Comedy,Drama,Romance", "nm0001566", "tt0096463")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Postcards from the Edge", 6.7, 14387, 1990, 101, "Comedy,Drama", "nm0001566", "tt0100395")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Regarding Henry", 6.7, 27696, 1991, 108, "Drama,Romance", "nm0001566", "tt0102768")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wolf", 6.2, 49764, 1994, 125, "Drama,Horror,Romance", "nm0001566", "tt0111742")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Birdcage", 7.1, 74282, 1996, 117, "Comedy", "nm0001566", "tt0115685")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Primary Colors", 6.6, 26292, 1998, 143, "Comedy,Drama", "nm0001566", "tt0119942")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Angels in America", 8.2, 24671, 2003, 352, "Drama,Fantasy,Romance", "nm0001566", "tt0318997")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Closer", 7.2, 192582, 2004, 104, "Drama,Romance", "nm0001566", "tt0376541")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Charlie Wilson's War", 7.0, 102007, 2007, 102, "Biography,Comedy,Drama", "nm0001566", "tt0472062")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Prisoner", 8.5, 11578, 1967, 50, "Drama,Mystery,Sci-Fi", "nm0001526", "tt0061287")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Barefoot in the Park", 7.0, 15156, 1967, 106, "Comedy,Romance", "nm0757256", "tt0061385")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Odd Couple", 7.7, 29554, 1968, 105, "Comedy", "nm0757256", "tt0063374")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Casino Royale", 5.2, 25411, 1967, 131, "Comedy", "nm0569825", "tt0061452")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cool Hand Luke", 8.1, 151076, 1967, 127, "Crime,Drama", "nm0742341", "tt0061512")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Amityville Horror", 6.2, 32849, 1979, 117, "Horror", "nm0742341", "tt0078767")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brubaker", 7.2, 14699, 1980, 131, "Crime,Drama", "nm0742341", "tt0080474")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hang 'Em High", 7.0, 32287, 1968, 114, "Drama,Western", "nm0692872", "tt0061747")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beneath the Planet of the Apes", 6.1, 39435, 1970, 95, "Action,Adventure,Sci-Fi", "nm0692872", "tt0065462")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Magnum Force", 7.2, 52070, 1973, 124, "Action,Crime,Mystery", "nm0692872", "tt0070355")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Point Blank", 7.4, 16979, 1967, 92, "Crime,Drama,Thriller", "nm0000958", "tt0062138")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Deliverance", 7.7, 92788, 1972, 109, "Adventure,Drama,Thriller", "nm0000958", "tt0068473")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zardoz", 5.9, 17991, 1974, 105, "Adventure,Fantasy,Sci-Fi", "nm0000958", "tt0070948")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Exorcist II: The Heretic", 3.8, 20099, 1977, 117, "Horror", "nm0000958", "tt0076009")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Excalibur", 7.4, 54239, 1981, 140, "Adventure,Drama,Fantasy", "nm0000958", "tt0082348")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hope and Glory", 7.3, 11672, 1987, 113, "Comedy,Drama,Romance", "nm0000958", "tt0093209")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Tailor of Panama", 6.1, 26605, 2001, 109, "Comedy,Drama,Thriller", "nm0000958", "tt0236784")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Le Samouraï", 8.1, 40273, 1967, 105, "Crime,Drama,Mystery", "nm0578483", "tt0062229")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Army of Shadows", 8.2, 18365, 1969, 145, "Drama,War", "nm0578483", "tt0064040")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Le Cercle Rouge", 8.0, 19574, 1970, 140, "Crime,Drama,Thriller", "nm0578483", "tt0065531")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("To Sir, with Love", 7.7, 14511, 1967, 105, "Drama", "nm0165412", "tt0062376")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Asterix & Cleopatra", 7.2, 10678, 1968, 72, "Adventure,Animation,Comedy", "nm0331453", "tt0062687")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Twelve Tasks of Asterix", 7.7, 13660, 1976, 82, "Adventure,Animation,Comedy", "nm0331453", "tt0072901")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Barbarella", 5.9, 29707, 1968, 98, "Adventure,Comedy,Fantasy", "nm0671862", "tt0062711")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bullitt", 7.4, 56149, 1968, 114, "Action,Crime,Thriller", "nm0946811", "tt0062765")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Deep", 6.2, 10252, 1977, 123, "Adventure,Mystery,Thriller", "nm0946811", "tt0075925")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Breaking Away", 7.7, 20376, 1979, 101, "Comedy,Drama,Romance", "nm0946811", "tt0078902")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Krull", 6.1, 28246, 1983, 116, "Action,Adventure,Sci-Fi", "nm0946811", "tt0085811")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chitty Chitty Bang Bang", 6.9, 38071, 1968, 144, "Adventure,Family,Fantasy", "nm0400731", "tt0062803")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Green Berets", 5.8, 11421, 1968, 142, "Drama,War", "nm0446129", "tt0063035")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lion in Winter", 7.9, 27328, 1968, 134, "Biography,Drama,History", "nm0367431", "tt0063227")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Night of the Living Dead", 7.9, 107036, 1968, 96, "Horror", "nm0001681", "tt0063350")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Crazies", 6.1, 10086, 1973, 103, "Action,Horror,Sci-Fi", "nm0001681", "tt0069895")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dawn of the Dead", 7.9, 104822, 1978, 127, "Horror,Thriller", "nm0001681", "tt0077402")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Creepshow", 6.9, 38543, 1982, 120, "Comedy,Fantasy,Horror", "nm0001681", "tt0083767")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Day of the Dead", 7.1, 58986, 1985, 96, "Horror,Thriller", "nm0001681", "tt0088993")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Dark Half", 6.0, 14710, 1993, 122, "Horror,Mystery,Thriller", "nm0001681", "tt0106664")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Land of the Dead", 6.2, 87948, 2005, 93, "Horror,Sci-Fi,Thriller", "nm0001681", "tt0418819")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Diary of the Dead", 5.6, 44543, 2007, 95, "Fantasy,Horror,Sci-Fi", "nm0001681", "tt0848557")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Survival of the Dead", 4.9, 19531, 2009, 90, "Comedy,Drama,Horror", "nm0001681", "tt1134854")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Planet of the Apes", 8.0, 157587, 1968, 112, "Adventure,Sci-Fi", "nm0769874", "tt0063442")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Patton", 8.0, 89064, 1970, 172, "Biography,Drama,War", "nm0769874", "tt0066206")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Papillon", 8.0, 114511, 1973, 151, "Biography,Crime,Drama", "nm0769874", "tt0070511")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Boys from Brazil", 7.0, 23861, 1978, 125, "Drama,Thriller", "nm0769874", "tt0077269")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Producers", 7.6, 46973, 1967, 88, "Comedy,Music", "nm0000316", "tt0063462")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blazing Saddles", 7.7, 117698, 1974, 93, "Comedy,Western", "nm0000316", "tt0071230")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Young Frankenstein", 8.0, 134916, 1974, 106, "Comedy", "nm0000316", "tt0072431")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Silent Movie", 6.7, 15089, 1976, 87, "Comedy", "nm0000316", "tt0075222")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("High Anxiety", 6.7, 18521, 1977, 94, "Comedy,Mystery,Thriller", "nm0000316", "tt0076141")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("History of the World: Part I", 6.9, 43324, 1981, 92, "Comedy,History", "nm0000316", "tt0082517")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spaceballs", 7.1, 161070, 1987, 96, "Adventure,Comedy,Sci-Fi", "nm0000316", "tt0094012")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Robin Hood: Men in Tights", 6.7, 109020, 1993, 104, "Adventure,Comedy,Musical", "nm0000316", "tt0107977")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dracula: Dead and Loving It", 5.9, 36392, 1995, 88, "Comedy,Fantasy,Horror", "nm0000316", "tt0112896")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Romeo and Juliet", 7.6, 27679, 1968, 138, "Drama,Romance", "nm0001874", "tt0063518")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jesus of Nazareth", 8.5, 18013, 1977, 382, "Biography,Drama,History", "nm0001874", "tt0075520")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hamlet", 6.7, 20312, 1990, 135, "Drama", "nm0001874", "tt0099726")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tea with Mussolini", 6.9, 10468, 1999, 117, "Comedy,Drama,War", "nm0001874", "tt0120857")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Teorema", 7.2, 10674, 1968, 98, "Drama,Mystery", "nm0001596", "tt0063678")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Salò, or the 120 Days of Sodom", 5.9, 49261, 1975, 117, "Drama,Horror,War", "nm0001596", "tt0073650")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Yellow Submarine", 7.4, 23008, 1968, 90, "Adventure,Animation,Comedy", "nm0242945", "tt0063823")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("If....", 7.6, 20485, 1968, 111, "Crime,Drama", "nm0000755", "tt0063850")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Brady Bunch", 6.6, 11360, 1969, 30, "Comedy,Family", "nm0927612", "tt0063878")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monty Python's Flying Circus", 8.8, 61518, 1969, 30, "Comedy", "nm0203791", "tt0063929")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Pink Panther Show", 7.6, 14168, 1969, 90, "Animation,Comedy,Family", "nm0157908", "tt0063939")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sesame Street", 8.1, 10976, 1969, 55, "Adventure,Animation,Comedy", "nm0225924", "tt0063951")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Butch Cassidy and the Sundance Kid", 8.0, 190243, 1969, 110, "Biography,Crime,Drama", "nm0001351", "tt0064115")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Slaughterhouse-Five", 6.9, 11426, 1972, 104, "Comedy,Drama,Sci-Fi", "nm0001351", "tt0069280")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sting", 8.3, 224236, 1973, 129, "Comedy,Crime,Drama", "nm0001351", "tt0070735")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Slap Shot", 7.3, 32399, 1977, 123, "Comedy,Drama,Sport", "nm0001351", "tt0076723")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The World According to Garp", 7.2, 23742, 1982, 136, "Comedy,Drama", "nm0001351", "tt0084917")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Funny Farm", 6.2, 18198, 1988, 101, "Comedy,Drama", "nm0001351", "tt0095188")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Easy Rider", 7.3, 91970, 1969, 95, "Adventure,Drama", "nm0000454", "tt0064276")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Colors", 6.7, 22692, 1988, 120, "Action,Crime,Drama", "nm0000454", "tt0094894")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Frosty the Snowman", 7.3, 13611, 1969, 25, "Animation,Family,Fantasy", "nm0060072", "tt0064349")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hobbit", 6.8, 11715, 1977, 77, "Adventure,Animation,Family", "nm0060072", "tt0077687")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Unicorn", 7.5, 22776, 1982, 92, "Adventure,Animation,Drama", "nm0060072", "tt0084237")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hello, Dolly!", 7.1, 12388, 1969, 146, "Adventure,Comedy,Musical", "nm0000037", "tt0064418")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Italian Job", 7.3, 38044, 1969, 99, "Action,Comedy,Crime", "nm0172772", "tt0064505")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kes", 7.9, 16836, 1969, 111, "Drama,Family", "nm0516360", "tt0064541")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sweet Sixteen", 7.4, 12214, 2002, 106, "Crime,Drama", "nm0516360", "tt0313670")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wind that Shakes the Barley", 7.5, 42959, 2006, 127, "Drama,War", "nm0516360", "tt0460989")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Looking for Eric", 7.2, 15024, 2009, 116, "Comedy,Drama,Fantasy", "nm0516360", "tt1242545")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Angels' Share", 7.0, 21995, 2012, 101, "Comedy,Crime,Drama", "nm0516360", "tt1924394")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I, Daniel Blake", 7.9, 45514, 2016, 100, "Drama", "nm0516360", "tt5168192")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Midnight Cowboy", 7.8, 92511, 1969, 113, "Drama,Western", "nm0772259", "tt0064665")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Marathon Man", 7.5, 53677, 1976, 125, "Crime,Thriller", "nm0772259", "tt0074860")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hannah and Her Sisters", 7.9, 62633, 1986, 107, "Comedy,Drama", "nm0000095", "tt0091167")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Radio Days", 7.5, 29255, 1987, 88, "Comedy", "nm0000095", "tt0093818")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Another Woman", 7.3, 12007, 1988, 81, "Drama", "nm0000095", "tt0094663")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crimes and Misdemeanors", 7.9, 51126, 1989, 104, "Comedy,Drama", "nm0000095", "tt0097123")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alice", 6.6, 12524, 1990, 106, "Comedy,Romance", "nm0000095", "tt0099012")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Husbands and Wives", 7.5, 25460, 1992, 108, "Comedy,Drama,Romance", "nm0000095", "tt0104466")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shadows and Fog", 6.7, 15214, 1991, 85, "Comedy", "nm0000095", "tt0105378")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Manhattan Murder Mystery", 7.4, 35027, 1993, 104, "Comedy,Mystery", "nm0000095", "tt0107507")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bullets Over Broadway", 7.4, 33508, 1994, 98, "Comedy,Crime", "nm0000095", "tt0109348")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mighty Aphrodite", 7.0, 36145, 1995, 95, "Comedy,Fantasy,Romance", "nm0000095", "tt0113819")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Everyone Says I Love You", 6.7, 33837, 1996, 101, "Comedy,Musical,Romance", "nm0000095", "tt0116242")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Deconstructing Harry", 7.4, 40226, 1997, 96, "Comedy", "nm0000095", "tt0118954")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Celebrity", 6.3, 23025, 1998, 113, "Comedy,Drama", "nm0000095", "tt0120533")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sweet and Lowdown", 7.2, 30778, 1999, 95, "Comedy,Drama,Music", "nm0000095", "tt0158371")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Small Time Crooks", 6.7, 35056, 2000, 94, "Comedy,Crime", "nm0000095", "tt0196216")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Curse of the Jade Scorpion", 6.7, 36086, 2001, 103, "Comedy,Crime,Mystery", "nm0000095", "tt0256524")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hollywood Ending", 6.6, 24614, 2002, 112, "Comedy,Romance", "nm0000095", "tt0278823")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Anything Else", 6.4, 28469, 2003, 108, "Comedy,Romance", "nm0000095", "tt0313792")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Melinda and Melinda", 6.4, 29965, 2004, 99, "Comedy,Drama,Romance", "nm0000095", "tt0378947")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Match Point", 7.6, 193844, 2005, 124, "Drama,Romance,Thriller", "nm0000095", "tt0416320")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scoop", 6.7, 76870, 2006, 96, "Comedy,Crime,Mystery", "nm0000095", "tt0457513")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vicky Cristina Barcelona", 7.1, 230144, 2008, 96, "Comedy,Drama,Romance", "nm0000095", "tt0497465")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cassandra's Dream", 6.7, 48363, 2007, 108, "Crime,Drama,Romance", "nm0000095", "tt0795493")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Whatever Works", 7.1, 67651, 2009, 93, "Comedy,Romance", "nm0000095", "tt1178663")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("You Will Meet a Tall Dark Stranger", 6.3, 41942, 2010, 98, "Comedy,Drama,Romance", "nm0000095", "tt1182350")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Midnight in Paris", 7.7, 361767, 2011, 94, "Comedy,Fantasy,Romance", "nm0000095", "tt1605783")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("To Rome with Love", 6.3, 80210, 2012, 112, "Comedy,Music,Romance", "nm0000095", "tt1859650")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blue Jasmine", 7.3, 181756, 2013, 98, "Drama", "nm0000095", "tt2334873")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Magic in the Moonlight", 6.6, 59909, 2014, 97, "Comedy,Romance", "nm0000095", "tt2870756")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Irrational Man", 6.6, 51649, 2015, 95, "Comedy,Drama", "nm0000095", "tt3715320")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Café Society", 6.6, 64106, 2016, 96, "Comedy,Drama,Romance", "nm0000095", "tt4513674")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wonder Wheel", 6.2, 20880, 2017, 101, "Drama", "nm0000095", "tt5825380")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("They Shoot Horses, Don't They?", 7.9, 14983, 1969, 129, "Drama", "nm0001628", "tt0065088")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jeremiah Johnson", 7.6, 26447, 1972, 108, "Adventure,Drama,Western", "nm0001628", "tt0068762")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Way We Were", 7.1, 20584, 1973, 118, "Drama,Romance", "nm0001628", "tt0070903")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Three Days of the Condor", 7.5, 43548, 1975, 117, "Mystery,Thriller", "nm0001628", "tt0073802")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Absence of Malice", 6.9, 11117, 1981, 116, "Drama,Romance,Thriller", "nm0001628", "tt0081974")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tootsie", 7.4, 90788, 1982, 116, "Comedy,Drama,Romance", "nm0001628", "tt0084805")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Out of Africa", 7.2, 65883, 1985, 161, "Biography,Drama,Romance", "nm0001628", "tt0089755")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Firm", 6.8, 108244, 1993, 154, "Drama,Mystery,Thriller", "nm0001628", "tt0106918")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sabrina", 6.3, 34418, 1995, 127, "Comedy,Drama,Romance", "nm0001628", "tt0114319")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Random Hearts", 5.2, 18975, 1999, 133, "Drama,Mystery,Romance", "nm0001628", "tt0156934")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Interpreter", 6.4, 93824, 2005, 128, "Crime,Mystery,Thriller", "nm0001628", "tt0373926")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bird with the Crystal Plumage", 7.2, 16000, 1970, 96, "Horror,Mystery,Thriller", "nm0000783", "tt0065143")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Deep Red", 7.6, 28268, 1975, 127, "Horror,Mystery,Thriller", "nm0000783", "tt0073582")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Suspiria", 7.4, 70369, 1977, 99, "Horror", "nm0000783", "tt0076786")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Inferno", 6.6, 16639, 1980, 106, "Horror", "nm0000783", "tt0080923")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tenebrae", 7.1, 18460, 1982, 101, "Horror,Mystery,Thriller", "nm0000783", "tt0084777")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Phenomena", 6.8, 21087, 1985, 116, "Horror,Mystery", "nm0000783", "tt0087909")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Opera", 7.0, 13096, 1987, 107, "Horror,Mystery,Thriller", "nm0000783", "tt0093677")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Where Eagles Dare", 7.7, 48137, 1968, 158, "Action,Adventure,War", "nm0404606", "tt0065207")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kelly's Heroes", 7.6, 42088, 1970, 144, "Adventure,Comedy,War", "nm0404606", "tt0065938")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Z", 8.3, 21727, 1969, 127, "Crime,Drama,History", "nm0002020", "tt0065234")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Missing", 7.7, 16897, 1982, 122, "Biography,Drama,History", "nm0002020", "tt0084335")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mad City", 6.3, 18381, 1997, 115, "Crime,Drama,Thriller", "nm0002020", "tt0119592")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Amen.", 7.2, 12775, 2002, 132, "Biography,Crime,Drama", "nm0002020", "tt0280653")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Conformist", 8.0, 23916, 1970, 113, "Drama", "nm0000934", "tt0065571")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Last Tango in Paris", 7.0, 45881, 1972, 129, "Drama,Romance", "nm0000934", "tt0070849")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("1900", 7.7, 20699, 1976, 317, "Drama,History", "nm0000934", "tt0074084")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Emperor", 7.7, 86341, 1987, 163, "Biography,Drama,History", "nm0000934", "tt0093389")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sheltering Sky", 6.8, 10588, 1990, 138, "Adventure,Drama", "nm0000934", "tt0100594")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Little Buddha", 6.1, 14657, 1993, 123, "Drama", "nm0000934", "tt0107426")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stealing Beauty", 6.6, 24204, 1996, 118, "Drama,Mystery,Romance", "nm0000934", "tt0117737")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Dreamers", 7.2, 102540, 2003, 115, "Drama,Romance", "nm0000934", "tt0309987")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Five Easy Pieces", 7.5, 30632, 1970, 98, "Drama", "nm0706182", "tt0065724")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Postman Always Rings Twice", 6.6, 20137, 1981, 122, "Crime,Drama,Romance", "nm0706182", "tt0082934")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hercules in New York", 3.3, 16122, 1970, 91, "Adventure,Family,Fantasy", "nm0782381", "tt0065832")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Love Story", 6.9, 27621, 1970, 100, "Drama,Romance", "nm0002137", "tt0066011")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Silver Streak", 6.9, 16644, 1976, 114, "Action,Comedy,Crime", "nm0002137", "tt0075223")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("See No Evil, Hear No Evil", 6.9, 44653, 1989, 103, "Comedy,Crime", "nm0002137", "tt0098282")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("MASH", 7.5, 64063, 1970, 116, "Comedy,Drama,War", "nm0000265", "tt0066026")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("McCabe & Mrs. Miller", 7.7, 20129, 1971, 120, "Drama,Western", "nm0000265", "tt0067411")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Long Goodbye", 7.6, 23063, 1973, 112, "Comedy,Crime,Drama", "nm0000265", "tt0070334")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nashville", 7.7, 21547, 1975, 160, "Comedy,Drama,Music", "nm0000265", "tt0073440")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("3 Women", 7.8, 12429, 1977, 124, "Drama,Mystery,Thriller", "nm0000265", "tt0075612")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Popeye", 5.2, 27369, 1980, 114, "Adventure,Comedy,Family", "nm0000265", "tt0081353")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Player", 7.5, 50289, 1992, 124, "Comedy,Crime,Drama", "nm0000265", "tt0105151")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Short Cuts", 7.7, 40045, 1993, 188, "Comedy,Drama", "nm0000265", "tt0108122")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ready to Wear", 5.1, 13815, 1994, 133, "Comedy,Drama", "nm0000265", "tt0110907")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Gingerbread Man", 5.7, 10120, 1998, 114, "Crime,Mystery,Thriller", "nm0000265", "tt0119196")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cookie's Fortune", 6.8, 12074, 1999, 118, "Comedy,Drama", "nm0000265", "tt0126250")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dr. T & the Women", 4.6, 17033, 2000, 122, "Comedy,Drama,Romance", "nm0000265", "tt0205271")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gosford Park", 7.2, 74759, 2001, 131, "Comedy,Drama,Mystery", "nm0000265", "tt0280707")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Prairie Home Companion", 6.7, 21163, 2006, 105, "Comedy,Drama,Music", "nm0000265", "tt0420087")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Santa Claus Is Comin' to Town", 7.7, 10674, 1970, 48, "Adventure,Animation,Comedy", "nm0710230", "tt0066327")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("THX 1138", 6.7, 45183, 1971, 86, "Drama,Sci-Fi,Thriller", "nm0000184", "tt0066434")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Graffiti", 7.4, 76016, 1973, 110, "Comedy,Drama", "nm0000184", "tt0069704")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Wars: Episode IV - A New Hope", 8.6, 1139909, 1977, 121, "Action,Adventure,Fantasy", "nm0000184", "tt0076759")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Wars: Episode I - The Phantom Menace", 6.5, 664737, 1999, 136, "Action,Adventure,Fantasy", "nm0000184", "tt0120915")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Wars: Episode II - Attack of the Clones", 6.6, 584825, 2002, 142, "Action,Adventure,Fantasy", "nm0000184", "tt0121765")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Wars: Episode III - Revenge of the Sith", 7.5, 651056, 2005, 140, "Action,Adventure,Fantasy", "nm0000184", "tt0121766")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Woodstock", 8.2, 15089, 1970, 184, "Documentary,History,Music", "nm0905579", "tt0066580")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Abominable Dr. Phibes", 7.1, 12429, 1971, 94, "Comedy,Horror", "nm0297523", "tt0066740")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Anand", 8.8, 23740, 1971, 122, "Drama,Musical", "nm0611531", "tt0066763")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chupke Chupke", 8.4, 10322, 1975, 146, "Comedy,Drama,Romance", "nm0611531", "tt0072783")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gol Maal", 8.6, 15957, 1979, 120, "Comedy,Romance", "nm0611531", "tt0079221")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Minority Report", 7.6, 476374, 2002, 145, "Action,Crime,Mystery", "nm0000229", "tt0181689")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A.I. Artificial Intelligence", 7.2, 277513, 2001, 146, "Drama,Sci-Fi", "nm0000229", "tt0212720")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Catch Me If You Can", 8.1, 738099, 2002, 141, "Biography,Crime,Drama", "nm0000229", "tt0264464")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Terminal", 7.3, 372264, 2004, 128, "Comedy,Drama,Romance", "nm0000229", "tt0362227")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Indiana Jones and the Kingdom of the Crystal Skull", 6.1, 398950, 2008, 122, "Action,Adventure", "nm0000229", "tt0367882")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("War of the Worlds", 6.5, 392780, 2005, 116, "Adventure,Sci-Fi", "nm0000229", "tt0407304")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Munich", 7.5, 200699, 2005, 164, "Biography,Crime,Drama", "nm0000229", "tt0408306")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lincoln", 7.3, 231547, 2012, 150, "Biography,Drama,History", "nm0000229", "tt0443272")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Adventures of Tintin", 7.3, 204829, 2011, 107, "Action,Adventure,Animation", "nm0000229", "tt0983193")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("War Horse", 7.2, 138225, 2011, 146, "Action,Adventure,Drama", "nm0000229", "tt1568911")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ready Player One", 7.5, 316545, 2018, 140, "Action,Adventure,Sci-Fi", "nm0000229", "tt1677720")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bridge of Spies", 7.6, 267340, 2015, 142, "Drama,History,Thriller", "nm0000229", "tt3682448")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The BFG", 6.4, 70713, 2016, 117, "Adventure,Family,Fantasy", "nm0000229", "tt3691740")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Post", 7.2, 112320, 2017, 116, "Biography,Drama,History", "nm0000229", "tt6294822")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Escape from the Planet of the Apes", 6.3, 29877, 1971, 98, "Action,Sci-Fi", "nm0852279", "tt0067065")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Final Countdown", 6.7, 19556, 1980, 103, "Action,Sci-Fi", "nm0852279", "tt0080736")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The French Connection", 7.7, 101127, 1971, 104, "Action,Crime,Drama", "nm0001243", "tt0067116")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Exorcist", 8.0, 339568, 1973, 122, "Horror", "nm0001243", "tt0070047")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sorcerer", 7.7, 15388, 1977, 121, "Adventure,Drama,Thriller", "nm0001243", "tt0076740")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cruising", 6.4, 16980, 1980, 102, "Crime,Drama,Mystery", "nm0001243", "tt0080569")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("To Live and Die in L.A.", 7.3, 26604, 1985, 116, "Action,Crime,Drama", "nm0001243", "tt0090180")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blue Chips", 6.2, 11261, 1994, 108, "Drama,Sport", "nm0001243", "tt0109305")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jade", 5.3, 10749, 1995, 95, "Crime,Drama,Thriller", "nm0001243", "tt0113451")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("12 Angry Men", 7.9, 12363, 1997, 117, "Crime,Drama", "nm0001243", "tt0118528")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rules of Engagement", 6.4, 42308, 2000, 128, "Drama,Thriller,War", "nm0001243", "tt0160797")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hunted", 6.1, 41238, 2003, 94, "Action,Crime,Drama", "nm0001243", "tt0269347")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bug", 6.1, 31581, 2006, 102, "Drama,Thriller", "nm0001243", "tt0470705")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Killer Joe", 6.7, 68607, 2011, 102, "Crime,Drama,Thriller", "nm0001243", "tt1726669")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Get Carter", 7.4, 26750, 1971, 112, "Crime,Thriller", "nm0388198", "tt0067128")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Damien: Omen II", 6.3, 27135, 1978, 107, "Horror", "nm0388198", "tt0077394")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flash Gordon", 6.5, 46636, 1980, 111, "Action,Adventure,Sci-Fi", "nm0388198", "tt0080745")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Croupier", 7.1, 17485, 1998, 94, "Crime,Drama", "nm0388198", "tt0159382")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Harold and Maude", 7.9, 66394, 1971, 91, "Comedy,Drama,Romance", "nm0000797", "tt0067185")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Detail", 7.5, 20266, 1973, 104, "Comedy,Drama", "nm0000797", "tt0070290")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Coming Home", 7.3, 11446, 1978, 127, "Drama,Romance,War", "nm0000797", "tt0077362")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Being There", 8.0, 61253, 1979, 130, "Comedy,Drama", "nm0000797", "tt0078841")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Johnny Got His Gun", 7.9, 14417, 1971, 111, "Drama,War", "nm0874308", "tt0067277")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Klute", 7.1, 19700, 1971, 114, "Crime,Mystery,Thriller", "nm0001587", "tt0067309")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Parallax View", 7.1, 13526, 1974, 102, "Drama,Thriller", "nm0001587", "tt0071970")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("All the President's Men", 8.0, 94269, 1976, 138, "Biography,Drama,History", "nm0001587", "tt0074119")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sophie's Choice", 7.6, 37828, 1982, 150, "Drama,Romance", "nm0001587", "tt0084707")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Presumed Innocent", 6.9, 35008, 1990, 127, "Mystery,Thriller", "nm0001587", "tt0100404")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Pelican Brief", 6.6, 71044, 1993, 141, "Crime,Drama,Mystery", "nm0001587", "tt0107798")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Devil's Own", 6.2, 54580, 1997, 111, "Action,Crime,Drama", "nm0001587", "tt0118972")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Picture Show", 8.0, 38515, 1971, 118, "Drama", "nm0000953", "tt0067328")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What's Up, Doc?", 7.7, 17808, 1972, 94, "Comedy", "nm0000953", "tt0069495")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paper Moon", 8.1, 38673, 1973, 102, "Comedy,Drama", "nm0000953", "tt0070510")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mask", 7.2, 24322, 1985, 120, "Biography,Drama", "nm0000953", "tt0089560")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("She's Funny That Way", 6.1, 22612, 2014, 93, "Comedy,Drama", "nm0000953", "tt1767372")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("They Call Me Trinity", 7.5, 17661, 1970, 113, "Comedy,Western", "nm0005645", "tt0067355")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Trinity Is Still My Name", 7.3, 12968, 1971, 117, "Comedy,Western", "nm0005645", "tt0068154")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Omega Man", 6.5, 27011, 1971, 98, "Action,Drama,Sci-Fi", "nm0755963", "tt0067525")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Panic in Needle Park", 7.1, 14603, 1971, 110, "Drama", "nm0770234", "tt0067549")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scarecrow", 7.3, 14158, 1973, 112, "Drama", "nm0770234", "tt0070643")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Play Misty for Me", 7.0, 23588, 1971, 102, "Drama,Thriller", "nm0000142", "tt0067588")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("High Plains Drifter", 7.5, 46113, 1973, 105, "Drama,Mystery,Western", "nm0000142", "tt0068699")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Eiger Sanction", 6.4, 16224, 1975, 129, "Action,Crime,Thriller", "nm0000142", "tt0072926")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Outlaw Josey Wales", 7.9, 61047, 1976, 135, "Western", "nm0000142", "tt0075029")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Gauntlet", 6.4, 19511, 1977, 109, "Action,Crime,Thriller", "nm0000142", "tt0076070")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bronco Billy", 6.1, 10034, 1980, 116, "Action,Adventure,Comedy", "nm0000142", "tt0080472")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Firefox", 5.9, 23661, 1982, 136, "Action,Adventure,Thriller", "nm0000142", "tt0083943")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sudden Impact", 6.6, 37772, 1983, 117, "Action,Crime,Thriller", "nm0000142", "tt0086383")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pale Rider", 7.3, 48616, 1985, 115, "Drama,Western", "nm0000142", "tt0089767")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Heartbreak Ridge", 6.9, 36813, 1986, 130, "Drama,War", "nm0000142", "tt0091187")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bird", 7.2, 10627, 1988, 161, "Biography,Drama,Music", "nm0000142", "tt0094747")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Rookie", 5.9, 23854, 1990, 120, "Action,Crime,Drama", "nm0000142", "tt0100514")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("White Hunter Black Heart", 6.6, 10325, 1990, 112, "Adventure,Drama", "nm0000142", "tt0100928")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Unforgiven", 8.2, 347434, 1992, 130, "Drama,Western", "nm0000142", "tt0105695")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Perfect World", 7.6, 68845, 1993, 138, "Crime,Drama,Thriller", "nm0000142", "tt0107808")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bridges of Madison County", 7.6, 66786, 1995, 135, "Drama,Romance", "nm0000142", "tt0112579")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Absolute Power", 6.7, 47028, 1997, 121, "Action,Crime,Drama", "nm0000142", "tt0118548")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Midnight in the Garden of Good and Evil", 6.6, 35285, 1997, 155, "Crime,Drama,Mystery", "nm0000142", "tt0119668")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("True Crime", 6.6, 29945, 1999, 127, "Crime,Drama,Mystery", "nm0000142", "tt0139668")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Space Cowboys", 6.4, 69666, 2000, 130, "Action,Adventure,Thriller", "nm0000142", "tt0186566")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blood Work", 6.4, 39873, 2002, 110, "Action,Crime,Drama", "nm0000142", "tt0309377")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mystic River", 7.9, 393766, 2003, 138, "Crime,Drama,Mystery", "nm0000142", "tt0327056")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Million Dollar Baby", 8.1, 594568, 2004, 132, "Drama,Sport", "nm0000142", "tt0405159")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flags of our Fathers", 7.1, 112415, 2006, 135, "Action,Adventure,Drama", "nm0000142", "tt0418689")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Letters from Iwo Jima", 7.9, 147557, 2006, 141, "Action,Adventure,Drama", "nm0000142", "tt0498380")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Changeling", 7.7, 225258, 2008, 141, "Biography,Crime,Drama", "nm0000142", "tt0824747")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Invictus", 7.3, 142278, 2009, 134, "Biography,Drama,History", "nm0000142", "tt1057500")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gran Torino", 8.1, 678899, 2008, 116, "Drama", "nm0000142", "tt1205489")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hereafter", 6.4, 87858, 2010, 129, "Drama,Fantasy,Romance", "nm0000142", "tt1212419")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("J. Edgar", 6.5, 117093, 2011, 137, "Biography,Crime,Drama", "nm0000142", "tt1616195")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jersey Boys", 6.8, 30842, 2014, 134, "Biography,Drama,Music", "nm0000142", "tt1742044")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Sniper", 7.3, 408202, 2014, 133, "Action,Biography,Drama", "nm0000142", "tt2179136")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sully", 7.4, 209551, 2016, 96, "Biography,Drama", "nm0000142", "tt3263904")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The 15:17 to Paris", 5.2, 23404, 2018, 94, "Biography,Drama,Thriller", "nm0000142", "tt6802308")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mule", 7.0, 75098, 2018, 116, "Crime,Drama,Thriller", "nm0000142", "tt7959026")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shaft", 6.6, 15233, 1971, 100, "Action,Crime,Thriller", "nm0662953", "tt0067741")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Silent Running", 6.7, 24963, 1972, 89, "Drama,Sci-Fi", "nm0874320", "tt0067756")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brainstorm", 6.5, 10246, 1983, 106, "Sci-Fi,Thriller", "nm0874320", "tt0085271")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Big Boss", 7.1, 22451, 1971, 100, "Action,Crime,Drama", "nm0156927", "tt0067824")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("El Topo", 7.5, 23286, 1970, 125, "Drama,Western", "nm0423524", "tt0067866")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Holy Mountain", 7.9, 32401, 1973, 114, "Adventure,Drama,Fantasy", "nm0423524", "tt0071615")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Santa Sangre", 7.6, 17310, 1989, 123, "Drama,Fantasy,Horror", "nm0423524", "tt0098253")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Two-Lane Blacktop", 7.2, 10319, 1971, 102, "Drama", "nm0375494", "tt0067893")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("On Golden Pond", 7.6, 25775, 1981, 109, "Drama", "nm0753073", "tt0082846")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fritz the Cat", 6.3, 10284, 1972, 78, "Animation,Comedy,Drama", "nm0000835", "tt0068612")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lord of the Rings", 6.2, 27903, 1978, 132, "Adventure,Animation,Fantasy", "nm0000835", "tt0077869")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cool World", 4.9, 19455, 1992, 102, "Animation,Comedy,Fantasy", "nm0000835", "tt0104009")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Godfather", 9.2, 1470037, 1972, 175, "Crime,Drama", "nm0000338", "tt0068646")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Conversation", 7.8, 88944, 1974, 113, "Drama,Mystery,Thriller", "nm0000338", "tt0071360")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Godfather: Part II", 9.0, 1022904, 1974, 202, "Crime,Drama", "nm0000338", "tt0071562")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Apocalypse Now", 8.4, 559432, 1979, 147, "Drama,Mystery,War", "nm0000338", "tt0078788")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Outsiders", 7.1, 69224, 1983, 91, "Crime,Drama", "nm0000338", "tt0086066")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rumble Fish", 7.2, 29467, 1983, 94, "Crime,Drama,Romance", "nm0000338", "tt0086216")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Cotton Club", 6.5, 15117, 1984, 127, "Crime,Drama,Music", "nm0000338", "tt0087089")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Peggy Sue Got Married", 6.3, 30723, 1986, 103, "Comedy,Drama,Fantasy", "nm0000338", "tt0091738")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tucker: The Man and His Dream", 6.9, 13793, 1988, 110, "Biography,Drama", "nm0000338", "tt0096316")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Godfather: Part III", 7.6, 331278, 1990, 162, "Crime,Drama", "nm0000338", "tt0099674")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bram Stoker's Dracula", 7.4, 176549, 1992, 128, "Horror", "nm0000338", "tt0103874")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jack", 5.8, 53269, 1996, 113, "Comedy,Drama,Fantasy", "nm0000338", "tt0116669")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Rainmaker", 7.2, 56894, 1997, 135, "Crime,Drama,Thriller", "nm0000338", "tt0119978")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Godfather Trilogy: 1901-1980", 9.3, 14172, 1992, 583, "Crime,Drama,Thriller", "nm0000338", "tt0150742")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Youth Without Youth", 6.3, 12487, 2007, 124, "Drama,Fantasy,Mystery", "nm0000338", "tt0481797")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tetro", 6.9, 11971, 2009, 127, "Drama", "nm0000338", "tt0964185")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fist of Fury", 7.4, 23438, 1972, 106, "Action,Drama,Romance", "nm0516344", "tt0068767")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last House on the Left", 6.0, 30187, 1972, 84, "Horror,Thriller", "nm0000127", "tt0068833")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hills Have Eyes", 6.3, 27360, 1977, 90, "Horror,Thriller", "nm0000127", "tt0077681")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Swamp Thing", 5.4, 12050, 1982, 91, "Horror,Sci-Fi", "nm0000127", "tt0084745")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Nightmare on Elm Street", 7.5, 188999, 1984, 91, "Horror", "nm0000127", "tt0087800")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Serpent and the Rainbow", 6.5, 20611, 1988, 98, "Fantasy,Horror", "nm0000127", "tt0096071")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shocker", 5.5, 13790, 1989, 109, "Comedy,Horror,Thriller", "nm0000127", "tt0098320")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The People Under the Stairs", 6.4, 28899, 1991, 102, "Comedy,Horror,Mystery", "nm0000127", "tt0105121")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wes Craven's New Nightmare", 6.4, 47276, 1994, 112, "Fantasy,Horror,Mystery", "nm0000127", "tt0111686")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vampire in Brooklyn", 4.5, 20178, 1995, 100, "Comedy,Fantasy,Horror", "nm0000127", "tt0114825")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scream", 7.2, 265074, 1996, 111, "Horror,Mystery", "nm0000127", "tt0117571")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scream 2", 6.2, 146512, 1997, 120, "Horror,Mystery", "nm0000127", "tt0120082")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scream 3", 5.5, 116007, 2000, 116, "Horror,Mystery", "nm0000127", "tt0134084")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Music of the Heart", 6.8, 11425, 1999, 124, "Drama,Music", "nm0000127", "tt0166943")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cursed", 5.0, 29190, 2005, 97, "Comedy,Horror", "nm0000127", "tt0257516")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Red Eye", 6.4, 106598, 2005, 85, "Action,Mystery,Thriller", "nm0000127", "tt0421239")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Soul to Take", 4.8, 18717, 2010, 107, "Horror,Mystery,Thriller", "nm0000127", "tt0872230")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scream 4", 6.1, 120290, 2011, 111, "Horror,Mystery", "nm0000127", "tt1262416")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mechanic", 6.9, 11470, 1972, 100, "Action,Crime,Thriller", "nm0935382", "tt0068931")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Death Wish", 7.0, 32757, 1974, 93, "Action,Crime,Drama", "nm0935382", "tt0071402")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Death Wish II", 6.1, 13326, 1982, 89, "Action,Crime,Drama", "nm0935382", "tt0082250")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Death Wish 3", 5.9, 12949, 1985, 92, "Action,Crime,Drama", "nm0935382", "tt0089003")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Way of the Dragon", 7.3, 29181, 1972, 99, "Action,Adventure,Crime", "nm0000045", "tt0068935")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Game of Death", 6.1, 15505, 1978, 100, "Action,Crime,Drama", "nm0000045", "tt0077594")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pink Flamingos", 6.1, 20396, 1972, 93, "Comedy,Crime", "nm0000691", "tt0069089")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hairspray", 6.9, 18739, 1988, 92, "Comedy,Drama,Family", "nm0000691", "tt0095270")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cry-Baby", 6.5, 51470, 1990, 85, "Comedy,Musical", "nm0000691", "tt0099329")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Serial Mom", 6.7, 25187, 1994, 95, "Comedy,Crime,Thriller", "nm0000691", "tt0111127")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pecker", 6.3, 12831, 1998, 87, "Comedy,Drama", "nm0000691", "tt0126604")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cecil B. DeMented", 6.2, 12795, 2000, 87, "Comedy,Crime,Thriller", "nm0000691", "tt0173716")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Dirty Shame", 5.1, 11742, 2004, 89, "Comedy", "nm0000691", "tt0365125")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Play It Again, Sam", 7.6, 23188, 1972, 85, "Comedy,Romance", "nm0006889", "tt0069097")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Goodbye Girl", 7.4, 11618, 1977, 111, "Comedy,Drama,Romance", "nm0006889", "tt0076095")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Footloose", 6.6, 64641, 1984, 107, "Drama,Music,Romance", "nm0006889", "tt0087277")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Secret of My Success", 6.5, 27269, 1987, 111, "Comedy,Romance", "nm0006889", "tt0093936")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Steel Magnolias", 7.3, 42881, 1989, 117, "Comedy,Drama,Romance", "nm0006889", "tt0098384")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Blue Heaven", 6.3, 17602, 1990, 97, "Comedy,Crime", "nm0006889", "tt0100212")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Boys on the Side", 6.5, 11219, 1995, 115, "Comedy,Drama", "nm0006889", "tt0112571")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Poseidon Adventure", 7.1, 38323, 1972, 117, "Action,Adventure,Drama", "nm0623768", "tt0069113")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Badlands", 7.8, 59702, 1973, 94, "Crime,Drama", "nm0000517", "tt0069762")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Days of Heaven", 7.9, 46884, 1978, 94, "Drama,Romance", "nm0000517", "tt0077405")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Thin Red Line", 7.6, 162415, 1998, 170, "Drama,War", "nm0000517", "tt0120863")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The New World", 6.7, 79247, 2005, 135, "Biography,Drama,History", "nm0000517", "tt0402399")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Tree of Life", 6.8, 158164, 2011, 139, "Drama,Fantasy", "nm0000517", "tt0478304")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("To the Wonder", 5.9, 25572, 2012, 112, "Drama,Romance", "nm0000517", "tt1595656")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Song to Song", 5.7, 16115, 2017, 129, "Drama,Music,Romance", "nm0000517", "tt2062700")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Knight of Cups", 5.7, 22740, 2015, 118, "Drama,Romance", "nm0000517", "tt2101383")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dark Star", 6.4, 20433, 1974, 83, "Comedy,Sci-Fi", "nm0000118", "tt0069945")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Assault on Precinct 13", 7.4, 40044, 1976, 91, "Action,Crime,Thriller", "nm0000118", "tt0074156")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Halloween", 7.8, 209779, 1978, 91, "Horror,Thriller", "nm0000118", "tt0077651")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fog", 6.8, 58386, 1980, 89, "Horror,Thriller", "nm0000118", "tt0080749")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Escape from New York", 7.2, 114311, 1981, 99, "Action,Adventure,Sci-Fi", "nm0000118", "tt0082340")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Thing", 8.1, 338690, 1982, 109, "Horror,Mystery,Sci-Fi", "nm0000118", "tt0084787")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Christine", 6.7, 65042, 1983, 110, "Horror,Thriller", "nm0000118", "tt0085333")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Starman", 7.0, 39828, 1984, 115, "Romance,Sci-Fi", "nm0000118", "tt0088172")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Big Trouble in Little China", 7.3, 114869, 1986, 99, "Action,Adventure,Comedy", "nm0000118", "tt0090728")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Prince of Darkness", 6.7, 33328, 1987, 102, "Horror", "nm0000118", "tt0093777")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("They Live", 7.3, 98999, 1988, 94, "Action,Horror,Sci-Fi", "nm0000118", "tt0096256")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Memoirs of an Invisible Man", 6.0, 20832, 1992, 99, "Comedy,Romance,Sci-Fi", "nm0000118", "tt0104850")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In the Mouth of Madness", 7.2, 55409, 1994, 95, "Drama,Horror,Mystery", "nm0000118", "tt0113409")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Village of the Damned", 5.6, 26827, 1995, 98, "Horror,Sci-Fi,Thriller", "nm0000118", "tt0114852")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Escape from L.A.", 5.7, 65295, 1996, 101, "Action,Adventure,Sci-Fi", "nm0000118", "tt0116225")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vampires", 6.2, 49561, 1998, 108, "Action,Horror,Thriller", "nm0000118", "tt0120877")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ghosts of Mars", 4.9, 48725, 2001, 98, "Action,Horror,Sci-Fi", "nm0000118", "tt0228333")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ward", 5.6, 38684, 2010, 89, "Horror,Mystery,Thriller", "nm0000118", "tt1369706")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Charlotte's Web", 6.9, 15705, 1973, 94, "Animation,Family,Musical", "nm0629363", "tt0070016")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Enter the Dragon", 7.7, 90027, 1973, 102, "Action,Crime,Drama", "nm0167195", "tt0070034")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Spirit of the Beehive", 7.9, 15297, 1973, 98, "Drama,Fantasy", "nm0258977", "tt0070040")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("La Grande Bouffe", 7.2, 10851, 1973, 130, "Comedy,Drama", "nm0274659", "tt0070130")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Name Is Nobody", 7.5, 21390, 1973, 116, "Comedy,Western", "nm0884547", "tt0070215")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Legend of Hell House", 6.7, 11226, 1973, 95, "Horror", "nm0396421", "tt0070294")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mean Streets", 7.3, 87299, 1973, 112, "Crime,Drama,Thriller", "nm0000217", "tt0070379")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alice Doesn't Live Here Anymore", 7.3, 19203, 1974, 112, "Drama,Romance", "nm0000217", "tt0071115")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Taxi Driver", 8.3, 652309, 1976, 114, "Crime,Drama", "nm0000217", "tt0075314")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("New York, New York", 6.7, 16540, 1977, 155, "Drama,Music,Musical", "nm0000217", "tt0076451")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Waltz", 8.2, 14877, 1978, 117, "Biography,Documentary,Music", "nm0000217", "tt0077838")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Raging Bull", 8.2, 294027, 1980, 129, "Biography,Drama,Sport", "nm0000217", "tt0081398")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Silence", 7.1, 87725, 2016, 161, "Drama,History", "nm0000217", "tt0490215")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shine a Light", 7.2, 10584, 2008, 122, "Biography,Documentary,Music", "nm0000217", "tt0893382")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hugo", 7.5, 287897, 2011, 126, "Drama,Family,Fantasy", "nm0000217", "tt0970179")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wolf of Wall Street", 8.2, 1060364, 2013, 180, "Biography,Crime,Drama", "nm0000217", "tt0993846")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shutter Island", 8.1, 1027859, 2010, 138, "Mystery,Thriller", "nm0000217", "tt1130884")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fantastic Planet", 7.8, 21177, 1973, 72, "Animation,Sci-Fi", "nm0482537", "tt0070544")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sisters", 6.9, 13714, 1972, 93, "Horror,Mystery,Thriller", "nm0000361", "tt0070698")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Phantom of the Paradise", 7.4, 14877, 1974, 91, "Comedy,Drama,Fantasy", "nm0000361", "tt0071994")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Carrie", 7.4, 155068, 1976, 98, "Horror", "nm0000361", "tt0074285")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fury", 6.4, 12400, 1978, 118, "Horror,Sci-Fi", "nm0000361", "tt0077588")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dressed to Kill", 7.1, 31449, 1980, 104, "Mystery,Thriller", "nm0000361", "tt0080661")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blow Out", 7.4, 38627, 1981, 108, "Mystery,Thriller", "nm0000361", "tt0082085")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scarface", 8.3, 677490, 1983, 170, "Crime,Drama", "nm0000361", "tt0086250")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Body Double", 6.8, 25969, 1984, 114, "Crime,Drama,Mystery", "nm0000361", "tt0086984")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Untouchables", 7.9, 259797, 1987, 119, "Crime,Drama,Thriller", "nm0000361", "tt0094226")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Casualties of War", 7.1, 38611, 1989, 113, "Crime,Drama,War", "nm0000361", "tt0097027")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bonfire of the Vanities", 5.6, 20453, 1990, 125, "Comedy,Drama,Romance", "nm0000361", "tt0099165")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Raising Cain", 6.1, 12725, 1992, 92, "Crime,Drama,Horror", "nm0000361", "tt0105217")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Carlito's Way", 7.9, 187876, 1993, 144, "Crime,Drama,Thriller", "nm0000361", "tt0106519")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mission: Impossible", 7.1, 364232, 1996, 110, "Action,Adventure,Thriller", "nm0000361", "tt0117060")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Snake Eyes", 6.0, 72303, 1998, 98, "Crime,Mystery,Thriller", "nm0000361", "tt0120832")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mission to Mars", 5.7, 67620, 2000, 114, "Adventure,Sci-Fi,Thriller", "nm0000361", "tt0183523")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Femme Fatale", 6.2, 32036, 2002, 114, "Crime,Drama,Mystery", "nm0000361", "tt0280665")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Black Dahlia", 5.6, 68949, 2006, 121, "Crime,Drama,Mystery", "nm0000361", "tt0387877")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Passion", 5.3, 20411, 2012, 102, "Drama,Mystery,Thriller", "nm0000361", "tt1829012")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Westworld", 7.0, 47560, 1973, 88, "Action,Sci-Fi,Thriller", "nm0000341", "tt0070909")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Coma", 6.9, 16014, 1978, 113, "Drama,Horror,Mystery", "nm0000341", "tt0077355")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Great Train Robbery", 6.9, 14626, 1978, 110, "Adventure,Crime,Drama", "nm0000341", "tt0079240")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Runaway", 5.9, 10793, 1984, 99, "Action,Crime,Sci-Fi", "nm0000341", "tt0088024")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The 13th Warrior", 6.6, 111625, 1999, 102, "Action,Adventure,History", "nm0000341", "tt0120657")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wicker Man", 7.5, 61071, 1973, 88, "Horror,Mystery,Thriller", "nm0362736", "tt0070917")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Happy Days", 7.4, 14558, 1974, 30, "Comedy,Family,Music", "nm0125518", "tt0070992")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Little House on the Prairie", 7.4, 14928, 1974, 60, "Drama,Family,Romance", "nm0671984", "tt0071007")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The World at War", 9.2, 19342, 1973, 52, "Documentary,History,War", "nm0809252", "tt0071075")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ali: Fear Eats the Soul", 8.1, 16862, 1974, 92, "Drama,Romance", "nm0001202", "tt0071141")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Marriage of Maria Braun", 7.8, 11123, 1979, 120, "Drama", "nm0001202", "tt0079095")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Christmas", 7.2, 28267, 1974, 98, "Horror,Mystery,Thriller", "nm0163706", "tt0071222")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Porky's", 6.2, 35718, 1981, 94, "Comedy", "nm0163706", "tt0084522")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Christmas Story", 8.0, 122605, 1983, 94, "Comedy,Family", "nm0163706", "tt0085334")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Porky's II: The Next Day", 5.1, 10180, 1983, 98, "Comedy", "nm0163706", "tt0086129")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Baby Geniuses", 2.6, 24108, 1999, 97, "Comedy,Crime,Family", "nm0163706", "tt0118665")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Superbabies: Baby Geniuses 2", 1.9, 29167, 2004, 88, "Comedy,Family,Sci-Fi", "nm0163706", "tt0270846")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monty Python and the Holy Grail", 8.2, 469291, 1975, 91, "Adventure,Comedy,Fantasy", "nm0001402", "tt0071853")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monty Python's Life of Brian", 8.1, 340416, 1979, 94, "Comedy", "nm0001402", "tt0079470")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Meaning of Life", 7.6, 106422, 1983, 107, "Comedy,Musical", "nm0001402", "tt0085959")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Erik the Viking", 6.3, 12223, 1989, 107, "Adventure,Comedy,Fantasy", "nm0001402", "tt0097289")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Absolutely Anything", 6.0, 35688, 2015, 85, "Comedy,Sci-Fi", "nm0001402", "tt1727770")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Night Porter", 6.7, 10310, 1974, 118, "Drama", "nm0146960", "tt0071910")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ripley's Game", 6.6, 16447, 2002, 110, "Crime,Drama,Mystery", "nm0146960", "tt0265651")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Taking of Pelham One Two Three", 7.7, 24188, 1974, 104, "Action,Crime,Thriller", "nm0765121", "tt0072251")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jaws: The Revenge", 2.9, 38130, 1987, 89, "Adventure,Horror,Thriller", "nm0765121", "tt0093300")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Something the Lord Made", 8.2, 11302, 2004, 110, "Biography,Drama", "nm0765121", "tt0386792")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Texas Chain Saw Massacre", 7.5, 123317, 1974, 83, "Horror", "nm0001361", "tt0072271")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Salem's Lot", 6.8, 18875, 1979, 200, "Horror", "nm0001361", "tt0079844")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Funhouse", 5.9, 11152, 1981, 96, "Horror", "nm0001361", "tt0082427")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Poltergeist", 7.3, 131536, 1982, 114, "Horror,Thriller", "nm0001361", "tt0084516")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lifeforce", 6.1, 20454, 1985, 101, "Action,Horror,Mystery", "nm0001361", "tt0089489")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Texas Chainsaw Massacre 2", 5.6, 25211, 1986, 101, "Comedy,Horror", "nm0001361", "tt0092076")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thunderbolt and Lightfoot", 7.1, 20493, 1974, 115, "Comedy,Crime,Drama", "nm0001047", "tt0072288")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Deer Hunter", 8.1, 288893, 1978, 183, "Drama,War", "nm0001047", "tt0077416")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Heaven's Gate", 6.8, 12531, 1980, 219, "Adventure,Drama,Western", "nm0001047", "tt0080855")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Year of the Dragon", 6.9, 12944, 1985, 134, "Action,Crime,Drama", "nm0001047", "tt0090350")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Towering Inferno", 6.9, 36272, 1974, 165, "Action,Drama,Thriller", "nm0347086", "tt0072308")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("King Kong", 5.9, 27853, 1976, 134, "Adventure,Horror", "nm0347086", "tt0074751")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Death on the Nile", 7.3, 25307, 1978, 140, "Crime,Drama,Mystery", "nm0347086", "tt0077413")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Woman Under the Influence", 8.2, 18630, 1974, 155, "Drama,Romance", "nm0001023", "tt0072417")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fawlty Towers", 8.7, 77924, 1975, 30, "Comedy", "nm0818639", "tt0072500")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Absolutely Fabulous", 8.1, 16880, 1992, 45, "Comedy", "nm0818639", "tt0105929")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spice World", 3.5, 31912, 1997, 93, "Comedy,Family,Music", "nm0818639", "tt0120185")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Saturday Night Live", 8.1, 39807, 1975, 90, "Comedy,Music", "nm1019498", "tt0072562")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Boy and His Dog", 6.5, 15464, 1975, 91, "Comedy,Drama,Sci-Fi", "nm0428618", "tt0072730")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Death Race 2000", 6.2, 22919, 1975, 80, "Action,Comedy,Sci-Fi", "nm0000860", "tt0072856")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("F for Fake", 7.8, 13470, 1973, 89, "Documentary", "nm0462648", "tt0072962")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Pinchcliffe Grand Prix", 8.5, 11861, 1975, 88, "Animation,Comedy,Family", "nm0135653", "tt0073000")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Grey Gardens", 7.6, 10992, 1975, 95, "Comedy,Documentary,Drama", "nm0396985", "tt0073076")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ironiya sudby, ili S legkim parom!", 8.2, 10013, 1975, 192, "Comedy,Romance", "nm0752922", "tt0073179")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("One Flew Over the Cuckoo's Nest", 8.7, 846637, 1975, 133, "Drama", "nm0001232", "tt0073486")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hair", 7.6, 32769, 1979, 121, "Comedy,Drama,Musical", "nm0001232", "tt0079261")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Amadeus", 8.3, 342911, 1984, 160, "Biography,Drama,History", "nm0001232", "tt0086879")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Valmont", 7.0, 11842, 1989, 137, "Drama,Romance", "nm0001232", "tt0098575")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The People vs. Larry Flynt", 7.3, 83359, 1996, 129, "Biography,Drama", "nm0001232", "tt0117318")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Man on the Moon", 7.4, 117910, 1999, 118, "Biography,Comedy,Drama", "nm0001232", "tt0125664")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Goya's Ghosts", 6.9, 28261, 2006, 113, "Biography,Drama,History", "nm0001232", "tt0455957")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Picnic at Hanging Rock", 7.5, 30925, 1975, 115, "Drama,Mystery", "nm0001837", "tt0073540")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gallipoli", 7.4, 34475, 1981, 110, "Adventure,Drama,History", "nm0001837", "tt0082432")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Year of Living Dangerously", 7.1, 18177, 1982, 115, "Drama,Romance,War", "nm0001837", "tt0086617")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Witness", 7.4, 79686, 1985, 112, "Crime,Drama,Romance", "nm0001837", "tt0090329")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mosquito Coast", 6.6, 25007, 1986, 117, "Adventure,Drama,Thriller", "nm0001837", "tt0091557")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dead Poets Society", 8.1, 379719, 1989, 128, "Comedy,Drama", "nm0001837", "tt0097165")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Green Card", 6.2, 21293, 1990, 103, "Comedy,Drama,Romance", "nm0001837", "tt0099699")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fearless", 7.1, 20057, 1993, 122, "Drama,Thriller", "nm0001837", "tt0106881")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Truman Show", 8.1, 854915, 1998, 103, "Comedy,Drama,Sci-Fi", "nm0001837", "tt0120382")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Master and Commander: The Far Side of the World", 7.4, 191448, 2003, 138, "Action,Adventure,Drama", "nm0001837", "tt0311113")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Way Back", 7.3, 103328, 2010, 133, "Adventure,Drama,History", "nm0001837", "tt1023114")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Rocky Horror Picture Show", 7.4, 123470, 1975, 100, "Comedy,Musical", "nm0788940", "tt0073629")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shivers", 6.5, 15914, 1975, 87, "Horror,Sci-Fi", "nm0000343", "tt0073705")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bad News Bears", 7.3, 18985, 1976, 102, "Comedy,Drama,Family", "nm0006916", "tt0074174")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fletch", 6.9, 44519, 1985, 98, "Comedy,Crime,Mystery", "nm0006916", "tt0089155")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Golden Child", 6.0, 47855, 1986, 94, "Action,Adventure,Comedy", "nm0006916", "tt0091129")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wildcats", 6.0, 11205, 1986, 106, "Comedy,Sport", "nm0006916", "tt0092214")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fletch Lives", 6.1, 18397, 1989, 95, "Comedy,Crime,Mystery", "nm0006916", "tt0097366")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bugsy Malone", 6.9, 14810, 1976, 93, "Comedy,Crime,Family", "nm0000570", "tt0074256")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Midnight Express", 7.6, 66954, 1978, 121, "Biography,Crime,Drama", "nm0000570", "tt0077928")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fame", 6.6, 18872, 1980, 134, "Drama,Music,Musical", "nm0000570", "tt0080716")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pink Floyd: The Wall", 8.1, 71459, 1982, 95, "Animation,Drama,Fantasy", "nm0000570", "tt0084503")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Birdy", 7.3, 20021, 1984, 120, "Drama,War", "nm0000570", "tt0086969")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Angel Heart", 7.3, 74425, 1987, 113, "Horror,Mystery,Thriller", "nm0000570", "tt0092563")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mississippi Burning", 7.8, 80520, 1988, 128, "Crime,Drama,History", "nm0000570", "tt0095647")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Commitments", 7.6, 30239, 1991, 118, "Comedy,Drama,Music", "nm0000570", "tt0101605")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Road to Wellville", 5.9, 10850, 1994, 118, "Comedy,Drama", "nm0000570", "tt0111001")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Evita", 6.3, 32479, 1996, 135, "Biography,Drama,History", "nm0000570", "tt0116250")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Angela's Ashes", 7.3, 19282, 1999, 145, "Drama", "nm0000570", "tt0145653")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Life of David Gale", 7.6, 102761, 2003, 130, "Crime,Drama,Thriller", "nm0000570", "tt0289992")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Enforcer", 6.8, 38572, 1976, 96, "Action,Crime,Thriller", "nm0267309", "tt0074483")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Every Which Way but Loose", 6.4, 21543, 1978, 114, "Action,Comedy", "nm0267309", "tt0077523")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eraserhead", 7.4, 92676, 1977, 89, "Horror", "nm0000186", "tt0074486")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Elephant Man", 8.1, 203444, 1980, 124, "Biography,Drama", "nm0000186", "tt0080678")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dune", 6.5, 113290, 1984, 137, "Action,Adventure,Sci-Fi", "nm0000186", "tt0087182")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blue Velvet", 7.8, 165697, 1986, 120, "Drama,Mystery,Thriller", "nm0000186", "tt0090756")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Twin Peaks", 8.8, 158285, 1990, 47, "Crime,Drama,Mystery", "nm0000186", "tt0098936")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wild at Heart", 7.2, 76132, 1990, 125, "Comedy,Crime,Drama", "nm0000186", "tt0100935")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Twin Peaks: Fire Walk with Me", 7.3, 78298, 1992, 134, "Drama,Horror,Mystery", "nm0000186", "tt0105665")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lost Highway", 7.6, 120602, 1997, 134, "Mystery,Thriller", "nm0000186", "tt0116922")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Straight Story", 8.0, 75649, 1999, 112, "Biography,Drama", "nm0000186", "tt0166896")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mulholland Dr.", 7.9, 295516, 2001, 147, "Drama,Mystery,Thriller", "nm0000186", "tt0166924")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Episode #1.1", 8.9, 13021, 1989, 94, "Crime,Drama,Mystery", "nm0000186", "tt0278784")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Inland Empire", 6.9, 50193, 2006, 180, "Drama,Mystery,Thriller", "nm0000186", "tt0460829")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Twin Peaks: The Return", 8.5, 45845, 2017, 60, "Crime,Drama,Fantasy", "nm0000186", "tt4093826")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Little Girl Who Lives Down the Lane", 7.1, 11641, 1976, 100, "Drama,Horror,Mystery", "nm0004654", "tt0074806")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Logan's Run", 6.8, 48322, 1976, 119, "Action,Sci-Fi", "nm0027183", "tt0074812")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Message", 8.2, 40653, 1976, 177, "Biography,Drama,History", "nm0002160", "tt0074896")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lion of the Desert", 8.4, 12751, 1980, 173, "Biography,Drama,History", "nm0002160", "tt0081059")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Midway", 6.8, 16178, 1976, 132, "Action,Drama,History", "nm0806915", "tt0074899")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Murder by Death", 7.4, 30751, 1976, 95, "Comedy,Crime,Mystery", "nm0601800", "tt0074937")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Omen", 7.5, 99669, 1976, 111, "Horror", "nm0001149", "tt0075005")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Superman", 7.3, 149938, 1978, 143, "Action,Adventure,Drama", "nm0001149", "tt0078346")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Toy", 5.9, 10576, 1982, 102, "Comedy", "nm0001149", "tt0084809")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Goonies", 7.8, 222672, 1985, 114, "Adventure,Comedy,Family", "nm0001149", "tt0089218")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ladyhawke", 7.0, 40570, 1985, 121, "Adventure,Comedy,Drama", "nm0001149", "tt0089457")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lethal Weapon", 7.6, 222364, 1987, 109, "Action,Crime,Thriller", "nm0001149", "tt0093409")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scrooged", 7.0, 78260, 1988, 101, "Comedy,Drama,Fantasy", "nm0001149", "tt0096061")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lethal Weapon 2", 7.2, 151239, 1989, 114, "Action,Crime,Thriller", "nm0001149", "tt0097733")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lethal Weapon 3", 6.7, 148008, 1992, 118, "Action,Crime,Thriller", "nm0001149", "tt0104714")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Radio Flyer", 7.0, 11752, 1992, 114, "Drama", "nm0001149", "tt0105211")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Maverick", 7.0, 96169, 1994, 127, "Action,Adventure,Comedy", "nm0001149", "tt0110478")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Assassins", 6.3, 73558, 1995, 132, "Action,Crime,Thriller", "nm0001149", "tt0112401")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Conspiracy Theory", 6.7, 88609, 1997, 135, "Action,Mystery,Thriller", "nm0001149", "tt0118883")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lethal Weapon 4", 6.6, 145313, 1998, 127, "Action,Crime,Thriller", "nm0001149", "tt0122151")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Timeline", 5.6, 57922, 2003, 116, "Action,Adventure,Sci-Fi", "nm0001149", "tt0300556")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("16 Blocks", 6.6, 122547, 2006, 102, "Action,Crime,Drama", "nm0001149", "tt0450232")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rocky", 8.1, 481298, 1976, 120, "Drama,Sport", "nm0000814", "tt0075148")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Karate Kid", 7.2, 161070, 1984, 126, "Action,Drama,Family", "nm0000814", "tt0087538")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Karate Kid Part II", 6.0, 66885, 1986, 113, "Action,Family,Romance", "nm0000814", "tt0091326")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Karate Kid Part III", 5.2, 45075, 1989, 112, "Action,Drama,Family", "nm0000814", "tt0097647")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lean on Me", 7.4, 17008, 1989, 108, "Drama", "nm0000814", "tt0097722")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rocky V", 5.3, 118675, 1990, 104, "Drama,Sport", "nm0000814", "tt0100507")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Roots", 8.4, 15210, 1977, 588, "Biography,Drama,History", "nm0159007", "tt0075572")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Three's Company", 7.5, 10934, 1976, 30, "Comedy", "nm0694516", "tt0075596")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The American Friend", 7.4, 12219, 1977, 125, "Crime,Drama,Mystery", "nm0000694", "tt0075675")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paris, Texas", 8.1, 77063, 1984, 145, "Drama", "nm0000694", "tt0087884")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wings of Desire", 8.0, 58903, 1987, 128, "Drama,Fantasy,Romance", "nm0000694", "tt0093191")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Million Dollar Hotel", 5.9, 20088, 2000, 122, "Drama,Mystery,Thriller", "nm0000694", "tt0120753")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Buena Vista Social Club", 7.6, 15540, 1999, 105, "Documentary,Music", "nm0000694", "tt0186508")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pina", 7.7, 13654, 2011, 103, "Documentary,Music", "nm0000694", "tt1440266")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Bridge Too Far", 7.4, 48044, 1977, 175, "Drama,History,War", "nm0000277", "tt0075784")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gandhi", 8.0, 209407, 1982, 191, "Biography,Drama,History", "nm0000277", "tt0083987")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cry Freedom", 7.4, 11722, 1987, 157, "Biography,Drama,History", "nm0000277", "tt0092804")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chaplin", 7.6, 50325, 1992, 143, "Biography,Comedy,Drama", "nm0000277", "tt0103939")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shadowlands", 7.3, 15900, 1993, 131, "Biography,Drama,Romance", "nm0000277", "tt0108101")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Duellists", 7.4, 17919, 1977, 100, "Drama,War", "nm0000631", "tt0075968")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alien", 8.4, 727956, 1979, 117, "Horror,Sci-Fi", "nm0000631", "tt0078748")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blade Runner", 8.1, 640356, 1982, 117, "Action,Sci-Fi,Thriller", "nm0000631", "tt0083658")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Legend", 6.5, 55879, 1985, 94, "Adventure,Fantasy,Romance", "nm0000631", "tt0089469")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Rain", 6.7, 46225, 1989, 125, "Action,Crime,Thriller", "nm0000631", "tt0096933")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thelma & Louise", 7.4, 124430, 1991, 130, "Adventure,Crime,Drama", "nm0000631", "tt0103074")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("1492: Conquest of Paradise", 6.5, 26462, 1992, 154, "Adventure,Biography,Drama", "nm0000631", "tt0103594")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("White Squall", 6.6, 20147, 1996, 129, "Adventure,Drama", "nm0000631", "tt0118158")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("G.I. Jane", 5.9, 69655, 1997, 125, "Action,Drama,War", "nm0000631", "tt0119173")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gladiator", 8.5, 1235854, 2000, 155, "Action,Adventure,Drama", "nm0000631", "tt0172495")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hannibal", 6.8, 239865, 2001, 131, "Crime,Drama,Thriller", "nm0000631", "tt0212985")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Hawk Down", 7.7, 344302, 2001, 144, "Drama,History,War", "nm0000631", "tt0265086")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kingdom of Heaven", 7.2, 253166, 2005, 144, "Action,Adventure,Drama", "nm0000631", "tt0320661")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Matchstick Men", 7.3, 118912, 2003, 116, "Comedy,Crime,Drama", "nm0000631", "tt0325805")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Good Year", 7.0, 83540, 2006, 117, "Comedy,Drama,Romance", "nm0000631", "tt0401445")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Body of Lies", 7.1, 201876, 2008, 128, "Action,Drama,Thriller", "nm0000631", "tt0758774")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Gangster", 7.8, 371544, 2007, 157, "Biography,Crime,Drama", "nm0000631", "tt0765429")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Robin Hood", 6.6, 241952, 2010, 140, "Action,Drama,History", "nm0000631", "tt0955308")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Prometheus", 7.0, 544349, 2012, 124, "Adventure,Mystery,Sci-Fi", "nm0000631", "tt1446714")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Exodus: Gods and Kings", 6.0, 152444, 2014, 150, "Action,Drama,Fantasy", "nm0000631", "tt1528100")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Counselor", 5.3, 92885, 2013, 117, "Crime,Drama,Thriller", "nm0000631", "tt2193215")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alien: Covenant", 6.4, 232799, 2017, 122, "Horror,Sci-Fi,Thriller", "nm0000631", "tt2316204")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Martian", 8.0, 695925, 2015, 144, "Adventure,Drama,Sci-Fi", "nm0000631", "tt3659388")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("All the Money in the World", 6.8, 62854, 2017, 132, "Biography,Crime,Drama", "nm0000631", "tt5294550")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("An American Werewolf in London", 7.5, 83844, 1981, 97, "Comedy,Horror", "nm0000484", "tt0082010")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Trading Places", 7.5, 124996, 1983, 116, "Comedy", "nm0000484", "tt0086465")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Michael Jackson: Thriller", 8.7, 14501, 1983, 13, "Horror,Music,Short", "nm0000484", "tt0088263")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Into the Night", 6.5, 10120, 1985, 115, "Comedy,Crime,Drama", "nm0000484", "tt0089346")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spies Like Us", 6.4, 41455, 1985, 102, "Adventure,Comedy", "nm0000484", "tt0090056")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("¡Three Amigos!", 6.5, 63759, 1986, 104, "Comedy,Western", "nm0000484", "tt0092086")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Coming to America", 7.0, 149383, 1988, 116, "Comedy,Romance", "nm0000484", "tt0094898")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Oscar", 6.5, 27994, 1991, 109, "Comedy,Crime", "nm0000484", "tt0102603")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beverly Hills Cop III", 5.6, 71656, 1994, 104, "Action,Comedy,Crime", "nm0000484", "tt0109254")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blues Brothers 2000", 4.9, 30081, 1998, 123, "Action,Comedy,Crime", "nm0000484", "tt0118747")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Burke and Hare", 6.2, 18612, 2010, 91, "Comedy,Crime,History", "nm0000484", "tt1320239")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Who's Singin' Over There?", 8.9, 12703, 1980, 86, "Adventure,Comedy,Drama", "nm0797672", "tt0076276")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Marathon Family", 9.0, 13232, 1982, 92, "Comedy,Drama", "nm0797672", "tt0084302")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Many Adventures of Winnie the Pooh", 7.6, 30091, 1977, 74, "Animation,Comedy,Family", "nm0522028", "tt0076363")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Rescuers", 6.9, 53396, 1977, 78, "Adventure,Animation,Comedy", "nm0522028", "tt0076618")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pumping Iron", 7.4, 20212, 1977, 86, "Documentary,Sport", "nm1000159", "tt0076578")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Saturday Night Fever", 6.8, 65277, 1977, 118, "Drama,Music", "nm0000824", "tt0076666")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blue Thunder", 6.4, 15580, 1983, 109, "Action,Crime,Drama", "nm0000824", "tt0085255")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("WarGames", 7.1, 84771, 1983, 114, "Sci-Fi,Thriller", "nm0000824", "tt0086567")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Short Circuit", 6.7, 52955, 1986, 98, "Comedy,Family,Sci-Fi", "nm0000824", "tt0091949")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stakeout", 6.6, 21867, 1987, 117, "Action,Comedy,Crime", "nm0000824", "tt0094025")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bird on a Wire", 6.0, 37294, 1990, 110, "Action,Comedy", "nm0000824", "tt0099141")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hard Way", 6.4, 17226, 1991, 111, "Action,Comedy,Crime", "nm0000824", "tt0102004")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Another Stakeout", 5.6, 12457, 1993, 108, "Comedy,Crime", "nm0000824", "tt0106292")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Point of No Return", 6.1, 23520, 1993, 109, "Action,Crime,Drama", "nm0000824", "tt0107843")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Drop Zone", 5.6, 18274, 1994, 101, "Action,Adventure,Thriller", "nm0000824", "tt0109676")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nick of Time", 6.3, 37143, 1995, 90, "Action,Crime,Drama", "nm0000824", "tt0113972")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Smokey and the Bandit", 7.0, 41686, 1977, 96, "Action,Comedy", "nm0624102", "tt0076729")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Smokey and the Bandit II", 5.3, 13821, 1980, 100, "Action,Comedy", "nm0624102", "tt0081529")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Cannonball Run", 6.2, 30986, 1981, 95, "Action,Comedy,Sport", "nm0624102", "tt0082136")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cannonball Run II", 5.1, 14011, 1984, 108, "Action,Comedy", "nm0624102", "tt0087032")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Soldier of Orange", 7.7, 10388, 1977, 155, "Drama,Romance,Thriller", "nm0000682", "tt0076734")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flesh+Blood", 6.7, 15421, 1985, 126, "Adventure,Drama", "nm0000682", "tt0089153")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("RoboCop", 7.5, 217637, 1987, 102, "Action,Crime,Sci-Fi", "nm0000682", "tt0093870")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Total Recall", 7.5, 281942, 1990, 113, "Action,Sci-Fi,Thriller", "nm0000682", "tt0100802")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Basic Instinct", 6.9, 159158, 1992, 127, "Drama,Mystery,Thriller", "nm0000682", "tt0103772")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Showgirls", 4.8, 58231, 1995, 128, "Drama", "nm0000682", "tt0114436")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Starship Troopers", 7.2, 253771, 1997, 129, "Action,Adventure,Sci-Fi", "nm0000682", "tt0120201")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hollow Man", 5.8, 116223, 2000, 112, "Action,Horror,Sci-Fi", "nm0000682", "tt0164052")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Book", 7.7, 69137, 2006, 145, "Drama,Thriller,War", "nm0000682", "tt0389557")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Elle", 7.1, 55870, 2016, 130, "Crime,Drama,Thriller", "nm0000682", "tt3716530")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Battlestar Galactica", 7.1, 12653, 1978, 60, "Action,Adventure,Sci-Fi", "nm0390103", "tt0076984")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dallas", 6.9, 10575, 1978, 60, "Drama,Romance", "nm0036206", "tt0077000")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Incredible Hulk", 7.0, 10878, 1977, 60, "Action,Adventure,Drama", "nm0568535", "tt0077031")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Taxi", 7.6, 10516, 1978, 30, "Comedy", "nm0832573", "tt0077089")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Once Bitten", 5.5, 12268, 1985, 94, "Comedy,Fantasy,Horror", "nm0832573", "tt0089730")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Capricorn One", 6.9, 18867, 1978, 123, "Action,Thriller", "nm0001382", "tt0077294")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Outland", 6.6, 25313, 1981, 109, "Action,Crime,Sci-Fi", "nm0001382", "tt0082869")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("2010: The Year We Make Contact", 6.8, 47297, 1984, 116, "Adventure,Mystery,Sci-Fi", "nm0001382", "tt0086837")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Running Scared", 6.6, 10553, 1986, 107, "Action,Comedy,Crime", "nm0001382", "tt0091875")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Presidio", 6.0, 15230, 1988, 97, "Action,Crime,Mystery", "nm0001382", "tt0095897")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Timecop", 5.9, 52411, 1994, 99, "Action,Crime,Sci-Fi", "nm0001382", "tt0111438")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sudden Death", 5.8, 30321, 1995, 111, "Action,Crime,Thriller", "nm0001382", "tt0114576")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Relic", 5.8, 22921, 1997, 110, "Horror,Mystery,Sci-Fi", "nm0001382", "tt0120004")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("End of Days", 5.8, 101290, 1999, 122, "Action,Fantasy,Horror", "nm0001382", "tt0146675")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Musketeer", 4.8, 13656, 2001, 104, "Action,Adventure,Romance", "nm0001382", "tt0246544")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Sound of Thunder", 4.2, 18258, 2005, 101, "Action,Adventure,Horror", "nm0001382", "tt0318081")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beyond a Reasonable Doubt", 5.9, 11813, 2009, 106, "Crime,Drama,Mystery", "nm0001382", "tt1183251")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Don", 7.8, 10225, 1978, 175, "Action,Crime,Thriller", "nm0056423", "tt0077451")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Driver", 7.2, 12764, 1978, 91, "Action,Crime,Thriller", "nm0001353", "tt0077474")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Warriors", 7.6, 87048, 1979, 92, "Action,Crime,Thriller", "nm0001353", "tt0080120")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Southern Comfort", 7.2, 14818, 1981, 106, "Action,Thriller", "nm0001353", "tt0083111")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("48 Hrs.", 6.9, 63956, 1982, 96, "Action,Comedy,Crime", "nm0001353", "tt0083511")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Streets of Fire", 6.7, 16408, 1984, 93, "Action,Crime,Drama", "nm0001353", "tt0088194")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brewster's Millions", 6.5, 33313, 1985, 102, "Comedy", "nm0001353", "tt0088850")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crossroads", 7.1, 13058, 1986, 99, "Drama,Music,Mystery", "nm0001353", "tt0090888")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Red Heat", 6.1, 59991, 1988, 104, "Action,Comedy,Crime", "nm0001353", "tt0095963")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Another 48 Hrs.", 5.9, 35979, 1990, 93, "Action,Comedy,Crime", "nm0001353", "tt0099044")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Last Man Standing", 6.4, 50693, 1996, 101, "Action,Crime,Drama", "nm0001353", "tt0116830")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Supernova", 4.9, 16448, 2000, 90, "Horror,Sci-Fi,Thriller", "nm0001353", "tt0134983")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Undisputed", 6.2, 27216, 2002, 94, "Action,Crime,Drama", "nm0001353", "tt0281322")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bullet to the Head", 5.7, 45332, 2012, 92, "Action,Crime,Thriller", "nm0001353", "tt1308729")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Foul Play", 6.8, 12622, 1978, 116, "Comedy,Mystery,Thriller", "nm0383359", "tt0077578")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("9 to 5", 6.8, 25204, 1980, 109, "Comedy", "nm0383359", "tt0080319")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Grease", 7.2, 215385, 1978, 110, "Musical,Romance", "nm0459170", "tt0077631")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Blue Lagoon", 5.8, 59019, 1980, 104, "Adventure,Drama,Romance", "nm0459170", "tt0080453")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flight of the Navigator", 6.9, 41036, 1986, 90, "Adventure,Family,Sci-Fi", "nm0459170", "tt0091059")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("White Fang", 6.7, 18261, 1991, 107, "Adventure,Drama", "nm0459170", "tt0103247")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Honey, I Blew Up the Kid", 4.8, 38287, 1992, 89, "Adventure,Comedy,Family", "nm0459170", "tt0104437")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lovewrecked", 4.8, 13529, 2005, 87, "Adventure,Comedy,Romance", "nm0459170", "tt0409011")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Heaven Can Wait", 6.9, 17174, 1978, 101, "Comedy,Fantasy,Romance", "nm0000886", "tt0077663")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Reds", 7.3, 19345, 1981, 195, "Biography,Drama,History", "nm0000886", "tt0082979")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dick Tracy", 6.1, 54182, 1990, 105, "Action,Comedy,Crime", "nm0000886", "tt0099422")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bulworth", 6.8, 23885, 1998, 108, "Comedy,Drama,Romance", "nm0000886", "tt0118798")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Spit on Your Grave", 5.7, 24231, 1978, 101, "Horror,Thriller", "nm0953392", "tt0077713")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Invasion of the Body Snatchers", 7.4, 47351, 1978, 115, "Horror,Sci-Fi", "nm0442241", "tt0077745")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Right Stuff", 7.8, 53101, 1983, 193, "Adventure,Biography,Drama", "nm0442241", "tt0086197")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Unbearable Lightness of Being", 7.3, 31734, 1988, 171, "Drama,Romance", "nm0442241", "tt0096332")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Henry & June", 6.3, 11691, 1990, 136, "Biography,Drama", "nm0442241", "tt0099762")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rising Sun", 6.2, 39997, 1993, 125, "Action,Crime,Drama", "nm0442241", "tt0107969")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Quills", 7.3, 49446, 2000, 124, "Biography,Drama", "nm0442241", "tt0180073")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Twisted", 5.3, 19339, 2004, 97, "Crime,Drama,Mystery", "nm0442241", "tt0315297")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jaws 2", 5.8, 65865, 1978, 116, "Adventure,Drama,Horror", "nm0844358", "tt0077766")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Somewhere in Time", 7.2, 24855, 1980, 103, "Drama,Fantasy,Romance", "nm0844358", "tt0081534")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Supergirl", 4.4, 17192, 1984, 124, "Action,Adventure,Fantasy", "nm0844358", "tt0088206")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Santa Claus: The Movie", 6.2, 10613, 1985, 107, "Adventure,Family,Fantasy", "nm0844358", "tt0089961")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Piranha", 5.9, 17373, 1978, 94, "Comedy,Horror,Sci-Fi", "nm0001102", "tt0078087")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Summer Rental", 6.3, 12721, 1985, 87, "Comedy", "nm0005348", "tt0090098")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Summer School", 6.6, 15932, 1987, 97, "Comedy,Romance", "nm0005348", "tt0094072")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kramer vs. Kramer", 7.8, 120653, 1979, 105, "Drama", "nm0000914", "tt0079417")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Billy Bathgate", 5.9, 10802, 1991, 106, "Crime,Drama,Thriller", "nm0000914", "tt0101453")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nobody's Fool", 7.4, 17163, 1994, 110, "Comedy,Drama", "nm0000914", "tt0110684")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Human Stain", 6.2, 28190, 2003, 106, "Drama,Romance,Thriller", "nm0000914", "tt0308383")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Feast of Love", 6.6, 15489, 2007, 97, "Drama,Romance", "nm0000914", "tt0800027")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mad Max", 6.9, 179336, 1979, 88, "Action,Adventure,Sci-Fi", "nm0004306", "tt0079501")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mad Max 2: The Road Warrior", 7.6, 156809, 1981, 96, "Action,Adventure,Sci-Fi", "nm0004306", "tt0082694")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mad Max Beyond Thunderdome", 6.3, 119656, 1985, 107, "Action,Adventure,Sci-Fi", "nm0004306", "tt0089530")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Witches of Eastwick", 6.5, 57389, 1987, 118, "Comedy,Fantasy,Horror", "nm0004306", "tt0094332")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lorenzo's Oil", 7.3, 19194, 1992, 129, "Drama", "nm0004306", "tt0104756")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Babe: Pig in the City", 5.7, 29910, 1998, 97, "Adventure,Comedy,Drama", "nm0004306", "tt0120595")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mad Max: Fury Road", 8.1, 797894, 2015, 120, "Action,Adventure,Sci-Fi", "nm0004306", "tt1392190")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Happy Feet Two", 5.9, 39041, 2011, 100, "Adventure,Animation,Comedy", "nm0004306", "tt1402488")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Meatballs", 6.2, 17635, 1979, 94, "Comedy", "nm0718645", "tt0079540")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stripes", 6.9, 60114, 1981, 106, "Comedy,War", "nm0718645", "tt0083131")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ghostbusters", 7.8, 329015, 1984, 105, "Action,Comedy,Fantasy", "nm0718645", "tt0087332")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Twins", 6.0, 105491, 1988, 107, "Comedy,Crime", "nm0718645", "tt0096320")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ghostbusters II", 6.6, 170393, 1989, 108, "Action,Comedy,Fantasy", "nm0718645", "tt0097428")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kindergarten Cop", 6.1, 127371, 1990, 111, "Comedy,Crime", "nm0718645", "tt0099938")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dave", 6.8, 46365, 1993, 110, "Comedy,Romance", "nm0718645", "tt0106673")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Junior", 4.6, 61652, 1994, 109, "Comedy,Romance,Sci-Fi", "nm0718645", "tt0110216")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fathers' Day", 5.2, 13930, 1997, 98, "Comedy,Romance", "nm0718645", "tt0119109")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Six Days Seven Nights", 5.8, 69203, 1998, 98, "Action,Adventure,Comedy", "nm0718645", "tt0120828")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Evolution", 6.1, 114217, 2001, 101, "Comedy,Sci-Fi", "nm0718645", "tt0251075")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Super Ex-Girlfriend", 5.1, 59657, 2006, 96, "Comedy,Romance,Sci-Fi", "nm0718645", "tt0465624")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("No Strings Attached", 6.2, 200406, 2011, 108, "Comedy,Romance", "nm0718645", "tt1411238")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Draft Day", 6.8, 49635, 2014, 110, "Drama,Sport", "nm0718645", "tt2223990")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Moscow Does Not Believe in Tears", 8.1, 10330, 1980, 150, "Comedy,Drama,Romance", "nm0579828", "tt0079579")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Muppet Movie", 7.6, 29981, 1979, 95, "Adventure,Comedy,Family", "nm0292419", "tt0079588")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Phantasm", 6.8, 29082, 1979, 88, "Horror,Sci-Fi", "nm0181741", "tt0079714")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Beastmaster", 6.2, 18744, 1982, 118, "Action,Adventure,Fantasy", "nm0181741", "tt0083630")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Phantasm II", 6.5, 12212, 1988, 97, "Action,Fantasy,Horror", "nm0181741", "tt0095863")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bubba Ho-Tep", 7.0, 43690, 2002, 92, "Comedy,Fantasy,Horror", "nm0181741", "tt0281686")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("John Dies at the End", 6.4, 34763, 2012, 99, "Comedy,Horror,Sci-Fi", "nm0181741", "tt1783732")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Quadrophenia", 7.3, 15850, 1979, 120, "Drama,Music", "nm0734466", "tt0079766")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rocky II", 7.2, 176948, 1979, 119, "Drama,Sport", "nm0000230", "tt0079817")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rocky III", 6.8, 160376, 1982, 99, "Drama,Sport", "nm0000230", "tt0084602")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Staying Alive", 4.6, 13467, 1983, 93, "Drama,Music,Romance", "nm0000230", "tt0086361")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rocky IV", 6.9, 173089, 1985, 91, "Drama,Sport", "nm0000230", "tt0089927")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rambo", 7.0, 206404, 2008, 92, "Action,Thriller", "nm0000230", "tt0462499")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rocky Balboa", 7.1, 193365, 2006, 102, "Drama,Sport", "nm0000230", "tt0479143")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Expendables", 6.5, 311339, 2010, 103, "Action,Adventure,Thriller", "nm0000230", "tt1320253")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lupin the 3rd: Castle of Cagliostro", 7.7, 22891, 1979, 100, "Adventure,Animation,Family", "nm0594503", "tt0079833")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nausicaä of the Valley of the Wind", 8.1, 130895, 1984, 117, "Adventure,Animation,Fantasy", "nm0594503", "tt0087544")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Castle in the Sky", 8.0, 130539, 1986, 125, "Adventure,Animation,Drama", "nm0594503", "tt0092067")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Neighbor Totoro", 8.2, 244965, 1988, 86, "Animation,Family,Fantasy", "nm0594503", "tt0096283")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kiki's Delivery Service", 7.9, 101845, 1989, 103, "Adventure,Animation,Drama", "nm0594503", "tt0097814")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Porco Rosso", 7.8, 63109, 1992, 94, "Adventure,Animation,Comedy", "nm0594503", "tt0104652")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Princess Mononoke", 8.4, 301527, 1997, 134, "Adventure,Animation,Fantasy", "nm0594503", "tt0119698")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Howl's Moving Castle", 8.2, 289269, 2004, 119, "Adventure,Animation,Family", "nm0594503", "tt0347149")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ponyo", 7.7, 109466, 2008, 101, "Adventure,Animation,Comedy", "nm0594503", "tt0876563")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wind Rises", 7.8, 62435, 2013, 126, "Animation,Biography,Drama", "nm0594503", "tt2013293")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Time After Time", 7.1, 14282, 1979, 112, "Adventure,Drama,Sci-Fi", "nm0583292", "tt0080025")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Trek II: The Wrath of Khan", 7.7, 106411, 1982, 113, "Action,Adventure,Sci-Fi", "nm0583292", "tt0084726")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Day After", 7.0, 13254, 1983, 127, "Drama,Sci-Fi", "nm0583292", "tt0085404")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Trek VI: The Undiscovered Country", 7.2, 65881, 1991, 110, "Action,Adventure,Sci-Fi", "nm0583292", "tt0102975")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zombie", 6.9, 23602, 1979, 91, "Horror", "nm0002086", "tt0080057")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("City of the Living Dead", 6.3, 14296, 1980, 93, "Horror", "nm0002086", "tt0081318")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Beyond", 6.8, 18338, 1981, 87, "Horror", "nm0002086", "tt0082307")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The House by the Cemetery", 6.2, 11317, 1981, 86, "Horror", "nm0002086", "tt0082966")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Drunken Master", 7.6, 32996, 1978, 111, "Action,Comedy", "nm0950759", "tt0080179")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Iron Monkey", 7.5, 14773, 1993, 90, "Action,Crime,Drama", "nm0950759", "tt0108148")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crouching Tiger, Hidden Dragon: Sword of Destiny", 6.1, 16183, 2016, 96, "Action,Adventure,Drama", "nm0950759", "tt2652118")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Magnum, P.I.", 7.4, 19998, 1980, 48, "Action,Adventure,Crime", "nm0562251", "tt0080240")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shogun", 8.1, 10743, 1980, 60, "Adventure,Drama,History", "nm0518719", "tt0080274")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Yes Minister", 8.6, 11100, 1980, 60, "Comedy", "nm0021079", "tt0080306")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Breaker Morant", 7.8, 11424, 1980, 107, "Drama,History,War", "nm0000915", "tt0080310")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Driving Miss Daisy", 7.4, 90725, 1989, 99, "Drama", "nm0000915", "tt0097239")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Double Jeopardy", 6.5, 67195, 1999, 105, "Crime,Drama,Mystery", "nm0000915", "tt0150377")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Contract", 5.6, 22607, 2006, 96, "Action,Crime,Drama", "nm0000915", "tt0445946")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mr. Church", 7.6, 23446, 2016, 104, "Comedy,Drama", "nm0000915", "tt4196848")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Airplane!", 7.7, 194038, 1980, 88, "Comedy", "nm0000720", "tt0080339")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Top Secret!", 7.2, 55466, 1984, 90, "Comedy,Music", "nm0000720", "tt0088286")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ruthless People", 6.9, 24336, 1986, 93, "Comedy,Crime", "nm0000720", "tt0091877")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Big Business", 6.4, 11054, 1988, 97, "Comedy", "nm0000720", "tt0094739")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hot Shots!", 6.8, 93036, 1991, 84, "Action,Comedy", "nm0000720", "tt0102059")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hot Shots! Part Deux", 6.6, 79331, 1993, 86, "Action,Comedy", "nm0000720", "tt0107144")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mafia!", 5.6, 13991, 1998, 87, "Comedy,Crime", "nm0000720", "tt0120741")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Gigolo", 6.2, 19732, 1980, 117, "Crime,Drama,Mystery", "nm0001707", "tt0080365")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cat People", 6.1, 17809, 1982, 118, "Fantasy,Horror,Thriller", "nm0001707", "tt0083722")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Affliction", 7.0, 14041, 1997, 114, "Drama,Mystery,Thriller", "nm0001707", "tt0118564")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Auto Focus", 6.6, 12529, 2002, 105, "Biography,Crime,Drama", "nm0001707", "tt0298744")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("First Reformed", 7.1, 36596, 2017, 113, "Drama,Mystery,Thriller", "nm0001707", "tt6053438")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Any Which Way You Can", 6.1, 16200, 1980, 116, "Action,Comedy", "nm0887174", "tt0080377")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Dead Pool", 6.3, 37594, 1988, 91, "Action,Crime,Mystery", "nm0887174", "tt0094963")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pink Cadillac", 5.4, 10227, 1989, 122, "Action,Comedy,Crime", "nm0887174", "tt0098097")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Attack of the Killer Tomatoes!", 4.6, 11646, 1978, 83, "Adventure,Comedy,Horror", "nm0207357", "tt0080391")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Caddyshack", 7.3, 98474, 1980, 98, "Comedy,Sport", "nm0000601", "tt0080487")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("National Lampoon's Vacation", 7.4, 88328, 1983, 98, "Adventure,Comedy", "nm0000601", "tt0085995")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Groundhog Day", 8.0, 548519, 1993, 101, "Comedy,Fantasy,Romance", "nm0000601", "tt0107048")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Multiplicity", 6.1, 28411, 1996, 117, "Comedy,Romance,Sci-Fi", "nm0000601", "tt0117108")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Analyze This", 6.7, 139286, 1999, 103, "Comedy,Crime", "nm0000601", "tt0122933")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bedazzled", 6.0, 91919, 2000, 93, "Comedy,Fantasy", "nm0000601", "tt0230030")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Analyze That", 5.9, 78846, 2002, 96, "Comedy,Crime", "nm0000601", "tt0289848")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ice Harvest", 6.3, 22446, 2005, 92, "Comedy,Crime,Drama", "nm0000601", "tt0400525")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Wars: Episode V - The Empire Strikes Back", 8.7, 1071146, 1980, 124, "Action,Adventure,Fantasy", "nm0449984", "tt0080684")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Never Say Never Again", 6.2, 56900, 1983, 134, "Action,Adventure,Thriller", "nm0449984", "tt0086006")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("RoboCop 2", 5.8, 76878, 1990, 117, "Action,Crime,Sci-Fi", "nm0449984", "tt0100502")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Friday the 13th", 6.5, 108287, 1980, 95, "Horror,Mystery,Thriller", "nm0192446", "tt0080761")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Gods Must Be Crazy", 7.3, 49721, 1980, 109, "Comedy", "nm0371059", "tt0080801")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Gods Must Be Crazy II", 6.9, 15119, 1989, 98, "Comedy", "nm0371059", "tt0097443")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Long Good Friday", 7.6, 17236, 1980, 114, "Crime,Drama,Mystery", "nm0533334", "tt0081070")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Maniac", 6.5, 12750, 1980, 87, "Drama,Horror,Thriller", "nm0527350", "tt0081114")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Maniac Cop", 6.0, 12559, 1988, 85, "Action,Crime,Horror", "nm0527350", "tt0095583")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ordinary People", 7.7, 42940, 1980, 124, "Drama", "nm0000602", "tt0081283")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A River Runs Through It", 7.2, 49760, 1992, 123, "Drama", "nm0000602", "tt0105265")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Quiz Show", 7.5, 61612, 1994, 133, "Biography,Drama,History", "nm0000602", "tt0110932")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Horse Whisperer", 6.6, 37074, 1998, 169, "Drama,Romance,Western", "nm0000602", "tt0119314")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Legend of Bagger Vance", 6.7, 51191, 2000, 126, "Drama,Fantasy,Sport", "nm0000602", "tt0146984")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lions for Lambs", 6.2, 45741, 2007, 92, "Drama,Thriller,War", "nm0000602", "tt0891527")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Conspirator", 6.9, 26591, 2010, 122, "Crime,Drama,History", "nm0000602", "tt0968264")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Company You Keep", 6.4, 30040, 2012, 125, "Drama,Thriller", "nm0000602", "tt1381404")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Private Benjamin", 6.2, 21979, 1980, 109, "Comedy,War", "nm0956052", "tt0081375")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Dream Team", 6.5, 11923, 1989, 113, "Comedy,Crime,Thriller", "nm0956052", "tt0097235")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Girl", 6.9, 67056, 1991, 102, "Comedy,Drama,Family", "nm0956052", "tt0102492")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Girl 2", 5.2, 17367, 1994, 99, "Comedy,Drama,Family", "nm0956052", "tt0110613")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Prom Night", 5.4, 13695, 1980, 92, "Horror,Thriller", "nm0528420", "tt0081383")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stir Crazy", 6.8, 23138, 1980, 111, "Comedy,Crime", "nm0001627", "tt0081562")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Used Cars", 6.7, 12609, 1980, 113, "Comedy", "nm0000709", "tt0081698")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Romancing the Stone", 6.9, 76933, 1984, 106, "Action,Adventure,Comedy", "nm0000709", "tt0088011")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Back to the Future", 8.5, 957642, 1985, 116, "Adventure,Comedy,Sci-Fi", "nm0000709", "tt0088763")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Who Framed Roger Rabbit", 7.7, 171009, 1988, 104, "Adventure,Animation,Comedy", "nm0000709", "tt0096438")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Back to the Future Part II", 7.8, 436724, 1989, 108, "Adventure,Comedy,Sci-Fi", "nm0000709", "tt0096874")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Back to the Future Part III", 7.4, 367743, 1990, 118, "Adventure,Comedy,Sci-Fi", "nm0000709", "tt0099088")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Death Becomes Her", 6.5, 95564, 1992, 104, "Comedy,Fantasy,Horror", "nm0000709", "tt0104070")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Forrest Gump", 8.8, 1648100, 1994, 142, "Drama,Romance", "nm0000709", "tt0109830")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Contact", 7.4, 238962, 1997, 150, "Drama,Mystery,Sci-Fi", "nm0000709", "tt0118884")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What Lies Beneath", 6.6, 111555, 2000, 130, "Drama,Fantasy,Horror", "nm0000709", "tt0161081")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cast Away", 7.8, 481071, 2000, 143, "Adventure,Drama,Romance", "nm0000709", "tt0162222")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Polar Express", 6.6, 157704, 2004, 100, "Adventure,Animation,Comedy", "nm0000709", "tt0338348")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beowulf", 6.2, 156239, 2007, 115, "Action,Adventure,Animation", "nm0000709", "tt0442933")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Christmas Carol", 6.8, 93028, 2009, 96, "Animation,Drama,Family", "nm0000709", "tt1067106")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flight", 7.3, 307040, 2012, 138, "Drama,Thriller", "nm0000709", "tt1907668")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Welcome to Marwen", 6.1, 12566, 2018, 116, "Biography,Comedy,Drama", "nm0000709", "tt3289724")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Walk", 7.3, 111503, 2015, 123, "Adventure,Biography,Drama", "nm0000709", "tt3488710")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Allied", 7.1, 129070, 2016, 124, "Action,Drama,Romance", "nm0000709", "tt3640424")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Where the Buffalo Roam", 6.7, 10684, 1980, 99, "Biography,Comedy", "nm0513165", "tt0081748")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Xanadu", 5.2, 11101, 1980, 96, "Fantasy,Musical,Romance", "nm0339254", "tt0081777")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Das Boot", 8.9, 23113, 1985, 293, "Drama,Thriller,War", "nm0000583", "tt0081834")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Das Boot", 8.3, 214383, 1981, 149, "Adventure,Drama,Thriller", "nm0000583", "tt0082096")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The NeverEnding Story", 7.4, 122236, 1984, 102, "Adventure,Drama,Family", "nm0000583", "tt0088323")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Enemy Mine", 6.9, 40843, 1985, 108, "Action,Adventure,Drama", "nm0000583", "tt0089092")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In the Line of Fire", 7.2, 86373, 1993, 128, "Action,Crime,Drama", "nm0000583", "tt0107206")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Outbreak", 6.6, 102083, 1995, 127, "Action,Drama,Thriller", "nm0000583", "tt0114069")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Air Force One", 6.5, 169490, 1997, 124, "Action,Drama,Thriller", "nm0000583", "tt0118571")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Perfect Storm", 6.4, 148635, 2000, 130, "Action,Adventure,Drama", "nm0000583", "tt0177971")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Troy", 7.2, 459010, 2004, 163, "Drama,History", "nm0000583", "tt0332452")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Poseidon", 5.6, 93290, 2006, 98, "Action,Adventure,Drama", "nm0000583", "tt0409182")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cosmos", 9.3, 32629, 1980, 60, "Documentary", "nm0920396", "tt0081846")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Only Fools and Horses....", 8.9, 42034, 1981, 95, "Comedy", "nm0067621", "tt0081912")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Smurfs", 7.2, 14072, 1981, 30, "Adventure,Animation,Comedy", "nm0666362", "tt0081933")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Arthur", 6.9, 24258, 1981, 97, "Comedy,Romance", "nm0330619", "tt0082031")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Body Heat", 7.4, 28458, 1981, 113, "Crime,Drama,Romance", "nm0001410", "tt0082089")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Big Chill", 7.2, 30539, 1983, 105, "Comedy,Drama", "nm0001410", "tt0085244")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Silverado", 7.2, 34584, 1985, 133, "Action,Crime,Drama", "nm0001410", "tt0090022")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Accidental Tourist", 6.8, 14009, 1988, 121, "Drama,Romance", "nm0001410", "tt0094606")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Love You to Death", 6.4, 12656, 1990, 97, "Comedy,Crime", "nm0001410", "tt0099819")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Grand Canyon", 6.9, 14156, 1991, 134, "Crime,Drama", "nm0001410", "tt0101969")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wyatt Earp", 6.7, 42340, 1994, 191, "Adventure,Biography,Crime", "nm0001410", "tt0111756")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("French Kiss", 6.6, 44540, 1995, 111, "Comedy,Drama,Romance", "nm0001410", "tt0113117")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dreamcatcher", 5.5, 85462, 2003, 136, "Drama,Horror,Sci-Fi", "nm0001410", "tt0285531")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Burning", 6.4, 13964, 1981, 91, "Horror", "nm0562699", "tt0082118")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Split Second", 6.2, 10893, 1992, 90, "Action,Crime,Horror", "nm0562699", "tt0105459")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chariots of Fire", 7.2, 50122, 1981, 125, "Biography,Drama,Sport", "nm0399853", "tt0082158")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Greystoke: The Legend of Tarzan, Lord of the Apes", 6.4, 16775, 1984, 135, "Adventure,Drama", "nm0399853", "tt0087365")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Christiane F.", 7.6, 19910, 1981, 138, "Biography,Drama", "nm0248942", "tt0082176")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Body of Evidence", 4.5, 13189, 1992, 99, "Drama,Thriller", "nm0248942", "tt0106453")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Baader Meinhof Complex", 7.4, 33885, 2008, 150, "Action,Biography,Crime", "nm0248942", "tt0765432")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Houdini", 7.4, 10561, 2014, 174, "Biography,Drama", "nm0248942", "tt3132738")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pay the Ghost", 5.2, 14442, 2015, 94, "Drama,Horror,Mystery", "nm0248942", "tt3733778")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Clash of the Titans", 6.9, 38195, 1981, 118, "Action,Adventure,Family", "nm0204471", "tt0082186")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Conan the Barbarian", 6.9, 129824, 1982, 129, "Action,Adventure,Fantasy", "nm0587518", "tt0082198")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Red Dawn", 6.4, 48051, 1984, 114, "Action,Drama", "nm0587518", "tt0087985")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Diva", 7.2, 11030, 1981, 117, "Thriller", "nm0000894", "tt0082269")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Betty Blue", 7.4, 16225, 1986, 120, "Drama,Romance", "nm0000894", "tt0090563")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dragonslayer", 6.7, 13710, 1981, 108, "Action,Adventure,Fantasy", "nm0730422", "tt0082288")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("*batteries not included", 6.7, 29109, 1987, 106, "Comedy,Family,Fantasy", "nm0730422", "tt0092494")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Final Conflict", 5.6, 17107, 1981, 108, "Horror", "nm0048491", "tt0082377")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alien Nation", 6.3, 13403, 1988, 91, "Action,Sci-Fi", "nm0048491", "tt0094631")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beowulf", 4.1, 10702, 1999, 95, "Action,Adventure,Fantasy", "nm0048491", "tt0120604")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("For Your Eyes Only", 6.8, 85052, 1981, 127, "Action,Adventure,Thriller", "nm0322515", "tt0082398")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Octopussy", 6.6, 88027, 1983, 131, "Action,Adventure,Thriller", "nm0322515", "tt0086034")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A View to a Kill", 6.4, 81501, 1985, 131, "Action,Adventure,Thriller", "nm0322515", "tt0090264")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Living Daylights", 6.7, 82076, 1987, 130, "Action,Adventure,Thriller", "nm0322515", "tt0093428")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Licence to Kill", 6.6, 87443, 1989, 133, "Action,Adventure,Thriller", "nm0322515", "tt0097742")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fox and the Hound", 7.3, 78481, 1981, 83, "Adventure,Animation,Drama", "nm0075859", "tt0082406")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Black Cauldron", 6.4, 27983, 1985, 80, "Action,Adventure,Animation", "nm0075859", "tt0088814")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The French Lieutenant's Woman", 7.0, 11081, 1981, 124, "Drama,Romance", "nm0718554", "tt0082416")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Friday the 13th Part 2", 6.1, 53056, 1981, 87, "Horror,Mystery,Thriller", "nm0591171", "tt0082418")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Friday the 13th Part III", 5.7, 42778, 1982, 95, "Horror,Thriller", "nm0591171", "tt0083972")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("House", 6.2, 21273, 1985, 93, "Comedy,Fantasy,Horror", "nm0591171", "tt0091223")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Halloween: Resurrection", 4.0, 34578, 2002, 94, "Horror,Thriller", "nm0742819", "tt0220506")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Heavy Metal", 6.7, 28853, 1981, 86, "Adventure,Animation,Fantasy", "nm0693376", "tt0082509")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mommie Dearest", 6.7, 13280, 1981, 129, "Biography,Drama", "nm0675068", "tt0082766")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Bloody Valentine", 6.2, 15872, 1981, 90, "Horror,Mystery,Thriller", "nm0586198", "tt0082782")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Possession", 7.4, 21116, 1981, 124, "Drama,Horror", "nm0958558", "tt0082933")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Professional", 7.6, 11882, 1981, 108, "Action,Crime,Drama", "nm0491626", "tt0082949")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Taps", 6.8, 15655, 1981, 126, "Drama", "nm0000887", "tt0083169")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sea of Love", 6.8, 35312, 1989, 113, "Crime,Drama,Mystery", "nm0000887", "tt0098273")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Malice", 6.4, 21239, 1993, 107, "Crime,Mystery,Thriller", "nm0000887", "tt0107497")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("City Hall", 6.2, 18603, 1996, 111, "Drama", "nm0000887", "tt0115907")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mercury Rising", 6.1, 63369, 1998, 111, "Action,Crime,Drama", "nm0000887", "tt0120749")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Domestic Disturbance", 5.6, 23495, 2001, 89, "Crime,Mystery,Thriller", "nm0000887", "tt0249478")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thief", 7.4, 22239, 1981, 123, "Action,Crime,Drama", "nm0000520", "tt0083190")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Keep", 5.7, 10039, 1983, 96, "Drama,Fantasy,Horror", "nm0000520", "tt0085780")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Manhunter", 7.2, 60479, 1986, 120, "Crime,Horror,Mystery", "nm0000520", "tt0091474")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last of the Mohicans", 7.7, 138474, 1992, 112, "Action,Adventure,Drama", "nm0000520", "tt0104691")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Heat", 8.2, 532499, 1995, 170, "Crime,Drama,Thriller", "nm0000520", "tt0113277")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Insider", 7.8, 151426, 1999, 157, "Biography,Drama,Thriller", "nm0000520", "tt0140352")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ali", 6.8, 88797, 2001, 157, "Biography,Drama,Sport", "nm0000520", "tt0248667")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Collateral", 7.5, 339203, 2004, 120, "Crime,Drama,Thriller", "nm0000520", "tt0369339")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Miami Vice", 6.0, 104739, 2006, 132, "Action,Crime,Thriller", "nm0000520", "tt0430357")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Public Enemies", 7.0, 264320, 2009, 140, "Biography,Crime,Drama", "nm0000520", "tt1152836")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blackhat", 5.4, 49308, 2015, 133, "Action,Crime,Thriller", "nm0000520", "tt2717822")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cheers", 7.8, 43898, 1982, 22, "Comedy,Drama", "nm0123273", "tt0083399")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Will & Grace", 7.2, 47957, 1998, 22, "Comedy,Romance", "nm0123273", "tt0157246")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mike & Molly", 6.3, 21489, 2010, 30, "Comedy,Short", "nm0123273", "tt1608180")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Family Ties", 7.2, 14600, 1982, 30, "Comedy,Family", "nm0224683", "tt0083413")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Camp Rock", 5.1, 27545, 2008, 94, "Comedy,Family,Music", "nm0224683", "tt1055366")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Oogieloves in the Big Balloon Adventure", 2.0, 14754, 2012, 88, "Adventure,Family,Fantasy", "nm0224683", "tt1520498")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Knight Rider", 6.9, 27295, 1982, 46, "Action,Crime,Drama", "nm0370868", "tt0083437")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Police Squad!", 8.4, 14373, 1982, 24, "Comedy,Crime", "nm0001878", "tt0083466")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Naked Gun: From the Files of Police Squad!", 7.6, 138694, 1988, 85, "Comedy,Crime", "nm0001878", "tt0095705")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Naked Gun 2½: The Smell of Fear", 6.9, 97921, 1991, 85, "Comedy,Crime", "nm0001878", "tt0102510")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("BASEketball", 6.5, 54290, 1998, 103, "Comedy,Sport", "nm0001878", "tt0131857")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Boss's Daughter", 4.7, 27088, 2003, 86, "Comedy,Romance", "nm0001878", "tt0270980")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scary Movie 3", 5.5, 129796, 2003, 84, "Comedy", "nm0001878", "tt0306047")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scary Movie 4", 5.0, 108027, 2006, 83, "Comedy", "nm0001878", "tt0362120")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Young Ones", 8.1, 12455, 1982, 410, "Comedy", "nm0413921", "tt0083505")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Airplane II: The Sequel", 6.2, 45677, 1982, 85, "Comedy,Sci-Fi", "nm0277946", "tt0083530")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Basket Case", 6.1, 14741, 1982, 91, "Comedy,Horror", "nm0376963", "tt0083624")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Dark Crystal", 7.2, 56615, 1982, 93, "Adventure,Family,Fantasy", "nm0000568", "tt0083791")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Muppets Take Manhattan", 6.9, 18153, 1984, 94, "Adventure,Comedy,Drama", "nm0000568", "tt0087755")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Little Shop of Horrors", 7.0, 59757, 1986, 94, "Comedy,Horror,Musical", "nm0000568", "tt0091419")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dirty Rotten Scoundrels", 7.4, 60381, 1988, 110, "Comedy,Crime", "nm0000568", "tt0095031")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What About Bob?", 7.0, 58635, 1991, 99, "Comedy", "nm0000568", "tt0103241")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("HouseSitter", 6.1, 20762, 1992, 102, "Comedy,Romance", "nm0000568", "tt0104452")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Indian in the Cupboard", 6.0, 24389, 1995, 96, "Drama,Family,Fantasy", "nm0000568", "tt0113419")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In & Out", 6.4, 36645, 1997, 90, "Comedy,Romance", "nm0000568", "tt0119360")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bowfinger", 6.4, 63282, 1999, 97, "Comedy", "nm0000568", "tt0131325")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Score", 6.8, 114258, 2001, 124, "Crime,Drama,Thriller", "nm0000568", "tt0227445")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Stepford Wives", 5.3, 57142, 2004, 93, "Comedy,Horror,Sci-Fi", "nm0000568", "tt0327162")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Death at a Funeral", 7.4, 103589, 2007, 90, "Comedy", "nm0000568", "tt0795368")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Diner", 7.1, 17592, 1982, 110, "Comedy,Drama", "nm0001469", "tt0083833")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Natural", 7.5, 40527, 1984, 138, "Drama,Sport", "nm0001469", "tt0087781")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Young Sherlock Holmes", 6.8, 17765, 1985, 109, "Adventure,Fantasy,Mystery", "nm0001469", "tt0090357")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Good Morning, Vietnam", 7.3, 118002, 1987, 121, "Biography,Comedy,Drama", "nm0001469", "tt0093105")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rain Man", 8.0, 446825, 1988, 133, "Drama", "nm0001469", "tt0095953")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bugsy", 6.8, 24180, 1991, 136, "Biography,Crime,Drama", "nm0001469", "tt0101516")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Toys", 5.1, 29409, 1992, 118, "Adventure,Comedy,Drama", "nm0001469", "tt0105629")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Disclosure", 6.1, 43250, 1994, 128, "Drama,Thriller", "nm0001469", "tt0109635")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sleepers", 7.6, 177231, 1996, 147, "Crime,Drama,Thriller", "nm0001469", "tt0117665")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sphere", 6.1, 94727, 1998, 134, "Drama,Horror,Mystery", "nm0001469", "tt0120184")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wag the Dog", 7.2, 75213, 1997, 97, "Comedy,Drama", "nm0001469", "tt0120885")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bandits", 6.5, 62884, 2001, 123, "Comedy,Crime,Drama", "nm0001469", "tt0219965")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Envy", 4.8, 28881, 2004, 99, "Comedy", "nm0001469", "tt0326856")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Man of the Year", 6.2, 30703, 2006, 115, "Comedy,Drama,Romance", "nm0001469", "tt0483726")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What Just Happened", 5.6, 25669, 2008, 104, "Comedy,Drama", "nm0001469", "tt0486674")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("You Don't Know Jack", 7.6, 25240, 2010, 134, "Biography,Drama", "nm0001469", "tt1132623")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bay", 5.6, 23704, 2012, 84, "Horror,Sci-Fi,Thriller", "nm0001469", "tt1713476")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wizard of Lies", 6.8, 19186, 2017, 133, "Biography,Crime,Drama", "nm0001469", "tt1933667")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Evil Dead", 7.5, 172820, 1981, 85, "Horror", "nm0000600", "tt0083907")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Evil Dead II", 7.8, 137927, 1987, 84, "Comedy,Horror", "nm0000600", "tt0092991")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Darkman", 6.4, 54951, 1990, 96, "Action,Sci-Fi,Thriller", "nm0000600", "tt0099365")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Army of Darkness", 7.5, 153593, 1992, 81, "Comedy,Horror", "nm0000600", "tt0106308")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Quick and the Dead", 6.4, 79813, 1995, 107, "Action,Romance,Thriller", "nm0000600", "tt0114214")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Simple Plan", 7.5, 59159, 1998, 121, "Crime,Drama,Thriller", "nm0000600", "tt0120324")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("For Love of the Game", 6.6, 29930, 1999, 137, "Drama,Romance,Sport", "nm0000600", "tt0126916")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spider-Man", 7.3, 650350, 2002, 121, "Action,Adventure,Sci-Fi", "nm0000600", "tt0145487")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Gift", 6.6, 59631, 2000, 112, "Drama,Fantasy,Horror", "nm0000600", "tt0219699")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spider-Man 2", 7.3, 509612, 2004, 127, "Action,Adventure,Sci-Fi", "nm0000600", "tt0316654")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spider-Man 3", 6.2, 469301, 2007, 139, "Action,Sci-Fi", "nm0000600", "tt0413300")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Drag Me to Hell", 6.5, 179103, 2009, 99, "Horror,Thriller", "nm0000600", "tt1127180")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Oz the Great and Powerful", 6.3, 193448, 2013, 130, "Adventure,Family,Fantasy", "nm0000600", "tt1623205")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fast Times at Ridgemont High", 7.2, 86576, 1982, 90, "Comedy,Drama", "nm0002132", "tt0083929")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Johnny Dangerously", 6.5, 12579, 1984, 90, "Comedy,Crime", "nm0002132", "tt0087507")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("National Lampoon's European Vacation", 6.2, 53245, 1985, 95, "Adventure,Comedy", "nm0002132", "tt0089670")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Look Who's Talking", 5.9, 73432, 1989, 93, "Comedy", "nm0002132", "tt0097778")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Look Who's Talking Too", 4.7, 42305, 1990, 81, "Comedy,Family,Romance", "nm0002132", "tt0100050")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Clueless", 6.8, 160586, 1995, 97, "Comedy,Romance", "nm0002132", "tt0112697")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Loser", 5.3, 25563, 2000, 98, "Comedy,Romance", "nm0002132", "tt0217630")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Could Never Be Your Woman", 6.0, 16411, 2007, 97, "Comedy,Drama,Romance", "nm0002132", "tt0466839")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Carrie Diaries", 7.0, 24920, 2013, 42, "Comedy,Romance", "nm0002132", "tt2056366")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("First Blood", 7.7, 208787, 1982, 93, "Action,Adventure", "nm0467646", "tt0083944")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Weekend at Bernie's", 6.4, 45218, 1989, 97, "Adventure,Comedy,Crime", "nm0467646", "tt0098627")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Grease 2", 4.4, 30836, 1982, 115, "Comedy,Drama,Musical", "nm0083279", "tt0084021")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monty Python Live at the Hollywood Bowl", 7.9, 12725, 1982, 77, "Comedy,Documentary,Musical", "nm0400958", "tt0084352")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Golden Girls", 7.9, 28386, 1985, 30, "Comedy,Drama", "nm0400958", "tt0088526")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cinderella Man", 8.0, 168089, 2005, 144, "Biography,Drama,Sport", "nm0000165", "tt0352248")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Da Vinci Code", 6.6, 377301, 2006, 149, "Mystery,Thriller", "nm0000165", "tt0382625")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Angels & Demons", 6.7, 256519, 2009, 138, "Mystery,Thriller", "nm0000165", "tt0808151")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Frost/Nixon", 7.7, 97820, 2008, 122, "Biography,Drama,History", "nm0000165", "tt0870111")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In the Heart of the Sea", 6.9, 110770, 2015, 122, "Action,Adventure,Biography", "nm0000165", "tt1390411")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Dilemma", 5.3, 48866, 2011, 111, "Comedy,Drama", "nm0000165", "tt1578275")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rush", 8.1, 399998, 2013, 123, "Biography,Drama,Sport", "nm0000165", "tt1979320")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Inferno", 6.2, 142370, 2016, 121, "Action,Adventure,Crime", "nm0000165", "tt3062096")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Solo: A Star Wars Story", 6.9, 238135, 2018, 135, "Action,Adventure,Fantasy", "nm0000165", "tt3778644")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("An Officer and a Gentleman", 7.0, 45175, 1982, 124, "Drama,Romance", "nm0000431", "tt0084434")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blood In, Blood Out", 8.0, 27040, 1993, 180, "Crime,Drama", "nm0000431", "tt0106469")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dolores Claiborne", 7.4, 35873, 1995, 132, "Crime,Drama,Mystery", "nm0000431", "tt0109642")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Devil's Advocate", 7.5, 306759, 1997, 144, "Drama,Mystery,Thriller", "nm0000431", "tt0118971")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Proof of Life", 6.2, 53254, 2000, 135, "Action,Drama,Thriller", "nm0000431", "tt0228750")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ray", 7.7, 129268, 2004, 152, "Biography,Drama,Music", "nm0000431", "tt0350258")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Parker", 6.2, 106888, 2013, 118, "Action,Crime,Thriller", "nm0000431", "tt1904996")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Secret of NIMH", 7.6, 33783, 1982, 82, "Adventure,Animation,Drama", "nm0089940", "tt0084649")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("An American Tail", 6.9, 45693, 1986, 80, "Adventure,Animation,Comedy", "nm0089940", "tt0090633")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Land Before Time", 7.4, 74498, 1988, 69, "Adventure,Animation,Drama", "nm0089940", "tt0095489")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("All Dogs Go to Heaven", 6.8, 33229, 1989, 84, "Animation,Comedy,Drama", "nm0089940", "tt0096787")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Snowman", 8.2, 11327, 1982, 26, "Adventure,Animation,Family", "nm0413452", "tt0084701")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("TRON", 6.8, 107283, 1982, 96, "Action,Adventure,Sci-Fi", "nm0513974", "tt0084827")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vincent", 8.3, 20692, 1982, 6, "Animation,Family,Fantasy", "nm0000318", "tt0084868")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Frankenweenie", 7.3, 10560, 1984, 29, "Comedy,Drama,Sci-Fi", "nm0000318", "tt0087291")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pee-wee's Big Adventure", 7.0, 47004, 1985, 91, "Adventure,Comedy,Family", "nm0000318", "tt0089791")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beetlejuice", 7.5, 236378, 1988, 92, "Comedy,Fantasy", "nm0000318", "tt0094721")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman", 7.5, 317750, 1989, 126, "Action,Adventure", "nm0000318", "tt0096895")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Edward Scissorhands", 7.9, 420297, 1990, 105, "Drama,Fantasy,Romance", "nm0000318", "tt0099487")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman Returns", 7.0, 257028, 1992, 126, "Action,Crime,Fantasy", "nm0000318", "tt0103776")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ed Wood", 7.8, 158841, 1994, 127, "Biography,Comedy,Drama", "nm0000318", "tt0109707")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mars Attacks!", 6.3, 199209, 1996, 106, "Comedy,Sci-Fi", "nm0000318", "tt0116996")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Corpse Bride", 7.3, 226588, 2005, 77, "Animation,Drama,Family", "nm0000318", "tt0121164")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Planet of the Apes", 5.7, 203214, 2001, 119, "Action,Adventure,Sci-Fi", "nm0000318", "tt0133152")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sleepy Hollow", 7.3, 310053, 1999, 105, "Fantasy,Horror,Mystery", "nm0000318", "tt0162661")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Big Fish", 8.0, 394032, 2003, 125, "Adventure,Drama,Fantasy", "nm0000318", "tt0319061")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Charlie and the Chocolate Factory", 6.6, 395834, 2005, 115, "Adventure,Comedy,Family", "nm0000318", "tt0367594")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sweeney Todd: The Demon Barber of Fleet Street", 7.3, 326189, 2007, 116, "Drama,Musical,Thriller", "nm0000318", "tt0408236")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alice in Wonderland", 6.4, 363287, 2010, 108, "Adventure,Family,Fantasy", "nm0000318", "tt1014759")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dark Shadows", 6.2, 233378, 2012, 113, "Comedy,Fantasy,Horror", "nm0000318", "tt1077368")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Big Eyes", 7.0, 79096, 2014, 106, "Biography,Crime,Drama", "nm0000318", "tt1126590")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Frankenweenie", 6.9, 90822, 2012, 87, "Animation,Comedy,Family", "nm0000318", "tt1142977")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Miss Peregrine's Home for Peculiar Children", 6.7, 144045, 2016, 127, "Adventure,Drama,Fantasy", "nm0000318", "tt1935859")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dumbo", 6.3, 46432, 2019, 112, "Adventure,Family,Fantasy", "nm0000318", "tt3861390")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Yol", 8.2, 11219, 1982, 114, "Drama", "nm0351410", "tt0084934")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The A-Team", 7.5, 31508, 1983, 60, "Action,Adventure,Crime", "nm0791045", "tt0084967")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blackadder", 8.1, 33048, 1982, 195, "Comedy", "nm0788724", "tt0084988")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Inspector Gadget", 6.8, 16972, 1983, 30, "Action,Adventure,Animation", "nm0080588", "tt0085033")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("V", 7.9, 12280, 1983, 197, "Action,Adventure,Sci-Fi", "nm0425540", "tt0085106")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Short Circuit 2", 5.7, 22413, 1988, 110, "Comedy,Drama,Family", "nm0425540", "tt0096101")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Steel", 2.8, 10333, 1997, 97, "Action,Adventure,Crime", "nm0425540", "tt0120207")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Project A", 7.4, 13620, 1983, 105, "Action,Comedy", "nm0000329", "tt0085127")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Armour of God", 7.1, 16172, 1986, 88, "Action,Adventure,Comedy", "nm0000329", "tt0091431")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Police Story 2", 7.1, 15420, 1988, 101, "Action,Comedy,Crime", "nm0000329", "tt0095403")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Armour of God 2: Operation Condor", 7.3, 17241, 1991, 106, "Action,Adventure,Comedy", "nm0000329", "tt0099558")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Drunken Master II", 7.6, 40677, 1994, 102, "Action,Comedy", "nm0000329", "tt0111512")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chinese Zodiac", 6.1, 19778, 2012, 109, "Action,Adventure,Comedy", "nm0000329", "tt1424310")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("All the Right Moves", 5.9, 14687, 1983, 91, "Drama,Romance,Sport", "nm0152469", "tt0085154")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cujo", 6.1, 35572, 1983, 93, "Horror,Thriller", "nm0853546", "tt0085382")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cat's Eye", 6.3, 21178, 1985, 94, "Comedy,Horror,Thriller", "nm0853546", "tt0088889")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Jewel of the Nile", 6.1, 47299, 1985, 106, "Action,Adventure,Comedy", "nm0853546", "tt0089370")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Navy Seals", 5.6, 14885, 1990, 113, "Action,Adventure,Thriller", "nm0853546", "tt0100232")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eddie Murphy: Delirious", 8.2, 15037, 1983, 69, "Comedy,Documentary", "nm0332985", "tt0085474")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Idol", 4.1, 20561, 2002, 42, "Game-Show,Music,Reality-TV", "nm0332985", "tt0319931")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flashdance", 6.2, 43647, 1983, 95, "Drama,Music,Romance", "nm0001490", "tt0085549")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("9½ Weeks", 6.0, 35001, 1986, 117, "Drama,Romance", "nm0001490", "tt0091635")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fatal Attraction", 6.9, 68992, 1987, 119, "Drama,Thriller", "nm0001490", "tt0093010")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jacob's Ladder", 7.5, 92115, 1990, 113, "Drama,Horror,Mystery", "nm0001490", "tt0099871")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Indecent Proposal", 5.9, 57851, 1993, 117, "Drama,Romance", "nm0001490", "tt0107211")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lolita", 6.9, 47830, 1997, 137, "Drama,Romance", "nm0001490", "tt0119558")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Unfaithful", 6.7, 74678, 2002, 124, "Drama,Romance,Thriller", "nm0001490", "tt0250797")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Halloween III: Season of the Witch", 4.9, 39273, 1982, 98, "Horror,Mystery,Sci-Fi", "nm0908890", "tt0085636")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fright Night Part 2", 5.9, 10559, 1988, 104, "Comedy,Horror,Thriller", "nm0908890", "tt0097390")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("It", 6.8, 108177, 1990, 192, "Drama,Horror,Mystery", "nm0908890", "tt0099864")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hunger", 6.7, 21159, 1983, 97, "Drama,Horror", "nm0001716", "tt0085701")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Top Gun", 6.9, 268504, 1986, 110, "Action,Drama", "nm0001716", "tt0092099")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beverly Hills Cop II", 6.5, 100007, 1987, 100, "Action,Comedy,Crime", "nm0001716", "tt0092644")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Days of Thunder", 6.0, 73420, 1990, 107, "Action,Drama,Sport", "nm0001716", "tt0099371")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Revenge", 6.2, 15380, 1990, 124, "Action,Crime,Drama", "nm0001716", "tt0100485")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Boy Scout", 7.0, 87464, 1991, 105, "Action,Comedy,Crime", "nm0001716", "tt0102266")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("True Romance", 7.9, 191890, 1993, 119, "Crime,Drama,Romance", "nm0001716", "tt0108399")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crimson Tide", 7.3, 94854, 1995, 116, "Action,Drama,Thriller", "nm0001716", "tt0112740")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fan", 5.9, 43954, 1996, 116, "Action,Drama,Sport", "nm0001716", "tt0116277")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Enemy of the State", 7.3, 216193, 1998, 132, "Action,Thriller", "nm0001716", "tt0120660")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spy Game", 7.1, 137337, 2001, 126, "Action,Crime,Thriller", "nm0001716", "tt0266987")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Man on Fire", 7.7, 311713, 2004, 146, "Action,Crime,Drama", "nm0001716", "tt0328107")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Domino", 5.9, 62849, 2005, 127, "Action,Biography,Crime", "nm0001716", "tt0421054")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Deja Vu", 7.0, 279329, 2006, 126, "Action,Crime,Sci-Fi", "nm0001716", "tt0453467")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Unstoppable", 6.7, 175020, 2010, 98, "Action,Thriller", "nm0001716", "tt0477080")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Taking of Pelham 123", 6.4, 175805, 2009, 106, "Action,Crime,Thriller", "nm0001716", "tt1111422")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jaane Bhi Do Yaaro", 8.4, 11829, 1983, 132, "Comedy,Drama", "nm0787453", "tt0085743")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kabhi Haan Kabhi Naa", 7.8, 16309, 1994, 158, "Comedy,Drama,Music", "nm0787453", "tt0110222")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jaws 3-D", 3.7, 36500, 1983, 99, "Adventure,Horror,Thriller", "nm0023469", "tt0085750")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Koyaanisqatsi", 8.3, 32448, 1982, 86, "Documentary,Music", "nm0716585", "tt0085809")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Local Hero", 7.3, 19119, 1983, 111, "Comedy,Drama", "nm0287025", "tt0085859")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mr. Mom", 6.5, 19623, 1983, 91, "Comedy,Drama", "nm0236769", "tt0085970")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Man with One Red Shoe", 5.7, 13963, 1985, 92, "Comedy,Thriller", "nm0236769", "tt0089543")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("'Allo 'Allo!", 8.3, 22291, 1982, 45, "Comedy,History,War", "nm0188462", "tt0086659")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Adventures of Sherlock Holmes", 8.7, 18205, 1984, 60, "Crime,Drama,Mystery", "nm0342487", "tt0086661")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Cosby Show", 7.4, 29427, 1984, 30, "Comedy,Family,Romance", "nm0004105", "tt0086687")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Miami Vice", 7.4, 21129, 1984, 48, "Action,Crime,Drama", "nm0630372", "tt0086759")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Murder, She Wrote", 6.9, 16385, 1984, 50, "Crime,Drama,Mystery", "nm0789598", "tt0086765")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Transformers", 8.0, 19117, 1984, 30, "Action,Adventure,Animation", "nm0282736", "tt0086817")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Adventures of Buckaroo Banzai Across the 8th Dimension", 6.4, 22411, 1984, 103, "Adventure,Comedy,Romance", "nm0725379", "tt0086856")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bachelor Party", 6.3, 33449, 1984, 105, "Comedy", "nm0411477", "tt0086927")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beverly Hills Cop", 7.3, 151186, 1984, 105, "Action,Comedy,Crime", "nm0000976", "tt0086960")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Midnight Run", 7.5, 65825, 1988, 126, "Action,Comedy,Crime", "nm0000976", "tt0095631")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scent of a Woman", 8.0, 237153, 1992, 156, "Drama", "nm0000976", "tt0105323")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Meet Joe Black", 7.2, 198218, 1998, 178, "Drama,Fantasy,Romance", "nm0000976", "tt0119643")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gigli", 2.5, 44848, 2003, 121, "Comedy,Crime,Romance", "nm0000976", "tt0299930")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blood Simple", 7.6, 80901, 1984, 99, "Crime,Drama,Thriller", "nm0001054", "tt0086979")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Raising Arizona", 7.3, 118290, 1987, 94, "Comedy,Crime", "nm0001054", "tt0093822")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Miller's Crossing", 7.8, 119531, 1990, 115, "Crime,Drama,Thriller", "nm0001054", "tt0100150")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Barton Fink", 7.7, 105810, 1991, 116, "Comedy,Drama,Thriller", "nm0001054", "tt0101410")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hudsucker Proxy", 7.2, 73469, 1994, 111, "Comedy,Drama,Fantasy", "nm0001054", "tt0110074")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fargo", 8.1, 570897, 1996, 98, "Crime,Drama,Thriller", "nm0001054", "tt0116282")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Big Lebowski", 8.1, 674808, 1998, 117, "Comedy,Crime", "nm0001054", "tt0118715")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Intolerable Cruelty", 6.2, 86278, 2003, 100, "Comedy,Crime,Romance", "nm0001054", "tt0138524")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("No Country for Old Men", 8.1, 780902, 2007, 122, "Crime,Drama,Thriller", "nm0001054", "tt0477348")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bounty", 7.0, 22359, 1984, 132, "Adventure,Drama,History", "nm0002044", "tt0086993")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("No Way Out", 7.1, 32580, 1987, 114, "Action,Crime,Drama", "nm0002044", "tt0093640")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cocktail", 5.9, 75081, 1988, 104, "Comedy,Drama,Romance", "nm0002044", "tt0094889")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cadillac Man", 5.7, 12602, 1990, 97, "Comedy,Crime", "nm0002044", "tt0099204")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Getaway", 5.8, 16098, 1994, 115, "Action,Adventure,Crime", "nm0002044", "tt0109890")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Species", 5.8, 70149, 1995, 108, "Action,Horror,Sci-Fi", "nm0002044", "tt0114508")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dante's Peak", 5.9, 75369, 1997, 108, "Action,Adventure,Thriller", "nm0002044", "tt0118928")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thirteen Days", 7.3, 51329, 2000, 145, "Drama,History,Thriller", "nm0002044", "tt0146309")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bank Job", 7.2, 167273, 2008, 111, "Crime,Thriller", "nm0002044", "tt0200465")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Recruit", 6.6, 125003, 2003, 115, "Action,Thriller", "nm0002044", "tt0292506")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The World's Fastest Indian", 7.8, 49537, 2005, 127, "Biography,Drama,Sport", "nm0002044", "tt0412080")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Seeking Justice", 6.2, 43151, 2011, 105, "Action,Crime,Drama", "nm0002044", "tt1214962")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The November Man", 6.3, 59978, 2014, 108, "Action,Crime,Thriller", "nm0002044", "tt2402157")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Children of the Corn", 5.7, 43674, 1984, 92, "Horror,Thriller", "nm0452607", "tt0087050")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Christmas Carol", 7.8, 11000, 1984, 100, "Drama,Family,Fantasy", "nm0232795", "tt0087056")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Company of Wolves", 6.7, 13867, 1984, 95, "Drama,Fantasy,Horror", "nm0001403", "tt0087075")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mona Lisa", 7.3, 11935, 1986, 104, "Crime,Drama,Romance", "nm0001403", "tt0091538")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("We're No Angels", 6.1, 20229, 1989, 106, "Comedy,Crime", "nm0001403", "tt0098625")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Crying Game", 7.2, 47986, 1992, 112, "Crime,Drama,Romance", "nm0001403", "tt0104036")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Interview with the Vampire: The Vampire Chronicles", 7.6, 277706, 1994, 123, "Drama,Horror", "nm0001403", "tt0110148")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Michael Collins", 7.2, 27939, 1996, 133, "Biography,Drama,Thriller", "nm0001403", "tt0117039")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In Dreams", 5.5, 11855, 1999, 100, "Drama,Fantasy,Thriller", "nm0001403", "tt0120710")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The End of the Affair", 7.1, 20294, 1999, 102, "Drama,Romance", "nm0001403", "tt0172396")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Breakfast on Pluto", 7.2, 19850, 2005, 128, "Comedy,Drama", "nm0001403", "tt0411195")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Brave One", 6.7, 56008, 2007, 122, "Action,Crime,Drama", "nm0001403", "tt0476964")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ondine", 6.8, 19188, 2009, 111, "Drama,Mystery,Romance", "nm0001403", "tt1235796")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Byzantium", 6.5, 38771, 2012, 118, "Drama,Fantasy,Horror", "nm0001403", "tt1531901")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Borgias", 7.9, 45786, 2011, 50, "Crime,Drama,History", "nm0001403", "tt1582457")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Greta", 6.0, 15771, 2018, 98, "Drama,Mystery,Thriller", "nm0001403", "tt2639336")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dreamscape", 6.3, 12821, 1984, 99, "Action,Adventure,Horror", "nm0747849", "tt0087175")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Stepfather", 6.8, 11856, 1987, 89, "Horror,Thriller", "nm0747849", "tt0094035")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sleeping with the Enemy", 6.2, 46285, 1991, 99, "Drama,Thriller", "nm0747849", "tt0102945")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Good Son", 6.4, 34186, 1993, 87, "Drama,Thriller", "nm0747849", "tt0107034")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Money Train", 5.7, 36909, 1995, 110, "Action,Comedy,Crime", "nm0747849", "tt0113845")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Return to Paradise", 6.9, 13034, 1998, 111, "Drama,Romance,Thriller", "nm0747849", "tt0124595")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Forgotten", 5.8, 62223, 2004, 91, "Drama,Horror,Mystery", "nm0747849", "tt0356618")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ottoman Lieutenant", 6.6, 23014, 2017, 106, "Drama,War", "nm0747849", "tt4943322")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Falling in Love", 6.5, 11565, 1984, 106, "Drama,Romance", "nm0343260", "tt0087233")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Deep End of the Ocean", 6.4, 12199, 1999, 106, "Drama", "nm0343260", "tt0120646")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Firestarter", 6.1, 27431, 1984, 114, "Action,Horror,Sci-Fi", "nm0504495", "tt0087262")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Commando", 6.7, 136222, 1985, 90, "Action,Adventure,Thriller", "nm0504495", "tt0088944")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Armed and Dangerous", 5.7, 10064, 1986, 88, "Action,Comedy,Crime", "nm0504495", "tt0090660")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Showdown in Little Tokyo", 6.1, 15306, 1991, 79, "Action,Comedy,Crime", "nm0504495", "tt0102915")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Friday the 13th: The Final Chapter", 6.0, 40155, 1984, 91, "Horror,Thriller", "nm0957263", "tt0087298")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Missing in Action", 5.4, 12854, 1984, 101, "Action,Adventure,Drama", "nm0957263", "tt0087727")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Killing Fields", 7.8, 48160, 1984, 141, "Biography,Drama,History", "nm0423646", "tt0087553")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mission", 7.4, 52239, 1986, 125, "Adventure,Drama,History", "nm0423646", "tt0091530")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Scarlet Letter", 5.3, 13693, 1995, 135, "Drama,Romance", "nm0423646", "tt0114345")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Captivity", 4.7, 22050, 2007, 96, "Crime,Drama,Horror", "nm0423646", "tt0374563")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wheels on Meals", 7.2, 10642, 1984, 108, "Action,Comedy,Crime", "nm0005033", "tt0087578")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mr. Nice Guy", 6.2, 23699, 1997, 88, "Action,Comedy,Crime", "nm0005033", "tt0117786")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Starfighter", 6.7, 35743, 1984, 101, "Action,Adventure,Sci-Fi", "nm0145309", "tt0087597")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dennis the Menace", 5.6, 52093, 1993, 94, "Comedy,Family", "nm0145309", "tt0106701")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Major Payne", 6.2, 28460, 1995, 95, "Adventure,Comedy,Family", "nm0145309", "tt0110443")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Moscow on the Hudson", 6.5, 10277, 1984, 115, "Comedy,Drama,Romance", "nm0005196", "tt0087747")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Down and Out in Beverly Hills", 6.2, 14660, 1986, 103, "Comedy", "nm0005196", "tt0090966")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Night of the Comet", 6.4, 16870, 1984, 95, "Comedy,Horror,Sci-Fi", "nm0248054", "tt0087799")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Captain Ron", 5.8, 19476, 1992, 90, "Adventure,Comedy", "nm0248054", "tt0103924")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("1984", 7.1, 61085, 1984, 113, "Drama,Sci-Fi", "nm0705535", "tt0087803")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Postman (Il Postino)", 7.7, 31024, 1994, 108, "Biography,Comedy,Drama", "nm0705535", "tt0110877")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Merchant of Venice", 7.0, 33336, 2004, 131, "Drama,Romance", "nm0705535", "tt0379889")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flawless", 6.8, 21993, 2007, 108, "Crime,Drama,Thriller", "nm0705535", "tt0780516")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Philadelphia Experiment", 6.1, 13205, 1984, 102, "Adventure,Drama,Romance", "nm0706296", "tt0087910")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mac and Me", 3.3, 10762, 1988, 95, "Adventure,Family,Fantasy", "nm0706296", "tt0095560")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Police Academy", 6.7, 105265, 1984, 96, "Comedy", "nm0933505", "tt0087928")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Guarding Tess", 6.2, 14757, 1994, 96, "Comedy,Drama", "nm0933505", "tt0109951")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The First Wives Club", 6.4, 39313, 1996, 103, "Comedy", "nm0933505", "tt0116313")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blast from the Past", 6.6, 56329, 1999, 112, "Comedy,Drama,Romance", "nm0933505", "tt0124298")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Purple Rain", 6.6, 17876, 1984, 111, "Drama,Music,Musical", "nm0536299", "tt0087957")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Repo Man", 6.9, 31159, 1984, 92, "Comedy,Crime,Sci-Fi", "nm0007182", "tt0087995")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sid and Nancy", 7.0, 27807, 1986, 112, "Biography,Drama,Music", "nm0007182", "tt0091954")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Revenge of the Nerds", 6.6, 46322, 1984, 90, "Comedy", "nm0437596", "tt0088000")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sexmission", 7.7, 10668, 1984, 117, "Adventure,Comedy,Sci-Fi", "nm0532702", "tt0088083")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Silent Night, Deadly Night", 5.9, 12244, 1984, 79, "Horror,Thriller", "nm0783398", "tt0088117")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Silence of the Lambs", 8.6, 1159742, 1991, 118, "Crime,Drama,Thriller", "nm0001129", "tt0102926")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Philadelphia", 7.7, 209573, 1993, 125, "Drama", "nm0001129", "tt0107818")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Manchurian Candidate", 6.6, 98392, 2004, 129, "Drama,Mystery,Sci-Fi", "nm0001129", "tt0368008")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rachel Getting Married", 6.7, 45439, 2008, 113, "Drama,Romance", "nm0001129", "tt1084950")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ricki and the Flash", 5.9, 21251, 2015, 101, "Comedy,Drama,Music", "nm0001129", "tt3623726")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stranger Than Paradise", 7.5, 31703, 1984, 89, "Comedy,Drama", "nm0000464", "tt0088184")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Down by Law", 7.8, 44255, 1986, 107, "Comedy,Crime,Drama", "nm0000464", "tt0090967")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mystery Train", 7.6, 23292, 1989, 110, "Comedy,Crime,Drama", "nm0000464", "tt0097940")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Night on Earth", 7.8, 51022, 1991, 129, "Comedy,Drama", "nm0000464", "tt0102536")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dead Man", 7.6, 84922, 1995, 121, "Drama,Fantasy,Western", "nm0000464", "tt0112817")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ghost Dog: The Way of the Samurai", 7.5, 80390, 1999, 116, "Action,Crime,Drama", "nm0000464", "tt0165798")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Coffee and Cigarettes", 7.1, 56119, 2003, 95, "Comedy,Drama,Music", "nm0000464", "tt0379217")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Broken Flowers", 7.2, 93342, 2005, 106, "Comedy,Drama,Mystery", "nm0000464", "tt0412019")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Limits of Control", 6.3, 18461, 2009, 116, "Crime,Drama,Mystery", "nm0000464", "tt1135092")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Only Lovers Left Alive", 7.3, 82760, 2013, 123, "Comedy,Drama,Fantasy", "nm0000464", "tt1714915")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paterson", 7.4, 57591, 2016, 118, "Comedy,Drama,Romance", "nm0000464", "tt5247022")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Dead Don't Die", 5.5, 25096, 2019, 104, "Comedy,Fantasy,Horror", "nm0000464", "tt8695030")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Terminator", 8.0, 742914, 1984, 107, "Action,Sci-Fi", "nm0000116", "tt0088247")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Aliens", 8.4, 610563, 1986, 137, "Action,Adventure,Sci-Fi", "nm0000116", "tt0090605")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Abyss", 7.6, 153401, 1989, 145, "Adventure,Drama,Mystery", "nm0000116", "tt0096754")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Terminator 2: Judgment Day", 8.5, 925027, 1991, 137, "Action,Sci-Fi", "nm0000116", "tt0103064")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("True Lies", 7.2, 222935, 1994, 141, "Action,Comedy,Thriller", "nm0000116", "tt0111503")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Titanic", 7.8, 974504, 1997, 194, "Drama,Romance", "nm0000116", "tt0120338")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Avatar", 7.8, 1060719, 2009, 162, "Action,Adventure,Fantasy", "nm0000116", "tt0499549")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("This Is Spinal Tap", 7.9, 121919, 1984, 82, "Comedy,Music", "nm0001661", "tt0088258")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sure Thing", 7.0, 17979, 1985, 100, "Comedy,Drama,Romance", "nm0001661", "tt0090103")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stand by Me", 8.1, 339266, 1986, 89, "Adventure,Drama", "nm0001661", "tt0092005")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Princess Bride", 8.1, 366081, 1987, 98, "Adventure,Family,Fantasy", "nm0001661", "tt0093779")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("When Harry Met Sally...", 7.6, 180188, 1989, 95, "Comedy,Drama,Romance", "nm0001661", "tt0098635")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Misery", 7.8, 167899, 1990, 107, "Drama,Thriller", "nm0001661", "tt0100157")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Few Good Men", 7.7, 218071, 1992, 138, "Drama,Thriller", "nm0001661", "tt0104257")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("North", 4.5, 12694, 1994, 87, "Adventure,Comedy,Drama", "nm0001661", "tt0110687")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The American President", 6.8, 48877, 1995, 114, "Comedy,Drama,Romance", "nm0001661", "tt0112346")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Story of Us", 6.0, 20428, 1999, 95, "Comedy,Drama,Romance", "nm0001661", "tt0160916")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alex & Emma", 5.6, 12624, 2003, 96, "Comedy,Romance", "nm0001661", "tt0318283")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rumor Has It...", 5.5, 49432, 2005, 97, "Comedy,Drama,Romance", "nm0001661", "tt0398375")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flipped", 7.7, 76046, 2010, 90, "Comedy,Drama,Romance", "nm0001661", "tt0817177")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bucket List", 7.4, 217068, 2007, 97, "Comedy,Drama", "nm0001661", "tt0825232")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Magic of Belle Isle", 7.0, 16483, 2012, 109, "Comedy,Drama", "nm0001661", "tt1839654")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("And So It Goes", 5.8, 11789, 2014, 94, "Comedy,Drama,Romance", "nm0001661", "tt2465146")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tightrope", 6.3, 14513, 1984, 114, "Crime,Mystery,Thriller", "nm0876227", "tt0088272")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Woman in Red", 5.9, 12826, 1984, 87, "Comedy,Romance", "nm0000698", "tt0088414")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blackadder II", 8.6, 39729, 1986, 176, "Comedy", "nm0282064", "tt0088484")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blackadder the Third", 8.6, 37972, 1987, 180, "Comedy", "nm0282064", "tt0092324")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Absolutely Fabulous: The Movie", 5.4, 11151, 2016, 91, "Comedy,Crime", "nm0282064", "tt2112096")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dragon Ball", 8.5, 42110, 1986, 24, "Action,Adventure,Animation", "nm0645572", "tt0088509")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dragon Ball GT", 6.9, 21745, 1996, 24, "Action,Adventure,Animation", "nm0645572", "tt0139774")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dragon Ball", 8.5, 48274, 1995, 24, "Action,Adventure,Animation", "nm0645572", "tt0280249")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Growing Pains", 6.6, 12435, 1985, 30, "Comedy,Family", "nm0870533", "tt0088527")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("MacGyver", 7.7, 33227, 1985, 48, "Action,Adventure,Crime", "nm0180891", "tt0088559")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Moonlighting", 7.6, 16734, 1985, 60, "Comedy,Drama,Mystery", "nm0175428", "tt0088571")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thundercats", 7.9, 14864, 1985, 30, "Action,Adventure,Animation", "nm0015425", "tt0088631")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Ninja", 5.5, 12796, 1985, 95, "Action,Adventure,Romance", "nm0278735", "tt0088708")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Anne of Green Gables", 8.5, 18013, 1985, 199, "Drama,Family", "nm0838195", "tt0088727")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Better Off Dead...", 7.1, 39176, 1985, 97, "Comedy,Romance", "nm0390822", "tt0088794")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("One Crazy Summer", 6.5, 13000, 1986, 93, "Comedy,Romance", "nm0390822", "tt0091680")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Clue", 7.3, 71481, 1985, 94, "Comedy,Crime,Mystery", "nm0528718", "tt0088930")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Distinguished Gentleman", 5.9, 14397, 1992, 112, "Comedy,Crime", "nm0528718", "tt0104114")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Cousin Vinny", 7.6, 98220, 1992, 120, "Comedy,Crime", "nm0528718", "tt0104952")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Greedy", 6.3, 12051, 1994, 113, "Comedy", "nm0528718", "tt0109936")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sgt. Bilko", 5.8, 20415, 1996, 93, "Comedy", "nm0528718", "tt0117608")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Whole Nine Yards", 6.7, 104171, 2000, 98, "Comedy,Crime", "nm0528718", "tt0190138")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wild Target", 6.8, 34227, 2010, 98, "Action,Comedy,Crime", "nm0528718", "tt1235189")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("D.A.R.Y.L.", 6.3, 11430, 1985, 99, "Family,Sci-Fi", "nm0934578", "tt0088979")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lonesome Dove", 8.7, 18899, 1989, 384, "Adventure,Drama,Western", "nm0934578", "tt0096639")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Harley Davidson and the Marlboro Man", 6.1, 17339, 1991, 98, "Action,Crime,Drama", "nm0934578", "tt0102005")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Quigley Down Under", 6.9, 18159, 1990, 119, "Action,Adventure,Drama", "nm0934578", "tt0102744")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Free Willy", 5.9, 63859, 1993, 112, "Adventure,Drama,Family", "nm0934578", "tt0106965")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Phantom", 4.9, 30834, 1996, 100, "Action,Adventure,Comedy", "nm0934578", "tt0117331")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crocodile Dundee in Los Angeles", 4.8, 22480, 2001, 92, "Adventure,Comedy,Crime", "nm0934578", "tt0231402")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Demons", 6.7, 18196, 1985, 88, "Horror", "nm0000877", "tt0089013")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Desperately Seeking Susan", 6.0, 19479, 1985, 104, "Comedy,Drama", "nm0782384", "tt0089017")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("She-Devil", 5.6, 15071, 1989, 99, "Comedy", "nm0782384", "tt0098309")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("F/X", 6.7, 16265, 1986, 109, "Action,Thriller", "nm0541677", "tt0089118")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("School Ties", 6.9, 20881, 1992, 106, "Drama", "nm0541677", "tt0105327")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Substitute", 6.0, 11103, 1996, 114, "Action,Crime,Drama", "nm0541677", "tt0117774")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Friday the 13th: A New Beginning", 4.8, 30307, 1985, 92, "Horror,Mystery,Thriller", "nm0826164", "tt0089173")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fright Night", 7.1, 54727, 1985, 106, "Horror,Thriller", "nm0276169", "tt0089175")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Child's Play", 6.6, 80436, 1988, 87, "Horror,Thriller", "nm0276169", "tt0094862")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Langoliers", 6.1, 25115, 1995, 180, "Horror,Mystery,Sci-Fi", "nm0276169", "tt0112040")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thinner", 5.8, 25762, 1996, 93, "Fantasy,Horror", "nm0276169", "tt0117894")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hobgoblins", 2.2, 10441, 1988, 88, "Comedy,Horror,Sci-Fi", "nm0707691", "tt0089280")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Police Story", 7.6, 25712, 1985, 100, "Action,Comedy,Crime", "nm0155179", "tt0089374")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Just One of the Guys", 6.5, 12678, 1985, 100, "Comedy,Romance", "nm0331989", "tt0089393")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kiss of the Spider Woman", 7.4, 13178, 1985, 120, "Drama", "nm0002199", "tt0089424")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Carandiru", 7.5, 16699, 2003, 145, "Crime,Drama", "nm0002199", "tt0293007")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Dragon", 6.9, 11989, 1985, 109, "Action,Comedy,Drama", "nm0776317", "tt0089461")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Life as a Dog", 7.6, 17260, 1985, 101, "Comedy,Drama", "nm0002120", "tt0089606")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What's Eating Gilbert Grape", 7.8, 200310, 1993, 118, "Drama", "nm0002120", "tt0108550")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Something to Talk About", 5.7, 12067, 1995, 106, "Comedy,Drama,Romance", "nm0002120", "tt0114496")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Shipping News", 6.7, 31020, 2001, 111, "Drama", "nm0002120", "tt0120824")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Cider House Rules", 7.4, 89047, 1999, 126, "Drama,Romance", "nm0002120", "tt0124315")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chocolat", 7.2, 169894, 2000, 121, "Drama,Romance", "nm0002120", "tt0241303")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("An Unfinished Life", 7.0, 27635, 2005, 108, "Drama,Family,Romance", "nm0002120", "tt0350261")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Casanova", 6.5, 49899, 2005, 112, "Adventure,Comedy,Drama", "nm0002120", "tt0402894")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hoax", 6.7, 15646, 2006, 116, "Comedy,Drama", "nm0002120", "tt0462338")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dear John", 6.3, 130579, 2010, 108, "Drama,Romance,War", "nm0002120", "tt0989757")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Police Academy 3: Back in Training", 5.4, 39668, 1986, 83, "Comedy", "nm0661577", "tt0091777")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Quiet Earth", 6.8, 23249, 1985, 91, "Drama,Mystery,Sci-Fi", "nm0614276", "tt0089869")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Young Guns II", 6.5, 28920, 1990, 104, "Action,Western", "nm0614276", "tt0100994")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Freejack", 5.4, 14112, 1992, 110, "Action,Crime,Sci-Fi", "nm0614276", "tt0104299")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Under Siege 2: Dark Territory", 5.5, 41592, 1995, 100, "Action,Thriller", "nm0614276", "tt0114781")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rambo: First Blood Part II", 6.5, 142618, 1985, 96, "Action,Adventure,Thriller", "nm0181902", "tt0089880")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cobra", 5.8, 62389, 1986, 87, "Action,Crime,Thriller", "nm0181902", "tt0090859")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Leviathan", 5.8, 16686, 1989, 98, "Adventure,Horror,Mystery", "nm0181902", "tt0097737")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tombstone", 7.8, 117186, 1993, 130, "Action,Biography,Drama", "nm0181902", "tt0108358")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Re-Animator", 7.2, 50831, 1985, 105, "Comedy,Horror,Sci-Fi", "nm0002340", "tt0089885")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("From Beyond", 6.7, 19917, 1986, 85, "Horror,Sci-Fi", "nm0002340", "tt0091083")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fortress", 5.9, 26240, 1992, 95, "Action,Crime,Sci-Fi", "nm0002340", "tt0106950")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dagon", 6.2, 15449, 2001, 95, "Fantasy,Horror,Mystery", "nm0002340", "tt0264508")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Edmond", 6.2, 10828, 2005, 82, "Drama,Thriller", "nm0002340", "tt0443496")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Masters of Horror", 7.5, 10707, 2005, 60, "Horror", "nm0002340", "tt0448190")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Return of the Living Dead", 7.3, 50191, 1985, 91, "Comedy,Horror,Sci-Fi", "nm0639321", "tt0089907")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Return to Oz", 6.7, 22735, 1985, 113, "Adventure,Family,Fantasy", "nm0004555", "tt0089908")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Runaway Train", 7.2, 24734, 1985, 111, "Action,Adventure,Drama", "nm0464846", "tt0089941")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tango & Cash", 6.4, 90145, 1989, 104, "Action,Comedy,Crime", "nm0464846", "tt0098439")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Odyssey", 7.0, 12850, 1997, 176, "Adventure,Drama,Fantasy", "nm0464846", "tt0118414")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Silver Bullet", 6.4, 21748, 1985, 95, "Horror", "nm0003733", "tt0090021")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beverly Hills, 90210", 6.3, 29343, 1990, 44, "Drama,Romance", "nm0003733", "tt0098749")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alias", 7.6, 42729, 2001, 42, "Action,Drama,Mystery", "nm0003733", "tt0285333")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Big Love", 7.5, 19295, 2006, 60, "Drama", "nm0003733", "tt0421030")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hung", 7.1, 20131, 2009, 30, "Comedy,Drama", "nm0003733", "tt1229413")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Resurrection", 7.3, 14522, 2014, 43, "Drama,Fantasy", "nm0003733", "tt2647586")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("St. Elmo's Fire", 6.4, 33232, 1985, 110, "Drama,Romance", "nm0001708", "tt0090060")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lost Boys", 7.3, 113932, 1987, 97, "Comedy,Horror", "nm0001708", "tt0093437")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flatliners", 6.6, 75905, 1990, 115, "Drama,Horror,Sci-Fi", "nm0001708", "tt0099582")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dying Young", 6.0, 14001, 1991, 111, "Drama,Romance", "nm0001708", "tt0101787")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Falling Down", 7.6, 157920, 1993, 113, "Crime,Drama,Thriller", "nm0001708", "tt0106856")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Client", 6.7, 55531, 1994, 119, "Crime,Drama,Mystery", "nm0001708", "tt0109446")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman Forever", 5.4, 223377, 1995, 121, "Action,Adventure,Fantasy", "nm0001708", "tt0112462")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Time to Kill", 7.5, 121228, 1996, 149, "Crime,Drama,Thriller", "nm0001708", "tt0117913")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman & Robin", 3.7, 221372, 1997, 125, "Action,Sci-Fi", "nm0001708", "tt0118688")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("8MM", 6.5, 117067, 1999, 123, "Mystery,Thriller", "nm0001708", "tt0134273")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flawless", 6.5, 16695, 1999, 112, "Comedy,Crime,Drama", "nm0001708", "tt0155711")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tigerland", 7.0, 36555, 2000, 101, "Drama,War", "nm0001708", "tt0170691")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Phone Booth", 7.0, 239609, 2002, 81, "Crime,Thriller", "nm0001708", "tt0183649")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bad Company", 5.6, 43355, 2002, 116, "Action,Adventure,Comedy", "nm0001708", "tt0280486")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Phantom of the Opera", 7.3, 110888, 2004, 143, "Drama,Musical,Romance", "nm0001708", "tt0293508")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Veronica Guerin", 6.9, 18256, 2003, 98, "Biography,Crime,Drama", "nm0001708", "tt0312549")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blood Creek", 5.3, 10965, 2009, 90, "Horror", "nm0001708", "tt0450336")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Number 23", 6.4, 186029, 2007, 98, "Crime,Mystery,Thriller", "nm0001708", "tt0481369")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Twelve", 5.7, 11599, 2010, 93, "Action,Crime,Drama", "nm0001708", "tt1407084")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Trespass", 5.3, 39871, 2011, 91, "Crime,Drama,Thriller", "nm0001708", "tt1674784")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Stuff", 5.9, 11873, 1985, 87, "Comedy,Horror,Sci-Fi", "nm0169540", "tt0090094")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Subway", 6.6, 13105, 1985, 104, "Thriller", "nm0000108", "tt0090095")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Big Blue", 7.6, 45262, 1988, 168, "Adventure,Drama,Sport", "nm0000108", "tt0095250")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("La Femme Nikita", 7.3, 63729, 1990, 117, "Action,Thriller", "nm0000108", "tt0100263")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Léon: The Professional", 8.5, 946956, 1994, 110, "Action,Crime,Drama", "nm0000108", "tt0110413")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fifth Element", 7.7, 408985, 1997, 126, "Action,Adventure,Sci-Fi", "nm0000108", "tt0119116")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Messenger: The Story of Joan of Arc", 6.4, 61697, 1999, 158, "Adventure,Biography,Drama", "nm0000108", "tt0151137")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Arthur and the Invisibles", 6.0, 30850, 2006, 94, "Adventure,Animation,Family", "nm0000108", "tt0344854")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Angel-A", 7.1, 30429, 2005, 91, "Comedy,Drama,Fantasy", "nm0000108", "tt0473753")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Extraordinary Adventures of Adèle Blanc-Sec", 6.3, 18779, 2010, 107, "Action,Adventure,Fantasy", "nm0000108", "tt1179025")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Valerian and the City of a Thousand Planets", 6.5, 145326, 2017, 137, "Action,Adventure,Fantasy", "nm0000108", "tt2239822")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Family", 6.3, 103885, 2013, 111, "Comedy,Crime,Thriller", "nm0000108", "tt2404311")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lucy", 6.4, 409648, 2014, 89, "Action,Sci-Fi,Thriller", "nm0000108", "tt2872732")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Anna", 6.6, 23652, 2019, 119, "Action,Thriller", "nm0000108", "tt7456310")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Teen Wolf", 6.1, 42504, 1985, 91, "Comedy,Fantasy", "nm0199722", "tt0090142")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("K-9", 6.0, 29884, 1989, 101, "Action,Comedy,Crime", "nm0199722", "tt0097637")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beethoven's 2nd", 4.9, 23979, 1993, 89, "Comedy,Family,Romance", "nm0199722", "tt0106375")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Home Alone 4: Taking Back the House", 2.6, 30663, 2002, 89, "Comedy,Crime,Family", "nm0199722", "tt0329200")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Threads", 8.0, 10270, 1984, 112, "Drama,Sci-Fi,War", "nm0413875", "tt0090163")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("L.A. Story", 6.7, 28075, 1991, 95, "Comedy,Drama,Fantasy", "nm0413875", "tt0102250")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bodyguard", 6.3, 110174, 1992, 129, "Drama,Music,Romance", "nm0413875", "tt0103855")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Volcano", 5.5, 68458, 1997, 104, "Action,Drama,Sci-Fi", "nm0413875", "tt0120461")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Temple Grandin", 8.3, 25341, 2010, 107, "Biography,Drama", "nm0413875", "tt1278469")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Denial", 6.7, 17066, 2016, 109, "Biography,Drama", "nm0413875", "tt4645330")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Toxic Avenger", 6.3, 23076, 1984, 82, "Action,Comedy,Horror", "nm0381230", "tt0090190")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vampire Hunter D", 7.2, 12136, 1985, 80, "Action,Animation,Fantasy", "nm0038953", "tt0090248")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("ALF", 7.4, 29181, 1986, 30, "Comedy,Family,Sci-Fi", "nm0382191", "tt0090390")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crocodile Dundee", 6.6, 86630, 1986, 97, "Adventure,Comedy", "nm0265363", "tt0090555")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dutch", 6.5, 10889, 1991, 107, "Comedy,Drama", "nm0265363", "tt0101786")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("About Last Night...", 6.2, 13460, 1986, 113, "Comedy,Drama,Romance", "nm0001880", "tt0090583")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Glory", 7.8, 114419, 1989, 122, "Biography,Drama,History", "nm0001880", "tt0097441")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Legends of the Fall", 7.5, 135746, 1994, 133, "Drama,Romance,War", "nm0001880", "tt0110322")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Courage Under Fire", 6.6, 47451, 1996, 116, "Action,Drama,Mystery", "nm0001880", "tt0115956")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Siege", 6.4, 65322, 1998, 116, "Action,Thriller", "nm0001880", "tt0133952")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Samurai", 7.7, 375005, 2003, 154, "Action,Drama,War", "nm0001880", "tt0325710")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blood Diamond", 8.0, 468853, 2006, 143, "Adventure,Drama,Thriller", "nm0001880", "tt0450259")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Love & Other Drugs", 6.7, 170013, 2010, 112, "Comedy,Drama,Romance", "nm0001880", "tt0758752")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Defiance", 7.2, 131254, 2008, 137, "Action,Drama,History", "nm0001880", "tt1034303")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pawn Sacrifice", 7.0, 35863, 2014, 115, "Biography,Drama,Sport", "nm0001880", "tt1596345")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jack Reacher: Never Go Back", 6.1, 125188, 2016, 118, "Action,Crime,Thriller", "nm0001880", "tt3393786")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("April Fool's Day", 6.2, 12895, 1986, 89, "Horror,Mystery", "nm0910510", "tt0090655")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("At Close Range", 7.0, 13113, 1986, 111, "Crime,Drama", "nm0001226", "tt0090670")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Glengarry Glen Ross", 7.8, 89724, 1992, 100, "Crime,Drama,Mystery", "nm0001226", "tt0104348")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Chamber", 6.0, 12019, 1996, 113, "Crime,Drama", "nm0001226", "tt0115862")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fear", 6.2, 37718, 1996, 97, "Drama,Thriller", "nm0001226", "tt0116287")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Corruptor", 6.1, 16809, 1999, 110, "Action,Crime,Drama", "nm0001226", "tt0142192")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Confidence", 6.7, 32505, 2003, 97, "Crime,Thriller", "nm0001226", "tt0310910")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Perfect Stranger", 5.7, 42863, 2007, 109, "Crime,Drama,Horror", "nm0001226", "tt0457433")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("House of Cards", 8.8, 438192, 2013, 51, "Drama", "nm0001226", "tt1856010")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fifty Shades Darker", 4.6, 83772, 2017, 118, "Drama,Romance", "nm0001226", "tt4465564")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fifty Shades Freed", 4.5, 46116, 2018, 105, "Drama,Romance,Thriller", "nm0001226", "tt4477536")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Over the Top", 5.8, 46788, 1987, 93, "Action,Drama,Sport", "nm0324875", "tt0093692")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Friday the 13th Part VI: Jason Lives", 6.0, 34393, 1986, 86, "Horror,Thriller", "nm0572951", "tt0091080")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Great Mouse Detective", 7.2, 41149, 1986, 74, "Adventure,Animation,Family", "nm0585150", "tt0091149")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Highlander", 7.1, 114625, 1986, 116, "Action,Adventure,Fantasy", "nm0611683", "tt0091203")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tales from the Crypt", 8.0, 19659, 1989, 25, "Comedy,Crime,Fantasy", "nm0611683", "tt0096708")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Highlander II: The Quickening", 4.3, 41636, 1991, 91, "Action,Adventure,Fantasy", "nm0611683", "tt0102034")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ricochet", 6.2, 14997, 1991, 102, "Action,Crime,Drama", "nm0611683", "tt0102789")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Shadow", 6.1, 21917, 1994, 108, "Action,Adventure,Crime", "nm0611683", "tt0111143")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Resident Evil: Extinction", 6.3, 175154, 2007, 94, "Action,Horror,Sci-Fi", "nm0611683", "tt0432021")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Prayers for Bobby", 8.1, 14532, 2009, 90, "Biography,Drama,Romance", "nm0611683", "tt1073510")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Scorpion King: Rise of a Warrior", 3.8, 12265, 2008, 109, "Action,Adventure,Fantasy", "nm0611683", "tt1104123")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Teen Wolf", 7.6, 117429, 2011, 41, "Action,Drama,Fantasy", "nm0611683", "tt1567432")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hitcher", 7.3, 40624, 1986, 97, "Thriller", "nm0363553", "tt0091209")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nowhere to Run", 5.7, 20480, 1993, 94, "Action,Drama,Romance", "nm0363553", "tt0107711")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("They", 4.8, 11984, 2002, 89, "Horror,Mystery,Thriller", "nm0363553", "tt0283632")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hoosiers", 7.5, 40276, 1986, 114, "Drama,Sport", "nm0000770", "tt0091217")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rudy", 7.5, 51373, 1993, 114, "Biography,Drama,Sport", "nm0000770", "tt0108002")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Howard the Duck", 4.7, 40398, 1986, 110, "Action,Adventure,Comedy", "nm0404754", "tt0091225")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Come and See", 8.3, 45095, 1985, 142, "Drama,War", "nm0459552", "tt0091251")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jean de Florette", 8.0, 22602, 1986, 120, "Drama", "nm0001945", "tt0091288")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Manon of the Spring", 8.0, 19368, 1986, 113, "Drama", "nm0001945", "tt0091480")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hunting and Gathering", 6.8, 11126, 2007, 97, "Drama,Romance", "nm0001945", "tt0792965")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jumpin' Jack Flash", 5.9, 17130, 1986, 105, "Comedy,Romance,Thriller", "nm0001508", "tt0091306")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Big", 7.3, 182664, 1988, 104, "Comedy,Drama,Fantasy", "nm0001508", "tt0094737")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Awakenings", 7.8, 113897, 1990, 121, "Biography,Drama", "nm0001508", "tt0099077")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A League of Their Own", 7.2, 85648, 1992, 128, "Comedy,Drama,Family", "nm0001508", "tt0104694")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Renaissance Man", 6.2, 15888, 1994, 128, "Comedy,Drama", "nm0001508", "tt0110971")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Preacher's Wife", 5.6, 10327, 1996, 123, "Comedy,Drama,Fantasy", "nm0001508", "tt0117372")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Riding in Cars with Boys", 6.5, 25584, 2001, 132, "Biography,Comedy,Drama", "nm0001508", "tt0200027")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kin-dza-dza!", 8.1, 10506, 1986, 135, "Comedy,Drama,Sci-Fi", "nm0199381", "tt0091341")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lucas", 6.9, 13670, 1986, 100, "Comedy,Drama,Romance", "nm0783544", "tt0091445")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Luxo Jr.", 7.3, 11901, 1986, 2, "Animation,Family,Short", "nm0005124", "tt0091455")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Knick Knack", 7.5, 12057, 1989, 4, "Animation,Comedy,Family", "nm0005124", "tt0097674")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Toy Story", 8.3, 816037, 1995, 81, "Adventure,Animation,Comedy", "nm0005124", "tt0114709")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Toy Story 2", 7.9, 486695, 1999, 92, "Adventure,Animation,Comedy", "nm0005124", "tt0120363")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Bug's Life", 7.2, 250749, 1998, 95, "Adventure,Animation,Comedy", "nm0005124", "tt0120623")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cars 2", 6.1, 143383, 2011, 106, "Adventure,Animation,Comedy", "nm0005124", "tt1216475")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Maximum Overdrive", 5.5, 28079, 1986, 98, "Action,Comedy,Horror", "nm0000175", "tt0091499")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Money Pit", 6.4, 46789, 1986, 91, "Comedy", "nm0000907", "tt0091541")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Stepmother Is an Alien", 5.3, 23865, 1988, 105, "Comedy,Sci-Fi", "nm0000907", "tt0095687")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mermaids", 6.7, 26669, 1990, 110, "Comedy,Drama,Romance", "nm0000907", "tt0100140")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Made in America", 5.0, 14879, 1993, 111, "Comedy", "nm0000907", "tt0107478")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Milk Money", 5.6, 10786, 1994, 110, "Comedy,Romance", "nm0000907", "tt0110516")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Beautiful Laundrette", 6.8, 13158, 1985, 97, "Comedy,Drama,Romance", "nm0001241", "tt0091578")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dangerous Liaisons", 7.6, 60708, 1988, 119, "Drama,Romance", "nm0001241", "tt0094947")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Grifters", 6.9, 23880, 1990, 110, "Crime,Drama,Thriller", "nm0001241", "tt0099703")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hero", 6.5, 20076, 1992, 119, "Comedy,Drama,Romance", "nm0001241", "tt0104412")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mary Reilly", 5.8, 13404, 1996, 108, "Drama,Horror,Romance", "nm0001241", "tt0117002")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("High Fidelity", 7.5, 159932, 2000, 113, "Comedy,Drama,Music", "nm0001241", "tt0146882")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dirty Pretty Things", 7.3, 38970, 2002, 97, "Crime,Drama,Thriller", "nm0001241", "tt0301199")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mrs Henderson Presents", 7.0, 14692, 2005, 103, "Comedy,Drama,Music", "nm0001241", "tt0413015")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Queen", 7.3, 98910, 2006, 103, "Biography,Drama,History", "nm0001241", "tt0436697")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lay the Favorite", 4.8, 10714, 2012, 94, "Comedy,Drama,Romance", "nm0001241", "tt1132449")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chéri", 6.2, 10117, 2009, 100, "Comedy,Drama,Romance", "nm0001241", "tt1179258")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tamara Drewe", 6.2, 19575, 2010, 107, "Comedy,Drama,Romance", "nm0001241", "tt1486190")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Philomena", 7.6, 89687, 2013, 98, "Biography,Comedy,Drama", "nm0001241", "tt2431286")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Program", 6.5, 14789, 2015, 99, "Biography,Drama,Sport", "nm0001241", "tt3083008")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Florence Foster Jenkins", 6.8, 45941, 2016, 111, "Biography,Comedy,Drama", "nm0001241", "tt4136084")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Victoria & Abdul", 6.8, 26831, 2017, 111, "Biography,Drama,History", "nm0001241", "tt5816682")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Night of the Creeps", 6.8, 18683, 1986, 88, "Comedy,Horror,Sci-Fi", "nm0215269", "tt0091630")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Monster Squad", 7.1, 25321, 1987, 79, "Action,Comedy,Fantasy", "nm0215269", "tt0093560")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("RoboCop 3", 4.1, 43197, 1993, 104, "Action,Crime,Sci-Fi", "nm0215269", "tt0107978")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Platoon", 8.1, 356936, 1986, 120, "Drama,War", "nm0000231", "tt0091763")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Salvador", 7.4, 17996, 1986, 122, "Drama,History,Thriller", "nm0000231", "tt0091886")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wall Street", 7.4, 135985, 1987, 126, "Crime,Drama", "nm0000231", "tt0094291")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Talk Radio", 7.3, 11788, 1988, 110, "Drama", "nm0000231", "tt0096219")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Born on the Fourth of July", 7.2, 91185, 1989, 145, "Biography,Drama,War", "nm0000231", "tt0096969")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Doors", 7.2, 78999, 1991, 140, "Biography,Drama,Music", "nm0000231", "tt0101761")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("JFK", 8.0, 132499, 1991, 189, "Drama,History,Thriller", "nm0000231", "tt0102138")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Heaven & Earth", 6.8, 12488, 1993, 140, "Action,Biography,Drama", "nm0000231", "tt0107096")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Natural Born Killers", 7.3, 203079, 1994, 118, "Crime,Drama", "nm0000231", "tt0110632")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nixon", 7.1, 27284, 1995, 192, "Biography,Drama,History", "nm0000231", "tt0113987")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("U Turn", 6.8, 46991, 1997, 125, "Crime,Drama,Thriller", "nm0000231", "tt0120399")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Any Given Sunday", 6.9, 107368, 1999, 162, "Drama,Sport", "nm0000231", "tt0146838")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alexander", 5.6, 155936, 2004, 175, "Action,Biography,Drama", "nm0000231", "tt0346491")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("World Trade Center", 5.9, 74856, 2006, 129, "Drama,History,Thriller", "nm0000231", "tt0469641")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wall Street: Money Never Sleeps", 6.2, 94272, 2010, 133, "Drama", "nm0000231", "tt1027718")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("W.", 6.3, 44758, 2008, 129, "Biography,Comedy,Drama", "nm0000231", "tt1175491")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Savages", 6.5, 116684, 2012, 131, "Crime,Drama,Thriller", "nm0000231", "tt1615065")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Snowden", 7.3, 122372, 2016, 134, "Biography,Drama,Thriller", "nm0000231", "tt3774114")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Poltergeist II: The Other Side", 5.7, 23193, 1986, 91, "Horror", "nm0001270", "tt0091778")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What's Love Got to Do with It", 7.3, 15839, 1993, 118, "Biography,Drama,Music", "nm0001270", "tt0108551")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Juror", 5.7, 15988, 1996, 118, "Crime,Drama,Thriller", "nm0001270", "tt0116731")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pretty in Pink", 6.8, 68889, 1986, 97, "Comedy,Drama,Romance", "nm0222043", "tt0091790")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Some Kind of Wonderful", 7.1, 25262, 1987, 95, "Drama,Romance", "nm0222043", "tt0094006")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Great Outdoors", 6.7, 36138, 1988, 91, "Comedy", "nm0222043", "tt0095253")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Grumpier Old Men", 6.7, 22712, 1995, 101, "Comedy,Romance", "nm0222043", "tt0113228")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Replacements", 6.6, 55176, 2000, 118, "Comedy,Sport", "nm0222043", "tt0191397")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Whole Ten Yards", 5.5, 51814, 2004, 98, "Comedy,Crime,Thriller", "nm0222043", "tt0327247")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Best Friend's Girl", 5.9, 41146, 2008, 101, "Comedy,Romance", "nm0222043", "tt1046163")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Psycho III", 5.4, 11878, 1986, 93, "Horror,Mystery,Thriller", "nm0000578", "tt0091799")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Raw Deal", 5.6, 28233, 1986, 106, "Action,Crime,Thriller", "nm0410139", "tt0091828")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hamburger Hill", 6.7, 21952, 1987, 110, "Action,Drama,Thriller", "nm0410139", "tt0093137")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("River's Edge", 7.0, 14633, 1986, 99, "Crime,Drama", "nm0006853", "tt0091860")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A No-Rough-Stuff-Type Deal", 8.9, 14137, 2008, 48, "Crime,Drama,Thriller", "nm0006853", "tt1054729")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gotham", 7.8, 198921, 2014, 42, "Action,Crime,Drama", "nm0006853", "tt3749900")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Short Film About Killing", 8.1, 15025, 1988, 84, "Crime,Drama", "nm0001425", "tt0095468")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Double Life of Véronique", 7.8, 37269, 1991, 98, "Drama,Fantasy,Music", "nm0001425", "tt0101765")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Three Colors: Blue", 7.9, 79778, 1993, 98, "Drama,Music,Mystery", "nm0001425", "tt0108394")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Three Colors: Red", 8.1, 81761, 1994, 99, "Drama,Mystery,Romance", "nm0001425", "tt0111495")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Three Colors: White", 7.7, 56883, 1994, 92, "Comedy,Drama,Romance", "nm0001425", "tt0111507")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("DuckTales", 8.1, 26991, 1987, 23, "Adventure,Animation,Comedy", "nm0368906", "tt0092345")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("DuckTales the Movie: Treasure of the Lost Lamp", 6.9, 23581, 1990, 74, "Adventure,Animation,Comedy", "nm0368906", "tt0099472")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Full House", 6.7, 49502, 1987, 22, "Comedy,Drama,Family", "nm0959034", "tt0092359")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Big Fat Greek Wedding", 6.5, 114710, 2002, 95, "Comedy,Drama,Romance", "nm0959034", "tt0259446")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fat Albert", 4.3, 10669, 2004, 93, "Animation,Comedy,Family", "nm0959034", "tt0396592")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Girl Meets World", 7.2, 11858, 2014, 23, "Comedy,Drama,Family", "nm0959034", "tt2543796")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Married... with Children", 8.0, 91050, 1987, 22, "Comedy", "nm0169394", "tt0092400")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Drew Carey Show", 6.8, 14901, 1995, 30, "Comedy,Drama", "nm0169394", "tt0111945")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Trek: The Next Generation", 8.6, 89239, 1987, 44, "Action,Adventure,Mystery", "nm0092853", "tt0092455")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crocodile Dundee II", 5.6, 50610, 1988, 108, "Action,Adventure,Comedy", "nm0180257", "tt0092493")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Adventures in Babysitting", 6.9, 34612, 1987, 102, "Adventure,Comedy,Crime", "nm0001060", "tt0092513")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Home Alone", 7.6, 412898, 1990, 103, "Comedy,Family", "nm0001060", "tt0099785")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Home Alone 2: Lost in New York", 6.7, 268823, 1992, 120, "Adventure,Comedy,Crime", "nm0001060", "tt0104431")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mrs. Doubtfire", 7.0, 225151, 1993, 125, "Comedy,Drama,Family", "nm0001060", "tt0107614")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nine Months", 5.5, 33598, 1995, 103, "Comedy,Romance", "nm0001060", "tt0113986")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stepmom", 6.8, 56728, 1998, 125, "Comedy,Drama", "nm0001060", "tt0120686")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bicentennial Man", 6.9, 103761, 1999, 132, "Comedy,Drama,Sci-Fi", "nm0001060", "tt0182789")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Harry Potter and the Sorcerer's Stone", 7.6, 580807, 2001, 152, "Adventure,Family,Fantasy", "nm0001060", "tt0241527")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rent", 6.9, 47035, 2005, 135, "Drama,Musical,Romance", "nm0001060", "tt0294870")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Harry Potter and the Chamber of Secrets", 7.4, 502797, 2002, 161, "Adventure,Family,Fantasy", "nm0001060", "tt0295297")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Percy Jackson & the Olympians: The Lightning Thief", 5.9, 167297, 2010, 118, "Adventure,Family,Fantasy", "nm0001060", "tt0814255")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Love You, Beth Cooper", 5.3, 32151, 2009, 102, "Comedy,Romance", "nm0001060", "tt1032815")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pixels", 5.6, 122083, 2015, 105, "Action,Comedy,Sci-Fi", "nm0001060", "tt2120120")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Babette's Feast", 7.8, 16658, 1987, 103, "Drama", "nm0002196", "tt0092603")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Baby Boom", 6.2, 12856, 1987, 110, "Comedy,Drama,Romance", "nm0796124", "tt0092605")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Father of the Bride", 6.5, 64147, 1991, 105, "Comedy,Family,Romance", "nm0796124", "tt0101862")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Love Trouble", 5.3, 10933, 1994, 123, "Action,Comedy,Romance", "nm0796124", "tt0110093")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Father of the Bride Part II", 6.0, 31863, 1995, 106, "Comedy,Family,Romance", "nm0796124", "tt0113041")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alfie", 6.2, 48673, 2004, 103, "Comedy,Drama,Romance", "nm0796124", "tt0375173")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bad Taste", 6.6, 41784, 1987, 91, "Comedy,Horror,Sci-Fi", "nm0001392", "tt0092610")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Meet the Feebles", 6.7, 17964, 1989, 97, "Comedy,Music,Musical", "nm0001392", "tt0097858")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dead Alive", 7.5, 87403, 1992, 104, "Comedy,Horror", "nm0001392", "tt0103873")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Heavenly Creatures", 7.3, 56489, 1994, 99, "Biography,Crime,Drama", "nm0001392", "tt0110005")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Frighteners", 7.1, 77706, 1996, 110, "Comedy,Fantasy,Horror", "nm0001392", "tt0116365")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lord of the Rings: The Fellowship of the Ring", 8.8, 1537772, 2001, 178, "Adventure,Drama,Fantasy", "nm0001392", "tt0120737")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lord of the Rings: The Return of the King", 8.9, 1522288, 2003, 201, "Adventure,Drama,Fantasy", "nm0001392", "tt0167260")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lord of the Rings: The Two Towers", 8.7, 1376935, 2002, 179, "Adventure,Drama,Fantasy", "nm0001392", "tt0167261")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("King Kong", 7.2, 371747, 2005, 187, "Action,Adventure,Drama", "nm0001392", "tt0360717")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lovely Bones", 6.7, 147448, 2009, 135, "Drama,Fantasy,Thriller", "nm0001392", "tt0380510")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hobbit: An Unexpected Journey", 7.8, 726299, 2012, 169, "Adventure,Fantasy", "nm0001392", "tt0903624")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hobbit: The Desolation of Smaug", 7.8, 571837, 2013, 161, "Adventure,Fantasy", "nm0001392", "tt1170358")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hobbit: The Battle of the Five Armies", 7.4, 444966, 2014, 144, "Adventure,Fantasy", "nm0001392", "tt2310332")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("They Shall Not Grow Old", 8.3, 18728, 2018, 99, "Documentary,History,War", "nm0001392", "tt7905466")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Barfly", 7.2, 17532, 1987, 100, "Comedy,Drama,Romance", "nm0775447", "tt0092618")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Reversal of Fortune", 7.2, 13481, 1990, 111, "Biography,Drama,Mystery", "nm0775447", "tt0100486")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Single White Female", 6.4, 29405, 1992, 107, "Drama,Thriller", "nm0775447", "tt0105414")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kiss of Death", 5.9, 16045, 1995, 101, "Action,Crime,Thriller", "nm0775447", "tt0113552")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Desperate Measures", 6.1, 15189, 1998, 100, "Action,Crime,Drama", "nm0775447", "tt0118966")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Murder by Numbers", 6.2, 50437, 2002, 115, "Crime,Mystery,Thriller", "nm0775447", "tt0264935")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Big Easy", 6.6, 10870, 1986, 102, "Comedy,Crime,Drama", "nm0564319", "tt0092654")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Great Balls of Fire!", 6.2, 14585, 1989, 108, "Biography,Drama,Music", "nm0564319", "tt0097457")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bloodsport", 6.8, 70538, 1988, 92, "Action,Biography,Drama", "nm0036582", "tt0092675")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Brave Little Toaster", 7.3, 22507, 1987, 90, "Adventure,Animation,Family", "nm0715916", "tt0092695")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Can't Buy Me Love", 6.8, 30009, 1987, 94, "Comedy,Drama,Romance", "nm0711114", "tt0092718")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Son in Law", 5.8, 16313, 1993, 95, "Comedy,Drama,Romance", "nm0711114", "tt0108186")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Pie Presents: Band Camp", 5.0, 64567, 2005, 87, "Comedy,Music", "nm0711114", "tt0436058")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bring It On: All or Nothing", 5.6, 17163, 2006, 99, "Comedy,Sport", "nm0711114", "tt0490822")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bring It On: In It to Win It", 5.2, 10914, 2007, 90, "Comedy,Sport", "nm0711114", "tt0972785")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Road Trip: Beer Pong", 4.9, 10822, 2009, 95, "Comedy", "nm0711114", "tt1319733")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Creepshow 2", 6.1, 20263, 1987, 92, "Comedy,Fantasy,Horror", "nm0331193", "tt0092796")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dirty Dancing", 7.0, 180565, 1987, 100, "Drama,Music,Romance", "nm0001915", "tt0092890")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("3 Men and a Little Lady", 5.4, 21038, 1990, 104, "Comedy,Drama,Family", "nm0001915", "tt0098966")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sister Act", 6.4, 80195, 1992, 100, "Comedy,Crime,Family", "nm0001915", "tt0105417")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dragnet", 6.0, 29846, 1987, 106, "Comedy,Crime", "nm0542539", "tt0092925")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eddie Murphy: Raw", 7.7, 17353, 1987, 93, "Comedy,Documentary", "nm0870186", "tt0092948")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ernest Goes to Camp", 5.5, 10350, 1987, 92, "Comedy,Family", "nm0156047", "tt0092974")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ernest Scared Stupid", 5.7, 10057, 1991, 91, "Comedy,Family,Fantasy", "nm0156047", "tt0101821")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Gate", 6.1, 13566, 1987, 85, "Fantasy,Horror", "nm0847749", "tt0093075")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Harry and the Hendersons", 6.0, 29127, 1987, 110, "Comedy,Family,Fantasy", "nm0213100", "tt0093148")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Angels in the Outfield", 6.1, 27046, 1994, 102, "Comedy,Family,Fantasy", "nm0213100", "tt0109127")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hellraiser", 7.0, 94100, 1987, 94, "Horror,Thriller", "nm0000850", "tt0093177")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nightbreed", 6.6, 17934, 1990, 102, "Action,Fantasy,Horror", "nm0000850", "tt0100260")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lord of Illusions", 6.1, 13597, 1995, 109, "Horror,Mystery,Thriller", "nm0000850", "tt0113690")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("House of Games", 7.3, 19160, 1987, 102, "Crime,Thriller", "nm0000519", "tt0093223")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Spanish Prisoner", 7.2, 20802, 1997, 110, "Drama,Mystery,Thriller", "nm0000519", "tt0120176")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("State and Main", 6.7, 19677, 2000, 105, "Comedy,Drama", "nm0000519", "tt0120202")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Heist", 6.5, 31599, 2001, 109, "Action,Crime,Drama", "nm0000519", "tt0252503")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spartan", 6.5, 28448, 2004, 106, "Action,Crime,Drama", "nm0000519", "tt0360009")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Redbelt", 6.7, 19864, 2008, 99, "Drama,Sport", "nm0000519", "tt1012804")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("La Bamba", 6.9, 25772, 1987, 108, "Biography,Drama,Music", "nm0883609", "tt0093378")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Less Than Zero", 6.4, 17174, 1987, 98, "Crime,Drama", "nm0437709", "tt0093407")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mannequin", 5.9, 27125, 1987, 90, "Comedy,Fantasy,Romance", "nm0331998", "tt0093493")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Masters of the Universe", 5.4, 34452, 1987, 106, "Action,Adventure,Fantasy", "nm0323787", "tt0093507")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mr. India", 7.8, 12557, 1987, 179, "Action,Comedy,Drama", "nm0001408", "tt0093578")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Elizabeth", 7.4, 86847, 1998, 124, "Biography,Drama,History", "nm0001408", "tt0127536")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Four Feathers", 6.5, 31310, 2002, 132, "Adventure,Drama,Romance", "nm0001408", "tt0240510")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Elizabeth: The Golden Age", 6.8, 63145, 2007, 114, "Biography,Drama,History", "nm0001408", "tt0414055")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nayakan", 8.7, 13591, 1987, 145, "Crime,Drama", "nm0711745", "tt0093603")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Roja", 8.2, 10566, 1992, 137, "Drama,Romance,Thriller", "nm0711745", "tt0105271")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Die Hard", 8.2, 731237, 1988, 132, "Action,Thriller", "nm0001532", "tt0095016")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hunt for Red October", 7.6, 166710, 1990, 135, "Action,Adventure,Thriller", "nm0001532", "tt0099810")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Medicine Man", 6.0, 19964, 1992, 106, "Adventure,Drama,Romance", "nm0001532", "tt0104839")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Last Action Hero", 6.4, 127542, 1993, 130, "Action,Adventure,Comedy", "nm0001532", "tt0107362")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Die Hard with a Vengeance", 7.6, 344966, 1995, 128, "Action,Adventure,Thriller", "nm0001532", "tt0112864")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Thomas Crown Affair", 6.8, 82511, 1999, 113, "Crime,Romance,Thriller", "nm0001532", "tt0155267")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rollerball", 3.1, 24675, 2002, 98, "Action,Sci-Fi,Sport", "nm0001532", "tt0246894")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Basic", 6.5, 56697, 2003, 98, "Action,Crime,Drama", "nm0001532", "tt0264395")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Revenge of the Nerds II: Nerds in Paradise", 5.1, 12654, 1987, 88, "Comedy", "nm0005387", "tt0093857")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("America's Sweethearts", 5.7, 52763, 2001, 102, "Comedy,Romance", "nm0005387", "tt0265029")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Freedomland", 5.1, 14884, 2006, 113, "Crime,Drama,Mystery", "nm0005387", "tt0349467")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Christmas with the Kranks", 5.3, 37350, 2004, 99, "Comedy,Family", "nm0005387", "tt0388419")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Roxanne", 6.6, 38179, 1987, 107, "Comedy,Romance", "nm0770961", "tt0093886")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Russia House", 6.1, 13484, 1990, 123, "Drama,Romance,Thriller", "nm0770961", "tt0100530")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Six Degrees of Separation", 6.8, 18839, 1993, 112, "Comedy,Drama,Mystery", "nm0770961", "tt0108149")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I.Q.", 6.2, 22430, 1994, 100, "Comedy,Romance", "nm0770961", "tt0110099")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fierce Creatures", 6.4, 22052, 1997, 93, "Comedy", "nm0770961", "tt0119115")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Running Man", 6.7, 132904, 1987, 101, "Action,Sci-Fi,Thriller", "nm0001274", "tt0093894")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Cutting Edge", 6.9, 17736, 1992, 101, "Comedy,Drama,Romance", "nm0001274", "tt0104040")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kazaam", 3.0, 22042, 1996, 93, "Comedy,Family,Fantasy", "nm0001274", "tt0116756")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stand and Deliver", 7.3, 14898, 1988, 103, "Biography,Drama", "nm0579466", "tt0094027")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Teen Wolf Too", 3.3, 10240, 1987, 95, "Comedy,Fantasy", "nm0500609", "tt0094118")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Three O'Clock High", 7.2, 10053, 1987, 97, "Comedy", "nm0423333", "tt0094138")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("State of Grace", 7.2, 19634, 1990, 134, "Action,Crime,Drama", "nm0423333", "tt0100685")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Final Analysis", 5.9, 12460, 1992, 124, "Drama,Thriller", "nm0423333", "tt0104265")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gridiron Gang", 6.9, 42588, 2006, 125, "Biography,Crime,Drama", "nm0423333", "tt0421206")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Throw Momma from the Train", 6.2, 31400, 1987, 88, "Comedy,Crime,Thriller", "nm0000362", "tt0094142")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The War of the Roses", 6.8, 45089, 1989, 116, "Comedy,Romance", "nm0000362", "tt0098621")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hoffa", 6.6, 19888, 1992, 140, "Biography,Crime,Drama", "nm0000362", "tt0104427")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Matilda", 6.9, 114411, 1996, 98, "Comedy,Family,Fantasy", "nm0000362", "tt0117008")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Death to Smoochy", 6.3, 37502, 2002, 109, "Comedy,Crime,Drama", "nm0000362", "tt0266452")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Duplex", 5.9, 52760, 2003, 89, "Comedy", "nm0000362", "tt0266489")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Withnail & I", 7.7, 37015, 1987, 107, "Comedy,Drama", "nm0732430", "tt0094336")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jennifer 8", 6.3, 14330, 1992, 124, "Crime,Drama,Mystery", "nm0732430", "tt0104549")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Rum Diary", 6.2, 95426, 2011, 119, "Comedy,Drama", "nm0732430", "tt0376136")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mystery Science Theater 3000", 8.6, 22086, 1988, 92, "Comedy,Sci-Fi", "nm0625621", "tt0094517")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Poirot", 8.6, 33988, 1989, 100, "Crime,Drama,Mystery", "nm0071734", "tt0094525")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Red Dwarf", 8.4, 31109, 1988, 30, "Adventure,Comedy,Sci-Fi", "nm0125753", "tt0094535")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bottom", 8.2, 10943, 1991, 30, "Comedy", "nm0125753", "tt0103376")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kevin & Perry Go Large", 5.6, 11770, 2000, 82, "Comedy,Music", "nm0125753", "tt0205177")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Roseanne", 7.0, 37781, 1988, 21, "Comedy,Drama", "nm0533383", "tt0094540")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Just Shoot Me!", 6.8, 16355, 1997, 30, "Comedy", "nm0533383", "tt0118364")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("According to Jim", 6.4, 32604, 2001, 30, "Comedy,Romance", "nm0533383", "tt0285351")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wonder Years", 8.3, 32189, 1988, 22, "Comedy,Drama,Family", "nm0227781", "tt0094582")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Unbelievable", 8.6, 23091, 2019, 58, "Crime,Drama", "nm0227781", "tt7909970")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Above the Law", 6.0, 26796, 1988, 99, "Action,Crime,Drama", "nm0001112", "tt0094602")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Under Siege", 6.5, 71793, 1992, 103, "Action,Thriller", "nm0001112", "tt0105690")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fugitive", 7.8, 249060, 1993, 130, "Action,Crime,Drama", "nm0001112", "tt0106977")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chain Reaction", 5.6, 45863, 1996, 107, "Action,Drama,Sci-Fi", "nm0001112", "tt0115857")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Perfect Murder", 6.5, 74347, 1998, 107, "Crime,Drama,Thriller", "nm0001112", "tt0120787")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Collateral Damage", 5.5, 69198, 2002, 108, "Action,Drama,Thriller", "nm0001112", "tt0233469")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Holes", 7.0, 71294, 2003, 117, "Adventure,Comedy,Drama", "nm0001112", "tt0311289")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Guardian", 6.9, 83932, 2006, 139, "Adventure,Drama", "nm0001112", "tt0406816")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Accused", 7.1, 29374, 1988, 111, "Crime,Drama", "nm0438279", "tt0094608")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Unlawful Entry", 6.3, 13567, 1992, 117, "Crime,Drama,Thriller", "nm0438279", "tt0105699")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bad Girls", 5.2, 11056, 1994, 99, "Action,Adventure,Romance", "nm0438279", "tt0109198")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brokedown Palace", 6.5, 20826, 1999, 100, "Drama,Mystery,Thriller", "nm0438279", "tt0120620")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Akira", 8.1, 144765, 1988, 124, "Animation,Drama,Sci-Fi", "nm0960028", "tt0094625")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Steamboy", 6.9, 15916, 2004, 126, "Action,Adventure,Animation", "nm0960028", "tt0348121")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blackadder's Christmas Carol", 8.0, 11184, 1988, 43, "Comedy,History", "nm0090877", "tt0094754")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blackadder Goes Forth", 8.8, 44547, 1989, 175, "Comedy,War", "nm0090877", "tt0096548")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bull Durham", 7.1, 44398, 1988, 108, "Comedy,Romance,Sport", "nm0005421", "tt0094812")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("White Men Can't Jump", 6.8, 70181, 1992, 115, "Comedy,Drama,Sport", "nm0005421", "tt0105812")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tin Cup", 6.3, 43567, 1996, 135, "Comedy,Drama,Romance", "nm0005421", "tt0117918")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Play It to the Bone", 5.5, 11144, 1999, 124, "Comedy,Drama,Sport", "nm0005421", "tt0196857")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dark Blue", 6.6, 19561, 2002, 118, "Crime,Drama,Thriller", "nm0005421", "tt0279331")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hollywood Homicide", 5.3, 34561, 2003, 116, "Action,Comedy,Crime", "nm0005421", "tt0329717")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Caddyshack II", 3.8, 14142, 1988, 98, "Comedy,Sport", "nm0035106", "tt0094824")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Series of Unfortunate Events", 7.8, 48316, 2017, 50, "Adventure,Comedy,Drama", "nm0035106", "tt4834206")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cocoon: The Return", 5.4, 14529, 1988, 116, "Adventure,Comedy,Mystery", "nm0677951", "tt0094890")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Critters 2", 5.5, 12896, 1988, 86, "Comedy,Horror,Sci-Fi", "nm0308376", "tt0094919")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sleepwalkers", 5.3, 18762, 1992, 91, "Horror", "nm0308376", "tt0105428")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Stand", 7.2, 29424, 1994, 361, "Adventure,Drama,Fantasy", "nm0308376", "tt0108941")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Shining", 6.1, 14496, 1997, 273, "Drama,Fantasy,Horror", "nm0308376", "tt0118460")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Desperation", 5.3, 10390, 2006, 131, "Drama,Fantasy,Horror", "nm0308376", "tt0129871")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eight Men Out", 7.2, 17464, 1988, 119, "Drama,History,Sport", "nm0000626", "tt0095082")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lone Star", 7.4, 26450, 1996, 135, "Drama,Mystery", "nm0000626", "tt0116905")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Elvira: Mistress of the Dark", 6.5, 11818, 1988, 96, "Comedy,Horror", "nm0797526", "tt0095088")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Friday the 13th Part VII: The New Blood", 5.3, 29124, 1988, 88, "Horror,Thriller", "nm0119106", "tt0095179")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Halloween 4: The Return of Michael Myers", 5.9, 39994, 1988, 88, "Horror,Thriller", "nm0514546", "tt0095271")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Marked for Death", 6.0, 18350, 1990, 93, "Action,Adventure,Crime", "nm0514546", "tt0100114")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Free Willy 2: The Adventure Home", 5.0, 15956, 1995, 95, "Adventure,Drama,Family", "nm0514546", "tt0113114")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Murder at 1600", 6.1, 26985, 1997, 107, "Action,Crime,Drama", "nm0514546", "tt0119731")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Anacondas: The Hunt for the Blood Orchid", 4.6, 26724, 2004, 97, "Action,Adventure,Horror", "nm0514546", "tt0366174")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tekken", 4.8, 25129, 2010, 87, "Action,Crime,Drama", "nm0514546", "tt0411951")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hellbound: Hellraiser II", 6.5, 38117, 1988, 97, "Horror,Thriller", "nm0709752", "tt0095294")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Grave of the Fireflies", 8.5, 203456, 1988, 89, "Animation,Drama,War", "nm0847223", "tt0095327")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Only Yesterday", 7.7, 20141, 1991, 118, "Animation,Drama,Romance", "nm0847223", "tt0102587")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pom Poko", 7.3, 19956, 1994, 119, "Animation,Comedy,Drama", "nm0847223", "tt0110008")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Tale of The Princess Kaguya", 8.0, 29961, 2013, 137, "Adventure,Animation,Drama", "nm0847223", "tt2576852")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I'm Gonna Git You Sucka", 6.6, 11558, 1988, 88, "Action,Comedy,Crime", "nm0005540", "tt0095348")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scary Movie", 6.2, 217881, 2000, 88, "Comedy", "nm0005540", "tt0175142")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scary Movie 2", 5.3, 140564, 2001, 83, "Comedy", "nm0005540", "tt0257106")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("White Chicks", 5.6, 121095, 2004, 109, "Comedy,Crime", "nm0005540", "tt0381707")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Little Man", 4.4, 47238, 2006, 98, "Comedy,Crime", "nm0005540", "tt0430304")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Killer Klowns from Outer Space", 6.2, 29672, 1988, 88, "Comedy,Horror,Sci-Fi", "nm0158014", "tt0095444")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("How to Lose a Guy in 10 Days", 6.4, 194337, 2003, 116, "Comedy,Romance", "nm0677953", "tt0251127")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Welcome to Mooseport", 5.2, 11763, 2004, 110, "Comedy,Romance", "nm0677953", "tt0361925")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Just My Luck", 5.4, 51329, 2006, 103, "Comedy,Fantasy,Romance", "nm0677953", "tt0397078")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Life in Ruins", 5.9, 17545, 2009, 95, "Comedy,Romance", "nm0677953", "tt0865559")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alice", 7.5, 10482, 1988, 86, "Adventure,Animation,Fantasy", "nm0840905", "tt0095715")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Nightmare on Elm Street 4: The Dream Master", 5.7, 46054, 1988, 93, "Horror", "nm0001317", "tt0095742")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Adventures of Ford Fairlane", 6.5, 16378, 1990, 104, "Action,Adventure,Comedy", "nm0001317", "tt0098987")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Die Hard 2", 7.2, 316985, 1990, 124, "Action,Thriller", "nm0001317", "tt0099423")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cliffhanger", 6.4, 112994, 1993, 113, "Action,Adventure,Thriller", "nm0001317", "tt0106582")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cutthroat Island", 5.7, 24564, 1995, 124, "Action,Adventure,Comedy", "nm0001317", "tt0112760")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Long Kiss Goodnight", 6.8, 68338, 1996, 121, "Action,Crime,Drama", "nm0001317", "tt0116908")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Driven", 4.6, 37878, 2001, 116, "Action,Drama,Sport", "nm0001317", "tt0132245")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Deep Blue Sea", 5.8, 117027, 1999, 105, "Action,Adventure,Sci-Fi", "nm0001317", "tt0149261")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Exorcist: The Beginning", 5.1, 31977, 2004, 114, "Horror,Mystery,Thriller", "nm0001317", "tt0204313")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mindhunters", 6.4, 55593, 2004, 106, "Crime,Horror,Mystery", "nm0001317", "tt0297284")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Covenant", 5.3, 44802, 2006, 97, "Action,Fantasy,Horror", "nm0001317", "tt0475944")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cleaner", 6.1, 36025, 2007, 88, "Crime,Mystery,Thriller", "nm0001317", "tt0896798")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Legend of Hercules", 4.2, 50780, 2014, 99, "Action,Adventure,Fantasy", "nm0001317", "tt1043726")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("12 Rounds", 5.6, 26152, 2009, 108, "Action,Crime,Thriller", "nm0001317", "tt1160368")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("5 Days of War", 5.6, 13179, 2011, 113, "Action,Drama,War", "nm0001317", "tt1486193")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Devil's Pass", 5.7, 21164, 2013, 100, "Horror,Mystery,Thriller", "nm0001317", "tt1905040")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Skiptrace", 5.7, 17465, 2016, 107, "Action,Adventure,Comedy", "nm0001317", "tt2238032")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cinema Paradiso", 8.5, 206664, 1988, 155, "Drama", "nm0868153", "tt0095765")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Legend of 1900", 8.1, 53480, 1998, 170, "Drama,Music,Romance", "nm0868153", "tt0120731")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Malena", 7.5, 81751, 2000, 108, "Comedy,Drama,Romance", "nm0868153", "tt0213847")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Unknown Woman", 7.4, 12829, 2006, 118, "Drama,Mystery,Thriller", "nm0868153", "tt0494271")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Best Offer", 7.8, 97933, 2013, 131, "Crime,Drama,Mystery", "nm0868153", "tt1924396")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Oliver & Company", 6.7, 40176, 1988, 74, "Adventure,Animation,Comedy", "nm0780117", "tt0095776")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bagdad Cafe", 7.4, 11440, 1987, 95, "Comedy,Drama", "nm0000727", "tt0095801")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Police Academy 5: Assignment: Miami Beach", 4.6, 30622, 1988, 90, "Comedy,Crime", "nm0002887", "tt0095882")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Boy Meets World", 8.1, 36410, 1993, 23, "Comedy,Drama,Family", "nm0002887", "tt0105958")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Poltergeist III", 4.7, 15800, 1988, 98, "Horror,Thriller", "nm0792446", "tt0095889")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pumpkinhead", 6.2, 18336, 1988, 86, "Fantasy,Horror", "nm0935644", "tt0095925")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rambo III", 5.8, 112762, 1988, 102, "Action,Adventure,Thriller", "nm0003423", "tt0095956")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The NeverEnding Story III", 3.2, 10381, 1994, 95, "Adventure,Comedy,Family", "nm0003423", "tt0110647")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Legionnaire", 5.4, 21481, 1998, 99, "Action,Adventure,Drama", "nm0003423", "tt0126388")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Return of the Living Dead II", 5.8, 17026, 1988, 89, "Comedy,Horror,Sci-Fi", "nm0927296", "tt0095990")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Seventh Sign", 5.9, 12317, 1988, 97, "Drama,Fantasy,Horror", "nm0776209", "tt0096073")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shoot to Kill", 6.8, 10869, 1988, 110, "Action,Adventure,Crime", "nm0006854", "tt0096098")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Turner & Hooch", 6.1, 59072, 1989, 97, "Comedy,Crime,Drama", "nm0006854", "tt0098536")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Air America", 5.8, 25572, 1990, 113, "Action,Comedy,War", "nm0006854", "tt0099005")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stop! Or My Mom Will Shoot", 4.3, 36386, 1992, 87, "Action,Comedy,Family", "nm0006854", "tt0105477")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tomorrow Never Dies", 6.5, 170685, 1997, 119, "Action,Adventure,Thriller", "nm0006854", "tt0120347")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The 6th Day", 5.9, 111711, 2000, 123, "Action,Mystery,Sci-Fi", "nm0006854", "tt0216216")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Street Cat Named Bob", 7.4, 23863, 2016, 103, "Biography,Comedy,Drama", "nm0006854", "tt3606888")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Vanishing", 7.8, 30562, 1988, 107, "Mystery,Thriller", "nm0806293", "tt0096163")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Vanishing", 6.3, 21872, 1993, 109, "Drama,Horror,Mystery", "nm0806293", "tt0108473")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tequila Sunrise", 6.1, 27029, 1988, 115, "Crime,Drama,Romance", "nm0001801", "tt0096244")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tetsuo: The Iron Man", 7.0, 17399, 1989, 67, "Horror,Sci-Fi", "nm0875354", "tt0096251")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Thin Blue Line", 8.0, 20126, 1988, 101, "Crime,Documentary,Drama", "nm0001554", "tt0096257")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fog of War: Eleven Lessons from the Life of Robert S. McNamara", 8.1, 21930, 2003, 107, "Biography,Documentary,History", "nm0001554", "tt0317910")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Young Guns", 6.9, 51065, 1988, 107, "Action,Western", "nm0128883", "tt0096487")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Next Karate Kid", 4.4, 23496, 1994, 107, "Action,Drama,Family", "nm0128883", "tt0110657")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Baywatch", 5.2, 23166, 1989, 60, "Action,Adventure,Crime", "nm0930041", "tt0096542")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chip 'n' Dale Rescue Rangers", 7.6, 15527, 1988, 22, "Adventure,Animation,Comedy", "nm0453809", "tt0096557")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Family Matters", 6.5, 22583, 1989, 30, "Adventure,Comedy,Drama", "nm0180902", "tt0096579")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Step by Step", 6.5, 11456, 1991, 30, "Comedy,Family,Romance", "nm0180902", "tt0101205")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("That's So Raven", 6.5, 16310, 2003, 30, "Comedy,Family,Fantasy", "nm0180902", "tt0300865")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mr. Bean", 8.5, 91007, 1990, 350, "Comedy,Family", "nm0083606", "tt0096657")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Quantum Leap", 8.1, 24219, 1989, 60, "Action,Adventure,Drama", "nm0926215", "tt0096684")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Saved by the Bell", 7.0, 29172, 1989, 30, "Comedy,Family,Romance", "nm0793727", "tt0096694")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Simpsons", 8.7, 339670, 1989, 22, "Animation,Comedy", "nm0027214", "tt0096697")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Going Overboard", 1.8, 11815, 1989, 99, "Comedy", "nm0106928", "tt0096870")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Best of the Best", 6.4, 11227, 1989, 97, "Action,Drama,Sport", "nm0705675", "tt0096913")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blind Fury", 6.4, 13537, 1989, 86, "Action,Comedy,Crime", "nm0637518", "tt0096945")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dead Calm", 6.8, 34456, 1989, 96, "Horror,Thriller", "nm0637518", "tt0097162")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Patriot Games", 6.9, 95458, 1992, 117, "Action,Thriller", "nm0637518", "tt0105112")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sliver", 5.0, 26875, 1993, 107, "Drama,Thriller", "nm0637518", "tt0108162")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Clear and Present Danger", 6.9, 83008, 1994, 141, "Action,Crime,Drama", "nm0637518", "tt0109444")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Saint", 6.2, 58961, 1997, 116, "Action,Adventure,Romance", "nm0637518", "tt0120053")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bone Collector", 6.7, 144171, 1999, 118, "Crime,Drama,Mystery", "nm0637518", "tt0145681")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rabbit-Proof Fence", 7.4, 26231, 2002, 94, "Adventure,Biography,Drama", "nm0637518", "tt0252444")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Quiet American", 7.0, 26298, 2002, 101, "Drama,Romance,Thriller", "nm0637518", "tt0258068")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Giver", 6.5, 106472, 2014, 97, "Drama,Romance,Sci-Fi", "nm0637518", "tt0435651")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Salt", 6.4, 280141, 2010, 100, "Action,Mystery,Thriller", "nm0637518", "tt0944835")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Adventures of Milo and Otis", 7.0, 10005, 1986, 90, "Adventure,Drama,Family", "nm0368675", "tt0097050")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Cook, the Thief, His Wife & Her Lover", 7.6, 32186, 1989, 124, "Crime,Drama", "nm0000425", "tt0097108")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Pillow Book", 6.7, 11784, 1996, 126, "Drama", "nm0000425", "tt0114134")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cyborg", 5.1, 27390, 1989, 86, "Action,Sci-Fi,Thriller", "nm0089502", "tt0097138")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Captain America", 3.2, 10457, 1990, 97, "Action,Adventure,Sci-Fi", "nm0089502", "tt0103923")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Do the Right Thing", 7.9, 76959, 1989, 120, "Comedy,Drama", "nm0000490", "tt0097216")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mo' Better Blues", 6.6, 10074, 1990, 129, "Drama,Music,Romance", "nm0000490", "tt0100168")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jungle Fever", 6.5, 15736, 1991, 132, "Drama,Romance", "nm0000490", "tt0102175")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Malcolm X", 7.7, 76966, 1992, 202, "Biography,Drama,History", "nm0000490", "tt0104797")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Clockers", 6.9, 19207, 1995, 128, "Crime,Drama,Mystery", "nm0000490", "tt0112688")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("He Got Game", 6.9, 41692, 1998, 136, "Drama,Sport", "nm0000490", "tt0124718")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Summer of Sam", 6.7, 34424, 1999, 142, "Crime,Drama,Romance", "nm0000490", "tt0162677")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("25th Hour", 7.6, 163766, 2002, 135, "Drama", "nm0000490", "tt0307901")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Inside Man", 7.6, 317354, 2006, 129, "Crime,Drama,Mystery", "nm0000490", "tt0454848")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Miracle at St. Anna", 6.1, 17259, 2008, 160, "Action,Drama,War", "nm0000490", "tt1046997")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Oldboy", 5.7, 64339, 2013, 104, "Action,Drama,Mystery", "nm0000490", "tt1321511")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("BlacKkKlansman", 7.5, 164783, 2018, 135, "Biography,Crime,Drama", "nm0000490", "tt7349662")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Time of the Gypsies", 8.3, 22779, 1988, 142, "Comedy,Crime,Drama", "nm0001437", "tt0097223")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Arizona Dream", 7.4, 38971, 1993, 142, "Comedy,Drama,Fantasy", "nm0001437", "tt0106307")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Underground", 8.1, 51533, 1995, 170, "Comedy,Drama,War", "nm0001437", "tt0114787")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Truth About Cats & Dogs", 6.2, 24153, 1996, 97, "Comedy,Romance", "nm0499724", "tt0117979")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("40 Days and 40 Nights", 5.6, 67935, 2002, 96, "Comedy,Romance", "nm0499724", "tt0243736")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Because I Said So", 5.7, 36062, 2007, 102, "Comedy,Romance", "nm0499724", "tt0490084")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("True Blood", 7.9, 220829, 2008, 55, "Drama,Fantasy,Mystery", "nm0499724", "tt0844441")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bored to Death", 7.9, 30361, 2009, 28, "Comedy,Crime,Drama", "nm0499724", "tt1255913")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Brink", 7.8, 12467, 2015, 30, "Comedy", "nm0499724", "tt3216586")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Henry V", 7.5, 26809, 1989, 137, "Action,Biography,Drama", "nm0000110", "tt0097499")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dead Again", 6.9, 24657, 1991, 107, "Crime,Drama,Mystery", "nm0000110", "tt0101669")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Much Ado About Nothing", 7.3, 42816, 1993, 111, "Comedy,Drama,Romance", "nm0000110", "tt0107616")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mary Shelley's Frankenstein", 6.4, 48407, 1994, 123, "Drama,Horror,Romance", "nm0000110", "tt0109836")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hamlet", 7.8, 34484, 1996, 242, "Drama", "nm0000110", "tt0116477")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thor", 7.0, 697941, 2011, 115, "Action,Adventure,Fantasy", "nm0000110", "tt0800369")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sleuth", 6.5, 29258, 2007, 88, "Crime,Drama,Mystery", "nm0000110", "tt0857265")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jack Ryan: Shadow Recruit", 6.2, 116460, 2014, 105, "Action,Crime,Drama", "nm0000110", "tt1205537")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cinderella", 6.9, 146765, 2015, 105, "Drama,Family,Fantasy", "nm0000110", "tt1661199")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Murder on the Orient Express", 6.5, 183946, 2017, 114, "Crime,Drama,Mystery", "nm0000110", "tt3402236")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Honey, I Shrunk the Kids", 6.3, 131995, 1989, 93, "Adventure,Comedy,Family", "nm0002653", "tt0097523")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Rocketeer", 6.4, 49250, 1991, 108, "Action,Adventure,Family", "nm0002653", "tt0102803")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jumanji", 7.0, 276118, 1995, 104, "Adventure,Comedy,Family", "nm0002653", "tt0113497")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("October Sky", 7.8, 76561, 1999, 108, "Biography,Drama,Family", "nm0002653", "tt0132477")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jurassic Park III", 5.9, 279002, 2001, 92, "Action,Adventure,Sci-Fi", "nm0002653", "tt0163025")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hidalgo", 6.7, 74520, 2004, 136, "Action,Adventure,Biography", "nm0002653", "tt0317648")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Captain America: The First Avenger", 6.9, 684233, 2011, 124, "Action,Adventure,Sci-Fi", "nm0002653", "tt0458339")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wolfman", 5.8, 98952, 2010, 103, "Drama,Fantasy,Horror", "nm0002653", "tt0780653")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kickboxer", 6.4, 45657, 1989, 97, "Action,Sport,Thriller", "nm0228262", "tt0097659")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Little Mermaid", 7.6, 218299, 1989, 83, "Animation,Family,Fantasy", "nm0166256", "tt0097757")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Aladdin", 8.0, 333390, 1992, 90, "Adventure,Animation,Comedy", "nm0166256", "tt0103639")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hercules", 7.3, 187132, 1997, 93, "Adventure,Animation,Comedy", "nm0166256", "tt0119282")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Treasure Planet", 7.2, 92612, 2002, 95, "Adventure,Animation,Family", "nm0166256", "tt0133240")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Princess and the Frog", 7.1, 112562, 2009, 97, "Adventure,Animation,Comedy", "nm0166256", "tt0780521")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Moana", 7.6, 233010, 2016, 107, "Adventure,Animation,Comedy", "nm0166256", "tt3521164")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Little Monsters", 6.1, 10332, 1989, 100, "Adventure,Comedy,Family", "nm0338572", "tt0097758")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lock Up", 6.4, 35657, 1989, 109, "Action,Crime,Drama", "nm0283500", "tt0097770")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Out for Justice", 6.1, 20144, 1991, 91, "Action,Crime,Drama", "nm0283500", "tt0102614")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Major League", 7.2, 57804, 1989, 107, "Comedy,Sport", "nm0911486", "tt0097815")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("King Ralph", 5.3, 14398, 1991, 97, "Comedy,Romance", "nm0911486", "tt0102216")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Major League II", 5.6, 23709, 1994, 105, "Comedy,Sport", "nm0911486", "tt0110442")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Down Periscope", 6.1, 19847, 1996, 92, "Comedy", "nm0911486", "tt0116130")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Left Foot", 7.9, 62130, 1989, 103, "Biography,Drama", "nm0006487", "tt0097937")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In the Name of the Father", 8.1, 143978, 1993, 133, "Biography,Drama", "nm0006487", "tt0107207")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Boxer", 7.1, 17527, 1997, 113, "Drama,Romance,Sport", "nm0006487", "tt0118760")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In America", 7.7, 39256, 2002, 105, "Drama", "nm0006487", "tt0298845")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Get Rich or Die Tryin'", 5.3, 41892, 2005, 117, "Biography,Crime,Drama", "nm0006487", "tt0430308")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brothers", 7.1, 104629, 2009, 105, "Action,Drama,Thriller", "nm0006487", "tt0765010")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dream House", 6.0, 60363, 2011, 84, "Drama,Mystery,Thriller", "nm0006487", "tt1462041")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("National Lampoon's Christmas Vacation", 7.6, 135338, 1989, 97, "Comedy", "nm0154819", "tt0097958")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Benny & Joon", 7.2, 52183, 1993, 98, "Comedy,Drama,Romance", "nm0154819", "tt0106387")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Diabolique", 5.4, 12608, 1996, 107, "Drama,Horror,Mystery", "nm0154819", "tt0116095")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Avengers", 3.8, 39285, 1998, 89, "Action,Adventure,Sci-Fi", "nm0154819", "tt0118661")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hart of Dixie", 7.7, 41729, 2011, 60, "Comedy,Drama,Romance", "nm0154819", "tt1832979")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Nightmare on Elm Street 5: The Dream Child", 5.1, 37593, 1989, 89, "Fantasy,Horror", "nm0394280", "tt0097981")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Predator 2", 6.3, 136339, 1990, 108, "Action,Horror,Sci-Fi", "nm0394280", "tt0100403")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Judgment Night", 6.6, 14371, 1993, 110, "Action,Crime,Drama", "nm0394280", "tt0107286")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blown Away", 6.2, 26663, 1994, 121, "Action,Crime,Drama", "nm0394280", "tt0109303")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ghost and the Darkness", 6.8, 53240, 1996, 110, "Adventure,Drama,Thriller", "nm0394280", "tt0116409")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lost in Space", 5.2, 66927, 1998, 130, "Action,Adventure,Family", "nm0394280", "tt0120738")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Under Suspicion", 6.5, 21043, 2000, 110, "Crime,Drama,Thriller", "nm0394280", "tt0164212")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Life and Death of Peter Sellers", 6.9, 14075, 2004, 122, "Biography,Comedy,Drama", "nm0394280", "tt0352520")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Reaping", 5.6, 40969, 2007, 99, "Horror,Thriller", "nm0394280", "tt0444682")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("House of Lies", 7.4, 22924, 2012, 28, "Comedy,Drama", "nm0394280", "tt1797404")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Race", 7.1, 31615, 2016, 134, "Biography,Drama,Sport", "nm0394280", "tt3499096")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pet Sematary", 6.6, 87134, 1989, 103, "Horror,Thriller", "nm0005116", "tt0098084")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pet Sematary II", 4.9, 17862, 1992, 100, "Fantasy,Horror", "nm0005116", "tt0105128")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Police Academy 6: City Under Siege", 4.4, 26410, 1989, 84, "Comedy,Crime", "nm0094288", "tt0098105")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("NewsRadio", 7.9, 12334, 1995, 23, "Comedy,Romance", "nm0094288", "tt0112095")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Punisher", 5.7, 20320, 1989, 89, "Action,Crime,Drama", "nm0325358", "tt0098141")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Road House", 6.6, 56685, 1989, 114, "Action,Thriller", "nm0380705", "tt0098206")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Striking Distance", 5.8, 38299, 1993, 102, "Action,Crime,Mystery", "nm0380705", "tt0108238")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Roger & Me", 7.4, 24932, 1989, 91, "Documentary", "nm0601619", "tt0098213")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Canadian Bacon", 6.0, 15236, 1995, 91, "Comedy", "nm0601619", "tt0109370")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bowling for Columbine", 7.9, 135695, 2002, 120, "Crime,Documentary,Drama", "nm0601619", "tt0310793")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fahrenheit 9/11", 7.5, 123083, 2004, 122, "Documentary,Drama,War", "nm0601619", "tt0361596")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sicko", 7.9, 71985, 2007, 123, "Documentary,Drama", "nm0601619", "tt0386032")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Capitalism: A Love Story", 7.4, 39869, 2009, 127, "Crime,Documentary,News", "nm0601619", "tt1232207")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Where to Invade Next", 7.5, 21943, 2015, 120, "Comedy,Documentary", "nm0601619", "tt4897822")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fahrenheit 11/9", 6.9, 13737, 2018, 128, "Documentary", "nm0601619", "tt8632862")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Say Anything...", 7.3, 77567, 1989, 100, "Comedy,Drama,Romance", "nm0001081", "tt0098258")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Singles", 6.7, 26080, 1992, 99, "Comedy,Drama,Romance", "nm0001081", "tt0105415")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jerry Maguire", 7.3, 225806, 1996, 139, "Comedy,Drama,Romance", "nm0001081", "tt0116695")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Almost Famous", 7.9, 237672, 2000, 122, "Adventure,Comedy,Drama", "nm0001081", "tt0181875")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vanilla Sky", 6.9, 236738, 2001, 136, "Fantasy,Mystery,Romance", "nm0001081", "tt0259711")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Elizabethtown", 6.4, 64857, 2005, 123, "Comedy,Drama,Romance", "nm0001081", "tt0368709")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Aloha", 5.4, 56357, 2015, 105, "Comedy,Drama,Romance", "nm0001081", "tt1243974")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("We Bought a Zoo", 7.1, 128225, 2011, 124, "Comedy,Drama,Family", "nm0001081", "tt1389137")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Seventh Continent", 7.8, 11470, 1989, 104, "Drama", "nm0359734", "tt0098327")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Benny's Video", 7.2, 12567, 1992, 105, "Crime,Drama", "nm0359734", "tt0103793")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Funny Games", 7.6, 57878, 1997, 108, "Crime,Drama,Thriller", "nm0359734", "tt0119167")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Code Unknown", 7.2, 10784, 2000, 118, "Drama", "nm0359734", "tt0216625")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Piano Teacher", 7.5, 50504, 2001, 131, "Drama", "nm0359734", "tt0254686")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Caché", 7.3, 67353, 2005, 117, "Drama,Mystery,Thriller", "nm0359734", "tt0387898")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Funny Games", 6.5, 84861, 2007, 111, "Crime,Drama,Thriller", "nm0359734", "tt0808279")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The White Ribbon", 7.8, 63685, 2009, 144, "Drama,History,Mystery", "nm0359734", "tt1149362")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Amour", 7.9, 86111, 2012, 127, "Drama,Romance", "nm0359734", "tt1602620")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Happy End", 6.7, 10730, 2017, 107, "Drama", "nm0359734", "tt5304464")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Society", 6.5, 11870, 1989, 99, "Comedy,Horror", "nm0951206", "tt0098354")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bride of Re-Animator", 6.3, 12275, 1989, 96, "Comedy,Horror,Sci-Fi", "nm0951206", "tt0099180")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Side Effects", 7.1, 170725, 2013, 106, "Crime,Drama,Mystery", "nm0001752", "tt2053463")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Knick", 8.5, 40204, 2014, 58, "Drama", "nm0001752", "tt2937900")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Logan Lucky", 7.0, 109894, 2017, 118, "Comedy,Crime,Drama", "nm0001752", "tt5439796")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Unsane", 6.4, 33965, 2018, 98, "Drama,Horror,Mystery", "nm0001752", "tt7153766")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Civil War", 9.0, 11635, 1990, 680, "Documentary,History,War", "nm0122741", "tt0098769")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Vietnam War", 9.1, 13821, 2017, 990, "Documentary,History,War", "nm0122741", "tt1877514")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fresh Prince of Bel-Air", 7.9, 110536, 1990, 22, "Comedy", "nm0005355", "tt0098800")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("House of Cards", 8.5, 12602, 1990, 226, "Drama", "nm0781477", "tt0098825")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jeeves and Wooster", 8.4, 11200, 1990, 55, "Comedy", "nm0265564", "tt0098833")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Keeping Up Appearances", 7.7, 12685, 1990, 60, "Comedy", "nm0811185", "tt0098837")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Law & Order", 7.6, 29703, 1990, 45, "Crime,Drama,Mystery", "nm0696309", "tt0098844")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Teenage Mutant Ninja Turtles II: The Secret of the Ooze", 6.0, 48423, 1991, 88, "Action,Adventure,Comedy", "nm0696309", "tt0103060")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Northern Exposure", 8.2, 14072, 1990, 60, "Comedy,Drama,Fantasy", "nm0070474", "tt0098878")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Child's Play 3", 5.1, 33186, 1991, 90, "Horror,Thriller", "nm0070474", "tt0103956")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alcatraz", 7.0, 37696, 2012, 60, "Action,Crime,Drama", "nm0070474", "tt1728102")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Door", 9.7, 62427, 2016, 57, "Action,Adventure,Drama", "nm0070474", "tt4283028")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blood of My Blood", 8.4, 29216, 2016, 52, "Action,Adventure,Drama", "nm0070474", "tt4283054")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Seinfeld", 8.8, 231270, 1989, 22, "Comedy", "nm0009953", "tt0098904")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Becker", 7.2, 11022, 1998, 30, "Comedy", "nm0009953", "tt0174378")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The New Adventures of Old Christine", 7.0, 11029, 2006, 22, "Comedy", "nm0009953", "tt0462128")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Whitney", 5.7, 12199, 2011, 30, "Comedy", "nm0009953", "tt1850458")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("TaleSpin", 7.6, 12121, 1990, 30, "Action,Adventure,Animation", "nm0315695", "tt0098924")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tiny Toon Adventures", 7.5, 10770, 1990, 21, "Adventure,Animation,Comedy", "nm0102061", "tt0098929")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Arachnophobia", 6.4, 59206, 1990, 109, "Comedy,Fantasy,Horror", "nm0550881", "tt0099052")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alive", 7.1, 46789, 1993, 120, "Adventure,Biography,Drama", "nm0550881", "tt0106246")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Congo", 5.2, 39768, 1995, 109, "Action,Adventure,Mystery", "nm0550881", "tt0112715")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eight Below", 7.3, 57207, 2006, 120, "Adventure,Drama,Family", "nm0550881", "tt0397313")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Child's Play 2", 5.8, 41491, 1990, 84, "Horror,Thriller", "nm0480843", "tt0099253")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cyrano de Bergerac", 7.5, 21026, 1990, 137, "Comedy,Drama,History", "nm0710919", "tt0099334")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dances with Wolves", 8.0, 224001, 1990, 181, "Adventure,Drama,Western", "nm0000126", "tt0099348")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Postman", 6.1, 65195, 1997, 177, "Action,Adventure,Drama", "nm0000126", "tt0119925")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Open Range", 7.4, 62922, 2003, 139, "Action,Drama,Romance", "nm0000126", "tt0316356")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Death Warrant", 5.7, 15922, 1990, 89, "Action,Crime,Mystery", "nm0764776", "tt0099385")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Terminal Velocity", 5.5, 12222, 1994, 102, "Action,Mystery,Romance", "nm0764776", "tt0111400")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dominion", 6.7, 21900, 2014, 90, "Action,Drama,Fantasy", "nm0764776", "tt3079768")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Exorcist III", 6.3, 22431, 1990, 110, "Drama,Horror,Mystery", "nm0087861", "tt0099528")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Freshman", 6.4, 17720, 1990, 102, "Comedy,Crime", "nm0000921", "tt0099615")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Honeymoon in Vegas", 5.8, 16105, 1992, 96, "Comedy,Romance,Thriller", "nm0000921", "tt0104438")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("It Could Happen to You", 6.3, 32697, 1994, 101, "Comedy,Drama,Romance", "nm0000921", "tt0110167")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Striptease", 4.5, 40507, 1996, 115, "Comedy,Crime,Drama", "nm0000921", "tt0117765")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ghost", 7.0, 182272, 1990, 127, "Drama,Fantasy,Romance", "nm0958387", "tt0099653")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("First Knight", 5.9, 64083, 1995, 134, "Action,Adventure,Romance", "nm0958387", "tt0113071")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rat Race", 6.4, 103889, 2001, 112, "Adventure,Comedy", "nm0958387", "tt0250687")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hard to Kill", 5.8, 25788, 1990, 96, "Action,Crime,Drama", "nm0540330", "tt0099739")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hardware", 6.0, 11862, 1990, 94, "Sci-Fi,Thriller", "nm0822582", "tt0099740")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Henry: Portrait of a Serial Killer", 7.0, 28975, 1986, 83, "Biography,Crime,Drama", "nm0573796", "tt0099763")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mad Dog and Glory", 6.2, 19411, 1993, 97, "Comedy,Crime,Drama", "nm0573796", "tt0107473")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wild Things", 6.5, 102183, 1998, 108, "Crime,Drama,Mystery", "nm0573796", "tt0120890")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Europa Europa", 7.6, 13997, 1990, 112, "Drama,History,War", "nm0002140", "tt0099776")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Secret Garden", 7.3, 33843, 1993, 101, "Drama,Family,Fantasy", "nm0002140", "tt0108071")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Total Eclipse", 6.6, 12502, 1995, 111, "Biography,Drama,Romance", "nm0002140", "tt0114702")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Copying Beethoven", 6.8, 12415, 2006, 104, "Biography,Drama,Music", "nm0002140", "tt0424908")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("House Party", 6.4, 12103, 1990, 100, "Comedy,Music,Romance", "nm0399737", "tt0099800")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Boomerang", 5.5, 24002, 1992, 117, "Comedy,Drama,Romance", "nm0399737", "tt0103859")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ladies Man", 5.2, 11958, 2000, 84, "Comedy", "nm0399737", "tt0213790")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Serving Sara", 5.3, 16117, 2002, 99, "Comedy,Romance", "nm0399737", "tt0261289")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Marshall", 7.2, 15452, 2017, 118, "Biography,Crime,Drama", "nm0399737", "tt5301662")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Internal Affairs", 6.5, 15916, 1990, 115, "Crime,Drama,Thriller", "nm0001214", "tt0099850")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Leaving Las Vegas", 7.5, 108162, 1995, 111, "Drama,Romance", "nm0001214", "tt0113627")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cold Creek Manor", 5.0, 20218, 2003, 118, "Drama,Mystery,Thriller", "nm0001214", "tt0331468")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Joe Versus the Volcano", 5.8, 32384, 1990, 102, "Comedy,Romance", "nm0788234", "tt0099892")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Doubt", 7.5, 115077, 2008, 104, "Drama,Mystery", "nm0788234", "tt0918927")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("King of New York", 7.0, 28294, 1990, 103, "Crime,Thriller", "nm0001206", "tt0099939")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bad Lieutenant", 7.1, 35451, 1992, 96, "Crime,Drama,Thriller", "nm0001206", "tt0103759")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Body Snatchers", 5.9, 15605, 1993, 87, "Horror,Sci-Fi", "nm0001206", "tt0106452")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Leatherface: Texas Chainsaw Massacre III", 5.1, 12779, 1990, 85, "Horror,Thriller", "nm0123009", "tt0099994")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lionheart", 6.2, 30413, 1990, 108, "Action,Crime,Drama", "nm0504802", "tt0100029")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Double Impact", 5.6, 35556, 1991, 110, "Action,Crime", "nm0504802", "tt0101764")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lord of the Flies", 6.4, 26257, 1990, 90, "Adventure,Drama,Thriller", "nm0393591", "tt0100054")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Maine Pyar Kiya", 7.3, 10003, 1989, 192, "Drama,Family,Musical", "nm0054744", "tt0100095")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hum Aapke Hain Koun...!", 7.5, 17326, 1994, 206, "Comedy,Drama,Musical", "nm0054744", "tt0110076")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Found a Treasure Called Love", 4.6, 16012, 2015, 164, "Action,Drama,Musical", "nm0054744", "tt3595298")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Memphis Belle", 6.9, 25522, 1990, 107, "Action,Drama,War", "nm0001994", "tt0100133")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Doc Hollywood", 6.2, 30916, 1991, 104, "Comedy,Drama,Romance", "nm0001994", "tt0101745")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("This Boy's Life", 7.3, 43286, 1993, 115, "Biography,Drama", "nm0001994", "tt0108330")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rob Roy", 6.9, 38814, 1995, 139, "Adventure,Biography,Drama", "nm0001994", "tt0114287")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Jackal", 6.4, 100739, 1997, 124, "Action,Crime,Drama", "nm0001994", "tt0119395")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("City by the Sea", 6.1, 23386, 2002, 108, "Crime,Drama,Mystery", "nm0001994", "tt0269095")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beyond the Gates", 7.7, 10630, 2005, 115, "Drama,History,War", "nm0001994", "tt0420901")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Basic Instinct 2", 4.3, 35532, 2006, 114, "Drama,Mystery,Thriller", "nm0001994", "tt0430912")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Men at Work", 6.0, 21420, 1990, 98, "Action,Comedy,Crime", "nm0000389", "tt0100135")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bobby", 7.0, 40222, 2006, 117, "Biography,Drama,History", "nm0000389", "tt0308055")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Way", 7.4, 28309, 2010, 123, "Adventure,Comedy,Drama", "nm0000389", "tt1441912")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mr. Destiny", 6.4, 10996, 1990, 110, "Comedy,Fantasy,Romance", "nm0650561", "tt0100201")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Close-Up", 8.3, 13030, 1990, 98, "Biography,Crime,Drama", "nm0452102", "tt0100234")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Taste of Cherry", 7.7, 19583, 1997, 95, "Drama", "nm0452102", "tt0120265")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Certified Copy", 7.3, 18750, 2010, 106, "Drama,Romance", "nm0452102", "tt1020773")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The NeverEnding Story II: The Next Chapter", 5.2, 22758, 1990, 90, "Adventure,Drama,Family", "nm0004305", "tt0100240")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Night of the Living Dead", 6.9, 36389, 1990, 92, "Horror", "nm0767741", "tt0100258")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paris Is Burning", 8.2, 10006, 1990, 71, "Documentary", "nm0515255", "tt0100332")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Problem Child", 5.4, 26519, 1990, 81, "Comedy,Family", "nm0240797", "tt0100419")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Happy Gilmore", 7.0, 183132, 1996, 92, "Comedy,Sport", "nm0240797", "tt0116483")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beverly Hills Ninja", 5.5, 36167, 1997, 88, "Action,Comedy", "nm0240797", "tt0118708")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Big Daddy", 6.4, 187775, 1999, 93, "Comedy,Drama", "nm0240797", "tt0142342")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Saving Silverman", 5.9, 37157, 2001, 90, "Comedy,Crime,Romance", "nm0240797", "tt0239948")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("National Security", 5.6, 44838, 2003, 88, "Action,Comedy,Crime", "nm0240797", "tt0271668")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Benchwarmers", 5.5, 46196, 2006, 80, "Comedy,Sport", "nm0240797", "tt0437863")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Home Improvement", 7.2, 37151, 1991, 22, "Comedy,Family", "nm0606357", "tt0101120")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ren & Stimpy Show", 7.5, 19676, 1991, 30, "Animation,Comedy,Family", "nm0131968", "tt0101178")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rugrats", 7.5, 29378, 1990, 30, "Adventure,Animation,Comedy", "nm0720383", "tt0101188")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Invader ZIM", 8.3, 18476, 2001, 24, "Action,Adventure,Animation", "nm0720383", "tt0235923")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Days of Being Wild", 7.6, 16011, 1990, 94, "Crime,Drama,Romance", "nm0939182", "tt0101258")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chungking Express", 8.1, 54491, 1994, 102, "Comedy,Crime,Drama", "nm0939182", "tt0109424")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ashes of Time", 7.2, 12121, 1994, 100, "Action,Drama", "nm0939182", "tt0109688")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fallen Angels", 7.7, 21980, 1995, 99, "Comedy,Crime,Drama", "nm0939182", "tt0112913")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In the Mood for Love", 8.1, 108598, 2000, 98, "Drama,Romance", "nm0939182", "tt0118694")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Happy Together", 7.8, 19789, 1997, 96, "Drama,Romance", "nm0939182", "tt0118845")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("2046", 7.4, 47560, 2004, 129, "Drama,Romance,Sci-Fi", "nm0939182", "tt0212712")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Blueberry Nights", 6.6, 49786, 2007, 95, "Drama,Romance", "nm0939182", "tt0765120")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Grandmaster", 6.5, 29148, 2013, 130, "Action,Biography,Drama", "nm0939182", "tt1462900")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Addams Family", 6.9, 117280, 1991, 99, "Comedy,Fantasy", "nm0001756", "tt0101272")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Addams Family Values", 6.7, 70827, 1993, 94, "Comedy,Fantasy", "nm0001756", "tt0106220")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("For Love or Money", 6.2, 11239, 1993, 96, "Comedy,Drama,Romance", "nm0001756", "tt0106941")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Get Shorty", 6.9, 71861, 1995, 105, "Comedy,Crime,Thriller", "nm0001756", "tt0113161")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Men in Black", 7.3, 485119, 1997, 98, "Action,Adventure,Comedy", "nm0001756", "tt0119654")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wild Wild West", 4.9, 145847, 1999, 106, "Action,Comedy,Sci-Fi", "nm0001756", "tt0120891")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Men in Black II", 6.2, 320873, 2002, 88, "Action,Adventure,Comedy", "nm0001756", "tt0120912")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Big Trouble", 6.5, 19198, 2002, 85, "Comedy,Crime,Thriller", "nm0001756", "tt0246464")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("RV", 5.5, 53567, 2006, 99, "Adventure,Comedy,Family", "nm0001756", "tt0449089")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Men in Black 3", 6.8, 316650, 2012, 106, "Action,Adventure,Comedy", "nm0001756", "tt1409024")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nine Lives", 5.3, 18955, 2016, 87, "Comedy,Drama,Family", "nm0001756", "tt4383594")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lovers on the Bridge", 7.6, 11111, 1991, 125, "Drama,Romance", "nm0136021", "tt0101318")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Holy Motors", 7.1, 37534, 2012, 115, "Drama,Fantasy", "nm0136021", "tt2076220")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("An American Tail: Fievel Goes West", 6.5, 21791, 1991, 75, "Adventure,Animation,Family", "nm0920425", "tt0101329")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("We're Back! A Dinosaur's Story", 6.1, 12671, 1993, 72, "Adventure,Animation,Comedy", "nm0920425", "tt0108526")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Balto", 7.1, 37074, 1995, 78, "Adventure,Animation,Drama", "nm0920425", "tt0112453")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Time Machine", 6.0, 114006, 2002, 96, "Action,Adventure,Sci-Fi", "nm0920425", "tt0268695")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mars Needs Moms", 5.4, 20029, 2011, 88, "Action,Adventure,Animation", "nm0920425", "tt1305591")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beauty and the Beast", 8.0, 396394, 1991, 84, "Animation,Family,Fantasy", "nm0936374", "tt0101414")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Atlantis: The Lost Empire", 6.9, 94416, 2001, 95, "Action,Adventure,Animation", "nm0936374", "tt0230011")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spirited Away", 8.6, 571759, 2001, 125, "Adventure,Animation,Family", "nm0936374", "tt0245429")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bill & Ted's Bogus Journey", 6.3, 58980, 1991, 93, "Adventure,Comedy,Fantasy", "nm0382072", "tt0101452")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Borrowers", 5.8, 18871, 1997, 89, "Adventure,Comedy,Family", "nm0382072", "tt0118755")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Garfield", 5.0, 73581, 2004, 80, "Animation,Comedy,Family", "nm0382072", "tt0356634")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zoom", 4.3, 17508, 2006, 83, "Action,Adventure,Comedy", "nm0382072", "tt0383060")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Maiden Heist", 6.1, 14804, 2009, 90, "Comedy,Crime", "nm0382072", "tt1107860")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Boyz n the Hood", 7.7, 114477, 1991, 112, "Crime,Drama", "nm0005436", "tt0101507")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Poetic Justice", 6.0, 11495, 1993, 109, "Drama,Romance", "nm0005436", "tt0107840")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Higher Learning", 6.5, 17030, 1995, 127, "Crime,Drama,Romance", "nm0005436", "tt0113305")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shaft", 5.9, 69807, 2000, 99, "Action,Crime,Thriller", "nm0005436", "tt0162650")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Baby Boy", 6.4, 11919, 2001, 130, "Crime,Drama,Romance", "nm0005436", "tt0255819")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("2 Fast 2 Furious", 5.9, 235878, 2003, 107, "Action,Crime,Thriller", "nm0005436", "tt0322259")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Four Brothers", 6.8, 126656, 2005, 109, "Action,Crime,Drama", "nm0005436", "tt0430105")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Abduction", 5.1, 73229, 2011, 106, "Action,Mystery,Thriller", "nm0005436", "tt1600195")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Critters 3", 4.4, 10247, 1991, 86, "Comedy,Horror,Sci-Fi", "nm0677253", "tt0101627")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Raise the Red Lantern", 8.1, 26864, 1991, 125, "Drama,History,Romance", "nm0955443", "tt0101640")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("To Live", 8.3, 14501, 1994, 133, "Drama,War", "nm0955443", "tt0110081")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Road Home", 7.8, 11789, 1999, 89, "Drama,History,Romance", "nm0955443", "tt0235060")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hero", 7.9, 167587, 2002, 107, "Action,Adventure,History", "nm0955443", "tt0299977")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("House of Flying Daggers", 7.5, 103314, 2004, 119, "Action,Adventure,Drama", "nm0955443", "tt0385004")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Curse of the Golden Flower", 7.0, 40629, 2006, 111, "Action,Drama,Romance", "nm0955443", "tt0473444")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Flowers of War", 7.6, 46354, 2011, 146, "Drama,History,Romance", "nm0955443", "tt1410063")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Great Wall", 5.9, 114690, 2016, 103, "Action,Adventure,Fantasy", "nm0955443", "tt2034800")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Defending Your Life", 7.2, 15757, 1991, 112, "Comedy,Drama,Fantasy", "nm0000983", "tt0101698")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Muse", 5.7, 10104, 1999, 97, "Comedy", "nm0000983", "tt0164108")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Delicatessen", 7.6, 75824, 1991, 99, "Comedy,Crime", "nm0000466", "tt0101700")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alien: Resurrection", 6.2, 214472, 1997, 109, "Action,Horror,Sci-Fi", "nm0000466", "tt0118583")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Amélie", 8.3, 661851, 2001, 122, "Comedy,Romance", "nm0000466", "tt0211915")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Very Long Engagement", 7.6, 68613, 2004, 133, "Drama,Mystery,Romance", "nm0000466", "tt0344510")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Micmacs", 7.2, 27734, 2009, 105, "Action,Comedy,Crime", "nm0000466", "tt1149361")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Young and Prodigious T.S. Spivet", 7.1, 15692, 2013, 105, "Action,Adventure,Comedy", "nm0000466", "tt1981107")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Drop Dead Fred", 5.9, 25372, 1991, 103, "Comedy,Drama,Fantasy", "nm0429517", "tt0101775")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Europa", 7.6, 18509, 1991, 112, "Drama,Thriller", "nm0001885", "tt0101829")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Kingdom", 8.3, 16219, 1994, 561, "Comedy,Drama,Fantasy", "nm0001885", "tt0108906")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Breaking the Waves", 7.9, 58148, 1996, 159, "Drama", "nm0001885", "tt0115751")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Idiots", 6.8, 28167, 1998, 117, "Comedy,Drama", "nm0001885", "tt0154421")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dancer in the Dark", 8.0, 95032, 2000, 140, "Crime,Drama,Musical", "nm0001885", "tt0168629")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dogville", 8.0, 128236, 2003, 178, "Crime,Drama", "nm0001885", "tt0276919")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Manderlay", 7.3, 21259, 2005, 139, "Drama", "nm0001885", "tt0342735")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Boss of It All", 6.7, 10459, 2006, 99, "Comedy", "nm0001885", "tt0469754")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Antichrist", 6.6, 108394, 2009, 108, "Drama,Horror", "nm0001885", "tt0870984")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Melancholia", 7.1, 155725, 2011, 135, "Drama,Sci-Fi", "nm0001885", "tt1527186")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nymphomaniac: Vol. I", 6.9, 108852, 2013, 117, "Drama", "nm0001885", "tt1937390")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nymphomaniac: Vol. II", 6.7, 80568, 2013, 124, "Drama", "nm0001885", "tt2382009")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The House That Jack Built", 6.8, 41866, 2018, 152, "Crime,Drama,Horror", "nm0001885", "tt4003440")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Freddy's Dead: The Final Nightmare", 4.9, 38323, 1991, 89, "Fantasy,Horror", "nm0003080", "tt0101917")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tank Girl", 5.3, 28581, 1995, 104, "Action,Comedy,Sci-Fi", "nm0003080", "tt0114614")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Gods", 7.9, 65445, 2017, 60, "Drama,Fantasy,Mystery", "nm0003080", "tt1898069")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Six Thatchers", 7.6, 20729, 2017, 88, "Crime,Drama,Mystery", "nm0003080", "tt3538760")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fried Green Tomatoes", 7.7, 62248, 1991, 130, "Drama", "nm0000816", "tt0101921")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The War", 6.8, 11517, 1994, 126, "Drama", "nm0000816", "tt0111667")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Up Close & Personal", 6.2, 12853, 1996, 124, "Drama,Romance", "nm0000816", "tt0118055")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Red Corner", 6.3, 15301, 1997, 122, "Crime,Drama,Thriller", "nm0000816", "tt0119994")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("88 Minutes", 5.9, 72066, 2007, 108, "Crime,Drama,Mystery", "nm0000816", "tt0411061")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Righteous Kill", 6.0, 81323, 2008, 101, "Crime,Mystery,Thriller", "nm0000816", "tt1034331")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hearts of Darkness: A Filmmaker's Apocalypse", 8.1, 17173, 1991, 96, "Documentary", "nm0046943", "tt0102015")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Riki-Oh: The Story of Ricky", 7.1, 11698, 1991, 91, "Action,Comedy,Thriller", "nm0482670", "tt0102293")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Little Man Tate", 6.6, 13162, 1991, 99, "Drama", "nm0000149", "tt0102316")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Home for the Holidays", 6.6, 10881, 1995, 103, "Comedy,Drama,Romance", "nm0000149", "tt0113321")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Beaver", 6.7, 45564, 2011, 91, "Drama", "nm0000149", "tt1321860")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Money Monster", 6.5, 88143, 2016, 98, "Crime,Drama,Thriller", "nm0000149", "tt2241351")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Arkangel", 7.3, 32666, 2017, 52, "Drama,Sci-Fi,Thriller", "nm0000149", "tt5709250")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Love Potion No. 9", 5.7, 12391, 1992, 92, "Comedy,Fantasy,Romance", "nm0490958", "tt0102343")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Boyhood", 7.9, 319140, 2014, 165, "Drama", "nm0000500", "tt1065073")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Me and Orson Welles", 6.7, 10352, 2008, 114, "Comedy,Drama", "nm0000500", "tt1175506")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bernie", 6.8, 54297, 2011, 99, "Biography,Comedy,Crime", "nm0000500", "tt1704573")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Before Midnight", 7.9, 125934, 2013, 109, "Drama,Romance", "nm0000500", "tt2209418")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Everybody Wants Some!!", 6.9, 48582, 2016, 117, "Comedy", "nm0000500", "tt2937696")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Last Flag Flying", 6.9, 19736, 2017, 125, "Comedy,Drama,War", "nm0000500", "tt6018306")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Soapdish", 6.6, 13432, 1991, 97, "Comedy,Romance", "nm0001355", "tt0102951")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("One Fine Day", 6.5, 41020, 1996, 108, "Comedy,Drama,Romance", "nm0001355", "tt0117247")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Midsummer Night's Dream", 6.4, 23465, 1999, 116, "Comedy,Fantasy,Romance", "nm0001355", "tt0140379")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Emperor's Club", 6.9, 16019, 2002, 109, "Drama", "nm0001355", "tt0283530")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gambit", 5.7, 22417, 2012, 89, "Comedy,Crime", "nm0001355", "tt0404978")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Station", 7.0, 17101, 2009, 112, "Biography,Drama,Romance", "nm0001355", "tt0824758")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Best of Me", 6.7, 60988, 2014, 118, "Drama,Romance", "nm0001355", "tt1972779")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Toy Soldiers", 6.6, 18555, 1991, 111, "Action,Drama,Thriller", "nm0677943", "tt0103112")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In the Army Now", 5.0, 12056, 1994, 91, "Comedy,War", "nm0677943", "tt0110123")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Once Upon a Time in China", 7.3, 16206, 1991, 134, "Action,Adventure,Biography", "nm0007139", "tt0103285")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Twin Dragons", 6.4, 10307, 1992, 104, "Action,Comedy", "nm0007139", "tt0105399")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Double Team", 4.8, 29592, 1997, 93, "Action,Comedy,Sci-Fi", "nm0007139", "tt0119013")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Knock Off", 4.9, 13187, 1998, 91, "Action,Crime,Thriller", "nm0007139", "tt0120724")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Are You Afraid of the Dark?", 8.2, 12234, 1990, 30, "Drama,Family,Fantasy", "nm0532530", "tt0103352")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman: The Animated Series", 9.0, 77559, 1992, 23, "Action,Adventure,Animation", "nm0022828", "tt0103359")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Highlander", 7.2, 12548, 1992, 60, "Action,Adventure,Fantasy", "nm0077533", "tt0103442")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mad About You", 6.6, 19132, 1992, 22, "Comedy,Romance", "nm0601963", "tt0103484")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Melrose Place", 5.8, 10331, 1992, 60, "Drama,Romance", "nm0385151", "tt0103491")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("X-Men: The Animated Series", 8.4, 34512, 1992, 23, "Action,Animation,Family", "nm0396860", "tt0103584")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("3 Ninjas", 5.3, 19040, 1992, 84, "Action,Comedy,Family", "nm0005509", "tt0103596")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cool Runnings", 6.9, 85357, 1993, 98, "Adventure,Comedy,Family", "nm0005509", "tt0106611")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("While You Were Sleeping", 6.7, 85364, 1995, 103, "Comedy,Drama,Romance", "nm0005509", "tt0114924")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Phenomenon", 6.4, 71646, 1996, 123, "Drama,Fantasy,Romance", "nm0005509", "tt0117333")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Instinct", 6.6, 30459, 1999, 126, "Drama,Thriller", "nm0005509", "tt0128278")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Kid", 6.1, 38484, 2000, 104, "Comedy,Family,Fantasy", "nm0005509", "tt0219854")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("National Treasure", 6.8, 288315, 2004, 131, "Action,Adventure,Mystery", "nm0005509", "tt0368891")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("National Treasure: Book of Secrets", 6.5, 207631, 2007, 124, "Action,Adventure,Mystery", "nm0005509", "tt0465234")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sorcerer's Apprentice", 6.1, 145520, 2010, 109, "Action,Adventure,Family", "nm0005509", "tt0963966")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Last Vegas", 6.6, 122580, 2013, 105, "Comedy,Drama", "nm0005509", "tt1204975")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Meg", 5.7, 124621, 2018, 113, "Action,Horror,Sci-Fi", "nm0005509", "tt4779682")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alien³", 6.5, 259446, 1992, 114, "Action,Horror,Sci-Fi", "nm0000399", "tt0103644")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Se7en", 8.6, 1315973, 1995, 127, "Crime,Drama,Mystery", "nm0000399", "tt0114369")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Game", 7.8, 320027, 1997, 129, "Drama,Mystery,Thriller", "nm0000399", "tt0119174")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fight Club", 8.8, 1711559, 1999, 139, "Drama", "nm0000399", "tt0137523")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Panic Room", 6.8, 241064, 2002, 112, "Crime,Drama,Thriller", "nm0000399", "tt0258000")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Curious Case of Benjamin Button", 7.8, 547920, 2008, 166, "Drama,Fantasy,Romance", "nm0000399", "tt0421715")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zodiac", 7.7, 403372, 2007, 157, "Crime,Drama,Mystery", "nm0000399", "tt0443706")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Social Network", 7.7, 576747, 2010, 120, "Biography,Drama", "nm0000399", "tt1285016")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Girl with the Dragon Tattoo", 7.8, 393276, 2011, 158, "Crime,Drama,Mystery", "nm0000399", "tt1568346")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gone Girl", 8.1, 778217, 2014, 149, "Drama,Mystery,Thriller", "nm0000399", "tt2267998")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mindhunter", 8.6, 155562, 2017, 60, "Crime,Drama,Thriller", "nm0000399", "tt5290382")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Baraka", 8.6, 33634, 1992, 96, "Documentary", "nm0294825", "tt0103767")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Samsara", 8.5, 30319, 2011, 102, "Documentary,Music", "nm0294825", "tt0770802")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bob Roberts", 7.0, 12687, 1992, 102, "Comedy,Drama", "nm0000209", "tt0103850")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dead Man Walking", 7.5, 83782, 1995, 122, "Crime,Drama", "nm0000209", "tt0112818")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Buffy the Vampire Slayer", 5.6, 37543, 1992, 86, "Action,Comedy,Fantasy", "nm0476900", "tt0103893")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Man Bites Dog", 7.5, 33848, 1992, 95, "Comedy,Crime,Drama", "nm0069715", "tt0103905")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Candyman", 6.6, 60301, 1992, 99, "Horror,Thriller", "nm0741262", "tt0103919")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Immortal Beloved", 7.5, 21931, 1994, 121, "Biography,Drama,Music", "nm0741262", "tt0110116")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Like Water for Chocolate", 7.1, 15895, 1992, 105, "Drama,Romance", "nm0000778", "tt0103994")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Walk in the Clouds", 6.7, 29673, 1995, 102, "Drama,Romance", "nm0000778", "tt0114887")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cronos", 6.7, 24865, 1993, 94, "Horror", "nm0868219", "tt0104029")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mimic", 5.9, 43380, 1997, 105, "Horror,Sci-Fi", "nm0868219", "tt0119675")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hellboy", 6.8, 293916, 2004, 122, "Action,Adventure,Fantasy", "nm0868219", "tt0167190")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blade II", 6.7, 189442, 2002, 117, "Action,Horror,Sci-Fi", "nm0868219", "tt0187738")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Devil's Backbone", 7.4, 57974, 2001, 106, "Drama,Horror", "nm0868219", "tt0256009")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hellboy II: The Golden Army", 7.0, 245523, 2008, 120, "Action,Adventure,Fantasy", "nm0868219", "tt0411477")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pan's Labyrinth", 8.2, 580709, 2006, 118, "Drama,Fantasy,War", "nm0868219", "tt0457430")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pacific Rim", 6.9, 448292, 2013, 131, "Action,Adventure,Sci-Fi", "nm0868219", "tt1663662")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crimson Peak", 6.5, 121146, 2015, 119, "Drama,Fantasy,Horror", "nm0868219", "tt2554274")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Shape of Water", 7.3, 321777, 2017, 123, "Adventure,Drama,Fantasy", "nm0868219", "tt5580390")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wuthering Heights", 6.8, 11386, 1992, 105, "Drama,History,Romance", "nm0467225", "tt0104181")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("White Oleander", 7.1, 28461, 2002, 109, "Drama", "nm0467225", "tt0283139")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Encino Man", 5.8, 35241, 1992, 88, "Comedy", "nm0562645", "tt0104187")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Miracle on 34th Street", 6.5, 28775, 1994, 114, "Family,Fantasy", "nm0562645", "tt0110527")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flubber", 5.3, 79263, 1997, 93, "Comedy,Family,Sci-Fi", "nm0562645", "tt0119137")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blue Streak", 6.3, 69978, 1999, 93, "Action,Comedy,Crime", "nm0562645", "tt0181316")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Outlaws", 6.0, 13306, 2001, 94, "Action,Western", "nm0562645", "tt0244000")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Man", 5.5, 24041, 2005, 83, "Action,Comedy,Crime", "nm0562645", "tt0399327")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Code Name: The Cleaner", 4.6, 10871, 2007, 84, "Action,Comedy,Crime", "nm0562645", "tt0462229")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("FernGully: The Last Rainforest", 6.5, 25224, 1992, 76, "Adventure,Animation,Family", "nm0472386", "tt0104254")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Grand Day Out", 7.8, 29117, 1989, 23, "Adventure,Animation,Comedy", "nm0661910", "tt0104361")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wrong Trousers", 8.3, 48029, 1993, 30, "Animation,Comedy,Crime", "nm0661910", "tt0108598")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Close Shave", 8.1, 36403, 1995, 30, "Animation,Comedy,Crime", "nm0661910", "tt0112691")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chicken Run", 7.0, 166431, 2000, 84, "Adventure,Animation,Comedy", "nm0661910", "tt0120630")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Matter of Loaf and Death", 7.6, 13631, 2008, 30, "Animation,Comedy,Crime", "nm0661910", "tt1118511")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Early Man", 6.1, 16700, 2018, 89, "Adventure,Animation,Comedy", "nm0661910", "tt4701724")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hand That Rocks the Cradle", 6.6, 35318, 1992, 110, "Drama,Thriller", "nm0000436", "tt0104389")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The River Wild", 6.4, 38840, 1994, 111, "Adventure,Crime,Thriller", "nm0000436", "tt0110997")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("L.A. Confidential", 8.2, 500522, 1997, 138, "Crime,Drama,Mystery", "nm0000436", "tt0119488")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wonder Boys", 7.3, 59159, 2000, 107, "Comedy,Drama", "nm0000436", "tt0185014")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("8 Mile", 7.1, 232312, 2002, 110, "Drama,Music", "nm0000436", "tt0298203")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lucky You", 5.9, 19641, 2007, 124, "Drama,Romance,Sport", "nm0000436", "tt0338216")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In Her Shoes", 6.4, 57157, 2005, 130, "Comedy,Drama,Romance", "nm0000436", "tt0388125")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Too Big to Fail", 7.3, 14205, 2011, 99, "Biography,Drama,History", "nm0000436", "tt1742683")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hellraiser III: Hell on Earth", 5.5, 25328, 1992, 97, "Horror", "nm0382776", "tt0104409")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jamón, Jamón", 6.4, 11348, 1992, 95, "Comedy,Drama,Romance", "nm0000940", "tt0104545")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Police Story 3: Super Cop", 6.9, 17975, 1992, 96, "Action,Comedy,Crime", "nm0867262", "tt0104558")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rumble in the Bronx", 6.7, 36285, 1995, 104, "Action,Comedy,Crime", "nm0867262", "tt0113326")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Police Story 4: First Strike", 6.6, 17844, 1996, 107, "Action,Adventure,Comedy", "nm0867262", "tt0116704")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("High School Musical", 5.3, 74199, 2006, 98, "Comedy,Drama,Family", "nm0650905", "tt0475293")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("High School Musical 2", 4.9, 50683, 2007, 104, "Comedy,Drama,Family", "nm0650905", "tt0810900")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("High School Musical 3: Senior Year", 4.7, 53779, 2008, 112, "Comedy,Drama,Family", "nm0650905", "tt0962726")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("This Is It", 7.2, 37132, 2009, 111, "Documentary,Drama,Music", "nm0650905", "tt1477715")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Descendants", 6.4, 13289, 2015, 112, "Comedy,Family,Fantasy", "nm0650905", "tt3440298")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Of Mice and Men", 7.5, 38027, 1992, 115, "Drama", "nm0000641", "tt0105046")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Passenger 57", 5.9, 42600, 1992, 84, "Action,Crime,Thriller", "nm0393661", "tt0105104")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Prison Break: The Final Break", 7.9, 22399, 2009, 89, "Action,Drama,Thriller", "nm0393661", "tt1131748")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mr. Mercedes", 7.9, 12415, 2017, 60, "Mystery,Sci-Fi,Thriller", "nm0393661", "tt4354880")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Poison Ivy", 5.4, 16238, 1992, 90, "Drama,Thriller", "nm0002240", "tt0105156")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Rage: Carrie 2", 4.7, 14758, 1999, 104, "Horror,Sci-Fi,Thriller", "nm0002240", "tt0144814")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Red Rock West", 7.0, 18752, 1993, 98, "Crime,Drama,Thriller", "nm0001093", "tt0105226")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Seduction", 7.0, 19360, 1994, 110, "Crime,Drama,Romance", "nm0001093", "tt0110308")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rounders", 7.3, 135375, 1998, 121, "Crime,Drama", "nm0001093", "tt0128442")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Joy Ride", 6.6, 60895, 2001, 97, "Mystery,Thriller", "nm0001093", "tt0206314")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Great Raid", 6.7, 20490, 2005, 132, "Action,Drama,War", "nm0001093", "tt0326905")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("You Kill Me", 6.5, 17334, 2007, 93, "Comedy,Crime,Romance", "nm0001093", "tt0796375")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Down", 8.3, 12398, 2009, 47, "Crime,Drama,Thriller", "nm0001093", "tt1232251")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bridge", 7.6, 17002, 2013, 43, "Crime,Drama,Mystery", "nm0001093", "tt2406376")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Reservoir Dogs", 8.3, 846767, 1992, 99, "Crime,Drama,Thriller", "nm0000233", "tt0105236")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pulp Fiction", 8.9, 1680777, 1994, 154, "Crime,Drama", "nm0000233", "tt0110912")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jackie Brown", 7.5, 291772, 1997, 154, "Crime,Drama,Thriller", "nm0000233", "tt0119396")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kill Bill: Vol. 1", 8.1, 925961, 2003, 111, "Action,Crime,Thriller", "nm0000233", "tt0266697")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Inglourious Basterds", 8.3, 1152542, 2009, 153, "Adventure,Drama,War", "nm0000233", "tt0361748")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kill Bill: Vol. 2", 8.0, 631452, 2004, 137, "Action,Crime,Thriller", "nm0000233", "tt0378194")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Grindhouse", 7.5, 171865, 2007, 191, "Action,Horror,Thriller", "nm0000233", "tt0462322")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Death Proof", 7.0, 251291, 2007, 113, "Thriller", "nm0000233", "tt1028528")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Django Unchained", 8.4, 1239421, 2012, 165, "Drama,Western", "nm0000233", "tt1853728")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hateful Eight", 7.8, 458384, 2015, 168, "Crime,Drama,Mystery", "nm0000233", "tt3460252")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Once Upon a Time... in Hollywood", 8.0, 206374, 2019, 161, "Comedy,Drama", "nm0000233", "tt7131622")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Romper Stomper", 6.8, 35824, 1992, 94, "Crime,Drama", "nm0942408", "tt0105275")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cherry Falls", 5.2, 11549, 2000, 92, "Horror,Mystery,Thriller", "nm0942408", "tt0175526")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Strictly Ballroom", 7.1, 23526, 1992, 94, "Comedy,Drama,Music", "nm0525303", "tt0105488")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Romeo + Juliet", 6.7, 198171, 1996, 120, "Drama,Romance", "nm0525303", "tt0117509")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Moulin Rouge!", 7.6, 254480, 2001, 127, "Drama,Musical,Romance", "nm0525303", "tt0203009")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Australia", 6.6, 114845, 2008, 165, "Adventure,Comedy,Drama", "nm0525303", "tt0455824")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Great Gatsby", 7.3, 441212, 2013, 143, "Drama,Romance", "nm0525303", "tt1343092")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Troll 2", 2.9, 29235, 1990, 95, "Comedy,Fantasy,Horror", "nm0289576", "tt0105643")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Universal Soldier", 6.0, 78379, 1992, 102, "Action,Sci-Fi", "nm0000386", "tt0105698")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stargate", 7.1, 167140, 1994, 116, "Action,Adventure,Sci-Fi", "nm0000386", "tt0111282")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Independence Day", 7.0, 501909, 1996, 145, "Action,Adventure,Sci-Fi", "nm0000386", "tt0116629")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Godzilla", 5.4, 174135, 1998, 139, "Action,Sci-Fi,Thriller", "nm0000386", "tt0120685")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Patriot", 7.2, 240491, 2000, 165, "Action,Drama,History", "nm0000386", "tt0187393")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Day After Tomorrow", 6.4, 392037, 2004, 124, "Action,Adventure,Sci-Fi", "nm0000386", "tt0319262")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("10,000 BC", 5.1, 121009, 2008, 109, "Action,Adventure,Drama", "nm0000386", "tt0443649")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("2012", 5.8, 332594, 2009, 158, "Action,Adventure,Sci-Fi", "nm0000386", "tt1190080")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Anonymous", 6.9, 38193, 2011, 130, "Drama,Thriller", "nm0000386", "tt1521197")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Independence Day: Resurgence", 5.2, 157675, 2016, 120, "Action,Adventure,Sci-Fi", "nm0000386", "tt1628841")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("White House Down", 6.4, 194836, 2013, 131, "Action,Drama,Thriller", "nm0000386", "tt2334879")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wayne's World", 7.0, 135178, 1992, 94, "Comedy,Music", "nm0790715", "tt0105793")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Beverly Hillbillies", 5.0, 16428, 1993, 92, "Comedy,Family", "nm0790715", "tt0106400")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Little Rascals", 6.3, 40282, 1994, 82, "Comedy,Family,Romance", "nm0790715", "tt0110366")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Sheep", 6.3, 34485, 1996, 87, "Comedy", "nm0790715", "tt0115697")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Senseless", 6.1, 13440, 1998, 93, "Comedy,Romance", "nm0790715", "tt0120820")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Animaniacs", 7.9, 19584, 1993, 21, "Animation,Comedy,Family", "nm0319791", "tt0105941")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Babylon 5", 8.2, 26375, 1994, 45, "Action,Adventure,Drama", "nm0892144", "tt0105946")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Trek: Deep Space Nine", 7.9, 46206, 1993, 45, "Action,Adventure,Drama", "nm0892144", "tt0106145")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beavis and Butt-Head", 7.5, 25859, 1993, 15, "Animation,Comedy,Music", "nm0431918", "tt0105950")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beavis and Butt-Head Do America", 6.8, 48921, 1996, 81, "Adventure,Animation,Comedy", "nm0431918", "tt0115641")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Office Space", 7.7, 229793, 1999, 89, "Comedy", "nm0431918", "tt0151804")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Idiocracy", 6.6, 134543, 2006, 84, "Adventure,Comedy,Sci-Fi", "nm0431918", "tt0387808")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Extract", 6.1, 43053, 2009, 92, "Comedy,Crime,Romance", "nm0431918", "tt1225822")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Silicon Valley", 8.5, 106920, 2014, 28, "Comedy", "nm0431918", "tt2575988")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Frasier", 8.0, 68096, 1993, 22, "Comedy", "nm0497115", "tt0106004")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Homicide: Life on the Street", 8.5, 10764, 1993, 60, "Crime,Drama,Mystery", "nm0000870", "tt0106028")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Late Night with Conan O'Brien", 8.1, 16259, 1993, 60, "Comedy,Music,Talk-Show", "nm0008956", "tt0106052")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Late Show with David Letterman", 6.8, 12141, 1993, 60, "Comedy,Music,Talk-Show", "nm0284159", "tt0106053")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lois & Clark: The New Adventures of Superman", 6.7, 19543, 1993, 46, "Adventure,Comedy,Drama", "nm0004223", "tt0106057")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Boys", 8.8, 91236, 2019, 60, "Action,Comedy,Crime", "nm0004223", "tt1190634")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mighty Morphin Power Rangers", 6.4, 19004, 1993, 30, "Action,Adventure,Family", "nm0935288", "tt0106064")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("NYPD Blue", 7.5, 10807, 1993, 45, "Crime,Drama,Mystery", "nm0566841", "tt0106079")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Nanny", 6.9, 34451, 1993, 22, "Comedy,Family,Romance", "nm0692733", "tt0106080")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rocko's Modern Life", 7.9, 17890, 1993, 30, "Animation,Comedy,Family", "nm0615061", "tt0106115")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Tommyknockers", 5.4, 10094, 1993, 181, "Horror,Sci-Fi", "nm0694411", "tt0106156")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Walker, Texas Ranger", 5.5, 14089, 1993, 43, "Action,Adventure,Crime", "nm0695779", "tt0106168")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The X-Files", 8.6, 186173, 1993, 45, "Crime,Drama,Mystery", "nm0543129", "tt0106179")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Farewell My Concubine", 8.1, 22631, 1993, 171, "Drama,Music,Romance", "nm0155280", "tt0106332")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Killing Me Softly", 5.5, 16346, 2002, 100, "Drama,Mystery,Romance", "nm0155280", "tt0250468")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Baazigar", 7.7, 23935, 1993, 175, "Crime,Drama,Musical", "nm0122217", "tt0106333")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Race 2", 5.3, 14241, 2013, 150, "Action,Crime,Thriller", "nm0122217", "tt1375789")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bad Boy Bubby", 7.4, 11490, 1993, 114, "Comedy,Crime,Drama", "nm0208854", "tt0106341")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman: Mask of the Phantasm", 7.8, 39250, 1993, 76, "Action,Adventure,Animation", "nm0705779", "tt0106364")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Boxing Helena", 4.7, 10871, 1993, 107, "Drama,Mystery,Romance", "nm0528337", "tt0106471")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Surveillance", 6.3, 16272, 2008, 97, "Crime,Drama,Mystery", "nm0528337", "tt0409345")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chained", 6.4, 15288, 2012, 94, "Crime,Drama,Horror", "nm0528337", "tt1989475")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("JSS", 9.3, 12555, 2015, 44, "Drama,Horror,Thriller", "nm0528337", "tt4452400")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Bronx Tale", 7.8, 118550, 1993, 121, "Crime,Drama,Romance", "nm0000134", "tt0106489")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Good Shepherd", 6.7, 95045, 2006, 167, "Drama,History,Thriller", "nm0000134", "tt0343737")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Crush", 5.8, 15023, 1993, 89, "Drama,Thriller", "nm0788454", "tt0106627")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Demolition Man", 6.7, 147784, 1993, 115, "Action,Crime,Sci-Fi", "nm0104193", "tt0106697")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Excess Baggage", 5.4, 12164, 1997, 101, "Action,Comedy,Crime", "nm0104193", "tt0119086")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Double Dragon", 3.7, 10440, 1994, 96, "Action,Adventure,Comedy", "nm0950819", "tt0106761")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dragon: The Bruce Lee Story", 7.0, 25703, 1993, 120, "Action,Biography,Drama", "nm0003418", "tt0106770")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Daylight", 5.9, 62293, 1996, 114, "Action,Adventure,Drama", "nm0003418", "tt0116040")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("DragonHeart", 6.5, 87256, 1996, 103, "Action,Adventure,Fantasy", "nm0003418", "tt0116136")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Skulls", 5.6, 29812, 2000, 106, "Action,Crime,Drama", "nm0003418", "tt0192614")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Taking Woodstock", 6.7, 27457, 2009, 120, "Biography,Comedy,Drama", "nm0000487", "tt1127896")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Billy Lynn's Long Halftime Walk", 6.2, 19476, 2016, 113, "Action,Drama,Sport", "nm0000487", "tt2513074")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jason Goes to Hell: The Final Friday", 4.3, 25718, 1993, 87, "Fantasy,Horror,Thriller", "nm0546057", "tt0107254")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Joy Luck Club", 7.7, 14227, 1993, 139, "Drama", "nm0911061", "tt0107282")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Smoke", 7.4, 31606, 1995, 112, "Comedy,Drama", "nm0911061", "tt0114478")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Anywhere But Here", 6.2, 16290, 1999, 114, "Comedy,Drama", "nm0911061", "tt0149691")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Maid in Manhattan", 5.2, 79837, 2002, 105, "Comedy,Drama,Romance", "nm0911061", "tt0252076")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Last Holiday", 6.4, 26426, 2006, 112, "Comedy,Romance", "nm0911061", "tt0408985")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kalifornia", 6.7, 48256, 1993, 117, "Crime,Drama,Thriller", "nm0784061", "tt0107302")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gone in 60 Seconds", 6.5, 248668, 2000, 118, "Action,Crime,Thriller", "nm0784061", "tt0187078")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Swordfish", 6.5, 170362, 2001, 99, "Action,Crime,Thriller", "nm0784061", "tt0244244")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Whiteout", 5.5, 35988, 2009, 101, "Action,Crime,Horror", "nm0784061", "tt0365929")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Season of the Witch", 5.4, 86683, 2011, 95, "Action,Adventure,Fantasy", "nm0784061", "tt0479997")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Leprechaun", 4.8, 21276, 1993, 92, "Comedy,Fantasy,Horror", "nm0428751", "tt0107387")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Look Who's Talking Now", 4.4, 26138, 1993, 96, "Comedy,Family,Romance", "nm0740568", "tt0107438")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Man Without a Face", 6.7, 26315, 1993, 115, "Drama", "nm0000154", "tt0107501")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Braveheart", 8.3, 903826, 1995, 178, "Biography,Drama,History", "nm0000154", "tt0112573")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Passion of the Christ", 7.1, 203064, 2004, 127, "Drama", "nm0000154", "tt0335345")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Apocalypto", 7.8, 273727, 2006, 139, "Action,Adventure,Drama", "nm0000154", "tt0472043")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hacksaw Ridge", 8.1, 379122, 2016, 139, "Biography,Drama,History", "nm0000154", "tt2119532")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Menace II Society", 7.5, 47470, 1993, 97, "Crime,Drama,Thriller", "nm0400436", "tt0107554")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dead Presidents", 6.9, 18248, 1995, 119, "Action,Crime,Drama", "nm0400436", "tt0112819")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("From Hell", 6.8, 140686, 2001, 122, "Horror,Mystery,Thriller", "nm0400436", "tt0120681")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Book of Eli", 6.9, 276057, 2010, 118, "Action,Adventure,Drama", "nm0400436", "tt1037705")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alpha", 6.7, 45676, 2018, 96, "Adventure,Drama,Family", "nm0400436", "tt4244998")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Naked", 7.8, 30915, 1993, 132, "Comedy,Drama", "nm0005139", "tt0107653")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Secrets & Lies", 8.0, 34223, 1996, 136, "Drama", "nm0005139", "tt0117589")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Topsy-Turvy", 7.3, 11165, 1999, 154, "Biography,Comedy,Drama", "nm0005139", "tt0151568")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vera Drake", 7.6, 22640, 2004, 125, "Crime,Drama", "nm0005139", "tt0383694")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Happy-Go-Lucky", 7.0, 36216, 2008, 118, "Comedy,Drama,Romance", "nm0005139", "tt1045670")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Another Year", 7.3, 26519, 2010, 129, "Comedy,Drama", "nm0005139", "tt1431181")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mr. Turner", 6.8, 22977, 2014, 150, "Biography,Drama,History", "nm0005139", "tt2473794")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Loaded Weapon 1", 6.2, 42133, 1993, 84, "Action,Comedy,Crime", "nm0704164", "tt0107659")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Needful Things", 6.3, 20780, 1993, 120, "Crime,Drama,Fantasy", "nm0381699", "tt0107665")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Nightmare Before Christmas", 8.0, 272035, 1993, 76, "Animation,Family,Fantasy", "nm0783139", "tt0107688")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("James and the Giant Peach", 6.7, 56751, 1996, 79, "Adventure,Animation,Family", "nm0783139", "tt0116683")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monkeybone", 4.7, 16001, 2001, 93, "Animation,Comedy,Fantasy", "nm0783139", "tt0166276")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Coraline", 7.7, 181201, 2009, 100, "Animation,Drama,Fantasy", "nm0783139", "tt0327597")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ninja Scroll", 7.9, 32204, 1993, 94, "Action,Adventure,Animation", "nm0159109", "tt0107692")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vampire Hunter D: Bloodlust", 7.7, 27223, 2000, 103, "Action,Animation,Fantasy", "nm0159109", "tt0216651")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Orlando", 7.2, 12537, 1992, 94, "Biography,Drama,Fantasy", "nm0006845", "tt0107756")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Man Who Cried", 6.2, 13678, 2000, 100, "Drama,Music,Romance", "nm0006845", "tt0206917")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Party", 6.6, 14410, 2017, 71, "Comedy,Drama", "nm0006845", "tt5814592")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Piano", 7.6, 73902, 1993, 121, "Drama,Music,Romance", "nm0001005", "tt0107822")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Portrait of a Lady", 6.2, 10195, 1996, 144, "Drama,Romance", "nm0001005", "tt0117364")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Holy Smoke", 5.9, 13347, 1999, 115, "Comedy,Drama", "nm0001005", "tt0144715")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In the Cut", 5.3, 20714, 2003, 119, "Mystery,Thriller", "nm0001005", "tt0199626")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bright Star", 6.9, 24214, 2009, 119, "Biography,Drama,Romance", "nm0001005", "tt0810784")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Top of the Lake", 7.5, 30099, 2013, 60, "Crime,Drama,Mystery", "nm0001005", "tt2103085")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rookie of the Year", 6.0, 22648, 1993, 103, "Comedy,Family,Fantasy", "nm0827663", "tt0107985")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sandlot", 7.8, 72830, 1993, 101, "Comedy,Drama,Family", "nm0262693", "tt0108037")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Searching for Bobby Fischer", 7.4, 27498, 1993, 109, "Biography,Drama", "nm0001873", "tt0108065")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Civil Action", 6.6, 26116, 1998, 115, "Drama", "nm0001873", "tt0120633")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("All the King's Men", 6.2, 22826, 2006, 128, "Drama,Thriller", "nm0001873", "tt0405676")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Night Of", 8.5, 102791, 2016, 525, "Crime,Drama", "nm0001873", "tt2401256")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sister Act 2: Back in the Habit", 5.6, 45206, 1993, 107, "Comedy,Family,Music", "nm0004886", "tt0108147")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sleepless in Seattle", 6.8, 147422, 1993, 105, "Comedy,Drama,Romance", "nm0001188", "tt0108160")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Michael", 5.7, 38966, 1996, 105, "Comedy,Drama,Fantasy", "nm0001188", "tt0117038")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("You've Got Mail", 6.6, 180063, 1998, 119, "Comedy,Drama,Romance", "nm0001188", "tt0128853")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bewitched", 4.8, 65959, 2005, 102, "Comedy,Fantasy,Romance", "nm0001188", "tt0374536")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Julie & Julia", 7.0, 98184, 2009, 118, "Biography,Drama,Romance", "nm0001188", "tt1135503")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sniper", 6.1, 21696, 1993, 98, "Action,Thriller,War", "nm0515891", "tt0108171")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Specialist", 5.6, 59185, 1994, 110, "Action,Crime,Drama", "nm0515891", "tt0111255")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Anaconda", 4.8, 88832, 1997, 89, "Action,Adventure,Horror", "nm0515891", "tt0118615")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("So I Married an Axe Murderer", 6.4, 31513, 1993, 93, "Comedy,Romance", "nm0772095", "tt0108174")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sommersby", 6.2, 18171, 1993, 114, "Drama,Mystery,Romance", "nm0000750", "tt0108185")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Copycat", 6.6, 50733, 1995, 123, "Drama,Mystery,Thriller", "nm0000750", "tt0112722")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Man Who Knew Too Little", 6.7, 28336, 1997, 94, "Comedy,Crime,Drama", "nm0000750", "tt0120483")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Entrapment", 6.3, 101599, 1999, 113, "Action,Crime,Romance", "nm0000750", "tt0137494")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Core", 5.5, 87055, 2003, 135, "Action,Adventure,Sci-Fi", "nm0000750", "tt0298814")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Carnival Row", 8.1, 20714, 2019, null, "Crime,Drama,Fantasy", "nm0000750", "tt0489974")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Creation", 6.7, 13185, 2009, 108, "Biography,Drama,Romance", "nm0000750", "tt0974014")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sonatine", 7.5, 16190, 1993, 94, "Action,Comedy,Crime", "nm0001429", "tt0108188")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fireworks", 7.8, 25315, 1997, 103, "Crime,Drama,Romance", "nm0001429", "tt0119250")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kikujiro", 7.8, 17203, 1999, 122, "Comedy,Drama", "nm0001429", "tt0199683")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brother", 7.2, 20761, 2000, 114, "Crime,Drama,Thriller", "nm0001429", "tt0222851")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dolls", 7.6, 14991, 2002, 114, "Drama,Romance", "nm0001429", "tt0330229")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Blind Swordsman: Zatoichi", 7.5, 45302, 2003, 116, "Action,Comedy,Crime", "nm0001429", "tt0363226")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Outrage", 6.8, 11215, 2010, 109, "Action,Crime,Drama", "nm0001429", "tt1462667")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stalingrad", 7.5, 28597, 1993, 134, "Drama,War", "nm0005917", "tt0108211")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Super Mario Bros.", 4.0, 46099, 1993, 104, "Adventure,Comedy,Family", "nm0417708", "tt0108255")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Swing Kids", 6.8, 14787, 1993, 112, "Drama,Music", "nm0141961", "tt0108265")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Metro", 5.5, 24237, 1997, 117, "Action,Comedy,Crime", "nm0141961", "tt0119664")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Save the Last Dance", 6.2, 54544, 2001, 112, "Drama,Music,Romance", "nm0141961", "tt0206275")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Coach Carter", 7.3, 114300, 2005, 136, "Biography,Drama,Sport", "nm0141961", "tt0393162")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("When the Game Stands Tall", 6.7, 14645, 2014, 115, "Drama,Sport", "nm0141961", "tt2247476")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bosch", 8.4, 35355, 2014, 51, "Crime,Drama", "nm0141961", "tt3502248")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Teenage Mutant Ninja Turtles III", 4.8, 29080, 1993, 96, "Action,Adventure,Comedy", "nm0318795", "tt0108308")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Salvation", 7.1, 14768, 2017, 43, "Drama,Sci-Fi,Thriller", "nm0318795", "tt6170874")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Untamed Heart", 6.8, 12023, 1993, 102, "Comedy,Drama,Romance", "nm0082300", "tt0108451")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flyboys", 6.5, 39791, 2006, 140, "Action,Drama,History", "nm0082300", "tt0454824")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Visitors", 7.0, 29882, 1993, 107, "Comedy,Fantasy", "nm0688585", "tt0108500")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Just Visiting", 5.8, 17509, 2001, 88, "Comedy,Fantasy,Sci-Fi", "nm0688585", "tt0189192")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wayne's World 2", 6.2, 72826, 1993, 95, "Comedy,Music", "nm0839660", "tt0108525")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Burn Notice", 7.9, 65244, 2007, 44, "Action,Crime,Drama", "nm0839660", "tt0810788")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Umbrella Academy", 8.0, 83742, 2019, 60, "Action,Adventure,Comedy", "nm0839660", "tt1312171")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Liar Liar", 6.9, 263971, 1997, 86, "Comedy,Fantasy", "nm0001723", "tt0119528")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Patch Adams", 6.8, 97130, 1998, 115, "Biography,Comedy,Drama", "nm0001723", "tt0129290")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dragonfly", 6.1, 35214, 2002, 104, "Drama,Fantasy,Mystery", "nm0001723", "tt0259288")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bruce Almighty", 6.7, 350732, 2003, 101, "Comedy,Drama,Fantasy", "nm0001723", "tt0315327")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Evan Almighty", 5.4, 132310, 2007, 96, "Comedy,Family,Fantasy", "nm0001723", "tt0413099")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Adventures of Priscilla, Queen of the Desert", 7.4, 43756, 1994, 104, "Comedy,Music", "nm0254632", "tt0109045")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eye of the Beholder", 5.1, 14111, 1999, 109, "Drama,Mystery,Thriller", "nm0254632", "tt0120662")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Easy Virtue", 6.7, 19207, 2008, 97, "Comedy,Romance", "nm0254632", "tt0808244")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Few Best Men", 5.7, 12169, 2011, 97, "Comedy,Romance", "nm0254632", "tt1640711")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Andaz Apna Apna", 8.2, 46204, 1994, 160, "Comedy,Family,Romance", "nm0764316", "tt0109117")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Legend of Bhagat Singh", 8.1, 13380, 2002, 155, "Action,Biography,Drama", "nm0764316", "tt0319736")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Khakee", 7.4, 14181, 2004, 174, "Action,Crime,Drama", "nm0764316", "tt0347332")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ajab Prem Ki Ghazab Kahani", 6.3, 11099, 2009, 150, "Action,Comedy,Romance", "nm0764316", "tt1252596")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Baby's Day Out", 6.1, 41704, 1994, 99, "Adventure,Comedy,Crime", "nm0425957", "tt0109190")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blank Check", 5.3, 17475, 1994, 93, "Comedy,Crime,Family", "nm0906548", "tt0109287")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stigmata", 6.2, 61454, 1999, 103, "Horror", "nm0906548", "tt0145531")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fog", 3.7, 33465, 2005, 100, "Horror", "nm0906548", "tt0432291")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Chase", 5.9, 16393, 1994, 94, "Action,Adventure,Comedy", "nm0726472", "tt0109402")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Detroit Rock City", 6.9, 33835, 1999, 95, "Comedy,Music", "nm0726472", "tt0165710")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("City Slickers II: The Legend of Curly's Gold", 5.5, 17181, 1994, 116, "Comedy", "nm0917992", "tt0109439")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blackadder Back & Forth", 7.7, 13278, 1999, 33, "Comedy,History,Sci-Fi", "nm0917992", "tt0212579")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Made of Honor", 5.9, 63946, 2008, 101, "Comedy,Romance", "nm0917992", "tt0866439")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Clerks", 7.7, 203392, 1994, 92, "Comedy", "nm0003620", "tt0109445")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mallrats", 7.1, 110419, 1995, 94, "Comedy,Romance", "nm0003620", "tt0113749")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chasing Amy", 7.2, 126588, 1997, 113, "Comedy,Drama,Romance", "nm0003620", "tt0118842")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dogma", 7.3, 200224, 1999, 130, "Adventure,Comedy,Drama", "nm0003620", "tt0120655")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jay and Silent Bob Strike Back", 6.8, 142600, 2001, 104, "Comedy", "nm0003620", "tt0261392")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jersey Girl", 6.2, 60759, 2004, 102, "Comedy,Drama,Romance", "nm0003620", "tt0300051")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Clerks II", 7.3, 125611, 2006, 97, "Comedy", "nm0003620", "tt0424345")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Red State", 6.2, 59773, 2011, 88, "Action,Crime,Horror", "nm0003620", "tt0873886")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zack and Miri Make a Porno", 6.5, 167158, 2008, 101, "Comedy,Romance", "nm0003620", "tt1007028")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cop Out", 5.6, 82354, 2010, 107, "Action,Comedy,Crime", "nm0003620", "tt1385867")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Goldbergs", 8.1, 27410, 2013, 22, "Comedy", "nm0003620", "tt2712740")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tusk", 5.3, 41853, 2014, 102, "Comedy,Drama,Horror", "nm0003620", "tt3099498")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Yoga Hosers", 4.3, 10797, 2016, 88, "Action,Comedy,Fantasy", "nm0003620", "tt3838992")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Color of Night", 5.2, 21608, 1994, 121, "Mystery,Romance,Thriller", "nm0750701", "tt0109456")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Corrina, Corrina", 6.6, 11630, 1994, 115, "Comedy,Drama,Romance", "nm0625458", "tt0109484")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Am Sam", 7.6, 137159, 2001, 132, "Drama", "nm0625458", "tt0277027")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Love the Coopers", 5.8, 18245, 2015, 107, "Comedy,Fantasy,Romance", "nm0625458", "tt2279339")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Crow", 7.6, 157309, 1994, 102, "Action,Drama,Fantasy", "nm0001639", "tt0109506")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dark City", 7.6, 179121, 1998, 100, "Mystery,Sci-Fi,Thriller", "nm0001639", "tt0118929")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I, Robot", 7.1, 471027, 2004, 115, "Action,Crime,Drama", "nm0001639", "tt0343818")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Knowing", 6.2, 210804, 2009, 121, "Action,Drama,Mystery", "nm0001639", "tt0448011")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gods of Egypt", 5.4, 97121, 2016, 127, "Action,Adventure,Fantasy", "nm0001639", "tt2404233")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crumb", 8.0, 17112, 1994, 119, "Biography,Comedy,Documentary", "nm0959062", "tt0109508")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ghost World", 7.3, 107848, 2001, 111, "Comedy,Drama", "nm0959062", "tt0162346")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bad Santa", 7.0, 127944, 2003, 91, "Comedy,Crime,Drama", "nm0959062", "tt0307987")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Art School Confidential", 6.3, 16156, 2006, 102, "Comedy,Drama,Romance", "nm0959062", "tt0364955")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("D2: The Mighty Ducks", 6.1, 33700, 1994, 106, "Comedy,Drama,Family", "nm0918873", "tt0109520")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("George of the Jungle", 5.4, 66466, 1997, 92, "Action,Adventure,Comedy", "nm0918873", "tt0119190")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Out-of-Towners", 5.5, 12258, 1999, 90, "Comedy", "nm0918873", "tt0129280")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What's the Worst That Could Happen?", 5.5, 14269, 2001, 94, "Comedy,Crime", "nm0918873", "tt0161083")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dickie Roberts: Former Child Star", 5.5, 13084, 2003, 98, "Comedy", "nm0918873", "tt0325258")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Darr", 7.8, 20785, 1993, 178, "Drama,Romance,Thriller", "nm0007181", "tt0109555")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dil To Pagal Hai", 7.0, 19238, 1997, 179, "Comedy,Drama,Musical", "nm0007181", "tt0118983")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Veer-Zaara", 7.8, 45681, 2004, 192, "Drama,Family,Musical", "nm0007181", "tt0420332")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jab Tak Hai Jaan", 6.7, 48807, 2012, 176, "Drama,Romance", "nm0007181", "tt2176013")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cemetery Man", 7.2, 18742, 1994, 105, "Comedy,Horror", "nm0811714", "tt0109592")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dumb and Dumber", 7.3, 333618, 1994, 107, "Comedy", "nm0268380", "tt0109686")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("There's Something About Mary", 7.1, 277618, 1998, 119, "Comedy,Romance", "nm0268380", "tt0129387")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fever Pitch", 6.2, 40524, 2005, 104, "Comedy,Drama,Romance", "nm0268380", "tt0332047")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stuck on You", 5.7, 49309, 2003, 118, "Comedy", "nm0268380", "tt0338466")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Heartbreak Kid", 5.8, 81035, 2007, 116, "Comedy,Romance", "nm0268380", "tt0408839")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Green Book", 8.2, 246312, 2018, 130, "Biography,Comedy,Drama", "nm0268380", "tt6966692")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Exotica", 7.1, 16820, 1994, 103, "Drama", "nm0000382", "tt0109759")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sweet Hereafter", 7.5, 30337, 1997, 112, "Drama", "nm0000382", "tt0120255")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ararat", 6.3, 11030, 2002, 115, "Drama,War", "nm0000382", "tt0273435")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Where the Truth Lies", 6.5, 16445, 2005, 107, "Crime,Drama,Mystery", "nm0000382", "tt0373450")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Devil's Knot", 6.1, 19018, 2013, 114, "Biography,Crime,Drama", "nm0000382", "tt0804463")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chloe", 6.3, 65650, 2009, 96, "Drama,Mystery,Romance", "nm0000382", "tt1352824")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Captive", 5.9, 27610, 2014, 112, "Crime,Drama,Mystery", "nm0000382", "tt2326612")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Remember", 7.5, 19941, 2015, 94, "Drama,Mystery,Thriller", "nm0000382", "tt3704050")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Four Weddings and a Funeral", 7.0, 129197, 1994, 117, "Comedy,Drama,Romance", "nm0001565", "tt0109831")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Donnie Brasco", 7.7, 258176, 1997, 127, "Biography,Crime,Drama", "nm0001565", "tt0119008")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pushing Tin", 6.0, 27184, 1999, 124, "Comedy,Drama,Romance", "nm0001565", "tt0120797")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mona Lisa Smile", 6.5, 73322, 2003, 117, "Drama", "nm0001565", "tt0304415")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Harry Potter and the Goblet of Fire", 7.7, 498260, 2005, 157, "Adventure,Family,Fantasy", "nm0001565", "tt0330373")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Prince of Persia: The Sands of Time", 6.6, 258535, 2010, 116, "Action,Fantasy", "nm0001565", "tt0473075")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Love in the Time of Cholera", 6.4, 21438, 2007, 139, "Drama,Romance", "nm0001565", "tt0484740")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Guernsey Literary and Potato Peel Pie Society", 7.4, 24818, 2018, 124, "Drama,History,Romance", "nm0001565", "tt1289403")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Great Expectations", 6.4, 11546, 2012, 128, "Drama,Romance", "nm0001565", "tt1836808")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fresh", 7.6, 11341, 1994, 114, "Crime,Drama,Thriller", "nm0945026", "tt0109842")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Remember the Titans", 7.8, 186525, 2000, 113, "Biography,Drama,Sport", "nm0945026", "tt0210945")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Uptown Girls", 6.1, 33451, 2003, 92, "Comedy,Drama,Romance", "nm0945026", "tt0263757")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Safe", 6.5, 97553, 2012, 94, "Action,Crime,Thriller", "nm0945026", "tt1656190")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Max", 6.7, 24308, 2015, 111, "Adventure,Drama,Family", "nm0945026", "tt3369806")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Heavyweights", 6.6, 23253, 1995, 100, "Comedy,Drama,Family", "nm0109359", "tt0110006")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Little Nicky", 5.3, 92897, 2000, 90, "Comedy,Fantasy", "nm0109359", "tt0185431")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mr. Deeds", 5.8, 128843, 2002, 96, "Comedy,Romance", "nm0109359", "tt0280590")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Without a Paddle", 5.9, 42287, 2004, 95, "Adventure,Comedy,Mystery", "nm0109359", "tt0364751")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Drillbit Taylor", 5.7, 55736, 2008, 110, "Comedy,Drama", "nm0109359", "tt0817538")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Walk of Shame", 6.0, 48664, 2014, 95, "Comedy", "nm0109359", "tt2463288")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Do-Over", 5.7, 34801, 2016, 108, "Action,Adventure,Comedy", "nm0109359", "tt4769836")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sandy Wexler", 5.1, 12520, 2017, 130, "Comedy", "nm0109359", "tt5893332")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Highlander: The Final Dimension", 4.5, 18861, 1994, 99, "Action,Fantasy,Romance", "nm0602452", "tt0110027")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Goal! III", 3.2, 11312, 2009, 96, "Action,Adventure,Drama", "nm0602452", "tt0499487")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hoop Dreams", 8.3, 22597, 1994, 170, "Documentary,Drama,Sport", "nm0416945", "tt0110057")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Best Friend's Wedding", 6.3, 119654, 1997, 105, "Comedy,Drama,Romance", "nm0389591", "tt0119738")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Peter Pan", 6.8, 62429, 2003, 113, "Adventure,Family,Fantasy", "nm0389591", "tt0316396")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Confessions of a Shopaholic", 5.9, 71530, 2009, 104, "Comedy,Romance", "nm0389591", "tt1093908")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Naked Gun 33 1/3: The Final Insult", 6.5, 90489, 1994, 83, "Comedy,Crime", "nm0781842", "tt0110622")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tommy Boy", 7.1, 71804, 1995, 97, "Adventure,Comedy", "nm0781842", "tt0114694")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Fellow Americans", 6.5, 13564, 1996, 101, "Adventure,Comedy", "nm0781842", "tt0117119")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nutty Professor II: The Klumps", 4.4, 46091, 2000, 106, "Comedy,Romance,Sci-Fi", "nm0781842", "tt0144528")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Anger Management", 6.2, 193844, 2003, 106, "Comedy", "nm0781842", "tt0305224")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("50 First Dates", 6.8, 308195, 2004, 99, "Comedy,Drama,Romance", "nm0781842", "tt0343660")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Longest Yard", 6.4, 152580, 2005, 113, "Comedy,Crime,Sport", "nm0781842", "tt0398165")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Get Smart", 6.5, 192475, 2008, 110, "Action,Adventure,Comedy", "nm0781842", "tt0425061")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Grudge Match", 6.4, 54829, 2013, 113, "Comedy,Drama,Sport", "nm0781842", "tt1661382")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Second Act", 5.8, 16090, 2018, 103, "Comedy,Drama,Romance", "nm0781842", "tt2126357")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nightwatch", 7.3, 14261, 1994, 107, "Thriller", "nm0097079", "tt0110631")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nightwatch", 6.2, 18106, 1997, 101, "Drama,Horror,Thriller", "nm0097079", "tt0119791")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Possession", 5.9, 54212, 2012, 92, "Horror,Mystery,Thriller", "nm0097079", "tt0431021")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("No Escape", 6.1, 17722, 1994, 118, "Action,Drama,Sci-Fi", "nm0132709", "tt0110678")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("GoldenEye", 7.2, 225550, 1995, 130, "Action,Adventure,Thriller", "nm0132709", "tt0113189")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mask of Zorro", 6.7, 158640, 1998, 136, "Action,Adventure,Comedy", "nm0132709", "tt0120746")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vertical Limit", 5.9, 55842, 2000, 124, "Action,Adventure,Drama", "nm0132709", "tt0190865")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beyond Borders", 6.5, 25353, 2003, 127, "Adventure,Drama,Romance", "nm0132709", "tt0294357")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Casino Royale", 8.0, 545591, 2006, 144, "Action,Adventure,Thriller", "nm0132709", "tt0381061")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Legend of Zorro", 5.9, 87351, 2005, 129, "Action,Adventure,Romance", "nm0132709", "tt0386140")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Green Lantern", 5.5, 254878, 2011, 114, "Action,Adventure,Sci-Fi", "nm0132709", "tt1133985")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Edge of Darkness", 6.6, 85582, 2010, 117, "Crime,Drama,Mystery", "nm0132709", "tt1226273")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Foreigner", 7.0, 84854, 2017, 113, "Action,Thriller", "nm0132709", "tt1615160")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("On Deadly Ground", 4.6, 21026, 1994, 101, "Action,Adventure,Thriller", "nm0000219", "tt0110725")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Once Were Warriors", 7.9, 29704, 1994, 102, "Crime,Drama", "nm0848414", "tt0110729")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mulholland Falls", 6.3, 14955, 1996, 107, "Crime,Drama,Mystery", "nm0848414", "tt0117107")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Edge", 6.9, 64284, 1997, 117, "Action,Adventure,Drama", "nm0848414", "tt0119051")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Along Came a Spider", 6.4, 69865, 2001, 104, "Drama,Thriller", "nm0848414", "tt0164334")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Die Another Day", 6.1, 194015, 2002, 133, "Action,Adventure,Thriller", "nm0848414", "tt0246460")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("xXx: State of the Union", 4.4, 64507, 2005, 101, "Action,Adventure,Crime", "nm0848414", "tt0329774")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Next", 6.2, 141642, 2007, 96, "Action,Sci-Fi,Thriller", "nm0848414", "tt0435705")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Devil's Double", 7.1, 58657, 2011, 109, "Biography,Drama,Thriller", "nm0848414", "tt1270262")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("PCU", 6.6, 11543, 1994, 79, "Comedy", "nm0000952", "tt0110759")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("High School High", 5.5, 12118, 1996, 86, "Comedy,Crime,Romance", "nm0000952", "tt0116531")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Pagemaster", 6.1, 19489, 1994, 80, "Adventure,Animation,Comedy", "nm0402563", "tt0110763")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Before the Rain", 8.0, 13005, 1994, 113, "Drama,War", "nm0541391", "tt0110882")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Reality Bites", 6.6, 42916, 1994, 99, "Comedy,Drama,Romance", "nm0001774", "tt0110950")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Cable Guy", 6.1, 143458, 1996, 96, "Comedy,Drama,Thriller", "nm0001774", "tt0115798")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zoolander", 6.6, 234166, 2001, 90, "Comedy", "nm0001774", "tt0196229")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Secret Life of Walter Mitty", 7.3, 278723, 2013, 114, "Comedy,Drama,Fantasy", "nm0001774", "tt0359950")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tropic Thunder", 7.0, 356506, 2008, 107, "Action,Comedy,War", "nm0001774", "tt0942385")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zoolander 2", 4.7, 60853, 2016, 101, "Action,Comedy", "nm0001774", "tt1608290")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Escape at Dannemora", 8.0, 13972, 2018, 440, "Biography,Crime,Drama", "nm0001774", "tt6866266")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ref", 6.9, 22153, 1994, 96, "Comedy,Crime,Drama", "nm0001130", "tt0110955")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beautiful Girls", 7.1, 30041, 1996, 112, "Comedy,Drama,Romance", "nm0001130", "tt0115639")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Life", 6.8, 41594, 1999, 108, "Comedy,Crime,Drama", "nm0001130", "tt0123964")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blow", 7.6, 226681, 2001, 124, "Biography,Crime,Drama", "nm0001130", "tt0221027")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Queen Margot", 7.4, 15444, 1994, 159, "Biography,Drama,History", "nm0161717", "tt0110963")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Intimacy", 6.1, 10560, 2001, 119, "Drama,Romance", "nm0161717", "tt0256103")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Texas Chainsaw Massacre: The Next Generation", 3.3, 18467, 1994, 87, "Comedy,Horror,Thriller", "nm0377066", "tt0110978")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Santa Clause", 6.4, 86283, 1994, 97, "Comedy,Drama,Family", "nm0664756", "tt0111070")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jungle 2 Jungle", 5.2, 21471, 1997, 105, "Comedy,Family", "nm0664756", "tt0119432")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Miss Congeniality 2: Armed & Fabulous", 5.1, 65304, 2005, 115, "Action,Comedy,Crime", "nm0664756", "tt0385307")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shallow Grave", 7.3, 53546, 1994, 89, "Crime,Thriller", "nm0000965", "tt0111149")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Trainspotting", 8.1, 597575, 1996, 93, "Drama", "nm0000965", "tt0117951")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Life Less Ordinary", 6.4, 33159, 1997, 103, "Comedy,Crime,Fantasy", "nm0000965", "tt0119535")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Beach", 6.7, 211155, 2000, 119, "Adventure,Drama,Romance", "nm0000965", "tt0163978")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("28 Days Later...", 7.6, 350333, 2002, 113, "Drama,Horror,Sci-Fi", "nm0000965", "tt0289043")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Millions", 6.9, 23808, 2004, 98, "Comedy,Crime,Drama", "nm0000965", "tt0366777")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sunshine", 7.2, 222536, 2007, 107, "Sci-Fi,Thriller", "nm0000965", "tt0448134")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Slumdog Millionaire", 8.0, 756023, 2008, 120, "Drama,Romance", "nm0000965", "tt1010048")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("127 Hours", 7.6, 328541, 2010, 94, "Biography,Drama", "nm0000965", "tt1542344")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Trance", 6.9, 105998, 2013, 101, "Crime,Drama,Mystery", "nm0000965", "tt1924429")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Steve Jobs", 7.2, 141217, 2015, 122, "Biography,Drama", "nm0000965", "tt2080374")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("T2 Trainspotting", 7.2, 100282, 2017, 117, "Drama", "nm0000965", "tt2763304")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Yesterday", 7.0, 48220, 2019, 116, "Comedy,Fantasy,Music", "nm0000965", "tt8079248")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Shawshank Redemption", 9.3, 2141496, 1994, 142, "Drama", "nm0001104", "tt0111161")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Green Mile", 8.6, 1040398, 1999, 189, "Crime,Drama,Fantasy", "nm0001104", "tt0120689")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Majestic", 6.9, 50195, 2001, 152, "Drama,Romance", "nm0001104", "tt0268995")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mist", 7.1, 264642, 2007, 126, "Horror,Sci-Fi", "nm0001104", "tt0884328")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Days Gone Bye", 9.2, 18846, 2010, 67, "Drama,Horror,Thriller", "nm0001104", "tt1589921")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Speed", 7.2, 308453, 1994, 116, "Action,Adventure,Thriller", "nm0000957", "tt0111257")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Twister", 6.4, 164399, 1996, 113, "Action,Adventure,Thriller", "nm0000957", "tt0117998")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Speed 2: Cruise Control", 3.9, 70635, 1997, 121, "Action,Adventure,Crime", "nm0000957", "tt0120179")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Haunting", 5.0, 67654, 1999, 113, "Fantasy,Horror,Mystery", "nm0000957", "tt0171363")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lara Croft Tomb Raider: The Cradle of Life", 5.5, 123587, 2003, 117, "Action,Adventure,Fantasy", "nm0000957", "tt0325703")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Trek Generations", 6.6, 71341, 1994, 118, "Action,Adventure,Mystery", "nm0141222", "tt0111280")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The 10th Kingdom", 8.3, 16658, 2000, 417, "Adventure,Comedy,Family", "nm0141222", "tt0207275")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Street Fighter", 3.9, 61995, 1994, 102, "Action,Adventure,Comedy", "nm0211823", "tt0111301")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Swan Princess", 6.4, 21044, 1994, 90, "Animation,Comedy,Family", "nm0723704", "tt0111333")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Threesome", 6.3, 12119, 1994, 89, "Comedy,Drama,Romance", "nm0281598", "tt0111418")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Craft", 6.3, 69726, 1996, 101, "Drama,Fantasy,Horror", "nm0281598", "tt0115963")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dick", 6.1, 17756, 1999, 94, "Comedy", "nm0281598", "tt0144168")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The In-Laws", 5.7, 15632, 2003, 98, "Action,Comedy,Thriller", "nm0281598", "tt0314786")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nancy Drew", 5.9, 18410, 2007, 99, "Comedy,Crime,Family", "nm0281598", "tt0479500")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hamlet 2", 6.3, 16203, 2008, 92, "Comedy,Music", "nm0281598", "tt1104733")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Barefoot", 6.6, 21791, 2014, 90, "Comedy,Drama,Romance", "nm0281598", "tt2355495")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Younger", 7.8, 14942, 2015, 22, "Comedy,Romance", "nm0281598", "tt3288518")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Insatiable", 6.6, 17072, 2018, 45, "Comedy,Drama,Thriller", "nm0281598", "tt6487482")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thumbelina", 6.3, 14063, 1994, 86, "Animation,Family,Fantasy", "nm0325776", "tt0111419")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Anastasia", 7.1, 104415, 1997, 94, "Adventure,Animation,Drama", "nm0325776", "tt0118617")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Titan A.E.", 6.6, 56809, 2000, 94, "Action,Adventure,Animation", "nm0325776", "tt0120913")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Trapped in Paradise", 6.0, 11638, 1994, 111, "Adventure,Comedy,Crime", "nm0303032", "tt0111477")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Neon Genesis Evangelion: The End of Evangelion", 8.2, 30875, 1997, 87, "Action,Animation,Drama", "nm0030417", "tt0169858")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Neon Genesis Evangelion: Death & Rebirth", 7.5, 10251, 1997, 101, "Action,Animation,Drama", "nm0030417", "tt0169880")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shin Godzilla", 6.7, 19274, 2016, 120, "Action,Adventure,Drama", "nm0030417", "tt4262980")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sliders", 7.4, 15265, 1995, 60, "Adventure,Fantasy,Sci-Fi", "nm0004048", "tt0112167")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spider-Man: The Animated Series", 8.3, 23795, 1994, 23, "Action,Adventure,Animation", "nm0724436", "tt0112175")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Trek: Voyager", 7.8, 52672, 1995, 44, "Action,Adventure,Sci-Fi", "nm0540487", "tt0112178")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Xena: Warrior Princess", 6.7, 38784, 1995, 45, "Action,Adventure,Drama", "nm0561703", "tt0112230")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ace Ventura: When Nature Calls", 6.4, 190684, 1995, 90, "Adventure,Comedy,Crime", "nm0644203", "tt0112281")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nothing to Lose", 6.7, 41793, 1997, 98, "Action,Adventure,Comedy", "nm0644203", "tt0119807")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kung Pow: Enter the Fist", 6.2, 42012, 2002, 81, "Action,Comedy", "nm0644203", "tt0240468")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Barnyard", 5.5, 25545, 2006, 90, "Adventure,Animation,Comedy", "nm0644203", "tt0414853")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Babe", 6.7, 110496, 1995, 91, "Comedy,Drama,Family", "nm0003088", "tt0112431")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Miss Potter", 6.9, 26858, 2006, 88, "Biography,Drama", "nm0003088", "tt0482546")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bad Boys", 6.9, 210809, 1995, 119, "Action,Comedy,Crime", "nm0000881", "tt0112442")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Rock", 7.4, 296556, 1996, 136, "Action,Adventure,Thriller", "nm0000881", "tt0117500")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Armageddon", 6.7, 375583, 1998, 151, "Action,Adventure,Sci-Fi", "nm0000881", "tt0120591")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bad Boys II", 6.6, 209522, 2003, 147, "Action,Comedy,Crime", "nm0000881", "tt0172156")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pearl Harbor", 6.2, 296304, 2001, 183, "Action,Drama,History", "nm0000881", "tt0213149")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Island", 6.8, 290198, 2005, 136, "Action,Sci-Fi,Thriller", "nm0000881", "tt0399201")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Transformers", 7.0, 574463, 2007, 144, "Action,Adventure,Sci-Fi", "nm0000881", "tt0418279")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Transformers: Revenge of the Fallen", 6.0, 368647, 2009, 150, "Action,Adventure,Sci-Fi", "nm0000881", "tt1055369")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Transformers: Dark of the Moon", 6.2, 369912, 2011, 154, "Action,Adventure,Sci-Fi", "nm0000881", "tt1399103")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pain & Gain", 6.4, 190117, 2013, 129, "Action,Comedy,Crime", "nm0000881", "tt1980209")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Transformers: Age of Extinction", 5.6, 286629, 2014, 165, "Action,Adventure,Sci-Fi", "nm0000881", "tt2109248")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Transformers: The Last Knight", 5.2, 123002, 2017, 154, "Action,Adventure,Sci-Fi", "nm0000881", "tt3371366")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("13 Hours", 7.3, 106167, 2016, 144, "Action,Drama,History", "nm0000881", "tt4172430")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Basketball Diaries", 7.3, 95645, 1995, 102, "Biography,Crime,Drama", "nm0436284", "tt0112461")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Billy Madison", 6.4, 122979, 1995, 89, "Comedy", "nm0205542", "tt0112508")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Half Baked", 6.7, 55181, 1998, 82, "Comedy,Crime", "nm0205542", "tt0120693")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crossroads", 3.5, 37273, 2002, 93, "Comedy,Drama,Romance", "nm0205542", "tt0275022")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Brady Bunch Movie", 6.0, 19610, 1995, 90, "Comedy", "nm0858525", "tt0112572")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Doctor Dolittle", 5.4, 86883, 1998, 85, "Comedy,Family,Fantasy", "nm0858525", "tt0118998")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Private Parts", 6.9, 32506, 1997, 109, "Biography,Comedy,Drama", "nm0858525", "tt0119951")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("28 Days", 6.0, 41408, 2000, 103, "Comedy,Drama", "nm0858525", "tt0191754")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Spy", 5.4, 46875, 2002, 97, "Action,Adventure,Comedy", "nm0858525", "tt0297181")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("John Tucker Must Die", 5.7, 76200, 2006, 89, "Comedy,Romance", "nm0858525", "tt0455967")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alvin and the Chipmunks: The Squeakquel", 4.5, 40105, 2009, 88, "Animation,Comedy,Family", "nm0858525", "tt1231580")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Casper", 6.1, 109679, 1995, 100, "Comedy,Family,Fantasy", "nm0797869", "tt0112642")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("City of Angels", 6.7, 108181, 1998, 114, "Drama,Fantasy,Romance", "nm0797869", "tt0120632")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Moonlight Mile", 6.6, 13007, 2002, 117, "Drama,Romance", "nm0797869", "tt0179098")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lemony Snicket's A Series of Unfortunate Events", 6.8, 186636, 2004, 108, "Adventure,Comedy,Family", "nm0797869", "tt0339291")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Land of the Lost", 5.3, 61264, 2009, 102, "Action,Adventure,Comedy", "nm0797869", "tt0457400")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("10 Items or Less", 6.6, 13885, 2006, 82, "Comedy,Drama", "nm0797869", "tt0499603")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Citizen X", 7.6, 16030, 1995, 105, "Biography,Crime,Drama", "nm0314665", "tt0112681")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The City of Lost Children", 7.6, 62062, 1995, 112, "Fantasy,Sci-Fi", "nm0001988", "tt0112682")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Crossing Guard", 6.3, 12136, 1995, 111, "Drama,Thriller", "nm0000576", "tt0112744")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Pledge", 6.8, 50658, 2001, 124, "Crime,Drama,Mystery", "nm0000576", "tt0237572")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Into the Wild", 8.1, 532145, 2007, 148, "Adventure,Biography,Drama", "nm0000576", "tt0758758")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crying Freeman", 6.5, 11047, 1995, 102, "Action,Crime,Thriller", "nm0304521", "tt0112750")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brotherhood of the Wolf", 7.0, 59566, 2001, 142, "Action,Adventure,Drama", "nm0304521", "tt0237534")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Silent Hill", 6.5, 204722, 2006, 125, "Horror", "nm0304521", "tt0384537")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beauty and the Beast", 6.4, 18368, 2014, 112, "Drama,Fantasy,Romance", "nm0304521", "tt2316801")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dangerous Minds", 6.5, 45345, 1995, 99, "Biography,Drama", "nm0808807", "tt0112792")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Devil in a Blue Dress", 6.7, 16175, 1995, 102, "Crime,Drama,Mystery", "nm0002083", "tt0112857")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("One True Thing", 7.0, 10752, 1998, 127, "Drama", "nm0002083", "tt0120776")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("High Crimes", 6.4, 36376, 2002, 115, "Crime,Drama,Mystery", "nm0002083", "tt0257756")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Out of Time", 6.5, 53641, 2003, 105, "Crime,Drama,Mystery", "nm0002083", "tt0313443")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vinyl", 7.8, 19890, 2016, 60, "Drama,Music", "nm0002083", "tt3186130")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dilwale Dulhania Le Jayenge", 8.1, 58835, 1995, 189, "Drama,Romance", "nm0159147", "tt0112870")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mohabbatein", 7.1, 25187, 2000, 216, "Drama,Musical,Romance", "nm0159147", "tt0213890")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rab Ne Bana Di Jodi", 7.1, 40780, 2008, 167, "Comedy,Drama,Music", "nm0159147", "tt1182937")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Don Juan DeMarco", 6.7, 46110, 1994, 97, "Comedy,Drama,Romance", "nm0505230", "tt0112883")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Doom Generation", 6.1, 13159, 1995, 83, "Comedy,Crime,Drama", "nm0000777", "tt0112887")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mysterious Skin", 7.6, 63280, 2004, 105, "Drama", "nm0000777", "tt0370986")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Smiley Face", 5.8, 15592, 2007, 85, "Comedy", "nm0000777", "tt0780608")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kaboom", 5.7, 11975, 2010, 86, "Comedy,Mystery,Romance", "nm0000777", "tt1523483")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("13 Reasons Why", 7.9, 225850, 2017, 60, "Drama,Mystery", "nm0000777", "tt1837492")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("White Bird in a Blizzard", 6.4, 25721, 2014, 91, "Drama,Mystery,Thriller", "nm0000777", "tt2238050")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Day of the Beast", 7.4, 15965, 1995, 103, "Action,Comedy,Crime", "nm0407067", "tt0112922")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Common Wealth", 7.3, 10102, 2000, 110, "Comedy,Crime,Horror", "nm0407067", "tt0255067")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("El Crimen Perfecto (The Perfect Crime)", 7.1, 10755, 2004, 105, "Comedy,Crime,Thriller", "nm0407067", "tt0395125")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Oxford Murders", 6.1, 26235, 2008, 104, "Crime,Mystery,Thriller", "nm0407067", "tt0488604")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Circus", 6.5, 12335, 2010, 107, "Comedy,Drama,Horror", "nm0407067", "tt1572491")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Witching and Bitching", 6.4, 12442, 2013, 112, "Action,Comedy,Fantasy", "nm0407067", "tt2404738")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bar", 6.3, 18008, 2017, 102, "Comedy,Horror,Thriller", "nm0407067", "tt5121816")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Englishman Who Went Up a Hill But Came Down a Mountain", 6.6, 15549, 1995, 99, "Comedy,Drama", "nm0003355", "tt0112966")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fair Game", 4.3, 11482, 1995, 91, "Action,Crime,Romance", "nm0802617", "tt0113010")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Forget Paris", 6.5, 10679, 1995, 101, "Comedy,Romance", "nm0000345", "tt0113097")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("61*", 7.8, 13072, 2001, 129, "Biography,Drama,History", "nm0000345", "tt0250934")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Four Rooms", 6.8, 92326, 1995, 98, "Comedy", "nm0025978", "tt0113101")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Friday", 7.3, 92228, 1995, 91, "Comedy,Drama", "nm0336620", "tt0113118")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Set It Off", 6.9, 12828, 1996, 123, "Action,Crime,Drama", "nm0336620", "tt0117603")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Negotiator", 7.3, 123502, 1998, 140, "Action,Crime,Drama", "nm0336620", "tt0120768")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Man Apart", 6.1, 42768, 2003, 109, "Action,Crime,Drama", "nm0336620", "tt0266465")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Italian Job", 7.0, 325941, 2003, 111, "Action,Crime,Thriller", "nm0336620", "tt0317740")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Be Cool", 5.6, 65198, 2005, 118, "Comedy,Crime,Drama", "nm0336620", "tt0377471")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Law Abiding Citizen", 7.4, 256534, 2009, 109, "Action,Crime,Drama", "nm0336620", "tt1197624")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Straight Outta Compton", 7.9, 167713, 2015, 147, "Biography,Drama,History", "nm0336620", "tt1398426")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Men in Black: International", 5.6, 64858, 2019, 114, "Action,Adventure,Comedy", "nm0336620", "tt2283336")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fate of the Furious", 6.7, 186580, 2017, 136, "Action,Adventure,Thriller", "nm0336620", "tt4630562")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Goofy Movie", 6.8, 41636, 1995, 78, "Adventure,Animation,Comedy", "nm0510674", "tt0113198")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("102 Dalmatians", 4.9, 32439, 2000, 100, "Adventure,Comedy,Family", "nm0510674", "tt0211181")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Enchanted", 7.0, 167328, 2007, 107, "Animation,Comedy,Family", "nm0510674", "tt0461770")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hackers", 6.2, 62306, 1995, 107, "Comedy,Crime,Drama", "nm0812200", "tt0113243")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("K-PAX", 7.4, 168542, 2001, 120, "Drama,Sci-Fi", "nm0812200", "tt0272152")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bully", 6.9, 33023, 2001, 108, "Biography,Crime,Drama", "nm0164187", "tt0242193")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ghost in the Shell", 8.0, 117826, 1995, 83, "Action,Animation,Crime", "nm0651900", "tt0113568")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Avalon", 6.4, 12475, 2001, 107, "Action,Drama,Fantasy", "nm0651900", "tt0267287")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ghost in the Shell 2: Innocence", 7.5, 34172, 2004, 100, "Animation,Drama,Sci-Fi", "nm0651900", "tt0347246")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ghost in the Shell 2.0", 8.0, 12936, 2008, 83, "Action,Animation,Crime", "nm0651900", "tt1260502")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Supper", 6.8, 13584, 1995, 92, "Comedy,Crime,Drama", "nm0864468", "tt0113613")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bye Bye Man", 4.3, 18533, 2017, 96, "Drama,Fantasy,Horror", "nm0864468", "tt4030600")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Little Princess", 7.7, 29992, 1995, 97, "Drama,Family,Fantasy", "nm0190859", "tt0113670")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Great Expectations", 6.9, 48834, 1998, 111, "Drama,Romance", "nm0190859", "tt0119223")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Children of Men", 7.9, 434864, 2006, 109, "Drama,Sci-Fi,Thriller", "nm0190859", "tt0206634")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Y Tu Mamá También", 7.6, 108576, 2001, 106, "Drama", "nm0190859", "tt0245574")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Harry Potter and the Prisoner of Azkaban", 7.9, 499373, 2004, 142, "Adventure,Family,Fantasy", "nm0190859", "tt0304141")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gravity", 7.7, 721835, 2013, 91, "Drama,Sci-Fi,Thriller", "nm0190859", "tt1454468")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Roma", 7.8, 114219, 2018, 135, "Drama", "nm0190859", "tt6155172")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Living in Oblivion", 7.5, 15235, 1995, 90, "Comedy,Drama", "nm0001139", "tt0113677")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Memories", 7.6, 14148, 1995, 113, "Animation,Fantasy,Sci-Fi", "nm0645513", "tt0113799")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mighty Morphin Power Rangers: The Movie", 5.2, 23793, 1995, 95, "Action,Adventure,Family", "nm0818465", "tt0113820")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Terra Nova", 6.7, 77400, 2011, 46, "Adventure,Drama,Mystery", "nm0818465", "tt1641349")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Whisper of the Heart", 8.0, 41696, 1995, 111, "Animation,Drama,Family", "nm0464911", "tt0113824")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mortal Kombat", 5.8, 95131, 1995, 101, "Action,Adventure,Fantasy", "nm0027271", "tt0113855")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Event Horizon", 6.7, 145685, 1997, 96, "Horror,Sci-Fi,Thriller", "nm0027271", "tt0119081")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Soldier", 6.0, 49567, 1998, 99, "Action,Drama,Sci-Fi", "nm0027271", "tt0120157")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Resident Evil", 6.7, 234575, 2002, 100, "Action,Horror,Sci-Fi", "nm0027271", "tt0120804")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alien vs. Predator", 5.6, 175848, 2004, 101, "Action,Adventure,Horror", "nm0027271", "tt0370263")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Death Race", 6.4, 189679, 2008, 105, "Action,Sci-Fi,Thriller", "nm0027271", "tt0452608")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Resident Evil: Afterlife", 5.8, 154956, 2010, 96, "Action,Adventure,Horror", "nm0027271", "tt1220634")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Three Musketeers", 5.7, 99211, 2011, 110, "Action,Adventure,Romance", "nm0027271", "tt1509767")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Resident Evil: Retribution", 5.4, 126634, 2012, 95, "Action,Horror,Sci-Fi", "nm0027271", "tt1855325")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pompeii", 5.5, 101679, 2014, 105, "Action,Adventure,Drama", "nm0027271", "tt1921064")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Resident Evil: The Final Chapter", 5.5, 76658, 2016, 107, "Action,Horror,Sci-Fi", "nm0027271", "tt2592614")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Murder in the First", 7.3, 25063, 1995, 122, "Drama,Thriller", "nm0733692", "tt0113870")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Net", 5.9, 57235, 1995, 114, "Action,Crime,Drama", "nm0005563", "tt0113957")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("At First Sight", 6.0, 12545, 1999, 128, "Drama,Romance", "nm0005563", "tt0132512")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Life as a House", 7.5, 41868, 2001, 125, "Drama", "nm0005563", "tt0264796")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("De-Lovely", 6.6, 10477, 2004, 125, "Biography,Drama,Music", "nm0005563", "tt0352277")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Home of the Brave", 5.6, 10171, 2006, 106, "Action,Drama,War", "nm0005563", "tt0763840")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Now and Then", 6.8, 25411, 1995, 100, "Comedy,Drama,Romance", "nm0322128", "tt0114011")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Freaks and Geeks", 8.8, 120748, 1999, 44, "Comedy,Drama", "nm0322128", "tt0193676")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Homeland", 8.3, 283838, 2011, 55, "Crime,Drama,Mystery", "nm0322128", "tt1796960")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pocahontas", 6.7, 156015, 1995, 81, "Adventure,Animation,Drama", "nm0300265", "tt0114148")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Powder", 6.6, 27287, 1995, 111, "Drama,Fantasy,Mystery", "nm0759207", "tt0114168")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jeepers Creepers", 6.2, 104226, 2001, 90, "Horror,Mystery", "nm0759207", "tt0263488")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jeepers Creepers 2", 5.6, 55048, 2003, 104, "Horror", "nm0759207", "tt0301470")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Peaceful Warrior", 7.3, 25087, 2006, 120, "Drama,Romance,Sport", "nm0759207", "tt0438315")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jeepers Creepers III", 4.0, 15361, 2017, 100, "Action,Horror,Mystery", "nm0759207", "tt1139592")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Prophecy", 6.5, 27529, 1995, 98, "Action,Crime,Drama", "nm0927074", "tt0114194")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Richard III", 7.4, 13008, 1995, 110, "Drama,Sci-Fi,War", "nm0518644", "tt0114279")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wimbledon", 6.3, 57171, 2004, 98, "Comedy,Romance,Sport", "nm0518644", "tt0360201")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Firewall", 5.8, 54183, 2006, 105, "Action,Crime,Thriller", "nm0518644", "tt0408345")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Safe", 7.2, 11481, 1995, 119, "Drama", "nm0001331", "tt0114323")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Velvet Goldmine", 7.0, 32095, 1998, 118, "Drama,Music", "nm0001331", "tt0120879")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Far from Heaven", 7.3, 41723, 2002, 107, "Drama", "nm0001331", "tt0297884")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I'm Not There", 6.9, 54440, 2007, 135, "Biography,Drama,Music", "nm0001331", "tt0368794")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mildred Pierce", 7.7, 17649, 2011, 336, "Drama", "nm0001331", "tt1492030")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Carol", 7.2, 103257, 2015, 118, "Drama,Romance", "nm0001331", "tt2402927")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sailor Moon", 7.6, 10868, 1995, 24, "Action,Adventure,Animation", "nm1387613", "tt0114327")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Screamers", 6.4, 23597, 1995, 108, "Horror,Sci-Fi,Thriller", "nm0240995", "tt0114367")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Art of War", 5.7, 27645, 2000, 117, "Action,Adventure,Crime", "nm0240995", "tt0160009")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hitler: The Rise of Evil", 7.3, 19957, 2003, 130, "Biography,Drama,History", "nm0240995", "tt0346293")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Swimming with Sharks", 7.1, 21083, 1994, 93, "Comedy,Crime", "nm0398986", "tt0114594")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Things to Do in Denver When You're Dead", 6.8, 24910, 1995, 115, "Crime,Drama", "nm0001219", "tt0114660")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kiss the Girls", 6.6, 59894, 1997, 115, "Crime,Drama,Mystery", "nm0001219", "tt0119468")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Impostor", 6.2, 21847, 2001, 95, "Drama,Mystery,Sci-Fi", "nm0001219", "tt0160399")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Don't Say a Word", 6.3, 46295, 2001, 113, "Drama,Mystery,Thriller", "nm0001219", "tt0260866")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Runaway Jury", 7.1, 86490, 2003, 127, "Crime,Drama,Thriller", "nm0001219", "tt0313542")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Express", 7.3, 18867, 2008, 130, "Biography,Drama,Sport", "nm0001219", "tt0469903")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Homefront", 6.5, 100048, 2013, 100, "Action,Thriller", "nm0001219", "tt2312718")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("To Wong Foo Thanks for Everything, Julie Newmar", 6.6, 26197, 1995, 109, "Comedy,Drama", "nm0452319", "tt0114682")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bridget Jones: The Edge of Reason", 6.0, 98074, 2004, 108, "Comedy,Drama,Romance", "nm0452319", "tt0317198")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tremors II: Aftershocks", 6.0, 23994, 1996, 100, "Action,Comedy,Horror", "nm0934093", "tt0114720")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tremors 4: The Legend Begins", 5.3, 10671, 2004, 101, "Action,Adventure,Comedy", "nm0934093", "tt0334541")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Usual Suspects", 8.5, 922713, 1995, 106, "Crime,Mystery,Thriller", "nm0001741", "tt0114814")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Apt Pupil", 6.7, 33592, 1998, 111, "Crime,Drama,Thriller", "nm0001741", "tt0118636")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("X-Men", 7.4, 544115, 2000, 104, "Action,Adventure,Sci-Fi", "nm0001741", "tt0120903")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("X2: X-Men United", 7.4, 488159, 2003, 134, "Action,Sci-Fi,Thriller", "nm0001741", "tt0290334")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Superman Returns", 6.0, 262322, 2006, 154, "Action,Sci-Fi", "nm0001741", "tt0348150")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Valkyrie", 7.1, 216427, 2008, 121, "Drama,History,Thriller", "nm0001741", "tt0985699")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jack the Giant Slayer", 6.2, 125037, 2013, 114, "Adventure,Fantasy", "nm0001741", "tt1351685")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bohemian Rhapsody", 8.0, 383523, 2018, 134, "Biography,Drama,Music", "nm0001741", "tt1727824")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("X-Men: Days of Future Past", 8.0, 630219, 2014, 132, "Action,Adventure,Sci-Fi", "nm0001741", "tt1877832")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("X-Men: Apocalypse", 6.9, 366843, 2016, 144, "Action,Adventure,Sci-Fi", "nm0001741", "tt3385516")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Welcome to the Dollhouse", 7.4, 30277, 1995, 88, "Comedy,Drama", "nm0001754", "tt0114906")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Happiness", 7.7, 63268, 1998, 134, "Comedy,Drama", "nm0001754", "tt0147612")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Storytelling", 6.8, 16573, 2001, 87, "Comedy,Drama,Romance", "nm0001754", "tt0250081")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Palindromes", 6.7, 11669, 2004, 100, "Comedy,Drama", "nm0001754", "tt0362004")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("7th Heaven", 5.2, 23099, 1996, 60, "Drama,Family,Romance", "nm0270570", "tt0115083")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Daily Show", 8.4, 42916, 1996, 22, "Comedy,News,Talk-Show", "nm0058266", "tt0115147")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dexter's Laboratory", 7.9, 39628, 1996, 23, "Adventure,Animation,Comedy", "nm0023317", "tt0115157")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hey Arnold!", 7.6, 28224, 1994, 15, "Animation,Comedy,Drama", "nm0811973", "tt0115200")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kenan & Kel", 7.8, 13206, 1996, 30, "Comedy,Family", "nm0926526", "tt0115231")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Pretender", 7.5, 14085, 1996, 60, "Drama,Mystery,Sci-Fi", "nm0101304", "tt0115320")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sabrina, the Teenage Witch", 6.6, 31513, 1996, 22, "Comedy,Family,Fantasy", "nm0295272", "tt0115341")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spin City", 7.3, 24856, 1996, 30, "Comedy", "nm0128225", "tt0115369")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chasing Liberty", 6.1, 34693, 2004, 101, "Comedy,Romance", "nm0128225", "tt0360139")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Young & Hungry", 7.4, 13026, 2014, 22, "Comedy,Drama,Romance", "nm0128225", "tt2084712")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Superman: The Animated Series", 8.1, 12469, 1996, 30, "Action,Adventure,Animation", "nm0866758", "tt0115378")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bound", 7.3, 47728, 1996, 109, "Crime,Romance,Thriller", "nm0905154", "tt0115736")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Matrix", 8.7, 1541882, 1999, 136, "Action,Sci-Fi", "nm0905154", "tt0133093")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Matrix Revolutions", 6.7, 421996, 2003, 129, "Action,Sci-Fi", "nm0905154", "tt0242653")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cloud Atlas", 7.4, 329858, 2012, 172, "Action,Drama,Mystery", "nm0905154", "tt1371111")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sense8", 8.3, 126833, 2015, 60, "Drama,Mystery,Sci-Fi", "nm0905154", "tt2431438")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brassed Off", 7.1, 17645, 1996, 108, "Comedy,Drama,Romance", "nm0379179", "tt0115744")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Little Voice", 6.9, 15215, 1998, 97, "Comedy,Drama,Music", "nm0379179", "tt0147004")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Boy in the Striped Pajamas", 7.8, 174167, 2008, 94, "Drama,War", "nm0379179", "tt0914798")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cannibal! The Musical", 7.1, 11264, 1993, 95, "Biography,Comedy,Musical", "nm0005295", "tt0115819")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Orgazmo", 6.1, 33116, 1997, 94, "Comedy,Sci-Fi", "nm0005295", "tt0124819")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("South Park: Bigger, Longer & Uncut", 7.7, 184306, 1999, 81, "Animation,Comedy,Fantasy", "nm0005295", "tt0158983")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Team America: World Police", 7.2, 152567, 2004, 98, "Action,Comedy", "nm0005295", "tt0372588")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Crow: City of Angels", 4.7, 18234, 1996, 84, "Action,Crime,Fantasy", "nm0691194", "tt0115986")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Don't Be a Menace to South Central While Drinking Your Juice in the Hood", 6.6, 45164, 1996, 89, "Comedy,Crime", "nm0054077", "tt0116126")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In Treatment", 8.3, 14530, 2008, 25, "Drama", "nm0054077", "tt0835434")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dunston Checks In", 5.3, 11241, 1996, 88, "Adventure,Comedy,Family", "nm0477129", "tt0116151")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sisterhood of the Traveling Pants", 6.5, 51600, 2005, 119, "Comedy,Drama,Romance", "nm0477129", "tt0403508")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("License to Wed", 5.3, 36559, 2007, 91, "Comedy,Romance", "nm0477129", "tt0762114")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("He's Just Not That Into You", 6.4, 151541, 2009, 129, "Comedy,Drama,Romance", "nm0477129", "tt1001508")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Walk in the Woods", 6.3, 22418, 2015, 104, "Adventure,Biography,Comedy", "nm0477129", "tt1178665")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Big Miracle", 6.5, 17812, 2012, 107, "Biography,Drama,Family", "nm0477129", "tt1430615")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Emma", 6.6, 33391, 1996, 120, "Comedy,Drama,Romance", "nm0569790", "tt0116191")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nicholas Nickleby", 7.1, 10951, 2002, 132, "Adventure,Drama,Romance", "nm0569790", "tt0309912")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Infamous", 7.0, 15723, 2006, 110, "Biography,Crime,Drama", "nm0569790", "tt0420609")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Don't Know How She Does It", 4.9, 18717, 2011, 89, "Comedy,Romance", "nm0569790", "tt1742650")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The English Patient", 7.4, 167986, 1996, 162, "Drama,Romance,War", "nm0005237", "tt0116209")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Talented Mr. Ripley", 7.4, 164760, 1999, 139, "Crime,Drama,Thriller", "nm0005237", "tt0134119")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cold Mountain", 7.2, 133444, 2003, 154, "Adventure,Drama,History", "nm0005237", "tt0159365")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Breaking and Entering", 6.5, 21392, 2006, 120, "Crime,Drama,Romance", "nm0005237", "tt0443456")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bandit", 8.3, 56816, 1996, 128, "Crime,Drama,Thriller", "nm0877078", "tt0116231")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hunting Season", 7.4, 27791, 2010, 140, "Crime,Drama,Mystery", "nm0877078", "tt1668191")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Executive Decision", 6.4, 47237, 1996, 133, "Action,Adventure,Thriller", "nm0000829", "tt0116253")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("U.S. Marshals", 6.5, 90195, 1998, 131, "Action,Crime,Thriller", "nm0000829", "tt0120873")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Trek: Nemesis", 6.4, 69005, 2002, 116, "Action,Adventure,Sci-Fi", "nm0000829", "tt0253754")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Feeling Minnesota", 5.4, 10105, 1996, 99, "Comedy,Crime,Drama", "nm0047076", "tt0116289")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flirting with Disaster", 6.7, 16870, 1996, 92, "Comedy", "nm0751102", "tt0116324")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Three Kings", 7.1, 153970, 1999, 114, "Action,Adventure,Comedy", "nm0751102", "tt0120188")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Heart Huckabees", 6.6, 60728, 2004, 107, "Comedy", "nm0751102", "tt0356721")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fighter", 7.8, 320165, 2010, 116, "Biography,Drama,Sport", "nm0751102", "tt0964517")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Silver Linings Playbook", 7.7, 627635, 2012, 122, "Comedy,Drama,Romance", "nm0751102", "tt1045658")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Hustle", 7.2, 423278, 2013, 138, "Crime,Drama", "nm0751102", "tt1800241")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Joy", 6.6, 119851, 2015, 124, "Drama", "nm0751102", "tt2446980")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Freeway", 6.8, 24989, 1996, 102, "Comedy,Crime,Drama", "nm0109165", "tt0116361")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Glimmer Man", 5.4, 17839, 1996, 91, "Action,Comedy,Crime", "nm0336726", "tt0116421")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hellraiser: Bloodline", 5.2, 17932, 1996, 85, "Horror,Sci-Fi", "nm0944892", "tt0116514")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Homeward Bound II: Lost in San Francisco", 5.9, 12786, 1996, 88, "Adventure,Comedy,Family", "nm0254786", "tt0116552")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Final Destination 2", 6.2, 142562, 2003, 90, "Horror", "nm0254786", "tt0309593")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cellular", 6.5, 88893, 2004, 94, "Action,Crime,Thriller", "nm0254786", "tt0337921")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Snakes on a Plane", 5.4, 127173, 2006, 105, "Action,Crime,Thriller", "nm0254786", "tt0417148")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Final Destination", 5.2, 90646, 2009, 82, "Horror", "nm0254786", "tt1144884")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shark Night 3D", 4.0, 23496, 2011, 90, "Horror,Thriller", "nm0254786", "tt1633356")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hunchback of Notre Dame", 6.9, 130334, 1996, 91, "Animation,Drama,Family", "nm0873779", "tt0116583")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shrek the Halls", 6.4, 11737, 2007, 21, "Adventure,Animation,Comedy", "nm0873779", "tt0897387")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Joe's Apartment", 5.4, 11975, 1996, 80, "Comedy,Fantasy,Musical", "nm0668500", "tt0116707")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kingpin", 6.9, 72618, 1996, 114, "Comedy,Sport", "nm0268370", "tt0116778")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Osmosis Jones", 6.3, 30195, 2001, 95, "Action,Adventure,Animation", "nm0268370", "tt0181739")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Me, Myself & Irene", 6.6, 211994, 2000, 116, "Comedy", "nm0268370", "tt0183505")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shallow Hal", 5.9, 121927, 2001, 114, "Comedy,Drama,Fantasy", "nm0268370", "tt0256380")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Three Stooges", 5.0, 28823, 2012, 92, "Comedy,Family", "nm0268370", "tt0383010")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hall Pass", 5.8, 114977, 2011, 105, "Comedy,Romance", "nm0268370", "tt0480687")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dumb and Dumber To", 5.6, 120708, 2014, 109, "Comedy", "nm0268370", "tt2096672")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kolya", 7.8, 13704, 1996, 105, "Comedy,Drama,Music", "nm0841232", "tt0116790")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pretty Village, Pretty Flame", 8.7, 13453, 1996, 115, "Comedy,Drama,History", "nm0236729", "tt0116860")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Parade", 7.3, 10871, 2011, 115, "Comedy,Drama", "nm0236729", "tt1784575")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Marvin's Room", 6.7, 23908, 1996, 98, "Drama", "nm0952360", "tt0116999")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Maximum Risk", 5.5, 18923, 1996, 101, "Action,Crime,Mystery", "nm0482681", "tt0117011")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Replicant", 5.4, 13028, 2001, 100, "Action,Sci-Fi,Thriller", "nm0482681", "tt0238552")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In Hell", 6.2, 17640, 2003, 98, "Action,Drama,Thriller", "nm0482681", "tt0339135")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Microcosmos", 7.9, 10306, 1996, 80, "Documentary", "nm0638175", "tt0117040")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Muppet Treasure Island", 7.0, 19523, 1996, 99, "Action,Adventure,Comedy", "nm0485298", "tt0117110")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mystery Science Theater 3000: The Movie", 7.3, 17237, 1996, 73, "Comedy,Sci-Fi", "nm0540075", "tt0117128")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paradise Lost: The Child Murders at Robin Hood Hills", 8.3, 14003, 1996, 150, "Crime,Documentary,Drama", "nm0075666", "tt0117293")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Book of Shadows: Blair Witch 2", 3.9, 34244, 2000, 90, "Adventure,Fantasy,Horror", "nm0075666", "tt0229260")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Metallica: Some Kind of Monster", 7.5, 16470, 2004, 141, "Documentary,Music", "nm0075666", "tt0387412")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Extremely Wicked, Shockingly Evil and Vile", 6.6, 54858, 2019, 110, "Biography,Crime,Drama", "nm0075666", "tt2481498")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Conversations with a Killer: The Ted Bundy Tapes", 7.8, 16435, 2019, 236, "Crime,Documentary,History", "nm0075666", "tt9425132")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Primal Fear", 7.7, 167491, 1996, 129, "Crime,Drama,Mystery", "nm0387706", "tt0117381")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fallen", 7.0, 69716, 1998, 124, "Action,Crime,Drama", "nm0387706", "tt0119099")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Frequency", 7.3, 95742, 2000, 118, "Crime,Drama,Mystery", "nm0387706", "tt0186151")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hart's War", 6.3, 48940, 2002, 125, "Drama,War", "nm0387706", "tt0251114")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fracture", 7.2, 172057, 2007, 113, "Crime,Drama", "nm0387706", "tt0488120")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Untraceable", 6.2, 45550, 2008, 101, "Crime,Mystery,Thriller", "nm0387706", "tt0880578")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pusher", 7.4, 31806, 1996, 110, "Crime,Thriller", "nm0716347", "tt0117407")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("With Blood on My Hands: Pusher II", 7.4, 17066, 2004, 100, "Action,Crime,Drama", "nm0716347", "tt0396184")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I'm the Angel of Death: Pusher III", 7.3, 12502, 2005, 90, "Crime,Drama,Thriller", "nm0716347", "tt0425379")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Drive", 7.8, 529858, 2011, 100, "Crime,Drama", "nm0716347", "tt0780504")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Valhalla Rising", 6.1, 52750, 2009, 93, "Adventure,Drama,Fantasy", "nm0716347", "tt0862467")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bronson", 7.1, 111836, 2008, 92, "Action,Biography,Crime", "nm0716347", "tt1172570")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Only God Forgives", 5.7, 101848, 2013, 90, "Action,Crime,Drama", "nm0716347", "tt1602613")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Neon Demon", 6.2, 74877, 2016, 117, "Horror,Thriller", "nm0716347", "tt1974419")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Quest", 5.6, 22726, 1996, 95, "Action,Adventure,Drama", "nm0000241", "tt0117420")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Robinson Crusoe", 5.9, 11242, 1997, 105, "Adventure,Drama", "nm0362738", "tt0117496")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("December Boys", 6.5, 11366, 2007, 105, "Drama,Romance", "nm0362738", "tt0465436")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shall We Dance?", 7.7, 10080, 1996, 136, "Comedy,Drama,Music", "nm0839397", "tt0117615")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("She's the One", 6.0, 15629, 1996, 96, "Comedy,Drama,Romance", "nm0122653", "tt0117628")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Trees Lounge", 7.1, 12823, 1996, 95, "Comedy,Drama", "nm0000114", "tt0117958")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Animal Factory", 6.6, 12072, 2000, 94, "Crime,Drama", "nm0000114", "tt0204137")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Interview", 6.8, 12958, 2007, 84, "Drama", "nm0000114", "tt0480269")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Waiting for Guffman", 7.5, 25118, 1996, 84, "Comedy", "nm0001302", "tt0118111")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Almost Heroes", 5.9, 14842, 1998, 90, "Adventure,Comedy,Western", "nm0001302", "tt0119053")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Best in Show", 7.4, 51780, 2000, 90, "Comedy", "nm0001302", "tt0218839")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Mighty Wind", 7.2, 24533, 2003, 91, "Comedy,Music", "nm0001302", "tt0310281")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("For Your Consideration", 6.3, 13270, 2006, 86, "Comedy", "nm0001302", "tt0470765")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("When We Were Kings", 8.0, 13959, 1996, 88, "Documentary,Sport", "nm0309382", "tt0118147")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ally McBeal", 6.8, 28259, 1997, 45, "Comedy,Drama,Fantasy", "nm0198991", "tt0118254")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The New Batman Adventures", 8.5, 12411, 1997, 30, "Action,Adventure,Animation", "nm0722713", "tt0118266")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Buffy the Vampire Slayer", 8.2, 120042, 1997, 44, "Action,Drama,Fantasy", "nm0106368", "tt0118276")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cow and Chicken", 6.6, 16963, 1995, 30, "Adventure,Animation,Comedy", "nm0852244", "tt0118289")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Daria", 8.0, 21870, 1997, 30, "Animation,Comedy,Drama", "nm0228327", "tt0118298")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dawson's Creek", 6.6, 32301, 1998, 60, "Drama,Romance", "nm0695219", "tt0118300")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("One Tree Hill", 7.6, 67559, 2003, 60, "Drama,Romance,Sport", "nm0695219", "tt0368530")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dead Man on Campus", 6.1, 12983, 1998, 96, "Comedy", "nm0169874", "tt0118301")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dharma & Greg", 6.3, 27070, 1997, 30, "Comedy,Romance", "nm0541562", "tt0118303")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Joey", 5.9, 39493, 2004, 22, "Comedy,Romance", "nm0541562", "tt0375355")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chuck", 8.2, 121959, 2007, 43, "Action,Comedy,Drama", "nm0541562", "tt0934814")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Johnny Bravo", 7.2, 30230, 1997, 30, "Adventure,Animation,Comedy", "nm0863945", "tt0118360")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("King of the Hill", 7.3, 42686, 1997, 30, "Animation,Comedy,Drama", "nm0033741", "tt0118375")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Rickshank Rickdemption", 9.6, 14136, 2017, 22, "Adventure,Animation,Comedy", "nm0033741", "tt5218228")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Midsomer Murders", 7.7, 20467, 1997, 90, "Crime,Drama,Mystery", "nm0177370", "tt0118401")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Oz", 8.7, 82918, 1997, 55, "Crime,Drama,Thriller", "nm0001555", "tt0118421")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fosters", 7.9, 23024, 2013, 60, "Drama,Romance", "nm0001555", "tt2262532")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stargate SG-1", 8.4, 78642, 1997, 44, "Action,Adventure,Drama", "nm0217938", "tt0118480")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stargate: Atlantis", 8.1, 57795, 2004, 44, "Action,Adventure,Drama", "nm0217938", "tt0374455")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("16 Wishes", 5.4, 11276, 2010, 90, "Drama,Family,Fantasy", "nm0217938", "tt1646876")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("3 Ninjas: High Noon at Mega Mountain", 2.9, 10322, 1998, 93, "Action,Adventure,Comedy", "nm0573732", "tt0118539")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Raise Your Voice", 5.9, 25747, 2004, 103, "Family,Music,Musical", "nm0573732", "tt0361696")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bratz", 3.0, 16913, 2007, 110, "Comedy,Family,Music", "nm0573732", "tt0804452")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Soul Surfer", 7.0, 42366, 2011, 112, "Biography,Drama,Family", "nm0573732", "tt1596346")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Addicted to Love", 6.1, 22442, 1997, 100, "Comedy,Romance", "nm0001162", "tt0118556")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Practical Magic", 6.3, 67166, 1998, 104, "Comedy,Drama,Fantasy", "nm0001162", "tt0120791")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Accidental Husband", 5.6, 22188, 2008, 90, "Comedy,Romance", "nm0001162", "tt0809504")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Air Bud", 5.2, 15424, 1997, 98, "Comedy,Drama,Family", "nm0001747", "tt0118570")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dolphin Tale", 6.9, 21066, 2011, 113, "Drama,Family", "nm0001747", "tt1564349")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Glitter", 2.2, 20917, 2001, 104, "Drama,Music,Romance", "nm0193554", "tt0118589")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gridlock'd", 6.9, 13891, 1997, 91, "Comedy,Crime,Drama", "nm0193554", "tt0119225")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("An American Werewolf in Paris", 5.1, 21964, 1997, 105, "Comedy,Fantasy,Horror", "nm0909026", "tt0118604")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Apostle", 7.2, 12755, 1997, 134, "Drama", "nm0000380", "tt0118632")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Austin Powers: International Man of Mystery", 7.0, 209853, 1997, 94, "Adventure,Comedy", "nm0005366", "tt0118655")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mystery, Alaska", 6.7, 24555, 1999, 119, "Comedy,Drama,Sport", "nm0005366", "tt0134618")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Austin Powers: The Spy Who Shagged Me", 6.6, 206382, 1999, 95, "Action,Adventure,Comedy", "nm0005366", "tt0145660")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Meet the Parents", 7.0, 295888, 2000, 108, "Comedy,Romance", "nm0005366", "tt0212338")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Meet the Fockers", 6.3, 240620, 2004, 115, "Comedy,Romance", "nm0005366", "tt0290002")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Austin Powers in Goldmember", 6.2, 186384, 2002, 94, "Action,Adventure,Comedy", "nm0005366", "tt0295178")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dinner for Schmucks", 5.9, 92784, 2010, 114, "Comedy", "nm0005366", "tt0427152")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Recount", 7.4, 11422, 2008, 116, "Drama,History", "nm0005366", "tt1000771")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Campaign", 6.1, 119863, 2012, 85, "Comedy", "nm0005366", "tt1790886")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Game Change", 7.4, 19989, 2012, 118, "Biography,Drama,History", "nm0005366", "tt1848902")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Trumbo", 7.5, 69884, 2015, 124, "Biography,Drama", "nm0005366", "tt3203606")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("All the Way", 7.3, 12021, 2016, 132, "Biography,Drama,History", "nm0005366", "tt3791216")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bean", 6.5, 90992, 1997, 89, "Adventure,Comedy,Family", "nm0809321", "tt0118689")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Boogie Nights", 7.9, 222791, 1997, 155, "Drama", "nm0000759", "tt0118749")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hard Eight", 7.2, 36782, 1996, 102, "Crime,Drama", "nm0000759", "tt0119256")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Magnolia", 8.0, 273102, 1999, 188, "Drama", "nm0000759", "tt0175880")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Punch-Drunk Love", 7.3, 135301, 2002, 95, "Comedy,Drama,Romance", "nm0000759", "tt0272338")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("There Will Be Blood", 8.1, 471929, 2007, 158, "Drama", "nm0000759", "tt0469494")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Master", 7.2, 134926, 2012, 138, "Drama", "nm0000759", "tt1560747")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Inherent Vice", 6.7, 85482, 2014, 148, "Comedy,Crime,Drama", "nm0000759", "tt1791528")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Phantom Thread", 7.5, 89824, 2017, 130, "Drama,Romance", "nm0000759", "tt5776858")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Border", 7.9, 12399, 1997, 176, "Action,Drama,History", "nm0244892", "tt0118751")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brother", 8.0, 14701, 1997, 96, "Crime,Drama,Romance", "nm0049326", "tt0118767")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brother 2", 7.8, 10753, 2000, 122, "Action,Crime,Thriller", "nm0049326", "tt0238883")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Breakdown", 6.9, 45108, 1997, 93, "Crime,Drama,Mystery", "nm0609236", "tt0118771")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("U-571", 6.6, 73283, 2000, 116, "Action,War", "nm0609236", "tt0141926")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Terminator 3: Rise of the Machines", 6.3, 355072, 2003, 109, "Action,Sci-Fi", "nm0609236", "tt0181852")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Surrogates", 6.3, 164353, 2009, 89, "Action,Crime,Sci-Fi", "nm0609236", "tt0986263")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Buffalo '66", 7.5, 43504, 1998, 110, "Comedy,Crime,Drama", "nm0001252", "tt0118789")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Brown Bunny", 5.0, 13056, 2003, 93, "Drama", "nm0001252", "tt0330099")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Life Is Beautiful", 8.6, 565552, 1997, 116, "Comedy,Drama,Romance", "nm0000905", "tt0118799")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Tiger and the Snow", 7.1, 12931, 2005, 114, "Comedy,Drama,Romance", "nm0000905", "tt0419198")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Castle", 7.7, 14004, 1997, 85, "Comedy,Drama", "nm0803203", "tt0118826")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Dish", 7.1, 14543, 2000, 101, "Comedy,Drama,History", "nm0803203", "tt0205873")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Children of Heaven", 8.3, 55554, 1997, 89, "Drama,Family", "nm0006498", "tt0118849")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Color of Paradise", 8.2, 14349, 1999, 90, "Drama,Family", "nm0006498", "tt0191043")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Clay Pigeons", 6.6, 10203, 1998, 104, "Comedy,Crime", "nm0229694", "tt0118863")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shanghai Knights", 6.2, 95283, 2003, 114, "Action,Adventure,Comedy", "nm0229694", "tt0300471")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wedding Crashers", 6.9, 317666, 2005, 119, "Comedy,Romance", "nm0229694", "tt0396269")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fred Claus", 5.6, 37423, 2007, 116, "Comedy,Family,Fantasy", "nm0229694", "tt0486583")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Change-Up", 6.3, 157345, 2011, 112, "Comedy,Fantasy", "nm0229694", "tt1488555")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Judge", 7.4, 165677, 2014, 141, "Crime,Drama", "nm0229694", "tt1872194")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Con Air", 6.9, 260818, 1997, 115, "Action,Crime,Thriller", "nm0922346", "tt0118880")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The General's Daughter", 6.3, 49728, 1999, 116, "Crime,Drama,Mystery", "nm0922346", "tt0144214")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lara Croft: Tomb Raider", 5.8, 188023, 2001, 100, "Action,Adventure,Fantasy", "nm0922346", "tt0146316")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("When a Stranger Calls", 5.1, 40705, 2006, 87, "Horror,Thriller", "nm0922346", "tt0455857")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mechanic", 6.6, 143236, 2011, 93, "Action,Thriller", "nm0922346", "tt0472399")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stolen", 5.5, 41644, 2012, 96, "Action,Crime,Thriller", "nm0922346", "tt1656186")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Expendables 2", 6.6, 280411, 2012, 103, "Action,Adventure,Thriller", "nm0922346", "tt1764651")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wild Card", 5.6, 47376, 2015, 92, "Action,Crime,Drama", "nm0922346", "tt2231253")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dangerous Beauty", 7.3, 15091, 1998, 111, "Biography,Drama,Romance", "nm0380980", "tt0118892")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dobermann", 6.6, 16013, 1997, 103, "Action,Crime,Thriller", "nm0468007", "tt0118996")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Renegade", 5.2, 10020, 2004, 124, "Adventure,Western", "nm0468007", "tt0276830")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("99 francs", 7.3, 17907, 2007, 100, "Comedy,Drama", "nm0468007", "tt0875113")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fire Down Below", 5.1, 15832, 1997, 105, "Action,Drama,Thriller", "nm0258066", "tt0119123")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Best Exotic Marigold Hotel", 7.2, 86662, 2011, 124, "Comedy,Drama,Romance", "nm0006960", "tt1412386")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Masters of Sex", 7.9, 32983, 2013, 60, "Drama,Romance", "nm0006960", "tt2137109")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Second Best Exotic Marigold Hotel", 6.5, 29432, 2015, 122, "Comedy,Drama", "nm0006960", "tt2555736")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Miss Sloane", 7.5, 54883, 2016, 132, "Drama,Thriller", "nm0006960", "tt4540710")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Home Alone 3", 4.4, 96405, 1997, 102, "Comedy,Crime,Family", "nm0331532", "tt0119303")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Never Been Kissed", 6.0, 78561, 1999, 107, "Comedy,Drama,Romance", "nm0331532", "tt0151738")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Big Momma's House", 5.1, 76987, 2000, 99, "Action,Comedy,Crime", "nm0331532", "tt0208003")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scooby-Doo", 5.0, 89687, 2002, 86, "Adventure,Comedy,Family", "nm0331532", "tt0267913")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scooby-Doo 2: Monsters Unleashed", 5.0, 44190, 2004, 93, "Adventure,Comedy,Family", "nm0331532", "tt0331632")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Yours, Mine & Ours", 5.5, 25269, 2005, 88, "Comedy,Family,Fantasy", "nm0331532", "tt0443295")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Smurfs", 5.4, 78678, 2011, 103, "Adventure,Animation,Comedy", "nm0331532", "tt0472181")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beverly Hills Chihuahua", 3.8, 21228, 2008, 91, "Adventure,Comedy,Drama", "nm0331532", "tt1014775")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Smurfs 2", 5.3, 34879, 2013, 105, "Adventure,Animation,Comedy", "nm0331532", "tt2017020")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Honey, We Shrunk Ourselves!", 4.9, 11836, 1997, 74, "Action,Adventure,Comedy", "nm0005678", "tt0119310")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hope Floats", 6.0, 22911, 1998, 114, "Drama,Romance", "nm0001845", "tt0119313")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("First Daughter", 5.0, 20096, 2004, 106, "Comedy,Drama,Romance", "nm0001845", "tt0361620")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Know What You Did Last Summer", 5.7, 125365, 1997, 101, "Horror,Mystery", "nm0318947", "tt0119345")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eye See You", 5.3, 22697, 2002, 96, "Crime,Horror,Mystery", "nm0318947", "tt0160184")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In the Company of Men", 7.2, 12615, 1997, 97, "Comedy,Drama", "nm0001438", "tt0119361")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nurse Betty", 6.1, 32003, 2000, 110, "Comedy,Crime,Drama", "nm0001438", "tt0171580")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Possession", 6.3, 12451, 2002, 102, "Drama,Mystery,Romance", "nm0001438", "tt0256276")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Shape of Things", 6.7, 10569, 2003, 96, "Comedy,Drama,Romance", "nm0001438", "tt0308878")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wicker Man", 3.7, 61220, 2006, 102, "Horror,Mystery,Thriller", "nm0001438", "tt0450345")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lakeview Terrace", 6.1, 46751, 2008, 110, "Crime,Drama,Thriller", "nm0001438", "tt0947802")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Death at a Funeral", 5.7, 43053, 2010, 92, "Comedy", "nm0001438", "tt1321509")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Insomnia", 7.3, 12176, 1997, 96, "Crime,Mystery,Thriller", "nm0804408", "tt0119375")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Prozac Nation", 6.3, 16434, 2001, 95, "Biography,Drama,Romance", "nm0804408", "tt0236640")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Inventing the Abbotts", 6.4, 10786, 1997, 110, "Drama,Romance", "nm0640466", "tt0119381")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sweet November", 6.7, 81330, 2001, 119, "Drama,Romance", "nm0640466", "tt0230838")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Character", 7.7, 10015, 1997, 122, "Crime,Drama,Mystery", "nm0226016", "tt0119448")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Knockin' on Heaven's Door", 8.0, 25450, 1997, 87, "Action,Comedy,Crime", "nm0415714", "tt0119472")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mighty", 7.3, 11816, 1998, 100, "Comedy,Drama", "nm0155093", "tt0119670")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Serendipity", 6.9, 98894, 2001, 90, "Comedy,Romance", "nm0155093", "tt0240890")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shall We Dance", 6.1, 41089, 2004, 106, "Comedy,Drama,Music", "nm0155093", "tt0358135")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hannah Montana: The Movie", 4.4, 37406, 2009, 102, "Comedy,Drama,Family", "nm0155093", "tt1114677")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hector and the Search for Happiness", 7.0, 42562, 2014, 120, "Adventure,Comedy,Drama", "nm0155093", "tt1626146")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Space Between Us", 6.4, 42854, 2017, 120, "Drama,Romance,Sci-Fi", "nm0155093", "tt3922818")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Money Talks", 6.2, 26284, 1997, 97, "Action,Comedy,Crime", "nm0711840", "tt0119695")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rush Hour", 7.0, 223752, 1998, 98, "Action,Comedy,Crime", "nm0711840", "tt0120812")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Family Man", 6.8, 97860, 2000, 125, "Comedy,Drama,Fantasy", "nm0711840", "tt0218967")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rush Hour 2", 6.6, 188223, 2001, 90, "Action,Comedy,Crime", "nm0711840", "tt0266915")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Red Dragon", 7.2, 234568, 2002, 124, "Crime,Drama,Thriller", "nm0711840", "tt0289765")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rush Hour 3", 6.2, 143835, 2007, 91, "Action,Comedy,Crime", "nm0711840", "tt0293564")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("After the Sunset", 6.3, 42726, 2004, 97, "Action,Comedy,Crime", "nm0711840", "tt0367479")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("X-Men: The Last Stand", 6.7, 460137, 2006, 104, "Action,Sci-Fi", "nm0711840", "tt0376994")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tower Heist", 6.2, 126350, 2011, 104, "Action,Comedy,Crime", "nm0711840", "tt0471042")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hercules", 6.0, 138743, 2014, 98, "Action,Adventure,Fantasy", "nm0711840", "tt1267297")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mortal Kombat: Annihilation", 3.7, 43521, 1997, 95, "Action,Adventure,Fantasy", "nm0502954", "tt0119707")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Butterfly Effect 2", 4.5, 33098, 2006, 92, "Drama,Sci-Fi,Thriller", "nm0502954", "tt0457297")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Annabelle", 5.4, 128357, 2014, 99, "Horror,Mystery,Thriller", "nm0502954", "tt3322940")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wish Upon", 5.0, 15613, 2017, 90, "Drama,Fantasy,Horror", "nm0502954", "tt5322012")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Silence", 5.2, 26796, 2019, 90, "Drama,Horror,Sci-Fi", "nm0502954", "tt7315484")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mousehunt", 6.4, 48229, 1997, 98, "Comedy", "nm0893659", "tt0119715")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mexican", 6.1, 98311, 2001, 123, "Adventure,Comedy,Crime", "nm0893659", "tt0236493")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ring", 7.1, 302135, 2002, 115, "Horror,Mystery", "nm0893659", "tt0298130")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pirates of the Caribbean: The Curse of the Black Pearl", 8.0, 974373, 2003, 143, "Action,Adventure,Fantasy", "nm0893659", "tt0325980")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pirates of the Caribbean: Dead Man's Chest", 7.3, 620698, 2006, 151, "Action,Adventure,Fantasy", "nm0893659", "tt0383574")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Weather Man", 6.5, 75201, 2005, 102, "Comedy,Drama", "nm0893659", "tt0384680")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pirates of the Caribbean: At World's End", 7.1, 563843, 2007, 169, "Action,Adventure,Fantasy", "nm0893659", "tt0449088")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rango", 7.2, 219415, 2011, 107, "Adventure,Animation,Comedy", "nm0893659", "tt1192628")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lone Ranger", 6.4, 211129, 2013, 150, "Action,Adventure,Western", "nm0893659", "tt1210819")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Cure for Wellness", 6.4, 72910, 2016, 146, "Drama,Fantasy,Horror", "nm0893659", "tt4731136")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pardes", 7.0, 12812, 1997, 191, "Drama,Musical,Romance", "nm0007131", "tt0119861")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Peacemaker", 5.9, 51646, 1997, 124, "Action,Thriller", "nm0001460", "tt0119874")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Deep Impact", 6.2, 153299, 1998, 120, "Action,Drama,Romance", "nm0001460", "tt0120647")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pay It Forward", 7.2, 108132, 2000, 123, "Drama", "nm0001460", "tt0223897")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thick as Thieves", 6.0, 32162, 2009, 104, "Action,Crime,Thriller", "nm0001460", "tt1112782")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("On the Basis of Sex", 6.9, 15218, 2018, 120, "Biography,Drama", "nm0001460", "tt4669788")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Picture Perfect", 5.5, 18008, 1997, 105, "Comedy,Drama,Romance", "nm0139111", "tt0119896")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Replacement Killers", 6.2, 25882, 1998, 87, "Action,Crime,Thriller", "nm0298807", "tt0120008")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Training Day", 7.7, 362111, 2001, 122, "Crime,Drama,Thriller", "nm0298807", "tt0139654")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bait", 5.8, 10141, 2000, 119, "Action,Comedy,Crime", "nm0298807", "tt0211938")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tears of the Sun", 6.6, 107961, 2003, 121, "Action,Drama,Thriller", "nm0298807", "tt0314353")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("King Arthur", 6.3, 153245, 2004, 126, "Action,Adventure,Drama", "nm0298807", "tt0349683")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Equalizer", 7.2, 308362, 2014, 132, "Action,Crime,Thriller", "nm0298807", "tt0455944")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shooter", 7.2, 295116, 2007, 124, "Action,Drama,Thriller", "nm0298807", "tt0822854")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brooklyn's Finest", 6.7, 58541, 2009, 132, "Crime,Drama,Thriller", "nm0298807", "tt1210042")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Southpaw", 7.4, 203397, 2015, 124, "Drama,Sport", "nm0298807", "tt1798684")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Olympus Has Fallen", 6.5, 240863, 2013, 119, "Action,Thriller", "nm0298807", "tt2302755")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Magnificent Seven", 6.9, 171674, 2016, 132, "Action,Adventure,Western", "nm0298807", "tt2404435")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Equalizer 2", 6.7, 106696, 2018, 121, "Action,Crime,Thriller", "nm0298807", "tt3766354")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Romy and Michele's High School Reunion", 6.2, 39534, 1997, 92, "Comedy", "nm0592400", "tt0120032")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Heartbreakers", 6.2, 49162, 2001, 123, "Comedy,Crime,Romance", "nm0592400", "tt0125022")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Selena", 6.7, 22761, 1997, 127, "Biography,Drama,Music", "nm0622695", "tt0120094")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lion King 2: Simba's Pride", 6.5, 56325, 1998, 81, "Adventure,Animation,Family", "nm0480349", "tt0120131")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sliding Doors", 6.7, 60010, 1998, 99, "Comedy,Drama,Fantasy", "nm0398185", "tt0120148")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Antitrust", 6.1, 27626, 2001, 105, "Action,Crime,Drama", "nm0398185", "tt0218817")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Johnny English", 6.2, 139336, 2003, 88, "Action,Adventure,Comedy", "nm0398185", "tt0274166")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Laws of Attraction", 5.9, 21149, 2004, 90, "Comedy,Romance", "nm0398185", "tt0323033")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Reasonable Doubt", 5.7, 17683, 2014, 91, "Crime,Drama,Thriller", "nm0398185", "tt2304953")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spawn", 5.3, 60888, 1997, 96, "Action,Drama,Horror", "nm0228147", "tt0120177")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Suicide Kings", 7.0, 24739, 1997, 106, "Comedy,Crime,Drama", "nm0640964", "tt0120241")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("UnREAL", 7.8, 12428, 2015, 42, "Drama", "nm0640964", "tt3314218")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Songs from the Second Floor", 7.6, 16053, 2000, 98, "Comedy,Drama", "nm0027815", "tt0120263")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("You, the Living", 7.5, 12998, 2007, 95, "Comedy,Drama,Music", "nm0027815", "tt0445336")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Where the Wild Things Are", 6.7, 97166, 2009, 101, "Adventure,Drama,Family", "nm0005069", "tt0386117")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Her", 8.0, 479580, 2013, 126, "Drama,Romance,Sci-Fi", "nm0005069", "tt1798709")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Big Hit", 6.1, 27390, 1998, 91, "Action,Comedy,Crime", "nm0939202", "tt0120609")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blade", 7.1, 230671, 1998, 120, "Action,Horror,Sci-Fi", "nm0635759", "tt0120611")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The League of Extraordinary Gentlemen", 5.8, 159151, 2003, 110, "Action,Adventure,Fantasy", "nm0635759", "tt0311429")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dirty Work", 6.5, 22597, 1998, 82, "Comedy", "nm0756114", "tt0120654")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fantastic Four", 5.7, 300082, 2005, 106, "Action,Adventure,Fantasy", "nm1103162", "tt0120667")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Barbershop", 6.3, 28128, 2002, 102, "Comedy,Drama", "nm1103162", "tt0303714")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Taxi", 4.5, 38297, 2004, 97, "Action,Comedy,Crime", "nm1103162", "tt0316732")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fantastic 4: Rise of the Silver Surfer", 5.6, 241430, 2007, 92, "Action,Adventure,Fantasy", "nm1103162", "tt0486576")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ride Along", 6.2, 95971, 2014, 99, "Action,Comedy,Crime", "nm1103162", "tt1408253")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Think Like a Man", 6.6, 41419, 2012, 122, "Comedy,Romance", "nm1103162", "tt1621045")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Think Like a Man Too", 5.8, 18787, 2014, 106, "Comedy,Romance", "nm1103162", "tt2239832")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ride Along 2", 5.9, 49722, 2016, 102, "Action,Comedy,Crime", "nm1103162", "tt2869728")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shaft", 6.4, 29524, 2019, 111, "Action,Comedy,Crime", "nm1103162", "tt4463894")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Frida", 7.4, 75636, 2002, 123, "Biography,Drama,Romance", "nm0853380", "tt0120679")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Titus", 7.1, 19002, 1999, 162, "Drama,History,Thriller", "nm0853380", "tt0120866")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Across the Universe", 7.4, 102442, 2007, 133, "Drama,Fantasy,History", "nm0853380", "tt0445922")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gods and Monsters", 7.4, 27757, 1998, 105, "Biography,Drama", "nm0174374", "tt0120684")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kinsey", 7.1, 46101, 2004, 118, "Biography,Drama,Romance", "nm0174374", "tt0362269")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dreamgirls", 6.5, 65112, 2006, 130, "Drama,Music,Musical", "nm0174374", "tt0443489")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Twilight Saga: Breaking Dawn - Part 1", 4.9, 210996, 2011, 117, "Action,Adventure,Drama", "nm0174374", "tt1324999")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Twilight Saga: Breaking Dawn - Part 2", 5.5, 217802, 2012, 115, "Adventure,Drama,Fantasy", "nm0174374", "tt1673434")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fifth Estate", 6.2, 36838, 2013, 128, "Biography,Drama,Thriller", "nm0174374", "tt1837703")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beauty and the Beast", 7.2, 245891, 2017, 129, "Family,Fantasy,Musical", "nm0174374", "tt2771200")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mr. Holmes", 6.9, 58791, 2015, 104, "Drama,Mystery", "nm0174374", "tt3168230")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("From Dusk Till Dawn 3: The Hangman's Daughter", 4.8, 10440, 1999, 94, "Horror,Thriller,Western", "nm0675894", "tt0120695")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Supernatural", 8.4, 358626, 2005, 44, "Drama,Fantasy,Horror", "nm0675894", "tt0460681")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Smokin' Aces 2: Assassins' Ball", 5.1, 12484, 2010, 86, "Action,Comedy,Crime", "nm0675894", "tt1319743")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hard Rain", 5.9, 30719, 1998, 97, "Action,Crime,Drama", "nm0004121", "tt0120696")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Andromeda Strain", 6.2, 13215, 2008, 174, "Action,Drama,Sci-Fi", "nm0004121", "tt0424600")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blue Lagoon: The Awakening", 5.5, 12533, 2012, 85, "Drama,Romance", "nm0004121", "tt2287663")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jakob the Liar", 6.6, 14363, 1999, 120, "Drama,War", "nm0440914", "tt0120716")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Days of Disco", 6.7, 11486, 1998, 113, "Comedy,Drama,Music", "nm0001775", "tt0120728")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Love & Friendship", 6.4, 21505, 2016, 90, "Comedy,Drama,Romance", "nm0001775", "tt3068194")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lock, Stock and Two Smoking Barrels", 8.2, 500006, 1998, 107, "Comedy,Crime", "nm0005363", "tt0120735")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Snatch", 8.3, 730198, 2000, 104, "Comedy,Crime", "nm0005363", "tt0208092")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Swept Away", 3.6, 14784, 2002, 89, "Comedy,Romance", "nm0005363", "tt0291502")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Revolver", 6.4, 85061, 2005, 111, "Action,Crime,Drama", "nm0005363", "tt0365686")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sherlock Holmes", 7.6, 554883, 2009, 128, "Action,Adventure,Crime", "nm0005363", "tt0988045")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("RocknRolla", 7.3, 222338, 2008, 114, "Action,Crime,Thriller", "nm0005363", "tt1032755")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sherlock Holmes: A Game of Shadows", 7.5, 398930, 2011, 129, "Action,Adventure,Crime", "nm0005363", "tt1515091")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Man from U.N.C.L.E.", 7.3, 245264, 2015, 116, "Action,Adventure,Comedy", "nm0005363", "tt1638355")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("King Arthur: Legend of the Sword", 6.8, 173510, 2017, 126, "Action,Adventure,Drama", "nm0005363", "tt1972591")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Aladdin", 7.1, 140959, 2019, 128, "Adventure,Family,Fantasy", "nm0005363", "tt6139732")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Man in the Iron Mask", 6.5, 148265, 1998, 132, "Action,Adventure,Drama", "nm0908824", "tt0120744")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("We Were Soldiers", 7.1, 122719, 2002, 138, "Action,Drama,History", "nm0908824", "tt0277434")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Secretariat", 7.2, 24880, 2010, 123, "Biography,Drama,Family", "nm0908824", "tt1028576")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Heaven Is for Real", 5.8, 24548, 2014, 99, "Biography,Drama,Family", "nm0908824", "tt1929263")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mulan", 7.6, 228574, 1998, 88, "Adventure,Animation,Family", "nm0051643", "tt0120762")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Night at the Roxbury", 6.3, 53878, 1998, 82, "Comedy,Music,Romance", "nm0287198", "tt0120770")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blue Mountain State", 8.3, 46395, 2010, 22, "Comedy,Sport", "nm0287198", "tt1344204")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Galavant", 8.1, 13304, 2015, 22, "Adventure,Comedy,Fantasy", "nm0287198", "tt3305096")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Opposite of Sex", 6.4, 19477, 1997, 105, "Comedy", "nm0740400", "tt0120777")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bounce", 5.7, 19306, 2000, 106, "Drama,Romance", "nm0740400", "tt0186894")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Other Woman", 6.4, 18003, 2009, 102, "Drama", "nm0740400", "tt1032825")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Parent Trap", 6.5, 110524, 1998, 128, "Adventure,Comedy,Drama", "nm0583600", "tt0120783")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What Women Want", 6.4, 182484, 2000, 127, "Comedy,Fantasy,Romance", "nm0583600", "tt0207201")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Something's Gotta Give", 6.7, 104944, 2003, 128, "Comedy,Drama,Romance", "nm0583600", "tt0337741")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Holiday", 6.9, 223282, 2006, 138, "Comedy,Romance", "nm0583600", "tt0457939")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("It's Complicated", 6.5, 81833, 2009, 120, "Comedy,Drama,Romance", "nm0583600", "tt1230414")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Intern", 7.1, 195598, 2015, 121, "Comedy,Drama", "nm0583600", "tt2361509")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Payback", 7.1, 125818, 1999, 100, "Action,Crime,Drama", "nm0001338", "tt0120784")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Knight's Tale", 6.9, 159735, 2001, 132, "Action,Adventure,Romance", "nm0001338", "tt0183790")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Order", 5.2, 16417, 2003, 102, "Horror,Mystery,Thriller", "nm0001338", "tt0304711")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("42", 7.5, 78851, 2013, 128, "Biography,Drama,Sport", "nm0001338", "tt0453562")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Legend", 6.9, 142427, 2015, 132, "Biography,Crime,Drama", "nm0001338", "tt3569230")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Patriot", 4.2, 11217, 1998, 90, "Action,Thriller", "nm0005871", "tt0120786")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pleasantville", 7.5, 115809, 1998, 124, "Comedy,Drama,Fantasy", "nm0002657", "tt0120789")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Seabiscuit", 7.3, 63714, 2003, 140, "Drama,History,Sport", "nm0002657", "tt0329575")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Free State of Jones", 6.9, 46273, 2016, 139, "Action,Biography,Drama", "nm0002657", "tt1124037")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hunger Games", 7.2, 803738, 2012, 142, "Action,Adventure,Sci-Fi", "nm0002657", "tt1392170")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ocean's Eight", 6.2, 153825, 2018, 110, "Action,Comedy,Crime", "nm0002657", "tt5164214")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Prince of Egypt", 7.1, 109964, 1998, 99, "Adventure,Animation,Drama", "nm9054338", "tt0120794")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Quest for Camelot", 6.3, 13658, 1998, 86, "Adventure,Animation,Comedy", "nm0238865", "tt0120800")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Racing Stripes", 5.2, 14966, 2005, 102, "Adventure,Comedy,Drama", "nm0238865", "tt0376105")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Underdog", 4.7, 18536, 2007, 84, "Action,Adventure,Comedy", "nm0238865", "tt0467110")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Red Violin", 7.6, 30295, 1998, 130, "Drama,Music,Mystery", "nm0320660", "tt0120802")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Silk", 5.9, 10549, 2007, 107, "Drama,Romance", "nm0320660", "tt0494834")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Slums of Beverly Hills", 6.6, 11239, 1998, 91, "Comedy,Drama", "nm0420982", "tt0120831")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Savages", 7.1, 34664, 2007, 114, "Comedy,Drama", "nm0420982", "tt0775529")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Private Life", 7.3, 11225, 2018, 123, "Comedy,Drama", "nm0420982", "tt5536610")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tarzan", 7.3, 186879, 1999, 88, "Adventure,Animation,Family", "nm0118333", "tt0120855")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Frozen", 7.5, 525462, 2013, 102, "Adventure,Animation,Comedy", "nm0118333", "tt2294629")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Frozen Fever", 6.9, 12109, 2015, 8, "Adventure,Animation,Comedy", "nm0118333", "tt4007502")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dusk Till Dawn 2: Texas Blood Money", 4.1, 14532, 1999, 88, "Crime,Horror,Thriller", "nm0818547", "tt0120860")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hostel: Part III", 4.6, 25831, 2011, 88, "Horror", "nm0818547", "tt1255916")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Torrente, el brazo tonto de la ley", 6.9, 10871, 1998, 97, "Comedy,Crime", "nm0782213", "tt0120868")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What Dreams May Come", 7.0, 96809, 1998, 113, "Drama,Fantasy,Romance", "nm0911910", "tt0120889")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wrongfully Accused", 6.2, 21833, 1998, 87, "Action,Comedy,Thriller", "nm0698493", "tt0120901")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The X Files", 7.0, 96653, 1998, 121, "Drama,Mystery,Sci-Fi", "nm0101385", "tt0120902")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Reign of Fire", 6.2, 120774, 2002, 101, "Action,Adventure,Fantasy", "nm0101385", "tt0253556")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Elektra", 4.7, 83272, 2005, 97, "Action,Adventure,Crime", "nm0101385", "tt0357277")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zero Effect", 6.9, 13384, 1998, 116, "Comedy,Crime,Drama", "nm0440458", "tt0120906")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Orange County", 6.2, 45264, 2002, 82, "Comedy,Drama", "nm0440458", "tt0273923")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mile 22", 6.1, 53552, 2018, 94, "Action,Adventure,Thriller", "nm0000916", "tt4560436")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Patriots Day", 7.4, 78578, 2016, 133, "Action,Crime,Drama", "nm0000916", "tt4572514")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Simon Birch", 6.9, 19908, 1998, 114, "Comedy,Drama,Family", "nm0425756", "tt0124879")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ghost Rider", 5.2, 212051, 2007, 114, "Action,Fantasy,Thriller", "nm0425756", "tt0259324")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Daredevil", 5.3, 199370, 2003, 103, "Action,Crime", "nm0425756", "tt0287978")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("When in Rome", 5.6, 57930, 2010, 91, "Comedy,Romance", "nm0425756", "tt1185416")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Killing Season", 5.4, 34082, 2013, 91, "Action,Drama,Thriller", "nm0425756", "tt1480295")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thursday", 7.2, 16258, 1998, 87, "Action,Comedy,Crime", "nm0940790", "tt0124901")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Notting Hill", 7.1, 250027, 1999, 124, "Comedy,Drama,Romance", "nm0585011", "tt0125439")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Changing Lanes", 6.4, 64057, 2002, 98, "Drama,Thriller", "nm0585011", "tt0264472")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Venus", 7.1, 12045, 2006, 95, "Comedy,Drama,Romance", "nm0585011", "tt0489327")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Morning Glory", 6.5, 68613, 2010, 107, "Comedy,Drama,Romance", "nm0585011", "tt1126618")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hyde Park on Hudson", 5.8, 10833, 2012, 94, "Biography,Comedy,Drama", "nm0585011", "tt1477855")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Cousin Rachel", 6.0, 15967, 2017, 106, "Drama,Mystery,Romance", "nm0585011", "tt4411596")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paulie", 6.5, 13576, 1998, 91, "Adventure,Comedy,Drama", "nm0731253", "tt0125454")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shrek", 7.8, 572624, 2001, 90, "Adventure,Animation,Comedy", "nm0011470", "tt0126029")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shrek 2", 7.2, 389598, 2004, 93, "Adventure,Animation,Comedy", "nm0011470", "tt0298148")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Chronicles of Narnia: The Lion, the Witch and the Wardrobe", 6.9, 344547, 2005, 143, "Adventure,Family,Fantasy", "nm0011470", "tt0363771")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Chronicles of Narnia: Prince Caspian", 6.5, 182048, 2008, 150, "Action,Adventure,Family", "nm0011470", "tt0499448")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("He-Man and the Masters of the Universe", 7.5, 14954, 1983, 30, "Action,Adventure,Animation", "nm0035110", "tt0126158")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Recess", 7.9, 20390, 1997, 23, "Adventure,Animation,Comedy", "nm0790746", "tt0126170")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Election", 7.2, 84163, 1999, 103, "Comedy,Drama,Romance", "nm0668247", "tt0126886")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("About Schmidt", 7.1, 118191, 2002, 125, "Comedy,Drama", "nm0668247", "tt0257360")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sideways", 7.5, 171355, 2004, 127, "Comedy,Drama,Romance", "nm0668247", "tt0375063")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Descendants", 7.3, 225099, 2011, 115, "Comedy,Drama", "nm0668247", "tt1033575")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Downsizing", 5.7, 81302, 2017, 135, "Drama,Sci-Fi", "nm0668247", "tt1389072")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nebraska", 7.7, 106414, 2013, 115, "Adventure,Comedy,Drama", "nm0668247", "tt1821549")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Who Am I?", 6.8, 34336, 1998, 120, "Action,Adventure,Comedy", "nm0150802", "tt0127357")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("New Police Story", 7.0, 23276, 2004, 123, "Action,Crime,Drama", "nm0150802", "tt0386005")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rob-B-Hood", 6.6, 12193, 2006, 136, "Action,Comedy,Crime", "nm0150802", "tt0485976")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shaolin", 6.9, 17919, 2011, 131, "Action,Drama", "nm0150802", "tt1533749")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Can't Hardly Wait", 6.5, 42535, 1998, 100, "Comedy,Romance", "nm0253323", "tt0127723")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Josie and the Pussycats", 5.3, 20711, 2001, 98, "Comedy,Music", "nm0253323", "tt0236348")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Innocence", 8.3, 12922, 1997, 110, "Drama", "nm0218547", "tt0128332")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Destiny", 7.9, 10253, 2006, 103, "Drama", "nm0218547", "tt0875595")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Iron Giant", 8.0, 159872, 1999, 86, "Action,Adventure,Animation", "nm0083348", "tt0129167")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Incredibles", 8.0, 614744, 2004, 115, "Action,Adventure,Animation", "nm0083348", "tt0317705")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jack-Jack Attack", 7.6, 13291, 2005, 5, "Adventure,Animation,Comedy", "nm0083348", "tt0455565")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mission: Impossible - Ghost Protocol", 7.4, 433732, 2011, 132, "Action,Adventure,Thriller", "nm0083348", "tt1229238")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tomorrowland", 6.4, 163439, 2015, 130, "Action,Adventure,Family", "nm0083348", "tt1964418")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Incredibles 2", 7.7, 216109, 2018, 118, "Action,Adventure,Animation", "nm0083348", "tt3606756")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ravenous", 7.0, 34702, 1999, 101, "Adventure,Comedy,Horror", "nm0000944", "tt0129332")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I'm Alan Partridge", 8.5, 17064, 1997, 29, "Comedy", "nm0109273", "tt0129690")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mickey Blue Eyes", 5.8, 33225, 1999, 102, "Comedy,Crime,Romance", "nm0538614", "tt0130121")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dinosaur", 6.5, 48726, 2000, 82, "Adventure,Animation,Family", "nm0500343", "tt0130623")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Run Lola Run", 7.7, 180675, 1998, 81, "Crime,Drama,Thriller", "nm0878756", "tt0130827")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Princess and the Warrior", 7.5, 13749, 2000, 135, "Drama,Mystery,Romance", "nm0878756", "tt0203632")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Heaven", 7.0, 22448, 2002, 97, "Crime,Drama,Romance", "nm0878756", "tt0246677")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Perfume: The Story of a Murderer", 7.5, 222432, 2006, 147, "Crime,Drama", "nm0878756", "tt0396171")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The International", 6.5, 87726, 2009, 118, "Action,Crime,Drama", "nm0878756", "tt0963178")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Hologram for the King", 6.1, 36938, 2016, 98, "Comedy,Drama,Romance", "nm0878756", "tt2980210")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Geri's Game", 7.9, 20991, 1997, 4, "Animation,Family,Short", "nm0684342", "tt0131409")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ratatouille", 8.0, 591591, 2007, 111, "Adventure,Animation,Comedy", "nm0684342", "tt0382932")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Teenage Mutant Ninja Turtles", 7.9, 28360, 1987, 30, "Action,Adventure,Animation", "nm1277993", "tt0131613")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wing Commander", 4.3, 15749, 1999, 100, "Action,Adventure,Sci-Fi", "nm0730932", "tt0131646")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Angry Beavers", 7.2, 12481, 1997, 30, "Animation,Comedy,Family", "nm1013649", "tt0131664")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Adventures of Rocky & Bullwinkle", 4.1, 18522, 2000, 92, "Adventure,Animation,Comedy", "nm0005197", "tt0131704")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mystery Men", 6.1, 59356, 1999, 121, "Action,Comedy,Fantasy", "nm0882330", "tt0132347")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Crow: Salvation", 4.9, 10315, 2000, 102, "Action,Crime,Fantasy", "nm0620576", "tt0132910")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Miss Pettigrew Lives for a Day", 7.1, 25240, 2008, 92, "Comedy,Romance", "nm0620576", "tt0970468")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("MI-5", 6.2, 19555, 2015, 104, "Action,Drama,Thriller", "nm0620576", "tt3321300")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Teaching Mrs. Tingle", 5.3, 19013, 1999, 96, "Comedy,Thriller", "nm0932078", "tt0133046")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("SLC Punk!", 7.5, 24685, 1998, 97, "Comedy,Drama,Music", "nm0580669", "tt0133189")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lovers of the Arctic Circle", 7.7, 17239, 1998, 112, "Drama,Mystery,Romance", "nm0575523", "tt0133363")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sex and Lucía", 7.1, 33448, 2001, 128, "Drama,Romance", "nm0575523", "tt0254455")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Room in Rome", 6.1, 20800, 2010, 107, "Drama,Romance", "nm0575523", "tt1263750")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Asterix and Obelix vs. Caesar", 5.9, 36876, 1999, 109, "Adventure,Comedy,Family", "nm0956022", "tt0133385")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Rugrats Movie", 5.9, 16962, 1998, 79, "Adventure,Animation,Comedy", "nm0899329", "tt0134067")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Disturbing Behavior", 5.6, 19760, 1998, 84, "Horror,Mystery,Sci-Fi", "nm0638354", "tt0134619")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Game of Thrones", 9.4, 1592243, 2011, 57, "Action,Adventure,Drama", "nm0638354", "tt0944947")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Old Gods and the New", 9.1, 22970, 2012, 54, "Action,Adventure,Drama", "nm0638354", "tt2085238")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Man Without Honor", 8.9, 22370, 2012, 56, "Action,Adventure,Drama", "nm0638354", "tt2085239")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Rains of Castamere", 9.9, 84656, 2013, 51, "Action,Adventure,Drama", "nm0638354", "tt2178784")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mhysa", 9.1, 25111, 2013, 63, "Action,Adventure,Drama", "nm0638354", "tt2178796")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Dance of Dragons", 9.5, 37294, 2015, 52, "Action,Adventure,Drama", "nm0638354", "tt3866826")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mother's Mercy", 9.1, 36173, 2015, 60, "Action,Adventure,Drama", "nm0638354", "tt3866862")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Winterfell", 7.6, 119070, 2019, 54, "Action,Adventure,Drama", "nm0638354", "tt5924366")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Knight of the Seven Kingdoms", 7.9, 117185, 2019, 58, "Action,Adventure,Drama", "nm0638354", "tt6027908")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last of the Starks", 5.5, 149644, 2019, 78, "Action,Adventure,Drama", "nm0638354", "tt6027914")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Storm of the Century", 7.4, 18734, 1999, 257, "Drama,Fantasy,Horror", "nm0062644", "tt0135659")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rose Red", 6.7, 20486, 2002, 254, "Horror,Mystery,Thriller", "nm0062644", "tt0259153")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lost Room", 8.2, 27338, 2006, 270, "Action,Fantasy,Mystery", "nm0062644", "tt0830361")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Two Guys, a Girl and a Pizza Place", 7.4, 14937, 1998, 30, "Comedy,Romance", "nm0501185", "tt0137330")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Santa Clause 2", 5.6, 45592, 2002, 104, "Comedy,Family,Fantasy", "nm0501185", "tt0304669")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Santa Clause 3: The Escape Clause", 4.7, 29780, 2006, 97, "Adventure,Comedy,Family", "nm0501185", "tt0452681")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tooth Fairy", 5.0, 38796, 2010, 101, "Comedy,Family,Fantasy", "nm0501185", "tt0808510")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("200 Cigarettes", 6.0, 14178, 1999, 101, "Comedy,Drama,Romance", "nm0305405", "tt0137338")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Arlington Road", 7.2, 77426, 1999, 117, "Crime,Drama,Thriller", "nm0671210", "tt0137363")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mothman Prophecies", 6.4, 71986, 2002, 119, "Drama,Horror,Mystery", "nm0671210", "tt0265349")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Henry Poole Is Here", 6.4, 11986, 2008, 99, "Comedy,Drama", "nm0671210", "tt1029120")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Astronaut's Wife", 5.4, 50972, 1999, 109, "Drama,Sci-Fi,Thriller", "nm0712444", "tt0138304")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Idle Hands", 6.2, 37564, 1999, 92, "Comedy,Fantasy,Horror", "nm0281869", "tt0138510")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pi", 7.4, 162096, 1998, 84, "Drama,Horror,Mystery", "nm0004716", "tt0138704")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Requiem for a Dream", 8.3, 712043, 2000, 102, "Drama", "nm0004716", "tt0180093")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fountain", 7.2, 218343, 2006, 97, "Drama,Mystery,Romance", "nm0004716", "tt0414993")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Kingsroad", 8.8, 28470, 2011, 56, "Action,Adventure,Drama", "nm0887700", "tt1668746")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hang the DJ", 8.8, 40740, 2017, 51, "Drama,Sci-Fi,Thriller", "nm0887700", "tt5710978")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman & Mr. Freeze: SubZero", 7.2, 12164, 1998, 70, "Action,Animation,Crime", "nm0456631", "tt0143127")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pocahontas 2: Journey to a New World", 4.9, 12555, 1998, 72, "Adventure,Animation,Drama", "nm0254085", "tt0143808")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Psycho", 7.6, 440894, 2000, 101, "Crime,Drama", "nm0366004", "tt0144084")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alias Grace", 7.8, 19757, 2017, 60, "Biography,Crime,Drama", "nm0366004", "tt1034007")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Boondock Saints", 7.8, 218736, 1999, 108, "Action,Crime,Thriller", "nm0240627", "tt0144117")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Boondock Saints II: All Saints Day", 6.3, 59200, 2009, 118, "Action,Crime,Thriller", "nm0240627", "tt1300851")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bride of Chucky", 5.4, 49112, 1998, 89, "Comedy,Horror", "nm0950553", "tt0144120")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Formula 51", 6.3, 46418, 2001, 93, "Action,Comedy,Crime", "nm0950553", "tt0227984")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Freddy vs. Jason", 5.7, 104889, 2003, 97, "Action,Horror", "nm0950553", "tt0329101")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fearless", 7.6, 70137, 2006, 104, "Action,Biography,Drama", "nm0950553", "tt0446059")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Girl on the Bridge", 7.6, 12555, 1999, 90, "Comedy,Drama,Romance", "nm0496312", "tt0144201")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Three to Tango", 6.0, 17710, 1999, 98, "Comedy,Romance", "nm0764319", "tt0144640")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Another Cinderella Story", 5.8, 25154, 2008, 90, "Comedy,Family,Music", "nm0764319", "tt1071358")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Cinderella Story: Once Upon a Song", 6.0, 11247, 2011, 88, "Comedy,Family,Music", "nm0764319", "tt1814614")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Highlander: Endgame", 4.6, 18566, 2000, 87, "Action,Adventure,Fantasy", "nm0007439", "tt0144964")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Day", 5.2, 11823, 2011, 87, "Action,Drama,Horror", "nm0007439", "tt1756799")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sunshine", 7.5, 12432, 1999, 181, "Drama,History,Romance", "nm0843640", "tt0145503")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Being Julia", 7.0, 11622, 2004, 104, "Comedy,Drama,Romance", "nm0843640", "tt0340012")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Playing by Heart", 7.0, 17990, 1998, 121, "Comedy,Drama,Romance", "nm0141033", "tt0145734")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Simply Irresistible", 5.3, 12735, 1999, 96, "Comedy,Drama,Fantasy", "nm0850516", "tt0145893")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Urban Legend", 5.5, 56085, 1998, 99, "Horror,Mystery", "nm0087595", "tt0146336")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Valentine", 4.8, 23635, 2001, 96, "Horror,Mystery,Thriller", "nm0087595", "tt0242998")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman Beyond", 8.1, 22194, 1999, 23, "Action,Adventure,Animation", "nm0525665", "tt0147746")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Justice League", 8.5, 37502, 2001, 22, "Action,Adventure,Animation", "nm0525665", "tt0275137")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("10 Things I Hate About You", 7.3, 274475, 1999, 97, "Comedy,Drama,Romance", "nm0432627", "tt0147800")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Knight", 4.9, 35924, 2001, 95, "Adventure,Comedy,Fantasy", "nm0432627", "tt0265087")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("If Only", 7.2, 30309, 2004, 92, "Comedy,Drama,Fantasy", "nm0432627", "tt0332136")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beauty & the Briefcase", 5.5, 12380, 2010, 83, "Comedy,Romance", "nm0432627", "tt1493842")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Futurama", 8.4, 199834, 1999, 22, "Animation,Comedy,Sci-Fi", "nm0042796", "tt0149460")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Futurama: The Beast with a Billion Backs", 7.2, 22208, 2008, 90, "Animation,Comedy,Romance", "nm0042796", "tt1054485")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Futurama: Into the Wild Green Yonder", 7.3, 16780, 2009, 89, "Animation,Comedy,Sci-Fi", "nm0042796", "tt1054487")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Show Me Love", 7.5, 47804, 1998, 89, "Comedy,Drama,Romance", "nm0600546", "tt0150662")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Together", 7.4, 19728, 2000, 106, "Comedy,Drama,Romance", "nm0600546", "tt0203166")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lilya 4-Ever", 7.8, 40294, 2002, 109, "Crime,Drama", "nm0600546", "tt0300140")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hum Dil De Chuke Sanam", 7.5, 15777, 1999, 188, "Comedy,Drama,Musical", "nm0080220", "tt0150992")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Devdas", 7.6, 35491, 2002, 185, "Drama,Musical,Romance", "nm0080220", "tt0238936")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black", 8.2, 31512, 2005, 122, "Drama", "nm0080220", "tt0375611")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Guzaarish", 7.4, 15803, 2010, 126, "Drama", "nm0080220", "tt1438298")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Goliyon Ki Rasleela Ram-Leela", 6.4, 17141, 2013, 150, "Drama,Musical,Romance", "nm0080220", "tt2215477")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bajirao Mastani", 7.2, 28985, 2015, 158, "Action,Drama,History", "nm0080220", "tt3735246")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Padmaavat", 7.0, 24319, 2018, 164, "Drama,History,Romance", "nm0080220", "tt5935704")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Taxi", 7.0, 72471, 1998, 86, "Action,Comedy,Crime", "nm0000091", "tt0152930")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("CatDog", 6.5, 18664, 1998, 23, "Adventure,Animation,Comedy", "nm1383087", "tt0154061")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Celebration", 8.0, 74051, 1998, 105, "Drama", "nm0899121", "tt0154420")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hunt", 8.3, 248325, 2012, 115, "Drama", "nm0899121", "tt2106476")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Far from the Madding Crowd", 7.1, 41712, 2015, 119, "Drama,Romance", "nm0899121", "tt2935476")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Following", 7.5, 79507, 1998, 69, "Crime,Mystery,Thriller", "nm0634240", "tt0154506")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Memento", 8.4, 1046418, 2000, 113, "Mystery,Thriller", "nm0634240", "tt0209144")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Insomnia", 7.2, 256849, 2002, 118, "Drama,Mystery,Thriller", "nm0634240", "tt0278504")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman Begins", 8.2, 1215071, 2005, 140, "Action,Adventure", "nm0634240", "tt0372784")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Doodlebug", 7.1, 14821, 1997, 3, "Fantasy,Mystery,Short", "nm0634240", "tt0411302")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Dark Knight", 9.0, 2106122, 2008, 152, "Action,Crime,Drama", "nm0634240", "tt0468569")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Prestige", 8.5, 1086665, 2006, 130, "Drama,Mystery,Sci-Fi", "nm0634240", "tt0482571")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Interstellar", 8.6, 1333956, 2014, 169, "Adventure,Drama,Sci-Fi", "nm0634240", "tt0816692")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Dark Knight Rises", 8.4, 1410262, 2012, 164, "Action,Thriller", "nm0634240", "tt1345836")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Inception", 8.8, 1877758, 2010, 148, "Action,Adventure,Sci-Fi", "nm0634240", "tt1375666")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dunkirk", 7.9, 482198, 2017, 106, "Action,Drama,History", "nm0634240", "tt5013056")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jawbreaker", 5.6, 22559, 1999, 87, "Comedy,Crime,Thriller", "nm0825434", "tt0155776")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("G.B.F.", 5.9, 10172, 2013, 92, "Comedy,Drama,Romance", "nm0825434", "tt2429074")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Dog Skip", 7.0, 18518, 2000, 95, "Comedy,Drama,Family", "nm0751221", "tt0156812")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tuck Everlasting", 6.6, 20149, 2002, 90, "Drama,Family,Fantasy", "nm0751221", "tt0283084")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ladder 49", 6.5, 52986, 2004, 115, "Drama,Thriller", "nm0751221", "tt0349710")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Water Horse", 6.4, 36063, 2007, 112, "Adventure,Family,Fantasy", "nm0751221", "tt0760329")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Perfect Blue", 8.0, 46065, 1997, 81, "Animation,Horror,Mystery", "nm0464804", "tt0156887")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Millennium Actress", 7.9, 20259, 2001, 87, "Animation,Drama,Fantasy", "nm0464804", "tt0291350")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tokyo Godfathers", 7.8, 27104, 2003, 93, "Adventure,Animation,Comedy", "nm0464804", "tt0388473")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paprika", 7.7, 62780, 2006, 90, "Animation,Drama,Fantasy", "nm0464804", "tt0851578")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Stand Alone", 7.4, 18492, 1998, 93, "Crime,Drama,Thriller", "nm0637615", "tt0157016")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Irréversible", 7.4, 109294, 2002, 97, "Crime,Drama,Mystery", "nm0637615", "tt0290673")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Enter the Void", 7.3, 62879, 2009, 161, "Drama,Fantasy", "nm0637615", "tt1191111")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Love", 6.1, 38747, 2015, 135, "Drama,Romance", "nm0637615", "tt3774694")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Climax", 7.1, 31384, 2018, 97, "Drama,Horror,Music", "nm0637615", "tt8359848")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("2001: A Space Travesty", 3.6, 10994, 2000, 99, "Comedy,Sci-Fi", "nm0326161", "tt0157262")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Drop Dead Gorgeous", 6.6, 30819, 1999, 97, "Comedy,Romance,Thriller", "nm0417794", "tt0157503")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dirk Gently's Holistic Detective Agency", 8.3, 36490, 2016, 60, "Action,Adventure,Comedy", "nm0417794", "tt4047038")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Atypical", 8.3, 39607, 2017, 30, "Comedy,Drama", "nm0417794", "tt6315640")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Charmed", 7.1, 70387, 1998, 42, "Drama,Fantasy,Mystery", "nm0470971", "tt0158552")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("White Collar", 8.2, 111634, 2009, 40, "Comedy,Crime,Drama", "nm0470971", "tt1358522")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lady Snowblood", 7.7, 10920, 1973, 97, "Action,Drama,Thriller", "nm0297846", "tt0158714")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Muppets from Space", 6.3, 17079, 1999, 87, "Adventure,Comedy,Family", "nm0384722", "tt0158811")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Garfield: A Tail of Two Kitties", 5.0, 35745, 2006, 82, "Animation,Comedy,Family", "nm0384722", "tt0455499")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alvin and the Chipmunks", 5.2, 70748, 2007, 92, "Animation,Comedy,Family", "nm0384722", "tt0952640")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hop", 5.4, 29284, 2011, 95, "Adventure,Animation,Comedy", "nm0384722", "tt1411704")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Virgin Suicides", 7.2, 136141, 1999, 97, "Drama,Romance", "nm0001068", "tt0159097")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lost in Translation", 7.7, 379531, 2003, 102, "Drama", "nm0001068", "tt0335266")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Marie Antoinette", 6.4, 94340, 2006, 123, "Biography,Drama,History", "nm0001068", "tt0422720")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Somewhere", 6.3, 40611, 2010, 97, "Comedy,Drama", "nm0001068", "tt1421051")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bling Ring", 5.6, 78468, 2013, 90, "Biography,Crime,Drama", "nm0001068", "tt2132285")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Very Murray Christmas", 5.5, 12930, 2015, 56, "Comedy,Music,Musical", "nm0001068", "tt4537842")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Beguiled", 6.3, 44955, 2017, 93, "Drama,Thriller", "nm0001068", "tt5592248")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sex and the City", 7.1, 97812, 1998, 30, "Comedy,Drama,Romance", "nm0455078", "tt0159206")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sex and the City", 5.6, 111402, 2008, 145, "Comedy,Drama,Romance", "nm0455078", "tt1000774")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sex and the City 2", 4.4, 70222, 2010, 146, "Comedy,Drama,Romance", "nm0455078", "tt1261945")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Behind Enemy Lines", 6.4, 95335, 2001, 106, "Action,Drama,Thriller", "nm0601382", "tt0159273")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Admission", 5.7, 32105, 2013, 107, "Comedy,Drama,Romance", "nm0919369", "tt1814621")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mozart in the Jungle", 8.2, 20834, 2014, 29, "Comedy,Drama,Music", "nm0919369", "tt3502172")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Grandma", 6.7, 13872, 2015, 79, "Comedy,Drama", "nm0919369", "tt4270516")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Drive Me Crazy", 5.8, 17213, 1999, 91, "Comedy,Drama,Romance", "nm0776271", "tt0164114")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Like Mike", 5.2, 17823, 2002, 99, "Comedy,Family,Fantasy", "nm0776271", "tt0308506")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Aliens in the Attic", 5.4, 19672, 2009, 86, "Adventure,Animation,Comedy", "nm0776271", "tt0775552")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stir of Echoes", 7.0, 70439, 1999, 99, "Horror,Mystery,Thriller", "nm0462895", "tt0164181")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Secret Window", 6.6, 172141, 2004, 96, "Drama,Mystery,Thriller", "nm0462895", "tt0363988")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ghost Town", 6.7, 66468, 2008, 102, "Comedy,Drama,Fantasy", "nm0462895", "tt0995039")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Premium Rush", 6.5, 106063, 2012, 91, "Action,Crime,Thriller", "nm0462895", "tt1547234")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mortdecai", 5.5, 62387, 2015, 107, "Action,Comedy,Crime", "nm0462895", "tt3045616")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stuart Little", 5.9, 117282, 1999, 84, "Adventure,Comedy,Family", "nm0591450", "tt0164912")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stuart Little 2", 5.4, 46531, 2002, 77, "Adventure,Animation,Comedy", "nm0591450", "tt0243585")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Haunted Mansion", 5.0, 38855, 2003, 88, "Comedy,Family,Fantasy", "nm0591450", "tt0338094")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mr. Peabody & Sherman", 6.8, 58167, 2014, 92, "Adventure,Animation,Comedy", "nm0591450", "tt0864835")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Forbidden Kingdom", 6.6, 97736, 2008, 104, "Action,Adventure,Fantasy", "nm0591450", "tt0865556")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flypaper", 6.4, 30602, 2011, 87, "Comedy,Crime,Mystery", "nm0591450", "tt1541160")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vidocq", 6.5, 20290, 2001, 98, "Action,Crime,Fantasy", "nm0685759", "tt0164961")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Catwoman", 3.3, 103956, 2004, 104, "Action,Crime,Fantasy", "nm0685759", "tt0327554")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The King of Queens", 7.3, 70735, 1998, 22, "Comedy", "nm0771673", "tt0165581")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Melissa & Joey", 7.0, 16898, 2010, 30, "Comedy,Romance", "nm0771673", "tt1597420")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("That '70s Show", 8.1, 142827, 1998, 22, "Comedy,Romance", "nm0870699", "tt0165598")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ranch", 7.6, 28246, 2016, 30, "Comedy,Drama,Short", "nm0870699", "tt4998212")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Interstate 60: Episodes of the Road", 7.7, 27992, 2002, 116, "Adventure,Comedy,Drama", "nm0301826", "tt0165832")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Romeo Must Die", 6.1, 63886, 2000, 115, "Action,Crime,Thriller", "nm0005647", "tt0165929")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Exit Wounds", 5.6, 30658, 2001, 101, "Action,Comedy,Crime", "nm0005647", "tt0242445")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cradle 2 the Grave", 5.8, 39553, 2003, 101, "Action,Crime,Drama", "nm0005647", "tt0306685")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Doom", 5.2, 100996, 2005, 105, "Action,Adventure,Fantasy", "nm0005647", "tt0419706")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Street Fighter: The Legend of Chun-Li", 3.7, 22095, 2009, 96, "Action,Crime,Thriller", "nm0005647", "tt0891592")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sinbad: Legend of the Seven Seas", 6.7, 45546, 2003, 86, "Adventure,Animation,Family", "nm1369708", "tt0165982")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("East Is East", 6.9, 16329, 1999, 96, "Comedy,Drama", "nm0640740", "tt0166175")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rory O'Shea Was Here", 7.8, 13684, 2004, 104, "Comedy,Drama", "nm0640740", "tt0417791")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Waking Ned Devine", 7.3, 23941, 1998, 91, "Comedy", "nm0428600", "tt0166396")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nanny McPhee", 6.5, 62719, 2005, 97, "Comedy,Family,Fantasy", "nm0428600", "tt0396752")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Everybody's Fine", 7.1, 56529, 2009, 99, "Adventure,Drama", "nm0428600", "tt0780511")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What to Expect When You're Expecting", 5.7, 66665, 2012, 110, "Comedy,Drama,Romance", "nm0428600", "tt1586265")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Big Fat Greek Wedding 2", 6.0, 26390, 2016, 94, "Comedy,Romance", "nm0428600", "tt3760922")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spirit: Stallion of the Cimarron", 7.1, 58983, 2002, 83, "Adventure,Animation,Drama", "nm0038432", "tt0166813")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gnomeo & Juliet", 5.9, 50089, 2011, 84, "Adventure,Animation,Comedy", "nm0038432", "tt0377981")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Smurfs: The Lost Village", 6.0, 16147, 2017, 90, "Adventure,Animation,Comedy", "nm0038432", "tt2398241")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sixth Sense", 8.1, 856883, 1999, 107, "Drama,Mystery,Thriller", "nm0796117", "tt0167404")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Unbreakable", 7.3, 361350, 2000, 106, "Drama,Mystery,Sci-Fi", "nm0796117", "tt0217869")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Signs", 6.7, 320757, 2002, 106, "Drama,Mystery,Sci-Fi", "nm0796117", "tt0286106")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Village", 6.5, 230536, 2004, 108, "Drama,Mystery,Thriller", "nm0796117", "tt0368447")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lady in the Water", 5.5, 91609, 2006, 110, "Drama,Fantasy,Mystery", "nm0796117", "tt0452637")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Airbender", 4.1, 139382, 2010, 103, "Action,Adventure,Family", "nm0796117", "tt0938283")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Happening", 5.0, 188008, 2008, 91, "Drama,Mystery,Sci-Fi", "nm0796117", "tt0949731")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("After Earth", 4.8, 183760, 2013, 100, "Action,Adventure,Mystery", "nm0796117", "tt1815862")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wayward Pines", 7.4, 49346, 2015, 60, "Drama,Mystery,Sci-Fi", "nm0796117", "tt2618986")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Visit", 6.2, 104468, 2015, 94, "Horror,Mystery,Thriller", "nm0796117", "tt3567288")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Split", 7.3, 375183, 2016, 117, "Horror,Thriller", "nm0796117", "tt4972582")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Glass", 6.7, 159637, 2019, 129, "Drama,Sci-Fi,Thriller", "nm0796117", "tt6823368")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Superstar", 5.1, 17058, 1999, 81, "Comedy,Romance", "nm0567126", "tt0167427")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stealing Harvard", 5.1, 12105, 2002, 85, "Comedy,Crime", "nm0567126", "tt0265808")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wild Thornberrys", 6.7, 11629, 1998, 30, "Adventure,Animation,Comedy", "nm0589636", "tt0167743")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pirates of Silicon Valley", 7.3, 22785, 1999, 95, "Biography,Drama,History", "nm0121789", "tt0168122")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pokémon", 7.4, 34365, 1997, 24, "Action,Adventure,Animation", "nm0383020", "tt0168366")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Antwone Fisher", 7.3, 31013, 2002, 120, "Biography,Drama", "nm0000243", "tt0168786")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Great Debaters", 7.6, 53639, 2007, 126, "Biography,Drama,Romance", "nm0000243", "tt0427309")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fences", 7.2, 89035, 2016, 139, "Drama", "nm0000243", "tt2671706")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lagaan: Once Upon a Time in India", 8.1, 94877, 2001, 224, "Adventure,Drama,Musical", "nm0332950", "tt0169102")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Swades", 8.2, 76085, 2004, 210, "Drama", "nm0332950", "tt0367110")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jodhaa Akbar", 7.6, 27360, 2008, 213, "Action,Drama,History", "nm0332950", "tt0449994")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Arthur", 7.3, 11101, 1996, 30, "Animation,Comedy,Drama", "nm0047278", "tt0169414")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Beauty", 8.3, 1003807, 1999, 122, "Drama", "nm0005222", "tt0169547")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Road to Perdition", 7.7, 230912, 2002, 117, "Crime,Drama,Thriller", "nm0005222", "tt0257044")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jarhead", 7.0, 163604, 2005, 125, "Action,Biography,Drama", "nm0005222", "tt0418763")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Revolutionary Road", 7.3, 181385, 2008, 119, "Drama,Romance", "nm0005222", "tt0959337")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Skyfall", 7.7, 598166, 2012, 143, "Action,Adventure,Thriller", "nm0005222", "tt1074638")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Away We Go", 7.0, 49962, 2009, 98, "Comedy,Drama,Romance", "nm0005222", "tt1176740")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spectre", 6.8, 357632, 2015, 148, "Action,Adventure,Thriller", "nm0005222", "tt2379713")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Keeping the Faith", 6.3, 48191, 2000, 128, "Comedy,Drama,Romance", "nm0001570", "tt0171433")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Boys Don't Cry", 7.5, 88083, 1999, 118, "Biography,Crime,Drama", "nm0005303", "tt0171804")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stop-Loss", 6.4, 19187, 2008, 112, "Drama,War", "nm0005303", "tt0489281")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Carrie", 5.9, 126981, 2013, 100, "Drama,Horror", "nm0005303", "tt1939659")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kuch Kuch Hota Hai", 7.7, 44017, 1998, 177, "Comedy,Drama,Musical", "nm0424103", "tt0172684")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kabhi Khushi Kabhie Gham...", 7.4, 40868, 2001, 210, "Drama,Musical,Romance", "nm0424103", "tt0248126")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kabhi Alvida Naa Kehna", 6.0, 16938, 2006, 193, "Drama,Romance", "nm0424103", "tt0449999")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Name Is Khan", 8.0, 92316, 2010, 165, "Drama", "nm0424103", "tt1188996")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Student of the Year", 5.4, 13260, 2012, 146, "Comedy,Drama,Romance", "nm0424103", "tt2172071")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ae Dil Hai Mushkil", 5.8, 18875, 2016, 158, "Drama,Music,Musical", "nm0424103", "tt4559006")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Final Fantasy: The Spirits Within", 6.4, 78325, 2001, 106, "Action,Adventure,Animation", "nm1012102", "tt0173840")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Autumn in New York", 5.7, 23636, 2000, 103, "Drama,Romance", "nm0001040", "tt0174480")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Powerpuff Girls", 7.2, 33638, 1998, 30, "Action,Adventure,Animation", "nm0566833", "tt0175058")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Universal Soldier: The Return", 4.2, 26788, 1999, 83, "Action,Sci-Fi", "nm0734747", "tt0176269")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gossip", 5.9, 13841, 2000, 90, "Drama,Mystery,Thriller", "nm0346550", "tt0176783")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("An Inconvenient Truth", 7.4, 78015, 2006, 96, "Documentary,News", "nm0346550", "tt0497116")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("It Might Get Loud", 7.6, 11925, 2008, 98, "Documentary,Music", "nm0346550", "tt1229360")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Waiting for 'Superman'", 7.5, 10347, 2010, 111, "Documentary", "nm0346550", "tt1566648")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Galaxy Quest", 7.3, 139355, 1999, 102, "Adventure,Comedy,Sci-Fi", "nm0661751", "tt0177789")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fun with Dick and Jane", 6.1, 126678, 2005, 90, "Comedy,Crime", "nm0661751", "tt0369441")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("RED 2", 6.6, 150882, 2013, 116, "Action,Comedy,Crime", "nm0661751", "tt1821694")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In July", 7.7, 19763, 2000, 99, "Adventure,Comedy,Romance", "nm0015359", "tt0177858")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Head-On", 7.9, 47780, 2004, 121, "Drama,Romance", "nm0015359", "tt0347048")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("New York, I Love You", 6.3, 43401, 2008, 103, "Comedy,Drama,Romance", "nm0015359", "tt0808399")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Edge of Heaven", 7.8, 29130, 2007, 122, "Drama", "nm0015359", "tt0880502")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ed, Edd n Eddy", 7.4, 30046, 1999, 30, "Animation,Comedy,Family", "nm1172823", "tt0184111")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gorgeous", 6.1, 10432, 1999, 121, "Action,Comedy,Romance", "nm0463674", "tt0184526")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("O", 6.1, 18666, 2001, 95, "Drama,Romance,Thriller", "nm0625789", "tt0184791")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Leaves of Grass", 6.4, 25806, 2009, 105, "Comedy,Crime,Drama", "nm0625789", "tt1151359")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shanghai Noon", 6.5, 113298, 2000, 110, "Action,Adventure,Comedy", "nm0223359", "tt0184894")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Showtime", 5.5, 58203, 2002, 95, "Action,Comedy,Crime", "nm0223359", "tt0284490")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Failure to Launch", 5.6, 68297, 2006, 97, "Comedy,Romance", "nm0223359", "tt0427229")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Marmaduke", 4.2, 13491, 2010, 87, "Comedy,Family", "nm0223359", "tt1392197")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Snow Day", 5.1, 10802, 2000, 89, "Adventure,Comedy,Family", "nm0462277", "tt0184907")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Guy Thing", 5.6, 15984, 2003, 101, "Comedy,Romance", "nm0462277", "tt0295289")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Yu Yu Hakusho: Ghost Files", 8.4, 10205, 1992, 24, "Action,Adventure,Animation", "nm0994244", "tt0185133")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bleach: Burîchi", 8.1, 39990, 2004, 24, "Action,Adventure,Animation", "nm0994244", "tt0434665")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Battlefield Earth", 2.5, 73381, 2000, 118, "Action,Adventure,Sci-Fi", "nm0002337", "tt0185183")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("House on Haunted Hill", 5.6, 51054, 1999, 93, "Horror,Mystery,Thriller", "nm0540532", "tt0185371")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Feardotcom", 3.4, 19016, 2002, 101, "Crime,Horror,Thriller", "nm0540532", "tt0295254")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Blair Witch Project", 6.5, 219367, 1999, 81, "Horror,Mystery", "nm0617130", "tt0185937")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Drowning Mona", 5.7, 12749, 2000, 96, "Comedy,Crime,Mystery", "nm0327064", "tt0186045")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flashforward", 7.6, 57744, 2009, 42, "Drama,Mystery,Sci-Fi", "nm0327064", "tt1441135")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Constantine", 7.5, 46041, 2014, 43, "Drama,Fantasy,Horror", "nm0327064", "tt3489184")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sugar & Spice", 5.7, 12956, 2001, 81, "Comedy,Crime", "nm0568230", "tt0186589")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Down to You", 5.0, 13754, 2000, 91, "Comedy,Drama,Romance", "nm0410640", "tt0186975")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Farscape", 8.3, 31157, 1999, 50, "Adventure,Drama,Sci-Fi", "nm0863477", "tt0187636")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spaced", 8.6, 47113, 1999, 25, "Action,Comedy", "nm0942367", "tt0187664")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shaun of the Dead", 7.9, 477408, 2004, 99, "Comedy,Horror", "nm0942367", "tt0365748")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hot Fuzz", 7.8, 432807, 2007, 121, "Action,Comedy,Mystery", "nm0942367", "tt0425112")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scott Pilgrim vs. the World", 7.5, 345460, 2010, 112, "Action,Comedy,Fantasy", "nm0942367", "tt0446029")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The World's End", 7.0, 240856, 2013, 109, "Action,Comedy,Sci-Fi", "nm0942367", "tt1213663")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Baby Driver", 7.6, 382203, 2017, 113, "Action,Crime,Drama", "nm0942367", "tt3890160")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Anatomy", 6.1, 11154, 2000, 103, "Horror,Thriller", "nm0752328", "tt0187696")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Counterfeiters", 7.6, 41304, 2007, 99, "Crime,Drama,War", "nm0752328", "tt0813547")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Deadfall", 6.3, 36724, 2012, 95, "Crime,Drama,Thriller", "nm0752328", "tt1667310")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Birthday Girl", 6.1, 23507, 2001, 93, "Comedy,Crime,Thriller", "nm0125336", "tt0188453")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Human Traffic", 7.1, 21994, 1999, 99, "Comedy,Music", "nm0449863", "tt0188674")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Big Kahuna", 6.6, 13435, 1999, 90, "Comedy,Drama", "nm0841647", "tt0189584")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shadow of the Vampire", 6.9, 38163, 2000, 92, "Drama,Horror", "nm0580729", "tt0189998")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Suspect Zero", 5.8, 18277, 2004, 99, "Crime,Horror,Mystery", "nm0580729", "tt0324127")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dungeons & Dragons", 3.6, 30748, 2000, 107, "Action,Adventure,Fantasy", "nm0813309", "tt0190374")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("An American Haunting", 5.0, 23926, 2005, 83, "Drama,History,Horror", "nm0813309", "tt0429573")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Getaway", 4.4, 22372, 2013, 90, "Action,Crime,Thriller", "nm0813309", "tt2167202")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ghulam", 7.3, 10281, 1998, 162, "Action,Crime,Drama", "nm0080333", "tt0190419")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("O Brother, Where Art Thou?", 7.7, 268145, 2000, 107, "Adventure,Comedy,Crime", "nm0001053", "tt0190590")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Man Who Wasn't There", 7.5, 98281, 2001, 116, "Crime,Drama", "nm0001053", "tt0243133")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ladykillers", 6.2, 94802, 2004, 104, "Comedy,Crime,Thriller", "nm0001053", "tt0335245")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hail, Caesar!", 6.3, 113561, 2016, 106, "Comedy,Drama,Music", "nm0001053", "tt0475290")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Burn After Reading", 7.0, 291653, 2008, 96, "Comedy,Crime,Drama", "nm0001053", "tt0887883")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Serious Man", 7.0, 123760, 2009, 106, "Comedy,Drama", "nm0001053", "tt1019452")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("True Grit", 7.6, 288878, 2010, 110, "Drama,Western", "nm0001053", "tt1403865")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Inside Llewyn Davis", 7.5, 125985, 2013, 104, "Comedy,Drama,Music", "nm0001053", "tt2042568")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ballad of Buster Scruggs", 7.3, 95424, 2018, 133, "Comedy,Drama,Musical", "nm0001053", "tt6412452")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pokémon: The First Movie - Mewtwo Strikes Back", 6.2, 37139, 1998, 96, "Action,Adventure,Animation", "nm0951197", "tt0190641")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pokémon the Movie 2000", 6.1, 19315, 1999, 84, "Action,Adventure,Animation", "nm0951197", "tt0210234")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pokémon 3: The Movie", 5.8, 12029, 2000, 93, "Action,Adventure,Animation", "nm0951197", "tt0235679")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Get Over It", 5.7, 17222, 2001, 87, "Comedy,Romance", "nm0641373", "tt0192071")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ella Enchanted", 6.2, 58099, 2004, 96, "Comedy,Family,Fantasy", "nm0641373", "tt0327679")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("An American Crime", 7.3, 30386, 2007, 98, "Biography,Crime,Drama", "nm0641373", "tt0802948")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Head Over Heels", 5.4, 13339, 2001, 86, "Comedy,Mystery,Romance", "nm0914134", "tt0192111")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Freaky Friday", 6.1, 116925, 2003, 97, "Comedy,Family,Fantasy", "nm0914134", "tt0322330")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mean Girls", 7.0, 307478, 2004, 97, "Comedy", "nm0914134", "tt0377092")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Spiderwick Chronicles", 6.5, 82710, 2008, 96, "Action,Adventure,Drama", "nm0914134", "tt0416236")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Just Like Heaven", 6.7, 94188, 2005, 95, "Comedy,Drama,Fantasy", "nm0914134", "tt0425123")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ghosts of Girlfriends Past", 5.8, 78764, 2009, 100, "Comedy,Fantasy,Romance", "nm0914134", "tt0821640")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mr. Popper's Penguins", 6.0, 81795, 2011, 94, "Comedy,Family,Fantasy", "nm0914134", "tt1396218")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vampire Academy", 5.5, 49797, 2014, 104, "Action,Comedy,Drama", "nm0914134", "tt1686821")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bad Santa 2", 5.6, 20455, 2016, 92, "Comedy,Crime,Drama", "nm0914134", "tt1798603")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Urban Legends: Final Cut", 4.3, 15142, 2000, 97, "Horror,Mystery,Thriller", "nm0653211", "tt0192731")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jin-Roh: The Wolf Brigade", 7.4, 13991, 1999, 102, "Animation,Drama,Fantasy", "nm0645657", "tt0193253")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Star Wars Holiday Special", 2.1, 11650, 1978, 97, "Adventure,Family,Musical", "nm0004596", "tt0193524")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Satya", 8.2, 11968, 1998, 170, "Action,Crime,Drama", "nm0890060", "tt0195231")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Company", 8.0, 13413, 2002, 155, "Action,Crime,Drama", "nm0890060", "tt0296574")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sarkar", 7.6, 14638, 2005, 124, "Action,Crime,Drama", "nm0890060", "tt0432047")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Saving Grace", 6.9, 16927, 2000, 93, "Comedy,Crime", "nm0170719", "tt0195234")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Calendar Girls", 6.9, 22090, 2003, 108, "Comedy,Drama", "nm0170719", "tt0337909")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Lot Like Love", 6.6, 65209, 2005, 107, "Comedy,Drama,Romance", "nm0170719", "tt0391304")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Made in Dagenham", 7.2, 13271, 2010, 113, "Biography,Comedy,Drama", "nm0170719", "tt1371155")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Final Destination", 6.7, 214662, 2000, 98, "Horror,Thriller", "nm0939128", "tt0195714")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The One", 5.9, 86016, 2001, 87, "Action,Sci-Fi,Thriller", "nm0939128", "tt0267804")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Final Destination 3", 5.8, 122621, 2006, 93, "Horror", "nm0939128", "tt0414982")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dragonball Evolution", 2.5, 66822, 2009, 85, "Action,Adventure,Fantasy", "nm0939128", "tt1098327")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Next Friday", 6.1, 34293, 2000, 98, "Comedy", "nm0139867", "tt0195945")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dr. Dolittle 2", 4.7, 39530, 2001, 87, "Comedy,Family,Fantasy", "nm0139867", "tt0240462")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Daddy Day Care", 5.5, 59685, 2003, 92, "Comedy,Family", "nm0139867", "tt0317303")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rebound", 5.1, 11872, 2005, 86, "Comedy,Family,Sport", "nm0139867", "tt0376108")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Are We Done Yet?", 4.2, 18487, 2007, 92, "Comedy,Family,Fantasy", "nm0139867", "tt0422774")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paul Blart: Mall Cop", 5.2, 97066, 2009, 91, "Action,Comedy,Crime", "nm0139867", "tt1114740")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Where the Heart Is", 6.8, 30534, 2000, 120, "Comedy,Drama,Romance", "nm0931285", "tt0198021")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monsters, Inc.", 8.0, 754718, 2001, 92, "Adventure,Animation,Comedy", "nm0230032", "tt0198781")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mike's New Car", 7.1, 11213, 2002, 4, "Animation,Comedy,Family", "nm0230032", "tt0323250")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Up", 8.2, 863256, 2009, 96, "Adventure,Animation,Comedy", "nm0230032", "tt1049413")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Inside Out", 8.2, 550935, 2015, 95, "Adventure,Animation,Comedy", "nm0230032", "tt2096673")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Love & Basketball", 7.2, 16941, 2000, 124, "Drama,Romance,Sport", "nm0697656", "tt0199725")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Secret Life of Bees", 7.3, 22908, 2008, 114, "Drama", "nm0697656", "tt0416212")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beyond the Lights", 6.9, 14291, 2014, 116, "Drama,Music,Romance", "nm0697656", "tt3125324")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Red Planet", 5.7, 53026, 2000, 106, "Action,Sci-Fi,Thriller", "nm0388817", "tt0199753")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rosetta", 7.5, 11696, 1999, 95, "Drama", "nm0201094", "tt0200071")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Kid with a Bike", 7.4, 24876, 2011, 87, "Drama", "nm0201094", "tt1827512")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Two Days, One Night", 7.3, 41781, 2014, 95, "Drama", "nm0201094", "tt2737050")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The 12th Man", 7.4, 13676, 2017, 135, "Drama,History,Thriller", "nm0958969", "tt3300980")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Watcher", 5.3, 24533, 2000, 97, "Crime,Drama,Mystery", "nm0152741", "tt0204626")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bring It On", 6.0, 82207, 2000, 98, "Comedy,Romance,Sport", "nm0715636", "tt0204946")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Down with Love", 6.2, 37802, 2003, 101, "Comedy,Romance", "nm0715636", "tt0309530")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Break-Up", 5.8, 118756, 2006, 106, "Comedy,Drama,Romance", "nm0715636", "tt0452594")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ant-Man", 7.3, 518275, 2015, 117, "Action,Adventure,Comedy", "nm0715636", "tt0478970")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Yes Man", 6.8, 314571, 2008, 104, "Comedy,Romance", "nm0715636", "tt1068680")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ant-Man and the Wasp", 7.1, 262010, 2018, 118, "Action,Adventure,Comedy", "nm0715636", "tt5095030")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dark Angel", 7.4, 29300, 2000, 60, "Action,Drama,Mystery", "nm0941276", "tt0204993")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Deuce Bigalow: Male Gigolo", 5.7, 67414, 1999, 88, "Comedy,Romance", "nm0593610", "tt0205000")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Surviving Christmas", 5.4, 20921, 2004, 91, "Comedy,Romance", "nm0593610", "tt0252028")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sky High", 6.1, 73295, 2005, 100, "Adventure,Comedy,Family", "nm0593610", "tt0405325")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shrek Forever After", 6.3, 170879, 2010, 93, "Adventure,Animation,Comedy", "nm0593610", "tt0892791")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alvin and the Chipmunks: Chipwrecked", 4.3, 28803, 2011, 87, "Adventure,Animation,Comedy", "nm0593610", "tt1615918")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Trolls", 6.5, 64543, 2016, 92, "Adventure,Animation,Comedy", "nm0593610", "tt1679335")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lego Movie 2: The Second Part", 6.7, 38892, 2019, 107, "Action,Adventure,Animation", "nm0593610", "tt3513498")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Even Stevens", 7.6, 12727, 2000, 30, "Comedy,Family", "nm0314480", "tt0206511")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("SpongeBob SquarePants", 8.1, 75565, 1999, 23, "Animation,Comedy,Family", "nm6600275", "tt0206512")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Contender", 6.9, 22063, 2000, 126, "Drama,Thriller", "nm0527109", "tt0208874")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Castle", 7.0, 66482, 2001, 131, "Action,Drama,Thriller", "nm0527109", "tt0272020")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Resurrecting the Champ", 6.7, 19731, 2007, 112, "Drama,Sport", "nm0527109", "tt0416185")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Straw Dogs", 5.8, 31506, 2011, 110, "Action,Drama,Thriller", "nm0527109", "tt0999913")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nothing But the Truth", 7.2, 34587, 2008, 108, "Crime,Drama,Mystery", "nm0527109", "tt1073241")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Get Carter", 5.2, 31100, 2000, 102, "Action,Crime,Drama", "nm0443181", "tt0208988")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Boogeyman", 4.2, 28777, 2005, 89, "Drama,Horror,Mystery", "nm0443181", "tt0357507")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sons of Anarchy", 8.6, 235247, 2008, 45, "Crime,Drama,Thriller", "nm0443181", "tt1124373")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Covert Affairs", 7.3, 25525, 2010, 60, "Action,Crime,Drama", "nm0443181", "tt1495708")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Son's Room", 7.3, 16612, 2001, 99, "Drama", "nm0604335", "tt0208990")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("We Have a Pope", 6.7, 12395, 2011, 102, "Comedy,Drama", "nm0604335", "tt1456472")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ken Park", 5.9, 27793, 2002, 93, "Drama", "nm0005767", "tt0209077")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wedding Planner", 5.3, 71820, 2001, 103, "Comedy,Romance", "nm0788202", "tt0209475")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Walk to Remember", 7.4, 190310, 2002, 101, "Drama,Romance", "nm0788202", "tt0281358")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bringing Down the House", 5.6, 33522, 2003, 105, "Comedy", "nm0788202", "tt0305669")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Pacifier", 5.6, 81798, 2005, 95, "Action,Comedy,Drama", "nm0788202", "tt0395699")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hairspray", 6.6, 114273, 2007, 117, "Comedy,Drama,Musical", "nm0788202", "tt0427327")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cheaper by the Dozen 2", 5.5, 51268, 2005, 94, "Adventure,Comedy,Family", "nm0788202", "tt0452598")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bedtime Stories", 6.0, 83529, 2008, 99, "Comedy,Family,Fantasy", "nm0788202", "tt0960731")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rock of Ages", 5.9, 70622, 2012, 123, "Comedy,Drama,Musical", "nm0788202", "tt1336608")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What Men Want", 5.1, 13424, 2019, 117, "Comedy,Fantasy,Romance", "nm0788202", "tt7634968")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Cell", 6.3, 90856, 2000, 107, "Horror,Sci-Fi,Thriller", "nm0802248", "tt0209958")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fall", 7.9, 102646, 2006, 117, "Adventure,Drama,Fantasy", "nm0802248", "tt0460791")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Immortals", 6.0, 154384, 2011, 110, "Action,Drama,Fantasy", "nm0802248", "tt1253864")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mirror Mirror", 5.6, 80243, 2012, 106, "Adventure,Comedy,Drama", "nm0802248", "tt1667353")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Self/less", 6.5, 82716, 2015, 117, "Action,Mystery,Sci-Fi", "nm0802248", "tt2140379")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Emerald City", 7.2, 10960, 2016, 60, "Adventure,Drama,Fantasy", "nm0802248", "tt3579018")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gangster No. 1", 6.8, 12483, 2000, 103, "Crime,Drama,Thriller", "nm0006476", "tt0210065")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wicker Park", 7.0, 50732, 2004, 114, "Drama,Mystery,Romance", "nm0006476", "tt0324554")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lucky Number Slevin", 7.7, 290138, 2006, 110, "Crime,Drama,Mystery", "nm0006476", "tt0425210")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Push", 6.1, 101610, 2009, 111, "Action,Adventure,Crime", "nm0006476", "tt0465580")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sherlock", 9.1, 728530, 2010, 88, "Crime,Drama,Mystery", "nm0006476", "tt1475582")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Great Game", 9.1, 22840, 2010, 89, "Crime,Drama,Mystery", "nm0006476", "tt1664530")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Study in Pink", 9.1, 25939, 2010, 88, "Crime,Drama,Mystery", "nm0006476", "tt1665071")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Scandal in Belgravia", 9.5, 32812, 2012, 89, "Crime,Drama,Mystery", "nm0006476", "tt1942612")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hounds of Baskerville", 8.4, 22047, 2012, 88, "Crime,Drama,Mystery", "nm0006476", "tt1942613")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Victor Frankenstein", 6.0, 48458, 2015, 110, "Drama,Horror,Sci-Fi", "nm0006476", "tt1976009")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ginger Snaps", 6.8, 38784, 2000, 108, "Drama,Fantasy,Horror", "nm0269502", "tt0210070")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Taken", 7.9, 18517, 2002, 877, "Drama,Mystery,Sci-Fi", "nm0269502", "tt0289830")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Dark", 5.4, 10092, 2005, 93, "Drama,Horror,Mystery", "nm0269502", "tt0411267")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Orphan Black", 8.3, 94298, 2013, 44, "Action,Drama,Sci-Fi", "nm0269502", "tt2234222")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Clerks", 7.4, 11487, 2000, 22, "Animation,Comedy", "nm0047193", "tt0210413")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Digimon: Digital Monsters", 7.3, 18989, 1999, 24, "Action,Adventure,Animation", "nm0632383", "tt0210418")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jason X", 4.4, 47324, 2001, 91, "Action,Horror,Sci-Fi", "nm0410494", "tt0211443")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Skinwalkers", 4.6, 12602, 2006, 110, "Action,Fantasy,Horror", "nm0410494", "tt0461703")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Knockaround Guys", 6.1, 21615, 2001, 92, "Crime,Drama,Thriller", "nm0002718", "tt0211465")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Solitary Man", 6.3, 15068, 2009, 90, "Comedy,Drama,Romance", "nm0002718", "tt1294213")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Awake", 6.5, 70123, 2007, 84, "Crime,Drama,Mystery", "nm1703612", "tt0211933")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Baadshah", 6.8, 15559, 1999, 175, "Action,Comedy,Crime", "nm0122216", "tt0211934")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Race", 6.6, 11764, 2008, 149, "Action,Crime,Drama", "nm0122216", "tt1017456")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Berlin Calling", 7.3, 12406, 2008, 100, "Comedy,Drama,Music", "nm0836708", "tt0211946")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shriek If You Know What I Did Last Friday the Thirteenth", 4.0, 10039, 2000, 86, "Comedy,Horror", "nm0087071", "tt0212235")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rugrats in Paris: The Movie", 6.1, 10283, 2000, 78, "Adventure,Animation,Comedy", "nm0075010", "tt0213203")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Andromeda", 6.6, 11370, 2000, 43, "Action,Adventure,Drama", "nm0779830", "tt0213327")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cowboy Bebop", 8.9, 78082, 1998, 24, "Action,Adventure,Animation", "nm0913860", "tt0213338")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cowboy Bebop: The Movie", 7.9, 39864, 2001, 115, "Action,Animation,Crime", "nm0913860", "tt0275277")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("100 Girls", 5.8, 20050, 2000, 94, "Comedy,Romance", "nm0205157", "tt0214388")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shoot 'Em Up", 6.7, 140578, 2007, 86, "Action,Thriller", "nm0205157", "tt0465602")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Road Trip", 6.4, 150110, 2000, 93, "Adventure,Comedy", "nm0680846", "tt0215129")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Old School", 7.1, 205721, 2003, 88, "Comedy", "nm0680846", "tt0302886")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Starsky & Hutch", 6.1, 133089, 2004, 101, "Comedy,Crime", "nm0680846", "tt0335438")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("School for Scoundrels", 5.9, 28173, 2006, 100, "Comedy", "nm0680846", "tt0462519")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hangover", 7.7, 679049, 2009, 100, "Comedy", "nm0680846", "tt1119646")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Due Date", 6.5, 307652, 2010, 95, "Adventure,Comedy", "nm0680846", "tt1231583")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hangover Part II", 6.4, 438684, 2011, 102, "Comedy", "nm0680846", "tt1411697")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hangover Part III", 5.8, 275706, 2013, 100, "Comedy,Crime", "nm0680846", "tt1951261")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("War Dogs", 7.1, 158841, 2016, 114, "Biography,Comedy,Crime", "nm0680846", "tt2005151")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Joker", 9.0, 137197, 2019, 122, "Crime,Drama,Thriller", "nm0680846", "tt7286456")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dracula 2000", 4.8, 30655, 2000, 99, "Action,Fantasy,Horror", "nm0527261", "tt0219653")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("White Noise 2: The Light", 5.7, 12294, 2007, 99, "Drama,Fantasy,Horror", "nm0527261", "tt0496436")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Bloody Valentine", 5.4, 51496, 2009, 101, "Horror,Mystery,Thriller", "nm0527261", "tt1179891")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Drive Angry", 5.4, 91003, 2011, 104, "Action,Crime,Fantasy", "nm0527261", "tt1502404")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Human Nature", 6.4, 16782, 2001, 96, "Comedy,Drama", "nm0327273", "tt0219822")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eternal Sunshine of the Spotless Mind", 8.3, 839077, 2004, 108, "Drama,Romance,Sci-Fi", "nm0327273", "tt0338013")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Science of Sleep", 7.3, 66056, 2006, 105, "Comedy,Drama,Fantasy", "nm0327273", "tt0354899")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Be Kind Rewind", 6.4, 86336, 2008, 102, "Comedy", "nm0327273", "tt0799934")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Green Hornet", 5.8, 149784, 2011, 119, "Action,Comedy,Crime", "nm0327273", "tt0990407")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mood Indigo", 6.5, 14369, 2013, 131, "Comedy,Drama,Fantasy", "nm0327273", "tt2027140")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Golden Compass", 6.1, 169463, 2007, 113, "Adventure,Family,Fantasy", "nm0919363", "tt0385752")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Twilight Saga: New Moon", 4.7, 251556, 2009, 130, "Adventure,Drama,Fantasy", "nm0919363", "tt1259571")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Better Life", 7.2, 14701, 2011, 98, "Drama,Romance", "nm0919363", "tt1554091")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Operation Finale", 6.5, 23257, 2018, 122, "Biography,Drama,History", "nm0919363", "tt5208252")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("3000 Miles to Graceland", 6.0, 42109, 2001, 125, "Action,Comedy,Crime", "nm0509028", "tt0233142")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman Beyond: Return of the Joker", 7.8, 21429, 2000, 76, "Action,Animation,Crime", "nm0311435", "tt0233298")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ultimate Avengers", 6.7, 11516, 2006, 72, "Action,Adventure,Animation", "nm0311435", "tt0491703")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Matrix Reloaded", 7.2, 486051, 2003, 138, "Action,Sci-Fi", "nm0905152", "tt0234215")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Speed Racer", 6.0, 65889, 2008, 135, "Action,Adventure,Comedy", "nm0905152", "tt0811080")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jupiter Ascending", 5.3, 169314, 2015, 127, "Action,Adventure,Sci-Fi", "nm0905152", "tt1617661")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Novocaine", 5.8, 10362, 2001, 95, "Comedy,Crime,Drama", "nm0040575", "tt0234354")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Summer Catch", 5.0, 14629, 2001, 108, "Comedy,Drama,Romance", "nm0866132", "tt0234829")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Radio", 6.9, 36674, 2003, 109, "Biography,Drama,Sport", "nm0866132", "tt0316465")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Audition", 7.2, 66320, 1999, 115, "Drama,Horror,Mystery", "nm0586281", "tt0235198")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Visitor Q", 6.7, 14079, 2001, 84, "Comedy,Drama,Horror", "nm0586281", "tt0290329")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ichi the Killer", 7.0, 49253, 2001, 129, "Action,Crime,Drama", "nm0586281", "tt0296042")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gozu", 7.0, 10448, 2003, 129, "Crime,Drama,Horror", "nm0586281", "tt0361668")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("One Missed Call", 6.2, 15933, 2003, 112, "Horror,Mystery", "nm0586281", "tt0366292")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sukiyaki Western Django", 6.2, 14119, 2007, 121, "Action,Western", "nm0586281", "tt0906665")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("13 Assassins", 7.6, 58753, 2010, 141, "Action,Adventure,Drama", "nm0586281", "tt1436045")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blade of the Immortal", 6.8, 12719, 2017, 140, "Action,Drama", "nm0586281", "tt5084170")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Salton Sea", 7.1, 28740, 2002, 103, "Crime,Drama,Mystery", "nm0142286", "tt0235737")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Taking Lives", 6.2, 75914, 2004, 103, "Crime,Mystery,Thriller", "nm0142286", "tt0364045")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Two for the Money", 6.3, 41447, 2005, 122, "Drama,Sport,Thriller", "nm0142286", "tt0417217")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Disturbia", 6.8, 209517, 2007, 105, "Crime,Drama,Mystery", "nm0142286", "tt0486822")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eagle Eye", 6.6, 168616, 2008, 118, "Action,Mystery,Thriller", "nm0142286", "tt1059786")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("xXx: Return of Xander Cage", 5.2, 79640, 2017, 107, "Action,Adventure,Thriller", "nm0142286", "tt1293847")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Am Number Four", 6.1, 219759, 2011, 111, "Action,Adventure,Drama", "nm0142286", "tt1464540")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fairly OddParents", 7.2, 29916, 2001, 30, "Adventure,Animation,Comedy", "nm0970388", "tt0235918")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flickering Lights", 7.7, 17921, 2000, 109, "Action,Comedy,Crime", "nm0421314", "tt0236027")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Green Butchers", 7.3, 17953, 2003, 100, "Comedy,Drama", "nm0421314", "tt0342492")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Adam's Apples", 7.8, 42408, 2005, 94, "Comedy,Crime,Drama", "nm0421314", "tt0418455")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Coupling", 8.5, 40743, 2000, 30, "Comedy,Romance", "nm0219513", "tt0237123")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Books", 8.5, 50363, 2000, 25, "Comedy", "nm0219513", "tt0262150")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Equilibrium", 7.4, 298935, 2002, 107, "Action,Drama,Sci-Fi", "nm0934483", "tt0238380")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ultraviolet", 4.4, 77101, 2006, 88, "Action,Adventure,Crime", "nm0934483", "tt0370032")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Queen of the Damned", 5.3, 50171, 2002, 101, "Drama,Fantasy,Horror", "nm0753382", "tt0238546")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Battlestar Galactica", 8.6, 62806, 2003, 183, "Action,Adventure,Drama", "nm0753382", "tt0314979")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hannibal", 8.5, 206782, 2013, 44, "Crime,Drama,Horror", "nm0753382", "tt2243973")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wrath of the Lamb", 9.8, 10882, 2015, 43, "Crime,Drama,Horror", "nm0753382", "tt4089754")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Dangerous Lives of Altar Boys", 7.0, 12772, 2002, 104, "Comedy,Drama", "nm0136775", "tt0238924")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Survivor", 7.1, 20459, 2000, 60, "Adventure,Game-Show,Reality-TV", "nm0800301", "tt0239195")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cats & Dogs", 5.1, 53516, 2001, 87, "Action,Comedy,Family", "nm0349183", "tt0239395")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Son of the Mask", 2.2, 49746, 2005, 94, "Comedy,Family,Fantasy", "nm0349183", "tt0362165")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Say It Isn't So", 5.0, 12205, 2001, 95, "Comedy,Romance", "nm0736930", "tt0239949")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Pie 2", 6.4, 227987, 2001, 108, "Comedy", "nm0736930", "tt0252866")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Water", 7.7, 13744, 2005, 117, "Drama", "nm0576548", "tt0240200")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Freddy Got Fingered", 4.6, 44274, 2001, 87, "Comedy", "nm0338381", "tt0240515")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Little Mermaid 2: Return to the Sea", 5.6, 15788, 2000, 75, "Animation,Drama,Family", "nm0436851", "tt0240684")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Slackers", 5.4, 13386, 2002, 86, "Comedy,Romance", "nm0630083", "tt0240900")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vanity Fair", 6.2, 19784, 2004, 141, "Drama", "nm0619762", "tt0241025")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monsoon Wedding", 7.3, 22363, 2001, 114, "Comedy,Drama,Romance", "nm0619762", "tt0265343")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Namesake", 7.5, 18177, 2006, 122, "Drama", "nm0619762", "tt0433416")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Amelia", 5.8, 11482, 2009, 111, "Adventure,Biography,Drama", "nm0619762", "tt1129445")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Reluctant Fundamentalist", 6.9, 12709, 2012, 130, "Drama,Thriller", "nm0619762", "tt2032557")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Queen of Katwe", 7.4, 13410, 2016, 124, "Biography,Drama,Sport", "nm0619762", "tt4341582")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The New Guy", 5.9, 32297, 2002, 88, "Comedy", "nm0214036", "tt0241760")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dude, Where's My Car?", 5.5, 129714, 2000, 83, "Comedy,Mystery,Sci-Fi", "nm0500444", "tt0242423")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Harold & Kumar Go to White Castle", 7.1, 173753, 2004, 88, "Adventure,Comedy", "nm0500444", "tt0366551")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hera Pheri", 8.2, 49544, 2000, 156, "Action,Comedy,Crime", "nm0698184", "tt0242519")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hungama", 7.5, 11273, 2003, 153, "Comedy,Drama,Romance", "nm0698184", "tt0371735")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Garam Masala", 6.7, 12312, 2005, 146, "Comedy,Romance", "nm0698184", "tt0453671")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bhool Bhulaiyaa", 7.2, 19332, 2007, 159, "Comedy,Horror,Mystery", "nm0698184", "tt0995031")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hole", 6.2, 42531, 2001, 102, "Drama,Mystery,Thriller", "nm0358327", "tt0242527")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Godsend", 4.8, 24136, 2004, 102, "Action,Drama,Fantasy", "nm0358327", "tt0335121")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bridget Jones's Diary", 6.7, 210031, 2001, 97, "Comedy,Drama,Romance", "nm0536632", "tt0243155")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bridget Jones's Baby", 6.5, 61852, 2016, 123, "Comedy,Drama,Romance", "nm0536632", "tt1473832")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wet Hot American Summer", 6.6, 50928, 2001, 97, "Comedy,Romance", "nm0906476", "tt0243655")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Role Models", 6.8, 213098, 2008, 99, "Comedy", "nm0906476", "tt0430922")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ten", 5.0, 16023, 2007, 96, "Comedy,Romance", "nm0906476", "tt0811106")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wanderlust", 5.6, 69840, 2012, 98, "Comedy,Romance", "nm0906476", "tt1655460")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("They Came Together", 5.5, 20024, 2014, 83, "Comedy,Romance", "nm0906476", "tt2398249")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wet Hot American Summer: First Day of Camp", 7.4, 20957, 2015, 30, "Comedy", "nm0906476", "tt4341500")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Futile and Stupid Gesture", 6.8, 11278, 2018, 101, "Biography,Comedy", "nm0906476", "tt5566790")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Italian for Beginners", 7.0, 12361, 2000, 112, "Comedy,Drama,Romance", "nm0771054", "tt0243862")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("An Education", 7.3, 124025, 2009, 100, "Drama", "nm0771054", "tt1174732")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("One Day", 7.0, 129878, 2011, 107, "Drama,Romance", "nm0771054", "tt1563738")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Their Finest", 6.8, 15710, 2016, 117, "Comedy,Drama,Romance", "nm0771054", "tt1661275")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Riot Club", 6.0, 20062, 2014, 107, "Drama,Thriller", "nm0771054", "tt2717860")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Yi Yi", 8.1, 17598, 2000, 173, "Drama,Romance", "nm0945981", "tt0244316")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Trek: Enterprise", 7.5, 40915, 2001, 60, "Action,Adventure,Drama", "nm0515237", "tt0244365")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Someone Like You...", 6.1, 22404, 2001, 97, "Comedy,Romance", "nm0001282", "tt0244970")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Kiss", 6.4, 40094, 2006, 115, "Comedy,Drama,Romance", "nm0001282", "tt0434139")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Conviction", 7.2, 40172, 2010, 107, "Biography,Crime,Drama", "nm0001282", "tt1244754")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lost and Delirious", 6.9, 19175, 2001, 103, "Drama,Romance", "nm0690794", "tt0245238")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thir13en Ghosts", 5.6, 75025, 2001, 91, "Horror", "nm0065284", "tt0245674")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ghost Ship", 5.5, 88693, 2002, 91, "Horror", "nm0065284", "tt0288477")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Joe Dirt", 5.9, 48303, 2001, 91, "Adventure,Comedy,Drama", "nm0330140", "tt0245686")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What a Girl Wants", 5.8, 55853, 2003, 105, "Comedy,Drama,Family", "nm0330140", "tt0286788")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("New York Minute", 4.9, 20573, 2004, 91, "Comedy,Crime,Family", "nm0330140", "tt0363282")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Amores Perros", 8.1, 209556, 2000, 154, "Drama,Thriller", "nm0327944", "tt0245712")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("21 Grams", 7.7, 214776, 2003, 124, "Crime,Drama,Thriller", "nm0327944", "tt0315733")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Babel", 7.4, 276005, 2006, 143, "Drama", "nm0327944", "tt0449467")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Biutiful", 7.5, 81261, 2010, 148, "Drama,Romance", "nm0327944", "tt1164999")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Revenant", 8.0, 637090, 2015, 156, "Action,Adventure,Biography", "nm0327944", "tt1663202")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Birdman or (The Unexpected Virtue of Ignorance)", 7.7, 530228, 2014, 119, "Comedy,Drama", "nm0327944", "tt2562232")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shortbus", 6.4, 30691, 2006, 101, "Comedy,Drama", "nm0593463", "tt0367027")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rabbit Hole", 7.0, 45686, 2010, 91, "Drama", "nm0593463", "tt0935075")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Werckmeister Harmonies", 8.2, 11433, 2000, 145, "Drama,Mystery", "nm0398555", "tt0249241")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Yu-Gi-Oh!", 7.2, 16479, 2000, 24, "Action,Adventure,Animation", "nm0837515", "tt0249327")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ashoka the Great", 6.5, 12573, 2001, 176, "Action,Biography,Drama", "nm0007144", "tt0249371")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rape Me", 4.5, 16130, 2000, 77, "Crime,Drama,Thriller", "nm0221591", "tt0249380")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Billy Elliot", 7.7, 117259, 2000, 110, "Drama,Music", "nm0197636", "tt0249462")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hours", 7.5, 118086, 2002, 110, "Drama,Romance", "nm0197636", "tt0274558")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Extremely Loud & Incredibly Close", 6.9, 93934, 2011, 129, "Adventure,Drama,Mystery", "nm0197636", "tt0477302")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Reader", 7.6, 220016, 2008, 124, "Drama,Romance", "nm0197636", "tt0976051")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Trash", 7.2, 18948, 2014, 114, "Adventure,Crime,Drama", "nm0197636", "tt1921149")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Asterix and Obelix Meet Cleopatra", 6.6, 45515, 2002, 107, "Adventure,Comedy,Family", "nm0149260", "tt0250223")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("RRRrrrr!!!", 5.8, 12240, 2004, 94, "Adventure,Comedy,Crime", "nm0149260", "tt0357111")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crazy/Beautiful", 6.5, 23140, 2001, 99, "Drama,Romance", "nm0007082", "tt0250224")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blue Crush", 5.6, 28805, 2002, 104, "Drama,Romance,Sport", "nm0007082", "tt0300532")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Into the Blue", 5.8, 70821, 2005, 110, "Action,Adventure,Crime", "nm0007082", "tt0378109")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Turistas", 5.4, 34571, 2006, 93, "Horror,Mystery,Thriller", "nm0007082", "tt0454970")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In the Blood", 5.7, 10653, 2014, 108, "Action,Crime,Thriller", "nm0007082", "tt2101570")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Experiment", 7.7, 87693, 2001, 120, "Drama,Thriller", "nm0386570", "tt0250258")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Downfall", 8.2, 310376, 2004, 156, "Biography,Drama,History", "nm0386570", "tt0363163")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Invasion", 5.9, 71878, 2007, 99, "Sci-Fi,Thriller", "nm0386570", "tt0427392")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Five Minutes of Heaven", 6.6, 11802, 2009, 89, "Drama,Thriller", "nm0386570", "tt1238291")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Diana", 5.5, 17883, 2013, 113, "Biography,Drama,Romance", "nm0386570", "tt1758595")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Corky Romano", 4.7, 11975, 2001, 86, "Comedy,Crime", "nm0698125", "tt0250310")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Deep End", 6.5, 10626, 2001, 101, "Crime,Drama,Mystery", "nm0796915", "tt0250323")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Legally Blonde", 6.2, 169174, 2001, 96, "Comedy,Romance", "nm0525659", "tt0250494")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Win a Date with Tad Hamilton!", 5.6, 25532, 2004, 95, "Comedy,Romance", "nm0525659", "tt0335559")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monster-in-Law", 5.5, 53080, 2005, 101, "Comedy,Romance", "nm0525659", "tt0369735")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("21", 6.8, 216161, 2008, 123, "Crime,Drama,History", "nm0525659", "tt0478087")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Killers", 5.4, 83154, 2010, 100, "Action,Comedy,Romance", "nm0525659", "tt1103153")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ugly Truth", 6.4, 192737, 2009, 96, "Comedy,Romance", "nm0525659", "tt1142988")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paranoia", 5.7, 33460, 2013, 106, "Drama,Thriller", "nm0525659", "tt1413495")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("John Q", 7.1, 116710, 2002, 116, "Crime,Drama,Thriller", "nm0001024", "tt0251160")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Notebook", 7.8, 483614, 2004, 123, "Drama,Romance", "nm0001024", "tt0332280")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alpha Dog", 6.9, 95839, 2006, 118, "Biography,Crime,Drama", "nm0001024", "tt0426883")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Sister's Keeper", 7.4, 85834, 2009, 109, "Drama,Family", "nm0001024", "tt1078588")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Other Woman", 6.0, 124447, 2014, 109, "Comedy,Romance", "nm0001024", "tt2203939")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Trigun", 8.3, 17782, 1998, 24, "Action,Animation,Comedy", "nm0632763", "tt0251439")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("House of 1000 Corpses", 6.1, 70983, 2003, 89, "Horror", "nm0957772", "tt0251736")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Halloween", 6.1, 103728, 2007, 109, "Horror", "nm0957772", "tt0373883")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Devil's Rejects", 6.8, 87638, 2005, 107, "Horror", "nm0957772", "tt0395584")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Halloween II", 4.9, 45430, 2009, 105, "Horror", "nm0957772", "tt1311067")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lords of Salem", 5.1, 25716, 2012, 101, "Horror,Thriller", "nm0957772", "tt1731697")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("31", 5.1, 15967, 2016, 102, "Horror,Thriller", "nm0957772", "tt3835080")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Buffalo Soldiers", 6.8, 22423, 2001, 98, "Comedy,Crime,Drama", "nm0429964", "tt0252299")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ned Kelly", 6.5, 24497, 2003, 110, "Action,Adventure,Biography", "nm0429964", "tt0277941")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Informers", 5.0, 15487, 2008, 98, "Crime,Drama,Thriller", "nm0429964", "tt0865554")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Unthinkable", 7.1, 80757, 2010, 97, "Crime,Drama,Thriller", "nm0429964", "tt0914863")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Chaos Class", 9.4, 34313, 1975, 87, "Comedy,Drama", "nm0251027", "tt0252487")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Chaos Class Failed the Class", 9.0, 19924, 1976, 91, "Comedy", "nm0251027", "tt0252488")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Chaos Class Is on Vacation", 8.7, 14991, 1977, 97, "Adventure,Comedy,Drama", "nm0251027", "tt0252489")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Chaos Class Is Waking Up", 8.8, 16586, 1977, 94, "Comedy", "nm0251027", "tt0252490")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Saban, Son of Saban", 8.8, 14717, 1977, 90, "Comedy,Crime,Mystery", "nm0251027", "tt0253614")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Foster Brothers", 8.9, 17001, 1976, 80, "Comedy,Family,Mystery", "nm0251027", "tt0253779")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Feyzo, the Polite One", 8.7, 13084, 1978, 83, "Comedy,Romance", "nm0947998", "tt0252597")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Girl with the Red Scarf", 8.7, 13577, 1977, 90, "Drama,Romance", "nm0947998", "tt0263975")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Out Cold", 6.3, 16154, 2001, 89, "Comedy,Sport", "nm0540139", "tt0253798")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tosun Pasa", 9.0, 19499, 1976, 90, "Comedy,History", "nm0862605", "tt0253828")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Turks in Space", 1.7, 15239, 2006, 110, "Action,Comedy,Sci-Fi", "nm0862605", "tt0808240")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The King of the Street Cleaners", 8.6, 16743, 1977, 80, "Comedy,Romance", "nm0006703", "tt0253997")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Isle", 7.0, 11814, 2000, 90, "Drama,Thriller", "nm1104118", "tt0255589")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spring, Summer, Fall, Winter... and Spring", 8.0, 72085, 2003, 103, "Drama,Romance", "nm1104118", "tt0374546")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Samaritan Girl", 7.1, 12500, 2004, 95, "Drama", "nm1104118", "tt0397619")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("3-Iron", 8.0, 45627, 2004, 88, "Crime,Drama,Romance", "nm1104118", "tt0423866")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bow", 7.2, 10084, 2005, 90, "Drama,Romance", "nm1104118", "tt0456470")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Time", 7.2, 11219, 2006, 97, "Drama,Mystery,Romance", "nm1104118", "tt0497986")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pieta", 7.2, 11750, 2012, 103, "Crime,Drama", "nm1104118", "tt2299842")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Animal", 4.8, 54350, 2001, 84, "Comedy,Sci-Fi", "nm0339004", "tt0255798")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Girl Next Door", 6.7, 192445, 2004, 109, "Comedy,Drama,Romance", "nm0339004", "tt0265208")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Something Borrowed", 5.9, 54948, 2011, 112, "Comedy,Drama,Romance", "nm0339004", "tt0491152")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Let's Be Cops", 6.4, 122711, 2014, 104, "Action,Comedy,Crime", "nm0339004", "tt1924435")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("S.W.A.T.", 6.0, 132642, 2003, 117, "Action,Adventure,Crime", "nm0424800", "tt0257076")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sentinel", 6.1, 46214, 2006, 108, "Action,Crime,Thriller", "nm0424800", "tt0443632")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pootie Tang", 5.3, 12940, 2001, 81, "Action,Adventure,Comedy", "nm0127373", "tt0258038")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Horace and Pete", 8.6, 13420, 2016, 67, "Comedy,Drama", "nm0127373", "tt5425186")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bubble Boy", 5.6, 28773, 2001, 84, "Adventure,Comedy,Romance", "nm0370912", "tt0258470")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lammbock", 7.3, 10246, 2001, 93, "Comedy", "nm0959255", "tt0258760")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jackie Chan Adventures", 7.3, 16626, 2000, 30, "Action,Adventure,Animation", "nm0075331", "tt0259141")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Green Lantern: Emerald Knights", 6.8, 11398, 2011, 84, "Action,Adventure,Animation", "nm0075331", "tt1683043")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lantana", 7.2, 17758, 2001, 121, "Drama,Mystery,Romance", "nm0492979", "tt0259393")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tremors 3: Back to Perfection", 5.3, 14863, 2001, 104, "Action,Comedy,Horror", "nm0534681", "tt0259685")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Joint Security Area", 7.8, 23903, 2000, 110, "Action,Drama,Thriller", "nm0661791", "tt0260991")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sympathy for Mr. Vengeance", 7.6, 56993, 2002, 129, "Action,Drama,Thriller", "nm0661791", "tt0310775")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Oldboy", 8.4, 468468, 2003, 120, "Action,Drama,Mystery", "nm0661791", "tt0364569")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lady Vengeance", 7.6, 65577, 2005, 115, "Crime,Drama,Thriller", "nm0661791", "tt0451094")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I'm a Cyborg, But That's OK", 7.1, 21545, 2006, 105, "Comedy,Drama,Romance", "nm0661791", "tt0497137")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thirst", 7.1, 38621, 2009, 135, "Drama,Horror,Romance", "nm0661791", "tt0762073")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stoker", 6.8, 98391, 2013, 99, "Drama,Thriller", "nm0661791", "tt1682180")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Handmaiden", 8.1, 84259, 2016, 145, "Drama,Romance,Thriller", "nm0661791", "tt4016934")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Session 9", 6.4, 50221, 2001, 100, "Horror,Mystery", "nm0026442", "tt0261983")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Machinist", 7.7, 333979, 2004, 101, "Drama,Thriller", "nm0026442", "tt0361862")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Transsiberian", 6.7, 48267, 2008, 111, "Crime,Drama,Mystery", "nm0026442", "tt0800241")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vanishing on 7th Street", 4.9, 24113, 2010, 92, "Horror,Mystery,Thriller", "nm0026442", "tt1452628")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stonehearst Asylum", 6.8, 46981, 2014, 112, "Drama,Horror,Thriller", "nm0026442", "tt1772264")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Call", 6.7, 105296, 2013, 94, "Crime,Drama,Horror", "nm0026442", "tt1911644")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Forever", 8.3, 50017, 2014, 43, "Crime,Drama,Fantasy", "nm0026442", "tt3487382")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beirut", 6.4, 15864, 2018, 109, "Drama,Thriller", "nm0026442", "tt4669264")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Night at the Museum: Battle of the Smithsonian", 6.0, 163810, 2009, 105, "Adventure,Comedy,Family", "nm0506613", "tt1078912")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Date Night", 6.3, 146167, 2010, 88, "Comedy,Crime,Romance", "nm0506613", "tt1279935")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("This Is Where I Leave You", 6.6, 66235, 2014, 103, "Comedy,Drama", "nm0506613", "tt1371150")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Internship", 6.3, 181609, 2013, 119, "Comedy", "nm0506613", "tt2234155")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Night at the Museum: Secret of the Tomb", 6.2, 95609, 2014, 98, "Adventure,Comedy,Family", "nm0506613", "tt2692250")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stranger Things", 8.8, 664661, 2016, 51, "Drama,Fantasy,Horror", "nm0506613", "tt4574334")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chapter Four: The Body", 9.0, 15004, 2016, 49, "Drama,Fantasy,Horror", "nm0506613", "tt4593124")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chapter Three: Holly, Jolly", 8.9, 15298, 2016, 51, "Drama,Fantasy,Horror", "nm0506613", "tt4593126")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chapter Three: The Pollywog", 8.7, 12231, 2017, 51, "Drama,Fantasy,Horror", "nm0506613", "tt6020796")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chapter Four: Will the Wise", 8.7, 12035, 2017, 46, "Drama,Fantasy,Horror", "nm0506613", "tt6020802")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chapter Three: The Case of the Missing Lifeguard", 8.4, 11690, 2019, 49, "Drama,Fantasy,Horror", "nm0506613", "tt7911866")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chapter Four: The Sauna Test", 9.0, 12529, 2019, 52, "Drama,Fantasy,Horror", "nm0506613", "tt7911884")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("One Hour Photo", 6.8, 109199, 2002, 96, "Drama,Thriller", "nm0738796", "tt0265459")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Never Let Me Go", 7.1, 131416, 2010, 103, "Drama,Romance,Sci-Fi", "nm0738796", "tt1334260")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Rookie", 6.9, 30301, 2002, 127, "Drama,Family,Sport", "nm0359387", "tt0265662")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Alamo", 6.0, 18790, 2004, 137, "Drama,History,War", "nm0359387", "tt0318974")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Blind Side", 7.6, 271675, 2009, 129, "Biography,Drama,Sport", "nm0359387", "tt0878804")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Highwaymen", 6.9, 53147, 2019, 132, "Biography,Crime,Drama", "nm0359387", "tt1860242")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Saving Mr. Banks", 7.5, 142980, 2013, 125, "Biography,Comedy,Drama", "nm0359387", "tt2140373")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Founder", 7.2, 102223, 2016, 115, "Biography,Drama,History", "nm0359387", "tt4276820")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Battle Royale", 7.6, 160884, 2000, 114, "Adventure,Drama,Sci-Fi", "nm0297935", "tt0266308")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Conspiracy", 7.7, 17004, 2001, 96, "Biography,Drama,History", "nm0682757", "tt0266425")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Finding Nemo", 8.1, 883930, 2003, 100, "Adventure,Animation,Comedy", "nm0881279", "tt0266543")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Toy Story 3", 8.3, 701706, 2010, 103, "Adventure,Animation,Comedy", "nm0881279", "tt0435761")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Yamakasi", 6.2, 10600, 2001, 90, "Action,Crime,Drama", "nm0954437", "tt0267129")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ringer", 5.8, 33933, 2005, 94, "Comedy,Sport", "nm0087904", "tt0267891")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ice Age", 7.5, 410217, 2002, 81, "Adventure,Animation,Comedy", "nm0917188", "tt0268380")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Robots", 6.3, 124307, 2005, 91, "Adventure,Animation,Comedy", "nm0917188", "tt0358082")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Epic", 6.7, 96165, 2013, 102, "Adventure,Animation,Family", "nm0917188", "tt0848537")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monster Trucks", 5.6, 13961, 2016, 104, "Action,Adventure,Comedy", "nm0917188", "tt3095734")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jimmy Neutron: Boy Genius", 6.0, 28625, 2001, 82, "Action,Adventure,Animation", "nm0204884", "tt0268397")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ant Bully", 5.8, 35043, 2006, 88, "Adventure,Animation,Comedy", "nm0204884", "tt0429589")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jalla! Jalla!", 6.7, 12405, 2000, 88, "Comedy,Drama,Romance", "nm0267244", "tt0269389")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kopps", 6.7, 18195, 2003, 90, "Action,Comedy", "nm0267244", "tt0339230")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vizontele", 8.0, 29380, 2001, 110, "Comedy,Drama", "nm0258784", "tt0270053")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vizontele Tuuba", 6.5, 12813, 2003, 111, "Comedy,Drama", "nm0258784", "tt0399854")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Magic Carpet Ride", 7.4, 26911, 2005, 106, "Comedy,Drama", "nm0258784", "tt0470883")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Butterfly's Dream", 7.8, 17472, 2013, 138, "Biography,Drama,History", "nm0258784", "tt2608224")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Confessions of a Dangerous Mind", 7.0, 79832, 2002, 113, "Biography,Comedy,Crime", "nm0000123", "tt0270288")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Leatherheads", 6.0, 30097, 2008, 114, "Comedy,Drama,Romance", "nm0000123", "tt0379865")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Good Night, and Good Luck.", 7.4, 90975, 2005, 93, "Biography,Drama,History", "nm0000123", "tt0433383")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Suburbicon", 5.6, 33276, 2017, 105, "Comedy,Crime,Drama", "nm0000123", "tt0491175")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ides of March", 7.1, 208687, 2011, 101, "Drama,Thriller", "nm0000123", "tt1124035")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Monuments Men", 6.1, 118827, 2014, 118, "Comedy,Drama,History", "nm0000123", "tt2177771")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kiss of the Dragon", 6.6, 58515, 2001, 98, "Action,Crime,Drama", "nm0619599", "tt0271027")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Empire of the Wolves", 5.9, 10698, 2005, 128, "Action,Crime,Drama", "nm0619599", "tt0402158")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blood: The Last Vampire", 5.3, 14106, 2009, 91, "Action,Horror,Thriller", "nm0619599", "tt0806027")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Welcome to Collinwood", 6.4, 13697, 2002, 86, "Comedy,Crime", "nm0751577", "tt0271259")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Captain America: The Winter Soldier", 7.8, 682642, 2014, 136, "Action,Adventure,Sci-Fi", "nm0751577", "tt1843866")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Captain America: Civil War", 7.8, 603035, 2016, 147, "Action,Adventure,Sci-Fi", "nm0751577", "tt3498820")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Avengers: Infinity War", 8.5, 712396, 2018, 149, "Action,Adventure,Sci-Fi", "nm0751577", "tt4154756")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Avengers: Endgame", 8.6, 570269, 2019, 181, "Action,Adventure,Sci-Fi", "nm0751577", "tt4154796")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eight Crazy Nights", 5.4, 20513, 2002, 76, "Animation,Comedy,Musical", "nm0444054", "tt0271263")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eight Legged Freaks", 5.4, 50461, 2002, 99, "Action,Adventure,Comedy", "nm0253819", "tt0271367")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Accidental Spy", 5.8, 15419, 2001, 108, "Action,Comedy,Crime", "nm0151125", "tt0271946")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Narc", 7.1, 37084, 2002, 105, "Crime,Drama,Mystery", "nm0138620", "tt0272207")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The A-Team", 6.7, 237578, 2010, 117, "Action,Adventure,Thriller", "nm0138620", "tt0429493")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Smokin' Aces", 6.7, 132434, 2006, 109, "Action,Crime,Drama", "nm0138620", "tt0475394")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Grey", 6.8, 230938, 2011, 117, "Action,Adventure,Drama", "nm0138620", "tt1601913")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stretch", 6.5, 27598, 2014, 94, "Comedy,Crime", "nm0138620", "tt2494280")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lizzie McGuire", 6.5, 16099, 2001, 30, "Comedy,Drama,Family", "nm0271095", "tt0273366")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Darkness", 5.5, 18215, 2002, 88, "Horror", "nm0049371", "tt0273517")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fragile", 6.1, 14957, 2005, 101, "Horror,Mystery,Thriller", "nm0049371", "tt0422272")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("REC", 7.4, 155470, 2007, 78, "Action,Horror,Mystery", "nm0049371", "tt1038988")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sleep Tight", 7.2, 34449, 2011, 102, "Drama,Horror,Thriller", "nm0049371", "tt1437358")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("[REC] 4: Apocalypse", 5.3, 14693, 2014, 95, "Action,Adventure,Horror", "nm0049371", "tt1649443")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Wife and Kids", 6.8, 24117, 2001, 30, "Comedy,Family", "nm0927042", "tt0273855")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("8 Simple Rules", 7.0, 22890, 2002, 30, "Comedy,Drama", "nm0927042", "tt0312081")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Two and a Half Men", 7.0, 228953, 2003, 22, "Comedy,Romance", "nm0927042", "tt0369179")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mom", 7.2, 24817, 2013, 30, "Comedy,Drama,Romance", "nm0927042", "tt2660806")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Read My Lips", 7.4, 12719, 2001, 115, "Crime,Drama,Romance", "nm0002191", "tt0274117")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Beat That My Heart Skipped", 7.3, 17917, 2005, 108, "Crime,Drama,Music", "nm0002191", "tt0411270")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Prophet", 7.9, 88915, 2009, 155, "Crime,Drama", "nm0002191", "tt1235166")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rust and Bone", 7.5, 59662, 2012, 120, "Drama,Romance", "nm0002191", "tt2053425")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dheepan", 7.2, 12643, 2015, 115, "Crime,Drama", "nm0002191", "tt4082068")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sisters Brothers", 7.0, 38174, 2018, 122, "Comedy,Crime,Drama", "nm0002191", "tt4971344")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("24 Hour Party People", 7.3, 30819, 2002, 117, "Biography,Comedy,Drama", "nm0935863", "tt0274309")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Code 46", 6.2, 19424, 2003, 93, "Drama,Romance,Sci-Fi", "nm0935863", "tt0345061")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("9 Songs", 4.8, 20541, 2004, 71, "Drama,Music,Romance", "nm0935863", "tt0411705")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tristram Shandy: A Cock and Bull Story", 6.7, 12023, 2005, 94, "Comedy", "nm0935863", "tt0423409")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Mighty Heart", 6.6, 25939, 2007, 108, "Biography,Drama,History", "nm0935863", "tt0829459")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Killer Inside Me", 6.1, 31987, 2010, 109, "Crime,Drama,Horror", "nm0935863", "tt0954947")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Trip", 7.0, 20253, 2010, 112, "Comedy,Drama", "nm0935863", "tt1740047")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Trip to Italy", 6.6, 13819, 2014, 108, "Comedy,Drama", "nm0935863", "tt2967006")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hellraiser: Hellseeker", 5.0, 10410, 2002, 89, "Horror,Mystery,Thriller", "nm0098400", "tt0274546")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("People I Know", 5.5, 10689, 2002, 100, "Crime,Drama", "nm0019341", "tt0274711")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Secretary", 7.0, 78129, 2002, 107, "Comedy,Drama,Romance", "nm0787601", "tt0274812")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fur: An Imaginary Portrait of Diane Arbus", 6.5, 14702, 2006, 122, "Biography,Drama,Romance", "nm0787601", "tt0422295")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Warrior", 7.2, 10470, 2001, 158, "Action,Drama,History", "nm1226290", "tt0275083")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Law & Order: Criminal Intent", 7.3, 21277, 2001, 60, "Crime,Drama,Mystery", "nm0697910", "tt0275140")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blood: The Last Vampire", 6.7, 11481, 2000, 48, "Action,Animation,Horror", "nm0457541", "tt0275230")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dogtown and Z-Boys", 7.7, 11524, 2001, 91, "Documentary,Sport", "nm0672769", "tt0275309")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Versus", 6.4, 12036, 2000, 119, "Action,Comedy,Drama", "nm0457565", "tt0275773")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Azumi", 6.8, 13934, 2003, 128, "Action,Adventure,Drama", "nm0457565", "tt0384819")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Midnight Meat Train", 6.1, 56315, 2008, 98, "Horror,Mystery", "nm0457565", "tt0805570")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Undercover Brother", 5.8, 32266, 2002, 86, "Action,Comedy", "nm0002700", "tt0279493")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Welcome Home, Roscoe Jenkins", 5.5, 12719, 2008, 114, "Comedy,Romance", "nm0002700", "tt0494652")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scary Movie 5", 3.5, 61225, 2013, 86, "Comedy", "nm0002700", "tt0795461")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Soul Men", 6.4, 10066, 2008, 100, "Comedy,Drama,Music", "nm0002700", "tt1111948")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Best Man Holiday", 6.7, 14098, 2013, 123, "Comedy,Drama", "nm0002700", "tt2083355")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Girls Trip", 6.2, 30564, 2017, 122, "Adventure,Comedy,Drama", "nm0002700", "tt3564472")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Barbershop: The Next Cut", 5.9, 13504, 2016, 111, "Comedy,Drama", "nm0002700", "tt3628584")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Night School", 5.6, 27191, 2018, 111, "Comedy", "nm0002700", "tt6781982")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Smallville", 7.4, 110352, 2001, 60, "Adventure,Drama,Romance", "nm0003447", "tt0279600")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Divine Secrets of the Ya-Ya Sisterhood", 6.1, 17422, 2002, 116, "Drama", "nm0451884", "tt0279778")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mad Money", 5.8, 19435, 2008, 104, "Comedy,Crime,Thriller", "nm0451884", "tt0951216")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nashville", 7.7, 22014, 2012, 43, "Drama,Music,Romance", "nm0451884", "tt2281375")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sorority Boys", 5.5, 13294, 2002, 93, "Comedy", "nm0938645", "tt0279781")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mulan 2: The Final War", 5.7, 19588, 2004, 79, "Action,Animation,Comedy", "nm0740311", "tt0279967")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Peter Pan 2: Return to Never Land", 5.8, 16909, 2002, 72, "Adventure,Animation,Family", "nm1180460", "tt0280030")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Banger Sisters", 5.6, 13934, 2002, 98, "Comedy,Drama", "nm0231190", "tt0280460")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bloody Sunday", 7.6, 22259, 2002, 107, "Drama,History,War", "nm0339030", "tt0280491")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bourne Supremacy", 7.7, 411943, 2004, 108, "Action,Mystery,Thriller", "nm0339030", "tt0372183")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bourne Ultimatum", 8.0, 583730, 2007, 115, "Action,Mystery,Thriller", "nm0339030", "tt0440963")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("United 93", 7.5, 93787, 2006, 111, "Drama,History,Thriller", "nm0339030", "tt0475276")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Green Zone", 6.8, 123043, 2010, 115, "Action,Drama,Thriller", "nm0339030", "tt0947810")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Captain Phillips", 7.8, 393039, 2013, 134, "Biography,Drama,Thriller", "nm0339030", "tt1535109")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jason Bourne", 6.6, 193783, 2016, 123, "Action,Thriller", "nm0339030", "tt4196776")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("22 July", 6.7, 21408, 2018, 143, "Crime,Drama,History", "nm0339030", "tt7280898")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dog Soldiers", 6.8, 52278, 2002, 105, "Action,Horror,Thriller", "nm0551076", "tt0280609")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Descent", 7.2, 187613, 2005, 99, "Adventure,Horror,Thriller", "nm0551076", "tt0435625")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Doomsday", 6.0, 69799, 2008, 108, "Action,Sci-Fi,Thriller", "nm0551076", "tt0483607")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Centurion", 6.4, 74767, 2010, 97, "Action,Drama,History", "nm0551076", "tt1020558")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blackwater", 9.7, 38608, 2012, 55, "Action,Adventure,Drama", "nm0551076", "tt2084342")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hellboy", 5.2, 53070, 2019, 120, "Action,Adventure,Fantasy", "nm0551076", "tt2274648")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Watchers on the Wall", 9.6, 37707, 2014, 51, "Action,Adventure,Drama", "nm0551076", "tt3060858")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Stray", 8.3, 12621, 2016, 59, "Drama,Mystery,Sci-Fi", "nm0551076", "tt4625856")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Guru", 5.3, 14477, 2002, 94, "Comedy,Music,Romance", "nm0902939", "tt0280720")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Igby Goes Down", 6.9, 31098, 2002, 98, "Comedy,Drama", "nm0824882", "tt0280760")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("17 Again", 6.3, 169509, 2009, 102, "Comedy,Drama,Fantasy", "nm0824882", "tt0974661")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pride and Prejudice and Zombies", 5.8, 47253, 2016, 108, "Action,Comedy,Fantasy", "nm0824882", "tt1374989")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Charlie St. Cloud", 6.4, 55651, 2010, 99, "Drama,Fantasy,Romance", "nm0824882", "tt1438254")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Iris", 7.0, 16302, 2001, 91, "Biography,Drama,Romance", "nm0264236", "tt0280778")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Notes on a Scandal", 7.4, 71752, 2006, 92, "Crime,Drama,Romance", "nm0264236", "tt0465551")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Other Man", 5.4, 10676, 2008, 88, "Drama,Mystery,Thriller", "nm0264236", "tt0974613")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Little Eye", 5.5, 11335, 2002, 95, "Horror,Mystery,Thriller", "nm0263009", "tt0280969")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Snow Cake", 7.5, 11903, 2006, 112, "Drama,Romance", "nm0263009", "tt0448124")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wild Thornberrys Movie", 5.6, 13557, 2002, 85, "Adventure,Animation,Comedy", "nm0539782", "tt0282120")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Darkness Falls", 5.0, 29048, 2003, 86, "Fantasy,Horror,Mystery", "nm0509448", "tt0282209")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Texas Chainsaw Massacre: The Beginning", 5.8, 64936, 2006, 91, "Horror,Thriller", "nm0509448", "tt0420294")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Killing Room", 5.7, 13104, 2009, 93, "Mystery,Thriller", "nm0509448", "tt1119191")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Battle Los Angeles", 5.7, 168269, 2011, 116, "Action,Adventure,Fantasy", "nm0509448", "tt1217613")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Teenage Mutant Ninja Turtles", 5.8, 193769, 2014, 101, "Action,Adventure,Comedy", "nm0509448", "tt1291150")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wrath of the Titans", 5.7, 174330, 2012, 99, "Action,Adventure,Fantasy", "nm0509448", "tt1646987")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spun", 6.8, 35557, 2002, 101, "Comedy,Crime,Drama", "nm0959774", "tt0283003")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Horsemen", 5.6, 20783, 2009, 90, "Crime,Drama,Mystery", "nm0959774", "tt0892767")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Polar", 6.3, 60689, 2019, 118, "Action,Crime,Drama", "nm0959774", "tt4139588")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Swimfan", 5.1, 18261, 2002, 85, "Drama,Thriller", "nm0689852", "tt0283026")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hide and Seek", 6.0, 78668, 2005, 101, "Drama,Horror,Mystery", "nm0689852", "tt0382077")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Elementary", 7.9, 96086, 2012, 60, "Crime,Drama,Mystery", "nm0689852", "tt2191671")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Van Wilder", 6.4, 99349, 2002, 92, "Comedy,Romance", "nm0065608", "tt0283111")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wild Hogs", 5.8, 110134, 2007, 100, "Action,Adventure,Comedy", "nm0065608", "tt0486946")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Old Dogs", 5.4, 34822, 2009, 88, "Comedy,Family", "nm0065608", "tt0976238")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alvin and the Chipmunks: The Road Chip", 5.0, 14957, 2015, 92, "Adventure,Animation,Comedy", "nm0065608", "tt2974918")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Jungle Book 2", 5.4, 13959, 2003, 72, "Adventure,Animation,Family", "nm0872045", "tt0283426")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("No Man's Land", 7.9, 42513, 2001, 98, "Drama,War", "nm0849786", "tt0283509")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("8 Women", 7.1, 27360, 2002, 111, "Comedy,Crime,Musical", "nm0654830", "tt0283832")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Swimming Pool", 6.7, 39894, 2003, 102, "Crime,Drama,Mystery", "nm0654830", "tt0324133")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In the House", 7.4, 27676, 2012, 105, "Drama,Mystery,Thriller", "nm0654830", "tt1964624")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Young & Beautiful", 6.7, 29593, 2013, 95, "Drama,Romance", "nm0654830", "tt2752200")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Frantz", 7.5, 11065, 2016, 113, "Drama,History,Romance", "nm0654830", "tt5029608")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Psycho II: All American Girl", 3.8, 13814, 2002, 88, "Horror,Thriller", "nm0293533", "tt0283877")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("L'auberge espagnole", 7.3, 37945, 2002, 122, "Comedy,Drama,Romance", "nm0458251", "tt0283900")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Russian Dolls", 7.0, 18603, 2005, 125, "Comedy,Drama,Romance", "nm0458251", "tt0409184")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paris", 6.8, 11230, 2008, 130, "Comedy,Drama,Romance", "nm0458251", "tt0869994")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chinese Puzzle", 7.0, 12500, 2013, 117, "Comedy,Drama,Romance", "nm0458251", "tt1937118")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Reba", 6.4, 12410, 2001, 30, "Comedy,Drama", "nm0448579", "tt0284722")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ali G Indahouse", 6.2, 80108, 2002, 85, "Comedy", "nm0617042", "tt0284837")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Big White", 6.4, 13521, 2005, 100, "Comedy,Crime,Drama", "nm0617042", "tt0402850")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What's Your Number?", 6.1, 68816, 2011, 106, "Comedy,Romance", "nm0617042", "tt0770703")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shameless", 8.6, 175075, 2011, 46, "Comedy,Drama", "nm0617042", "tt1586680")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("High Sparrow", 8.5, 21667, 2015, 60, "Action,Adventure,Drama", "nm0617042", "tt3866836")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sons of the Harpy", 8.7, 22272, 2015, 51, "Action,Adventure,Drama", "nm0617042", "tt3866838")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Broken Man", 8.6, 28342, 2016, 51, "Action,Adventure,Drama", "nm0617042", "tt4283060")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("No One", 8.4, 32365, 2016, 59, "Action,Adventure,Drama", "nm0617042", "tt4283074")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stormborn", 8.9, 39055, 2017, 59, "Action,Adventure,Drama", "nm0617042", "tt5655178")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Queen's Justice", 9.2, 40740, 2017, 63, "Action,Adventure,Drama", "nm0617042", "tt5775840")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Succession", 8.1, 11282, 2018, 60, "Drama", "nm0617042", "tt7660850")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Havoc", 5.5, 17581, 2005, 85, "Crime,Drama", "nm0465932", "tt0285175")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("24", 8.3, 164444, 2001, 44, "Action,Crime,Drama", "nm0870306", "tt0285331")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bones", 7.8, 131340, 2005, 40, "Comedy,Crime,Drama", "nm0870306", "tt0460627")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Designated Survivor", 7.6, 65593, 2016, 60, "Action,Drama,Mystery", "nm0870306", "tt5296406")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Amazing Race", 7.6, 12895, 2001, 60, "Adventure,Family,Game-Show", "nm0887536", "tt0285335")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scrubs", 8.3, 226059, 2001, 22, "Comedy,Drama", "nm2202596", "tt0285403")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Boat Trip", 4.9, 29272, 2002, 94, "Comedy", "nm0622240", "tt0285462")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Van Wilder 2: The Rise of Taj", 4.9, 21500, 2006, 97, "Comedy,Romance", "nm0622240", "tt0480271")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cube²: Hypercube", 5.6, 59101, 2002, 94, "Drama,Mystery,Sci-Fi", "nm0782900", "tt0285492")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monster's Ball", 7.0, 79322, 2001, 111, "Drama,Romance", "nm0286975", "tt0285742")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Finding Neverland", 7.7, 192105, 2004, 106, "Biography,Drama,Family", "nm0286975", "tt0308644")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stay", 6.8, 70917, 2005, 99, "Drama,Mystery,Thriller", "nm0286975", "tt0371257")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Kite Runner", 7.6, 74966, 2007, 128, "Drama", "nm0286975", "tt0419887")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stranger Than Fiction", 7.6, 209392, 2006, 113, "Comedy,Drama,Fantasy", "nm0286975", "tt0420223")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mist", 5.4, 19259, 2017, 42, "Drama,Horror,Sci-Fi", "nm0272704", "tt5639976")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bend It Like Beckham", 6.6, 100152, 2002, 112, "Comedy,Drama,Romance", "nm0149446", "tt0286499")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bride & Prejudice", 6.1, 19183, 2004, 122, "Comedy,Drama,Musical", "nm0149446", "tt0361411")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Angus, Thongs and Perfect Snogging", 6.3, 24199, 2008, 100, "Comedy,Drama,Romance", "nm0149446", "tt0963743")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pulse", 6.5, 14868, 2001, 119, "Horror,Mystery,Sci-Fi", "nm0475905", "tt0286751")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Children of Dune", 7.5, 11290, 2003, 266, "Adventure,Drama,Fantasy", "nm0944981", "tt0287839")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lost", 8.3, 463138, 2004, 44, "Adventure,Drama,Fantasy", "nm0944981", "tt0411008")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("House", 8.7, 384221, 2004, 44, "Drama,Mystery", "nm0944981", "tt0412142")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Quarry", 8.1, 10292, 2016, 60, "Crime,Drama,Thriller", "nm0944981", "tt2980696")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Manhunt: Unabomber", 8.1, 39389, 2017, 60, "Crime,Drama", "nm0944981", "tt5618256")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Degrassi: The Next Generation", 7.3, 10282, 2001, 30, "Drama,Romance", "nm0512052", "tt0288937")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Young Adam", 6.4, 12769, 2003, 98, "Crime,Drama", "nm0533284", "tt0289635")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hallam Foe", 7.0, 11898, 2007, 95, "Drama,Mystery,Romance", "nm0533284", "tt0466816")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spread", 5.9, 36792, 2009, 97, "Comedy,Drama,Romance", "nm0533284", "tt1186370")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Perfect Sense", 7.1, 51817, 2011, 92, "Drama,Romance,Sci-Fi", "nm0533284", "tt1439572")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Starred Up", 7.4, 40071, 2013, 106, "Crime,Drama", "nm0533284", "tt2567712")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hell or High Water", 7.6, 181517, 2016, 102, "Action,Crime,Drama", "nm0533284", "tt2582782")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Outlaw King", 6.9, 48009, 2018, 121, "Action,Biography,Drama", "nm0533284", "tt6679794")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Butterfly Effect", 7.6, 426911, 2004, 113, "Drama,Sci-Fi,Thriller", "nm0107774", "tt0289879")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Tuxedo", 5.4, 74303, 2002, 98, "Action,Comedy,Sci-Fi", "nm1019493", "tt0290095")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Inuyasha", 7.9, 13314, 2000, 24, "Action,Adventure,Animation", "nm0031835", "tt0290223")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Office", 8.5, 88870, 2001, 30, "Comedy,Drama", "nm0315041", "tt0290978")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Extras", 8.3, 49289, 2005, 30, "Comedy,Drama", "nm0315041", "tt0445114")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Invention of Lying", 6.3, 108510, 2009, 100, "Comedy,Fantasy,Romance", "nm0315041", "tt1058017")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cemetery Junction", 6.9, 19228, 2010, 95, "Comedy,Drama", "nm0315041", "tt1196204")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Life's Too Short", 7.5, 13607, 2011, 30, "Comedy", "nm0315041", "tt1641247")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Derek", 8.0, 23730, 2012, 23, "Comedy,Drama", "nm0315041", "tt2616280")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("David Brent: Life on the Road", 6.3, 16265, 2016, 96, "Comedy,Music", "nm0315041", "tt3137630")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Special Correspondents", 5.8, 17180, 2016, 101, "Comedy", "nm0315041", "tt4181052")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("After Life", 8.4, 42887, 2019, 30, "Comedy,Drama", "nm0315041", "tt8398600")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Trailer Park Boys", 8.4, 34101, 2001, 30, "Comedy,Crime", "nm0154104", "tt0290988")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Trailer Park Boys: The Movie", 7.2, 11542, 2006, 95, "Comedy,Crime", "nm0154104", "tt0425601")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mean Machine", 6.5, 33748, 2001, 99, "Comedy,Crime,Drama", "nm1032759", "tt0291341")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nayak: The Real Hero", 7.8, 12392, 2001, 187, "Action,Drama,Thriller", "nm0788171", "tt0291376")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Anniyan", 8.2, 12393, 2005, 181, "Action,Drama,Thriller", "nm0788171", "tt0376127")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sivaji", 7.5, 16039, 2007, 188, "Action,Drama,Thriller", "nm0788171", "tt0479751")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Enthiran", 7.1, 23444, 2010, 155, "Action,Sci-Fi", "nm0788171", "tt1305797")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nanban", 7.4, 10629, 2012, 188, "Comedy,Drama", "nm0788171", "tt2180477")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I", 7.3, 17701, 2015, 188, "Action,Drama,Thriller", "nm0788171", "tt2302966")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("2.0", 6.4, 18785, 2018, 148, "Action,Sci-Fi", "nm0788171", "tt5080556")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("He Loves Me... He Loves Me Not", 7.2, 17835, 2002, 92, "Romance,Thriller", "nm0172989", "tt0291579")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dil Chahta Hai", 8.1, 62005, 2001, 183, "Comedy,Drama,Romance", "nm1027719", "tt0292490")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lakshya", 7.9, 18623, 2004, 186, "Action,Drama,Romance", "nm1027719", "tt0323013")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Don", 7.2, 32205, 2006, 171, "Action,Crime,Thriller", "nm1027719", "tt0461936")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Don 2", 7.0, 46979, 2011, 148, "Action,Crime,Thriller", "nm1027719", "tt1285241")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Son of the Bride", 7.8, 13907, 2001, 123, "Comedy,Drama", "nm0002728", "tt0292542")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Secret in Their Eyes", 8.2, 176211, 2009, 129, "Drama,Mystery,Romance", "nm0002728", "tt1305806")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Halt and Catch Fire", 8.4, 25053, 2014, 60, "Drama", "nm0002728", "tt2543312")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Colony", 7.4, 25818, 2016, 42, "Action,Adventure,Drama", "nm0002728", "tt4209256")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Grim Adventures of Billy & Mandy", 7.7, 18547, 2001, 30, "Adventure,Animation,Comedy", "nm0143663", "tt0292800")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Metropolis", 7.2, 19259, 2001, 108, "Adventure,Animation,Drama", "nm0727336", "tt0293416")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Transporter", 6.8, 272508, 2002, 92, "Action,Crime,Thriller", "nm0504642", "tt0293662")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Unleashed", 7.0, 94825, 2005, 103, "Action,Crime,Drama", "nm0504642", "tt0342258")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Transporter 2", 6.3, 182162, 2005, 87, "Action,Thriller", "nm0504642", "tt0388482")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Incredible Hulk", 6.7, 409690, 2008, 112, "Action,Adventure,Sci-Fi", "nm0504642", "tt0800080")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Clash of the Titans", 5.8, 259480, 2010, 106, "Action,Adventure,Fantasy", "nm0504642", "tt0800320")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Now You See Me", 7.3, 560579, 2013, 115, "Crime,Mystery,Thriller", "nm0504642", "tt1670345")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Brothers Grimsby", 6.2, 83973, 2016, 83, "Action,Adventure,Comedy", "nm0504642", "tt3381008")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Dark Crystal: Age of Resistance", 8.7, 12823, 2019, 60, "Adventure,Drama,Family", "nm0504642", "tt6905542")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Sassy Girl", 8.0, 42857, 2001, 123, "Comedy,Drama,Romance", "nm1030706", "tt0293715")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Friday After Next", 5.8, 24116, 2002, 85, "Comedy,Drama", "nm1048560", "tt0293815")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cadet Kelly", 5.5, 12228, 2002, 101, "Comedy,Drama,Family", "nm0789834", "tt0294425")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Master of Disguise", 3.3, 20986, 2002, 80, "Adventure,Comedy,Family", "nm0086690", "tt0295427")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wrong Turn", 6.1, 102568, 2003, 84, "Horror", "nm0003343", "tt0295700")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Blue Planet", 9.0, 29619, 2001, 389, "Documentary", "nm0288144", "tt0296310")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Earth", 8.0, 13911, 2007, 90, "Documentary", "nm0288144", "tt0393597")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Planet Earth", 9.4, 153267, 2006, 538, "Documentary", "nm0288144", "tt0795176")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Half Past Dead", 4.6, 13887, 2002, 98, "Action,Crime,Thriller", "nm0666806", "tt0297162")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Who's Your Caddy?", 2.2, 14356, 2007, 93, "Comedy,Sport", "nm0666806", "tt0785077")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Aqua Teen Hunger Force", 7.6, 21543, 2000, 15, "Animation,Comedy", "nm0932302", "tt0297494")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Whale Rider", 7.5, 37878, 2002, 101, "Drama,Family", "nm0138927", "tt0298228")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("North Country", 7.3, 37623, 2005, 126, "Drama", "nm0138927", "tt0395972")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Zookeeper's Wife", 7.0, 33264, 2017, 127, "Biography,Drama,History", "nm0138927", "tt1730768")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("McFarland, USA", 7.4, 32392, 2015, 129, "Biography,Drama,Sport", "nm0138927", "tt2097298")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Laurel Canyon", 6.4, 15422, 2002, 103, "Drama", "nm0158966", "tt0298408")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Kids Are All Right", 7.0, 121462, 2010, 106, "Comedy,Drama,Romance", "nm0158966", "tt0842926")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Olive Kitteridge", 8.4, 15838, 2014, 239, "Drama", "nm0158966", "tt3012698")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Roger Dodger", 6.9, 16440, 2002, 106, "Comedy,Drama", "nm1071898", "tt0299117")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Get a Job", 5.3, 19498, 2016, 83, "Comedy", "nm1071898", "tt1468846")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Home on the Range", 5.3, 18282, 2004, 76, "Adventure,Animation,Comedy", "nm0998551", "tt0299172")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("All the Real Girls", 6.8, 10010, 2003, 108, "Drama,Romance", "nm0337773", "tt0299458")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Snow Angels", 6.8, 11927, 2007, 107, "Drama,Romance", "nm0337773", "tt0453548")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pineapple Express", 7.0, 298466, 2008, 111, "Action,Comedy,Crime", "nm0337773", "tt0910936")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Our Brand Is Crisis", 6.1, 19332, 2015, 107, "Comedy,Drama", "nm0337773", "tt1018765")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Your Highness", 5.5, 93760, 2011, 102, "Comedy,Fantasy", "nm0337773", "tt1240982")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sitter", 5.7, 66048, 2011, 81, "Comedy", "nm0337773", "tt1366344")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Halloween", 6.6, 97114, 2018, 106, "Horror,Thriller", "nm0337773", "tt1502407")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Prince Avalanche", 6.4, 17948, 2013, 94, "Comedy,Drama", "nm0337773", "tt2195548")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Joe", 6.9, 43365, 2013, 117, "Crime,Drama", "nm0337773", "tt2382396")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stronger", 6.9, 35135, 2017, 119, "Biography,Drama", "nm0337773", "tt3881784")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chicago", 7.1, 203642, 2002, 113, "Comedy,Crime,Musical", "nm0551128", "tt0299658")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Memoirs of a Geisha", 7.4, 132800, 2005, 145, "Drama,Romance", "nm0551128", "tt0397535")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nine", 5.8, 41089, 2009, 118, "Drama,Musical,Romance", "nm0551128", "tt0875034")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pirates of the Caribbean: On Stranger Tides", 6.6, 453915, 2011, 136, "Action,Adventure,Fantasy", "nm0551128", "tt1298650")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Into the Woods", 5.9, 125237, 2014, 125, "Adventure,Comedy,Drama", "nm0551128", "tt2180411")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mary Poppins Returns", 6.8, 61541, 2018, 130, "Comedy,Family,Fantasy", "nm0551128", "tt5028340")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Good Bye Lenin!", 7.7, 130532, 2003, 121, "Comedy,Drama,Romance", "nm0065615", "tt0301357")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Luther", 6.6, 14230, 2003, 123, "Biography,Drama,History", "nm0863254", "tt0309820")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Willard", 6.1, 16882, 2003, 100, "Drama,Horror,Sci-Fi", "nm0604688", "tt0310357")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Christmas", 4.6, 23252, 2006, 84, "Horror", "nm0604688", "tt0454082")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Foyle's War", 8.4, 11606, 2002, 90, "Crime,Drama,Mystery", "nm0797928", "tt0310455")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Man Without a Past", 7.7, 20672, 2002, 97, "Comedy,Drama,Romance", "nm0442454", "tt0311519")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Le Havre", 7.2, 18782, 2011, 93, "Comedy,Drama", "nm0442454", "tt1508675")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pieces of April", 7.0, 19425, 2003, 80, "Comedy,Drama", "nm0373282", "tt0311648")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dan in Real Life", 6.7, 94471, 2007, 98, "Comedy,Drama,Romance", "nm0373282", "tt0480242")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Odd Life of Timothy Green", 6.6, 43165, 2012, 105, "Comedy,Drama,Family", "nm0373282", "tt1462769")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ben Is Back", 6.7, 13061, 2018, 103, "Drama", "nm0373282", "tt7545524")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wallace & Gromit: The Curse of the Were-Rabbit", 7.4, 117573, 2005, 85, "Adventure,Animation,Comedy", "nm0101508", "tt0312004")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Codename: Kids Next Door", 7.2, 14961, 2002, 30, "Action,Adventure,Animation", "nm1146489", "tt0312109")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monk", 7.9, 60162, 2002, 44, "Comedy,Crime,Drama", "nm0957198", "tt0312172")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Cat in the Hat", 3.9, 47279, 2003, 82, "Adventure,Comedy,Family", "nm0919514", "tt0312528")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Suicide Club", 6.6, 17506, 2001, 99, "Crime,Drama,Horror", "nm0814469", "tt0312843")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Love Exposure", 8.1, 10293, 2008, 237, "Action,Comedy,Drama", "nm0814469", "tt1128075")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("CSI: Miami", 6.4, 50343, 2002, 43, "Action,Crime,Drama", "nm0003880", "tt0313043")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Believe", 7.1, 14009, 2014, 43, "Drama,Fantasy,Sci-Fi", "nm0003880", "tt2592094")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scorpion", 7.1, 43697, 2014, 43, "Action,Crime,Drama", "nm0003880", "tt3514324")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Crime of Padre Amaro", 6.7, 12349, 2002, 118, "Drama,Romance", "nm0140196", "tt0313196")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Two Weeks Notice", 6.1, 99518, 2002, 101, "Comedy,Romance", "nm0492909", "tt0313737")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Music and Lyrics", 6.5, 92563, 2007, 96, "Comedy,Music,Romance", "nm0492909", "tt0758766")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Did You Hear About the Morgans?", 4.8, 35413, 2009, 103, "Comedy,Drama,Romance", "nm0492909", "tt1314228")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Rewrite", 6.2, 17080, 2014, 107, "Comedy,Romance", "nm0492909", "tt2509850")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Immortal", 6.0, 19919, 2004, 103, "Action,Animation,Crime", "nm0082094", "tt0314063")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Philanthropy", 8.5, 11835, 2002, 110, "Comedy,Drama", "nm0135952", "tt0314067")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Love Actually", 7.6, 390008, 2003, 135, "Comedy,Drama,Romance", "nm0193485", "tt0314331")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pirate Radio", 7.4, 103362, 2009, 135, "Comedy,Drama,Music", "nm0193485", "tt1131729")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("About Time", 7.8, 271836, 2013, 123, "Comedy,Drama,Fantasy", "nm0193485", "tt2194499")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Life Without Me", 7.5, 23307, 2003, 106, "Drama,Romance", "nm0170043", "tt0314412")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Secret Life of Words", 7.5, 11448, 2005, 115, "Drama,Romance", "nm0170043", "tt0430576")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Elegy", 6.7, 21252, 2008, 112, "Drama,Romance", "nm0170043", "tt0974554")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wazir", 7.1, 15803, 2016, 103, "Action,Crime,Drama", "nm2349060", "tt0315642")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("House of Sand and Fog", 7.5, 62445, 2003, 126, "Crime,Drama", "nm1166926", "tt0315983")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Life Before Her Eyes", 6.4, 13200, 2007, 90, "Drama,Fantasy,Mystery", "nm1166926", "tt0815178")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cars", 7.1, 337232, 2006, 117, "Animation,Comedy,Family", "nm0710020", "tt0317219")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("City of God", 8.6, 655150, 2002, 130, "Crime,Drama", "nm0576987", "tt0317248")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Constant Gardener", 7.4, 126644, 2005, 129, "Drama,Mystery,Romance", "nm0576987", "tt0387131")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blindness", 6.6, 66666, 2008, 121, "Drama,Mystery,Sci-Fi", "nm0576987", "tt0861689")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("360", 6.2, 15220, 2011, 110, "Drama,Thriller", "nm0576987", "tt1680045")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("House of the Dead", 2.0, 34969, 2003, 90, "Action,Adventure,Horror", "nm0093051", "tt0317676")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alone in the Dark", 2.4, 40667, 2005, 96, "Action,Horror,Sci-Fi", "nm0093051", "tt0369226")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("BloodRayne", 2.9, 33096, 2005, 95, "Action,Adventure,Fantasy", "nm0093051", "tt0383222")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Far Cry", 3.1, 12740, 2008, 95, "Action,Adventure,Sci-Fi", "nm0093051", "tt0400426")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In the Name of the King: A Dungeon Siege Tale", 3.8, 42704, 2007, 127, "Action,Adventure,Fantasy", "nm0093051", "tt0460780")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Postal", 4.5, 21723, 2007, 100, "Action,Comedy,Crime", "nm0093051", "tt0486640")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rampage", 6.3, 17422, 2009, 85, "Action,Crime,Thriller", "nm0093051", "tt1337057")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Assault on Wall Street", 6.0, 19418, 2013, 99, "Action,Crime,Thriller", "nm0093051", "tt2368553")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mission: Impossible III", 6.9, 311051, 2006, 126, "Action,Adventure,Thriller", "nm0009190", "tt0317919")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Trek", 7.9, 560276, 2009, 127, "Action,Adventure,Sci-Fi", "nm0009190", "tt0796366")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Trek Into Darkness", 7.7, 448825, 2013, 132, "Action,Adventure,Sci-Fi", "nm0009190", "tt1408101")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Super 8", 7.0, 323192, 2011, 112, "Mystery,Sci-Fi,Thriller", "nm0009190", "tt1650062")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Wars: Episode VII - The Force Awakens", 8.0, 795745, 2015, 138, "Action,Adventure,Sci-Fi", "nm0009190", "tt2488496")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Russian Ark", 7.4, 17540, 2002, 99, "Drama,Fantasy,History", "nm0812546", "tt0318034")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Cooler", 7.0, 31252, 2003, 101, "Drama,Romance", "nm0469694", "tt0318374")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Running Scared", 7.4, 94624, 2006, 122, "Action,Crime,Drama", "nm0469694", "tt0404390")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crossing Over", 6.7, 22002, 2009, 113, "Crime,Drama", "nm0469694", "tt0924129")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pawn Shop Chronicles", 5.9, 10073, 2013, 112, "Action,Comedy,Crime", "nm0469694", "tt1741243")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lion King 3: Hakuna Matata", 6.6, 34044, 2004, 77, "Adventure,Animation,Comedy", "nm0713214", "tt0318403")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tinker Bell", 6.8, 10804, 2008, 78, "Adventure,Animation,Family", "nm0713214", "tt0823671")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Magdalene Sisters", 7.7, 24886, 2002, 114, "Drama", "nm0611932", "tt0318411")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Resident Evil: Apocalypse", 6.2, 177301, 2004, 94, "Action,Horror,Sci-Fi", "nm0936838", "tt0318627")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sahara", 6.0, 87659, 2005, 124, "Action,Adventure,Comedy", "nm0252135", "tt0318649")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Crazies", 6.5, 105628, 2010, 101, "Horror,Thriller", "nm0252135", "tt0455407")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Witch Hunter", 6.0, 87892, 2015, 106, "Action,Adventure,Fantasy", "nm0252135", "tt1618442")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thumbsucker", 6.6, 20144, 2005, 96, "Comedy,Drama", "nm0590122", "tt0318761")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beginners", 7.2, 84489, 2010, 105, "Comedy,Drama,Romance", "nm0590122", "tt1532503")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("20th Century Women", 7.3, 33647, 2016, 119, "Comedy,Drama", "nm0590122", "tt4385888")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Berserk", 8.7, 24664, 1997, 22, "Action,Adventure,Animation", "nm0652951", "tt0318871")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Everwood", 7.4, 11726, 2002, 60, "Drama", "nm0113054", "tt0318883")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mondays in the Sun", 7.6, 12190, 2002, 113, "Comedy,Drama", "nm0508208", "tt0319769")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Perfect Day", 6.8, 18566, 2015, 106, "Comedy,Drama,War", "nm0508208", "tt3577624")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Loving Pablo", 6.3, 14975, 2017, 123, "Action,Biography,Crime", "nm0508208", "tt4682788")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Carnivàle", 8.4, 40808, 2003, 55, "Drama,Fantasy,Mystery", "nm0533744", "tt0319969")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jimmy Kimmel Live!", 6.7, 12716, 2003, 60, "Comedy,Music,Talk-Show", "nm0218039", "tt0320037")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Party Monster", 6.3, 14311, 2003, 98, "Biography,Crime,Drama", "nm0047259", "tt0320244")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Underworld", 7.0, 241972, 2003, 121, "Action,Fantasy,Thriller", "nm0936482", "tt0320691")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Live Free or Die Hard", 7.1, 374374, 2007, 128, "Action,Thriller", "nm0936482", "tt0337978")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Underworld: Evolution", 6.7, 181905, 2006, 106, "Action,Adventure,Fantasy", "nm0936482", "tt0401855")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Total Recall", 6.3, 230751, 2012, 118, "Action,Adventure,Sci-Fi", "nm0936482", "tt1386703")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Adventures of Jimmy Neutron: Boy Genius", 6.7, 15226, 1998, 24, "Adventure,Animation,Comedy", "nm2824265", "tt0320808")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What I Like About You", 6.6, 11942, 2002, 30, "Comedy", "nm0958449", "tt0321018")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Without a Trace", 6.9, 17104, 2002, 60, "Crime,Drama,Mystery", "nm0795288", "tt0321021")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Flash", 7.8, 281881, 2014, 43, "Action,Adventure,Drama", "nm0795288", "tt3107288")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Honey", 5.3, 41416, 2003, 94, "Drama,Music,Romance", "nm0937306", "tt0322589")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beauty Shop", 5.5, 15450, 2005, 105, "Comedy", "nm0937306", "tt0388500")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Loving Annabelle", 6.3, 11189, 2006, 77, "Drama,Romance", "nm0112085", "tt0323120")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shade", 6.3, 11664, 2003, 101, "Crime,Thriller", "nm1195760", "tt0323939")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shattered Glass", 7.1, 31777, 2003, 94, "Drama,History", "nm0712753", "tt0323944")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Breach", 7.0, 56056, 2007, 110, "Biography,Crime,Drama", "nm0712753", "tt0401997")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Secret in Their Eyes", 6.3, 38379, 2015, 111, "Crime,Drama,Mystery", "nm0712753", "tt1741273")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Texas Chainsaw Massacre", 6.2, 124409, 2003, 98, "Horror", "nm1197971", "tt0324216")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pathfinder", 5.4, 41155, 2007, 99, "Action,Adventure,Drama", "nm1197971", "tt0446013")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Friday the 13th", 5.5, 90685, 2009, 97, "Horror,Mystery,Thriller", "nm1197971", "tt0758746")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Conan the Barbarian", 5.2, 91553, 2011, 113, "Action,Adventure,Fantasy", "nm1197971", "tt0816462")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Head of State", 5.5, 17250, 2003, 95, "Comedy", "nm0001674", "tt0325537")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Animatrix", 7.4, 68501, 2003, 100, "Action,Adventure,Animation", "nm0161285", "tt0328832")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Chronicles of Riddick: Dark Fury", 6.6, 10317, 2004, 35, "Action,Animation,Sci-Fi", "nm0161285", "tt0407658")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brother Bear", 6.8, 88450, 2003, 85, "Adventure,Animation,Comedy", "nm1074107", "tt0328880")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monsieur Ibrahim", 7.3, 10423, 2003, 96, "Comedy,Drama", "nm0243191", "tt0329388")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Torque", 4.1, 26073, 2004, 84, "Action,Comedy,Crime", "nm0994538", "tt0329691")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Detention", 5.7, 14359, 2011, 93, "Comedy,Horror,Mystery", "nm0994538", "tt1701990")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The L Word", 7.6, 22553, 2004, 50, "Drama,Romance", "nm0873266", "tt0330251")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Punisher", 6.4, 143793, 2004, 124, "Action,Crime,Drama", "nm0378144", "tt0330793")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kill the Irishman", 7.1, 42355, 2011, 106, "Biography,Crime,Drama", "nm0378144", "tt1416801")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("11:14", 7.2, 42828, 2003, 86, "Crime,Drama,Mystery", "nm1009775", "tt0331811")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Echelon Conspiracy", 5.8, 18310, 2009, 105, "Action,Crime,Mystery", "nm1009775", "tt1124039")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Clearing", 5.8, 12845, 2004, 95, "Drama,Mystery,Thriller", "nm0115764", "tt0331952")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Saved!", 6.7, 43364, 2004, 92, "Comedy,Drama", "nm0200380", "tt0332375")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Struck by Lightning", 6.3, 14154, 2012, 90, "Comedy,Drama", "nm0200380", "tt1791614")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Intermission", 6.8, 14715, 2003, 105, "Comedy,Crime,Drama", "nm1259871", "tt0332658")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Boy A", 7.6, 35934, 2007, 102, "Drama", "nm1259871", "tt1078188")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Closed Circuit", 6.2, 20651, 2013, 96, "Crime,Drama,Mystery", "nm1259871", "tt2218003")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brooklyn", 7.5, 119457, 2015, 117, "Drama,Romance", "nm1259871", "tt2381111")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Garden State", 7.4, 202201, 2004, 102, "Comedy,Drama,Romance", "nm0103785", "tt0333766")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Going in Style", 6.6, 68457, 2017, 96, "Comedy,Crime", "nm0103785", "tt2568862")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wish I Was Here", 6.7, 35200, 2014, 106, "Comedy,Drama", "nm0103785", "tt2870708")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spellbound", 7.5, 11637, 2002, 97, "Comedy,Documentary,Thriller", "nm0998825", "tt0334405")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rocket Science", 6.6, 12612, 2007, 101, "Comedy,Drama", "nm0998825", "tt0477078")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Table 19", 5.8, 23587, 2017, 87, "Comedy,Drama,Romance", "nm0998825", "tt1412528")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Girl with a Pearl Earring", 6.9, 68794, 2003, 100, "Biography,Drama,Romance", "nm0916424", "tt0335119")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hannibal Rising", 6.2, 98784, 2007, 121, "Adventure,Crime,Drama", "nm0916424", "tt0367959")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Emperor", 6.5, 12551, 2012, 105, "Drama,History,War", "nm0916424", "tt2103264")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wonderland", 6.6, 20536, 2003, 104, "Crime,Drama,Mystery", "nm0185063", "tt0335563")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crimson Rivers 2: Angels of the Apocalypse", 6.0, 18628, 2004, 97, "Action,Crime,Horror", "nm0196860", "tt0337103")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("La Vie en Rose", 7.6, 78343, 2007, 140, "Biography,Drama,Music", "nm0196860", "tt0450188")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Grace of Monaco", 5.7, 16995, 2014, 103, "Biography,Drama,Romance", "nm0196860", "tt2095649")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("13 Going on 30", 6.1, 152908, 2004, 98, "Comedy,Fantasy,Romance", "nm0935095", "tt0337563")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Charlotte's Web", 6.3, 34274, 2006, 97, "Comedy,Family,Fantasy", "nm0935095", "tt0413895")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Letters to Juliet", 6.5, 87255, 2010, 105, "Adventure,Comedy,Drama", "nm0935095", "tt0892318")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bride Wars", 5.5, 95629, 2009, 89, "Comedy,Romance", "nm0935095", "tt0901476")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Baghban", 7.4, 14147, 2003, 181, "Drama,Romance", "nm0159162", "tt0337578")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Barbershop 2: Back in Business", 5.7, 13563, 2004, 106, "Comedy,Drama", "nm0838198", "tt0337579")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Guess Who", 5.9, 38458, 2005, 105, "Comedy,Romance", "nm0838198", "tt0372237")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Grind", 6.0, 11349, 2003, 105, "Adventure,Comedy,Sport", "nm0489453", "tt0338077")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("High Tension", 6.8, 63834, 2003, 91, "Horror", "nm0014960", "tt0338095")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hills Have Eyes", 6.4, 150756, 2006, 107, "Horror,Thriller", "nm0014960", "tt0454841")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Piranha 3D", 5.4, 82376, 2010, 88, "Comedy,Horror", "nm0014960", "tt0464154")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mirrors", 6.1, 98013, 2008, 110, "Horror,Mystery", "nm0014960", "tt0790686")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Horns", 6.5, 71504, 2013, 120, "Crime,Drama,Fantasy", "nm0014960", "tt1528071")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The 9th Life of Louis Drax", 6.3, 12480, 2016, 108, "Mystery,Thriller", "nm0014960", "tt3991412")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crawl", 6.3, 24717, 2019, 87, "Action,Drama,Horror", "nm0014960", "tt8364368")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Head in the Clouds", 6.6, 14057, 2004, 132, "Drama,Romance,War", "nm0241090", "tt0338097")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Barbarian Invasions", 7.6, 27183, 2003, 99, "Comedy,Crime,Drama", "nm0000780", "tt0338135")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Evil", 7.8, 33947, 2003, 113, "Drama", "nm0405632", "tt0338309")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Derailed", 6.6, 68550, 2005, 108, "Crime,Drama,Thriller", "nm0405632", "tt0398017")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("1408", 6.8, 244282, 2007, 104, "Fantasy,Horror,Mystery", "nm0405632", "tt0450385")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Rite", 6.0, 86601, 2011, 114, "Drama,Horror,Mystery", "nm0405632", "tt1161864")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Escape Plan", 6.7, 214955, 2013, 115, "Action,Thriller", "nm0405632", "tt1211956")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paparazzi", 5.8, 14220, 2004, 84, "Action,Crime,Drama", "nm0007708", "tt0338325")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shopgirl", 6.3, 22777, 2005, 106, "Drama,Romance", "nm0875793", "tt0338427")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Leap Year", 6.5, 87730, 2010, 100, "Comedy,Romance", "nm0875793", "tt1216492")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Infernal Affairs", 8.1, 112320, 2002, 101, "Crime,Drama,Mystery", "nm0538320", "tt0338564")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Battle Royale II", 4.7, 18615, 2003, 134, "Action,Drama,Sci-Fi", "nm0297934", "tt0338763")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Returner", 6.4, 10851, 2002, 116, "Action,Adventure,Sci-Fi", "nm0945724", "tt0339579")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Undead", 5.4, 12312, 2003, 104, "Action,Comedy,Fantasy", "nm1294961", "tt0339840")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Winchester", 5.4, 25543, 2018, 99, "Biography,Drama,Fantasy", "nm1294961", "tt1072748")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Predestination", 7.5, 229983, 2014, 97, "Action,Drama,Mystery", "nm1294961", "tt2397535")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jigsaw", 5.8, 59780, 2017, 92, "Horror,Mystery,Thriller", "nm1294961", "tt3348730")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hostage", 6.6, 103119, 2005, 113, "Action,Crime,Drama", "nm0802807", "tt0340163")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Station Agent", 7.6, 64707, 2003, 89, "Comedy,Drama", "nm0565336", "tt0340377")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Visitor", 7.6, 40398, 2007, 104, "Drama", "nm0565336", "tt0857191")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Win Win", 7.1, 51861, 2011, 106, "Comedy,Drama,Sport", "nm0565336", "tt1606392")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spotlight", 8.1, 374914, 2015, 129, "Biography,Crime,Drama", "nm0565336", "tt1895587")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Cobbler", 5.8, 48693, 2014, 99, "Comedy,Drama,Fantasy", "nm0565336", "tt3203616")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monster", 7.3, 126462, 2003, 109, "Biography,Crime,Drama", "nm0420941", "tt0340855")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wonder Woman", 7.4, 501942, 2017, 141, "Action,Adventure,Fantasy", "nm0420941", "tt0451279")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Capturing the Friedmans", 7.7, 22659, 2003, 107, "Biography,Documentary", "nm1285613", "tt0342172")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("All Good Things", 6.3, 50247, 2010, 101, "Crime,Drama,Mystery", "nm1285613", "tt1175709")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Jinx: The Life and Deaths of Robert Durst", 8.7, 34356, 2015, 279, "Crime,Documentary", "nm1285613", "tt4299972")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Along Came Polly", 5.9, 119774, 2004, 90, "Comedy,Romance", "nm0357453", "tt0343135")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Love You, Man", 7.0, 187094, 2009, 105, "Comedy,Romance", "nm0357453", "tt1155056")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Why Him?", 6.2, 91687, 2016, 111, "Comedy", "nm0357453", "tt4501244")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Teen Titans", 7.8, 23738, 2003, 30, "Action,Adventure,Animation", "nm1367649", "tt0343314")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Last Life in the Universe", 7.5, 10558, 2003, 112, "Comedy,Drama,Romance", "nm0711579", "tt0345549")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Latter Days", 7.0, 16312, 2003, 107, "Comedy,Drama,Romance", "nm0184947", "tt0345551")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The SpongeBob SquarePants Movie", 7.0, 72480, 2004, 87, "Adventure,Animation,Comedy", "nm0384864", "tt0345950")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Distant", 7.6, 16316, 2002, 110, "Drama", "nm0149196", "tt0346094")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Climates", 7.2, 10299, 2006, 101, "Drama", "nm0149196", "tt0498097")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Three Monkeys", 7.4, 17791, 2008, 109, "Drama", "nm0149196", "tt1233381")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Once Upon a Time in Anatolia", 7.8, 35605, 2011, 157, "Crime,Drama", "nm0149196", "tt1827487")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Winter Sleep", 8.2, 38506, 2014, 196, "Drama", "nm0149196", "tt2758880")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wild Pear Tree", 8.1, 13599, 2018, 188, "Drama", "nm0149196", "tt6628102")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sky Captain and the World of Tomorrow", 6.0, 79299, 2004, 106, "Action,Adventure,Crime", "nm0175775", "tt0346156")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ghost in the Shell: Stand Alone Complex", 8.5, 16548, 2002, 24, "Action,Animation,Crime", "nm0436784", "tt0346314")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Best of Youth", 8.5, 19264, 2003, 366, "Drama,Romance", "nm0320285", "tt0346336")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Penn & Teller: Bullshit!", 8.1, 11226, 2003, 30, "Comedy,Documentary", "nm0278669", "tt0346369")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman: Mystery of the Batwoman", 6.7, 10013, 2003, 75, "Action,Animation,Crime", "nm0336296", "tt0346578")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blood and Bone", 6.7, 29753, 2009, 93, "Action,Crime,Drama", "nm0708870", "tt0346631")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kal Ho Naa Ho", 8.0, 58648, 2003, 186, "Comedy,Drama,Romance", "nm0012541", "tt0347304")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I'm Always Here", 7.0, 29781, 2004, 179, "Action,Comedy,Drama", "nm0007134", "tt0347473")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Om Shanti Om", 6.6, 35791, 2007, 162, "Action,Comedy,Drama", "nm0007134", "tt1024943")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tees Maar Khan", 2.5, 10350, 2010, 135, "Comedy,Crime", "nm0007134", "tt1572311")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jane Got a Gun", 5.9, 19414, 2015, 98, "Action,Drama,Western", "nm0640334", "tt2140037")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Accountant", 7.3, 238391, 2016, 128, "Action,Crime,Drama", "nm0640334", "tt2140479")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Real Time with Bill Maher", 7.5, 11687, 2003, 60, "Comedy,News,Talk-Show", "nm1392455", "tt0350448")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Madagascar", 6.9, 339066, 2005, 86, "Adventure,Animation,Comedy", "nm0201509", "tt0351283")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Madagascar 3: Europe's Most Wanted", 6.8, 150214, 2012, 93, "Adventure,Animation,Comedy", "nm0201509", "tt1277953")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Twilight Samurai", 8.1, 20796, 2002, 129, "Drama,History,Romance", "nm0945282", "tt0351817")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Facing Windows", 7.3, 10197, 2003, 106, "Drama,Romance", "nm0654858", "tt0352343")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Loose Cannons", 7.3, 10621, 2010, 110, "Comedy,Drama,Romance", "nm0654858", "tt1405810")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chappelle's Show", 8.7, 48454, 2003, 22, "Comedy,Music", "nm0192090", "tt0353049")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ginger Snaps 2: Unleashed", 6.4, 11917, 2004, 94, "Horror,Thriller", "nm0837977", "tt0353489")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Memories of Murder", 8.1, 105699, 2003, 131, "Action,Crime,Drama", "nm0094435", "tt0353969")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Host", 7.0, 87419, 2006, 120, "Action,Drama,Horror", "nm0094435", "tt0468492")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mother", 7.8, 39107, 2009, 129, "Crime,Drama,Thriller", "nm0094435", "tt1216496")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Snowpiercer", 7.1, 247855, 2013, 126, "Action,Drama,Sci-Fi", "nm0094435", "tt1706620")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Okja", 7.3, 75816, 2017, 120, "Action,Adventure,Drama", "nm0094435", "tt3967856")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Parasite", 8.5, 36841, 2019, 132, "Comedy,Drama,Thriller", "nm0094435", "tt6751668")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("EuroTrip", 6.6, 184619, 2004, 92, "Comedy", "nm0769840", "tt0356150")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The League", 8.2, 41565, 2009, 22, "Comedy,Sport", "nm0769840", "tt1480684")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Cinderella Story", 5.9, 76089, 2004, 95, "Comedy,Family,Romance", "nm0743093", "tt0356470")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Perfect Man", 5.5, 27128, 2005, 100, "Comedy,Family,Romance", "nm0743093", "tt0380623")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Family Stone", 6.3, 57048, 2005, 103, "Comedy,Drama,Romance", "nm0080120", "tt0356680")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monte Carlo", 5.8, 39179, 2011, 109, "Adventure,Comedy,Family", "nm0080120", "tt1067774")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ballad of Jack and Rose", 6.6, 10637, 2005, 112, "Drama", "nm0589182", "tt0357110")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Private Lives of Pippa Lee", 6.4, 12414, 2009, 98, "Comedy,Drama,Romance", "nm0589182", "tt1134629")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Maggie's Plan", 6.2, 14596, 2015, 98, "Comedy,Drama,Romance", "nm0589182", "tt3471098")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Anchorman: The Legend of Ron Burgundy", 7.2, 312500, 2004, 94, "Comedy", "nm0570912", "tt0357413")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Talladega Nights: The Ballad of Ricky Bobby", 6.6, 156602, 2006, 108, "Comedy,Sport", "nm0570912", "tt0415306")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Step Brothers", 6.9, 250558, 2008, 98, "Comedy", "nm0570912", "tt0838283")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Anchorman 2: The Legend Continues", 6.3, 158564, 2013, 119, "Comedy", "nm0570912", "tt1229340")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Other Guys", 6.6, 225261, 2010, 107, "Action,Comedy,Crime", "nm0570912", "tt1386588")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Big Short", 7.8, 318221, 2015, 130, "Biography,Comedy,Drama", "nm0570912", "tt1596363")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vice", 7.2, 88153, 2018, 132, "Biography,Comedy,Drama", "nm0570912", "tt6266538")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Agent Cody Banks 2: Destination London", 4.5, 13241, 2004, 100, "Action,Adventure,Comedy", "nm0020728", "tt0358349")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Earthlings", 8.7, 16353, 2005, 95, "Documentary", "nm0598671", "tt0358456")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Little Britain", 7.7, 20069, 2003, 29, "Comedy", "nm0070436", "tt0358856")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mr. Bean's Holiday", 6.4, 107765, 2007, 90, "Comedy,Family", "nm0070436", "tt0453451")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blade: Trinity", 5.9, 158143, 2004, 113, "Action,Horror,Sci-Fi", "nm0333060", "tt0359013")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Invisible", 6.2, 33683, 2007, 102, "Crime,Drama,Fantasy", "nm0333060", "tt0435670")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Unborn", 4.8, 47613, 2009, 88, "Drama,Horror,Mystery", "nm0333060", "tt1139668")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Da Vinci's Demons", 8.0, 70577, 2013, 59, "Adventure,Biography,Drama", "nm0333060", "tt2094262")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Home at the End of the World", 6.7, 12880, 2004, 97, "Drama,Romance", "nm1555287", "tt0359423")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Constantine", 7.0, 284137, 2005, 121, "Action,Fantasy,Horror", "nm1349376", "tt0360486")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Am Legend", 7.2, 643273, 2007, 101, "Drama,Sci-Fi,Thriller", "nm1349376", "tt0480249")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Water for Elephants", 6.9, 106709, 2011, 120, "Drama,Romance", "nm1349376", "tt1067583")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hunger Games: Catching Fire", 7.5, 582163, 2013, 146, "Action,Adventure,Sci-Fi", "nm1349376", "tt1951264")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hunger Games: Mockingjay - Part 1", 6.6, 385451, 2014, 123, "Action,Adventure,Sci-Fi", "nm1349376", "tt1951265")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hunger Games: Mockingjay - Part 2", 6.5, 258825, 2015, 137, "Action,Adventure,Sci-Fi", "nm1349376", "tt1951266")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Red Sparrow", 6.6, 143654, 2018, 140, "Action,Drama,Thriller", "nm1349376", "tt2873282")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fahrenheit 451", 4.9, 15127, 2018, 100, "Drama,Sci-Fi,Thriller", "nm1023919", "tt0360556")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("99 Homes", 7.1, 27203, 2014, 112, "Drama", "nm1023919", "tt2891174")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Valiant", 5.5, 19506, 2005, 76, "Adventure,Animation,Comedy", "nm1369705", "tt0361089")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Woodsman", 7.2, 30690, 2004, 87, "Drama", "nm0975026", "tt0361127")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Little Bit of Heaven", 6.3, 26683, 2011, 106, "Comedy,Drama,Fantasy", "nm0975026", "tt1440161")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nip/Tuck", 7.6, 50934, 2003, 44, "Drama", "nm0732218", "tt0361217")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Closer", 7.6, 21458, 2005, 46, "Crime,Drama,Mystery", "nm0732218", "tt0458253")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Major Crimes", 7.6, 10948, 2012, 43, "Crime,Drama,Mystery", "nm0732218", "tt1936532")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Confessions of a Teenage Drama Queen", 4.6, 26188, 2004, 89, "Comedy,Family,Music", "nm0837406", "tt0361467")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Little Black Book", 5.3, 16727, 2004, 111, "Comedy,Drama,Romance", "nm0403541", "tt0361841")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("It's a Boy Girl Thing", 6.3, 37634, 2006, 95, "Comedy,Fantasy,Romance", "nm0403541", "tt0482527")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Day of the Doctor", 9.4, 16184, 2013, 77, "Adventure,Drama,Family", "nm0403541", "tt2779318")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("His Last Vow", 9.3, 25835, 2014, 89, "Crime,Drama,Mystery", "nm0403541", "tt2781046")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lying Detective", 9.2, 23340, 2017, 89, "Crime,Drama,Mystery", "nm0403541", "tt3845888")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Childhood's End", 6.9, 10419, 2015, 60, "Drama,Sci-Fi,Thriller", "nm0403541", "tt4146128")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tell No One", 7.5, 47136, 2006, 131, "Crime,Drama,Mystery", "nm0133899", "tt0362225")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Little White Lies", 7.1, 22192, 2010, 154, "Comedy,Drama", "nm0133899", "tt1440232")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blood Ties", 6.5, 18002, 2013, 127, "Action,Crime,Drama", "nm0133899", "tt1747958")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The O.C.", 7.5, 76350, 2003, 44, "Comedy,Drama,Romance", "nm0004627", "tt0362359")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("America's Next Top Model", 5.5, 16815, 2003, 42, "Game-Show,Reality-TV", "nm0595136", "tt0363307")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Drake & Josh", 7.7, 32491, 2004, 23, "Comedy,Family", "nm0264590", "tt0363328")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beyond the Sea", 6.7, 14097, 2004, 118, "Biography,Drama,Music", "nm0000228", "tt0363473")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dawn of the Dead", 7.3, 222851, 2004, 101, "Action,Horror", "nm0811583", "tt0363547")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Watchmen", 7.6, 461195, 2009, 162, "Action,Drama,Mystery", "nm0811583", "tt0409459")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("300", 7.7, 700054, 2006, 117, "Action,Drama,Fantasy", "nm0811583", "tt0416449")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Man of Steel", 7.1, 655993, 2013, 143, "Action,Adventure", "nm0811583", "tt0770828")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Justice League", 6.4, 341198, 2017, 120, "Action,Adventure,Fantasy", "nm0811583", "tt0974015")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sucker Punch", 6.0, 220359, 2011, 110, "Action,Adventure,Fantasy", "nm0811583", "tt0978764")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Legend of the Guardians: The Owls of Ga'Hoole", 6.9, 74545, 2010, 97, "Action,Adventure,Animation", "nm0811583", "tt1219342")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman v Superman: Dawn of Justice", 6.5, 586318, 2016, 151, "Action,Adventure,Sci-Fi", "nm0811583", "tt2975590")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lymelife", 6.9, 13468, 2008, 95, "Comedy,Drama,Romance", "nm0553796", "tt0363780")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hick", 5.6, 18200, 2011, 99, "Comedy,Drama", "nm0553796", "tt1205558")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Final Cut", 6.2, 29772, 2004, 95, "Drama,Sci-Fi,Thriller", "nm0619715", "tt0364343")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ju-on: The Grudge", 6.7, 37790, 2002, 92, "Horror", "nm1234345", "tt0364385")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Grudge", 5.9, 132772, 2004, 91, "Horror,Mystery,Thriller", "nm1234345", "tt0391198")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Grudge 2", 5.0, 44874, 2006, 102, "Horror,Thriller", "nm1234345", "tt0433386")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flight 7500", 4.8, 13870, 2014, 97, "Horror,Mystery,Sci-Fi", "nm1234345", "tt1975159")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Love Me If You Dare", 7.6, 64250, 2003, 93, "Comedy,Drama,Romance", "nm1367933", "tt0364517")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Sassy Girl", 6.3, 19108, 2008, 92, "Comedy,Drama,Romance", "nm1367933", "tt0404254")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dodgeball: A True Underdog Story", 6.7, 216666, 2004, 92, "Comedy,Sport", "nm1098493", "tt0364725")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Central Intelligence", 6.3, 143337, 2016, 107, "Action,Comedy,Crime", "nm1098493", "tt1489889")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("We're the Millers", 7.0, 377184, 2013, 110, "Comedy,Crime", "nm1098493", "tt1723121")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Skyscraper", 5.8, 87440, 2018, 102, "Action,Adventure,Thriller", "nm1098493", "tt5758778")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tru Calling", 7.4, 14520, 2003, 43, "Drama,Fantasy,Mystery", "nm0003150", "tt0364817")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Primeval", 4.8, 12363, 2007, 93, "Action,Adventure,Crime", "nm0003150", "tt0772193")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zoo", 6.8, 19882, 2015, 42, "Drama,Mystery,Sci-Fi", "nm0003150", "tt3250026")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Las Vegas", 7.4, 24858, 2003, 60, "Crime,Drama", "nm0220049", "tt0364828")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("NCIS", 7.8, 109480, 2003, 60, "Action,Crime,Drama", "nm0505420", "tt0364845")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("You Got Served", 3.8, 25293, 2004, 95, "Drama,Music", "nm0831321", "tt0365957")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Happy Feet", 6.4, 159876, 2006, 108, "Adventure,Animation,Comedy", "nm0606688", "tt0366548")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Jacket", 7.1, 104504, 2005, 103, "Drama,Fantasy,Mystery", "nm0562266", "tt0366627")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rome", 8.7, 143754, 2005, 90, "Action,Drama,History", "nm0562266", "tt0384766")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Edge of Love", 6.3, 15550, 2008, 110, "Biography,Drama,Romance", "nm0562266", "tt0819714")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Marco Polo", 8.0, 57654, 2014, 60, "Adventure,Drama,History", "nm0562266", "tt2189461")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mirrormask", 6.8, 21830, 2005, 101, "Adventure,Fantasy", "nm0571098", "tt0366780")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Soul Plane", 4.5, 20641, 2004, 86, "Comedy", "nm0855843", "tt0367085")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Squid and the Whale", 7.3, 70213, 2005, 81, "Comedy,Drama", "nm0000876", "tt0367089")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Margot at the Wedding", 6.0, 18513, 2007, 93, "Comedy,Drama", "nm0000876", "tt0757361")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Greenberg", 6.1, 34027, 2010, 107, "Comedy,Drama,Romance", "nm0000876", "tt1234654")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("While We're Young", 6.3, 42097, 2014, 97, "Comedy,Drama,Mystery", "nm0000876", "tt1791682")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Frances Ha", 7.4, 61638, 2012, 86, "Comedy,Drama,Romance", "nm0000876", "tt2347569")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mistress America", 6.7, 22938, 2015, 84, "Comedy,Drama", "nm0000876", "tt2872462")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Meyerowitz Stories (New and Selected)", 6.9, 31492, 2017, 112, "Comedy,Drama", "nm0000876", "tt5536736")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Starship Troopers 2: Hero of the Federation", 3.5, 21001, 2004, 88, "Action,Adventure,Horror", "nm0864138", "tt0367093")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Modigliani", 7.4, 10245, 2004, 128, "Biography,Drama", "nm0205169", "tt0367188")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Anbe Sivam", 8.8, 13465, 2003, 160, "Adventure,Comedy,Drama", "nm1326535", "tt0367495")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("D.E.B.S.", 5.2, 13998, 2004, 91, "Action,Comedy,Romance", "nm1286340", "tt0367631")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Herbie Fully Loaded", 4.8, 42710, 2005, 101, "Adventure,Comedy,Family", "nm1286340", "tt0400497")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Professor Marston and the Wonder Women", 7.1, 19039, 2017, 108, "Biography,Drama", "nm1286340", "tt6133130")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Deuce Bigalow: European Gigolo", 4.7, 46453, 2005, 83, "Comedy", "nm1600805", "tt0367652")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Romance & Cigarettes", 6.3, 11017, 2005, 105, "Comedy,Musical,Romance", "nm0001806", "tt0368222")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fading Gigolo", 6.2, 22659, 2013, 90, "Comedy", "nm0001806", "tt2258345")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Room", 3.7, 74312, 2003, 99, "Drama", "nm1382072", "tt0368226")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cold Case", 7.5, 22721, 2003, 44, "Crime,Drama,Mystery", "nm0952352", "tt0368479")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Body of Proof", 7.1, 14098, 2011, 60, "Crime,Drama", "nm0952352", "tt1587669")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ong-Bak: The Thai Warrior", 7.2, 68223, 2003, 108, "Action,Crime,Thriller", "nm1272773", "tt0368909")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Protector", 7.1, 33802, 2005, 111, "Action,Crime,Drama", "nm1272773", "tt0427954")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chocolate", 6.9, 16679, 2008, 110, "Action,Drama", "nm1272773", "tt1183252")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Elephant White", 5.1, 10178, 2011, 91, "Action,Crime,Fantasy", "nm1272773", "tt1578882")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sleepover", 5.3, 14543, 2004, 89, "Comedy,Family,Romance", "nm0638271", "tt0368975")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Pie Presents: The Naked Mile", 5.1, 61764, 2006, 97, "Comedy", "nm0638271", "tt0808146")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sydney White", 6.2, 44074, 2007, 108, "Comedy,Drama,Romance", "nm0638271", "tt0815244")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Prom", 5.4, 14383, 2011, 104, "Comedy,Drama,Family", "nm0638271", "tt1604171")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Infernal Affairs II", 7.3, 15796, 2003, 119, "Action,Crime,Drama", "nm0490487", "tt0369060")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Infernal Affairs III", 6.9, 11671, 2003, 118, "Action,Crime,Drama", "nm0490487", "tt0374339")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Flock", 5.7, 10685, 2007, 105, "Crime,Drama,Mystery", "nm0490487", "tt0473356")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Four Christmases", 5.6, 58744, 2008, 88, "Comedy,Drama,Romance", "nm1164861", "tt0369436")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The King of Kong: A Fistful of Quarters", 8.1, 33496, 2007, 79, "Biography,Documentary", "nm1164861", "tt0923752")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Baywatch", 5.5, 143685, 2017, 116, "Action,Comedy,Crime", "nm1164861", "tt1469304")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Horrible Bosses", 6.9, 402918, 2011, 98, "Comedy,Crime", "nm1164861", "tt1499658")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Identity Thief", 5.7, 117515, 2013, 111, "Comedy,Crime,Drama", "nm1164861", "tt2024432")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jurassic World", 7.0, 547534, 2015, 124, "Action,Adventure,Sci-Fi", "nm1119880", "tt0369610")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Safety Not Guaranteed", 7.0, 113041, 2012, 86, "Comedy,Drama,Romance", "nm1119880", "tt1862079")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Book of Henry", 6.6, 20868, 2017, 105, "Crime,Drama,Thriller", "nm1119880", "tt4572792")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Love Song for Bobby Long", 7.1, 24112, 2004, 119, "Drama", "nm0300015", "tt0369672")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Reno 911!", 7.9, 15540, 2003, 22, "Comedy,Crime", "nm1462143", "tt0370194")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Asterix and the Vikings", 6.0, 10085, 2006, 78, "Adventure,Animation,Comedy", "nm0597026", "tt0371552")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hitchhiker's Guide to the Galaxy", 6.7, 179220, 2005, 109, "Adventure,Comedy,Sci-Fi", "nm1134029", "tt0371724")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Son of Rambow", 7.0, 29853, 2007, 96, "Action,Adventure,Comedy", "nm1134029", "tt0845046")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sing", 7.1, 119857, 2016, 108, "Animation,Comedy,Family", "nm1134029", "tt3470600")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wedding Date", 6.2, 45830, 2005, 90, "Comedy,Romance", "nm0453270", "tt0372532")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Chorus", 7.9, 53367, 2004, 97, "Drama,Music", "nm0056725", "tt0372824")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dragon Wars: D-War", 3.5, 23061, 2007, 90, "Action,Drama,Fantasy", "nm0405374", "tt0372873")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Journey to the Center of the Earth", 5.8, 106135, 2008, 93, "Action,Adventure,Family", "nm0108094", "tt0373051")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Yogi Bear", 4.6, 19228, 2010, 80, "Adventure,Animation,Comedy", "nm0108094", "tt1302067")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Saints and Soldiers", 6.7, 19424, 2003, 90, "Action,Drama,War", "nm0514662", "tt0373283")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kiss Kiss Bang Bang", 7.5, 204635, 2005, 103, "Action,Comedy,Crime", "nm0000948", "tt0373469")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Iron Man 3", 7.2, 707249, 2013, 130, "Action,Adventure,Sci-Fi", "nm0000948", "tt1300854")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Nice Guys", 7.4, 247362, 2016, 116, "Action,Comedy,Crime", "nm0000948", "tt3799694")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Predator", 5.4, 102359, 2018, 107, "Action,Adventure,Sci-Fi", "nm0000948", "tt3829266")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Boondocks", 8.3, 24913, 2005, 22, "Action,Animation,Comedy", "nm0269229", "tt0373732")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gangaajal", 7.8, 14209, 2003, 157, "Action,Crime,Drama", "nm0422552", "tt0373856")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Raajneeti", 7.1, 15419, 2010, 163, "Crime,Drama,Thriller", "nm0422552", "tt1291465")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Harry Potter and the Order of the Phoenix", 7.5, 462928, 2007, 138, "Action,Adventure,Family", "nm0946734", "tt0373889")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Harry Potter and the Half-Blood Prince", 7.6, 427335, 2009, 153, "Action,Adventure,Family", "nm0946734", "tt0417741")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Legend of Tarzan", 6.2, 153014, 2016, 110, "Action,Adventure,Drama", "nm0946734", "tt0918940")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Harry Potter and the Deathly Hallows: Part 1", 7.7, 434483, 2010, 146, "Adventure,Fantasy,Mystery", "nm0946734", "tt0926084")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Harry Potter and the Deathly Hallows: Part 2", 8.1, 703953, 2011, 130, "Adventure,Drama,Fantasy", "nm0946734", "tt1201607")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fantastic Beasts and Where to Find Them", 7.3, 374530, 2016, 132, "Adventure,Family,Fantasy", "nm0946734", "tt3183660")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fantastic Beasts: The Crimes of Grindelwald", 6.6, 181056, 2018, 134, "Adventure,Family,Fantasy", "nm0946734", "tt4123430")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kontroll", 7.7, 23176, 2003, 105, "Comedy,Crime,Drama", "nm0030735", "tt0373981")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vacancy", 6.2, 90421, 2007, 85, "Horror,Thriller", "nm0030735", "tt0452702")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Armored", 5.7, 28839, 2009, 88, "Action,Crime,Thriller", "nm0030735", "tt0913354")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Predators", 6.4, 202335, 2010, 107, "Action,Adventure,Sci-Fi", "nm0030735", "tt1424381")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Metallica Through the Never", 7.2, 15799, 2013, 93, "Music", "nm0030735", "tt2172935")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Open Water", 5.7, 48833, 2003, 79, "Adventure,Drama,Horror", "nm0448900", "tt0374102")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Silent House", 5.2, 21035, 2011, 86, "Drama,Horror,Mystery", "nm0448900", "tt1767382")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In Your Name", 7.1, 15147, 2003, 132, "Action,Drama,Romance", "nm0442479", "tt0374271")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Half-Life 2", 9.4, 13575, 2004, null, "Action,Adventure,Sci-Fi", "nm2994351", "tt0374692")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Munna Bhai M.B.B.S.", 8.2, 66396, 2003, 156, "Comedy,Drama,Musical", "nm0386246", "tt0374887")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Carry On, Munna Bhai", 8.1, 39201, 2006, 144, "Comedy,Drama,Romance", "nm0386246", "tt0456144")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("3 Idiots", 8.4, 308037, 2009, 170, "Comedy,Drama", "nm0386246", "tt1187043")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("PK", 8.2, 142128, 2014, 153, "Comedy,Drama,Fantasy", "nm0386246", "tt2338151")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sanju", 7.9, 42216, 2018, 155, "Biography,Drama", "nm0386246", "tt6452574")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Napoleon Dynamite", 6.9, 187010, 2004, 96, "Comedy", "nm0381478", "tt0374900")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nacho Libre", 5.7, 76616, 2006, 92, "Comedy,Family,Sport", "nm0381478", "tt0457510")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gentlemen Broncos", 6.2, 10431, 2009, 89, "Adventure,Comedy,Sci-Fi", "nm0381478", "tt1161418")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Masterminds", 5.8, 46303, 2016, 95, "Comedy,Crime", "nm0381478", "tt2461150")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("White Noise", 5.5, 45694, 2005, 101, "Drama,Horror,Mystery", "nm0768249", "tt0375210")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alex Rider: Operation Stormbreaker", 5.1, 22435, 2006, 93, "Action,Adventure,Family", "nm0768249", "tt0457495")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Astro Boy", 6.3, 31071, 2009, 94, "Action,Animation,Comedy", "nm0101047", "tt0375568")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flushed Away", 6.6, 104593, 2006, 85, "Adventure,Animation,Comedy", "nm0101047", "tt0424095")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Diary of a Wimpy Kid: Rodrick Rules", 6.5, 23653, 2011, 99, "Comedy,Family", "nm0101047", "tt1650043")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cube Zero", 5.7, 34334, 2004, 97, "Drama,Mystery,Sci-Fi", "nm0053228", "tt0377713")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Assassination Games", 6.2, 15894, 2011, 101, "Action,Crime,Drama", "nm0053228", "tt1436568")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("6 Bullets", 6.1, 13331, 2012, 115, "Action,Crime,Drama", "nm0053228", "tt1975249")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dear Frankie", 7.7, 20509, 2004, 105, "Drama,Romance", "nm0994254", "tt0377752")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fifth Element", 7.6, 10909, 1998, null, "Action,Adventure,Sci-Fi", "nm1434968", "tt0377917")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hum Tum", 7.0, 12333, 2004, 142, "Comedy,Drama,Romance", "nm0463316", "tt0378072")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fanaa", 7.2, 29113, 2006, 168, "Drama,Romance", "nm0463316", "tt0439662")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Machuca", 7.7, 10339, 2004, 116, "Biography,Drama,History", "nm0939540", "tt0378284")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Speak", 7.3, 23552, 2004, 89, "Drama", "nm0789366", "tt0378793")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Touch of Spice", 7.5, 12307, 2003, 108, "Comedy,Drama", "nm0099552", "tt0378897")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Corporation", 8.1, 19720, 2003, 145, "Documentary,History", "nm0009788", "tt0379225")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Good Woman", 6.5, 10930, 2004, 93, "Comedy,Drama,Romance", "nm0054954", "tt0379306")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shattered", 6.7, 29236, 2007, 95, "Crime,Drama,Mystery", "nm0054954", "tt0489664")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Versailles", 7.9, 11542, 2015, 52, "Biography,Drama,History", "nm0054954", "tt3830558")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Handmaid's Tale", 8.5, 138250, 2017, 60, "Drama,Sci-Fi,Thriller", "nm0054954", "tt5834204")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Touching the Void", 8.0, 31819, 2003, 106, "Adventure,Documentary,Drama", "nm0531817", "tt0379557")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last King of Scotland", 7.7, 167235, 2006, 123, "Biography,Drama,History", "nm0531817", "tt0455590")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("State of Play", 7.1, 128679, 2009, 127, "Crime,Drama,Mystery", "nm0531817", "tt0473705")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Eagle", 6.2, 62189, 2011, 114, "Action,Adventure,Drama", "nm0531817", "tt1034389")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Marley", 8.0, 12641, 2012, 144, "Biography,Documentary,Music", "nm0531817", "tt1183919")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("How I Live Now", 6.5, 26499, 2013, 101, "Romance,Sci-Fi,Thriller", "nm0531817", "tt1894476")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Sea", 6.4, 32543, 2014, 114, "Adventure,Drama,Thriller", "nm0531817", "tt2261331")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ellen: The Ellen DeGeneres Show", 7.1, 13994, 2003, 60, "Comedy,Talk-Show", "nm2554911", "tt0379623")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hustle", 8.1, 20698, 2004, 60, "Crime,Drama,Mystery", "nm1163264", "tt0379632")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The National Anthem", 7.8, 42345, 2011, 44, "Drama,Sci-Fi,Thriller", "nm1163264", "tt2089051")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Robin Hood", 5.3, 50012, 2018, 116, "Action,Adventure,Thriller", "nm1163264", "tt4532826")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Capote", 7.3, 118568, 2005, 114, "Biography,Crime,Drama", "nm0587955", "tt0379725")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Foxcatcher", 7.0, 127345, 2014, 134, "Biography,Drama,Sport", "nm0587955", "tt1100089")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Moneyball", 7.6, 332609, 2011, 133, "Biography,Drama,Sport", "nm0587955", "tt1210166")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Serenity", 7.8, 272885, 2005, 119, "Action,Adventure,Sci-Fi", "nm0923736", "tt0379786")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Avengers", 8.0, 1201486, 2012, 143, "Action,Adventure,Sci-Fi", "nm0923736", "tt0848228")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dr. Horrible's Sing-Along Blog", 8.5, 40189, 2008, 42, "Comedy,Musical,Sci-Fi", "nm0923736", "tt1227926")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Much Ado About Nothing", 7.1, 15532, 2012, 109, "Comedy,Drama,Romance", "nm0923736", "tt2094064")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Avengers: Age of Ultron", 7.3, 683815, 2015, 141, "Action,Adventure,Sci-Fi", "nm0923736", "tt2395427")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Savage Grace", 5.8, 10241, 2007, 97, "Drama", "nm0435788", "tt0379976")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("QI", 8.6, 28043, 2003, 30, "Comedy,Game-Show", "nm0520961", "tt0380136")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cocaine Cowboys", 7.8, 11966, 2006, 118, "Crime,Documentary,History", "nm0179117", "tt0380268")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Place Promised in Our Early Days", 7.1, 11723, 2004, 91, "Animation,Drama,Romance", "nm1396121", "tt0381348")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("5 Centimeters Per Second", 7.6, 45277, 2007, 63, "Animation,Drama,Romance", "nm1396121", "tt0983213")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Children Who Chase Lost Voices", 7.2, 12008, 2011, 116, "Adventure,Animation,Drama", "nm1396121", "tt1839494")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Garden of Words", 7.5, 27365, 2013, 46, "Animation,Drama,Romance", "nm1396121", "tt2591814")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Your Name.", 8.4, 144616, 2016, 106, "Animation,Drama,Fantasy", "nm1396121", "tt5311514")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rescue Me", 8.3, 24092, 2004, 60, "Comedy,Drama", "nm2113194", "tt0381798")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cargo", 6.2, 18045, 2009, 112, "Mystery,Sci-Fi,Thriller", "nm1393530", "tt0381940")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Creep", 5.6, 26737, 2004, 85, "Horror,Mystery,Thriller", "nm1247462", "tt0381966")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Severance", 6.5, 35231, 2006, 96, "Comedy,Horror,Thriller", "nm1247462", "tt0464196")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Death", 6.4, 41544, 2010, 102, "Action,Drama,History", "nm1247462", "tt1181791")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Triangle", 6.9, 92101, 2009, 99, "Fantasy,Mystery,Thriller", "nm1247462", "tt1187064")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Curious George", 6.5, 14658, 2006, 87, "Adventure,Animation,Comedy", "nm0639965", "tt0381971")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Open Season 2", 5.6, 20325, 2008, 76, "Adventure,Animation,Comedy", "nm0639965", "tt1107365")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Summer of Love", 6.7, 18686, 2004, 86, "Drama,Romance", "nm0667734", "tt0382189")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ida", 7.4, 47750, 2013, 82, "Drama", "nm0667734", "tt2718492")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cold War", 7.6, 36947, 2018, 89, "Drama,History,Music", "nm0667734", "tt6543652")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("As It Is in Heaven", 7.5, 15417, 2004, 133, "Comedy,Drama,Music", "nm0689392", "tt0382330")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Synecdoche, New York", 7.6, 74042, 2008, 124, "Comedy,Drama", "nm0442109", "tt0383028")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("MythBusters", 8.3, 48996, 2003, 44, "Documentary,Mystery,Reality-TV", "nm1535835", "tt0383126")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("G.O.R.A.", 8.0, 50893, 2004, 127, "Adventure,Comedy,Sci-Fi", "nm0814716", "tt0384116")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Yahsi Bati", 7.4, 27404, 2009, 112, "Comedy,Western", "nm0814716", "tt1567448")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Love Likes Coincidences", 7.3, 15789, 2011, 118, "Drama,Romance", "nm0814716", "tt1807950")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cry Wolf", 5.8, 25171, 2005, 90, "Drama,Horror,Mystery", "nm0905592", "tt0384286")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Never Back Down", 6.6, 91759, 2008, 110, "Action,Drama,Sport", "nm0905592", "tt1023111")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("True Memoirs of an International Assassin", 5.9, 17795, 2016, 98, "Action,Comedy,Crime", "nm0905592", "tt1542768")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kick-Ass 2", 6.5, 242293, 2013, 103, "Action,Adventure,Comedy", "nm0905592", "tt1650554")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Truth or Dare", 5.1, 36308, 2018, 100, "Horror,Thriller", "nm0905592", "tt6772950")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Before the Fall", 7.4, 13529, 2004, 117, "Drama,Sport,Thriller", "nm0304541", "tt0384369")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wave", 7.6, 96331, 2008, 107, "Drama,Thriller", "nm0304541", "tt1063669")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mechanic: Resurrection", 5.7, 69247, 2016, 98, "Action,Adventure,Thriller", "nm0304541", "tt3522806")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Accepted", 6.4, 117575, 2006, 93, "Comedy", "nm0684336", "tt0384793")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hot Tub Time Machine", 6.4, 155528, 2010, 101, "Comedy,Sci-Fi", "nm0684336", "tt1231587")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("About Last Night", 6.1, 21357, 2014, 100, "Comedy,Romance", "nm0684336", "tt1826590")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hot Tub Time Machine 2", 5.1, 34937, 2015, 93, "Comedy,Mystery,Sci-Fi", "nm0684336", "tt2637294")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Amityville Horror", 6.0, 100404, 2005, 90, "Horror", "nm1497918", "tt0384806")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Green Street Hooligans", 7.5, 134920, 2005, 109, "Crime,Drama,Sport", "nm0591994", "tt0385002")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Punisher: War Zone", 5.9, 58002, 2008, 103, "Action,Crime,Drama", "nm0591994", "tt0450314")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stewie Griffin: The Untold Story", 7.6, 31778, 2005, 88, "Adventure,Animation,Comedy", "nm0793804", "tt0385690")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Final Fantasy VII: Advent Children", 7.2, 53608, 2005, 101, "Action,Adventure,Animation", "nm0634602", "tt0385700")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Football Factory", 6.8, 27234, 2004, 91, "Crime,Drama,Sport", "nm0522393", "tt0385705")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Business", 6.7, 12640, 2005, 97, "Crime,Drama,Thriller", "nm0522393", "tt0429715")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Outlaw", 5.7, 12003, 2007, 103, "Action,Crime,Drama", "nm0522393", "tt0758771")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sweeney", 6.1, 18236, 2012, 112, "Action,Crime,Drama", "nm0522393", "tt0857190")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Glory Road", 7.2, 40429, 2006, 118, "Biography,Drama,Sport", "nm1595280", "tt0385726")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monster House", 6.6, 91541, 2006, 91, "Adventure,Animation,Comedy", "nm1481493", "tt0385880")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("City of Ember", 6.5, 60123, 2008, 90, "Adventure,Family,Fantasy", "nm1481493", "tt0970411")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Poltergeist", 4.9, 52258, 2015, 93, "Horror,Thriller", "nm1481493", "tt1029360")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tae Guk Gi: The Brotherhood of War", 8.1, 36061, 2004, 140, "Action,Drama,War", "nm0437625", "tt0386064")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Drawn Together", 7.0, 18147, 2004, 22, "Animation,Comedy,Reality-TV", "nm1398960", "tt0386180")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brothers", 7.5, 10432, 2004, 117, "Drama,War", "nm0081540", "tt0386342")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("After the Wedding", 7.7, 29852, 2006, 120, "Drama", "nm0081540", "tt0457655")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Things We Lost in the Fire", 7.2, 26793, 2007, 118, "Drama", "nm0081540", "tt0469623")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Serena", 5.4, 24916, 2014, 109, "Drama,History,Romance", "nm0081540", "tt1247690")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In a Better World", 7.6, 36831, 2010, 118, "Drama,Romance", "nm0081540", "tt1340107")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Night Manager", 8.1, 61548, 2016, 358, "Crime,Drama,Mystery", "nm0081540", "tt1399664")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Love Is All You Need", 6.5, 12404, 2012, 116, "Comedy,Drama,Romance", "nm0081540", "tt1854236")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bird Box", 6.6, 233983, 2018, 124, "Drama,Horror,Sci-Fi", "nm0081540", "tt2737304")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Office", 8.8, 314640, 2005, 22, "Comedy", "nm0957197", "tt0386676")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Weeds", 7.9, 98368, 2005, 28, "Comedy,Crime,Drama", "nm0957197", "tt0439100")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mizumono", 9.9, 14176, 2014, 44, "Crime,Drama,Horror", "nm1720541", "tt3230908")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Metalhead", 6.7, 28550, 2017, 41, "Drama,Sci-Fi,Thriller", "nm1720541", "tt5710984")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Mirror: Bandersnatch", 7.2, 97533, 2018, 90, "Drama,Mystery,Sci-Fi", "nm1720541", "tt9495224")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bee Movie", 6.1, 130593, 2007, 91, "Adventure,Animation,Comedy", "nm0971239", "tt0389790")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Penguins of Madagascar", 6.7, 73696, 2014, 92, "Adventure,Animation,Comedy", "nm0971239", "tt1911658")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Edison", 5.3, 14306, 2005, 99, "Action,Crime,Drama", "nm0121653", "tt0389957")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Maria Full of Grace", 7.4, 32986, 2004, 101, "Crime,Drama", "nm0551358", "tt0390221")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Primer", 6.9, 91108, 2004, 77, "Drama,Sci-Fi,Thriller", "nm1503403", "tt0390384")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Upstream Color", 6.7, 28953, 2013, 96, "Drama,Sci-Fi", "nm1503403", "tt2084989")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Super Size Me", 7.2, 96589, 2004, 100, "Comedy,Documentary,Drama", "nm1041597", "tt0390521")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Greatest Movie Ever Sold", 6.6, 14258, 2011, 90, "Comedy,Documentary", "nm1041597", "tt1743720")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("One Direction: This Is Us", 4.1, 23041, 2013, 92, "Documentary,Music", "nm1041597", "tt2515086")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("36th Precinct", 7.1, 15621, 2004, 111, "Action,Crime,Drama", "nm0545356", "tt0390808")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Onion Movie", 6.2, 14931, 2008, 86, "Comedy", "nm1512429", "tt0392878")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brick", 7.3, 95830, 2005, 110, "Action,Crime,Drama", "nm0426059", "tt0393109")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Brothers Bloom", 6.8, 46692, 2008, 114, "Action,Adventure,Comedy", "nm0426059", "tt0844286")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Looper", 7.4, 506785, 2012, 113, "Action,Crime,Drama", "nm0426059", "tt1276104")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fly", 7.8, 19590, 2010, 47, "Crime,Drama,Thriller", "nm0426059", "tt1615550")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ozymandias", 10.0, 106659, 2013, 48, "Crime,Drama,Thriller", "nm0426059", "tt2301451")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fifty-One", 8.9, 13637, 2012, 48, "Crime,Drama,Thriller", "nm0426059", "tt2301461")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Wars: The Last Jedi", 7.1, 477189, 2017, 152, "Action,Adventure,Fantasy", "nm0426059", "tt2527336")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alatriste", 6.1, 11737, 2006, 145, "Adventure,Drama,History", "nm0246503", "tt0395119")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hotel Rwanda", 8.1, 317127, 2004, 121, "Biography,Drama,History", "nm0313623", "tt0395169")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Reservation Road", 6.7, 21097, 2007, 102, "Crime,Drama,Thriller", "nm0313623", "tt0831884")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Promise", 5.9, 165033, 2016, 133, "Drama,History", "nm0313623", "tt4776998")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Producers", 6.3, 38968, 2005, 134, "Comedy,Musical", "nm0834893", "tt0395251")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Boundin'", 7.0, 11905, 2003, 5, "Animation,Comedy,Family", "nm0524726", "tt0395479")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Catch and Release", 6.0, 22498, 2006, 124, "Comedy,Drama,Romance", "nm0335666", "tt0395495")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("CSI: NY", 6.9, 41767, 2004, 43, "Action,Crime,Drama", "nm0047458", "tt0395843")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Sails", 8.2, 83958, 2014, 56, "Adventure,Drama", "nm0047458", "tt2375692")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Meet the Robinsons", 6.8, 81296, 2007, 95, "Adventure,Animation,Comedy", "nm0027459", "tt0396555")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Winnie the Pooh", 7.2, 19989, 2011, 63, "Adventure,Animation,Comedy", "nm0027459", "tt1449283")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ice Princess", 6.0, 23257, 2005, 98, "Comedy,Drama,Family", "nm0299563", "tt0396652")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blood and Chocolate", 5.5, 16706, 2007, 98, "Drama,Fantasy,Horror", "nm0902290", "tt0397044")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("House of Wax", 5.3, 109396, 2005, 108, "Horror", "nm1429471", "tt0397065")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Goal II: Living the Dream", 5.9, 30000, 2007, 115, "Adventure,Drama,Sport", "nm1429471", "tt0473360")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Orphan", 6.9, 178636, 2009, 123, "Horror,Mystery,Thriller", "nm1429471", "tt1148204")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Unknown", 6.8, 237315, 2011, 113, "Action,Mystery,Thriller", "nm1429471", "tt1401152")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Commuter", 6.3, 87496, 2018, 105, "Action,Mystery,Thriller", "nm1429471", "tt1590193")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The River", 6.8, 15815, 2012, 44, "Adventure,Fantasy,Horror", "nm1429471", "tt1836195")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Non-Stop", 7.0, 237527, 2014, 106, "Action,Mystery,Thriller", "nm1429471", "tt2024469")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Run All Night", 6.6, 95293, 2015, 114, "Action,Drama,Thriller", "nm1429471", "tt2199571")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Shallows", 6.3, 110274, 2016, 86, "Drama,Horror,Thriller", "nm1429471", "tt4052882")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Garth Marenghi's Darkplace", 8.4, 14743, 2004, 30, "Comedy,Fantasy,Horror", "nm1547964", "tt0397150")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Submarine", 7.3, 80796, 2010, 97, "Comedy,Drama,Romance", "nm1547964", "tt1440292")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Double", 6.5, 44663, 2013, 93, "Comedy,Drama,Mystery", "nm1547964", "tt1825157")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Dad!", 7.4, 108919, 2005, 22, "Animation,Comedy", "nm0400423", "tt0397306")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gossip Girl", 7.4, 142039, 2007, 42, "Drama,Romance", "nm0471862", "tt0397442")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bolt", 6.8, 177287, 2008, 96, "Adventure,Animation,Comedy", "nm0397174", "tt0397892")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tangled", 7.7, 373485, 2010, 100, "Adventure,Animation,Comedy", "nm0397174", "tt0398286")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zootopia", 8.0, 393080, 2016, 108, "Adventure,Animation,Comedy", "nm0397174", "tt2948356")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Down in the Valley", 6.4, 17469, 2005, 108, "Drama,Romance,Thriller", "nm0414817", "tt0398027")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Assault on Precinct 13", 6.3, 71266, 2005, 109, "Action,Crime,Drama", "nm0724938", "tt0398712")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mesrine Part 2: Public Enemy #1", 7.5, 26990, 2008, 133, "Action,Biography,Crime", "nm0724938", "tt0411272")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mesrine Part 1: Killer Instinct", 7.5, 30499, 2008, 113, "Action,Biography,Crime", "nm0724938", "tt1259014")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blood Father", 6.4, 53470, 2016, 88, "Action,Crime,Drama", "nm0724938", "tt3647498")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bridge to Terabithia", 7.1, 133648, 2007, 96, "Drama,Family,Fantasy", "nm0190780", "tt0398808")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Consequences of Love", 7.5, 13689, 2004, 100, "Crime,Drama,Romance", "nm0815204", "tt0398883")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Il Divo", 7.3, 14690, 2008, 110, "Biography,Drama", "nm0815204", "tt1023490")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("This Must Be the Place", 6.7, 30819, 2011, 118, "Comedy,Drama", "nm0815204", "tt1440345")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Great Beauty", 7.8, 73654, 2013, 141, "Drama", "nm0815204", "tt2358891")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Youth", 7.3, 65730, 2015, 124, "Comedy,Drama,Music", "nm0815204", "tt3312830")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Young Pope", 8.4, 29056, 2016, 546, "Drama", "nm0815204", "tt3655448")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Trade", 7.4, 16216, 2007, 120, "Crime,Drama,Thriller", "nm0471086", "tt0399095")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Summer Storm", 7.2, 12797, 2004, 98, "Comedy,Drama,Romance", "nm0471086", "tt0420206")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What the #$*! Do We (K)now!?", 5.3, 12889, 2004, 109, "Comedy,Documentary,Drama", "nm0036802", "tt0399877")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Friday", 8.5, 16647, 2004, 143, "Action,Crime,Drama", "nm0440604", "tt0400234")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gulaal", 8.1, 12719, 2009, 140, "Crime,Drama,Thriller", "nm0440604", "tt1261047")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dev.D", 8.0, 26537, 2009, 144, "Comedy,Drama,Romance", "nm0440604", "tt1327035")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gangs of Wasseypur", 8.2, 70965, 2012, 321, "Action,Comedy,Crime", "nm0440604", "tt1954470")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ugly", 8.1, 17331, 2013, 128, "Crime,Drama,Mystery", "nm0440604", "tt2882328")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Raman Raghav 2.0", 7.3, 11083, 2016, 133, "Crime,Drama,Thriller", "nm0440604", "tt5662932")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sacred Games", 8.8, 61764, 2018, 50, "Action,Crime,Drama", "nm0440604", "tt6077448")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("C.R.A.Z.Y.", 7.9, 30378, 2005, 127, "Comedy,Drama", "nm0885249", "tt0401085")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dallas Buyers Club", 8.0, 408367, 2013, 117, "Biography,Drama", "nm0885249", "tt0790636")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Young Victoria", 7.3, 54626, 2009, 105, "Biography,Drama,History", "nm0885249", "tt0962736")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Demolition", 7.0, 80177, 2015, 101, "Comedy,Drama", "nm0885249", "tt1172049")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Café de Flore", 7.4, 13940, 2011, 120, "Drama,Romance", "nm0885249", "tt1550312")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wild", 7.1, 112001, 2014, 115, "Biography,Drama", "nm0885249", "tt2305051")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sharp Objects", 8.2, 50761, 2018, 421, "Crime,Drama,Mystery", "nm0885249", "tt2649356")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Big Little Lies", 8.6, 124587, 2017, 60, "Crime,Drama,Mystery", "nm0885249", "tt3920596")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Appleseed", 7.0, 17123, 2004, 101, "Action,Animation,Drama", "nm0032925", "tt0401233")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Starship Troopers: Invasion", 5.9, 10306, 2012, 89, "Action,Animation,Sci-Fi", "nm0032925", "tt2085930")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Harlock: Space Pirate", 6.4, 10982, 2013, 115, "Adventure,Animation,Sci-Fi", "nm0032925", "tt2668134")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kronk's New Groove", 5.8, 10028, 2005, 75, "Animation,Comedy,Family", "nm1291225", "tt0401398")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paris, je t'aime", 7.3, 68422, 2006, 120, "Comedy,Drama,Romance", "nm0000801", "tt0401711")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Carlos", 7.6, 12168, 2010, 334, "Biography,Crime,Drama", "nm0000801", "tt1321865")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Clouds of Sils Maria", 6.7, 25217, 2014, 124, "Drama", "nm0000801", "tt2452254")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Personal Shopper", 6.1, 31896, 2016, 105, "Drama,Horror,Mystery", "nm0000801", "tt4714782")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("John Carter", 6.6, 244477, 2012, 132, "Action,Adventure,Sci-Fi", "nm0004056", "tt0401729")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("WALL·E", 8.4, 924478, 2008, 98, "Adventure,Animation,Family", "nm0004056", "tt0910970")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Finding Dory", 7.3, 218887, 2016, 97, "Adventure,Animation,Comedy", "nm0004056", "tt2277860")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chapter Five: Dig Dug", 8.9, 12347, 2017, 58, "Drama,Fantasy,Horror", "nm0004056", "tt6020806")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chapter Six: The Spy", 9.2, 13296, 2017, 51, "Drama,Fantasy,Horror", "nm0004056", "tt6020808")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Æon Flux", 5.4, 120088, 2005, 93, "Action,Adventure,Crime", "nm0476201", "tt0402022")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jennifer's Body", 5.2, 107939, 2009, 102, "Comedy,Horror", "nm0476201", "tt1131734")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chaos", 6.5, 49268, 2005, 106, "Action,Crime,Drama", "nm0317638", "tt0402910")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Night Watch", 6.4, 50907, 2004, 114, "Action,Fantasy,Horror", "nm0067457", "tt0403358")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Day Watch", 6.5, 32372, 2006, 132, "Action,Fantasy,Horror", "nm0067457", "tt0409904")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wanted", 6.7, 344560, 2008, 110, "Action,Crime,Fantasy", "nm0067457", "tt0493464")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Abraham Lincoln: Vampire Hunter", 5.9, 144181, 2012, 105, "Action,Fantasy,Horror", "nm0067457", "tt1611224")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ben-Hur", 5.7, 38659, 2016, 123, "Action,Adventure,Drama", "nm0067457", "tt2638144")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Long Way Round", 8.6, 11007, 2004, 315, "Adventure,Documentary", "nm1256362", "tt0403778")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Everything Is Illuminated", 7.4, 55242, 2005, 106, "Comedy,Drama", "nm0000630", "tt0404030")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lives of Others", 8.4, 329204, 2006, 137, "Drama,Thriller", "nm0003697", "tt0405094")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Tourist", 6.0, 209585, 2010, 103, "Action,Adventure,Crime", "nm0003697", "tt1243957")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The 40-Year-Old Virgin", 7.1, 370307, 2005, 116, "Comedy,Romance", "nm0031976", "tt0405422")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Knocked Up", 6.9, 335376, 2007, 129, "Comedy,Romance", "nm0031976", "tt0478311")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Funny People", 6.3, 110109, 2009, 146, "Comedy,Drama", "nm0031976", "tt1201167")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("This Is 40", 6.2, 120200, 2012, 134, "Comedy,Romance", "nm0031976", "tt1758830")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Trainwreck", 6.2, 123379, 2015, 125, "Comedy,Drama,Romance", "nm0031976", "tt3152624")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wild", 5.3, 22572, 2006, 94, "Adventure,Animation,Comedy", "nm0931727", "tt0405469")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rang De Basanti", 8.2, 102493, 2006, 167, "Comedy,Drama", "nm1018493", "tt0405508")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bhaag Milkha Bhaag", 8.2, 55882, 2013, 186, "Biography,Drama,Sport", "nm1018493", "tt2356180")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ned's Declassified School Survival Guide", 7.3, 14556, 2004, 22, "Comedy,Family", "nm0994553", "tt0405576")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Casshern", 6.1, 12844, 2004, 142, "Action,Sci-Fi", "nm1589546", "tt0405821")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Last Knights", 6.2, 36711, 2015, 115, "Action,Drama", "nm1589546", "tt2493486")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Chumscrubber", 6.9, 17476, 2005, 108, "Comedy,Drama", "nm1242062", "tt0406650")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Eye", 5.4, 49575, 2008, 98, "Drama,Horror,Mystery", "nm1219963", "tt0406759")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Them", 6.4, 27800, 2006, 77, "Horror,Thriller", "nm1219963", "tt0465203")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Transamerica", 7.4, 39199, 2005, 103, "Adventure,Comedy,Drama", "nm1053371", "tt0407265")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Battlestar Galactica", 8.7, 143688, 2004, 44, "Action,Adventure,Drama", "nm0247123", "tt0407362")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Calvaire", 6.2, 10987, 2004, 88, "Horror", "nm0239001", "tt0407621")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Doc Martin", 8.3, 10423, 2004, 46, "Comedy,Drama,Romance", "nm0093322", "tt0408381")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nobody Knows", 8.1, 22087, 2004, 141, "Drama", "nm0466153", "tt0408664")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Still Walking", 8.0, 11360, 2008, 115, "Drama", "nm0466153", "tt1087578")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Like Father, Like Son", 7.8, 18759, 2013, 121, "Drama", "nm0466153", "tt2331143")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Our Little Sister", 7.5, 10120, 2015, 127, "Drama,Family", "nm0466153", "tt3756788")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shoplifters", 8.0, 38378, 2018, 121, "Crime,Drama", "nm0466153", "tt8075192")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Edukators", 7.5, 29705, 2004, 127, "Drama,Romance", "nm0918326", "tt0408777")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flightplan", 6.3, 145223, 2005, 98, "Action,Drama,Mystery", "nm0777881", "tt0408790")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Time Traveler's Wife", 7.1, 134058, 2009, 107, "Drama,Fantasy,Romance", "nm0777881", "tt0452694")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("R.I.P.D.", 5.6, 111334, 2013, 96, "Action,Adventure,Comedy", "nm0777881", "tt0790736")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("RED", 7.0, 274528, 2010, 111, "Action,Comedy,Crime", "nm0777881", "tt1245526")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Insurgent", 6.2, 203001, 2015, 119, "Action,Adventure,Sci-Fi", "nm0777881", "tt2908446")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Allegiant", 5.7, 98007, 2016, 120, "Action,Adventure,Mystery", "nm0777881", "tt3410834")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Naruto", 8.2, 58517, 2002, 24, "Action,Adventure,Animation", "nm1618147", "tt0409591")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hustle & Flow", 7.3, 37082, 2005, 116, "Crime,Drama,Music", "nm0108132", "tt0410097")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Snake Moan", 6.9, 58855, 2006, 116, "Drama,Music", "nm0108132", "tt0462200")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Footloose", 5.9, 43846, 2011, 113, "Comedy,Drama,Music", "nm0108132", "tt1068242")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lake House", 6.8, 132011, 2006, 99, "Drama,Fantasy,Romance", "nm0002159", "tt0410297")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nim's Island", 6.0, 31927, 2008, 96, "Adventure,Family,Fantasy", "nm0505662", "tt0410377")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Little Manhattan", 7.5, 21374, 2005, 84, "Comedy,Family,Romance", "nm0505662", "tt0412922")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Taxidermia", 6.9, 15458, 2006, 91, "Comedy,Drama,Horror", "nm0701650", "tt0410730")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hell Ride", 5.1, 15065, 2008, 84, "Action,Drama,Thriller", "nm0084114", "tt0411475")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Medium", 6.9, 24477, 2005, 60, "Crime,Drama,Fantasy", "nm0003497", "tt0412175")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Veronica Mars", 8.3, 64440, 2004, 44, "Crime,Drama,Mystery", "nm0027413", "tt0412253")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brideshead Revisited", 6.7, 11570, 2008, 133, "Drama,Romance", "nm0418982", "tt0412536")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Becoming Jane", 7.1, 55255, 2007, 120, "Biography,Drama,Romance", "nm0418982", "tt0416508")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kinky Boots", 7.1, 17176, 2005, 107, "Comedy,Drama,Music", "nm0418982", "tt0434124")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Red Riding: The Year of Our Lord 1974", 7.0, 10919, 2009, 102, "Crime,Drama,Mystery", "nm0418982", "tt1259574")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Half Light", 6.0, 12789, 2006, 110, "Drama,Horror,Mystery", "nm0742194", "tt0412798")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Librarian: Quest for the Spear", 6.3, 17302, 2004, 92, "Action,Adventure,Comedy", "nm0936044", "tt0412915")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shrek the Third", 6.0, 260778, 2007, 93, "Adventure,Animation,Comedy", "nm1844237", "tt0413267")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Puss in Boots", 6.6, 135355, 2011, 90, "Action,Adventure,Animation", "nm1844237", "tt0448694")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Grey's Anatomy", 7.6, 218509, 2005, 41, "Drama,Romance", "nm0180085", "tt0413573")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Resident", 7.5, 14679, 2018, 60, "Drama", "nm0180085", "tt6483832")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pride & Prejudice", 7.8, 234252, 2005, 129, "Drama,Romance", "nm0942504", "tt0414387")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Atonement", 7.8, 231619, 2007, 123, "Drama,Mystery,Romance", "nm0942504", "tt0783233")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Soloist", 6.7, 49347, 2009, 117, "Biography,Drama,Music", "nm0942504", "tt0821642")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hanna", 6.8, 180883, 2011, 111, "Action,Drama,Thriller", "nm0942504", "tt0993842")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Anna Karenina", 6.6, 85942, 2012, 129, "Drama,Romance", "nm0942504", "tt1781769")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pan", 5.7, 56632, 2015, 111, "Adventure,Comedy,Family", "nm0942504", "tt3332064")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Darkest Hour", 7.4, 142768, 2017, 125, "Biography,Drama,History", "nm0942504", "tt4555426")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nosedive", 8.3, 43408, 2016, 63, "Drama,Sci-Fi,Thriller", "nm0942504", "tt5497778")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("District B13", 7.2, 63581, 2004, 84, "Action,Crime,Sci-Fi", "nm0603628", "tt0414852")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Taken", 7.8, 543306, 2008, 94, "Action,Thriller", "nm0603628", "tt0936501")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("From Paris with Love", 6.5, 107969, 2010, 92, "Action,Crime,Thriller", "nm0603628", "tt1179034")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Gunman", 5.8, 36775, 2015, 115, "Action,Crime,Drama", "nm0603628", "tt2515034")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Peppermint", 6.5, 40883, 2018, 101, "Action,Drama,Thriller", "nm0603628", "tt6850820")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zoey 101", 6.0, 12470, 2005, 30, "Comedy,Drama,Family", "nm0004597", "tt0415463")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Martian Child", 6.8, 19335, 2007, 106, "Comedy,Drama,Family", "nm0583675", "tt0415965")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Me and You and Everyone We Know", 7.3, 33633, 2005, 91, "Comedy,Drama", "nm0432380", "tt0415978")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mongol: The Rise of Genghis Khan", 7.2, 42602, 2007, 126, "Action,Biography,Drama", "nm0091076", "tt0416044")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Seventh Son", 5.5, 67352, 2014, 102, "Action,Adventure,Fantasy", "nm0091076", "tt1121096")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wolf Creek", 6.2, 64160, 2005, 99, "Horror,Thriller", "nm0572562", "tt0416315")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rogue", 6.2, 25976, 2007, 99, "Action,Adventure,Drama", "nm0572562", "tt0479528")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Belko Experiment", 6.1, 39465, 2016, 89, "Horror,Thriller", "nm0572562", "tt1082807")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Darkness", 4.4, 12656, 2016, 92, "Horror,Thriller", "nm0572562", "tt1878841")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wolf Creek 2", 6.1, 16186, 2013, 106, "Action,Horror", "nm0572562", "tt2004432")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jungle", 6.7, 37882, 2017, 115, "Biography,Drama,Thriller", "nm0572562", "tt3758172")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mighty Boosh", 8.3, 19184, 2003, 30, "Comedy,Fantasy,Musical", "nm1653753", "tt0416394")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paddington", 7.2, 87024, 2014, 95, "Adventure,Comedy,Family", "nm1653753", "tt1109624")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paddington 2", 7.8, 48938, 2017, 103, "Adventure,Comedy,Family", "nm1653753", "tt4468740")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bandidas", 5.7, 32617, 2006, 93, "Action,Comedy,Crime", "nm1461392", "tt0416496")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Max Manus: Man of War", 7.3, 25113, 2008, 118, "Action,Biography,Drama", "nm1461392", "tt1029235")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kon-Tiki", 7.2, 42475, 2012, 118, "Adventure,History", "nm1461392", "tt1613750")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pirates of the Caribbean: Dead Men Tell No Tales", 6.6, 235589, 2017, 129, "Action,Adventure,Fantasy", "nm1461392", "tt1790809")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lizard", 8.5, 11995, 2004, 115, "Comedy,Drama", "nm0846092", "tt0416960")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Must Love Dogs", 5.9, 29412, 2005, 98, "Comedy,Romance", "nm0325204", "tt0417001")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pledge This!", 1.8, 16552, 2006, 91, "Comedy", "nm1659908", "tt0417056")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Avatar: The Last Airbender", 9.2, 198795, 2005, 23, "Action,Adventure,Animation", "nm1690966", "tt0417299")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("North & South", 8.7, 27597, 2004, 235, "Drama,Romance", "nm1093053", "tt0417349")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Annapolis", 5.9, 19714, 2006, 108, "Drama,Romance,Sport", "nm0510912", "tt0417433")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fast and the Furious: Tokyo Drift", 6.0, 223872, 2006, 104, "Action,Crime,Thriller", "nm0510912", "tt0463985")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fast & Furious", 6.6, 246742, 2009, 107, "Action,Adventure,Thriller", "nm0510912", "tt1013752")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fast Five", 7.3, 334689, 2011, 130, "Action,Adventure,Thriller", "nm0510912", "tt1596343")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fast & Furious 6", 7.1, 351377, 2013, 130, "Action,Adventure,Thriller", "nm0510912", "tt1905041")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Trek Beyond", 7.1, 213327, 2016, 122, "Action,Adventure,Sci-Fi", "nm0510912", "tt2660888")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Western Book of the Dead", 7.8, 12258, 2015, 60, "Crime,Drama,Mystery", "nm0510912", "tt3792838")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Factotum", 6.6, 13350, 2005, 94, "Comedy,Drama,Romance", "nm0357584", "tt0417658")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mujhse Shaadi Karogi", 6.7, 12334, 2004, 163, "Comedy,Drama,Musical", "nm0223522", "tt0418362")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Partner", 5.7, 10227, 2007, 155, "Comedy,Drama,Romance", "nm0223522", "tt0807758")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dreamer: Inspired by a True Story", 6.8, 11512, 2005, 106, "Drama,Family,Sport", "nm0309691", "tt0418647")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Junebug", 6.9, 21421, 2005, 106, "Comedy,Drama", "nm0607275", "tt0418773")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lie with Me", 5.3, 13647, 2005, 93, "Drama,Romance", "nm0899364", "tt0418832")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Phir Hera Pheri", 6.6, 13611, 2006, 153, "Comedy,Crime", "nm0903423", "tt0419058")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Three Burials of Melquiades Estrada", 7.4, 37326, 2005, 121, "Adventure,Crime,Drama", "nm0000169", "tt0419294")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sunset Limited", 7.4, 26548, 2011, 91, "Drama", "nm0000169", "tt1510938")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Homesman", 6.6, 28157, 2014, 122, "Drama,Western", "nm0000169", "tt2398231")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Foster's Home for Imaginary Friends", 7.6, 16963, 2004, 30, "Adventure,Animation,Comedy", "nm0269260", "tt0419326")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dead Man's Shoes", 7.6, 46741, 2004, 90, "Crime,Drama,Thriller", "nm0276349", "tt0419677")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("This Is England", 7.7, 110958, 2006, 101, "Crime,Drama", "nm0276349", "tt0480025")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("This Is England '86", 8.3, 10317, 2010, 47, "Crime,Drama", "nm0276349", "tt1685471")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In the Land of Women", 6.4, 30209, 2007, 97, "Comedy,Drama,Romance", "nm0440459", "tt0419843")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The First Time", 6.8, 63320, 2012, 95, "Comedy,Drama,Romance", "nm0440459", "tt1763303")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Marine", 4.7, 31083, 2006, 92, "Action,Comedy,Drama", "nm1669022", "tt0419946")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mr. Woodcock", 5.1, 34032, 2007, 87, "Comedy,Romance,Sport", "nm0318916", "tt0419984")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lars and the Real Girl", 7.3, 132578, 2007, 106, "Comedy,Drama,Romance", "nm0318916", "tt0805564")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fright Night", 6.3, 95458, 2011, 106, "Comedy,Horror", "nm0318916", "tt1438176")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Million Dollar Arm", 7.0, 41418, 2014, 124, "Biography,Drama,Sport", "nm0318916", "tt1647668")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Finest Hours", 6.7, 57010, 2016, 117, "Action,Drama,History", "nm0318916", "tt2025690")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I, Tonya", 7.5, 149261, 2017, 120, "Biography,Comedy,Drama", "nm0318916", "tt5580036")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Tale of Despereaux", 6.1, 34334, 2008, 93, "Adventure,Animation,Comedy", "nm0271402", "tt0420238")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Three... Extremes", 7.0, 17850, 2004, 118, "Horror", "nm0150897", "tt0420251")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Stanford Prison Experiment", 6.9, 33329, 2015, 122, "Biography,Drama,History", "nm1547859", "tt0420293")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Daniel the Wizard", 1.8, 13768, 2004, 81, "Comedy,Crime,Fantasy", "nm0518579", "tt0421051")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Street Kings", 6.8, 103646, 2008, 109, "Action,Crime,Drama", "nm0043742", "tt0421073")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Harsh Times", 6.9, 60627, 2005, 116, "Action,Crime,Drama", "nm0043742", "tt0433387")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Suicide Squad", 6.0, 547386, 2016, 123, "Action,Adventure,Fantasy", "nm0043742", "tt1386697")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sabotage", 5.7, 56239, 2014, 109, "Action,Crime,Drama", "nm0043742", "tt1742334")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("End of Watch", 7.6, 214206, 2012, 109, "Action,Crime,Drama", "nm0043742", "tt1855199")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fury", 7.6, 389647, 2014, 134, "Action,Drama,War", "nm0043742", "tt2713180")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bright", 6.4, 152280, 2017, 117, "Action,Crime,Fantasy", "nm0043742", "tt5519340")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Control", 7.7, 58485, 2007, 122, "Biography,Drama,Music", "nm0179221", "tt0421082")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The American", 6.3, 87746, 2010, 105, "Crime,Drama,Thriller", "nm0179221", "tt1440728")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Most Wanted Man", 6.8, 68673, 2014, 122, "Crime,Drama,Thriller", "nm0179221", "tt1972571")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Proposition", 7.4, 47917, 2005, 104, "Crime,Drama,Western", "nm0384825", "tt0421238")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Road", 7.2, 210499, 2009, 111, "Drama", "nm0384825", "tt0898367")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lawless", 7.3, 216342, 2012, 116, "Crime,Drama", "nm0384825", "tt1212450")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Triple 9", 6.3, 61334, 2016, 115, "Crime,Thriller", "nm0384825", "tt1712261")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crocodile", 7.3, 30489, 2017, 59, "Drama,Sci-Fi,Thriller", "nm0384825", "tt5710976")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Avrupa Yakasi", 8.5, 13951, 2004, 60, "Comedy", "nm1856836", "tt0421291")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fullmetal Alchemist", 8.6, 56333, 2003, 24, "Action,Adventure,Animation", "nm1159782", "tt0421357")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kurtlar Vadisi", 7.3, 11131, 2003, 65, "Action,Crime,Drama", "nm0801543", "tt0421384")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Imagine Me & You", 6.8, 27952, 2005, 90, "Comedy,Drama,Romance", "nm0662530", "tt0421994")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Now Is Good", 7.1, 31790, 2012, 103, "Drama,Romance", "nm0662530", "tt1937264")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mamma Mia! Here We Go Again", 6.7, 65192, 2018, 114, "Comedy,Musical,Romance", "nm0662530", "tt6911608")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dhoom", 6.7, 16665, 2004, 129, "Action,Crime,Thriller", "nm1189376", "tt0422091")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dhoom 2", 6.5, 21807, 2006, 152, "Action,Crime,Thriller", "nm1189376", "tt0441048")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Diary of a Mad Black Woman", 5.7, 13026, 2005, 116, "Comedy,Drama,Romance", "nm0335337", "tt0422093")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hatchet", 5.7, 27184, 2006, 85, "Comedy,Horror,Thriller", "nm1697112", "tt0422401")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hatchet II", 5.5, 11538, 2010, 85, "Action,Comedy,Horror", "nm1697112", "tt1270835")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Frozen", 6.1, 63197, 2010, 93, "Drama,Thriller", "nm1697112", "tt1323045")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sherrybaby", 6.6, 11183, 2006, 96, "Drama", "nm0172877", "tt0423169")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Surf's Up", 6.7, 63842, 2007, 85, "Animation,Comedy,Family", "nm0105169", "tt0423294")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Green Wing", 8.3, 10363, 2004, 65, "Comedy,Drama", "nm1215179", "tt0423661")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Samurai Champloo", 8.6, 35594, 2004, 24, "Action,Adventure,Animation", "nm2408470", "tt0423731")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Charlie Bartlett", 7.0, 61133, 2007, 97, "Comedy,Drama,Romance", "nm0689343", "tt0423977")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Joyeux Noel", 7.7, 25875, 2005, 116, "Drama,History,Music", "nm0137228", "tt0424205")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Turtles Can Fly", 8.1, 16469, 2004, 98, "Drama,War", "nm0315842", "tt0424227")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Balls of Fury", 5.3, 39239, 2007, 90, "Comedy,Crime,Sport", "nm0304830", "tt0424823")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Reno 911!: Miami", 5.9, 25668, 2007, 84, "Comedy,Crime", "nm0304830", "tt0499554")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Candy", 7.3, 41182, 2006, 116, "Drama,Romance", "nm0035462", "tt0424880")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Employee of the Month", 5.5, 42443, 2006, 103, "Comedy,Romance", "nm0177637", "tt0424993")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Outsourced", 7.0, 10857, 2006, 103, "Comedy,Drama,Romance", "nm0420112", "tt0425326")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pardon", 8.2, 16365, 2005, 94, "Comedy,Drama", "nm1729063", "tt0425333")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Run, Fat Boy, Run", 6.6, 63846, 2007, 100, "Comedy,Romance,Sport", "nm0001710", "tt0425413")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Trust", 6.9, 39703, 2010, 106, "Crime,Drama,Thriller", "nm0001710", "tt1529572")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Suite Life of Zack & Cody", 6.4, 29789, 2005, 30, "Comedy,Family", "nm0761349", "tt0426371")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Feast", 6.3, 28431, 2005, 95, "Action,Comedy,Horror", "nm0347657", "tt0426459")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Piranha 3DD", 3.7, 37711, 2012, 83, "Comedy,Horror", "nm0347657", "tt1714203")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sophie Scholl: The Final Days", 7.6, 25212, 2005, 120, "Biography,Crime,Drama", "nm0745131", "tt0426578")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Superhero Movie", 4.5, 60504, 2008, 75, "Action,Comedy", "nm0563301", "tt0426592")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("August Rush", 7.5, 99870, 2007, 114, "Drama,Music", "nm0792202", "tt0426931")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thank You for Smoking", 7.6, 207224, 2005, 92, "Comedy,Drama", "nm0718646", "tt0427944")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Juno", 7.4, 470437, 2007, 96, "Comedy,Drama", "nm0718646", "tt0467406")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Up in the Air", 7.4, 303901, 2009, 109, "Comedy,Drama,Romance", "nm0718646", "tt1193138")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Young Adult", 6.3, 75259, 2011, 94, "Comedy,Drama", "nm0718646", "tt1625346")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Labor Day", 6.9, 39836, 2013, 111, "Drama,Romance", "nm0718646", "tt1967545")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Men, Women & Children", 6.7, 28528, 2014, 119, "Comedy,Drama", "nm0718646", "tt3179568")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tully", 7.0, 43971, 2018, 95, "Comedy,Drama,Mystery", "nm0718646", "tt5610554")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hollywoodland", 6.5, 31687, 2006, 126, "Biography,Crime,Drama", "nm0002339", "tt0427969")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Remember Me", 7.1, 130892, 2010, 113, "Drama,Romance", "nm0002339", "tt1403981")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("March of the Penguins", 7.5, 53845, 2005, 80, "Documentary,Family", "nm0415207", "tt0428803")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Moment to Remember", 8.2, 19886, 2004, 117, "Drama,Romance", "nm0497565", "tt0428870")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Aquamarine", 5.3, 36046, 2006, 104, "Comedy,Family,Fantasy", "nm0020491", "tt0429591")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ramona and Beezus", 6.5, 16315, 2010, 103, "Adventure,Comedy,Family", "nm0020491", "tt0493949")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stick It", 6.4, 25432, 2006, 103, "Comedy,Drama,Sport", "nm0070566", "tt0430634")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Women", 5.0, 19478, 2008, 114, "Comedy,Drama", "nm0257606", "tt0430770")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Saw II", 6.6, 220432, 2005, 93, "Horror,Mystery", "nm1135423", "tt0432348")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Saw III", 6.2, 168473, 2006, 108, "Horror,Mystery,Thriller", "nm1135423", "tt0489270")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Saw IV", 5.9, 132765, 2007, 93, "Horror,Mystery,Thriller", "nm1135423", "tt0890870")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Repo! The Genetic Opera", 6.6, 22575, 2008, 98, "Horror,Musical,Sci-Fi", "nm1135423", "tt0963194")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mother's Day", 6.3, 15177, 2010, 112, "Drama,Horror,Thriller", "nm1135423", "tt1434435")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("11-11-11", 3.9, 11776, 2011, 90, "Horror,Mystery,Thriller", "nm1135423", "tt1712159")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tales of Halloween", 5.5, 10421, 2015, 92, "Comedy,Horror", "nm1135423", "tt4163020")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Factory Girl", 6.4, 20161, 2006, 90, "Biography,Drama", "nm0382584", "tt0432402")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Casino Jack", 6.2, 16263, 2010, 108, "Biography,Comedy,Crime", "nm0382584", "tt1194417")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Numb3rs", 6.9, 37583, 2005, 43, "Crime,Drama,Mystery", "nm0779641", "tt0433309")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Everybody Hates Chris", 7.4, 32166, 2005, 22, "Comedy", "nm0779641", "tt0460637")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Unforgettable", 6.7, 14954, 2011, 60, "Crime,Drama,Mystery", "nm0779641", "tt1842530")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Daybreakers", 6.4, 117788, 2009, 98, "Action,Fantasy,Horror", "nm1294962", "tt0433362")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Return", 4.7, 11224, 2006, 85, "Horror,Mystery,Thriller", "nm0438090", "tt0433442")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Senna", 8.6, 56413, 2010, 106, "Biography,Documentary,Sport", "nm0438090", "tt1424432")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Amy", 7.8, 44677, 2015, 128, "Biography,Documentary,Music", "nm0438090", "tt2870648")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("V for Vendetta", 8.2, 965345, 2005, 132, "Action,Drama,Sci-Fi", "nm0574625", "tt0434409")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ninja Assassin", 6.3, 65350, 2009, 99, "Action,Thriller", "nm0574625", "tt1186367")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Raven", 6.4, 80104, 2012, 110, "Crime,Mystery,Thriller", "nm0574625", "tt1486192")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Survivor", 5.6, 29100, 2015, 96, "Action,Crime,Thriller", "nm0574625", "tt3247714")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Breaking In", 5.4, 10989, 2018, 88, "Action,Crime,Drama", "nm0574625", "tt7137846")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monster", 8.6, 16856, 2004, 24, "Animation,Crime,Drama", "nm0463628", "tt0434706")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Conversations with Other Women", 7.0, 11516, 2005, 84, "Comedy,Drama,Romance", "nm0134396", "tt0435623")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Keith", 7.4, 34200, 2008, 93, "Drama,Romance", "nm1383079", "tt0435679")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kidulthood", 6.8, 17094, 2006, 89, "Crime,Drama,Romance", "nm0399630", "tt0435680")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Aristocrats", 6.4, 15695, 2005, 89, "Comedy,Documentary", "nm0422710", "tt0436078")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Friends with Money", 5.8, 24859, 2006, 88, "Comedy,Drama,Romance", "nm0392237", "tt0436331")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Please Give", 6.6, 10691, 2010, 87, "Comedy,Drama", "nm0392237", "tt0878835")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Enough Said", 7.0, 56237, 2013, 93, "Comedy,Drama,Romance", "nm0392237", "tt2390361")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("G-Force", 5.1, 39919, 2009, 88, "Action,Adventure,Animation", "nm0947087", "tt0436339")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Doctor Who", 8.6, 186275, 2005, 45, "Adventure,Drama,Family", "nm0363865", "tt0436992")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hell's Kitchen", 7.0, 17226, 2005, 42, "Game-Show,Reality-TV", "nm0391116", "tt0437005")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("See No Evil", 5.1, 24694, 2006, 84, "Action,Horror,Thriller", "nm0201283", "tt0437179")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paper Man", 6.6, 17494, 2009, 110, "Comedy,Drama", "nm1802251", "tt0437405")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Robot Chicken", 7.7, 37843, 2005, 11, "Action,Animation,Comedy", "nm0001293", "tt0437745")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Something New", 6.7, 12115, 2006, 99, "Comedy,Drama,Romance", "nm1065402", "tt0437777")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sisterhood of the Traveling Pants 2", 6.2, 25818, 2008, 119, "Comedy,Drama,Romance", "nm1065402", "tt1018785")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Just Wright", 5.9, 12668, 2010, 100, "Comedy,Romance,Sport", "nm1065402", "tt1407061")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Empire", 7.4, 36145, 2015, 42, "Drama,Music", "nm1065402", "tt3228904")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Akeelah and the Bee", 7.3, 17426, 2006, 112, "Drama,Family", "nm0040328", "tt0437800")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Behind the Mask: The Rise of Leslie Vernon", 6.7, 20086, 2006, 92, "Comedy,Horror,Thriller", "nm1795664", "tt0437857")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ice Age: The Meltdown", 6.8, 239267, 2006, 91, "Adventure,Animation,Comedy", "nm0757858", "tt0438097")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rio", 6.9, 194264, 2011, 96, "Adventure,Animation,Comedy", "nm0757858", "tt1436562")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rio 2", 6.3, 73581, 2014, 101, "Adventure,Animation,Comedy", "nm0757858", "tt2357291")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ferdinand", 6.7, 41914, 2017, 108, "Adventure,Animation,Comedy", "nm0757858", "tt3411444")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Running with Scissors", 6.2, 21398, 2006, 116, "Comedy,Drama", "nm0614682", "tt0439289")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eat Pray Love", 5.8, 79532, 2010, 133, "Drama,Romance", "nm0614682", "tt0879870")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Normal Heart", 7.9, 31630, 2014, 132, "Drama,History,Romance", "nm0614682", "tt1684226")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Feud: Bette and Joan", 8.5, 14720, 2017, 45, "Biography,Drama", "nm0614682", "tt1984119")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Crime Story", 8.4, 70349, 2016, 42, "Biography,Crime,Drama", "nm0614682", "tt2788432")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Slither", 6.4, 70415, 2006, 95, "Comedy,Horror,Sci-Fi", "nm0348181", "tt0439815")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Super", 6.7, 71490, 2010, 96, "Action,Comedy,Drama", "nm0348181", "tt1512235")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Guardians of the Galaxy", 8.0, 973334, 2014, 121, "Action,Adventure,Comedy", "nm0348181", "tt2015381")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Guardians of the Galaxy Vol. 2", 7.6, 505226, 2017, 136, "Action,Adventure,Comedy", "nm0348181", "tt3896198")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shutter", 7.1, 37914, 2004, 97, "Horror,Mystery,Thriller", "nm1802294", "tt0440803")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kung Fu Panda", 7.5, 388809, 2008, 92, "Action,Adventure,Animation", "nm0651706", "tt0441773")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Little Prince", 7.7, 51054, 2015, 108, "Adventure,Animation,Drama", "nm0651706", "tt1754656")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lonely Hearts", 6.4, 19552, 2006, 108, "Biography,Crime,Drama", "nm0733149", "tt0441774")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Phantom", 5.8, 12940, 2013, 98, "Drama,History,Thriller", "nm0733149", "tt1922685")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stay Alive", 5.1, 28870, 2006, 85, "Fantasy,Horror,Mystery", "nm0068587", "tt0441796")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Devil Inside", 4.2, 33793, 2012, 83, "Horror", "nm0068587", "tt1560985")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Boy", 6.0, 70679, 2016, 97, "Horror,Mystery,Thriller", "nm0068587", "tt3882082")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vantage Point", 6.6, 139806, 2008, 90, "Action,Crime,Drama", "nm0871428", "tt0443274")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dredd", 7.1, 237765, 2012, 95, "Action,Crime,Sci-Fi", "nm0871428", "tt1343727")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan", 7.3, 336110, 2006, 84, "Comedy", "nm0153078", "tt0443453")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Religulous", 7.6, 56341, 2008, 101, "Comedy,Documentary,War", "nm0153078", "tt0815241")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brüno", 5.8, 135556, 2009, 81, "Comedy", "nm0153078", "tt0889583")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Dictator", 6.4, 254734, 2012, 83, "Comedy", "nm0153078", "tt1645170")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Before We Go", 6.8, 46685, 2014, 95, "Comedy,Drama,Romance", "nm0262635", "tt0443465")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Condemned", 6.0, 48687, 2007, 113, "Action,Crime,Thriller", "nm0007045", "tt0443473")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hoodwinked!", 6.4, 53406, 2005, 80, "Animation,Comedy,Crime", "nm0498555", "tt0443536")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Illusionist", 7.6, 339763, 2006, 110, "Drama,Fantasy,History", "nm1139726", "tt0443543")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lucky Ones", 6.9, 12968, 2008, 115, "Comedy,Drama,War", "nm1139726", "tt0981072")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Limitless", 7.4, 499032, 2011, 105, "Sci-Fi,Thriller", "nm1139726", "tt1219289")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Divergent", 6.7, 404332, 2014, 139, "Action,Adventure,Mystery", "nm1139726", "tt1840309")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Upside", 6.8, 32567, 2017, 126, "Comedy,Drama", "nm1139726", "tt1987680")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Undisputed 2: Last Man Standing", 7.1, 31522, 2006, 98, "Action,Crime,Drama", "nm0282708", "tt0443676")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Undisputed 3: Redemption", 7.4, 36445, 2010, 96, "Action,Crime,Drama", "nm0282708", "tt1156466")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ninja", 5.5, 11542, 2009, 86, "Action,Crime,Drama", "nm0282708", "tt1182921")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ninja: Shadow of a Tear", 6.2, 10568, 2013, 95, "Action,Crime,Thriller", "nm0282708", "tt2458106")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The X Files: I Want to Believe", 5.9, 86367, 2008, 104, "Drama,Horror,Mystery", "nm0004810", "tt0443701")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Days of Glory", 7.0, 13435, 2006, 128, "Drama,War", "nm0098953", "tt0444182")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Keeping Mum", 6.8, 31801, 2005, 99, "Comedy,Crime", "nm0425894", "tt0444653")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paradise Now", 7.4, 21532, 2005, 91, "Crime,Drama,Thriller", "nm0009463", "tt0445620")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mountain Between Us", 6.4, 58992, 2017, 112, "Drama,Romance", "nm0009463", "tt2226597")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Omar", 7.5, 12279, 2013, 98, "Crime,Drama,Romance", "nm0009463", "tt2852406")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blades of Glory", 6.3, 149303, 2007, 93, "Comedy,Sport", "nm0330347", "tt0445934")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Invincible", 7.1, 61624, 2006, 105, "Biography,Drama,Sport", "nm0179697", "tt0445990")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Point Break", 5.3, 54699, 2015, 114, "Action,Crime,Sport", "nm0179697", "tt2058673")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Take the Lead", 6.6, 23948, 2006, 118, "Drama,Music", "nm0295107", "tt0446046")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Secret Circle", 7.3, 43636, 2011, 45, "Drama,Fantasy,Horror", "nm0295107", "tt1837654")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Driving Lessons", 6.7, 10347, 2006, 98, "Comedy,Drama", "nm0110591", "tt0446687")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Painted Veil", 7.5, 86059, 2006, 125, "Drama,Romance", "nm0192845", "tt0446755")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stone", 5.4, 38925, 2010, 105, "Drama,Thriller", "nm0192845", "tt1423995")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tracks", 7.2, 25684, 2013, 112, "Adventure,Biography,Drama", "nm0192845", "tt2167266")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chappaquiddick", 6.5, 10104, 2017, 106, "Drama,History,Thriller", "nm0192845", "tt5270948")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Night Listener", 5.9, 14214, 2006, 91, "Crime,Drama,Mystery", "nm0828099", "tt0448075")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shazam!", 7.1, 182936, 2019, 132, "Action,Adventure,Comedy", "nm2497546", "tt0448115")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lights Out", 6.3, 103793, 2016, 81, "Drama,Horror,Mystery", "nm2497546", "tt4786282")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Annabelle: Creation", 6.5, 97944, 2017, 109, "Horror,Mystery,Thriller", "nm2497546", "tt5140878")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eragon", 5.1, 118071, 2006, 104, "Action,Adventure,Family", "nm0266777", "tt0449010")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Little Miss Sunshine", 7.8, 414747, 2006, 101, "Comedy,Drama", "nm0206760", "tt0449059")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ruby Sparks", 7.2, 91806, 2012, 104, "Comedy,Drama,Fantasy", "nm0206760", "tt1839492")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Battle of the Sexes", 6.7, 44844, 2017, 121, "Biography,Comedy,Drama", "nm0206760", "tt4622512")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("London", 6.5, 21399, 2005, 92, "Drama,Romance", "nm1862705", "tt0449061")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Passengers", 5.9, 32461, 2008, 93, "Drama,Fantasy,Horror", "nm0006554", "tt0449487")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mother and Child", 7.2, 11080, 2009, 125, "Drama,Romance", "nm0006554", "tt1121977")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Albert Nobbs", 6.7, 22420, 2011, 113, "Drama,Romance", "nm0006554", "tt1602098")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ghajini", 7.5, 11307, 2005, 175, "Action,Drama,Mystery", "nm1436693", "tt0449951")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ghajini", 7.3, 52784, 2008, 183, "Action,Drama,Mystery", "nm1436693", "tt1166100")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thuppakki", 7.8, 21684, 2012, 165, "Action,Thriller", "nm1436693", "tt2187153")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Holiday", 7.2, 23597, 2014, 160, "Action,Thriller", "nm1436693", "tt2556308")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kaththi", 7.9, 15941, 2014, 166, "Action,Drama", "nm1436693", "tt3801314")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sarkar", 6.9, 11211, 2018, 163, "Action,Drama", "nm1436693", "tt7715202")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Unknown", 6.5, 28348, 2006, 85, "Crime,Drama,Mystery", "nm1868746", "tt0450340")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Horton Hears a Who!", 6.8, 122855, 2008, 86, "Adventure,Animation,Comedy", "nm0553942", "tt0451079")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ice Age: Continental Drift", 6.6, 178823, 2012, 88, "Adventure,Animation,Comedy", "nm0553942", "tt1667889")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Peanuts Movie", 7.1, 39720, 2015, 88, "Adventure,Animation,Comedy", "nm0553942", "tt2452042")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paheli", 6.5, 11788, 2005, 140, "Drama,Fantasy,Romance", "nm0657505", "tt0451850")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Criminal Minds", 8.1, 141259, 2005, 42, "Crime,Drama,Mystery", "nm0001513", "tt0452046")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eureka", 7.9, 45333, 2006, 60, "Adventure,Comedy,Drama", "nm0001513", "tt0796264")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Suits", 8.5, 336087, 2011, 44, "Comedy,Drama", "nm0001513", "tt1632701")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gone Baby Gone", 7.6, 237035, 2007, 114, "Crime,Drama,Mystery", "nm0000255", "tt0452623")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Town", 7.5, 327142, 2010, 125, "Crime,Drama,Thriller", "nm0000255", "tt0840361")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Argo", 7.7, 541499, 2012, 120, "Biography,Drama,Thriller", "nm0000255", "tt1024648")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Live by Night", 6.4, 48206, 2016, 129, "Action,Crime,Drama", "nm0000255", "tt2361317")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Good Luck Chuck", 5.6, 82262, 2007, 96, "Comedy,Romance", "nm0375068", "tt0452625")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("TMNT", 6.2, 58938, 2007, 87, "Action,Adventure,Animation", "nm1083489", "tt0453556")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dylan Dog: Dead of Night", 5.1, 14221, 2010, 107, "Action,Comedy,Crime", "nm1083489", "tt1013860")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Iqbal", 8.1, 14782, 2005, 132, "Drama,Sport", "nm0474398", "tt0453729")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blind Dating", 6.1, 11406, 2006, 95, "Comedy,Romance", "nm0005077", "tt0454084")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Waiting for Forever", 6.0, 19292, 2010, 95, "Comedy,Drama,Romance", "nm0005077", "tt1296898")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pulse", 4.8, 27258, 2006, 90, "Horror,Sci-Fi", "nm0814517", "tt0454919")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Pursuit of Happyness", 8.0, 412384, 2006, 117, "Biography,Drama", "nm0610831", "tt0454921")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Seven Pounds", 7.6, 271842, 2008, 123, "Drama", "nm0610831", "tt0814314")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Playing for Keeps", 5.7, 27616, 2012, 105, "Comedy,Romance,Sport", "nm0610831", "tt1540128")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fathers & Daughters", 7.1, 21652, 2015, 116, "Drama", "nm0610831", "tt2582502")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("She's the Man", 6.3, 138719, 2006, 105, "Comedy,Romance,Sport", "nm0275698", "tt0454945")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Game Plan", 6.1, 54528, 2007, 110, "Comedy,Family,Sport", "nm0275698", "tt0492956")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Parental Guidance", 6.0, 23943, 2012, 105, "Comedy,Family", "nm0275698", "tt1047540")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Race to Witch Mountain", 5.7, 52074, 2009, 98, "Action,Adventure,Family", "nm0275698", "tt1075417")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("You Again", 5.8, 47187, 2010, 105, "Comedy,Romance", "nm0275698", "tt1414382")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paul Blart: Mall Cop 2", 4.4, 31517, 2015, 94, "Action,Comedy,Crime", "nm0275698", "tt3450650")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Let's Go to Prison", 6.0, 22045, 2006, 84, "Comedy,Crime", "nm0644022", "tt0454987")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Brothers Solomon", 5.3, 10265, 2007, 93, "Comedy", "nm0644022", "tt0784972")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Prison Break", 8.3, 437933, 2005, 44, "Action,Crime,Drama", "nm0744794", "tt0455275")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Life Unexpected", 7.5, 13322, 2010, 60, "Drama", "nm0744794", "tt1442109")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Aqua Teen Hunger Force Colon Movie Film for Theaters", 6.7, 12941, 2007, 86, "Action,Adventure,Animation", "nm0537410", "tt0455326")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Breed", 5.1, 11701, 2006, 91, "Action,Adventure,Comedy", "nm0557608", "tt0455362")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Madea's Family Reunion", 5.2, 10194, 2006, 107, "Comedy,Drama,Romance", "nm1347153", "tt0455612")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Why Did I Get Married?", 5.8, 11704, 2007, 113, "Comedy,Drama", "nm1347153", "tt0906108")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Madea Goes to Jail", 4.4, 10969, 2009, 103, "Comedy,Crime,Drama", "nm1347153", "tt1142800")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Temptation: Confessions of a Marriage Counselor", 5.0, 11065, 2013, 111, "Drama,Thriller", "nm1347153", "tt2070862")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hitcher", 5.6, 38980, 2007, 84, "Crime,Horror,Thriller", "nm0583515", "tt0455960")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Death of Mr. Lazarescu", 7.9, 12372, 2005, 153, "Comedy,Drama", "nm1090998", "tt0456149")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Child", 7.5, 16623, 2005, 95, "Crime,Drama,Romance", "nm0201095", "tt0456396")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Grandma's Boy", 7.0, 74379, 2006, 94, "Comedy", "nm0329650", "tt0456554")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mr. Magorium's Wonder Emporium", 6.2, 40783, 2007, 93, "Comedy,Family,Fantasy", "nm1590998", "tt0457419")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fido", 6.7, 27273, 2006, 93, "Comedy,Drama,Horror", "nm0192933", "tt0457572")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lilo & Stitch 2: Stitch Has a Glitch", 6.3, 10701, 2005, 68, "Animation,Comedy,Drama", "nm1902232", "tt0457993")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Igor", 6.0, 21597, 2008, 87, "Animation,Comedy,Family", "nm1902232", "tt0465502")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Emoji Movie", 3.2, 50010, 2017, 86, "Adventure,Animation,Comedy", "nm1902232", "tt4877122")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Colbert Report", 8.4, 37160, 2005, 30, "Comedy,News,Talk-Show", "nm2650185", "tt0458254")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Wars: The Clone Wars", 8.1, 40629, 2008, 23, "Action,Adventure,Animation", "nm2198694", "tt0458290")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ex", 5.5, 16365, 2006, 89, "Comedy,Romance", "nm0673400", "tt0458364")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Our Idiot Brother", 6.4, 81450, 2011, 90, "Comedy,Drama", "nm0673400", "tt1637706")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Juliet, Naked", 6.6, 13800, 2018, 97, "Comedy,Drama,Music", "nm0673400", "tt5607096")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Right at Your Door", 6.1, 12321, 2006, 96, "Drama,Sci-Fi,Thriller", "nm0329755", "tt0458367")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Darkest Hour", 4.9, 55534, 2011, 89, "Action,Adventure,Horror", "nm0329755", "tt1093357")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Long Way Down", 6.4, 29594, 2014, 96, "Comedy,Drama", "nm0154312", "tt0458413")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Heartbreaker", 6.7, 24252, 2010, 105, "Comedy,Romance", "nm0154312", "tt1465487")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sin City: A Dame to Kill For", 6.5, 143177, 2014, 102, "Action,Crime,Thriller", "nm0588340", "tt0458481")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Spirit", 4.8, 58024, 2008, 103, "Action,Adventure,Crime", "nm0588340", "tt0831887")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("X-Men Origins: Wolverine", 6.6, 444175, 2009, 107, "Action,Adventure,Sci-Fi", "nm0004303", "tt0458525")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tsotsi", 7.2, 26902, 2005, 94, "Crime,Drama", "nm0004303", "tt0468565")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rendition", 6.8, 52607, 2007, 122, "Drama,Thriller", "nm0004303", "tt0804522")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ender's Game", 6.6, 213725, 2013, 114, "Action,Adventure,Fantasy", "nm0004303", "tt1731141")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eye in the Sky", 7.3, 73507, 2015, 102, "Drama,Thriller,War", "nm0004303", "tt2057392")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Thick of It", 8.7, 18033, 2005, 29, "Comedy", "nm1128050", "tt0459159")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hustle", 5.4, 23605, 2019, 93, "Comedy,Crime", "nm1128050", "tt1298644")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Name Is Earl", 7.7, 92048, 2005, 22, "Comedy", "nm0002973", "tt0460091")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wizards of Waverly Place: The Movie", 6.2, 13619, 2009, 94, "Adventure,Comedy,Drama", "nm0002973", "tt1369845")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blue Mountain State: The Rise of Thadland", 5.8, 13975, 2016, 90, "Comedy,Sport", "nm0002973", "tt3748440")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ghost Whisperer", 6.3, 41080, 2005, 60, "Drama,Fantasy", "nm0761401", "tt0460644")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("How I Met Your Mother", 8.3, 553284, 2005, 22, "Comedy,Romance", "nm0338576", "tt0460649")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Overboard", 5.9, 28082, 2018, 112, "Comedy,Romance", "nm0338576", "tt1563742")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Invasion", 7.5, 11331, 2005, 60, "Drama,Horror,Mystery", "nm0872823", "tt0460651")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pushing Daisies", 8.3, 51664, 2007, 44, "Comedy,Drama,Fantasy", "nm0872823", "tt0925266")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Drop Dead Diva", 7.4, 17133, 2009, 60, "Comedy,Drama", "nm0872823", "tt1280822")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Parenthood", 8.2, 28658, 2010, 60, "Comedy,Drama", "nm0872823", "tt1416765")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Goliath", 8.2, 26413, 2016, 60, "Drama", "nm0872823", "tt4687880")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Unit", 8.1, 19009, 2006, 60, "Action,Drama,Thriller", "nm0924693", "tt0460690")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The 100", 7.7, 185312, 2014, 43, "Drama,Mystery,Sci-Fi", "nm0924693", "tt2661044")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Guts", 8.7, 11774, 2010, 45, "Drama,Horror,Thriller", "nm0533713", "tt1628064")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Salud", 9.6, 16662, 2011, 47, "Crime,Drama,Thriller", "nm0533713", "tt1683085")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thirty-Eight Snub", 8.3, 11693, 2011, 60, "Crime,Drama,Thriller", "nm0533713", "tt1683089")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shotgun", 8.7, 10980, 2011, 47, "Crime,Drama,Thriller", "nm0533713", "tt1683092")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pretty Much Dead Already", 9.3, 12774, 2011, 43, "Drama,Horror,Thriller", "nm0533713", "tt1804271")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Second Sons", 9.0, 22164, 2013, 56, "Action,Adventure,Drama", "nm0533713", "tt2178806")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bear and the Maiden Fair", 8.7, 21594, 2013, 58, "Action,Adventure,Drama", "nm0533713", "tt2178814")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Buried", 9.2, 15824, 2013, 48, "Crime,Drama,Thriller", "nm0533713", "tt2301443")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("To'hajiilee", 9.8, 28248, 2013, 47, "Crime,Drama,Thriller", "nm0533713", "tt2301449")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Madrigal", 8.9, 14008, 2012, 48, "Crime,Drama,Thriller", "nm0533713", "tt2301457")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gliding Over All", 9.6, 18889, 2012, 48, "Crime,Drama,Thriller", "nm0533713", "tt2301469")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Oathkeeper", 8.8, 23121, 2014, 55, "Action,Adventure,Drama", "nm0533713", "tt2972428")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("First of His Name", 8.7, 22362, 2014, 53, "Action,Adventure,Drama", "nm0533713", "tt3060856")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A", 9.2, 12528, 2014, 42, "Drama,Horror,Thriller", "nm0533713", "tt3260612")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mijo", 9.0, 10086, 2015, 46, "Crime,Drama", "nm0533713", "tt3857028")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Well-Tempered Clavier", 9.4, 15099, 2016, 58, "Drama,Mystery,Sci-Fi", "nm0533713", "tt5220026")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Simpsons Movie", 7.3, 295541, 2007, 87, "Adventure,Animation,Comedy", "nm0798899", "tt0462538")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Step Up", 6.5, 105457, 2006, 104, "Crime,Drama,Music", "nm0281945", "tt0462590")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("27 Dresses", 6.1, 146601, 2008, 111, "Comedy,Romance", "nm0281945", "tt0988595")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Proposal", 6.7, 276762, 2009, 108, "Comedy,Drama,Romance", "nm0281945", "tt1041829")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Guilt Trip", 5.7, 34059, 2012, 95, "Comedy,Drama", "nm0281945", "tt1694020")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hot Pursuit", 5.1, 45384, 2015, 87, "Action,Comedy,Crime", "nm0281945", "tt2967224")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dumplin'", 6.6, 22456, 2018, 110, "Comedy,Drama,Musical", "nm0281945", "tt4878482")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("You, Me and Dupree", 5.6, 75592, 2006, 110, "Comedy,Romance", "nm0751648", "tt0463034")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Asterix at the Olympic Games", 5.2, 25557, 2008, 116, "Adventure,Comedy,Family", "nm0004689", "tt0463872")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lazarus Project", 6.1, 16342, 2008, 100, "Drama,Mystery,Thriller", "nm1726457", "tt0464041")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Orphanage", 7.4, 139446, 2007, 105, "Drama,Horror,Mystery", "nm1291105", "tt0464141")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Impossible", 7.6, 181636, 2012, 114, "Drama,History,Thriller", "nm1291105", "tt1649419")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Monster Calls", 7.5, 72665, 2016, 108, "Animation,Drama,Fantasy", "nm1291105", "tt3416532")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jurassic World: Fallen Kingdom", 6.2, 230196, 2018, 128, "Action,Adventure,Sci-Fi", "nm1291105", "tt4881806")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("OSS 117: Cairo, Nest of Spies", 7.1, 16948, 2006, 99, "Action,Adventure,Comedy", "nm0371890", "tt0464913")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("OSS 117: Lost in Rio", 6.9, 11950, 2009, 101, "Action,Adventure,Comedy", "nm0371890", "tt1167660")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Artist", 7.9, 219127, 2011, 100, "Comedy,Drama,Romance", "nm0371890", "tt1655442")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Afro Samurai", 7.7, 13946, 2007, 26, "Action,Adventure,Animation", "nm2328122", "tt0465316")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Cottage", 6.1, 11384, 2008, 92, "Comedy,Crime,Horror", "nm1440314", "tt0465430")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Broadchurch", 8.4, 77210, 2013, 48, "Crime,Drama,Mystery", "nm1440314", "tt2249364")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hitman", 6.3, 155218, 2007, 100, "Action,Crime,Thriller", "nm1164755", "tt0465494")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Frontier(s)", 6.2, 23724, 2007, 108, "Horror", "nm1164755", "tt0814685")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Divide", 5.8, 33934, 2011, 112, "Drama,Horror,Sci-Fi", "nm1164755", "tt1535616")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Michael Clayton", 7.2, 149872, 2007, 119, "Crime,Drama,Mystery", "nm0006904", "tt0465538")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Duplicity", 6.1, 45569, 2009, 125, "Comedy,Crime,Romance", "nm0006904", "tt1135487")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bourne Legacy", 6.7, 271532, 2012, 135, "Action,Adventure,Thriller", "nm0006904", "tt1194173")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brother Bear 2", 6.2, 12929, 2006, 74, "Adventure,Animation,Comedy", "nm0994310", "tt0465925")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Date Movie", 2.8, 55276, 2006, 83, "Comedy,Romance", "nm0783536", "tt0466342")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Meet the Spartans", 2.8, 98263, 2008, 86, "Comedy", "nm0783536", "tt1073498")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Khosla Ka Ghosla!", 8.3, 20411, 2006, 135, "Comedy,Crime,Drama", "nm1962313", "tt0466460")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Oye Lucky! Lucky Oye!", 7.7, 14930, 2008, 125, "Comedy,Crime,Drama", "nm1962313", "tt1292703")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Detective Byomkesh Bakshy!", 7.6, 14594, 2015, 139, "Action,Mystery,Thriller", "nm1962313", "tt3447364")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("ATL", 6.1, 10357, 2006, 105, "Comedy,Crime,Drama", "nm1309090", "tt0466856")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Other Boleyn Girl", 6.7, 98187, 2008, 115, "Biography,Drama,History", "nm0149491", "tt0467200")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tulip Fever", 6.2, 15901, 2017, 105, "Drama,History,Romance", "nm0149491", "tt0491203")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mandela: Long Walk to Freedom", 7.1, 25330, 2013, 141, "Biography,Drama,History", "nm0149491", "tt2304771")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Road to Guantanamo", 7.4, 10944, 2006, 95, "Documentary,Drama,War", "nm1475971", "tt0468094")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Half Nelson", 7.2, 81128, 2006, 106, "Drama", "nm0281396", "tt0468489")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alan Partridge", 6.9, 28327, 2013, 90, "Action,Comedy,Crime", "nm0523276", "tt0469021")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Astronaut Farmer", 6.3, 21440, 2006, 104, "Adventure,Drama,Sci-Fi", "nm0689187", "tt0469263")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Open Water 2: Adrift", 5.1, 16540, 2006, 95, "Adventure,Drama,Horror", "nm0394841", "tt0470055")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ex Machina", 7.7, 433534, 2014, 108, "Drama,Mystery,Sci-Fi", "nm0307497", "tt0470752")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Annihilation", 6.9, 240464, 2018, 115, "Adventure,Drama,Horror", "nm0307497", "tt2798920")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Red Road", 6.8, 11561, 2006, 113, "Drama,Mystery,Thriller", "nm0036349", "tt0471030")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fish Tank", 7.3, 55494, 2009, 123, "Drama", "nm0036349", "tt1232776")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Honey", 7.0, 32820, 2016, 163, "Adventure,Drama,Romance", "nm0036349", "tt3721936")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Tournament", 6.1, 33184, 2009, 95, "Action,Thriller", "nm1470993", "tt0471041")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Heist", 6.1, 25245, 2015, 93, "Action,Crime,Thriller", "nm1470993", "tt3276924")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Athadu", 8.3, 10746, 2005, 172, "Action,Thriller", "nm1894520", "tt0471571")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Futurama: Bender's Big Score", 7.7, 31910, 2007, 88, "Animation,Comedy,Romance", "nm1401752", "tt0471711")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Futurama: Bender's Game", 7.3, 19031, 2008, 88, "Action,Adventure,Animation", "nm1401752", "tt1054486")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("John Adams", 8.5, 25599, 2008, 71, "Biography,Drama,History", "nm0393799", "tt0472027")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Danish Girl", 7.1, 149812, 2015, 119, "Biography,Drama,Romance", "nm0393799", "tt0810819")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Damned United", 7.5, 38618, 2009, 98, "Biography,Drama,Sport", "nm0393799", "tt1226271")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The King's Speech", 8.0, 601610, 2010, 118, "Biography,Drama,History", "nm0393799", "tt1504320")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Les Misérables", 7.6, 289783, 2012, 158, "Drama,History,Musical", "nm0393799", "tt1707386")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("9", 7.1, 127093, 2009, 79, "Action,Adventure,Animation", "nm0009942", "tt0472033")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Penelope", 6.7, 57884, 2006, 104, "Comedy,Fantasy,Romance", "nm0657372", "tt0472160")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rememory", 6.2, 13590, 2017, 111, "Drama,Mystery,Sci-Fi", "nm0657372", "tt2331047")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("It's Always Sunny in Philadelphia", 8.8, 174521, 2005, 22, "Comedy", "nm0251848", "tt0472954")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Waitress", 7.0, 42081, 2007, 108, "Comedy,Drama,Romance", "nm0791248", "tt0473308")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jaane Tu... Ya Jaane Na", 7.5, 23615, 2008, 155, "Comedy,Drama,Romance", "nm1063072", "tt0473367")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Guide to Recognizing Your Saints", 7.0, 24181, 2006, 100, "Crime,Drama", "nm1996918", "tt0473488")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fighting", 5.6, 30945, 2009, 105, "Action,Crime,Drama", "nm1996918", "tt1082601")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Son of No One", 5.1, 15894, 2011, 90, "Action,Crime,Drama", "nm1996918", "tt1535612")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Empire State", 5.2, 18355, 2013, 94, "Crime,Thriller", "nm1996918", "tt2171867")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("13 Tzameti", 7.4, 16213, 2005, 93, "Crime,Drama,Horror", "nm1201875", "tt0475169")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("13", 6.1, 38768, 2010, 91, "Crime,Drama,Thriller", "nm1201875", "tt0798817")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shinobi: Heart Under Blade", 6.9, 11838, 2005, 107, "Action,Drama,Fantasy", "nm1033087", "tt0475723")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Abandoned", 5.6, 12097, 2006, 99, "Horror,Mystery,Thriller", "nm0148511", "tt0475937")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Father and My Son", 8.3, 69774, 2005, 108, "Drama,Family", "nm1463981", "tt0476735")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alone", 6.8, 16990, 2008, 113, "Drama,Romance", "nm1463981", "tt1322930")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Amusement", 4.9, 10735, 2008, 85, "Action,Comedy,Crime", "nm0801055", "tt0476958")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Premonition", 5.9, 70059, 2007, 96, "Drama,Fantasy,Mystery", "nm0946327", "tt0477071")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Starter for 10", 6.7, 20854, 2006, 92, "Comedy,Drama,Romance", "nm0891114", "tt0477095")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What Happens in Vegas", 6.1, 158768, 2008, 99, "Comedy,Romance", "nm0891114", "tt1033643")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Extraordinary Measures", 6.4, 15785, 2010, 106, "Drama", "nm0891114", "tt1244659")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Some Kind of Beautiful", 5.7, 12374, 2014, 99, "Comedy,Romance", "nm0891114", "tt1725986")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("So Undercover", 5.0, 18289, 2012, 94, "Action,Comedy", "nm0891114", "tt1766094")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wristcutters: A Love Story", 7.3, 51570, 2006, 88, "Comedy,Drama,Fantasy", "nm1058247", "tt0477139")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Atlas Shrugged: Part I", 5.7, 12653, 2011, 97, "Drama,Mystery,Sci-Fi", "nm0424035", "tt0480239")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Losers", 6.3, 85836, 2010, 97, "Action,Adventure,Crime", "nm1234893", "tt0480255")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stomp the Yard", 5.4, 21170, 2007, 109, "Drama,Music,Romance", "nm1234893", "tt0775539")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Slender Man", 3.2, 21785, 2018, 93, "Horror,Mystery,Thriller", "nm1234893", "tt5690360")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Elfen Lied", 8.0, 27290, 2004, 24, "Action,Animation,Comedy", "nm1319197", "tt0480489")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Timecrimes", 7.2, 53228, 2007, 92, "Horror,Mystery,Sci-Fi", "nm1443023", "tt0480669")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Open Windows", 5.2, 12927, 2014, 100, "Crime,Horror,Thriller", "nm1443023", "tt2409818")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Colossal", 6.2, 52426, 2016, 109, "Comedy,Drama,Fantasy", "nm1443023", "tt4680182")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Croods", 7.2, 179542, 2013, 98, "Action,Adventure,Animation", "nm0210320", "tt0481499")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Space Chimps", 4.5, 10211, 2008, 81, "Adventure,Animation,Comedy", "nm0210320", "tt0482603")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Harold & Kumar Escape from Guantanamo Bay", 6.6, 125903, 2008, 104, "Adventure,Comedy", "nm1375358", "tt0481536")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Reunion", 6.7, 194106, 2012, 113, "Comedy", "nm1375358", "tt1605630")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cobra Kai", 8.8, 36560, 2018, 30, "Action,Comedy,Drama", "nm1375358", "tt7221388")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Priceless", 7.0, 29382, 2006, 106, "Comedy,Romance", "nm0759270", "tt0482088")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bella", 7.2, 10140, 2006, 91, "Drama,Romance", "nm1920049", "tt0482463")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Little Boy", 7.4, 21190, 2015, 106, "Drama,History,War", "nm1920049", "tt1810683")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shutter", 5.2, 31036, 2008, 85, "Horror,Mystery,Thriller", "nm0643696", "tt0482599")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Strangers", 6.2, 111728, 2008, 86, "Horror,Mystery,Thriller", "nm1052162", "tt0482606")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Monster", 5.4, 13945, 2016, 91, "Drama,Fantasy,Horror", "nm1052162", "tt3976144")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ultimate Gift", 7.3, 16684, 2006, 114, "Drama,Family,Romance", "nm0756935", "tt0482629")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Seeker: The Dark Is Rising", 4.8, 14350, 2007, 99, "Adventure,Drama,Family", "nm0192289", "tt0484562")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wedding Daze", 5.6, 14610, 2006, 90, "Comedy,Romance", "nm0085438", "tt0484877")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Torchwood", 7.7, 36893, 2006, 50, "Action,Drama,Fantasy", "nm0323758", "tt0485301")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dracula", 7.4, 27048, 2013, 43, "Drama,Horror,Romance", "nm0323758", "tt2296682")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Luke Cage", 7.4, 107563, 2016, 55, "Action,Crime,Drama", "nm0323758", "tt3322314")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Secret of Kells", 7.7, 28722, 2009, 71, "Adventure,Animation,Family", "nm1119079", "tt0485601")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Song of the Sea", 8.1, 45289, 2014, 93, "Adventure,Animation,Drama", "nm1119079", "tt1865505")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Studio 60 on the Sunset Strip", 8.2, 22334, 2006, 44, "Comedy,Drama", "nm0007008", "tt0485842")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Garden of Bones", 8.8, 21783, 2012, 51, "Action,Adventure,Drama", "nm0007008", "tt2069319")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ghost of Harrenhal", 8.8, 21967, 2012, 55, "Action,Adventure,Drama", "nm0007008", "tt2074658")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Air I Breathe", 6.8, 32940, 2007, 95, "Crime,Drama,Thriller", "nm0497528", "tt0485851")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mr. Nobody", 7.8, 200823, 2009, 141, "Drama,Fantasy,Romance", "nm0233757", "tt0485947")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Brand New Testament", 7.1, 26461, 2015, 114, "Comedy,Fantasy", "nm0233757", "tt3792960")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Red Tails", 5.9, 32065, 2012, 125, "Action,Drama,History", "nm0376006", "tt0485985")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Heroes", 7.5, 220542, 2006, 45, "Drama,Fantasy,Sci-Fi", "nm0376006", "tt0813715")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Treme", 8.2, 12672, 2010, 59, "Drama,Music", "nm0376006", "tt1279972")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wind Chill", 5.8, 20835, 2007, 91, "Drama,Horror,Thriller", "nm0414423", "tt0486051")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Magic Mike XXL", 5.6, 49152, 2015, 115, "Comedy,Drama,Music", "nm0414423", "tt2268016")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jesus Camp", 7.4, 25456, 2006, 84, "Documentary", "nm1823216", "tt0486358")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The IT Crowd", 8.5, 120912, 2006, 25, "Comedy", "nm0512627", "tt0487831")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Omkara", 8.1, 17500, 2006, 155, "Action,Crime,Drama", "nm0080235", "tt0488414")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kaminey", 7.4, 15631, 2009, 130, "Action,Crime,Drama", "nm0080235", "tt1274295")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Haider", 8.1, 46706, 2014, 160, "Action,Crime,Drama", "nm0080235", "tt3390572")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Welcome", 6.8, 15829, 2007, 159, "Comedy,Romance", "nm0063357", "tt0488798")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Singh Is King", 5.7, 13241, 2008, 135, "Action,Comedy,Crime", "nm0063357", "tt1146325")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ready", 4.7, 13877, 2011, 145, "Action,Comedy", "nm0063357", "tt1708532")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Who Killed the Electric Car?", 7.7, 11897, 2006, 92, "Documentary", "nm2071216", "tt0489037")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fanboys", 6.6, 54616, 2009, 90, "Adventure,Comedy,Drama", "nm1381100", "tt0489049")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Barely Lethal", 5.4, 17990, 2015, 96, "Action,Adventure,Comedy", "nm1381100", "tt1731701")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Strange Wilderness", 5.3, 20242, 2008, 87, "Adventure,Comedy", "nm0937748", "tt0489282")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The House Bunny", 5.5, 75292, 2008, 97, "Comedy,Romance", "nm0937748", "tt0852713")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hills", 3.5, 10759, 2006, 30, "Drama,Reality-TV", "nm0008408", "tt0489598")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Queer Eye", 8.6, 11669, 2018, 45, "Reality-TV", "nm0008408", "tt7259746")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("All the Boys Love Mandy Lane", 5.5, 29870, 2006, 90, "Horror", "nm1349522", "tt0490076")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wackness", 7.0, 29251, 2008, 99, "Comedy,Drama,Romance", "nm1349522", "tt1082886")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("50/50", 7.6, 303643, 2011, 100, "Comedy,Drama,Romance", "nm1349522", "tt1306980")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Warm Bodies", 6.9, 210621, 2013, 98, "Comedy,Horror,Romance", "nm1349522", "tt1588173")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Long Shot", 6.9, 48972, 2019, 125, "Comedy,Romance", "nm1349522", "tt2139881")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Snatched", 4.5, 30801, 2017, 90, "Action,Adventure,Comedy", "nm1349522", "tt2334871")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Night Before", 6.4, 59484, 2015, 101, "Comedy,Fantasy", "nm1349522", "tt3530002")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Big Stan", 6.2, 39615, 2007, 105, "Action,Comedy", "nm0001705", "tt0490086")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mutant Chronicles", 5.2, 25106, 2008, 111, "Action,Adventure,Sci-Fi", "nm0403038", "tt0490181")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("H2O: Just Add Water", 7.1, 11287, 2006, 23, "Drama,Family,Fantasy", "nm0118959", "tt0491603")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Psych", 8.3, 78500, 2006, 44, "Comedy,Crime,Mystery", "nm0005088", "tt0491738")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Away from Her", 7.5, 20708, 2006, 110, "Drama", "nm0001631", "tt0491747")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Take This Waltz", 6.5, 26088, 2011, 116, "Comedy,Drama", "nm0001631", "tt1592281")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stories We Tell", 7.5, 11454, 2012, 108, "Documentary", "nm0001631", "tt2366450")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Haunting in Connecticut", 5.9, 57012, 2009, 92, "Drama,Horror,Mystery", "nm1433996", "tt0492044")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shrooms", 4.7, 15455, 2007, 84, "Comedy,Horror,Mystery", "nm0106456", "tt0492486")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Foot Fist Way", 6.3, 10752, 2006, 85, "Comedy", "nm2095817", "tt0492619")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eastbound & Down", 8.2, 48203, 2009, 28, "Comedy,Drama,Sport", "nm2095817", "tt0866442")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Observe and Report", 5.8, 58340, 2009, 86, "Comedy,Crime,Drama", "nm2095817", "tt1197628")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vice Principals", 8.0, 18054, 2016, 30, "Comedy", "nm2095817", "tt3766376")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hannah Montana", 4.9, 34328, 2006, 23, "Comedy,Family,Music", "nm0006919", "tt0493093")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("CHIPS", 6.0, 38276, 2017, 100, "Action,Comedy,Crime", "nm1009277", "tt0493405")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("This Film Is Not Yet Rated", 7.5, 26860, 2006, 98, "Documentary", "nm0225269", "tt0493459")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eagle vs Shark", 6.8, 21085, 2007, 88, "Comedy,Romance", "nm0169806", "tt0494222")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Boy", 7.5, 17307, 2010, 87, "Comedy,Drama", "nm0169806", "tt1560139")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What We Do in the Shadows", 7.7, 131302, 2014, 86, "Comedy,Horror", "nm0169806", "tt3416742")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thor: Ragnarok", 7.9, 511382, 2017, 130, "Action,Adventure,Comedy", "nm0169806", "tt3501632")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hunt for the Wilderpeople", 7.9, 90532, 2016, 101, "Adventure,Comedy,Drama", "nm0169806", "tt4698684")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Golmaal: Fun Unlimited", 7.4, 13451, 2006, 150, "Action,Comedy,Drama", "nm1460159", "tt0495034")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Singham", 6.7, 13103, 2011, 143, "Action,Drama", "nm1460159", "tt1948150")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chennai Express", 6.0, 45449, 2013, 141, "Action,Comedy", "nm1460159", "tt2112124")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dilwale", 5.2, 29392, 2015, 158, "Action,Comedy,Romance", "nm1460159", "tt4535650")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Simmba", 6.3, 15717, 2018, 158, "Action,Comedy,Drama", "nm1460159", "tt7212726")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hellsing Ultimate", 8.3, 17515, 2006, 50, "Action,Animation,Drama", "nm1261681", "tt0495212")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Seven Deadly Sins", 8.2, 14689, 2014, 24, "Action,Adventure,Animation", "nm1261681", "tt3909224")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tales from Earthsea", 6.5, 29208, 2006, 115, "Adventure,Animation,Fantasy", "nm2066439", "tt0495596")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("From Up on Poppy Hill", 7.4, 27306, 2011, 91, "Animation,Drama,Family", "nm2066439", "tt1798188")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("30 Rock", 8.2, 105480, 2006, 22, "Comedy", "nm1061622", "tt0496424")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sex and Death 101", 6.0, 10363, 2007, 117, "Comedy,Drama,Fantasy", "nm0914058", "tt0497972")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rings", 4.5, 34963, 2017, 102, "Drama,Horror,Mystery", "nm1279573", "tt0498381")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Takva: A Man's Fear of God", 7.4, 10899, 2006, 96, "Drama", "nm1699703", "tt0499262")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("War", 6.2, 81811, 2007, 103, "Action,Thriller", "nm0041161", "tt0499556")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kyle XY", 7.5, 27206, 2006, 60, "Drama,Mystery,Romance", "nm0733227", "tt0756509")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Man from Earth", 7.9, 162510, 2007, 87, "Drama,Fantasy,Sci-Fi", "nm0770942", "tt0756683")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Planet 51", 6.0, 47984, 2009, 91, "Adventure,Animation,Comedy", "nm3371961", "tt0762125")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Syrup", 5.7, 10313, 2013, 90, "Comedy,Drama,Romance", "nm1736575", "tt0762138")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Escape from Planet Earth", 5.9, 23585, 2013, 89, "Adventure,Animation,Comedy", "nm2117510", "tt0765446")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Evening", 6.5, 12629, 2007, 117, "Drama,Romance", "nm0005759", "tt0765447")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Mimzy", 6.2, 20216, 2007, 90, "Drama,Family,Sci-Fi", "nm0790144", "tt0768212")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Happy Tree Friends", 7.0, 15712, 1999, 74, "Animation,Comedy,Horror", "nm1487668", "tt0770762")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dexter", 8.7, 607713, 2006, 53, "Crime,Drama,Mystery", "nm0687964", "tt0773262")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Red Woman", 8.5, 35171, 2016, 50, "Action,Adventure,Drama", "nm0687964", "tt3658014")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kill the Boy", 8.6, 22553, 2015, 57, "Action,Adventure,Drama", "nm0687964", "tt3866840")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Unbowed, Unbent, Unbroken", 8.0, 25595, 2015, 54, "Action,Adventure,Drama", "nm0687964", "tt3866842")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Home", 9.4, 41458, 2016, 54, "Action,Adventure,Drama", "nm0687964", "tt4077554")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dragonstone", 8.6, 45395, 2017, 59, "Action,Adventure,Drama", "nm0687964", "tt5654088")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Dragon and the Wolf", 9.5, 56294, 2017, 80, "Action,Adventure,Drama", "nm0687964", "tt5775874")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Sheep", 5.8, 37804, 2006, 87, "Comedy,Horror,Sci-Fi", "nm2204480", "tt0779982")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jane Eyre", 8.3, 18127, 2006, 230, "Drama,Romance", "nm1264352", "tt0780362")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Generation Kill", 8.5, 43956, 2008, 70, "Drama,War", "nm1264352", "tt0995832")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nanny McPhee Returns", 6.0, 25587, 2010, 109, "Comedy,Family,Fantasy", "nm1264352", "tt1415283")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Our Kind of Traitor", 6.2, 18324, 2016, 108, "Crime,Drama,Thriller", "nm1264352", "tt1995390")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In Bruges", 7.9, 368107, 2008, 107, "Comedy,Crime,Drama", "nm1732981", "tt0780536")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Seven Psychopaths", 7.2, 226596, 2012, 110, "Comedy,Crime", "nm1732981", "tt1931533")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Three Billboards Outside Ebbing, Missouri", 8.2, 361572, 2017, 115, "Crime,Drama", "nm1732981", "tt5027774")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Imagine That", 5.6, 12669, 2009, 107, "Comedy,Drama,Family", "nm0456732", "tt0780567")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mr. Brooks", 7.3, 137887, 2007, 120, "Crime,Drama,Thriller", "nm0262595", "tt0780571")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Signal", 6.1, 19736, 2007, 103, "Horror,Sci-Fi,Thriller", "nm0124112", "tt0780607")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Vault", 4.8, 10819, 2017, 91, "Crime,Horror,Mystery", "nm0124112", "tt1785635")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Teeth", 5.4, 39632, 2007, 94, "Comedy,Fantasy,Horror", "nm0509033", "tt0780622")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Dead Girl", 6.6, 13959, 2006, 85, "Crime,Drama,Mystery", "nm0597673", "tt0783238")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gangster's Paradise: Jerusalema", 7.3, 10070, 2008, 119, "Action,Crime,Drama", "nm0956537", "tt0783532")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hotel for Dogs", 5.4, 20176, 2009, 100, "Comedy,Family", "nm0294457", "tt0785006")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Diary of a Wimpy Kid", 6.2, 39317, 2010, 94, "Comedy,Drama,Family", "nm0294457", "tt1196141")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Percy Jackson: Sea of Monsters", 5.8, 103781, 2013, 106, "Adventure,Family,Fantasy", "nm0294457", "tt1854564")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Climb", 9.6, 10763, 2014, 42, "Action,Adventure,Crime", "nm0294457", "tt4006548")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Out of Time", 9.7, 12964, 2015, 42, "Action,Adventure,Drama", "nm0294457", "tt4138338")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Over Her Dead Body", 5.2, 23185, 2008, 95, "Comedy,Fantasy,Romance", "nm0523094", "tt0785007")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ong Bak 2", 6.2, 28068, 2008, 98, "Action", "nm1388074", "tt0785035")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ong-bak 3", 5.0, 12328, 2010, 99, "Action", "nm1388074", "tt1653690")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Boxtrolls", 6.8, 51463, 2014, 96, "Adventure,Animation,Comedy", "nm0030253", "tt0787474")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hot Rod", 6.7, 70699, 2007, 88, "Comedy,Sport", "nm1676223", "tt0787475")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Watch", 5.7, 116953, 2012, 102, "Action,Comedy,Horror", "nm1676223", "tt1298649")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Popstar: Never Stop Never Stopping", 6.7, 48554, 2016, 87, "Comedy,Music", "nm1676223", "tt3960412")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rest Stop", 4.6, 10443, 2006, 80, "Horror,Romance,Thriller", "nm0793062", "tt0787505")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sunset", 9.3, 13118, 2010, 47, "Crime,Drama,Thriller", "nm0793062", "tt1615556")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Man Who Knew Infinity", 7.2, 44951, 2015, 108, "Biography,Drama", "nm0114226", "tt0787524")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Robin Hood", 7.5, 15102, 2006, 60, "Action,Adventure,Comedy", "nm0262678", "tt0787985")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Meet Bill", 6.2, 18971, 2007, 93, "Comedy,Drama", "nm2214893", "tt0790623")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Incredible Burt Wonderstone", 5.9, 68265, 2013, 100, "Comedy", "nm0769135", "tt0790628")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("2 Broke Girls", 6.7, 85856, 2011, 22, "Comedy", "nm0769135", "tt1845307")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crazy Ex-Girlfriend", 7.7, 14397, 2015, 42, "Comedy,Musical,Short", "nm0769135", "tt4094300")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Messenger", 7.1, 32732, 2009, 113, "Drama,Romance,War", "nm0610219", "tt0790712")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rampart", 5.8, 22288, 2011, 108, "Crime,Drama", "nm0610219", "tt1640548")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rules of Engagement", 7.3, 30322, 2007, 22, "Comedy,Romance", "nm0913637", "tt0790772")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ergo Proxy", 8.0, 11072, 2006, 25, "Action,Adventure,Animation", "nm0613562", "tt0791205")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Case 39", 6.2, 72865, 2009, 109, "Horror,Mystery,Thriller", "nm0023355", "tt0795351")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pandorum", 6.7, 138053, 2009, 108, "Action,Horror,Mystery", "nm0023355", "tt1188729")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mamma Mia!", 6.4, 197984, 2008, 108, "Comedy,Musical,Romance", "nm1630273", "tt0795421")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Iron Lady", 6.4, 97436, 2011, 105, "Biography,Drama", "nm1630273", "tt1007029")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Oorlogswinter", 7.0, 11642, 2008, 103, "Drama,History,War", "nm0465551", "tt0795441")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brimstone", 7.1, 31576, 2016, 148, "Drama,Mystery,Thriller", "nm0465551", "tt1895315")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Babysitters", 5.6, 10240, 2007, 88, "Drama", "nm1565107", "tt0796302")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wizards of Waverly Place", 6.8, 26441, 2007, 22, "Comedy,Drama,Family", "nm0228436", "tt0799922")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Epic Movie", 2.4, 98659, 2007, 86, "Adventure,Comedy", "nm0294997", "tt0799949")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Disaster Movie", 1.9, 83865, 2008, 87, "Comedy", "nm0294997", "tt1213644")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vampires Suck", 3.4, 44553, 2010, 82, "Comedy", "nm0294997", "tt1666186")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Starving Games", 3.2, 17810, 2013, 83, "Comedy,Sci-Fi", "nm0294997", "tt2403029")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bridge", 7.2, 10509, 2006, 94, "Documentary,Drama", "nm0824414", "tt0799954")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Delta Farce", 3.6, 10344, 2007, 90, "Action,Adventure,Comedy", "nm1085552", "tt0800003")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Forgetting Sarah Marshall", 7.1, 250650, 2008, 111, "Comedy,Drama,Romance", "nm0831557", "tt0800039")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Five-Year Engagement", 6.2, 89326, 2012, 124, "Comedy,Romance", "nm0831557", "tt1195478")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Get Him to the Greek", 6.4, 162883, 2010, 109, "Comedy,Music", "nm0831557", "tt1226229")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Neighbors", 6.3, 269716, 2014, 97, "Comedy", "nm0831557", "tt2004420")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Neighbors 2: Sorority Rising", 5.7, 105319, 2016, 92, "Comedy", "nm0831557", "tt4438848")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Storks", 6.8, 51536, 2016, 87, "Adventure,Animation,Comedy", "nm0831557", "tt4624424")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Friends from College", 6.8, 15690, 2017, 30, "Comedy,Drama", "nm0831557", "tt5565334")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hills Have Eyes II", 5.1, 57965, 2007, 89, "Horror,Thriller", "nm1170286", "tt0800069")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Deception", 6.1, 36510, 2008, 107, "Crime,Drama,Mystery", "nm2251947", "tt0800240")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Life in a Metro", 7.4, 10004, 2007, 132, "Comedy,Drama,Romance", "nm1397301", "tt0800956")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kites", 6.0, 11529, 2010, 123, "Action,Drama,Romance", "nm1397301", "tt1198101")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Barfi!", 8.1, 70102, 2012, 151, "Comedy,Drama,Romance", "nm1397301", "tt2082197")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Promotion", 5.6, 17586, 2008, 86, "Comedy", "nm0175726", "tt0803057")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Red Dog", 7.4, 15579, 2011, 92, "Biography,Comedy,Drama", "nm0826541", "tt0803061")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kill Me Three Times", 5.9, 18448, 2014, 90, "Action,Comedy,Crime", "nm0826541", "tt2393845")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Warcraft", 6.8, 229071, 2016, 123, "Action,Adventure,Fantasy", "nm1512910", "tt0803096")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Source Code", 7.5, 458197, 2011, 93, "Action,Drama,Mystery", "nm1512910", "tt0945513")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Moon", 7.9, 315946, 2009, 97, "Drama,Mystery,Sci-Fi", "nm1512910", "tt1182345")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mute", 5.4, 26400, 2018, 126, "Mystery,Sci-Fi,Thriller", "nm1512910", "tt1464763")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hottie & the Nottie", 1.9, 35529, 2008, 91, "Comedy,Romance", "nm0701245", "tt0804492")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("It's Kind of a Funny Story", 7.1, 127527, 2010, 101, "Comedy,Drama,Romance", "nm1349818", "tt0804497")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mississippi Grind", 6.4, 17758, 2015, 108, "Comedy,Drama", "nm1349818", "tt2349144")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Captain Marvel", 7.0, 363447, 2019, 123, "Action,Adventure,Sci-Fi", "nm1349818", "tt4154664")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mad Men", 8.6, 185620, 2007, 47, "Drama", "nm0008971", "tt0804503")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Over", 8.6, 11683, 2009, 47, "Crime,Drama,Thriller", "nm0008971", "tt1232245")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Daredevil", 8.6, 336388, 2015, 54, "Action,Crime,Drama", "nm0008971", "tt3322312")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ozark", 8.3, 114260, 2017, 60, "Crime,Drama,Thriller", "nm0008971", "tt5071412")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("P2", 5.9, 29922, 2007, 98, "Crime,Horror,Thriller", "nm0451076", "tt0804516")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Amityville: The Awakening", 4.8, 11320, 2017, 85, "Horror,Thriller", "nm0451076", "tt1935897")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Maniac", 6.1, 33016, 2012, 89, "Horror,Thriller", "nm0451076", "tt2103217")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wrong Turn 2: Dead End", 5.5, 35806, 2007, 93, "Horror", "nm1362570", "tt0804555")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("War Room", 6.4, 12000, 2015, 120, "Drama", "nm1731937", "tt3832914")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jericho", 7.9, 52158, 2006, 45, "Action,Drama,Mystery", "nm0095424", "tt0805663")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Harper's Island", 7.5, 24397, 2009, 40, "Drama,Horror,Mystery", "nm0095424", "tt1232320")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ugly Betty", 6.5, 37976, 2006, 60, "Comedy,Drama,Romance", "nm0938490", "tt0805669")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Heyy Babyy", 5.9, 11931, 2007, 144, "Comedy,Drama", "nm1349318", "tt0806088")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Housefull", 5.3, 11358, 2010, 144, "Comedy", "nm1349318", "tt1573072")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Housefull 2", 5.2, 11946, 2012, 145, "Action,Comedy,Musical", "nm1349318", "tt1980986")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Extreme Movie", 3.7, 10436, 2008, 86, "Comedy", "nm0258418", "tt0806147")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Carriers", 6.0, 40182, 2009, 84, "Drama,Horror,Sci-Fi", "nm0665041", "tt0806203")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mushi-Shi", 8.5, 10551, 2005, 25, "Animation,Drama,Fantasy", "nm1061192", "tt0807832")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Primeval", 7.3, 12639, 2007, 60, "Action,Adventure,Drama", "nm0703975", "tt0808096")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bothersome Man", 7.3, 15492, 2006, 95, "Comedy,Drama,Fantasy", "nm0509633", "tt0808185")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cold Prey", 6.3, 16184, 2006, 97, "Horror,Thriller", "nm1012385", "tt0808276")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tomb Raider", 6.3, 170025, 2018, 119, "Action,Adventure,Fantasy", "nm1012385", "tt1365519")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wave", 6.7, 29253, 2015, 105, "Action,Drama,Thriller", "nm1012385", "tt3616916")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Joshua", 5.9, 11472, 2007, 106, "Drama,Horror,Thriller", "nm0711807", "tt0808331")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Heir Apparent: Largo Winch", 6.5, 12860, 2008, 108, "Action,Adventure,Thriller", "nm1362432", "tt0808339")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zulu", 6.7, 16792, 2013, 110, "Crime,Drama,Thriller", "nm1362432", "tt2249221")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Persepolis", 8.0, 83116, 2007, 96, "Animation,Biography,Drama", "nm1749112", "tt0808417")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Girl Who Leapt Through Time", 7.8, 54040, 2006, 98, "Adventure,Animation,Comedy", "nm0396074", "tt0808506")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Summer Wars", 7.5, 23511, 2009, 114, "Action,Animation,Comedy", "nm0396074", "tt1474276")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wolf Children", 8.1, 32904, 2012, 117, "Animation,Drama,Family", "nm0396074", "tt2140203")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Boy and the Beast", 7.7, 17352, 2015, 119, "Action,Adventure,Animation", "nm0396074", "tt4272866")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Deaths of Ian Stone", 5.6, 12280, 2007, 87, "Horror,Thriller", "nm0224191", "tt0810823")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Nines", 6.3, 31709, 2007, 100, "Drama,Fantasy,Mystery", "nm0041864", "tt0810988")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Love Guru", 3.8, 48322, 2008, 87, "Comedy,Romance,Sport", "nm0773605", "tt0811138")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("24: Redemption", 7.5, 25868, 2008, 84, "Action,Adventure,Crime", "nm0143984", "tt0813980")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("24: Live Another Day", 8.4, 41506, 2014, 46, "Action,Crime,Drama", "nm0143984", "tt1598754")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Continuum", 7.6, 55344, 2012, 45, "Action,Sci-Fi,Thriller", "nm0143984", "tt1954347")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Orville", 8.0, 51419, 2017, 44, "Adventure,Comedy,Drama", "nm0143984", "tt5691552")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bangkok Dangerous", 5.4, 53349, 2008, 99, "Action,Crime,Thriller", "nm0161152", "tt0814022")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Stepfather", 5.6, 28563, 2009, 101, "Crime,Thriller", "nm1879589", "tt0814335")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Prom Night", 3.9, 32283, 2008, 88, "Horror,Mystery", "nm1879589", "tt0926129")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("She's Out of My League", 6.4, 118719, 2010, 104, "Comedy,Romance", "nm1637768", "tt0815236")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Butter", 6.2, 19698, 2011, 90, "Comedy,Drama", "nm1637768", "tt1349451")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Uninvited", 6.3, 72404, 2009, 87, "Drama,Horror,Mystery", "nm0345294", "tt0815245")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pokiri", 7.9, 11461, 2006, 164, "Action,Crime,Thriller", "nm0700872", "tt0816258")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Water", 5.9, 12204, 2007, 90, "Action,Adventure,Drama", "nm2299471", "tt0816436")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lake Mungo", 6.2, 13842, 2008, 87, "Drama,Horror,Mystery", "nm1757667", "tt0816556")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Priest", 5.7, 109531, 2011, 87, "Action,Horror,Thriller", "nm0829820", "tt0822847")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Legion", 5.2, 94006, 2010, 100, "Action,Adventure,Fantasy", "nm0829820", "tt1038686")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dark Skies", 6.3, 66391, 2013, 97, "Horror,Sci-Fi,Thriller", "nm0829820", "tt2387433")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Caramel", 7.1, 11854, 2007, 95, "Comedy,Drama,Romance", "nm1701024", "tt0825236")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Where Do We Go Now?", 7.5, 10668, 2011, 110, "Comedy,Drama", "nm1701024", "tt1772424")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Capernaum", 8.4, 28228, 2018, 126, "Drama", "nm1701024", "tt8267604")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Killing", 8.4, 22355, 2007, 57, "Crime,Drama,Mystery", "nm1400437", "tt0826760")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Magician", 7.4, 26871, 2006, 122, "Comedy,Drama", "nm0051166", "tt0827503")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dracula Untold", 6.3, 167103, 2014, 92, "Action,Drama,Fantasy", "nm2411495", "tt0829150")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ten Inch Hero", 7.4, 11422, 2007, 102, "Comedy,Drama,Romance", "nm0533145", "tt0829297")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Superbad", 7.6, 490793, 2007, 113, "Comedy", "nm0609549", "tt0829482")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Adventureland", 6.8, 147716, 2009, 107, "Comedy,Drama,Romance", "nm0609549", "tt1091722")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paul", 7.0, 223069, 2011, 104, "Adventure,Comedy,Sci-Fi", "nm0609549", "tt1092026")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Clear History", 6.5, 16424, 2013, 101, "Comedy", "nm0609549", "tt2279864")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Keeping Up with the Joneses", 5.9, 52783, 2016, 105, "Action,Comedy", "nm0609549", "tt2387499")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Girl Next Door", 6.6, 21835, 2007, 91, "Crime,Drama,Horror", "nm0933471", "tt0830558")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Godzilla", 6.4, 358330, 2014, 123, "Action,Adventure,Sci-Fi", "nm2284484", "tt0831387")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monsters", 6.4, 84937, 2010, 94, "Adventure,Drama,Romance", "nm2284484", "tt1470827")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rogue One: A Star Wars Story", 7.8, 489970, 2016, 133, "Action,Adventure,Sci-Fi", "nm2284484", "tt3748528")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tekkonkinkreet", 7.6, 11699, 2006, 111, "Action,Adventure,Animation", "nm0034712", "tt0831888")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Definitely, Maybe", 7.1, 147797, 2008, 112, "Comedy,Drama,Romance", "nm0111845", "tt0832266")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Underworld: Rise of the Lycans", 6.6, 143870, 2009, 92, "Action,Adventure,Fantasy", "nm0851281", "tt0834001")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Arn: The Knight Templar", 6.6, 20272, 2007, 139, "Action,Drama,Romance", "nm0282425", "tt0837106")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pet Sematary", 5.8, 58601, 2019, 101, "Horror,Mystery,Thriller", "nm1556116", "tt0837563")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Starry Eyes", 6.0, 16360, 2014, 98, "Drama,Fantasy,Horror", "nm1556116", "tt2793490")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("After.Life", 5.9, 34875, 2009, 104, "Drama,Mystery,Thriller", "nm1033683", "tt0838247")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Metalocalypse", 8.2, 14656, 2006, 11, "Animation,Comedy,Music", "nm2475067", "tt0839188")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Semi-Pro", 5.8, 75094, 2008, 91, "Comedy,Sport", "nm0022768", "tt0839980")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Skins", 8.2, 69877, 2007, 46, "Drama", "nm1790560", "tt0840196")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("2 Days in Paris", 6.8, 29232, 2007, 96, "Comedy,Drama,Romance", "nm0000365", "tt0841044")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("2 Days in New York", 6.0, 13408, 2012, 96, "Comedy,Drama,Romance", "nm0000365", "tt1602472")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Persuasion", 7.5, 13009, 2007, 93, "Drama,Romance", "nm0792120", "tt0844330")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("North Face", 7.4, 13810, 2008, 126, "Adventure,Biography,Drama", "nm0836715", "tt0844457")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Erased", 6.1, 27734, 2012, 100, "Action,Thriller", "nm0836715", "tt1645155")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Physician", 7.2, 33518, 2013, 155, "Adventure,Drama,History", "nm0836715", "tt2101473")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cloudy with a Chance of Meatballs", 6.9, 189556, 2009, 90, "Adventure,Animation,Comedy", "nm0588087", "tt0844471")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("22 Jump Street", 7.0, 324786, 2014, 112, "Action,Comedy,Crime", "nm0588087", "tt2294449")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Collector", 6.4, 53701, 2009, 90, "Horror,Thriller", "nm1729303", "tt0844479")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Collection", 6.1, 42850, 2012, 82, "Horror,Thriller", "nm1729303", "tt1748227")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Legend of the Seeker", 7.6, 32133, 2008, 44, "Action,Adventure,Drama", "nm0066582", "tt0844653")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("College", 4.6, 11788, 2008, 94, "Comedy", "nm1834176", "tt0844671")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last House on the Left", 6.5, 80420, 2009, 110, "Horror,Thriller", "nm1531934", "tt0844708")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Starship Troopers 3: Marauder", 4.3, 21766, 2008, 105, "Action,Adventure,Sci-Fi", "nm0627159", "tt0844760")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Northanger Abbey", 7.3, 12652, 2007, 84, "Drama,Romance", "nm0428448", "tt0844794")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hoodwinked Too! Hood vs. Evil", 4.7, 11471, 2011, 86, "Animation,Comedy,Crime", "nm1918538", "tt0844993")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dhamaal", 7.2, 11461, 2007, 136, "Action,Adventure,Comedy", "nm0409791", "tt0845448")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Secret", 5.6, 11463, 2006, 90, "Documentary", "nm2288328", "tt0846789")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Battle in Seattle", 6.7, 13838, 2007, 99, "Action,Drama", "nm0870204", "tt0850253")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Island", 7.9, 10250, 2006, 112, "Drama", "nm0526732", "tt0851577")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Terminator: The Sarah Connor Chronicles", 7.7, 55387, 2008, 60, "Action,Drama,Sci-Fi", "nm0066596", "tt0851851")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Revolution", 6.7, 78777, 2012, 43, "Action,Adventure,Drama", "nm0066596", "tt2070791")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Whispers", 7.2, 10020, 2015, 60, "Drama,Horror,Mystery", "nm0066596", "tt3487410")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Phineas and Ferb", 7.9, 29332, 2007, 15, "Action,Animation,Comedy", "nm1471248", "tt0852863")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Taxi to the Dark Side", 7.5, 13981, 2007, 106, "Crime,Documentary,News", "nm0316795", "tt0854678")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Enron: The Smartest Guys in the Room", 7.6, 15554, 2005, 110, "Biography,Documentary,History", "nm0316795", "tt1016268")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Going Clear: Scientology & the Prison of Belief", 8.0, 34814, 2015, 119, "Documentary", "nm0316795", "tt4257858")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Inside", 6.8, 34976, 2007, 82, "Horror", "nm2377660", "tt0856288")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gabriel", 5.6, 13338, 2007, 114, "Action,Fantasy,Horror", "nm2325065", "tt0857376")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Duchess", 6.9, 73546, 2008, 110, "Biography,Drama,History", "nm1314116", "tt0864761")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Suite Française", 7.0, 20675, 2014, 107, "Drama,Romance,War", "nm1314116", "tt0900387")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Jane Austen Book Club", 6.8, 24992, 2007, 106, "Comedy,Drama,Romance", "nm0842523", "tt0866437")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wakefield", 6.3, 13701, 2016, 106, "Drama", "nm0842523", "tt5195412")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("City of Men", 7.2, 14580, 2007, 106, "Crime,Drama", "nm0603758", "tt0870090")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Baby Mama", 6.0, 39800, 2008, 99, "Comedy,Romance", "nm0567112", "tt0871426")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chak de! India", 8.2, 67917, 2007, 153, "Drama,Family,Sport", "nm0024912", "tt0871510")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rocket Singh: Salesman of the Year", 7.5, 16816, 2009, 150, "Comedy,Drama", "nm0024912", "tt1434447")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Life", 8.3, 31686, 2007, 45, "Crime,Drama,Mystery", "nm0445631", "tt0874936")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Death Note", 9.0, 193914, 2006, 24, "Animation,Crime,Drama", "nm8332028", "tt0877057")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Katyn", 7.0, 14571, 2007, 122, "Drama,History,War", "nm0906667", "tt0879843")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sanctum", 5.9, 51613, 2011, 108, "Adventure,Drama,Thriller", "nm0340958", "tt0881320")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("All About Steve", 4.8, 38190, 2009, 99, "Comedy,Romance", "nm1288766", "tt0881891")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chalet Girl", 6.3, 22658, 2011, 97, "Comedy,Romance,Sport", "nm1288766", "tt1487118")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Snitch", 6.4, 79062, 2013, 112, "Action,Drama,Thriller", "nm0006846", "tt0882977")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Felon", 7.4, 72708, 2008, 104, "Crime,Drama", "nm0006846", "tt1117385")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shot Caller", 7.3, 61149, 2017, 121, "Crime,Drama,Thriller", "nm0006846", "tt4633690")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Angel Has Fallen", 6.7, 17006, 2019, 121, "Action,Thriller", "nm0006846", "tt6189022")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Man vs. Wild", 8.1, 21221, 2006, 60, "Adventure,Reality-TV", "nm2272622", "tt0883772")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("War, Inc.", 5.6, 21044, 2008, 107, "Action,Comedy,Thriller", "nm0781733", "tt0884224")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wedding Ringer", 6.6, 67590, 2015, 101, "Comedy", "nm1275670", "tt0884732")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Switch", 6.1, 91719, 2010, 101, "Comedy,Drama,Romance", "nm0817447", "tt0889573")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Office Christmas Party", 5.8, 60713, 2016, 105, "Comedy", "nm0817447", "tt1711525")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Penguins of Madagascar", 7.6, 14601, 2008, 11, "Action,Adventure,Animation", "nm0351821", "tt0892700")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("How to Train Your Dragon", 8.1, 621609, 2010, 98, "Action,Adventure,Animation", "nm0213450", "tt0892769")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("How to Train Your Dragon 2", 7.8, 284203, 2014, 102, "Action,Adventure,Animation", "nm0213450", "tt1646971")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("How to Train Your Dragon: The Hidden World", 7.5, 75418, 2019, 104, "Action,Adventure,Animation", "nm0213450", "tt2386490")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monsters vs. Aliens", 6.4, 138044, 2009, 94, "Action,Animation,Comedy", "nm0970447", "tt0892782")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Outpost", 5.8, 15603, 2008, 90, "Action,Horror,Sci-Fi", "nm1530422", "tt0892899")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Franklyn", 6.2, 16319, 2008, 98, "Drama,Fantasy,Sci-Fi", "nm0573389", "tt0893402")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("From Prada to Nada", 5.5, 13758, 2011, 107, "Comedy,Drama,Romance", "nm0333471", "tt0893412")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Deadgirl", 5.6, 17792, 2008, 101, "Horror", "nm0362847", "tt0896534")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Whistleblower", 7.1, 30158, 2010, 112, "Action,Biography,Crime", "nm2326979", "tt0896872")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Know Who Killed Me", 3.6, 25200, 2007, 105, "Crime,Drama,Mystery", "nm1032754", "tt0897361")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Big Bang Theory", 8.1, 664868, 2007, 22, "Comedy,Romance", "nm0943349", "tt0898266")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Love Happens", 5.6, 29248, 2009, 109, "Drama,Romance", "nm0131969", "tt0899106")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("100 Feet", 5.5, 11596, 2008, 96, "Horror,Mystery,Thriller", "nm0714599", "tt0899128")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rise of the Footsoldier", 6.8, 18221, 2007, 119, "Action,Biography,Crime", "nm1402202", "tt0901507")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Lonely Place to Die", 6.2, 25769, 2011, 99, "Action,Crime,Thriller", "nm1402202", "tt1422136")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Justice League: The New Frontier", 7.0, 16845, 2008, 75, "Action,Adventure,Animation", "nm1989960", "tt0902272")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Sell the Dead", 6.1, 10169, 2008, 85, "Comedy,Horror", "nm1137264", "tt0902290")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Love & Mercy", 7.4, 32836, 2014, 121, "Biography,Drama,Music", "nm0688361", "tt0903657")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Thing", 6.2, 113418, 2011, 103, "Horror,Mystery,Sci-Fi", "nm0374048", "tt0905372")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Once", 7.8, 105930, 2007, 86, "Drama,Music,Romance", "nm0138809", "tt0907657")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Begin Again", 7.4, 132004, 2013, 104, "Comedy,Drama,Music", "nm0138809", "tt1980929")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sing Street", 8.0, 76589, 2016, 106, "Comedy,Drama,Music", "nm0138809", "tt3544112")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gavin & Stacey", 8.0, 13648, 2007, 29, "Comedy,Romance", "nm0314641", "tt0908454")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tin Man", 7.1, 12676, 2007, 270, "Adventure,Fantasy,Sci-Fi", "nm0932216", "tt0910812")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In the Electric Mist", 6.1, 15471, 2009, 117, "Crime,Drama,Mystery", "nm0851724", "tt0910905")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tim and Eric Awesome Show, Great Job!", 7.4, 10045, 2007, 11, "Comedy,Music", "nm1730037", "tt0912343")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("YPF", 6.2, 18683, 2007, 87, "Comedy,Drama,Romance", "nm1236625", "tt0913445")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Warlords", 7.0, 25055, 2007, 126, "Action,Drama,History", "nm0151066", "tt0913968")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dragon", 7.1, 13033, 2011, 115, "Action,Crime,Drama", "nm0151066", "tt1718199")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Damages", 8.1, 26680, 2007, 60, "Crime,Drama,Mystery", "nm0006516", "tt0914387")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bottle Shock", 6.8, 14261, 2008, 110, "Comedy,Drama", "nm0589168", "tt0914797")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flame & Citron", 7.3, 16632, 2008, 130, "Action,Drama,History", "nm0535234", "tt0920458")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Banshee", 8.4, 77983, 2013, 60, "Action,Crime,Drama", "nm0535234", "tt2017109")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dance of the Dead", 5.8, 10940, 2008, 87, "Comedy,Horror", "nm0084059", "tt0926063")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Loft", 7.3, 19829, 2008, 118, "Crime,Drama,Mystery", "nm0887452", "tt0926762")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Loft", 6.3, 47965, 2014, 108, "Mystery,Romance,Thriller", "nm0887452", "tt1850397")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gomorrah", 7.0, 44045, 2008, 137, "Crime,Drama", "nm0308520", "tt0929425")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tale of Tales", 6.4, 24530, 2015, 134, "Drama,Fantasy,Horror", "nm0308520", "tt3278330")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dogman", 7.3, 15813, 2018, 103, "Crime,Drama,Thriller", "nm0308520", "tt6768578")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stargate: Continuum", 7.5, 21510, 2008, 98, "Action,Adventure,Drama", "nm0939869", "tt0929629")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sanctuary", 7.3, 17986, 2008, 44, "Action,Drama,Fantasy", "nm0939869", "tt0965394")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Precious", 7.3, 101104, 2009, 110, "Drama", "nm0200005", "tt0929632")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lee Daniels' The Butler", 7.2, 103517, 2013, 132, "Biography,Drama", "nm0200005", "tt1327773")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Paperboy", 5.8, 34269, 2012, 107, "Crime,Drama,Mystery", "nm0200005", "tt1496422")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Assassin's Creed", 8.1, 15791, 2007, null, "Action,Adventure,Fantasy", "nm2493380", "tt0932936")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Summer Heights High", 8.4, 13625, 2007, 30, "Comedy,Drama,Family", "nm0568018", "tt0934320")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Superman/Doomsday", 7.0, 18901, 2007, 75, "Action,Adventure,Animation", "nm2304017", "tt0934706")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wonder Woman", 7.3, 14887, 2009, 74, "Action,Adventure,Animation", "nm2304017", "tt1186373")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Green Lantern: First Flight", 7.1, 13707, 2009, 77, "Action,Adventure,Animation", "nm2304017", "tt1384590")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Justice League: Crisis on Two Earths", 7.3, 22333, 2010, 75, "Action,Animation,Sci-Fi", "nm2304017", "tt1494772")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Superman/Batman: Apocalypse", 7.1, 22566, 2010, 78, "Action,Adventure,Animation", "nm2304017", "tt1673430")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Justice League: Doom", 7.5, 28178, 2012, 75, "Action,Animation,Fantasy", "nm2304017", "tt2027128")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shelter", 7.7, 19745, 2007, 97, "Drama,Romance,Sport", "nm0995691", "tt0942384")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stargate: The Ark of Truth", 7.4, 19612, 2008, 97, "Action,Adventure,Drama", "nm0178338", "tt0942903")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dragon Hunters", 6.6, 11573, 2008, 80, "Action,Adventure,Animation", "nm0704588", "tt0944834")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lifted", 7.9, 16580, 2006, 5, "Animation,Comedy,Family", "nm0003977", "tt0945571")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tengen toppa gurren lagann", 8.3, 12625, 2007, 24, "Action,Adventure,Animation", "nm1250199", "tt0948103")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Amazing Spider-Man", 6.9, 533182, 2012, 136, "Action,Sci-Fi", "nm1989536", "tt0948470")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("500 Days of Summer", 7.7, 446883, 2009, 95, "Comedy,Drama,Romance", "nm1989536", "tt1022603")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Amazing Spider-Man 2", 6.6, 394900, 2014, 142, "Action,Adventure,Sci-Fi", "nm1989536", "tt1872181")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gifted", 7.6, 86207, 2017, 101, "Drama", "nm1989536", "tt4481414")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The New Daughter", 5.3, 13545, 2009, 108, "Horror,Thriller", "nm1084937", "tt0951335")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ben X", 7.4, 17880, 2007, 93, "Drama,Thriller", "nm0051206", "tt0953318")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Reaper", 7.7, 22535, 2007, 45, "Adventure,Comedy,Drama", "nm0185734", "tt0955322")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Moonlight", 7.6, 22937, 2007, 60, "Drama,Fantasy,Horror", "nm0870295", "tt0955346")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Adversary", 8.9, 12174, 2016, 57, "Drama,Mystery,Sci-Fi", "nm0870295", "tt4630544")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Trompe L'Oeil", 9.5, 16637, 2016, 56, "Drama,Mystery,Sci-Fi", "nm0870295", "tt4630546")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nights in Rodanthe", 6.0, 21636, 2008, 97, "Drama,Romance", "nm0938045", "tt0956038")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("You're Not You", 7.4, 22663, 2014, 102, "Drama", "nm0938045", "tt1198156")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nine Dead", 5.5, 11537, 2010, 98, "Crime,Drama,Horror", "nm1124577", "tt0959329")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pilot", 9.0, 21173, 2008, 58, "Crime,Drama,Thriller", "nm0319213", "tt0959621")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Full Measure", 9.7, 17664, 2010, 47, "Crime,Drama,Thriller", "nm0319213", "tt1615553")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mary and Max", 8.1, 153351, 2009, 92, "Animation,Comedy,Drama", "nm0254178", "tt0978762")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lottery Ticket", 5.0, 10140, 2010, 99, "Comedy", "nm1336172", "tt0979434")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nick and Norah's Infinite Playlist", 6.6, 85539, 2008, 90, "Comedy,Drama,Music", "nm0813164", "tt0981227")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Freeheld", 6.6, 10776, 2015, 103, "Biography,Drama,Romance", "nm0813164", "tt1658801")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kitchen Nightmares", 7.4, 10058, 2007, 60, "Reality-TV", "nm0402870", "tt0983514")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shaun the Sheep", 8.2, 10624, 2007, 7, "Animation,Comedy,Family", "nm0326450", "tt0983983")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Claymore", 8.0, 11211, 2007, 24, "Action,Adventure,Animation", "nm2009210", "tt0985344")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Machete", 6.6, 183895, 2010, 105, "Action,Crime,Thriller", "nm0542450", "tt0985694")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hunger", 7.6, 62029, 2008, 96, "Biography,Drama", "nm2588606", "tt0986233")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shame", 7.2, 173328, 2011, 101, "Drama", "nm2588606", "tt1723811")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("12 Years a Slave", 8.1, 587671, 2013, 134, "Biography,Drama,History", "nm2588606", "tt2024544")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Widows", 6.9, 70375, 2018, 129, "Crime,Drama,Thriller", "nm2588606", "tt4218572")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Like Stars on Earth", 8.4, 146994, 2007, 165, "Drama,Family", "nm0451148", "tt0986264")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Traitor", 7.0, 53491, 2008, 114, "Action,Crime,Drama", "nm0618680", "tt0988047")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Replicas", 5.5, 22035, 2018, 107, "Drama,Sci-Fi,Thriller", "nm0618680", "tt4154916")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Class", 7.9, 13587, 2007, 99, "Drama", "nm0704664", "tt0988108")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Naruto: Shippûden", 8.5, 67867, 2007, 24, "Action,Adventure,Animation", "nm10073374", "tt0988824")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Donkey Punch", 5.1, 10272, 2008, 99, "Crime,Drama,Horror", "nm0085627", "tt0988849")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("StartUp", 8.0, 10368, 2016, 44, "Crime,Thriller", "nm0085627", "tt5028002")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Code Geass: Lelouch of the Rebellion", 8.7, 42198, 2006, 24, "Action,Adventure,Animation", "nm0849465", "tt0994314")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("XXY", 7.1, 12449, 2007, 86, "Drama,Romance", "nm0699932", "tt0995829")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pelé: Birth of a Legend", 7.2, 14408, 2016, 107, "Biography,Drama,Sport", "nm3104562", "tt0995868")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Darker Than Black: Gemini of the Meteor", 7.8, 10289, 2007, 24, "Action,Animation,Drama", "nm1783646", "tt0995941")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Experiment", 6.4, 48936, 2010, 96, "Drama,Thriller", "nm0771228", "tt0997152")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Secret Diary of a Call Girl", 7.4, 11926, 2007, 30, "Drama", "nm1743350", "tt1000734")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Uncharted: Drake's Fortune", 8.6, 14100, 2007, null, "Action,Adventure,Fantasy", "nm0377339", "tt1000777")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Uncharted 2: Among Thieves", 9.4, 17923, 2009, null, "Action,Adventure,Fantasy", "nm0377339", "tt1349460")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Poughkeepsie Tapes", 6.1, 12893, 2007, 81, "Horror,Mystery,Thriller", "nm0235719", "tt1010271")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Quarantine", 6.0, 66145, 2008, 89, "Horror,Thriller", "nm0235719", "tt1082868")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Devil", 6.2, 123321, 2010, 80, "Horror,Mystery,Thriller", "nm0235719", "tt1314655")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("No Escape", 6.8, 71511, 2015, 103, "Action,Thriller", "nm0235719", "tt1781922")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("As Above, So Below", 6.2, 68665, 2014, 93, "Horror,Mystery,Thriller", "nm0235719", "tt2870612")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bheja Fry", 7.6, 10405, 2007, 95, "Comedy,Drama", "nm2625699", "tt1014672")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Home", 8.6, 20681, 2009, 120, "Documentary,Drama,Family", "nm0037867", "tt1014762")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Child 44", 6.5, 60619, 2015, 137, "Crime,Drama,History", "nm1174251", "tt1014763")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Easy Money", 6.7, 15819, 2010, 124, "Action,Crime,Drama", "nm1174251", "tt1291652")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Safe House", 6.7, 194797, 2012, 115, "Action,Thriller", "nm1174251", "tt1599348")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Life", 6.6, 187517, 2017, 104, "Horror,Sci-Fi,Thriller", "nm1174251", "tt5442430")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fame", 5.0, 15494, 2009, 107, "Comedy,Drama,Musical", "nm1160495", "tt1016075")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fermat's Room", 6.7, 17875, 2007, 89, "Mystery,Thriller", "nm1618276", "tt1016301")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Runaways", 6.5, 44200, 2010, 106, "Biography,Drama,Music", "nm0797455", "tt1017451")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Assassination of a High School President", 6.2, 15121, 2008, 93, "Comedy,Crime,Mystery", "nm1843195", "tt1018818")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Taking Chance", 7.4, 12516, 2009, 77, "Drama,War", "nm0441839", "tt1019454")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Choice", 6.6, 31169, 2016, 111, "Drama,Romance", "nm0441839", "tt3797868")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Selma", 7.5, 78826, 2014, 128, "Biography,Drama,History", "nm1148550", "tt1020072")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Wrinkle in Time", 4.2, 36470, 2018, 109, "Adventure,Family,Fantasy", "nm1148550", "tt1620680")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("13th", 8.2, 20450, 2016, 100, "Crime,Documentary,News", "nm1148550", "tt5895028")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("When They See Us", 9.0, 48314, 2019, 296, "Biography,Drama,History", "nm1148550", "tt7137906")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eden Lake", 6.8, 71279, 2008, 91, "Horror,Thriller", "nm1220140", "tt1020530")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Woman in Black", 6.4, 167079, 2012, 95, "Drama,Fantasy,Horror", "nm1220140", "tt1596365")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Take", 6.3, 32087, 2016, 92, "Action,Crime,Drama", "nm1220140", "tt2368619")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shut Up and Dance", 8.5, 37266, 2016, 52, "Drama,Sci-Fi,Thriller", "nm1220140", "tt5709230")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("McMafia", 7.7, 10462, 2018, 60, "Crime,Drama,Thriller", "nm1220140", "tt6271042")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vampire Killers", 5.1, 18987, 2009, 86, "Action,Comedy,Fantasy", "nm0165616", "tt1020885")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Step Up 2: The Streets", 6.2, 76736, 2008, 98, "Drama,Music,Romance", "nm0160840", "tt1023481")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Step Up 3D", 6.2, 53575, 2010, 107, "Drama,Music,Romance", "nm0160840", "tt1193631")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("G.I. Joe: Retaliation", 5.8, 166990, 2013, 110, "Action,Adventure,Sci-Fi", "nm0160840", "tt1583421")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Justin Bieber: Never Say Never", 1.6, 75010, 2011, 105, "Documentary,Music", "nm0160840", "tt1702443")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crazy Rich Asians", 6.9, 108930, 2018, 120, "Comedy,Drama,Romance", "nm0160840", "tt3104988")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Now You See Me 2", 6.5, 222160, 2016, 129, "Action,Adventure,Comedy", "nm0160840", "tt3110958")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Justin Bieber's Believe", 1.6, 17498, 2013, 92, "Documentary,Music", "nm0160840", "tt3165608")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Doghouse", 6.0, 20339, 2009, 89, "Comedy,Horror,Sci-Fi", "nm0922115", "tt1023500")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wild Child", 6.1, 46132, 2008, 98, "Comedy,Drama,Romance", "nm0601680", "tt1024255")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Choke", 6.5, 30630, 2008, 92, "Comedy,Drama", "nm0163988", "tt1024715")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Swing Vote", 6.1, 17019, 2008, 120, "Comedy,Drama", "nm0827750", "tt1027862")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jobs", 5.9, 89877, 2013, 128, "Biography,Drama", "nm0827750", "tt2357129")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Martyrs", 7.1, 76047, 2008, 99, "Horror", "nm1052791", "tt1029234")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Tall Man", 5.9, 36876, 2012, 106, "Crime,Drama,Horror", "nm1052791", "tt1658837")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Incident in a Ghostland", 6.4, 18996, 2018, 91, "Drama,Horror,Mystery", "nm1052791", "tt6195094")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Splinter", 6.1, 31369, 2008, 82, "Horror,Sci-Fi,Thriller", "nm0929317", "tt1031280")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Grudge 3", 4.7, 15951, 2009, 90, "Horror,Mystery,Thriller", "nm0929317", "tt1053859")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Article 15", 8.3, 11810, 2019, 130, "Crime,Drama", "nm1025280", "tt10324144")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ra.One", 4.6, 36091, 2011, 156, "Action,Adventure,Sci-Fi", "nm1025280", "tt1562871")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mulk", 6.6, 12053, 2018, 140, "Drama", "nm1025280", "tt7618184")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Warrior's Way", 6.3, 24473, 2010, 100, "Action,Fantasy,Western", "nm2788363", "tt1032751")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Powder Blue", 6.3, 13545, 2009, 106, "Drama", "nm0119613", "tt1032819")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tyson", 7.5, 11755, 2008, 90, "Biography,Documentary,Sport", "nm0864812", "tt1032821")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("4 Months, 3 Weeks and 2 Days", 7.9, 52734, 2007, 113, "Drama", "nm0612816", "tt1032846")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beyond the Hills", 7.5, 10782, 2012, 152, "Drama", "nm0612816", "tt2258281")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Graduation", 7.3, 10687, 2016, 128, "Crime,Drama", "nm0612816", "tt4936450")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Band's Visit", 7.5, 12276, 2007, 87, "Comedy,Drama,Music", "nm0464115", "tt1032856")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gamer", 5.8, 125766, 2009, 95, "Action,Sci-Fi,Thriller", "nm0004410", "tt1034032")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ghost Rider: Spirit of Vengeance", 4.3, 105060, 2011, 96, "Action,Fantasy,Thriller", "nm0004410", "tt1071875")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Vatican Tapes", 5.0, 15084, 2015, 91, "Horror,Thriller", "nm0004410", "tt1524575")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Iron Sky", 5.9, 88438, 2012, 93, "Action,Comedy,Sci-Fi", "nm1993322", "tt1034314")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Suspiria", 6.8, 44375, 2018, 152, "Fantasy,Horror,Mystery", "nm0345174", "tt1034415")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Am Love", 7.0, 18789, 2009, 120, "Drama,Romance", "nm0345174", "tt1226236")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Bigger Splash", 6.4, 24073, 2015, 125, "Drama,Thriller", "nm0345174", "tt2056771")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Call Me by Your Name", 7.9, 162973, 2017, 132, "Drama,Romance", "nm0345174", "tt5726616")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Coco Before Chanel", 6.7, 37103, 2009, 105, "Biography,Drama", "nm0284774", "tt1035736")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Adore", 6.2, 30180, 2013, 112, "Drama,Romance", "nm0284774", "tt2103267")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flashbacks of a Fool", 6.8, 11482, 2008, 109, "Drama", "nm0909547", "tt1037218")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cadillac Records", 7.0, 18626, 2008, 109, "Biography,Drama,Music", "nm0552140", "tt1042877")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Titans", 7.9, 45416, 2018, 45, "Action,Adventure,Crime", "nm0052059", "tt1043813")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Love You Phillip Morris", 6.6, 88023, 2009, 98, "Biography,Comedy,Crime", "nm0275629", "tt1045772")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crazy, Stupid, Love.", 7.4, 442324, 2011, 118, "Comedy,Drama,Romance", "nm0275629", "tt1570728")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Focus", 6.6, 195857, 2015, 105, "Comedy,Crime,Drama", "nm0275629", "tt2381941")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Half Measures", 9.5, 15669, 2010, 47, "Crime,Drama,Thriller", "nm0002835", "tt1615552")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Box Cutter", 9.2, 14168, 2011, 48, "Crime,Drama,Thriller", "nm0002835", "tt1683084")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hazard Pay", 8.9, 13552, 2012, 48, "Crime,Drama,Thriller", "nm0002835", "tt2301459")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Crocodile's Dilemma", 9.4, 10281, 2014, 69, "Crime,Drama,Thriller", "nm0002835", "tt3097534")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Five-O", 9.5, 11246, 2015, 42, "Crime,Drama", "nm0002835", "tt3866650")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cancer Man", 8.3, 14214, 2008, 48, "Crime,Drama,Thriller", "nm0570995", "tt1054726")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gray Matter", 8.4, 13911, 2008, 48, "Crime,Drama,Thriller", "nm0110644", "tt1054727")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Into the Badlands", 8.0, 37077, 2015, 42, "Action,Adventure,Drama", "nm0110644", "tt3865236")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Life as We Know It", 6.5, 114708, 2010, 114, "Comedy,Drama,Romance", "nm0075528", "tt1055292")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Love, Simon", 7.6, 85643, 2018, 110, "Comedy,Drama,Romance", "nm0075528", "tt5164432")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flashpoint", 7.7, 15822, 2008, 41, "Action,Crime,Drama", "nm0292468", "tt1059475")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Transit", 5.8, 10366, 2012, 88, "Action,Crime,Thriller", "nm0624423", "tt1059836")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Overdrive", 5.4, 10689, 2017, 93, "Action,Thriller", "nm0624423", "tt1935194")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cloverfield", 7.0, 355365, 2008, 85, "Horror,Sci-Fi,Thriller", "nm0716257", "tt1060277")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Let Me In", 7.1, 108188, 2010, 116, "Drama,Fantasy,Horror", "nm0716257", "tt1228987")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dawn of the Planet of the Apes", 7.6, 394483, 2014, 130, "Action,Adventure,Drama", "nm0716257", "tt2103281")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("War for the Planet of the Apes", 7.4, 207509, 2017, 140, "Action,Adventure,Drama", "nm0716257", "tt3450958")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Queen of the South", 7.9, 13034, 2016, 42, "Action,Crime,Drama", "nm0844896", "tt1064899")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Welcome to the Sticks", 7.1, 37064, 2008, 106, "Comedy,Romance", "nm0200702", "tt1064932")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nothing to Declare", 6.4, 12284, 2010, 108, "Comedy", "nm0200702", "tt1528313")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Adult World", 6.1, 16122, 2013, 97, "Comedy,Drama", "nm0168892", "tt1067765")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Burning Plain", 6.8, 17766, 2008, 107, "Crime,Drama,Romance", "nm0037247", "tt1068641")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Class", 7.5, 32576, 2008, 128, "Drama", "nm0134559", "tt1068646")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I've Loved You So Long", 7.6, 19154, 2008, 117, "Drama", "nm1061623", "tt1068649")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Veronika Decides to Die", 6.4, 11576, 2009, 103, "Drama,Romance", "nm1369721", "tt1068678")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Departures", 8.1, 45481, 2008, 130, "Drama,Music", "nm0847690", "tt1069238")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ink", 6.9, 20469, 2009, 107, "Action,Drama,Fantasy", "nm1985821", "tt1071804")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Descent: Part 2", 5.8, 40721, 2009, 94, "Adventure,Horror,Thriller", "nm1154184", "tt1073105")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Party Down", 8.3, 26074, 2009, 30, "Comedy", "nm0330057", "tt1073507")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mass Effect", 9.2, 15161, 2007, null, "Action,Adventure,Mystery", "nm1890556", "tt1073668")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mass Effect 2", 9.6, 16798, 2010, null, "Action,Adventure,Sci-Fi", "nm1890556", "tt1540125")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mass Effect 3", 9.1, 13027, 2012, null, "Action,Adventure,Sci-Fi", "nm1890556", "tt1839558")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shinjuku Incident", 7.0, 10873, 2009, 119, "Action,Crime,Drama", "nm0232504", "tt1075419")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jonah Hex", 4.7, 52601, 2010, 81, "Action,Drama,Fantasy", "nm0371755", "tt1075747")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Free Birds", 5.9, 21217, 2013, 91, "Adventure,Animation,Comedy", "nm0371755", "tt1621039")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Johnny Gaddaar", 7.8, 10554, 2007, 135, "Crime,Drama,Mystery", "nm1437189", "tt1077248")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Badlapur", 7.4, 19842, 2015, 134, "Action,Crime,Drama", "nm1437189", "tt3678782")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Andhadhun", 8.4, 49769, 2018, 139, "Crime,Thriller", "nm1437189", "tt8108198")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Couples Retreat", 5.5, 96852, 2009, 113, "Comedy", "nm0082526", "tt1078940")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ice Age: Dawn of the Dinosaurs", 6.9, 208038, 2009, 94, "Adventure,Animation,Comedy", "nm0862211", "tt1080016")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ice Age: Collision Course", 5.7, 50472, 2016, 94, "Adventure,Animation,Comedy", "nm0862211", "tt3416828")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dave Chappelle: Sticks & Stones", 8.5, 16223, 2019, 65, "Comedy", "nm0490133", "tt10810424")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Management", 5.8, 16527, 2008, 94, "Comedy,Drama,Romance", "nm0067619", "tt1082853")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eddie the Eagle", 7.4, 77584, 2015, 106, "Biography,Comedy,Drama", "nm0002077", "tt1083452")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wild Bill", 7.2, 11422, 2011, 98, "Drama", "nm0002077", "tt1795702")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rocketman", 7.4, 70186, 2019, 121, "Biography,Drama,Music", "nm0002077", "tt2066051")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fired Up!", 6.1, 40879, 2009, 90, "Comedy,Sport", "nm0323239", "tt1083456")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Easy A", 7.1, 335544, 2010, 92, "Comedy,Drama,Romance", "nm0323239", "tt1282140")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Friends with Benefits", 6.5, 321438, 2011, 109, "Comedy,Romance", "nm0323239", "tt1632708")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Annie", 5.3, 31779, 2014, 118, "Comedy,Drama,Family", "nm0323239", "tt1823664")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Peter Rabbit", 6.5, 29249, 2018, 95, "Adventure,Animation,Comedy", "nm0323239", "tt5117670")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wanted", 6.6, 17223, 2009, 147, "Action,Crime,Thriller", "nm0222150", "tt1084972")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rowdy Rathore", 5.7, 19212, 2012, 140, "Action", "nm0222150", "tt2077833")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Prince", 4.6, 16309, 2014, 93, "Action,Thriller", "nm2357819", "tt1085492")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vice", 4.2, 14627, 2015, 96, "Action,Adventure,Sci-Fi", "nm2357819", "tt3480796")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Keeping Up with the Kardashians", 2.7, 24701, 2007, 44, "Drama,Reality-TV", "nm3144036", "tt1086761")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Expelled: No Intelligence Allowed", 3.7, 11709, 2008, 90, "Documentary", "nm2021984", "tt1091617")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Goods: Live Hard, Sell Hard", 5.8, 19650, 2009, 89, "Comedy", "nm0107366", "tt1092633")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Inside Amy Schumer", 6.0, 11154, 2013, 22, "Comedy", "nm0107366", "tt2578508")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jab We Met", 7.9, 43227, 2007, 138, "Comedy,Drama,Romance", "nm1665004", "tt1093370")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Love Aaj Kal", 6.8, 13554, 2009, 128, "Comedy,Drama,Romance", "nm1665004", "tt1275863")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rockstar", 7.7, 35507, 2011, 159, "Drama,Music,Musical", "nm1665004", "tt1839596")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Highway", 7.6, 23891, 2014, 133, "Crime,Drama,Romance", "nm1665004", "tt2980794")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tamasha", 7.2, 20442, 2015, 139, "Comedy,Drama,Romance", "nm1665004", "tt3148502")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jab Harry Met Sejal", 5.3, 17210, 2017, 143, "Comedy,Drama,Romance", "nm1665004", "tt5997666")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("BioShock", 9.2, 15488, 2007, null, "Action,Horror,Mystery", "nm1686028", "tt1094581")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("BioShock Infinite", 9.2, 16264, 2013, null, "Action,Adventure,Drama", "nm1686028", "tt1712064")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("New in Town", 5.6, 20478, 2009, 97, "Comedy,Romance", "nm0255411", "tt1095174")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fifty Dead Men Walking", 6.9, 10470, 2008, 117, "Crime,Drama,Thriller", "nm0804556", "tt1097643")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Leverage", 7.9, 39601, 2008, 42, "Crime,Mystery,Thriller", "nm0743059", "tt1103987")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("TRON: Legacy", 6.8, 299250, 2010, 125, "Action,Adventure,Sci-Fi", "nm2676052", "tt1104001")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Oblivion", 7.0, 460198, 2013, 124, "Action,Adventure,Sci-Fi", "nm2676052", "tt1483013")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Only the Brave", 7.7, 48218, 2017, 134, "Action,Biography,Drama", "nm2676052", "tt3829920")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("One Week", 7.0, 10903, 2008, 94, "Adventure,Drama", "nm1313340", "tt1104806")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dirty Girl", 6.4, 10084, 2010, 90, "Comedy,Drama", "nm0843281", "tt1107319")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Super High Me", 6.1, 12551, 2007, 94, "Comedy,Documentary", "nm0088392", "tt1111833")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Late Night with Jimmy Fallon", 6.9, 12002, 2009, 60, "Comedy,Music,Talk-Show", "nm0088392", "tt1231460")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman: Gotham Knight", 6.8, 24696, 2008, 75, "Action,Animation,Crime", "nm1638463", "tt1117563")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Arena", 4.8, 11254, 2011, 94, "Action,Thriller", "nm0516380", "tt1117581")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blue Valentine", 7.4, 172573, 2010, 112, "Drama,Romance", "nm0161834", "tt1120985")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Place Beyond the Pines", 7.3, 230034, 2012, 140, "Crime,Drama,Thriller", "nm0161834", "tt1817273")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Light Between Oceans", 7.2, 47502, 2016, 133, "Drama,Romance", "nm0161834", "tt2547584")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sword of the Stranger", 7.8, 13498, 2007, 103, "Action,Adventure,Animation", "nm1622836", "tt1121794")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Call of Duty 4: Modern Warfare", 9.0, 18952, 2007, null, "Action,Adventure,Crime", "nm2310136", "tt1125798")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Call of Duty: Modern Warfare 2", 8.7, 19524, 2009, null, "Action,Adventure,Crime", "nm2310136", "tt1450746")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Burlesque", 6.4, 72141, 2010, 119, "Drama,Music,Musical", "nm0031078", "tt1126591")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Adulthood", 6.6, 11357, 2008, 99, "Crime,Drama", "nm0164929", "tt1126596")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("4.3.2.1.", 5.8, 10092, 2010, 117, "Crime,Thriller", "nm0164929", "tt1514041")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sin Nombre", 7.6, 29841, 2009, 96, "Adventure,Crime,Drama", "nm1560977", "tt1127715")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jane Eyre", 7.3, 76148, 2011, 120, "Drama,Romance", "nm1560977", "tt1229822")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beasts of No Nation", 7.8, 65579, 2015, 137, "Drama,War", "nm1560977", "tt1365050")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("True Detective", 9.0, 454997, 2014, 55, "Crime,Drama,Mystery", "nm1560977", "tt2356777")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Long Bright Dark", 9.0, 16529, 2014, 58, "Crime,Drama,Mystery", "nm1560977", "tt2657398")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Seeing Things", 8.9, 14211, 2014, 59, "Crime,Drama,Mystery", "nm1560977", "tt2704380")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Who Goes There", 9.7, 20738, 2014, 56, "Crime,Drama,Mystery", "nm1560977", "tt2790174")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Locked Room", 9.2, 13698, 2014, 60, "Crime,Drama,Mystery", "nm1560977", "tt2790184")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Secret Fate of All Life", 9.6, 15155, 2014, 57, "Crime,Drama,Mystery", "nm1560977", "tt2790196")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Texas Chainsaw 3D", 4.8, 42463, 2013, 92, "Horror,Thriller", "nm0525141", "tt1572315")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Slammin' Salmon", 6.4, 12611, 2009, 90, "Comedy", "nm0373571", "tt1135525")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sex Drive", 6.5, 80485, 2008, 109, "Comedy,Romance", "nm1890845", "tt1135985")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("That's My Boy", 5.5, 84605, 2012, 116, "Comedy", "nm1890845", "tt1232200")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Daddy's Home", 6.2, 99365, 2015, 96, "Comedy", "nm1890845", "tt1528854")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Horrible Bosses 2", 6.3, 146949, 2014, 108, "Comedy,Crime", "nm1890845", "tt2170439")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Daddy's Home 2", 6.0, 51412, 2017, 100, "Comedy", "nm1890845", "tt5657846")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Instant Family", 7.3, 55955, 2018, 118, "Comedy,Drama", "nm1890845", "tt7401588")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("District 9", 7.9, 610883, 2009, 112, "Action,Sci-Fi,Thriller", "nm0088955", "tt1136608")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Elysium", 6.6, 400408, 2013, 109, "Action,Drama,Sci-Fi", "nm0088955", "tt1535108")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chappie", 6.8, 216687, 2015, 120, "Action,Crime,Drama", "nm0088955", "tt1823672")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Let the Right One In", 7.9, 196896, 2008, 114, "Drama,Horror,Romance", "nm0019247", "tt1139797")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tinker Tailor Soldier Spy", 7.1, 176822, 2011, 122, "Drama,Mystery,Thriller", "nm0019247", "tt1340800")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Snowman", 5.1, 50552, 2017, 119, "Crime,Drama,Mystery", "nm0019247", "tt1758810")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chowder", 7.3, 10285, 2007, 11, "Adventure,Animation,Comedy", "nm0396317", "tt1140100")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Post Grad", 5.3, 13294, 2009, 88, "Comedy,Romance", "nm0421776", "tt1142433")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bigger Stronger Faster*", 7.6, 12849, 2008, 105, "Documentary,Sport", "nm0068106", "tt1151309")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Miss March", 5.0, 20165, 2009, 90, "Comedy,Romance", "nm2222515", "tt1151922")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beastly", 5.6, 73219, 2011, 86, "Drama,Fantasy,Romance", "nm1400426", "tt1152398")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cake", 6.4, 33474, 2014, 102, "Drama", "nm1400426", "tt3442006")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dear Zachary: A Letter to a Son About His Father", 8.6, 29982, 2008, 95, "Biography,Crime,Documentary", "nm0473936", "tt1152758")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wendy and Lucy", 7.1, 14970, 2008, 80, "Drama", "nm0716980", "tt1152850")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Meek's Cutoff", 6.5, 10645, 2010, 104, "Drama,Western", "nm0716980", "tt1518812")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Night Moves", 6.0, 13143, 2013, 112, "Drama,Thriller", "nm0716980", "tt2043933")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Certain Women", 6.3, 10587, 2016, 107, "Drama", "nm0716980", "tt4468634")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dance Flick", 3.5, 11232, 2009, 83, "Action,Comedy,Music", "nm1349040", "tt1153706")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Man on Wire", 7.7, 49906, 2008, 94, "Biography,Documentary,History", "nm1016428", "tt1155592")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shadow Dancer", 6.2, 11544, 2012, 101, "Drama,Thriller", "nm1016428", "tt1770734")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Theory of Everything", 7.7, 368115, 2014, 123, "Biography,Drama,Romance", "nm1016428", "tt2980516")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zombieland", 7.6, 470131, 2009, 88, "Adventure,Comedy,Horror", "nm0281508", "tt1156398")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Venom", 6.7, 305545, 2018, 112, "Action,Sci-Fi,Thriller", "nm0281508", "tt1270797")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gangster Squad", 6.7, 197603, 2013, 113, "Action,Crime,Drama", "nm0281508", "tt1321870")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("30 Minutes or Less", 6.1, 88607, 2011, 83, "Action,Comedy,Crime", "nm0281508", "tt1622547")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Colony", 5.3, 41221, 2013, 95, "Action,Horror,Sci-Fi", "nm1199954", "tt1160996")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zeitgeist", 8.1, 46823, 2007, 118, "Documentary,History", "nm2879822", "tt1166827")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zeitgeist: Addendum", 8.3, 17230, 2008, 123, "Documentary,History,War", "nm2879822", "tt1332128")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zeitgeist: Moving Forward", 8.2, 16980, 2011, 161, "Documentary", "nm2879822", "tt1781069")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("22 Bullets", 6.7, 30794, 2010, 117, "Action,Crime,Drama", "nm0006939", "tt1167638")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Breath", 8.0, 29922, 2009, 128, "Action,Drama,Thriller", "nm2896395", "tt1171701")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Whip It", 6.9, 61645, 2009, 111, "Drama,Sport", "nm0000106", "tt1172233")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Children", 6.0, 16328, 2008, 84, "Horror,Mystery,Thriller", "nm0788191", "tt1172571")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Leftovers", 8.3, 67608, 2014, 60, "Drama,Fantasy,Mystery", "nm0788191", "tt2699128")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Missing", 8.2, 18770, 2014, 60, "Crime,Drama,Mystery", "nm0788191", "tt3877200")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Company Men", 6.7, 41555, 2010, 104, "Drama", "nm0920274", "tt1172991")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("August: Osage County", 7.2, 80326, 2013, 121, "Comedy,Drama", "nm0920274", "tt1322269")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Burnt", 6.6, 98095, 2015, 101, "Comedy,Drama", "nm0920274", "tt2503944")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Animal Kingdom", 8.2, 19939, 2016, 60, "Crime,Drama", "nm0920274", "tt5574490")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Revanche", 7.5, 13023, 2008, 121, "Crime,Drama,Romance", "nm0818608", "tt1173745")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("City Island", 7.4, 29530, 2009, 104, "Comedy,Drama", "nm0208343", "tt1174730")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rob the Mob", 6.3, 10263, 2014, 104, "Crime,Drama", "nm0208343", "tt2481480")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Resident Evil: Degeneration", 6.5, 27771, 2008, 97, "Action,Animation,Horror", "nm0436780", "tt1174954")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Resident Evil: Damnation", 6.5, 17337, 2012, 100, "Action,Animation,Horror", "nm0436780", "tt1753496")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wallander", 7.9, 11289, 2008, 90, "Crime,Drama,Mystery", "nm1595284", "tt1178618")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Being Human", 7.8, 23027, 2008, 60, "Comedy,Drama,Fantasy", "nm1595284", "tt1349938")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Reichenbach Fall", 9.7, 31669, 2012, 88, "Crime,Drama,Mystery", "nm1595284", "tt1942614")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jonathan Strange & Mr Norrell", 8.2, 10886, 2015, 60, "Fantasy,History,Sci-Fi", "nm1595284", "tt2548418")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("USS Callister", 8.3, 41518, 2017, 76, "Drama,Sci-Fi,Thriller", "nm1595284", "tt5710974")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cold in July", 6.8, 32532, 2014, 109, "Crime,Thriller", "nm0585344", "tt1179031")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stake Land", 6.5, 39108, 2010, 98, "Drama,Horror,Sci-Fi", "nm0585344", "tt1464580")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("We Are What We Are", 5.9, 18627, 2013, 105, "Drama,Horror,Thriller", "nm0585344", "tt2309021")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In the Shadow of the Moon", 6.2, 12359, 2019, 115, "Crime,Mystery,Sci-Fi", "nm0585344", "tt8110640")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Nightmare on Elm Street", 5.2, 86730, 2010, 95, "Crime,Drama,Horror", "nm1207904", "tt1179056")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("6 Souls", 6.1, 30753, 2010, 112, "Horror,Mystery,Thriller", "nm0617523", "tt1179069")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Underworld Awakening", 6.4, 139747, 2012, 88, "Action,Adventure,Drama", "nm0617523", "tt1496025")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("TiMER", 6.5, 12006, 2009, 99, "Comedy,Drama,Romance", "nm2356614", "tt1179794")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Secret Life of the American Teenager", 4.9, 18737, 2008, 43, "Comedy,Drama,Family", "nm0874133", "tt1179817")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paranormal Activity", 6.3, 210197, 2007, 86, "Horror,Mystery,Thriller", "nm2305431", "tt1179904")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Area 51", 4.2, 11768, 2015, 91, "Horror,Mystery,Sci-Fi", "nm2305431", "tt1519461")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("10 Cloverfield Lane", 7.2, 266371, 2016, 103, "Drama,Horror,Mystery", "nm0870469", "tt1179933")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Playtest", 8.1, 36409, 2016, 57, "Drama,Sci-Fi,Thriller", "nm0870469", "tt5709242")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bunraku", 6.2, 18485, 2010, 124, "Action,Drama,Fantasy", "nm1679136", "tt1181795")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Suite Life on Deck", 6.2, 13819, 2008, 30, "Action,Adventure,Comedy", "nm0436039", "tt1181917")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Horde", 5.9, 14603, 2009, 90, "Action,Horror", "nm2278184", "tt1183276")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pet", 5.7, 14323, 2016, 94, "Horror,Thriller", "nm2165066", "tt1183374")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Apartment 143", 5.1, 10650, 2011, 80, "Horror,Thriller", "nm2165066", "tt1757742")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cracks", 6.7, 18227, 2009, 104, "Drama,Thriller", "nm0779386", "tt1183665")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tokyo Gore Police", 5.9, 10376, 2008, 110, "Action,Comedy,Horror", "nm1883583", "tt1183732")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alphas", 7.2, 26715, 2011, 44, "Action,Drama,Sci-Fi", "nm0178944", "tt1183865")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Salem", 7.1, 20978, 2014, 60, "Drama,Fantasy,Horror", "nm0178944", "tt2963254")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Welcome to the Rileys", 7.0, 22438, 2010, 110, "Drama", "nm0779265", "tt1183923")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stan Helsing", 3.6, 11694, 2009, 108, "Comedy,Horror", "nm0954848", "tt1185266")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dostana", 6.5, 12866, 2008, 145, "Comedy,Drama,Romance", "nm1160374", "tt1185420")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Waltz with Bashir", 8.0, 52802, 2008, 90, "Animation,Biography,Documentary", "nm0284369", "tt1185616")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Congress", 6.5, 16270, 2013, 122, "Animation,Drama,Sci-Fi", "nm0284369", "tt1821641")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Wars: The Clone Wars", 5.9, 51050, 2008, 98, "Action,Adventure,Animation", "nm1396048", "tt1185834")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Adam", 7.2, 32729, 2009, 99, "Comedy,Drama,Romance", "nm0562470", "tt1185836")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Whitechapel", 7.9, 10102, 2009, 180, "Crime,Mystery,Thriller", "nm1113890", "tt1186356")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Peacock", 6.2, 10193, 2010, 90, "Drama,Thriller", "nm1740888", "tt1188113")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jai Ho", 5.2, 15805, 2014, 135, "Action,Drama", "nm0451326", "tt1188982")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lincoln Lawyer", 7.3, 198605, 2011, 118, "Crime,Drama,Thriller", "nm1026778", "tt1189340")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Infiltrator", 7.0, 62763, 2016, 127, "Biography,Crime,Drama", "nm1026778", "tt1355631")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Runner Runner", 5.6, 58682, 2013, 88, "Crime,Thriller", "nm1026778", "tt2364841")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Dynamite", 7.4, 43500, 2009, 84, "Action,Comedy", "nm0761715", "tt1190536")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Chaser", 7.9, 50912, 2008, 125, "Action,Crime,Thriller", "nm2947553", "tt1190539")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Yellow Sea", 7.3, 16646, 2010, 157, "Action,Drama,Thriller", "nm2947553", "tt1230385")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wailing", 7.4, 37624, 2016, 156, "Horror,Mystery,Thriller", "nm2947553", "tt5215952")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nurse Jackie", 7.7, 23181, 2009, 27, "Comedy,Drama", "nm0082450", "tt1190689")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Get Low", 7.0, 21382, 2009, 103, "Drama,Mystery", "nm0773689", "tt1194263")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Cleveland Show", 5.5, 37063, 2009, 22, "Adventure,Animation,Comedy", "nm1401737", "tt1195935")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Princess Protection Program", 5.6, 19883, 2009, 90, "Comedy,Drama,Family", "nm0509183", "tt1196339")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Good Doctor", 8.2, 47838, 2017, 41, "Drama", "nm0509183", "tt6470478")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mentalist", 8.1, 154301, 2008, 43, "Crime,Drama,Mystery", "nm0894225", "tt1196946")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("No Ordinary Family", 6.9, 15776, 2010, 60, "Action,Comedy,Drama", "nm0894225", "tt1591493")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Charlie Countryman", 6.4, 25672, 2013, 103, "Comedy,Drama,Romance", "nm0093934", "tt1196948")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Obsessed", 5.0, 27605, 2009, 108, "Drama,Thriller", "nm0793455", "tt1198138")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Remember the Monsters?", 4.6, 16393, 2013, 56, "Crime,Drama,Mystery", "nm0793455", "tt2578802")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Merlin", 7.9, 67394, 2008, 45, "Adventure,Drama,Fantasy", "nm0915416", "tt1199099")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Assassin's Creed II", 9.1, 18467, 2009, null, "Action,Adventure,Drama", "nm1047123", "tt1201133")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Assassin's Creed III", 8.0, 13658, 2012, null, "Action,Adventure,History", "nm1047123", "tt2175563")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tyrannosaur", 7.6, 28857, 2011, 92, "Drama", "nm0175916", "tt1204340")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ouija", 4.5, 44863, 2014, 89, "Horror,Mystery,Thriller", "nm0925482", "tt1204977")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Rebound", 6.3, 44503, 2009, 95, "Comedy,Romance", "nm0294505", "tt1205535")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Out of the Furnace", 6.8, 100218, 2013, 116, "Action,Crime,Drama", "nm0178376", "tt1206543")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crazy Heart", 7.2, 80344, 2009, 112, "Drama,Music,Romance", "nm0178376", "tt1263670")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Mass", 6.9, 157962, 2015, 123, "Biography,Crime,Drama", "nm0178376", "tt1355683")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hostiles", 7.2, 56852, 2017, 134, "Adventure,Drama,Western", "nm0178376", "tt5478478")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rambo: Last Blood", 6.7, 18802, 2019, 89, "Action,Adventure,Thriller", "nm0344496", "tt1206885")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Get the Gringo", 7.0, 98915, 2012, 96, "Action,Crime,Drama", "nm0344496", "tt1567609")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Back-up Plan", 5.3, 46609, 2010, 104, "Comedy,Romance", "nm0693561", "tt1212436")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Newsroom", 8.6, 97331, 2012, 55, "Drama", "nm0693561", "tt1870479")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bitch Slap", 4.4, 13116, 2009, 109, "Action,Comedy,Crime", "nm0414910", "tt1212974")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spartacus: Gods of the Arena", 8.5, 117539, 2011, 55, "Action,Adventure,Biography", "nm0414910", "tt1758429")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alpha and Omega", 5.2, 12624, 2010, 90, "Adventure,Animation,Comedy", "nm0068034", "tt1213012")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("First Man", 7.3, 135695, 2018, 141, "Biography,Drama,History", "nm3227090", "tt1213641")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Whiplash", 8.5, 634360, 2014, 106, "Drama,Music", "nm3227090", "tt2582802")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("La La Land", 8.0, 448496, 2016, 128, "Comedy,Drama,Music", "nm3227090", "tt3783958")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("London Boulevard", 6.2, 44922, 2010, 103, "Crime,Drama", "nm1184258", "tt1213648")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Soul Eater", 7.9, 10095, 2008, 24, "Action,Adventure,Animation", "nm0407024", "tt1214085")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Girl Who Played with Fire", 7.2, 86361, 2009, 129, "Crime,Drama,Mystery", "nm0019242", "tt1216487")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Girl Who Kicked the Hornet's Nest", 7.3, 64003, 2009, 147, "Crime,Drama,Thriller", "nm0019242", "tt1343097")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kidnapping Mr. Heineken", 6.1, 18043, 2015, 95, "Action,Crime,Drama", "nm0019242", "tt2917388")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kill the Messenger", 6.9, 41923, 2014, 112, "Biography,Crime,Drama", "nm0191147", "tt1216491")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Assassin", 6.2, 60265, 2017, 112, "Action,Thriller", "nm0191147", "tt1961175")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Womb", 6.4, 12647, 2010, 111, "Drama,Romance,Sci-Fi", "nm1212903", "tt1216520")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ghost in the Shell", 6.3, 181508, 2017, 107, "Action,Drama,Sci-Fi", "nm2782185", "tt1219827")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Snow White and the Huntsman", 6.1, 261612, 2012, 127, "Action,Adventure,Drama", "nm2782185", "tt1735898")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fourth Kind", 5.9, 70626, 2009, 98, "Mystery,Sci-Fi,Thriller", "nm1069989", "tt1220198")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Trek: Discovery", 7.4, 73521, 2017, 60, "Action,Adventure,Drama", "nm1069989", "tt5171438")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Inbetweeners", 8.4, 73652, 2008, 25, "Comedy", "nm1414582", "tt1220617")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Inbetweeners Movie", 6.7, 74136, 2011, 97, "Comedy", "nm1414582", "tt1716772")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Man Up", 6.8, 45414, 2015, 88, "Comedy,Drama,Romance", "nm1414582", "tt3064298")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Henry's Crime", 6.0, 18019, 2010, 108, "Comedy,Crime,Drama", "nm0893473", "tt1220888")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("90210", 6.1, 40773, 2008, 60, "Comedy,Drama,Romance", "nm0801625", "tt1225901")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Late Quartet", 7.1, 13129, 2012, 105, "Drama,Music", "nm1597629", "tt1226240")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pontypool", 6.6, 27235, 2008, 93, "Fantasy,Horror,Thriller", "nm0567680", "tt1226681")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In the Loop", 7.4, 51748, 2009, 106, "Comedy", "nm0406334", "tt1226774")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Death of Stalin", 7.2, 66846, 2017, 107, "Comedy,Drama,History", "nm0406334", "tt4686844")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beautiful Boy", 7.3, 35622, 2018, 120, "Biography,Drama", "nm0886976", "tt1226837")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Broken Circle Breakdown", 7.8, 36933, 2012, 111, "Drama,Music,Romance", "nm0886976", "tt2024519")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jonas Brothers: The 3D Concert Experience", 1.5, 17198, 2009, 76, "Documentary,Music", "nm0376712", "tt1229827")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rock On!!", 7.8, 19484, 2008, 145, "Drama,Music", "nm0438461", "tt1230165")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kai po che!", 7.6, 24889, 2013, 120, "Drama,Sport", "nm0438461", "tt2213054")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Angry Video Game Nerd", 8.5, 13357, 2004, 35, "Comedy,Talk-Show", "nm3005544", "tt1230180")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Labor Pains", 4.8, 10294, 2009, 89, "Comedy,Romance", "nm0788555", "tt1231287")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Good Old Fashioned Orgy", 6.1, 20019, 2011, 95, "Comedy,Romance", "nm0339733", "tt1231586")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Seven Thirty-Seven", 8.7, 12618, 2009, 47, "Crime,Drama,Thriller", "nm0186505", "tt1232244")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("No Más", 8.6, 11599, 2010, 47, "Crime,Drama,Thriller", "nm0186505", "tt1528116")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blood Money", 9.5, 18372, 2013, 48, "Crime,Drama,Thriller", "nm0186505", "tt2301471")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Phoenix", 9.3, 13594, 2009, 47, "Crime,Drama,Thriller", "nm0118778", "tt1232247")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I See You", 8.8, 11297, 2010, 47, "Crime,Drama,Thriller", "nm0118778", "tt1615557")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bullet Points", 8.7, 10954, 2011, 47, "Crime,Drama,Thriller", "nm0118778", "tt1683091")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Buyout", 9.0, 14005, 2012, 48, "Crime,Drama,Thriller", "nm0118778", "tt2301465")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Affair", 7.9, 35012, 2014, 60, "Drama", "nm0118778", "tt2699110")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Grilled", 9.3, 14765, 2009, 46, "Crime,Drama,Thriller", "nm0354024", "tt1232249")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bit by a Dead Bee", 8.4, 12265, 2009, 47, "Crime,Drama,Thriller", "nm0568192", "tt1232250")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Better Call Saul", 9.2, 13966, 2009, 47, "Crime,Drama,Thriller", "nm0568192", "tt1232255")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bug", 8.9, 11702, 2011, 47, "Crime,Drama,Thriller", "nm0568192", "tt1683096")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hell on Wheels", 8.3, 45159, 2011, 42, "Drama,Western", "nm0568192", "tt1699748")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Breakage", 8.4, 12019, 2009, 47, "Crime,Drama,Thriller", "nm0719307", "tt1232252")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Más", 8.7, 10885, 2010, 47, "Crime,Drama,Thriller", "nm0719307", "tt1615555")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vatos", 8.6, 10518, 2010, 45, "Drama,Horror,Thriller", "nm0719307", "tt1628066")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hermanos", 9.3, 13128, 2011, 47, "Crime,Drama,Thriller", "nm0719307", "tt1683095")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chernobyl", 9.5, 365814, 2019, 330, "Drama,History,Thriller", "nm0719307", "tt7366338")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("1:23:45", 9.5, 43812, 2019, 60, "Drama,History,Thriller", "nm0719307", "tt8162428")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Please Remain Calm", 9.7, 41398, 2019, 65, "Drama,History,Thriller", "nm0719307", "tt8482972")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Open Wide, O Earth", 9.6, 38782, 2019, 65, "Drama,History,Thriller", "nm0719307", "tt9166672")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Happiness of All Mankind", 9.5, 36370, 2019, 67, "Drama,History,Thriller", "nm0719307", "tt9166678")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vichnaya Pamyat", 9.9, 47038, 2019, 72, "Drama,History,Thriller", "nm0719307", "tt9166696")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sorority Row", 5.1, 27316, 2009, 101, "Horror,Mystery", "nm0376664", "tt1232783")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Max Steel", 4.6, 17170, 2016, 92, "Action,Adventure,Family", "nm0376664", "tt1472584")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Halo 4: Forward Unto Dawn", 6.9, 22762, 2012, 100, "Action,Adventure,Sci-Fi", "nm0376664", "tt2262308")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("21 Jump Street", 7.2, 484073, 2012, 109, "Action,Comedy,Crime", "nm0520488", "tt1232829")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lego Movie", 7.8, 308486, 2014, 100, "Action,Adventure,Animation", "nm0520488", "tt1490017")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Saw VI", 6.0, 94847, 2009, 90, "Horror,Mystery,Thriller", "nm0340436", "tt1233227")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Saw 3D: The Final Chapter", 5.6, 84748, 2010, 90, "Horror,Mystery", "nm0340436", "tt1477076")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jessabelle", 5.4, 21059, 2014, 90, "Horror,Thriller", "nm0340436", "tt2300975")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ironclad", 6.1, 38766, 2011, 121, "Action,Drama,History", "nm0257646", "tt1233301")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Butterfly Effect 3: Revelations", 5.6, 17869, 2009, 90, "Crime,Sci-Fi,Thriller", "nm0343713", "tt1234541")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Men Who Stare at Goats", 6.2, 122607, 2009, 94, "Comedy,War", "nm0381416", "tt1234548")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Red Dawn", 5.4, 70377, 2012, 93, "Action,Sci-Fi,Thriller", "nm0103187", "tt1234719")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Thaw", 5.2, 10826, 2009, 90, "Horror,Sci-Fi,Thriller", "nm1721795", "tt1235448")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Broken City", 6.2, 72350, 2013, 109, "Crime,Drama,Thriller", "nm0400441", "tt1235522")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Better Off Ted", 8.2, 23700, 2009, 30, "Comedy,Sci-Fi", "nm0294350", "tt1235547")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sidewalls", 7.6, 13028, 2011, 95, "Comedy,Drama", "nm1391924", "tt1235841")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bad Times at the El Royale", 7.1, 102601, 2018, 141, "Crime,Drama,Mystery", "nm1206844", "tt6628394")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Den of Thieves", 7.0, 73493, 2018, 140, "Action,Crime,Drama", "nm0345615", "tt1259528")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wrong Turn 3: Left for Dead", 4.6, 21383, 2009, 92, "Horror", "nm0639508", "tt1261978")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wrong Turn 4: Bloody Beginnings", 4.5, 21088, 2011, 93, "Horror", "nm0639508", "tt1865567")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wrong Turn 5: Bloodlines", 4.1, 16728, 2012, 91, "Horror", "nm0639508", "tt2375779")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("World's Greatest Dad", 6.9, 35848, 2009, 99, "Comedy,Drama", "nm0001281", "tt1262981")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("God Bless America", 7.2, 66286, 2011, 105, "Adventure,Comedy,Crime", "nm0001281", "tt1912398")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Little Nicholas", 7.1, 11462, 2009, 91, "Comedy,Family", "nm1016687", "tt1264904")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Astérix and Obélix: God Save Britannia", 5.3, 12234, 2012, 110, "Adventure,Comedy,Family", "nm1016687", "tt1597522")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Roommate", 4.8, 33673, 2011, 91, "Drama,Thriller", "nm0160157", "tt1265990")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Parks and Recreation", 8.6, 183323, 2009, 22, "Comedy", "nm0390657", "tt1266020")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Love", 7.7, 32617, 2016, 50, "Comedy,Drama,Romance", "nm0390657", "tt4061080")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nowhere Boy", 7.1, 33259, 2009, 98, "Biography,Drama,Music", "nm0853374", "tt1266029")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fifty Shades of Grey", 4.1, 282896, 2015, 125, "Drama,Romance,Thriller", "nm0853374", "tt2322441")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Very Harold & Kumar 3D Christmas", 6.3, 62691, 2011, 90, "Adventure,Comedy", "nm0833889", "tt1268799")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Final Girls", 6.6, 30939, 2015, 88, "Comedy,Drama,Fantasy", "nm0833889", "tt2118624")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Isn't It Romantic", 5.9, 49253, 2019, 89, "Comedy,Fantasy,Romance", "nm0833889", "tt2452244")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Don't Be Afraid of the Dark", 5.5, 44860, 2010, 99, "Fantasy,Horror,Thriller", "nm2552536", "tt1270761")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Norwegian Wood", 6.4, 10347, 2010, 133, "Drama,Romance", "nm0870841", "tt1270842")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("2 Guns", 6.7, 184341, 2013, 109, "Action,Thriller", "nm0466349", "tt1272878")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Contraband", 6.5, 112505, 2012, 109, "Action,Crime,Drama", "nm0466349", "tt1524137")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Everest", 7.1, 183799, 2015, 121, "Action,Adventure,Biography", "nm0466349", "tt2719848")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Adrift", 6.6, 37295, 2018, 96, "Action,Adventure,Biography", "nm0466349", "tt6306064")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Serbian Film", 5.1, 52455, 2010, 104, "Horror,Mystery,Thriller", "nm3094978", "tt1273235")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Royal Affair", 7.5, 41461, 2012, 137, "Biography,Drama,History", "nm1064048", "tt1276419")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Dark Tower", 5.6, 114337, 2017, 95, "Action,Adventure,Fantasy", "nm1064048", "tt1648190")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Van Wilder: Freshman Year", 5.3, 13314, 2009, 98, "Comedy,Romance", "nm2188866", "tt1276434")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Stoning of Soraya M.", 8.0, 17522, 2008, 114, "Drama", "nm0637493", "tt1277737")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dead Snow", 6.3, 61481, 2009, 90, "Comedy,Horror", "nm2482088", "tt1278340")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hansel & Gretel: Witch Hunters", 6.1, 185846, 2013, 88, "Action,Fantasy,Horror", "nm2482088", "tt1428538")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What Happened to Monday", 6.9, 88418, 2017, 123, "Action,Crime,Drama", "nm2482088", "tt1536537")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dead Snow 2: Red vs. Dead", 6.9, 20860, 2014, 100, "Action,Comedy,Horror", "nm2482088", "tt2832470")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Wednesday", 8.1, 69214, 2008, 104, "Crime,Drama,Mystery", "nm3109770", "tt1280558")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Special 26", 8.0, 46295, 2013, 144, "Crime,Drama,Thriller", "nm3109770", "tt2377938")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Baby", 8.0, 49173, 2015, 159, "Action,Thriller", "nm3109770", "tt3848892")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("M.S. Dhoni: The Untold Story", 7.7, 29131, 2016, 184, "Biography,Drama,Sport", "nm3109770", "tt4169250")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman: Arkham Asylum", 9.2, 21669, 2009, null, "Action,Adventure,Crime", "nm2322229", "tt1282022")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman: Arkham City", 9.4, 24436, 2011, null, "Action,Adventure,Crime", "nm2322229", "tt1568322")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman: Arkham Knight", 9.0, 11994, 2015, null, "Action,Adventure,Crime", "nm2322229", "tt3554580")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Strangers: Prey at Night", 5.2, 22999, 2018, 85, "Horror", "nm1266897", "tt1285009")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("47 Meters Down", 5.6, 41877, 2017, 89, "Adventure,Drama,Horror", "nm1266897", "tt2932536")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Other Side of the Door", 5.3, 16138, 2016, 96, "Horror", "nm1266897", "tt3702652")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Joneses", 6.5, 37163, 2009, 96, "Drama", "nm0097517", "tt1285309")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dead Set", 7.7, 17127, 2008, 141, "Comedy,Drama,Horror", "nm1312919", "tt1285482")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("'71", 7.2, 46819, 2014, 99, "Action,Crime,Drama", "nm1312919", "tt2614684")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("White Boy Rick", 6.4, 18888, 2018, 111, "Crime,Drama", "nm1312919", "tt4537896")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stargate Universe", 7.6, 45201, 2009, 43, "Drama,Sci-Fi", "nm0586539", "tt1286039")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Travelers", 8.1, 38211, 2016, 45, "Drama,Mystery,Sci-Fi", "nm0586539", "tt5651844")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A.R.O.G", 7.3, 32925, 2008, 127, "Comedy,Fantasy,Sci-Fi", "nm0948000", "tt1286126")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Coming Soon", 7.5, 28520, 2014, 134, "Comedy", "nm0948000", "tt3698408")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ali Baba and the Seven Dwarfs", 5.8, 16670, 2015, 114, "Action,Comedy,Drama", "nm0948000", "tt4728338")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Battlestar Galactica: The Plan", 7.1, 17768, 2009, 112, "Action,Adventure,Drama", "nm0001579", "tt1286130")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Food, Inc.", 7.8, 48098, 2008, 94, "Documentary,News", "nm0448422", "tt1286537")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cats & Dogs: The Revenge of Kitty Galore", 4.3, 12856, 2010, 82, "Action,Comedy,Family", "nm0679031", "tt1287468")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Journey 2: The Mysterious Island", 5.8, 85242, 2012, 94, "Action,Adventure,Comedy", "nm0679031", "tt1397514")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("San Andreas", 6.0, 196563, 2015, 114, "Action,Adventure,Drama", "nm0679031", "tt2126355")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rampage", 6.1, 122257, 2018, 107, "Action,Adventure,Sci-Fi", "nm0679031", "tt2231461")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Incarnate", 5.2, 10484, 2016, 91, "Horror,Thriller", "nm0679031", "tt3216348")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Universal Soldier: Regeneration", 5.2, 23909, 2009, 97, "Action,Adventure,Crime", "nm0404882", "tt1288403")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Universal Soldier: Day of Reckoning", 5.0, 18390, 2012, 114, "Action,Horror,Mystery", "nm0404882", "tt1659343")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Evil Dead", 6.5, 148254, 2013, 91, "Fantasy,Horror,Thriller", "nm1793079", "tt1288558")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Don't Breathe", 7.1, 193435, 2016, 88, "Crime,Horror,Thriller", "nm1793079", "tt4160708")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Girl in the Spider's Web", 6.1, 32410, 2018, 115, "Action,Crime,Drama", "nm1793079", "tt5177088")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Harry Brown", 7.2, 81341, 2009, 103, "Action,Crime,Drama", "nm2905562", "tt1289406")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Solace", 6.4, 50631, 2015, 101, "Crime,Drama,Mystery", "nm4139472", "tt1291570")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("How to Be Single", 6.1, 75689, 2016, 110, "Comedy,Drama,Romance", "nm0228542", "tt1292566")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Love, Rosie", 7.2, 108399, 2014, 102, "Comedy,Romance", "nm0228542", "tt1638002")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Girlboss", 7.0, 13658, 2017, 26, "Comedy", "nm0228542", "tt5706996")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Song", 5.9, 76263, 2010, 107, "Drama,Music,Romance", "nm1455688", "tt1294226")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("One for the Money", 5.3, 38785, 2012, 91, "Action,Comedy,Crime", "nm1455688", "tt1598828")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Selfie", 7.2, 11303, 2014, 22, "Comedy,Romance", "nm1455688", "tt3549044")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Last Night", 6.6, 45105, 2010, 93, "Drama,Romance", "nm1127653", "tt1294688")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blitz", 6.2, 77987, 2011, 97, "Action,Crime,Thriller", "nm1714255", "tt1297919")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Aftermath", 5.7, 18679, 2017, 94, "Drama,Thriller", "nm1714255", "tt4581576")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("How to Make It in America", 7.9, 14426, 2010, 30, "Comedy,Drama", "nm0267497", "tt1299365")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Oranges", 5.8, 12126, 2011, 90, "Comedy,Drama,Romance", "nm0267497", "tt1313139")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ballers", 7.6, 33901, 2015, 30, "Comedy,Drama,Sport", "nm0267497", "tt2891574")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Green Street Hooligans 2", 4.8, 13081, 2009, 94, "Crime,Drama,Sport", "nm0425364", "tt1300853")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kung Fu Panda 2", 7.2, 233544, 2011, 90, "Action,Adventure,Animation", "nm0950775", "tt1302011")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Darkest Minds", 5.7, 23819, 2018, 104, "Action,Adventure,Drama", "nm0950775", "tt4073790")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Defendor", 6.8, 34475, 2009, 101, "Comedy,Crime,Drama", "nm0824220", "tt1303828")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Adventure Time", 8.6, 68005, 2010, 11, "Action,Adventure,Animation", "nm2634350", "tt1305826")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Seeking a Friend for the End of the World", 6.7, 102989, 2012, 101, "Adventure,Comedy,Drama", "nm1032521", "tt1307068")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Meddler", 6.3, 10957, 2015, 103, "Comedy,Drama,Romance", "nm1032521", "tt4501454")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hustlers", 6.6, 12786, 2019, 110, "Comedy,Crime,Drama", "nm1032521", "tt5503686")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("V", 6.8, 51305, 2009, 42, "Drama,Sci-Fi,Thriller", "nm0057106", "tt1307824")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Human Target", 7.8, 16728, 2010, 60, "Action,Adventure,Crime", "nm0057106", "tt1439741")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Under the Dome", 6.6, 97518, 2013, 43, "Drama,Mystery,Sci-Fi", "nm0057106", "tt1553656")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fire with Fire", 5.6, 23896, 2012, 97, "Action,Crime,Drama", "nm0057106", "tt1925431")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A.C.O.D.", 5.6, 12193, 2013, 88, "Comedy", "nm0955974", "tt1311060")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kill Your Darlings", 6.5, 33140, 2013, 104, "Biography,Drama,Romance", "nm1045865", "tt1311071")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Animal Kingdom", 7.3, 52075, 2010, 113, "Crime,Drama", "nm2391575", "tt1313092")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Rover", 6.4, 41355, 2014, 103, "Crime,Drama", "nm2391575", "tt2345737")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("War Machine", 6.0, 36218, 2017, 122, "Comedy,Drama,War", "nm2391575", "tt4758646")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Cove", 8.4, 45615, 2009, 92, "Crime,Documentary", "nm3174775", "tt1313104")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Single Man", 7.6, 100572, 2009, 99, "Drama,Romance", "nm1053530", "tt1315981")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Royal Pains", 7.0, 18199, 2009, 42, "Comedy,Drama", "nm0235852", "tt1319735")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Outsourced", 7.5, 11506, 2010, 30, "Comedy", "nm0235852", "tt1593756")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Concert", 7.6, 16753, 2009, 119, "Comedy,Drama,Music", "nm0586123", "tt1320082")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Exorcism", 5.6, 46287, 2010, 87, "Horror,Mystery,Thriller", "nm0821844", "tt1320244")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("13 Sins", 6.3, 30069, 2014, 93, "Horror,Thriller", "nm0821844", "tt2059171")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Reef", 5.8, 15639, 2010, 94, "Adventure,Drama,Horror", "nm0871188", "tt1320291")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("30 Days of Night: Dark Days", 4.4, 11713, 2010, 92, "Horror,Thriller", "nm2406892", "tt1320304")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Going the Distance", 6.3, 54871, 2010, 102, "Comedy,Romance", "nm0123379", "tt1322312")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("New Girl", 7.7, 172345, 2011, 22, "Comedy", "nm0123379", "tt1826940")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Despicable Me", 7.6, 471738, 2010, 95, "Animation,Comedy,Family", "nm1853544", "tt1323594")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Despicable Me 2", 7.4, 349548, 2013, 98, "Adventure,Animation,Comedy", "nm1853544", "tt1690953")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Minions", 6.4, 197877, 2015, 91, "Adventure,Animation,Comedy", "nm1853544", "tt2293640")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wake Up Sid", 7.6, 25460, 2009, 138, "Comedy,Drama,Romance", "nm2209781", "tt1324059")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Yeh Jawaani Hai Deewani", 7.1, 34736, 2013, 160, "Comedy,Drama,Musical", "nm2209781", "tt2178470")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hulk Vs.", 7.1, 10868, 2009, 82, "Action,Adventure,Animation", "nm0515005", "tt1325753")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Superman/Batman: Public Enemies", 7.2, 19793, 2009, 67, "Action,Animation,Drama", "nm0515005", "tt1398941")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Planet Hulk", 6.8, 11174, 2010, 81, "Action,Adventure,Animation", "nm0515005", "tt1483025")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman: Year One", 7.4, 28432, 2011, 64, "Action,Animation,Crime", "nm0515005", "tt1672723")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("All-Star Superman", 7.0, 12737, 2011, 76, "Action,Animation,Sci-Fi", "nm0515005", "tt1699114")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Justice League: Gods and Monsters", 7.0, 12030, 2015, 76, "Action,Adventure,Animation", "nm0515005", "tt4324302")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman: The Killing Joke", 6.4, 44114, 2016, 76, "Action,Animation,Crime", "nm0515005", "tt4853102")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Justice League vs. Teen Titans", 7.0, 15722, 2016, 78, "Action,Animation,Comedy", "nm0515005", "tt5091548")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Teen Titans: The Judas Contract", 7.0, 10127, 2017, 84, "Action,Adventure,Animation", "nm0515005", "tt6315800")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman: Gotham by Gaslight", 6.7, 11202, 2018, 78, "Action,Adventure,Animation", "nm0515005", "tt7167630")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Glee", 6.7, 128797, 2009, 44, "Comedy,Drama,Music", "nm1267896", "tt1327801")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Horror Story", 8.1, 254580, 2011, 60, "Drama,Horror,Thriller", "nm1267896", "tt1844624")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("9-1-1", 7.6, 14546, 2018, 43, "Action,Drama,Thriller", "nm1267896", "tt7235466")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dread", 5.7, 11333, 2009, 108, "Drama,Horror,Thriller", "nm1304669", "tt1331307")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Last Shift", 5.8, 15232, 2014, 90, "Horror,Mystery,Thriller", "nm1304669", "tt2965466")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("King of Devil's Island", 7.5, 16577, 2010, 116, "Action,Drama", "nm0392319", "tt1332134")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Movie 43", 4.3, 94425, 2013, 94, "Comedy", "nm0006969", "tt1333125")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pitch Perfect 2", 6.4, 133043, 2015, 115, "Comedy,Music", "nm0006969", "tt2848292")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Resident", 5.3, 25174, 2011, 91, "Drama,Horror,Mystery", "nm0427037", "tt1334102")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Arthur", 5.7, 49371, 2011, 110, "Comedy,Romance", "nm0934864", "tt1334512")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Life in Pieces", 8.0, 10972, 2015, 22, "Comedy", "nm0934864", "tt4384086")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Perfect Host", 6.8, 23590, 2010, 93, "Comedy,Crime,Thriller", "nm1204442", "tt1334553")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("47 Ronin", 6.2, 138470, 2013, 128, "Action,Drama,Fantasy", "nm0727754", "tt1335975")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Revenant", 6.3, 10317, 2009, 117, "Comedy,Fantasy,Horror", "nm0697934", "tt1336006")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cyrus", 6.3, 32793, 2010, 91, "Comedy,Drama,Romance", "nm0243233", "tt1336617")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Four Lions", 7.3, 67139, 2010, 97, "Comedy,Crime,Drama", "nm0606439", "tt1341167")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Shrine", 5.5, 12664, 2010, 85, "Horror", "nm1394062", "tt1341710")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mega Shark vs. Giant Octopus", 2.5, 10166, 2009, 88, "Action,Adventure,Comedy", "nm0673512", "tt1350498")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("RuPaul's Drag Race", 8.5, 12053, 2009, 45, "Game-Show,Reality-TV", "nm2541017", "tt1353056")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("If I Stay", 6.7, 109459, 2014, 107, "Drama,Fantasy,Music", "nm0191712", "tt1355630")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fullmetal Alchemist: Brotherhood", 9.1, 95025, 2009, 24, "Action,Adventure,Animation", "nm2460551", "tt1355642")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Passengers", 7.0, 318431, 2016, 116, "Drama,Romance,Sci-Fi", "nm0878763", "tt1355644")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Headhunters", 7.5, 92097, 2011, 96, "Action,Crime,Thriller", "nm0878763", "tt1614989")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Imitation Game", 8.0, 631398, 2014, 114, "Biography,Drama,Thriller", "nm0878763", "tt2084970")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I'm Still Here", 6.2, 18980, 2010, 108, "Comedy,Drama,Music", "nm0000729", "tt1356864")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("About Elly", 8.0, 39328, 2009, 119, "Drama,Mystery,Thriller", "nm1410815", "tt1360860")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Separation", 8.3, 201518, 2011, 123, "Drama,Thriller", "nm1410815", "tt1832382")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Past", 7.8, 41752, 2013, 130, "Drama,Mystery", "nm1410815", "tt2404461")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Everybody Knows", 7.0, 21678, 2018, 133, "Crime,Drama,Mystery", "nm1410815", "tt4964788")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Salesman", 7.8, 43143, 2016, 124, "Drama,Thriller", "nm1410815", "tt5186714")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Good People", 5.5, 14585, 2014, 90, "Action,Crime,Thriller", "nm0313227", "tt1361318")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cockneys vs Zombies", 5.9, 17613, 2012, 88, "Action,Comedy,Horror", "nm2775497", "tt1362058")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Emma", 8.1, 13708, 2009, 240, "Comedy,Drama,Romance", "nm1317262", "tt1366312")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Punisher", 8.6, 156919, 2017, 53, "Action,Adventure,Crime", "nm1317262", "tt5675620")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Coriolanus", 6.1, 29880, 2011, 123, "Drama,Thriller,War", "nm0000146", "tt1372686")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Upside Down", 6.4, 66947, 2012, 109, "Drama,Fantasy,Romance", "nm0812626", "tt1374992")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("NCIS: Los Angeles", 6.7, 45464, 2009, 43, "Action,Crime,Drama", "nm0548159", "tt1378167")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Disappearance of Alice Creed", 6.7, 23939, 2009, 100, "Crime,Thriller", "nm2128335", "tt1379177")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The 5th Wave", 5.2, 92382, 2016, 112, "Action,Adventure,Drama", "nm2128335", "tt2304933")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dogtooth", 7.3, 71017, 2009, 97, "Drama,Thriller", "nm0487166", "tt1379182")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lobster", 7.1, 189040, 2015, 119, "Comedy,Drama,Romance", "nm0487166", "tt3464902")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Favourite", 7.6, 132079, 2018, 119, "Biography,Drama,History", "nm0487166", "tt5083738")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Killing of a Sacred Deer", 7.0, 96036, 2017, 121, "Drama,Mystery,Thriller", "nm0487166", "tt5715874")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Adjustment Bureau", 7.0, 230619, 2011, 106, "Romance,Sci-Fi,Thriller", "nm1079776", "tt1385826")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stand Up Guys", 6.5, 50968, 2012, 95, "Comedy,Crime,Thriller", "nm0001770", "tt1389096")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Before the Flood", 8.3, 24102, 2016, 96, "Documentary", "nm0001770", "tt5929776")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Texas Killing Fields", 5.7, 17609, 2011, 105, "Crime,Drama,History", "nm0542642", "tt1389127")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cloak & Dagger", 6.8, 14313, 2018, 44, "Action,Adventure,Drama", "nm0542642", "tt5614844")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Final", 5.4, 10053, 2010, 93, "Drama,Horror,Thriller", "nm0829518", "tt1390535")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("And Soon the Darkness", 5.2, 15596, 2010, 91, "Drama,Horror,Mystery", "nm1259604", "tt1391034")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Once Upon a Time in Mumbai", 7.4, 15048, 2010, 134, "Action,Crime,Drama", "nm0527453", "tt1395054")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Twice Born", 7.4, 14862, 2012, 127, "Drama,Romance,War", "nm0144812", "tt1396226")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("It", 7.4, 395043, 2017, 135, "Horror", "nm0615592", "tt1396484")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mama", 6.2, 161288, 2013, 100, "Horror,Thriller", "nm0615592", "tt2023587")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("It Chapter Two", 6.9, 86187, 2019, 169, "Drama,Fantasy,Horror", "nm0615592", "tt7349950")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("MacGyver", 5.2, 14952, 2016, 43, "Action,Adventure,Drama", "nm0553635", "tt1399045")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Winter's Bone", 7.2, 129030, 2010, 100, "Drama,Mystery", "nm0335138", "tt1399683")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Leave No Trace", 7.2, 37186, 2018, 109, "Drama", "nm0335138", "tt3892172")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rare Exports: A Christmas Tale", 6.7, 24112, 2010, 84, "Adventure,Fantasy,Horror", "nm1118351", "tt1401143")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Big Game", 5.4, 29103, 2014, 90, "Action,Adventure", "nm1118351", "tt2088003")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hesher", 7.0, 48935, 2010, 106, "Comedy,Crime,Drama", "nm1127632", "tt1403177")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Romantics", 5.1, 11160, 2010, 95, "Comedy,Drama,Romance", "nm0630633", "tt1403988")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Celeste & Jesse Forever", 6.6, 27829, 2012, 92, "Comedy,Drama,Romance", "nm1767218", "tt1405365")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Age of Adaline", 7.2, 142028, 2015, 112, "Drama,Fantasy,Romance", "nm1767218", "tt1655441")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Vampire Diaries", 7.7, 264979, 2009, 43, "Drama,Fantasy,Horror", "nm0124991", "tt1405406")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Pie Presents: The Book of Love", 4.8, 41063, 2009, 93, "Comedy", "nm0003289", "tt1407050")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cougar Town", 6.9, 39023, 2009, 22, "Comedy,Romance", "nm0003289", "tt1441109")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dragon Ball Z Kai", 8.2, 18635, 2009, 24, "Action,Adventure,Animation", "nm0440391", "tt1409055")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Retreat", 5.8, 10594, 2011, 90, "Drama,Thriller", "nm3393440", "tt1410051")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("White Bear", 8.1, 35884, 2013, 42, "Drama,Sci-Fi,Thriller", "nm3393440", "tt2542420")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("White Christmas", 9.2, 44252, 2014, 73, "Drama,Sci-Fi,Thriller", "nm3393440", "tt3973198")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("12 Strong", 6.6, 53343, 2018, 130, "Action,Drama,History", "nm3350420", "tt1413492")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Heartbeats", 7.1, 24931, 2010, 101, "Drama,Romance", "nm0230859", "tt1600524")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Laurence Anyways", 7.7, 15891, 2012, 168, "Drama,Romance", "nm0230859", "tt1650048")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tom at the Farm", 7.0, 14246, 2013, 102, "Drama,Mystery,Thriller", "nm0230859", "tt2427892")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mommy", 8.1, 44144, 2014, 139, "Drama", "nm0230859", "tt3612616")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("It's Only the End of the World", 6.9, 18522, 2016, 97, "Drama", "nm0230859", "tt4645368")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Partly Cloudy", 8.2, 18453, 2009, 6, "Animation,Comedy,Family", "nm0812307", "tt1425244")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Good Dinosaur", 6.7, 93251, 2015, 93, "Adventure,Animation,Comedy", "nm0812307", "tt1979388")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lovelace", 6.2, 36475, 2013, 93, "Biography,Drama", "nm0258531", "tt1426329")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Human Race", 5.2, 10159, 2013, 87, "Action,Horror,Sci-Fi", "nm0396426", "tt1427298")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lost Girl", 7.7, 27235, 2010, 44, "Drama,Fantasy", "nm0227192", "tt1429449")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tosh.0", 7.3, 14127, 2009, 30, "Comedy", "nm0431908", "tt1430587")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Arthur Christmas", 7.1, 45911, 2011, 97, "Adventure,Animation,Comedy", "nm0809877", "tt1430607")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brick Mansions", 5.7, 37933, 2014, 90, "Action,Crime", "nm0216214", "tt1430612")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Transporter Refueled", 5.2, 36779, 2015, 96, "Action,Thriller", "nm0216214", "tt2938956")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Pirates! Band of Misfits", 6.7, 42491, 2012, 88, "Adventure,Animation,Comedy", "nm0520485", "tt1430626")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Deadpool", 8.0, 839648, 2016, 108, "Action,Adventure,Comedy", "nm1783265", "tt1431045")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dhobi Ghat", 7.0, 11747, 2010, 100, "Drama", "nm1444479", "tt1433810")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Disconnect", 7.5, 70578, 2012, 115, "Drama,Thriller", "nm0748066", "tt1433811")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Apparition", 4.1, 18247, 2012, 83, "Horror,Thriller", "nm1447139", "tt1433822")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hysteria", 6.7, 29365, 2011, 100, "Comedy,Romance", "nm0923330", "tt1435513")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bait", 5.2, 15053, 2012, 93, "Action,Adventure,Drama", "nm0719320", "tt1438173")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Community", 8.5, 178060, 2009, 22, "Comedy", "nm0788426", "tt1439629")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Unbreakable Kimmy Schmidt", 7.7, 57213, 2015, 30, "Comedy,Drama", "nm0788426", "tt3339966")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bel Ami", 5.3, 17188, 2012, 102, "Drama,History,Romance", "nm3077950", "tt1440732")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Martha Marcy May Marlene", 6.9, 46357, 2011, 102, "Drama,Mystery,Thriller", "nm1699934", "tt1441326")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Broken", 7.3, 12703, 2012, 91, "Drama,Romance", "nm0635895", "tt1441940")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Quartet", 6.8, 18179, 2012, 94, "Comedy,Drama", "nm0000163", "tt1441951")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Testament of Youth", 7.3, 24205, 2014, 129, "Biography,Drama,History", "nm0448757", "tt1441953")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rookie Blue", 7.7, 15517, 2010, 42, "Crime,Drama", "nm0808376", "tt1442065")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spartacus", 8.5, 208707, 2010, 55, "Action,Adventure,Biography", "nm1168394", "tt1442449")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Past Transgressions", 8.9, 10653, 2011, 51, "Action,Adventure,Biography", "nm1168394", "tt1775926")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Supergirl", 6.4, 99263, 2015, 43, "Action,Adventure,Drama", "nm1168394", "tt4016454")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Good Wife", 8.3, 64109, 2009, 43, "Crime,Drama,Mystery", "nm0735504", "tt1442462")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Middle", 7.5, 41890, 2009, 22, "Comedy", "nm0155117", "tt1442464")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rise of the Guardians", 7.3, 147240, 2012, 97, "Action,Adventure,Animation", "nm0709056", "tt1446192")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spider-Man: Into the Spider-Verse", 8.4, 263479, 2018, 117, "Action,Adventure,Animation", "nm0709056", "tt4633694")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Magadheera", 7.6, 16582, 2009, 147, "Action,Drama,Fantasy", "nm1442514", "tt1447500")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eega", 7.8, 19568, 2012, 145, "Action,Comedy,Fantasy", "nm1442514", "tt2258337")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Baahubali: The Beginning", 8.1, 95027, 2015, 159, "Action,Drama", "nm1442514", "tt2631186")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Baahubali 2: The Conclusion", 8.3, 67550, 2017, 167, "Action,Drama", "nm1442514", "tt4849438")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Peepli (Live)", 7.4, 11094, 2010, 95, "Comedy,Drama", "nm3470556", "tt1447508")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("StreetDance 3D", 5.9, 10461, 2010, 98, "Drama,Music,Romance", "nm2791932", "tt1447972")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Killer Elite", 6.5, 118749, 2011, 116, "Action,Thriller", "nm1834213", "tt1448755")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Filth", 7.1, 94985, 2013, 97, "Comedy,Crime,Drama", "nm1580671", "tt1450321")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stan & Ollie", 7.2, 22220, 2018, 98, "Biography,Comedy,Drama", "nm1580671", "tt3385524")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Pillars of the Earth", 8.1, 27000, 2010, 60, "Drama,History,Romance", "nm0590790", "tt1453159")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monsters University", 7.3, 298016, 2013, 104, "Adventure,Animation,Comedy", "nm0768959", "tt1453405")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Help", 8.1, 398524, 2011, 146, "Drama", "nm0853238", "tt1454029")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Get on Up", 6.9, 19262, 2014, 139, "Biography,Drama,Music", "nm0853238", "tt2473602")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Girl on the Train", 6.5, 155163, 2016, 112, "Crime,Drama,Mystery", "nm0853238", "tt3631112")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ma", 5.6, 20121, 2019, 99, "Horror,Thriller", "nm0853238", "tt7958736")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Haunting in Connecticut 2: Ghosts of Georgia", 5.3, 15408, 2013, 101, "Drama,Horror,Mystery", "nm0253899", "tt1457765")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kidnap", 5.9, 29956, 2017, 95, "Crime,Drama,Thriller", "nm1060986", "tt1458169")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Buried", 7.0, 141281, 2010, 95, "Drama,Mystery,Thriller", "nm0181579", "tt1462758")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Red Lights", 6.2, 55834, 2012, 114, "Drama,Fantasy,Horror", "nm0181579", "tt1748179")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tucker and Dale vs Evil", 7.5, 155956, 2010, 89, "Comedy,Horror", "nm0185848", "tt1465522")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Little Evil", 5.7, 16500, 2017, 94, "Comedy,Horror", "nm0185848", "tt2937366")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Columbo", 8.2, 24334, 1971, 100, "Crime,Drama,Mystery", "nm0568546", "tt1466074")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Human Centipede (First Sequence)", 4.4, 68825, 2009, 92, "Horror", "nm1519353", "tt1467304")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Human Centipede II (Full Sequence)", 3.8, 33269, 2011, 91, "Horror", "nm1519353", "tt1530509")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Human Centipede III (Final Sequence)", 2.8, 13029, 2015, 102, "Comedy,Horror", "nm1519353", "tt1883367")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("MacGruber", 5.5, 40378, 2010, 90, "Action,Comedy,Romance", "nm1672246", "tt1470023")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Luther", 8.5, 108979, 2010, 60, "Crime,Drama,Mystery", "nm0589284", "tt1474684")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("No Good Deed", 5.6, 16390, 2014, 84, "Action,Crime,Drama", "nm0589284", "tt2011159")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Attack the Block", 6.6, 94808, 2011, 88, "Action,Comedy,Sci-Fi", "nm0180428", "tt1478964")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Kid Who Would Be King", 6.0, 10217, 2019, 120, "Action,Adventure,Family", "nm0180428", "tt6811018")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Happythankyoumoreplease", 6.8, 28457, 2010, 100, "Comedy,Drama,Romance", "nm1102140", "tt1481572")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Liberal Arts", 6.7, 34440, 2012, 97, "Comedy,Drama,Romance", "nm1102140", "tt1872818")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lorax", 6.4, 91499, 2012, 86, "Adventure,Animation,Drama", "nm0719208", "tt1482459")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Secret Life of Pets", 6.5, 168736, 2016, 87, "Adventure,Animation,Comedy", "nm0719208", "tt2709768")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Secret Life of Pets 2", 6.5, 25980, 2019, 86, "Adventure,Animation,Comedy", "nm0719208", "tt5113040")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lebanon", 6.9, 10606, 2009, 93, "Drama,War", "nm1413443", "tt1483831")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Greatest Showman", 7.6, 206584, 2017, 105, "Biography,Drama,Musical", "nm1243905", "tt1485796")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Archer", 8.6, 126933, 2009, 22, "Action,Animation,Comedy", "nm0285990", "tt1486217")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Triple Frontier", 6.5, 82224, 2019, 125, "Action,Adventure,Crime", "nm1170855", "tt1488606")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Margin Call", 7.1, 108735, 2011, 107, "Drama,Thriller", "nm1170855", "tt1615147")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("All Is Lost", 6.9, 72081, 2013, 106, "Drama", "nm1170855", "tt2017038")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Most Violent Year", 7.0, 61261, 2014, 125, "Crime,Drama,Thriller", "nm1170855", "tt2937898")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Justified", 8.6, 78714, 2010, 44, "Action,Crime,Drama", "nm0035060", "tt1489428")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Blacklist", 8.0, 163980, 2013, 43, "Crime,Drama,Mystery", "nm0035060", "tt2741602")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Booksmart", 7.3, 40357, 2019, 102, "Comedy", "nm1312575", "tt1489887")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Iceman", 6.8, 66396, 2012, 106, "Biography,Crime,Drama", "nm1033517", "tt1491044")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Criminal", 6.3, 53243, 2016, 113, "Action,Crime,Drama", "nm1033517", "tt3014866")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pawn Stars", 7.2, 14299, 2009, 30, "Reality-TV", "nm2329145", "tt1492088")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Louie", 8.5, 71349, 2010, 22, "Comedy,Drama", "nm0687390", "tt1492966")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Castaway on the Moon", 8.1, 14667, 2009, 116, "Drama,Romance", "nm1409622", "tt1499666")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Death Race 2", 5.6, 29312, 2010, 100, "Action,Crime,Sci-Fi", "nm0004152", "tt1500491")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Death Race: Inferno", 5.5, 17625, 2013, 105, "Action,Crime,Sci-Fi", "nm0004152", "tt1988591")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fantastic Four", 4.3, 142211, 2015, 100, "Action,Adventure,Drama", "nm2503633", "tt1502712")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chronicle", 7.0, 231341, 2012, 84, "Drama,Sci-Fi,Thriller", "nm2503633", "tt1706593")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Julia's Eyes", 6.7, 29885, 2010, 118, "Horror,Mystery,Thriller", "nm0602616", "tt1512685")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Through the Wormhole", 8.6, 15985, 2010, 60, "Documentary", "nm1012131", "tt1513168")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Big C", 8.1, 13439, 2010, 30, "Comedy,Drama", "nm0257554", "tt1515193")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Downton Abbey", 8.7, 146905, 2010, 58, "Drama,Romance", "nm0257554", "tt1606375")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Downton Abbey", 7.8, 10971, 2019, 122, "Drama", "nm0257554", "tt6398184")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Star Is Born", 7.7, 277162, 2018, 136, "Drama,Music,Romance", "nm0177896", "tt1517451")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sarabhai vs Sarabhai", 8.9, 13084, 2004, 30, "Comedy", "nm0080409", "tt1518542")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Outcast", 4.6, 11647, 2014, 99, "Action,Adventure,Drama", "nm0694249", "tt1552224")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ricky Gervais Show", 8.3, 14811, 2010, 30, "Animation,Comedy,Talk-Show", "nm1683464", "tt1553644")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Country Strong", 6.3, 16449, 2010, 117, "Drama,Music", "nm0275277", "tt1555064")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Endless Love", 6.3, 38454, 2014, 104, "Drama,Romance", "nm0275277", "tt2318092")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Restrepo", 7.5, 21034, 2010, 93, "Documentary,War", "nm1770672", "tt1559549")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bob's Burgers", 8.1, 57862, 2011, 22, "Animation,Comedy", "nm0220615", "tt1561755")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zindagi Na Milegi Dobara", 8.1, 60361, 2011, 155, "Comedy,Drama", "nm0015295", "tt1562872")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gully Boy", 8.3, 21423, 2019, 153, "Drama,Music", "nm0015295", "tt2395469")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dil Dhadakne Do", 6.8, 12985, 2015, 170, "Comedy,Drama,Romance", "nm0015295", "tt4110568")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jersey Shore", 3.6, 22330, 2009, 40, "Comedy,Drama,Reality-TV", "nm0470676", "tt1563069")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Skyline", 4.4, 84235, 2010, 92, "Action,Sci-Fi,Thriller", "nm0833779", "tt1564585")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Romantics Anonymous", 6.9, 10002, 2010, 80, "Comedy,Romance", "nm0025534", "tt1565958")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Forks Over Knives", 7.8, 10420, 2011, 96, "Documentary", "nm0298132", "tt1567233")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Voices", 6.4, 49333, 2014, 103, "Comedy,Crime,Horror", "nm2277869", "tt1567437")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Man on a Ledge", 6.6, 138659, 2012, 102, "Action,Adventure,Crime", "nm1300606", "tt1568338")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Secret World of Arrietty", 7.6, 69692, 2010, 94, "Adventure,Animation,Family", "nm0948488", "tt1568921")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman: Under the Red Hood", 8.0, 50002, 2010, 75, "Action,Animation,Crime", "nm1541845", "tt1569923")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tiny Furniture", 6.2, 13483, 2010, 98, "Comedy,Drama,Romance", "nm2501633", "tt1570989")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Girls", 7.3, 61755, 2012, 28, "Comedy,Drama", "nm2501633", "tt1723816")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mortal Engines", 6.1, 81695, 2018, 128, "Action,Adventure,Fantasy", "nm0729514", "tt1571234")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Skeleton Twins", 6.8, 37335, 2014, 93, "Comedy,Drama,Romance", "nm2574897", "tt1571249")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Alex Strangelove", 6.3, 12099, 2018, 99, "Comedy,Drama,Romance", "nm2574897", "tt5688996")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hit List", 5.4, 11128, 2011, 90, "Action,Thriller", "nm0442287", "tt1575694")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mirrors 2", 4.9, 11490, 2010, 86, "Horror,Mystery", "nm1414579", "tt1576699")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pretty Little Liars", 7.4, 144458, 2010, 44, "Drama,Mystery,Romance", "nm0118665", "tt1578873")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("StarStruck", 6.1, 11629, 2010, 90, "Comedy,Family,Music", "nm0343687", "tt1579247")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Daydream Nation", 6.4, 11854, 2010, 98, "Drama,Romance", "nm1492832", "tt1581835")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Puncture", 6.8, 21777, 2011, 100, "Biography,Drama", "nm0440859", "tt1582248")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Episodes", 7.8, 30855, 2011, 30, "Comedy", "nm1564798", "tt1582350")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("House at the End of the Street", 5.6, 67049, 2012, 101, "Drama,Horror,Thriller", "nm0867127", "tt1582507")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Catfish", 7.1, 38932, 2010, 87, "Documentary,Drama,Mystery", "nm1160962", "tt1584016")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paranormal Activity 4", 4.6, 59179, 2012, 88, "Horror,Mystery,Thriller", "nm1160962", "tt2109184")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nerve", 6.5, 105285, 2016, 96, "Adventure,Crime,Drama", "nm1160962", "tt3531824")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Maleficent", 7.0, 311760, 2014, 97, "Action,Adventure,Family", "nm0834902", "tt1587310")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Exit Through the Gift Shop", 8.0, 59258, 2010, 87, "Comedy,Crime,Documentary", "nm2612991", "tt1587707")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jeff, Who Lives at Home", 6.5, 60343, 2011, 83, "Comedy,Drama", "nm0243231", "tt1588334")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Of Gods and Men", 7.2, 14105, 2010, 122, "Drama,History", "nm0064741", "tt1588337")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sleeping Beauty", 5.3, 29609, 2011, 101, "Drama,Romance,Thriller", "nm3772967", "tt1588398")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Uncle Boonmee Who Can Recall His Past Lives", 6.7, 12022, 2010, 114, "Drama,Fantasy", "nm0917405", "tt1588895")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Confessions", 7.8, 32686, 2010, 106, "Drama,Thriller", "nm0620363", "tt1590089")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Breakout Kings", 7.3, 14305, 2011, 43, "Crime,Drama,Thriller", "nm0317382", "tt1590961")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Act of Valor", 6.5, 64155, 2012, 110, "Action,Adventure,Drama", "nm0566788", "tt1591479")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nikita", 7.7, 46803, 2010, 60, "Action,Crime,Drama", "nm0251032", "tt1592154")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lockout", 6.1, 90151, 2012, 95, "Action,Sci-Fi,Thriller", "nm1140492", "tt1592525")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("LOL", 4.4, 51965, 2012, 97, "Comedy,Drama,Romance", "nm0018132", "tt1592873")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eyyvah Eyvah", 7.0, 17312, 2010, 104, "Comedy", "nm1699659", "tt1594918")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eyyvah Eyvah 2", 6.7, 12512, 2011, 106, "Comedy", "nm1699659", "tt1801051")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Being Human", 7.5, 23520, 2011, 44, "Drama,Fantasy,Horror", "nm0059556", "tt1595680")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wynonna Earp", 7.4, 15250, 2016, 60, "Action,Drama,Fantasy", "nm0059556", "tt4878326")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blue Bloods", 7.5, 29497, 2010, 43, "Crime,Drama,Mystery", "nm0485637", "tt1595859")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Z for Zachariah", 6.0, 25988, 2015, 98, "Drama,Sci-Fi,Thriller", "nm0957505", "tt1598642")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Compliance", 6.4, 29072, 2012, 90, "Biography,Crime,Drama", "nm0957505", "tt1971352")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cleanskin", 6.3, 19301, 2012, 108, "Action,Crime,Drama", "nm1561205", "tt1598873")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Drop", 7.1, 134275, 2014, 106, "Crime,Drama", "nm1742427", "tt1600196")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bullhead", 7.4, 20972, 2011, 129, "Crime,Drama", "nm1742427", "tt1821593")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Franklin & Bash", 7.6, 12804, 2011, 60, "Comedy,Crime", "nm0258128", "tt1600199")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Exorcist", 8.1, 22728, 2016, 45, "Drama,Horror,Thriller", "nm0258128", "tt5368542")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("ATM", 4.7, 21846, 2012, 90, "Horror,Thriller", "nm3360080", "tt1603257")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Victorious", 6.8, 17345, 2010, 30, "Comedy,Drama,Family", "nm2143401", "tt1604099")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Frank", 7.0, 71011, 2014, 95, "Comedy,Drama,Music", "nm1049433", "tt1605717")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Room", 8.2, 326278, 2015, 118, "Drama,Thriller", "nm1049433", "tt3170832")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("That's What I Am", 7.0, 10034, 2011, 101, "Comedy,Drama,Romance", "nm0667937", "tt1606180")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Vow", 6.8, 175649, 2012, 104, "Drama,Romance", "nm1302591", "tt1606389")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Every Day", 6.4, 14787, 2018, 97, "Drama,Fantasy,Romance", "nm1302591", "tt7026672")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Heavy Rain", 8.9, 10323, 2010, null, "Adventure,Crime,Drama", "nm1317665", "tt1606610")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Better Living Through Chemistry", 6.3, 13530, 2014, 91, "Comedy,Drama", "nm3819792", "tt1609479")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Band Baaja Baaraat", 7.2, 14011, 2010, 139, "Comedy,Drama,Romance", "nm1834891", "tt1610452")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fan", 7.1, 39734, 2016, 138, "Action,Drama,Thriller", "nm1834891", "tt3495026")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Workaholics", 8.1, 43317, 2011, 22, "Comedy", "nm1760830", "tt1610527")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Murder Mystery", 6.0, 69224, 2019, 97, "Action,Comedy,Crime", "nm1760830", "tt1618434")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Game Over, Man!", 5.4, 22576, 2018, 101, "Action,Comedy", "nm1760830", "tt3317234")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Absentia", 5.8, 15728, 2011, 87, "Drama,Horror,Mystery", "nm1093039", "tt1610996")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Oculus", 6.5, 108762, 2013, 104, "Horror,Mystery", "nm1093039", "tt2388715")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Before I Wake", 6.2, 34107, 2016, 97, "Drama,Fantasy,Horror", "nm1093039", "tt3174376")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gerald's Game", 6.6, 70452, 2017, 103, "Drama,Horror,Thriller", "nm1093039", "tt3748172")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ouija: Origin of Evil", 6.1, 48508, 2016, 99, "Drama,Horror,Mystery", "nm1093039", "tt4361050")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hush", 6.6, 83673, 2016, 82, "Horror,Thriller", "nm1093039", "tt5022702")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Haunting of Hill House", 8.7, 126530, 2018, 50, "Drama,Horror,Mystery", "nm1093039", "tt6763664")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rubber", 5.8, 31920, 2010, 82, "Comedy,Fantasy,Horror", "nm1189197", "tt1612774")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Green Light", 8.3, 11512, 2010, 47, "Crime,Drama,Thriller", "nm0934525", "tt1615554")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crawl Space", 9.7, 19218, 2011, 45, "Crime,Drama,Thriller", "nm0934525", "tt1683086")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kafkaesque", 8.5, 11218, 2010, 47, "Crime,Drama,Thriller", "nm0806252", "tt1615558")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cornered", 8.5, 11112, 2011, 47, "Crime,Drama,Thriller", "nm0806252", "tt1683093")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Live Free or Die", 9.3, 16885, 2012, 43, "Crime,Drama,Thriller", "nm0806252", "tt2081647")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Confessions", 9.6, 19692, 2013, 48, "Crime,Drama,Thriller", "nm0806252", "tt2301445")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wars to Come", 8.5, 25451, 2015, 53, "Action,Adventure,Drama", "nm0806252", "tt3658012")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The House of Black and White", 8.5, 22386, 2015, 56, "Action,Adventure,Drama", "nm0806252", "tt3846626")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thank You", 9.3, 13471, 2015, 43, "Drama,Horror,Thriller", "nm0806252", "tt4719614")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Preacher", 8.0, 61076, 2016, 60, "Adventure,Drama,Fantasy", "nm0806252", "tt5016504")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Raising Hope", 8.0, 33629, 2010, 22, "Comedy,Family", "nm0505842", "tt1615919")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jackie", 6.7, 67305, 2016, 100, "Biography,Drama,History", "nm1883257", "tt1619029")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("No", 7.4, 21678, 2012, 118, "Drama", "nm1883257", "tt2059255")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Day & Night", 8.1, 15388, 2010, 6, "Animation,Comedy,Family", "nm0628599", "tt1620446")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fearless", 6.3, 25647, 2010, 126, "Action,Comedy", "nm3508781", "tt1620719")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paan Singh Tomar", 8.2, 29856, 2012, 135, "Action,Biography,Crime", "nm0223606", "tt1620933")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Final Destination 5", 5.8, 99756, 2011, 92, "Horror", "nm0702797", "tt1622979")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Into the Storm", 5.8, 61490, 2014, 89, "Action,Adventure,Drama", "nm0702797", "tt2106361")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Conan", 8.1, 21153, 2010, 42, "Comedy,Music,Talk-Show", "nm1097698", "tt1637574")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ted", 6.9, 544406, 2012, 106, "Comedy", "nm0532235", "tt1637725")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Million Ways to Die in the West", 6.1, 162453, 2014, 116, "Comedy,Western", "nm0532235", "tt2557490")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ted 2", 6.3, 169695, 2015, 115, "Comedy", "nm0532235", "tt2637276")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Killing", 8.2, 91107, 2011, 45, "Crime,Drama,Mystery", "nm0080601", "tt1637727")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Magic City", 7.6, 11423, 2012, 50, "Crime,Drama", "nm0080601", "tt1832045")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Get Down", 8.3, 19749, 2016, 52, "Drama,Music,Musical", "nm0080601", "tt4592410")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tallulah", 6.7, 15510, 2016, 111, "Comedy,Drama,Romance", "nm1571761", "tt1639084")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Udaan", 8.2, 39401, 2010, 134, "Drama", "nm0003939", "tt1639426")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lootera", 7.3, 13732, 2013, 136, "Drama,Romance", "nm0003939", "tt2224317")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hobo with a Shotgun", 6.1, 42361, 2011, 86, "Action,Comedy,Horror", "nm2639032", "tt1640459")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Titanic II", 1.6, 10141, 2010, 90, "Action,Adventure,Drama", "nm0886749", "tt1640571")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Young Justice", 8.7, 28460, 2010, 23, "Action,Adventure,Animation", "nm1955513", "tt1641384")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Legend Is Born: Ip Man", 7.1, 29833, 2010, 100, "Action,Biography,Drama", "nm0946875", "tt1641638")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hell", 5.8, 11327, 2011, 89, "Horror,Sci-Fi,Thriller", "nm2959497", "tt1643222")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Art of Getting By", 6.6, 54219, 2011, 83, "Drama,Romance", "nm1026883", "tt1645080")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Inside Job", 8.2, 66011, 2010, 109, "Crime,Documentary", "nm2480587", "tt1645089")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Romeo & Juliet", 5.8, 10408, 2013, 113, "Drama,Romance", "nm0137363", "tt1645131")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bedevilled", 7.3, 11843, 2010, 115, "Drama,Horror,Thriller", "nm1564550", "tt1646959")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Double", 5.9, 27306, 2011, 98, "Action,Crime,Drama", "nm0104973", "tt1646980")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("New Kids Turbo", 6.4, 14054, 2010, 84, "Action,Comedy", "nm1475794", "tt1648112")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lemonade Mouth", 6.9, 12706, 2011, 103, "Comedy,Drama,Family", "nm0726638", "tt1648204")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The 33", 6.9, 32868, 2015, 127, "Biography,Drama,History", "nm0726638", "tt2006295")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Miracles from Heaven", 7.1, 18313, 2016, 109, "Biography,Drama,Family", "nm0726638", "tt4257926")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Three Steps Above Heaven", 7.0, 21677, 2010, 118, "Action,Drama,Romance", "nm2692858", "tt1648216")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Want You", 6.9, 12886, 2012, 120, "Drama,Romance", "nm2692858", "tt1797504")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Goodbye Christopher Robin", 7.1, 21329, 2017, 107, "Biography,Drama", "nm0193508", "tt1653665")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Week with Marilyn", 7.0, 80080, 2011, 99, "Biography,Drama", "nm0193508", "tt1655420")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Woman in Gold", 7.3, 49479, 2015, 109, "Biography,Drama,History", "nm0193508", "tt2404425")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Special Forces", 6.3, 17078, 2011, 109, "Action,Drama,War", "nm1360702", "tt1656192")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Decoy Bride", 6.2, 10189, 2011, 89, "Comedy,Drama,Romance", "nm0284308", "tt1657299")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Perks of Being a Wallflower", 8.0, 428207, 2012, 103, "Drama", "nm0154716", "tt1659337")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wonder", 8.0, 116784, 2017, 113, "Drama,Family", "nm0154716", "tt2543472")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Numbers Station", 5.6, 18489, 2013, 89, "Action,Thriller", "nm0054504", "tt1659338")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shake It Up", 4.7, 10569, 2010, 30, "Comedy,Family", "nm0746307", "tt1661326")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Polisse", 7.3, 12653, 2011, 127, "Crime,Drama", "nm0494069", "tt1661420")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fun Size", 5.4, 13071, 2012, 86, "Adventure,Comedy", "nm0777300", "tt1663143")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Life of Crime", 5.8, 16086, 2013, 98, "Comedy,Crime", "nm1633080", "tt1663207")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Awkward.", 7.5, 41261, 2011, 22, "Comedy,Drama,Romance", "nm0490792", "tt1663676")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Blind Banker", 8.1, 22406, 2010, 89, "Crime,Drama,Mystery", "nm0528186", "tt1664529")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fifteen Million Merits", 8.1, 42451, 2011, 62, "Drama,Sci-Fi,Thriller", "nm0528186", "tt2089049")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("All Eyez on Me", 5.8, 19102, 2017, 139, "Biography,Drama,Music", "nm1534600", "tt1666185")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Duff", 6.5, 76660, 2015, 101, "Comedy,Romance", "nm1847738", "tt1666801")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Goosebumps 2: Haunted Halloween", 5.6, 13260, 2018, 90, "Adventure,Comedy,Family", "nm1847738", "tt5664636")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("When We First Met", 6.4, 36279, 2018, 97, "Comedy,Fantasy,Romance", "nm1847738", "tt5783956")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sarah's Key", 7.5, 15234, 2010, 111, "Drama,War", "nm0660707", "tt1668200")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crooked House", 6.3, 14317, 2017, 115, "Crime,Drama,Mystery", "nm0660707", "tt1869347")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dark Places", 6.2, 38980, 2015, 113, "Action,Drama,Mystery", "nm0660707", "tt2402101")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Camelot", 6.5, 22203, 2011, 45, "Drama,Fantasy,History", "nm1012772", "tt1672189")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vikings", 8.6, 354435, 2013, 44, "Action,Adventure,Drama", "nm1012772", "tt2306299")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sapphires", 7.0, 12305, 2012, 103, "Biography,Comedy,Drama", "nm0992370", "tt1673697")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Entourage", 6.6, 72383, 2015, 104, "Comedy", "nm0254120", "tt1674771")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Take Shelter", 7.4, 84578, 2011, 121, "Drama,Horror,Thriller", "nm2158772", "tt1675192")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mud", 7.4, 158494, 2012, 130, "Drama", "nm2158772", "tt1935179")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Midnight Special", 6.6, 69111, 2016, 112, "Drama,Mystery,Sci-Fi", "nm2158772", "tt2649554")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Loving", 7.0, 28760, 2016, 123, "Biography,Drama,Romance", "nm2158772", "tt4669986")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Intouchables", 8.5, 692163, 2011, 112, "Biography,Comedy,Drama", "nm0619923", "tt1675434")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Samba", 6.7, 13659, 2014, 118, "Comedy,Drama,Romance", "nm0619923", "tt3399024")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mean Girls 2", 4.1, 19460, 2011, 96, "Comedy", "nm0563039", "tt1679235")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jane the Virgin", 7.8, 32431, 2014, 60, "Comedy", "nm0563039", "tt3566726")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Snowtown Murders", 6.6, 15898, 2011, 119, "Biography,Crime,Drama", "nm2355933", "tt1680114")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Assassin's Creed", 5.7, 170280, 2016, 115, "Action,Adventure,Sci-Fi", "nm2355933", "tt2094766")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Macbeth", 6.6, 49701, 2015, 113, "Drama,History,War", "nm2355933", "tt2884018")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Problem Dog", 8.9, 11594, 2011, 47, "Crime,Drama,Thriller", "nm0332467", "tt1683094")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Granite State", 9.7, 28511, 2013, 55, "Crime,Drama,Thriller", "nm0332467", "tt2301453")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Welcome to the Punch", 6.1, 30787, 2013, 99, "Action,Crime,Thriller", "nm2123102", "tt1684233")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Collide", 5.7, 13681, 2016, 99, "Action,Crime,Thriller", "nm2123102", "tt2126235")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Five Minarets in New York", 5.8, 13859, 2010, 119, "Action,Drama", "nm1749449", "tt1686039")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Life in a Day", 7.7, 14430, 2011, 95, "Documentary,Drama", "nm3388028", "tt1687247")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Awakening", 6.5, 60797, 2011, 102, "Horror,Thriller", "nm1960322", "tt1687901")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Before I Fall", 6.4, 40578, 2017, 98, "Drama,Fantasy,Mystery", "nm1735543", "tt1691916")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Everything Sucks!", 7.5, 12525, 2018, 30, "Comedy", "nm1735543", "tt7078710")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Planes", 5.7, 40346, 2013, 91, "Adventure,Animation,Comedy", "nm0355806", "tt1691917")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tanu Weds Manu", 6.7, 12027, 2011, 113, "Comedy,Drama,Romance", "nm2399862", "tt1694542")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tanu Weds Manu Returns", 7.7, 24223, 2015, 128, "Comedy,Drama,Romance", "nm2399862", "tt2140465")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Raanjhanaa", 7.6, 27290, 2013, 140, "Drama,Romance", "nm2399862", "tt2359810")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zero", 5.6, 21250, 2018, 164, "Comedy,Drama,Romance", "nm2399862", "tt6527426")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Legend of Korra", 8.5, 87969, 2012, 23, "Action,Adventure,Animation", "nm1685611", "tt1695360")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Quarantine 2: Terminal", 5.2, 17532, 2011, 86, "Horror,Mystery,Sci-Fi", "nm0688282", "tt1699231")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Quiet Ones", 5.1, 18165, 2014, 98, "Horror,Mystery,Thriller", "nm0688282", "tt2235779")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Assassin's Creed: Brotherhood", 8.8, 12545, 2010, null, "Action,Adventure,History", "nm2551334", "tt1699759")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sausage Party", 6.2, 162472, 2016, 89, "Adventure,Animation,Comedy", "nm0862911", "tt1700841")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Deep Blue Sea", 6.2, 13911, 2011, 98, "Drama,Romance", "nm0203993", "tt1700844")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Way He Looks", 7.9, 20679, 2014, 96, "Drama,Romance", "nm2406154", "tt1702014")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("An Idiot Abroad", 8.3, 28405, 2010, 43, "Adventure,Comedy,Documentary", "nm1672024", "tt1702042")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Casa de mi Padre", 5.5, 19308, 2012, 84, "Comedy,Western", "nm0682126", "tt1702425")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hunter", 6.7, 35068, 2011, 102, "Adventure,Drama,Thriller", "nm0626706", "tt1703148")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ash vs Evil Dead", 8.5, 58805, 2015, 30, "Action,Comedy,Fantasy", "nm0626706", "tt4189022")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Grave Encounters", 6.1, 48909, 2011, 92, "Horror", "nm3425513", "tt1703199")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wilfred", 7.8, 38918, 2011, 22, "Comedy,Drama,Mystery", "nm0625065", "tt1703925")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Genius", 6.6, 16084, 2016, 104, "Biography,Drama", "nm0334787", "tt1703957")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mankatha", 7.5, 11860, 2011, 155, "Action,Crime,Thriller", "nm1862815", "tt1705772")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chinese Take-Out", 7.3, 15866, 2011, 93, "Comedy,Drama", "nm0096375", "tt1705786")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tarzan", 4.8, 11805, 2013, 94, "Adventure,Animation,Drama", "nm0459996", "tt1705952")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Days on Mars", 5.5, 33609, 2013, 98, "Adventure,Horror,Sci-Fi", "nm1099711", "tt1709143")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Regular Show", 8.4, 26308, 2009, 23, "Action,Adventure,Animation", "nm2804592", "tt1710308")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("21 & Over", 5.8, 69363, 2013, 93, "Comedy", "nm0524190", "tt1711425")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Smashed", 6.8, 15730, 2012, 81, "Drama", "nm1242054", "tt2063781")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The End of the Tour", 7.3, 26468, 2015, 106, "Biography,Drama", "nm1242054", "tt3416744")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Circle", 5.3, 74861, 2017, 110, "Drama,Sci-Fi,Thriller", "nm1242054", "tt4287320")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In the Land of Blood and Honey", 4.5, 32884, 2011, 127, "Drama,Romance,War", "nm0001401", "tt1714209")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Unbroken", 7.2, 132190, 2014, 137, "Biography,Drama,Sport", "nm0001401", "tt1809398")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("By the Sea", 5.3, 16637, 2015, 122, "Drama,Romance", "nm0001401", "tt3707106")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("First They Killed My Father", 7.2, 11251, 2017, 136, "Biography,Drama,History", "nm0001401", "tt4882376")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Weekend", 7.6, 25881, 2011, 97, "Drama,Romance", "nm0354091", "tt1714210")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Looking", 8.2, 14571, 2014, 30, "Comedy,Drama,Romance", "nm0354091", "tt2581458")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("45 Years", 7.1, 28439, 2015, 91, "Drama,Romance", "nm0354091", "tt3544082")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Anna", 6.5, 20147, 2013, 99, "Drama,Mystery,Sci-Fi", "nm1085270", "tt1715336")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("10 Years", 6.1, 22743, 2011, 100, "Comedy,Drama,Romance", "nm1956691", "tt1715873")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("People Like Us", 7.1, 39990, 2012, 114, "Comedy,Drama", "nm0476064", "tt1716777")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mummy", 5.5, 159148, 2017, 110, "Action,Adventure,Fantasy", "nm0476064", "tt2345759")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Friends with Kids", 6.1, 39592, 2011, 107, "Comedy,Drama,Romance", "nm0922724", "tt1720616")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beyond Skyline", 5.3, 15865, 2017, 106, "Action,Adventure,Horror", "nm2880943", "tt1724970")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Before I Go to Sleep", 6.3, 66001, 2014, 92, "Drama,Horror,Mystery", "nm0423626", "tt1726592")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Looney Tunes Show", 6.7, 10133, 2011, 23, "Adventure,Animation,Comedy", "nm0797053", "tt1726839")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Way Way Back", 7.4, 133941, 2013, 103, "Comedy,Drama", "nm0711110", "tt1727388")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scouts Guide to the Zombie Apocalypse", 6.3, 41262, 2015, 93, "Action,Comedy,Horror", "nm0484907", "tt1727776")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paranormal Activity: The Marked Ones", 5.0, 37638, 2014, 84, "Horror,Mystery,Thriller", "nm0484907", "tt2473682")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Happy Death Day", 6.5, 94524, 2017, 96, "Horror,Mystery,Thriller", "nm0484907", "tt5308322")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Happy Death Day 2U", 6.2, 37128, 2019, 100, "Comedy,Horror,Mystery", "nm0484907", "tt8155288")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bodyguard", 4.6, 20658, 2011, 130, "Action,Comedy,Romance", "nm0796504", "tt1729637")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bron/Broen", 8.6, 50953, 2011, 60, "Crime,Mystery,Thriller", "nm1380082", "tt1733785")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("No One Killed Jessica", 7.2, 10131, 2011, 136, "Biography,Crime,Drama", "nm2955107", "tt1734110")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Raid", 7.4, 12915, 2018, 122, "Action,Crime,Drama", "nm2955107", "tt7363076")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Trollhunters: Tales of Arcadia", 8.5, 10881, 2016, 23, "Action,Adventure,Animation", "nm2112570", "tt1734135")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Tunnel", 5.9, 18307, 2011, 90, "Horror,Mystery,Thriller", "nm2765527", "tt1735485")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Oslo, August 31st", 7.6, 17525, 2011, 95, "Drama", "nm1258686", "tt1736633")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Louder Than Bombs", 6.6, 10925, 2015, 109, "Drama", "nm1258686", "tt2217859")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thelma", 7.0, 21870, 2017, 116, "Drama,Fantasy,Horror", "nm1258686", "tt6304046")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Man in the High Castle", 8.1, 68843, 2015, 60, "Drama,Sci-Fi,Thriller", "nm1278887", "tt1740299")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Trollhunter", 7.0, 64556, 2010, 103, "Drama,Fantasy,Horror", "nm0004217", "tt1740707")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Autopsy of Jane Doe", 6.8, 80918, 2016, 86, "Horror,Mystery,Thriller", "nm0004217", "tt3289956")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scary Stories to Tell in the Dark", 6.4, 18315, 2019, 108, "Horror,Mystery,Thriller", "nm0004217", "tt3387520")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Suburgatory", 7.2, 29522, 2011, 22, "Comedy", "nm1420377", "tt1741256")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Young Doctor's Notebook & Other Stories", 7.9, 13430, 2012, 23, "Comedy,Drama", "nm1420377", "tt2164430")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mindy Project", 7.4, 27118, 2012, 30, "Comedy", "nm1420377", "tt2211129")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Your Sister's Sister", 6.7, 24959, 2011, 90, "Comedy,Drama", "nm1119645", "tt1742336")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Laggies", 6.4, 39442, 2014, 99, "Comedy,Drama,Romance", "nm1119645", "tt2034031")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("GLOW", 8.0, 34604, 2017, 35, "Comedy,Drama,Sport", "nm1119645", "tt5770786")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Setup", 4.4, 19843, 2011, 85, "Action,Crime,Drama", "nm0348389", "tt1748197")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sound of My Voice", 6.6, 19657, 2011, 85, "Drama,Mystery,Sci-Fi", "nm2610231", "tt1748207")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The East", 6.8, 47176, 2013, 116, "Adventure,Drama,Thriller", "nm2610231", "tt1869716")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Little Pony: Friendship Is Magic", 7.6, 18087, 2010, 22, "Adventure,Animation,Comedy", "nm2638285", "tt1751105")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Never Back Down 2: The Beatdown", 5.7, 16899, 2011, 90, "Action,Drama,Sport", "nm0925220", "tt1754264")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dookudu", 7.4, 11933, 2011, 170, "Action,Comedy", "nm1626425", "tt1756476")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Starbuck", 7.3, 15290, 2011, 109, "Comedy,Drama,Romance", "nm0779433", "tt1756750")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Unfinished Business", 5.4, 29620, 2015, 91, "Comedy,Drama", "nm0779433", "tt2358925")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Delivery Man", 6.4, 71676, 2013, 105, "Comedy,Drama", "nm0779433", "tt2387559")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Extracted", 6.5, 11122, 2012, 85, "Drama,Sci-Fi", "nm2040027", "tt1757746")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Like Crazy", 6.7, 56420, 2011, 86, "Drama,Romance", "nm2035886", "tt1758692")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Breathe In", 6.4, 13410, 2013, 98, "Drama,Romance", "nm2035886", "tt1999987")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Equals", 6.1, 24795, 2015, 101, "Drama,Romance,Sci-Fi", "nm2035886", "tt3289728")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Newness", 6.4, 10124, 2017, 117, "Drama,Romance", "nm2035886", "tt6408226")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The To Do List", 5.8, 34921, 2013, 104, "Comedy,Romance", "nm0962849", "tt1758795")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Walking with Dinosaurs 3D", 5.2, 10204, 2013, 87, "Adventure,Animation,Family", "nm0176905", "tt1762399")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Arbitrage", 6.6, 47440, 2012, 107, "Drama,Thriller", "nm1906430", "tt1764183")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("L.A. Noire", 8.7, 13110, 2011, null, "Action,Crime,Drama", "nm1721084", "tt1764429")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Apollo 18", 5.2, 51898, 2011, 86, "Horror,Mystery,Sci-Fi", "nm1018426", "tt1772240")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Open Grave", 6.2, 25915, 2013, 102, "Horror,Mystery,Thriller", "nm1018426", "tt2071550")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hidden Face", 7.4, 32972, 2011, 97, "Drama,Mystery,Thriller", "nm1223381", "tt1772250")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Narcos", 8.8, 306807, 2015, 49, "Biography,Crime,Drama", "nm1223381", "tt2707408")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Narcos: Mexico", 8.4, 38171, 2018, 50, "Crime,Drama", "nm1223381", "tt8714904")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Danny Collins", 7.0, 27973, 2015, 106, "Biography,Comedy,Drama", "nm1557594", "tt1772288")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Life Itself", 6.6, 11026, 2018, 117, "Drama,Romance", "nm1557594", "tt5989218")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wreck-It Ralph", 7.7, 352777, 2012, 101, "Adventure,Animation,Comedy", "nm0601781", "tt1772341")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ralph Breaks the Internet", 7.1, 102489, 2018, 112, "Adventure,Animation,Comedy", "nm0601781", "tt5848272")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jiro Dreams of Sushi", 7.9, 31226, 2011, 81, "Documentary", "nm0312173", "tt1772925")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lazarus Effect", 5.2, 38491, 2015, 83, "Horror,Mystery,Sci-Fi", "nm0312173", "tt2918436")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("United", 7.4, 10082, 2011, 94, "Drama,History,Sport", "nm1326093", "tt1777034")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paranormal Activity 3", 5.8, 86524, 2011, 83, "Horror,Mystery,Thriller", "nm1413364", "tt1778304")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Portlandia", 7.8, 16827, 2011, 22, "Comedy", "nm0051972", "tt1780441")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Aftershock", 4.8, 10636, 2012, 89, "Action,Adventure,Horror", "nm1240647", "tt1780762")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Clown", 5.7, 20189, 2014, 100, "Drama,Fantasy,Horror", "nm1218281", "tt1780798")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spider-Man: Homecoming", 7.4, 454263, 2017, 133, "Action,Adventure,Sci-Fi", "nm1218281", "tt2250912")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cop Car", 6.3, 28110, 2015, 88, "Crime,Thriller", "nm1218281", "tt3813310")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spider-Man: Far from Home", 7.7, 201536, 2019, 129, "Action,Adventure,Sci-Fi", "nm1218281", "tt6320628")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hands of Stone", 6.6, 13261, 2016, 111, "Action,Biography,Drama", "nm1189755", "tt1781827")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Conquest 1453", 6.7, 54989, 2012, 162, "Action,Drama,History", "nm1147588", "tt1783232")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Talaash", 7.2, 36682, 2012, 140, "Crime,Drama,Mystery", "nm1030373", "tt1787988")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Maze Runner", 6.8, 392756, 2014, 113, "Mystery,Sci-Fi,Thriller", "nm1226871", "tt1790864")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Maze Runner: The Scorch Trials", 6.3, 205112, 2015, 131, "Action,Sci-Fi,Thriller", "nm1226871", "tt4046784")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Maze Runner: The Death Cure", 6.2, 95734, 2018, 143, "Action,Sci-Fi,Thriller", "nm1226871", "tt4500922")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Page Eight", 6.9, 13518, 2011, 99, "Drama,Mystery,Thriller", "nm0002376", "tt1797469")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tomb Raider", 8.9, 13763, 2013, null, "Action,Adventure,Drama", "nm1502100", "tt1797530")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rudderless", 7.5, 16565, 2014, 105, "Comedy,Drama,Music", "nm0000513", "tt1798243")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Layover", 4.7, 10877, 2017, 88, "Comedy,Romance", "nm0000513", "tt4565520")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lying Game", 7.3, 17579, 2011, 44, "Drama,Mystery", "nm0007096", "tt1798274")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Client List", 6.6, 10321, 2012, 42, "Drama", "nm0007096", "tt2022170")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("That Awkward Moment", 6.1, 93285, 2014, 94, "Comedy,Romance", "nm3230448", "tt1800246")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Step Up Revolution", 6.4, 51739, 2012, 99, "Drama,Music,Romance", "nm1228976", "tt1800741")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Midnight Sun", 6.6, 17883, 2018, 91, "Drama,Romance", "nm1228976", "tt4799066")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Uncharted 3: Drake's Deception", 9.1, 15608, 2011, null, "Action,Adventure,Fantasy", "nm2541892", "tt1800763")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gotti", 4.8, 11313, 2018, 112, "Biography,Crime,Drama", "nm0175305", "tt1801552")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Grimm", 7.8, 103856, 2011, 45, "Drama,Fantasy,Horror", "nm0053157", "tt1830617")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Leyla and Mecnun", 9.1, 84080, 2011, 80, "Adventure,Comedy,Drama", "nm1729447", "tt1831164")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Let's Sin", 7.9, 10104, 2014, 110, "Action,Crime,Drama", "nm1729447", "tt3646462")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Boss", 8.1, 16555, 2011, 56, "Crime,Drama", "nm0211523", "tt1833285")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dhoom 3", 5.4, 40917, 2013, 172, "Action,Thriller", "nm1715502", "tt1833673")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thugs of Hindostan", 4.0, 15844, 2018, 164, "Action,Adventure", "nm1715502", "tt5970844")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Berberian Sound Studio", 6.2, 13253, 2012, 92, "Drama,Horror,Thriller", "nm3270827", "tt1833844")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Duke of Burgundy", 6.5, 10669, 2014, 104, "Drama,Mystery,Romance", "nm3270827", "tt2570858")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Geek Charming", 6.4, 10292, 2011, 94, "Comedy,Drama,Family", "nm0394944", "tt1835977")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Longmire", 8.3, 26404, 2012, 60, "Action,Crime,Drama", "nm0614013", "tt1836037")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Baytown Outlaws", 6.4, 13133, 2012, 98, "Action,Comedy,Crime", "nm2030556", "tt1836944")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scandal", 7.7, 64286, 2012, 43, "Drama,Thriller", "nm0000739", "tt1837576")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Revenge", 7.9, 108205, 2011, 44, "Drama,Mystery,Thriller", "nm0066584", "tt1837642")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dynasty", 7.3, 10767, 2017, 42, "Drama", "nm0066584", "tt6128300")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Winter's Tale", 6.2, 49574, 2014, 118, "Drama,Fantasy,Mystery", "nm0326040", "tt1837709")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Golden Crown", 9.2, 26306, 2011, 53, "Action,Adventure,Drama", "nm0590889", "tt1837862")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("You Win or You Die", 9.2, 26808, 2011, 58, "Action,Adventure,Drama", "nm0590889", "tt1837863")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Pointy End", 9.0, 24892, 2011, 59, "Action,Adventure,Drama", "nm0590889", "tt1837864")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dark Wings, Dark Words", 8.6, 21847, 2013, 56, "Action,Adventure,Drama", "nm0590889", "tt2178772")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Valar Dohaeris", 8.8, 24168, 2013, 55, "Action,Adventure,Drama", "nm0590889", "tt2178782")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Deadwood: The Movie", 7.6, 12551, 2019, 110, "Drama,Western", "nm0590889", "tt4943998")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gone", 5.9, 39863, 2012, 94, "Action,Adventure,Drama", "nm1104944", "tt1838544")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Last Love", 6.8, 11525, 2013, 111, "Comedy,Drama,Romance", "nm0626686", "tt1838603")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Voice", 6.5, 11082, 2011, 60, "Game-Show,Music,Reality-TV", "nm0141448", "tt1839337")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Person of Interest", 8.4, 154795, 2011, 43, "Action,Crime,Drama", "nm0001726", "tt1839578")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Words", 7.1, 71075, 2012, 102, "Drama,Mystery,Romance", "nm0460206", "tt1840417")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Demonic", 5.3, 12348, 2015, 83, "Horror,Thriller", "nm1949943", "tt1841642")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Once Upon a Time", 7.8, 199868, 2011, 60, "Adventure,Fantasy,Romance", "nm0694072", "tt1843230")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hunter Killer", 6.6, 40273, 2018, 122, "Action,Thriller", "nm1804518", "tt1846589")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tomboy", 7.4, 15716, 2011, 82, "Drama", "nm1780037", "tt1847731")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Magnificent Century", 6.6, 13597, 2011, 90, "Biography,Drama,History", "nm1533201", "tt1848220")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Agneepath", 6.9, 20713, 2012, 174, "Action,Drama", "nm1633551", "tt1849718")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brothers", 6.5, 10832, 2015, 156, "Action,Drama,Sport", "nm1633551", "tt3802576")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sisters", 6.0, 59840, 2015, 118, "Comedy", "nm0601337", "tt1850457")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pitch Perfect", 7.2, 260464, 2012, 112, "Comedy,Music,Romance", "nm0601337", "tt1981677")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dirty Grandpa", 5.9, 103987, 2016, 102, "Comedy", "nm0563243", "tt1860213")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Give It a Year", 5.7, 34324, 2013, 97, "Comedy,Romance", "nm0563243", "tt2244901")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Turbo", 6.4, 76293, 2013, 96, "Adventure,Animation,Comedy", "nm1659741", "tt1860353")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Captain Underpants: The First Epic Movie", 6.2, 22668, 2017, 89, "Action,Animation,Comedy", "nm1659741", "tt2091256")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Çalgi Çengi", 7.2, 10643, 2011, 90, "Comedy", "nm3252853", "tt1865569")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Isler Güçler", 8.6, 18765, 2012, 86, "Comedy", "nm3252853", "tt2311418")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dügün Dernek", 7.2, 18688, 2013, 106, "Comedy", "nm3252853", "tt3347976")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kardes Payi", 8.6, 13617, 2014, 70, "Comedy,Drama,Family", "nm3252853", "tt3671754")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gravity Falls", 8.9, 56982, 2012, 23, "Action,Adventure,Animation", "nm0819711", "tt1865718")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jessie", 5.8, 11178, 2011, 30, "Comedy,Family", "nm0487521", "tt1865769")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sessions", 7.2, 40092, 2012, 95, "Biography,Comedy,Drama", "nm0506802", "tt1866249")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Good Omens", 8.2, 38270, 2019, 60, "Comedy,Fantasy", "nm0533559", "tt1869454")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Abominable Bride", 8.2, 30633, 2016, 89, "Crime,Drama,Mystery", "nm0533559", "tt3845232")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Knightfall", 6.7, 13429, 2017, 60, "Action,Adventure,Drama", "nm0533559", "tt4555364")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Edge of Seventeen", 7.3, 90943, 2016, 104, "Comedy,Drama", "nm2609807", "tt1878870")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rapture-Palooza", 5.2, 10635, 2013, 85, "Comedy,Fantasy", "nm0585452", "tt1879032")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Maggie", 5.6, 39402, 2015, 95, "Drama,Horror", "nm3918746", "tt1881002")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Generation War", 8.5, 22423, 2013, 270, "Action,Drama,History", "nm0434298", "tt1883092")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Catch .44", 4.6, 16078, 2011, 94, "Action,Crime,Drama", "nm1980747", "tt1886493")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Death in Paradise", 7.8, 11893, 2011, 60, "Crime,Drama,Mystery", "nm1357838", "tt1888075")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Redemption", 6.2, 62240, 2013, 100, "Action,Drama,Thriller", "nm1140275", "tt1893256")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Locke", 7.1, 123177, 2013, 85, "Drama", "nm1140275", "tt2692904")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Serenity", 5.3, 24973, 2019, 106, "Drama,Mystery,Thriller", "nm1140275", "tt6476140")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Raid: Redemption", 7.6, 178691, 2011, 101, "Action,Thriller", "nm2153088", "tt1899353")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Raid 2", 8.0, 106336, 2014, 150, "Action,Crime,Thriller", "nm2153088", "tt2265171")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Apostle", 6.3, 32901, 2018, 130, "Drama,Fantasy,Horror", "nm2153088", "tt6217306")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dark Crimes", 5.1, 14109, 2016, 92, "Crime,Drama,Thriller", "nm3189793", "tt1901024")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Undercover", 8.9, 25662, 2011, 60, "Action,Crime,Drama", "nm0092514", "tt1909015")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Steins;Gate", 8.8, 34860, 2011, 24, "Animation,Comedy,Drama", "nm1058480", "tt1910272")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Le Chef", 6.7, 15314, 2012, 84, "Comedy,Drama", "nm0169300", "tt1911553")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vehicle 19", 4.9, 14037, 2013, 85, "Action,Thriller", "nm4320125", "tt1911662")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bachelorette", 5.3, 43612, 2012, 87, "Comedy,Romance", "nm2853516", "tt1920849")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sleeping with Other People", 6.5, 36914, 2015, 101, "Comedy,Drama,Romance", "nm2853516", "tt3165612")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Russian Doll", 7.9, 46762, 2019, 30, "Adventure,Comedy,Drama", "nm2853516", "tt7520794")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pyaar Ka Punchnama", 7.7, 18227, 2011, 149, "Comedy,Drama,Romance", "nm3060331", "tt1926313")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pyaar Ka Punchnama 2", 7.3, 12995, 2015, 137, "Comedy,Drama,Romance", "nm3060331", "tt4430136")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sonu Ke Titu Ki Sweety", 7.1, 17139, 2018, 138, "Comedy,Romance", "nm3060331", "tt7581902")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Assassin's Creed: Revelations", 8.3, 10553, 2011, null, "Action,Adventure,History", "nm1978089", "tt1928116")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bad Ass", 5.5, 17869, 2012, 90, "Action,Comedy,Crime", "nm0608936", "tt1928330")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("After the Dark", 5.7, 20241, 2013, 107, "Drama,Fantasy,Sci-Fi", "nm0399655", "tt1928340")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cyberbully", 5.6, 11674, 2011, 87, "Drama", "nm0082748", "tt1930315")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Big Wedding", 5.6, 44853, 2013, 89, "Comedy,Drama,Romance", "nm0951698", "tt1931435")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Very Good Girls", 6.0, 13589, 2013, 91, "Drama,Romance", "nm0284524", "tt1931602")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thanks for Sharing", 6.4, 25051, 2012, 112, "Comedy,Drama,Romance", "nm0089742", "tt1932718")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What Maisie Knew", 7.4, 25765, 2012, 99, "Drama", "nm0569166", "tt1932767")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Delhi Belly", 7.5, 25138, 2011, 103, "Action,Comedy,Crime", "nm3218978", "tt1934231")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jodorowsky's Dune", 8.1, 19417, 2013, 90, "Documentary", "nm0667650", "tt1935156")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Brass Teapot", 6.4, 13921, 2012, 101, "Comedy,Fantasy,Thriller", "nm1310794", "tt1935902")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Body", 7.6, 46586, 2012, 108, "Mystery,Thriller", "nm1079062", "tt1937149")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Invisible Guest", 8.1, 91456, 2016, 106, "Crime,Mystery,Thriller", "nm1079062", "tt4857264")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mirage", 7.4, 22173, 2018, 128, "Drama,Mystery,Romance", "nm1079062", "tt6908274")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Amazing World of Gumball", 8.1, 17087, 2011, 11, "Adventure,Animation,Comedy", "nm1071795", "tt1942683")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Indie Game: The Movie", 7.7, 19663, 2012, 103, "Documentary,Drama", "nm2499666", "tt1942884")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Finder", 7.7, 14104, 2012, 44, "Comedy,Crime,Drama", "nm0833191", "tt1943524")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hemlock Grove", 7.2, 34731, 2013, 46, "Horror,Mystery,Thriller", "nm0833191", "tt2309295")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Inhumans", 5.0, 19735, 2017, 43, "Action,Adventure,Sci-Fi", "nm0833191", "tt4154858")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shooter", 7.6, 27337, 2016, 60, "Action,Drama", "nm0833191", "tt4181172")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Borgman", 6.8, 14896, 2013, 113, "Drama,Horror,Mystery", "nm0912334", "tt1954315")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Coffee in Berlin", 7.4, 13946, 2012, 86, "Comedy,Drama", "nm1673756", "tt1954701")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("La Luna", 8.0, 11670, 2011, 7, "Animation,Family,Fantasy", "nm1154836", "tt1957945")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lilyhammer", 8.0, 24008, 2012, 45, "Comedy,Crime,Drama", "nm2517015", "tt1958961")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Mary", 6.3, 20736, 2012, 103, "Drama,Horror", "nm3609341", "tt1959332")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hitman's Bodyguard", 6.9, 167009, 2017, 118, "Action,Comedy,Thriller", "nm0400850", "tt1959563")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Expendables 3", 6.1, 158962, 2014, 126, "Action,Adventure,Thriller", "nm0400850", "tt2333784")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Father Figures", 5.5, 15039, 2017, 113, "Comedy,Drama,Sport", "nm0003394", "tt1966359")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Imposter", 7.5, 42653, 2012, 99, "Biography,Crime,Documentary", "nm1717925", "tt1966604")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Animals", 7.0, 31417, 2018, 116, "Biography,Crime,Drama", "nm1717925", "tt6212478")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Infinitely Polar Bear", 7.0, 14145, 2014, 90, "Comedy,Drama,Romance", "nm0285379", "tt1969062")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Automata", 6.1, 51484, 2014, 109, "Action,Sci-Fi,Thriller", "nm2688320", "tt1971325")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Two Faces of January", 6.2, 27893, 2014, 96, "Romance,Thriller", "nm0024925", "tt1976000")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Resolution", 6.3, 11782, 2012, 93, "Horror,Mystery,Thriller", "nm1823264", "tt1977895")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rurouni Kenshin Part I: Origins", 7.5, 18228, 2012, 134, "Action,Drama,History", "nm3311094", "tt1979319")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rurouni Kenshin Part II: Kyoto Inferno", 7.7, 10823, 2014, 138, "Action,Adventure,Drama", "nm3311094", "tt3029558")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Toy Story 4", 8.0, 106271, 2019, 100, "Adventure,Animation,Comedy", "nm2155757", "tt1979376")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Geostorm", 5.3, 82413, 2017, 109, "Action,Sci-Fi,Thriller", "nm0002041", "tt1981128")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bad Samaritan", 6.4, 14713, 2018, 110, "Crime,Horror,Thriller", "nm0002041", "tt3203528")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Key and Peele", 8.3, 14945, 2012, 30, "Comedy", "nm1534595", "tt1981558")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Keanu", 6.3, 42550, 2016, 100, "Action,Comedy,Crime", "nm1534595", "tt4139124")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Excision", 6.1, 19305, 2012, 81, "Comedy,Drama,Horror", "nm3160595", "tt1984153")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Austenland", 6.3, 18161, 2013, 97, "Comedy,Romance", "nm1415801", "tt1985019")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Angry Birds Movie", 6.3, 72441, 2016, 97, "Animation,Comedy,Family", "nm0717678", "tt1985949")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cloudy with a Chance of Meatballs 2", 6.4, 82704, 2013, 95, "Adventure,Animation,Comedy", "nm0970606", "tt1985966")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Desi Boyz", 5.7, 12034, 2011, 122, "Comedy,Drama", "nm2539328", "tt1985981")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Anger Management", 6.6, 29135, 2012, 22, "Comedy,Romance", "nm0800376", "tt1986770")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Miss Fisher's Murder Mysteries", 8.3, 11742, 2012, 60, "Crime,Drama,Mystery", "nm0588049", "tt1988386")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brake", 6.1, 11070, 2012, 92, "Thriller", "nm0868650", "tt1990181")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Robot & Frank", 7.1, 59731, 2012, 89, "Comedy,Crime,Drama", "nm1500577", "tt1990314")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paper Towns", 6.3, 89279, 2015, 109, "Comedy,Drama,Mystery", "nm1500577", "tt3622592")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kidding", 8.0, 10800, 2018, 30, "Comedy,Drama", "nm1500577", "tt7375404")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chernobyl Diaries", 5.0, 61490, 2012, 86, "Horror,Mystery,Thriller", "nm0662086", "tt1991245")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("For a Good Time, Call...", 6.0, 15104, 2012, 85, "Comedy", "nm1637474", "tt1996264")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Faking It", 7.4, 13146, 2014, 21, "Comedy,Drama,Romance", "nm1637474", "tt3127020")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Scream: The TV Series", 7.2, 30987, 2015, 45, "Crime,Drama,Horror", "nm1637474", "tt3921180")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lore", 7.1, 13559, 2012, 109, "Drama,Romance,War", "nm0795153", "tt1996310")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Berlin Syndrome", 6.3, 19310, 2017, 116, "Drama,Horror,Mystery", "nm0795153", "tt3335606")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hell Fest", 5.5, 10103, 2018, 89, "Horror", "nm0687427", "tt1999890")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paranormal Activity: The Ghost Dimension", 4.6, 22812, 2015, 88, "Horror,Mystery,Thriller", "nm0687427", "tt2473510")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Would You Rather", 5.7, 33439, 2012, 93, "Horror,Thriller", "nm1428946", "tt1999995")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Frozen Ground", 6.4, 52755, 2013, 105, "Crime,Drama,Thriller", "nm1960428", "tt2005374")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Fantastic Fear of Everything", 5.9, 13517, 2012, 100, "Comedy,Horror", "nm1553775", "tt2006040")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Outsider", 6.3, 16979, 2018, 120, "Crime,Drama,Thriller", "nm1324710", "tt2011311")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Land of Mine", 7.8, 29410, 2015, 100, "Drama,History,War", "nm1324710", "tt3841424")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Monsieur Lazhar", 7.5, 18350, 2011, 94, "Comedy,Drama", "nm0265852", "tt2011971")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Good Lie", 7.4, 25597, 2014, 110, "Biography,Drama", "nm0265852", "tt2652092")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Side by Side", 7.6, 12567, 2012, 99, "Documentary", "nm0447863", "tt2014338")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ek Tha Tiger", 5.5, 26882, 2012, 132, "Action,Romance,Thriller", "nm1203138", "tt2016894")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bajrangi Bhaijaan", 8.0, 65419, 2015, 163, "Action,Comedy,Drama", "nm1203138", "tt3863552")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tubelight", 4.0, 12823, 2017, 136, "Drama,War", "nm1203138", "tt5882970")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Man of Tai Chi", 6.1, 33584, 2013, 105, "Action,Drama", "nm0000206", "tt2016940")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brickleberry", 7.3, 11832, 2012, 22, "Animation,Comedy", "nm2288960", "tt2022713")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("War of the Arrows", 7.2, 10371, 2011, 122, "Action", "nm3482943", "tt2025526")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Exorcism Part II", 4.0, 15259, 2013, 88, "Horror,Thriller", "nm1424878", "tt2034139")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Grand Piano", 5.9, 16450, 2013, 90, "Music,Mystery,Thriller", "nm1079001", "tt2039345")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Pact", 5.8, 22492, 2012, 89, "Horror,Mystery,Thriller", "nm1130275", "tt2040560")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Prodigy", 5.9, 15557, 2019, 92, "Horror,Thriller", "nm1130275", "tt4504044")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gomorrah", 8.7, 23794, 2014, 55, "Crime,Drama,Thriller", "nm0173726", "tt2049116")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Europa Report", 6.4, 63741, 2013, 90, "Drama,Mystery,Sci-Fi", "nm0179542", "tt2051879")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Railway Man", 7.1, 35083, 2013, 116, "Biography,Drama,Romance", "nm0855300", "tt2058107")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Churchill", 6.4, 12406, 2017, 105, "Biography,Drama,History", "nm0855300", "tt2674454")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fresh Meat", 7.9, 13974, 2011, 50, "Comedy,Drama", "nm0341112", "tt2058303")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("To the Forest of Firefly Lights", 7.9, 10821, 2011, 45, "Animation,Drama,Fantasy", "nm0648464", "tt2061702")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Longest Week", 5.4, 10712, 2014, 86, "Comedy,Drama,Romance", "nm2871592", "tt2064968")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Future Diary", 7.7, 12054, 2011, 25, "Action,Animation,Drama", "nm2395083", "tt2069441")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What Is Dead May Never Die", 8.8, 22526, 2012, 53, "Action,Adventure,Drama", "nm0002399", "tt2070135")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Climb", 8.8, 22334, 2013, 53, "Action,Adventure,Drama", "nm0002399", "tt2178812")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mockingbird", 9.1, 24930, 2014, 51, "Action,Adventure,Drama", "nm0002399", "tt3060876")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Laws of Gods and Men", 9.7, 41207, 2014, 51, "Action,Adventure,Drama", "nm0002399", "tt3060910")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Populaire", 6.9, 10890, 2012, 111, "Comedy,Romance,Sport", "nm1672051", "tt2070776")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Attack on Titan: Part 1", 5.1, 11213, 2015, 98, "Action,Adventure,Drama", "nm0383688", "tt2072230")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sleepless", 5.6, 26568, 2017, 95, "Action,Crime,Thriller", "nm2171633", "tt2072233")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Who Am I", 7.6, 41585, 2014, 102, "Crime,Drama,Mystery", "nm2171633", "tt3042408")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dark", 8.7, 144619, 2017, 60, "Crime,Drama,Mystery", "nm2171633", "tt5753856")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sleepwalk with Me", 6.8, 11177, 2012, 81, "Comedy", "nm1898126", "tt2077851")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Don't Think Twice", 6.7, 15624, 2016, 92, "Comedy,Drama", "nm1898126", "tt4972062")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Trouble with the Curve", 6.8, 56816, 2012, 111, "Drama,Sport", "nm0520749", "tt2083383")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Mirror", 8.8, 353574, 2011, 60, "Drama,Sci-Fi,Thriller", "nm2787176", "tt2085059")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Be Right Back", 8.1, 35947, 2013, 48, "Drama,Sci-Fi,Thriller", "nm2787176", "tt2290780")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("San Junipero", 8.7, 45971, 2016, 61, "Drama,Sci-Fi,Thriller", "nm2787176", "tt4538072")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Striking Vipers", 6.9, 27936, 2019, 61, "Drama,Sci-Fi,Thriller", "nm2787176", "tt8503298")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Room 237", 6.2, 19821, 2012, 102, "Documentary", "nm0038896", "tt2085910")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The New Normal", 6.8, 10608, 2012, 30, "Comedy,Romance", "nm0444709", "tt2087571")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Entire History of You", 8.6, 42774, 2011, 49, "Drama,Sci-Fi,Thriller", "nm2965282", "tt2089050")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Air", 5.1, 11318, 2015, 95, "Drama,Sci-Fi,Thriller", "nm1703669", "tt2091478")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mr. Right", 6.3, 43091, 2015, 95, "Action,Comedy,Romance", "nm2161247", "tt2091935")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rage", 5.0, 22234, 2014, 98, "Action,Crime,Thriller", "nm2161247", "tt2401807")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Elvis & Nixon", 6.4, 12171, 2016, 86, "Comedy,History", "nm1637785", "tt2093991")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sneaky Pete", 8.2, 25146, 2015, 60, "Crime,Drama", "nm1637785", "tt5011816")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hours", 6.4, 26702, 2013, 97, "Drama,Thriller", "nm2104063", "tt2094018")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hit and Run", 6.1, 32689, 2012, 100, "Action,Comedy", "nm3124542", "tt2097307")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hunter x Hunter", 8.9, 38301, 2011, 24, "Action,Adventure,Animation", "nm1130145", "tt2098220")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Antiviral", 5.7, 11168, 2012, 108, "Horror,Sci-Fi,Thriller", "nm0188722", "tt2099556")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Impractical Jokers", 8.6, 28966, 2011, 30, "Comedy,Reality-TV", "nm6575069", "tt2100976")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In Your Eyes", 7.0, 29082, 2014, 106, "Fantasy,Romance", "nm1067779", "tt2101569")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tammy", 4.9, 45044, 2014, 97, "Comedy,Romance", "nm1229520", "tt2103254")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Boss", 5.4, 40044, 2016, 99, "Comedy", "nm1229520", "tt2702724")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Life of the Party", 5.6, 27614, 2018, 105, "Comedy", "nm1229520", "tt5619332")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("V/H/S", 5.8, 53939, 2012, 116, "Horror,Thriller", "nm2366012", "tt2105044")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Devil's Due", 4.1, 15615, 2014, 89, "Horror,Mystery,Thriller", "nm2366012", "tt2752758")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spectral", 6.3, 45073, 2016, 107, "Action,Mystery,Sci-Fi", "nm0558873", "tt2106651")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dabangg 2", 4.9, 13962, 2012, 120, "Action,Comedy", "nm0451170", "tt2112131")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tangled Ever After", 7.6, 15307, 2012, 6, "Action,Animation,Comedy", "nm1977355", "tt2112281")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The 100 Year-Old Man Who Climbed Out the Window and Disappeared", 7.1, 35982, 2013, 114, "Adventure,Comedy", "nm0379773", "tt2113681")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Force Majeure", 7.3, 42768, 2014, 120, "Comedy,Drama", "nm1128037", "tt2121382")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Square", 7.2, 45977, 2017, 151, "Comedy,Drama", "nm1128037", "tt4995790")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Final Girl", 4.7, 12713, 2015, 90, "Horror,Thriller", "nm2574176", "tt2124787")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beasts of the Southern Wild", 7.3, 77936, 2012, 93, "Adventure,Drama,Fantasy", "nm1022455", "tt2125435")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Searching for Sugar Man", 8.2, 59419, 2012, 86, "Biography,Documentary,Music", "nm0070594", "tt2125608")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Queen of Versailles", 7.1, 12062, 2012, 100, "Documentary", "nm1132362", "tt2125666")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hidden", 6.4, 17895, 2015, 84, "Horror,Thriller", "nm1819972", "tt2131532")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chapter One: The Vanishing of Will Byers", 8.6, 17065, 2016, 47, "Drama,Fantasy,Horror", "nm1819972", "tt4593118")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chapter Two: The Weirdo on Maple Street", 8.5, 15278, 2016, 55, "Drama,Fantasy,Horror", "nm1819972", "tt4593122")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chapter Five: The Flea and the Acrobat", 8.8, 14142, 2016, 52, "Drama,Fantasy,Horror", "nm1819972", "tt4593128")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chapter Six: The Monster", 8.9, 13985, 2016, 46, "Drama,Fantasy,Horror", "nm1819972", "tt4593132")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chapter Eight: The Upside Down", 9.4, 17131, 2016, 54, "Drama,Fantasy,Horror", "nm1819972", "tt4593138")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chapter Two: Trick or Treat, Freak", 8.4, 12483, 2017, 56, "Drama,Fantasy,Horror", "nm1819972", "tt6020792")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman: Bad Blood", 6.8, 17487, 2016, 72, "Action,Adventure,Animation", "nm0646515", "tt4870838")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cocktail", 6.3, 12453, 2012, 146, "Comedy,Drama,Romance", "nm1223294", "tt2168910")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bad Words", 6.6, 44472, 2013, 89, "Comedy,Drama", "nm0000867", "tt2170299")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Video Game High School", 7.6, 12333, 2012, 42, "Action,Romance,Sci-Fi", "nm3087799", "tt2170584")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("St. Vincent", 7.2, 90355, 2014, 102, "Comedy,Drama", "nm0577647", "tt2170593")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hidden Figures", 7.8, 176323, 2016, 127, "Biography,Drama,History", "nm0577647", "tt4846340")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wheels", 9.3, 17378, 2014, 115, "Drama", "nm1919905", "tt2170667")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Art of the Steal", 6.3, 22330, 2013, 90, "Comedy,Crime,Thriller", "nm1038286", "tt2172985")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Discovery of Witches", 8.1, 19769, 2018, 60, "Drama,Fantasy,Romance", "nm1879225", "tt2177461")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shut In", 4.7, 11394, 2016, 91, "Drama,Mystery,Thriller", "nm1879225", "tt2582500")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Baby Daddy", 7.4, 18028, 2012, 22, "Comedy,Drama,Family", "nm0463199", "tt2177489")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kissed by Fire", 9.0, 22468, 2013, 57, "Action,Adventure,Drama", "nm0336241", "tt2178788")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("And Now His Watch Is Ended", 9.5, 30122, 2013, 53, "Action,Adventure,Drama", "nm0336241", "tt2178798")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lion and the Rose", 9.7, 44984, 2014, 52, "Action,Adventure,Drama", "nm0336241", "tt2832378")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Breaker of Chains", 8.9, 24076, 2014, 57, "Action,Adventure,Drama", "nm0336241", "tt2972426")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mountain and the Viper", 9.7, 45002, 2014, 52, "Action,Adventure,Drama", "nm0336241", "tt3060782")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Children", 9.7, 37101, 2014, 65, "Action,Adventure,Drama", "nm0336241", "tt3060860")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Walk of Punishment", 8.9, 22045, 2013, 56, "Action,Adventure,Drama", "nm1125275", "tt2178802")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Iron Throne", 4.2, 213569, 2019, 80, "Action,Adventure,Drama", "nm1125275", "tt6027920")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Barbara", 7.1, 11552, 2012, 105, "Drama", "nm0678857", "tt2178941")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Phoenix", 7.3, 15036, 2014, 98, "Drama,History,Music", "nm0678857", "tt2764784")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Kings of Summer", 7.1, 74115, 2013, 95, "Adventure,Comedy,Drama", "nm3611349", "tt2179116")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kong: Skull Island", 6.6, 245649, 2017, 118, "Action,Adventure,Fantasy", "nm3611349", "tt3731562")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What's in a Name?", 7.3, 14009, 2012, 109, "Comedy,Drama", "nm1141181", "tt2179121")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shahid", 8.3, 13410, 2012, 129, "Biography,Crime,Drama", "nm0576554", "tt2181831")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("English Vinglish", 7.8, 30907, 2012, 134, "Comedy,Drama,Family", "nm1903006", "tt2181931")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dear Zindagi", 7.6, 32569, 2016, 151, "Drama,Romance", "nm1903006", "tt5946128")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Earth to Echo", 5.8, 17759, 2014, 91, "Adventure,Family,Sci-Fi", "nm1757777", "tt2183034")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Teenage Mutant Ninja Turtles: Out of the Shadows", 6.0, 78636, 2016, 112, "Action,Adventure,Comedy", "nm1757777", "tt3949660")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rectify", 8.3, 22503, 2013, 60, "Drama", "nm0350455", "tt2183404")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ripper Street", 8.1, 17971, 2012, 59, "Crime,Drama,Mystery", "nm0933002", "tt2183641")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Purge", 5.7, 187299, 2013, 85, "Horror,Thriller", "nm0218621", "tt2184339")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Purge: Anarchy", 6.4, 128174, 2014, 103, "Action,Horror,Sci-Fi", "nm0218621", "tt2975578")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Purge: Election Year", 6.0, 82119, 2016, 108, "Action,Horror,Sci-Fi", "nm0218621", "tt4094724")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bates Motel", 8.2, 89050, 2013, 45, "Drama,Horror,Mystery", "nm0003163", "tt2188671")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Defiance", 7.0, 38839, 2013, 43, "Action,Drama,Sci-Fi", "nm0002749", "tt2189221")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Van Helsing", 6.2, 14612, 2016, 60, "Action,Drama,Fantasy", "nm0002749", "tt5197820")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Empty Hearse", 9.0, 26438, 2014, 88, "Crime,Drama,Mystery", "nm0522634", "tt2189771")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Arrow", 7.6, 384705, 2012, 42, "Action,Adventure,Crime", "nm1556320", "tt2193021")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beauty and the Beast", 7.1, 33650, 2012, 60, "Drama,Horror,Romance", "nm0367538", "tt2193041")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Welcome to the Jungle", 4.9, 11653, 2013, 95, "Action,Adventure,Comedy", "nm0578446", "tt2193265")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("666 Park Avenue", 6.8, 16852, 2012, 60, "Drama,Fantasy,Mystery", "nm0000536", "tt2197797")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Aashiqui 2", 7.0, 24795, 2013, 132, "Drama,Music,Musical", "nm1887138", "tt2203308")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ek Villain", 6.4, 14877, 2014, 129, "Action,Crime,Drama", "nm1887138", "tt3175038")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stuck in Love.", 7.2, 79657, 2012, 97, "Comedy,Drama,Romance", "nm1837748", "tt2205697")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fault in Our Stars", 7.7, 320990, 2014, 126, "Drama,Romance", "nm1837748", "tt2582846")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Transcendence", 6.3, 206856, 2014, 119, "Action,Drama,Sci-Fi", "nm0002892", "tt2209764")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bag Man", 5.2, 15647, 2014, 108, "Crime,Drama,Thriller", "nm4333222", "tt2212008")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Katy Perry: Part of Me", 5.8, 13080, 2012, 93, "Documentary,Music", "nm0193838", "tt2215719")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Hijacking", 7.2, 14904, 2012, 103, "Drama,Thriller", "nm2105585", "tt2216240")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Superman vs. The Elite", 7.1, 11501, 2012, 76, "Action,Animation,Sci-Fi", "nm0970607", "tt2224455")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Devious Maids", 7.8, 20746, 2013, 60, "Comedy,Drama,Mystery", "nm2425648", "tt2226342")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Don Jon", 6.5, 218464, 2013, 90, "Comedy,Drama,Romance", "nm0330687", "tt2229499")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Table No. 21", 7.1, 10328, 2013, 108, "Adventure,Thriller", "nm2024446", "tt2229842")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Grave Encounters 2", 5.1, 21287, 2012, 95, "Horror", "nm2151439", "tt2231554")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dear White People", 6.1, 23595, 2014, 108, "Comedy,Drama,Romance", "nm2282177", "tt2235108")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Haunted House", 5.0, 40947, 2013, 86, "Comedy,Fantasy", "nm1639277", "tt2243537")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Haunted House 2", 4.7, 18440, 2014, 86, "Comedy,Fantasy", "nm1639277", "tt2828996")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fifty Shades of Black", 3.5, 17734, 2016, 92, "Comedy", "nm1639277", "tt4667094")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Naked", 5.4, 15034, 2017, 96, "Comedy,Fantasy,Romance", "nm1639277", "tt6048930")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Big Hero 6", 7.8, 379456, 2014, 102, "Action,Adventure,Animation", "nm2320658", "tt2245084")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bible", 7.5, 10064, 2013, 440, "Action,Documentary,Drama", "nm0715240", "tt2245988")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("2016: Obama's America", 5.0, 10181, 2012, 87, "Documentary", "nm1625338", "tt2247692")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ray Donovan", 8.3, 69675, 2013, 60, "Crime,Drama", "nm0931724", "tt2249007")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Intelligence", 6.9, 18338, 2014, 42, "Action,Drama,Sci-Fi", "nm0931724", "tt2693776")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bloodline", 8.0, 39663, 2015, 60, "Drama,Thriller", "nm0931724", "tt3520702")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Trace Decay", 8.7, 11316, 2016, 57, "Drama,Mystery,Sci-Fi", "nm0931724", "tt4458814")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Here's Not Here", 8.2, 11251, 2015, 62, "Drama,Horror,Thriller", "nm0931724", "tt4719620")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sword Art Online", 7.7, 30637, 2012, 24, "Action,Adventure,Animation", "nm6894751", "tt2250192")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wadjda", 7.5, 16689, 2012, 98, "Comedy,Drama", "nm2223783", "tt2258858")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Altered Carbon", 8.1, 109385, 2018, 60, "Action,Drama,Sci-Fi", "nm0724757", "tt2261227")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Agents of S.H.I.E.L.D.", 7.5, 187031, 2013, 45, "Action,Adventure,Drama", "nm0724757", "tt2364582")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Leap!", 6.8, 17199, 2016, 89, "Adventure,Animation,Comedy", "nm0838599", "tt2261287")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Book of Life", 7.3, 60476, 2014, 95, "Adventure,Animation,Comedy", "nm1509613", "tt2262227")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Good Neighbor", 6.3, 14379, 2016, 98, "Crime,Drama,Horror", "nm1227484", "tt2262315")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dragon Ball Z: Battle of Gods", 7.2, 24624, 2013, 85, "Action,Adventure,Animation", "nm0396075", "tt2263944")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Drinking Buddies", 6.1, 53987, 2013, 90, "Comedy,Drama,Romance", "nm1846132", "tt2265398")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lifeguard", 5.6, 13463, 2013, 98, "Drama,Romance", "nm1225921", "tt2265534")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kung Fu Panda 3", 7.1, 119792, 2016, 95, "Action,Adventure,Animation", "nm1868917", "tt2267968")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("These Final Hours", 6.7, 14763, 2013, 87, "Drama,Sci-Fi,Thriller", "nm1991847", "tt2268458")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("1922", 6.3, 40128, 2017, 102, "Crime,Drama,Horror", "nm1991847", "tt6214928")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("True Story", 6.3, 55404, 2015, 99, "Crime,Drama,Mystery", "nm3734458", "tt2273657")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Redirected", 6.6, 32795, 2014, 99, "Action,Comedy,Crime", "nm2543774", "tt2275946")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blue Is the Warmest Color", 7.8, 126993, 2013, 180, "Drama,Romance", "nm0444244", "tt2278871")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The SpongeBob Movie: Sponge Out of Water", 6.0, 44629, 2015, 92, "Adventure,Animation,Comedy", "nm1196684", "tt2279373")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Contracted", 5.3, 13561, 2013, 84, "Drama,Horror,Thriller", "nm3146718", "tt2281159")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Possession of Michael King", 5.7, 10993, 2014, 83, "Horror", "nm5169133", "tt2282016")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("OMG: Oh My God!", 8.2, 45690, 2012, 125, "Comedy,Drama,Fantasy", "nm1084488", "tt2283748")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Witches of East End", 7.6, 22642, 2013, 60, "Drama,Fantasy", "nm0389972", "tt2288064")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Friend Dahmer", 6.2, 12938, 2017, 107, "Drama", "nm1836315", "tt2291540")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fall", 8.2, 67609, 2013, 60, "Crime,Drama,Thriller", "nm0190930", "tt2294189")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In a World...", 6.7, 29658, 2013, 93, "Comedy", "nm1128572", "tt2294677")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mistresses", 7.1, 12161, 2013, 43, "Drama,Romance,Thriller", "nm0779350", "tt2295809")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nathan for You", 8.8, 14820, 2013, 30, "Comedy,Documentary", "nm0938471", "tt2297757")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rabid Dog", 9.2, 16530, 2013, 48, "Crime,Drama,Thriller", "nm1028558", "tt2301447")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dead Freight", 9.7, 20579, 2012, 48, "Crime,Drama,Thriller", "nm2297407", "tt2301463")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Babadook", 6.8, 176711, 2014, 94, "Drama,Horror", "nm0448768", "tt2321549")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Girl Walks Home Alone at Night", 7.0, 27266, 2014, 101, "Drama,Horror", "nm3235877", "tt2326554")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bad Batch", 5.3, 21997, 2016, 118, "Drama,Horror,Romance", "nm3235877", "tt4334266")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mary Queen of Scots", 6.3, 28353, 2018, 124, "Biography,Drama,History", "nm6066050", "tt2328900")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Unicorn Store", 5.5, 14363, 2017, 92, "Comedy,Drama,Fantasy", "nm0488953", "tt2338454")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Woman in Black 2: Angel of Death", 4.8, 25103, 2014, 98, "Drama,Horror,Thriller", "nm2197777", "tt2339741")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("War & Peace", 8.2, 18122, 2016, 379, "Drama,History,Romance", "nm2197777", "tt3910804")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Parkland", 6.3, 14188, 2013, 93, "Drama,History,Mystery", "nm1481618", "tt2345112")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Concussion", 7.1, 79191, 2015, 123, "Biography,Drama,Sport", "nm1481618", "tt3322364")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lunchbox", 7.8, 43526, 2013, 104, "Drama,Romance", "nm3592235", "tt2350496")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lucia", 8.3, 10722, 2013, 135, "Drama,Romance,Sci-Fi", "nm5237694", "tt2358592")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blue Ruin", 7.1, 60130, 2013, 90, "Crime,Drama,Thriller", "nm1099918", "tt2359024")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Green Room", 7.0, 93817, 2015, 95, "Horror,Music,Thriller", "nm1099918", "tt4062536")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hold the Dark", 5.6, 28247, 2018, 125, "Drama,Horror,Mystery", "nm1099918", "tt5057140")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bitten", 7.1, 14792, 2014, 44, "Drama,Fantasy,Horror", "nm0242966", "tt2365946")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lost River", 5.8, 15906, 2014, 95, "Drama,Fantasy,Mystery", "nm0331516", "tt2366608")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Private War", 6.7, 11795, 2018, 110, "Biography,Drama,War", "nm1292648", "tt2368254")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cartel Land", 7.4, 16884, 2015, 100, "Documentary,News", "nm1292648", "tt4126304")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Need for Speed", 6.5, 156480, 2014, 132, "Action,Crime,Thriller", "nm0915304", "tt2369135")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Short Term 12", 8.0, 74691, 2013, 96, "Drama", "nm2308774", "tt2370248")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Glass Castle", 7.1, 25055, 2017, 127, "Biography,Drama", "nm2308774", "tt2378507")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Orange Is the New Black", 8.1, 265423, 2013, 59, "Comedy,Crime,Drama", "nm0000530", "tt2372162")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The White Queen", 7.8, 21305, 2013, 60, "Drama,History,Romance", "nm0853535", "tt2372220")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kick", 5.3, 22221, 2014, 146, "Action,Comedy", "nm0618898", "tt2372222")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("2 States", 6.9, 21974, 2014, 149, "Comedy,Drama,Romance", "nm2831530", "tt2372678")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("1 - Nenokkadine", 8.2, 41540, 2014, 170, "Action,Thriller", "nm1335875", "tt2375559")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rangasthalam", 8.4, 16092, 2018, 170, "Action,Drama", "nm1335875", "tt7392212")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Act of Killing", 8.2, 31743, 2012, 117, "Biography,Crime,Documentary", "nm1484791", "tt2375605")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Look of Silence", 8.3, 10421, 2014, 103, "Biography,Documentary,History", "nm1484791", "tt3521134")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Forger", 5.8, 11185, 2014, 92, "Crime,Drama,Thriller", "nm1530431", "tt2376218")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Instructions Not Included", 7.5, 27337, 2013, 115, "Comedy,Drama", "nm0220240", "tt2378281")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hello Ladies", 7.5, 10882, 2013, 29, "Comedy", "nm0580351", "tt2378794")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fighting with My Family", 7.1, 40281, 2019, 108, "Biography,Comedy,Drama", "nm0580351", "tt6513120")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Psycho-Pass", 8.2, 13079, 2012, 25, "Action,Animation,Crime", "nm2022248", "tt2379308")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Coco", 8.4, 297506, 2017, 105, "Adventure,Animation,Family", "nm2937122", "tt2380307")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fed Up", 7.7, 10972, 2014, 92, "Documentary", "nm3253001", "tt2381335")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Huntsman: Winter's War", 6.1, 89717, 2016, 114, "Action,Adventure,Drama", "nm1031639", "tt2381991")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Utopia", 8.4, 36219, 2013, 50, "Drama,Mystery,Sci-Fi", "nm0612720", "tt2384811")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Waldo Moment", 6.7, 30220, 2013, 43, "Drama,Sci-Fi,Thriller", "nm0383343", "tt2386296")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("He Never Died", 6.4, 15508, 2015, 99, "Comedy,Drama,Fantasy", "nm2710471", "tt2386404")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ain't Them Bodies Saints", 6.4, 19652, 2013, 96, "Crime,Drama,Romance", "nm1108007", "tt2388637")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pete's Dragon", 6.7, 50215, 2016, 102, "Action,Adventure,Comedy", "nm1108007", "tt2788732")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Old Man & the Gun", 6.7, 31086, 2018, 93, "Biography,Comedy,Crime", "nm1108007", "tt2837574")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Ghost Story", 6.8, 48677, 2017, 92, "Drama,Fantasy,Romance", "nm1108007", "tt6265828")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Paperman", 8.3, 29848, 2012, 7, "Animation,Comedy,Family", "nm0434969", "tt2388725")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mowgli: Legend of the Jungle", 6.5, 48496, 2018, 104, "Adventure,Drama,Fantasy", "nm0785227", "tt2388771")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Breathe", 7.1, 15924, 2017, 118, "Biography,Drama,Romance", "nm0785227", "tt5716464")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cheap Thrills", 6.7, 16649, 2013, 88, "Comedy,Crime,Drama", "nm1414810", "tt2389182")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cuban Fury", 6.2, 17122, 2014, 98, "Comedy,Romance,Sport", "nm2926263", "tt2390237")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Graceland", 7.7, 15342, 2013, 42, "Action,Crime,Drama", "nm0277655", "tt2393813")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Howl", 5.3, 10052, 2015, 89, "Action,Fantasy,Horror", "nm0404931", "tt2393827")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cosmos", 9.3, 99908, 2014, 557, "Documentary", "nm0238668", "tt2395695")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("20 Feet from Stardom", 7.4, 11483, 2013, 91, "Biography,Documentary,Music", "nm1365879", "tt2396566")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Won't You Be My Neighbor?", 8.4, 18057, 2018, 94, "Biography,Documentary", "nm1365879", "tt7681902")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mudbound", 7.4, 35152, 2017, 134, "Drama,War", "nm2011696", "tt2396589")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tracers", 5.6, 17453, 2015, 94, "Action,Crime,Drama", "nm2038223", "tt2401097")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Anomalisa", 7.3, 59327, 2015, 90, "Animation,Comedy,Drama", "nm2122478", "tt2401878")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Legends", 7.5, 12330, 2014, 60, "Action,Crime,Drama", "nm0668350", "tt2402137")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("New Amsterdam", 8.1, 11189, 2018, 43, "Drama", "nm0668350", "tt7817340")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Ship", 7.5, 51522, 2014, 60, "Action,Drama,Sci-Fi", "nm0470817", "tt2402207")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Belle", 7.4, 26207, 2013, 100, "Biography,Drama,Romance", "nm1392994", "tt2404181")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A United Kingdom", 6.8, 12569, 2016, 111, "Biography,Drama,Romance", "nm1392994", "tt3387266")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Atomic Blonde", 6.7, 156443, 2017, 115, "Action,Mystery,Thriller", "nm0500610", "tt2406566")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("John Wick", 7.4, 478123, 2014, 101, "Action,Crime,Thriller", "nm0500610", "tt2911666")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Deadpool 2", 7.7, 417308, 2018, 119, "Action,Adventure,Comedy", "nm0500610", "tt5463162")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fast & Furious Presents: Hobbs & Shaw", 6.6, 81284, 2019, 137, "Action,Adventure", "nm0500610", "tt6806448")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Mad Fat Diary", 8.4, 14093, 2013, 47, "Comedy,Drama,Romance", "nm1577262", "tt2407574")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Frequencies", 6.8, 12992, 2013, 105, "Mystery,Romance,Sci-Fi", "nm0279441", "tt2414766")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wolfpack", 7.0, 11215, 2015, 90, "Biography,Documentary", "nm1145920", "tt2415458")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Goon: Last of the Enforcers", 5.8, 10524, 2017, 101, "Comedy,Sport", "nm0059431", "tt2417712")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gabbar is Back", 7.1, 21348, 2015, 128, "Action", "nm3758453", "tt2424988")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Creep", 6.3, 32825, 2014, 77, "Horror,Thriller", "nm2674307", "tt2428170")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Creep 2", 6.4, 14163, 2017, 78, "Horror,Thriller", "nm2674307", "tt3654796")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Overnight", 6.1, 14989, 2015, 79, "Comedy,Mystery", "nm2674307", "tt3844362")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wentworth", 8.6, 15163, 2013, 45, "Crime,Drama", "nm0137520", "tt2433738")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Project Almanac", 6.4, 72366, 2015, 106, "Drama,Mystery,Sci-Fi", "nm2410311", "tt2436386")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Power Rangers", 5.9, 95176, 2017, 124, "Action,Adventure,Sci-Fi", "nm2410311", "tt3717490")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Go Goa Gone", 6.6, 10562, 2013, 108, "Action,Adventure,Comedy", "nm1354763", "tt2436516")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Department Q: The Keeper of Lost Causes", 7.2, 21930, 2013, 96, "Crime,Mystery,Thriller", "nm1031708", "tt2438644")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Department Q: The Absent One", 7.1, 16380, 2014, 119, "Crime,Mystery,Thriller", "nm1031708", "tt3140100")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Peaky Blinders", 8.8, 227222, 2013, 60, "Crime,Drama", "nm1142073", "tt2442560")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sign of Three", 9.0, 23134, 2014, 86, "Crime,Drama,Mystery", "nm1142073", "tt2781042")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Girl with All the Gifts", 6.6, 48243, 2016, 111, "Drama,Horror,Sci-Fi", "nm1142073", "tt4547056")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Museum", 8.7, 32162, 2017, 69, "Drama,Sci-Fi,Thriller", "nm1142073", "tt5058700")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Toy Story of Terror", 7.5, 12209, 2013, 22, "Adventure,Animation,Comedy", "nm0533691", "tt2446040")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("V/H/S/2", 6.0, 33921, 2013, 96, "Horror,Thriller", "nm3464186", "tt2450186")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Headshot", 6.3, 11032, 2016, 118, "Action,Drama,Thriller", "nm3464186", "tt5147214")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Night Comes for Us", 7.0, 16023, 2018, 121, "Action,Thriller", "nm3464186", "tt6116856")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Son of a Gun", 6.5, 24587, 2014, 108, "Action,Crime,Drama", "nm1170339", "tt2452200")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Overlord", 6.7, 65036, 2018, 110, "Action,Adventure,Horror", "nm1170339", "tt4530422")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Fundamentals of Caring", 7.3, 50360, 2016, 97, "Comedy,Drama", "nm0122427", "tt2452386")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Copenhagen", 7.1, 11560, 2014, 98, "Adventure,Drama,Romance", "nm1764816", "tt2459156")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Human Capital", 7.3, 10636, 2013, 111, "Drama", "nm0899501", "tt2465578")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Left Behind", 3.1, 34384, 2014, 110, "Action,Drama,Fantasy", "nm0002184", "tt2467046")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brooklyn Nine-Nine", 8.4, 164590, 2013, 22, "Comedy,Crime", "nm0329634", "tt2467372")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mountain", 7.9, 17889, 2012, 90, "Adventure,Drama,Thriller", "nm3809021", "tt2471640")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Returned", 8.2, 18616, 2012, 52, "Drama,Fantasy,Horror", "nm0581081", "tt2521668")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wetlands", 5.8, 10432, 2013, 109, "Comedy,Drama", "nm1177494", "tt2524674")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Look Who's Back", 7.1, 36657, 2015, 116, "Comedy,Drama,Fantasy", "nm1177494", "tt4176826")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("God's Not Dead", 4.7, 38494, 2014, 113, "Drama", "nm1880561", "tt2528814")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("God's Not Dead 2", 4.3, 10559, 2016, 120, "Drama", "nm1880561", "tt4824308")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blockers", 6.2, 60289, 2018, 102, "Comedy", "nm0134224", "tt2531344")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wyrmwood: Road of the Dead", 6.2, 14898, 2014, 98, "Action,Comedy,Horror", "nm3737504", "tt2535470")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("TURN: Washington's Spies", 8.1, 17930, 2014, 60, "Drama,History,War", "nm2007278", "tt2543328")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blackfish", 8.1, 57462, 2013, 83, "Documentary,News", "nm1363250", "tt2545118")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Megan Leavey", 7.1, 19573, 2017, 116, "Biography,Drama,War", "nm1363250", "tt4899370")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Meru", 7.7, 13073, 2015, 90, "Action,Adventure,Documentary", "nm3011011", "tt2545428")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Cloverfield Paradox", 5.5, 85995, 2018, 102, "Drama,Horror,Mystery", "nm1564809", "tt2548396")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pacific Rim: Uprising", 5.6, 93185, 2018, 111, "Action,Adventure,Sci-Fi", "nm0215299", "tt2557478")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Attack on Titan", 8.8, 129021, 2013, 24, "Action,Adventure,Animation", "nm2172473", "tt2560140")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Town That Dreaded Sundown", 5.6, 12725, 2014, 86, "Horror,Mystery,Thriller", "nm0004234", "tt2561546")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Me and Earl and the Dying Girl", 7.7, 114673, 2015, 105, "Comedy,Drama,Romance", "nm0004234", "tt2582496")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Africa", 9.0, 12224, 2013, 360, "Documentary", "nm5419661", "tt2571774")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gunday", 2.3, 56622, 2014, 152, "Action,Drama,Romance", "nm1804614", "tt2574698")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sultan", 7.0, 34129, 2016, 170, "Action,Drama,Sport", "nm1804614", "tt4832640")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tiger Zinda Hai", 6.0, 19613, 2017, 161, "Action,Adventure,Thriller", "nm1804614", "tt5956100")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bharat", 5.4, 17062, 2019, 150, "Action,Drama", "nm1804614", "tt7721800")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Broad City", 8.4, 23916, 2014, 22, "Comedy", "nm3622659", "tt2578560")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rough Night", 5.2, 41321, 2017, 101, "Comedy,Crime,Thriller", "nm3622659", "tt4799050")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Survivalist", 6.4, 14630, 2015, 104, "Drama,Sci-Fi,Thriller", "nm2850285", "tt2580382")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Life After Beth", 5.6, 18396, 2014, 89, "Comedy,Fantasy,Horror", "nm1337885", "tt2581244")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Little Hours", 5.8, 16427, 2017, 90, "Comedy,Romance", "nm1337885", "tt5666304")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sand Castle", 6.3, 15843, 2017, 113, "Drama,War", "nm2036500", "tt2582576")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("CM101MMXI Fundamentals", 9.2, 41961, 2013, 139, "Comedy,Documentary", "nm2339782", "tt2592910")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("TPB AFK: The Pirate Bay Away from Keyboard", 7.5, 13069, 2013, 85, "Documentary", "nm5205122", "tt2608732")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Superman: Unbound", 6.6, 10425, 2013, 75, "Action,Adventure,Animation", "nm1131680", "tt2617456")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Free Fall", 7.6, 16360, 2013, 100, "Drama,Romance", "nm0479810", "tt2617828")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Leatherface", 5.0, 17111, 2017, 90, "Crime,Horror,Thriller", "nm2376614", "tt2620590")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jolly LLB", 7.5, 14996, 2013, 135, "Comedy,Drama", "nm1378015", "tt2621000")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Jolly LLB 2", 7.2, 19528, 2017, 137, "Comedy,Drama", "nm1378015", "tt5982852")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("New World", 7.6, 17961, 2013, 134, "Crime,Drama", "nm4219902", "tt2625030")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Step Up All In", 6.0, 30790, 2014, 112, "Drama,Music,Romance", "nm2586324", "tt2626350")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pitch Perfect 3", 5.8, 47561, 2017, 93, "Comedy,Music", "nm2586324", "tt4765284")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Penny Dreadful", 8.2, 102900, 2014, 60, "Drama,Fantasy,Horror", "nm0369949", "tt2628232")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hated in the Nation", 8.5, 31918, 2016, 89, "Drama,Sci-Fi,Thriller", "nm0369949", "tt5709236")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Smithereens", 7.5, 25276, 2019, 70, "Drama,Sci-Fi,Thriller", "nm0369949", "tt8758202")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Originals", 8.2, 107417, 2013, 45, "Drama,Fantasy,Horror", "nm0368602", "tt2632424")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shadowhunters", 6.6, 47040, 2016, 42, "Action,Drama,Fantasy", "nm0368602", "tt4145054")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Little Chaos", 6.5, 18726, 2014, 112, "Drama,Romance", "nm0000614", "tt2639254")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Love Is Strange", 6.7, 11601, 2014, 94, "Drama,Romance", "nm0755158", "tt2639344")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sleepy Hollow", 7.4, 55774, 2013, 45, "Adventure,Drama,Fantasy", "nm1270350", "tt2647544")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Dark Valley", 7.1, 10862, 2014, 115, "Action,Drama,Western", "nm0698283", "tt2650978")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Almost Human", 8.0, 45970, 2013, 60, "Action,Crime,Drama", "nm1926923", "tt2654580")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Strain", 7.3, 72161, 2014, 43, "Drama,Horror,Thriller", "nm0197703", "tt2654620")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star-Crossed", 7.3, 16203, 2014, 60, "Drama,Romance,Sci-Fi", "nm0956910", "tt2657262")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Young Sheldon", 7.3, 25318, 2017, 30, "Comedy", "nm0956910", "tt6226232")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Miracle in Cell No. 7", 8.2, 11910, 2013, 127, "Comedy,Drama", "nm1085908", "tt2659414")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Tomorrow People", 7.2, 32929, 2013, 43, "Action,Drama,Sci-Fi", "nm0236173", "tt2660734")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fast Enough", 9.6, 11096, 2015, 44, "Action,Adventure,Drama", "nm0236173", "tt4146568")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Doom Patrol", 8.1, 18949, 2019, 60, "Action,Adventure,Comedy", "nm0236173", "tt8416494")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kill Command", 5.7, 12079, 2016, 99, "Action,Horror,Sci-Fi", "nm2684095", "tt2667380")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Time Lapse", 6.5, 38339, 2014, 104, "Sci-Fi,Thriller", "nm1783713", "tt2669336")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Me Before You", 7.4, 181659, 2016, 106, "Drama,Romance", "nm4824763", "tt2674426")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("In Order of Disappearance", 7.2, 21935, 2014, 116, "Action,Crime,Drama", "nm0596407", "tt2675914")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Department Q: A Conspiracy of Faith", 7.0, 13305, 2016, 112, "Drama,Thriller", "nm0596407", "tt4088268")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cold Pursuit", 6.2, 38626, 2019, 119, "Action,Crime,Drama", "nm0596407", "tt5719748")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hitman: Agent 47", 5.7, 81552, 2015, 96, "Action,Crime,Thriller", "nm5507490", "tt2679042")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The D Train", 5.0, 10160, 2015, 101, "Comedy,Drama", "nm2361949", "tt2690138")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Endeavour", 8.6, 15116, 2012, 89, "Crime,Drama,Mystery", "nm4385546", "tt2701582")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Atlantis", 6.6, 10133, 2013, 45, "Adventure,Drama,Fantasy", "nm1098790", "tt2705602")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Yves Saint Laurent", 6.3, 10491, 2014, 106, "Biography,Drama", "nm0504267", "tt2707858")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Terror", 8.0, 30768, 2018, 60, "Adventure,Drama,History", "nm2139803", "tt2708480")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Grinch", 6.3, 33074, 2018, 85, "Animation,Family,Fantasy", "nm0608714", "tt2709692")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Crazy Ones", 7.1, 11667, 2013, 30, "Comedy", "nm0579318", "tt2710104")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Reign", 7.5, 40448, 2013, 42, "Drama,Fantasy", "nm0314104", "tt2710394")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Finding Vivian Maier", 7.7, 12227, 2013, 83, "Biography,Documentary,Mystery", "nm5525244", "tt2714900")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Salvation", 6.7, 33582, 2014, 92, "Drama,Western", "nm0506290", "tt2720680")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sharknado", 3.3, 44000, 2013, 86, "Action,Adventure,Comedy", "nm0003116", "tt2724064")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sharknado 2: The Second One", 4.0, 16959, 2014, 95, "Action,Adventure,Comedy", "nm0003116", "tt3062074")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sharknado 3: Oh Hell No!", 4.1, 11051, 2015, 93, "Action,Adventure,Comedy", "nm0003116", "tt3899796")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What We Did on Our Holiday", 6.9, 17781, 2014, 95, "Comedy,Drama", "nm0357725", "tt2725962")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Musketeers", 7.8, 19402, 2014, 55, "Adventure,Drama", "nm1016595", "tt2733252")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Assassin's Creed IV: Black Flag", 8.8, 12468, 2013, null, "Action,Adventure,History", "nm5569371", "tt2739708")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sinister 2", 5.3, 43279, 2015, 97, "Horror,Mystery,Thriller", "nm1164602", "tt2752772")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The One I Love", 7.1, 31753, 2014, 91, "Drama,Fantasy,Mystery", "nm1660595", "tt2756032")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Discovery", 6.3, 25457, 2017, 102, "Drama,Romance,Sci-Fi", "nm1660595", "tt5155780")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Helix", 6.8, 27476, 2014, 40, "Horror,Mystery,Sci-Fi", "nm0909568", "tt2758950")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Remember Sunday", 6.9, 10719, 2013, 96, "Drama,Romance", "nm0088121", "tt2770480")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Veronica Mars", 6.8, 48126, 2014, 107, "Crime,Drama,Mystery", "nm0859432", "tt2771372")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Teen Titans Go!", 5.1, 15403, 2013, 10, "Animation,Comedy,Family", "nm1406291", "tt2771780")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thank You for Your Service", 6.5, 10506, 2017, 109, "Biography,Drama,War", "nm0355699", "tt2776878")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zombeavers", 4.8, 15114, 2014, 77, "Action,Adventure,Comedy", "nm1140290", "tt2784512")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Backtrack", 5.9, 10817, 2015, 90, "Drama,Fantasy,Mystery", "nm0678104", "tt2784936")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Little Death", 7.1, 23875, 2014, 96, "Comedy,Drama,Romance", "nm0493257", "tt2785032")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Welcome to Me", 5.9, 17423, 2014, 87, "Comedy,Drama", "nm0686099", "tt2788716")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("30 Days Without an Accident", 8.2, 10158, 2013, 43, "Drama,Horror,Thriller", "nm0630524", "tt2795750")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("No Sanctuary", 9.6, 22542, 2014, 42, "Drama,Horror,Thriller", "nm0630524", "tt3297776")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What Happened and What's Going On", 8.0, 10391, 2015, 42, "Drama,Horror,Thriller", "nm0630524", "tt3853912")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Conquer", 9.3, 13269, 2015, 65, "Drama,Horror,Thriller", "nm0630524", "tt3853928")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("First Time Again", 8.7, 12643, 2015, 65, "Drama,Horror,Thriller", "nm0630524", "tt4211958")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("No Way Out", 9.7, 23240, 2016, 43, "Drama,Horror,Thriller", "nm0630524", "tt4575388")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Last Day on Earth", 6.5, 25921, 2016, 65, "Drama,Horror,Thriller", "nm0630524", "tt4589574")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Batman: Arkham Origins", 8.3, 10642, 2013, null, "Action,Adventure,Crime", "nm2973719", "tt2842418")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("White God", 6.9, 13995, 2014, 121, "Drama,Fantasy,Horror", "nm0610960", "tt2844798")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stranger by the Lake", 6.9, 11815, 2013, 100, "Drama,Romance,Thriller", "nm0347492", "tt2852458")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tag", 6.5, 92925, 2018, 100, "Comedy", "nm1762961", "tt2854926")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rick and Morty", 9.3, 292762, 2013, 23, "Adventure,Animation,Comedy", "nm0723470", "tt2861424")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Coherence", 7.2, 92477, 2013, 89, "Horror,Mystery,Sci-Fi", "nm0126096", "tt2866360")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nightcrawler", 7.9, 415211, 2014, 117, "Crime,Drama,Thriller", "nm0319659", "tt2872718")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Roman J. Israel, Esq.", 6.4, 24719, 2017, 122, "Crime,Drama,Thriller", "nm0319659", "tt6000478")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Velvet Buzzsaw", 5.7, 44335, 2019, 113, "Horror,Mystery,Thriller", "nm0319659", "tt7043012")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Shaun the Sheep Movie", 7.3, 33632, 2015, 85, "Adventure,Animation,Comedy", "nm0123666", "tt2872750")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("11.22.63", 8.2, 62474, 2016, 60, "Drama,Mystery,Sci-Fi", "nm0171315", "tt2879552")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bang Bang", 5.5, 20257, 2014, 153, "Action,Adventure,Comedy", "nm1893457", "tt2905838")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Obvious Child", 6.8, 21919, 2014, 84, "Comedy,Drama,Romance", "nm3521871", "tt2910274")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Signal", 6.1, 59047, 2014, 97, "Drama,Mystery,Sci-Fi", "nm1827931", "tt2910814")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("20,000 Days on Earth", 7.5, 10289, 2014, 97, "Documentary,Drama,Music", "nm3558886", "tt2920540")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("God's Pocket", 6.1, 10230, 2014, 88, "Crime,Drama", "nm0805476", "tt2920808")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Heist", 5.0, 15685, 2014, 94, "Action,Crime,Drama", "nm3550361", "tt2923316")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Zashchitniki", 4.0, 10220, 2017, 89, "Action,Sci-Fi", "nm3550361", "tt4600952")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Star Wars Rebels", 8.0, 22657, 2014, 22, "Action,Adventure,Animation", "nm1184241", "tt2930604")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Backcountry", 6.0, 16614, 2014, 92, "Drama,Horror,Thriller", "nm0531595", "tt2944198")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Return to Sender", 5.1, 11075, 2015, 92, "Drama,Thriller", "nm3087552", "tt2948790")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Spanish Affair", 6.5, 15097, 2014, 98, "Comedy,Romance", "nm0554880", "tt2955316")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Extraterrestrial", 5.0, 13897, 2014, 101, "Horror,Mystery,Sci-Fi", "nm4017355", "tt2960930")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Road Within", 7.1, 13023, 2014, 100, "Comedy,Drama", "nm0920227", "tt2962876")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Comet", 6.8, 16452, 2014, 91, "Comedy,Drama,Romance", "nm1322753", "tt2965412")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mr. Robot", 8.5, 284781, 2015, 49, "Crime,Drama,Thriller", "nm1322753", "tt4158110")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Homecoming", 7.5, 13612, 2018, 30, "Drama,Thriller", "nm1322753", "tt7008682")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Just Before I Go", 6.4, 16807, 2014, 95, "Comedy,Drama", "nm0001073", "tt2980472")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Planes: Fire & Rescue", 6.0, 15526, 2014, 83, "Adventure,Animation,Comedy", "nm0304432", "tt2980706")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Suck Me Shakespeer", 7.0, 24870, 2013, 119, "Comedy", "nm1480916", "tt2987732")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Suck Me Shakespeer 2", 6.0, 10431, 2015, 115, "Comedy", "nm1480916", "tt3702996")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Christmas Chronicles", 7.1, 35885, 2018, 104, "Adventure,Comedy,Family", "nm0443505", "tt2990140")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tangerines", 8.2, 34177, 2013, 87, "Drama,War", "nm0882203", "tt2991224")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Witcher 3: Wild Hunt", 9.7, 13654, 2015, null, "Action,Adventure,Drama", "nm2840922", "tt2993508")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Camp X-Ray", 6.9, 37181, 2014, 117, "Drama,War", "nm0972104", "tt2994190")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Outlander", 8.4, 97565, 2014, 64, "Drama,Fantasy,Romance", "nm0406177", "tt3006802")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Krypton", 7.0, 12872, 2018, 45, "Action,Adventure,Drama", "nm0406177", "tt4276624")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Water Diviner", 7.0, 67373, 2014, 111, "Drama,History,War", "nm0000128", "tt3007512")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wild Tales", 8.1, 155287, 2014, 122, "Comedy,Drama,Thriller", "nm1167933", "tt3011894")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hangman", 5.2, 11147, 2017, 98, "Crime,Mystery,Thriller", "nm0552565", "tt3011960")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Lego Ninjago Movie", 6.0, 19873, 2017, 101, "Action,Adventure,Animation", "nm0063769", "tt3014284")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Moms' Night Out", 5.4, 12576, 2014, 98, "Comedy", "nm3401779", "tt3014666")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Can Only Imagine", 7.4, 12037, 2018, 110, "Biography,Drama,Family", "nm3401779", "tt6450186")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Steven Universe", 8.3, 22094, 2013, 11, "Action,Adventure,Animation", "nm3566987", "tt3061046")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hardcore Henry", 6.7, 79981, 2015, 96, "Action,Adventure,Sci-Fi", "nm5820154", "tt3072482")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Suffragette", 6.9, 34876, 2015, 106, "Biography,Drama,History", "nm0310673", "tt3077214")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Goodnight Mommy", 6.7, 37098, 2014, 99, "Horror,Mystery,Thriller", "nm3868633", "tt3086442")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Inbetweeners 2", 6.4, 38986, 2014, 96, "Comedy,Family", "nm1720648", "tt3097204")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Manhattan Night", 6.2, 10510, 2016, 113, "Crime,Drama,Mystery", "nm1802093", "tt3100274")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Circle", 6.0, 32473, 2015, 87, "Drama,Horror,Mystery", "nm5278146", "tt3118452")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sierra Burgess Is a Loser", 5.9, 29408, 2018, 105, "Comedy,Drama,Romance", "nm3859682", "tt3120280")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Son of Batman", 6.7, 21137, 2014, 74, "Action,Adventure,Animation", "nm2320725", "tt3139072")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Justice League: Throne of Atlantis", 6.7, 17444, 2015, 72, "Action,Adventure,Animation", "nm2320725", "tt3878542")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Brilliant Young Mind", 7.1, 25654, 2014, 111, "Drama,Romance", "nm2051728", "tt3149038")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Extant", 6.6, 22727, 2014, 42, "Drama,Sci-Fi,Thriller", "nm0005204", "tt3155320")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Secrets and Lies", 7.6, 10066, 2015, 43, "Crime,Drama", "nm0005204", "tt3516878")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pride", 7.8, 47556, 2014, 119, "Biography,Comedy,Drama", "nm0911334", "tt3169706")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("iBoy", 6.0, 17577, 2017, 90, "Action,Crime,Sci-Fi", "nm1726691", "tt3171832")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Diary of a Teenage Girl", 6.9, 27499, 2015, 102, "Comedy,Drama,Romance", "nm1716636", "tt3172532")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Can You Ever Forgive Me?", 7.1, 35298, 2018, 106, "Biography,Comedy,Crime", "nm1716636", "tt4595882")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hasee Toh Phasee", 6.8, 12570, 2014, 141, "Comedy,Romance", "nm5932553", "tt3173910")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Honeymoon", 5.7, 23205, 2014, 87, "Horror,Mystery,Thriller", "nm4074404", "tt3177316")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Momentum", 5.5, 12838, 2015, 96, "Action,Crime,Thriller", "nm0132120", "tt3181776")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Insidious: Chapter 3", 6.1, 85147, 2015, 97, "Horror,Mystery,Thriller", "nm1191481", "tt3195644")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Upgrade", 7.5, 115659, 2018, 100, "Action,Sci-Fi,Thriller", "nm1191481", "tt6499752")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Extinction", 5.8, 39115, 2018, 95, "Action,Drama,Sci-Fi", "nm1587778", "tt3201640")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Slow West", 6.9, 39133, 2015, 84, "Adventure,Western", "nm3304468", "tt3205376")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("How to Get Away with Murder", 8.1, 107176, 2014, 43, "Crime,Drama,Mystery", "nm0002704", "tt3205802")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Son of God", 5.7, 17701, 2014, 138, "Biography,Drama,History", "nm0817895", "tt3210686")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("You're the Worst", 8.1, 21380, 2014, 30, "Comedy,Drama,Romance", "nm0787687", "tt3228420")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Spoils of War", 9.8, 77632, 2017, 50, "Action,Adventure,Drama", "nm0787687", "tt5775846")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eastwatch", 8.8, 38823, 2017, 59, "Action,Adventure,Drama", "nm0787687", "tt5775854")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Man on Earth", 7.3, 49260, 2015, 22, "Action,Comedy,Drama", "nm1231253", "tt3230454")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Returned", 7.1, 11087, 2015, 42, "Drama,Fantasy,Horror", "nm0315298", "tt3230780")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Counterpart", 8.1, 17455, 2017, 60, "Drama,Sci-Fi,Thriller", "nm0315298", "tt4643084")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("It Follows", 6.8, 188214, 2014, 100, "Horror,Mystery,Thriller", "nm1379002", "tt3235888")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Under the Silver Lake", 6.5, 22362, 2018, 139, "Comedy,Crime,Drama", "nm1379002", "tt5691670")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Soaked in Bleach", 7.4, 10908, 2015, 90, "Crime,Documentary", "nm3788242", "tt3253624")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Marshland", 7.3, 27054, 2014, 105, "Crime,Horror,Mystery", "nm0735705", "tt3253930")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("IO", 4.7, 26192, 2019, 96, "Adventure,Drama,Romance", "nm2407401", "tt3256226")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Still", 7.2, 11031, 2014, 42, "Drama,Horror,Thriller", "nm1905909", "tt3259044")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Loving Vincent", 7.8, 42124, 2017, 94, "Animation,Biography,Crime", "nm3699790", "tt3262342")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kumiko, the Treasure Hunter", 6.6, 10991, 2014, 105, "Drama", "nm0954655", "tt3263614")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Internet's Own Boy: The Story of Aaron Swartz", 8.1, 14613, 2014, 105, "Biography,Crime,Documentary", "nm0460534", "tt3268458")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Blackcoat's Daughter", 5.9, 14496, 2015, 93, "Horror,Thriller", "nm0674020", "tt3286052")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Am the Pretty Thing That Lives in the House", 4.5, 10366, 2016, 89, "Horror,Mystery,Thriller", "nm0674020", "tt5059406")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rams", 7.3, 11262, 2015, 93, "Drama", "nm1963886", "tt3296658")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Man with the Iron Heart", 6.4, 11552, 2017, 120, "Action,Biography,Thriller", "nm1473428", "tt3296908")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("London Has Fallen", 5.9, 130022, 2016, 99, "Action,Thriller", "nm0619836", "tt3300542")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cowspiracy: The Sustainability Secret", 8.3, 18308, 2014, 90, "Documentary", "nm6057112", "tt3302820")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What the Health", 7.5, 23831, 2017, 97, "Documentary", "nm6057112", "tt5541848")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Grove", 9.2, 12990, 2014, 42, "Drama,Horror,Thriller", "nm0766349", "tt3316800")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fear the Walking Dead", 6.9, 103297, 2015, 44, "Drama,Horror,Sci-Fi", "nm0766349", "tt3743822")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Swear", 5.6, 11276, 2016, 49, "Drama,Horror,Thriller", "nm0766349", "tt5207734")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hearts Still Beating", 8.7, 10089, 2016, 60, "Drama,Horror,Thriller", "nm0766349", "tt5207740")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Still Alice", 7.5, 118839, 2014, 101, "Drama", "nm0322144", "tt3316960")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Despicable Me 3", 6.3, 97401, 2017, 89, "Adventure,Animation,Comedy", "nm3210494", "tt3469046")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kung Fury", 8.0, 52992, 2015, 31, "Action,Comedy,Fantasy", "nm6247887", "tt3472226")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Agent Carter", 7.9, 67712, 2015, 42, "Action,Adventure,Sci-Fi", "nm0504716", "tt3475734")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Parallels", 6.1, 12923, 2015, 83, "Action,Sci-Fi", "nm0002814", "tt3479316")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black-ish", 7.1, 17398, 2014, 22, "Comedy", "nm0503611", "tt3487356")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dum Laga Ke Haisha", 7.5, 15561, 2015, 110, "Comedy,Drama,Romance", "nm2680506", "tt3495030")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fortitude", 7.4, 17947, 2015, 60, "Drama,Horror,Mystery", "nm0493441", "tt3498622")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("River", 8.1, 17391, 2015, 60, "Crime,Drama,Mystery", "nm0493441", "tt4258440")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Madam Secretary", 7.6, 17982, 2014, 45, "Drama", "nm0000655", "tt3501074")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Security", 5.7, 13821, 2017, 88, "Action,Crime,Thriller", "nm0221662", "tt3501112")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("iZombie", 7.9, 55818, 2015, 42, "Comedy,Crime,Drama", "nm0276317", "tt3501584")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Transparent", 7.8, 20063, 2014, 30, "Comedy,Drama,Short", "nm0000451", "tt3502262")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Housebound", 6.8, 30078, 2014, 107, "Comedy,Horror,Mystery", "nm2067421", "tt3504048")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Assassin", 6.3, 14412, 2015, 105, "Action,Drama,History", "nm0396284", "tt3508840")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("We Are Still Here", 5.7, 15842, 2015, 84, "Horror", "nm0313295", "tt3520418")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Disaster Artist", 7.4, 116513, 2017, 104, "Biography,Comedy,Drama", "nm0290556", "tt3521126")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Schitt's Creek", 8.3, 20619, 2015, 22, "Comedy", "nm0289186", "tt3526078")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Anne", 8.5, 16382, 2017, 60, "Drama", "nm0289186", "tt5421602")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Last Week Tonight with John Oliver", 8.9, 70240, 2014, 30, "Comedy,News,Talk-Show", "nm2142199", "tt3530232")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("La Famille Bélier", 7.3, 22288, 2014, 106, "Comedy,Drama,Music", "nm0489309", "tt3547740")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fresh Off the Boat", 7.8, 20069, 2015, 22, "Comedy", "nm0442586", "tt3551096")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Captain Fantastic", 7.9, 165035, 2016, 118, "Comedy,Drama", "nm0743671", "tt3553976")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Heroes Reborn", 6.8, 25119, 2015, 60, "Drama,Fantasy,Sci-Fi", "nm1356268", "tt3556944")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Red Sea Diving Resort", 6.5, 14771, 2019, 129, "Drama,History,Thriller", "nm1356268", "tt4995776")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Spy", 7.8, 11965, 2019, 53, "Drama,History", "nm1356268", "tt5952634")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("NCIS: New Orleans", 6.8, 13066, 2014, 42, "Crime,Drama,Mystery", "nm0371348", "tt3560084")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stalker", 7.5, 16235, 2014, 60, "Crime,Drama,Thriller", "nm0534850", "tt3560094")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Another Life", 4.9, 18204, 2019, 43, "Adventure,Drama,Mystery", "nm0534850", "tt8369840")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ófærð", 8.1, 12169, 2015, 60, "Crime,Drama,Thriller", "nm1156404", "tt3561180")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bilal: A New Breed of Hero", 8.0, 17112, 2015, 105, "Action,Adventure,Animation", "nm6735778", "tt3576728")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("And Then There Were None", 8.0, 26743, 2015, 58, "Crime,Drama,Mystery", "nm2244239", "tt3581932")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Royals", 7.5, 10488, 2015, 42, "Drama", "nm0125024", "tt3597912")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cars 3", 6.7, 62828, 2017, 102, "Adventure,Animation,Comedy", "nm0270263", "tt3606752")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Grace and Frankie", 8.3, 30626, 2015, 30, "Comedy", "nm0038893", "tt3609352")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Don't Hang Up", 5.6, 11118, 2016, 83, "Horror,Thriller", "nm1835055", "tt3610746")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wrong Turn 6: Last Resort", 4.2, 11635, 2014, 91, "Horror", "nm2274197", "tt3612032")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kilo Two Bravo", 7.1, 10366, 2014, 108, "Adventure,Biography,Drama", "nm1238038", "tt3622120")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Poldark", 8.3, 22060, 2015, 60, "Drama,History,Romance", "nm0013140", "tt3636060")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Taboo", 8.5, 104129, 2017, 59, "Drama,Mystery,Thriller", "nm0257775", "tt3647998")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Misconduct", 5.3, 13862, 2016, 106, "Crime,Drama,Mystery", "nm0989941", "tt3658772")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Librarians", 7.2, 17750, 2014, 42, "Action,Adventure,Comedy", "nm0746489", "tt3663490")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Red Turtle", 7.5, 26182, 2016, 80, "Animation,Fantasy", "nm0240196", "tt3666024")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bangalore Days", 8.3, 13467, 2014, 171, "Comedy,Drama,Romance", "nm3250747", "tt3668162")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Turbo Kid", 6.7, 24341, 2015, 93, "Action,Adventure,Comedy", "nm2379331", "tt3672742")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Summer of 84", 6.7, 25294, 2018, 105, "Drama,Horror,Mystery", "nm2379331", "tt5774450")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Salt of the Earth", 8.5, 17609, 2014, 110, "Biography,Documentary,History", "nm2081382", "tt3674140")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Humpty Sharma Ki Dulhania", 6.0, 10011, 2014, 133, "Comedy,Drama,Romance", "nm4264671", "tt3678938")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ibiza", 5.2, 13511, 2018, 94, "Comedy,Romance", "nm2795127", "tt3685236")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Four Walls and a Roof", 9.0, 11109, 2014, 42, "Drama,Horror,Thriller", "nm0418362", "tt3689244")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Feast", 8.2, 21307, 2014, 6, "Animation,Comedy,Drama", "nm2444148", "tt3689498")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Brain on Fire", 6.6, 13733, 2016, 88, "Biography,Drama", "nm3584506", "tt3704700")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Deathgasm", 6.3, 14313, 2015, 86, "Action,Comedy,Horror", "nm3950520", "tt3705412")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mine", 5.9, 13613, 2016, 106, "Drama,Fantasy,Thriller", "nm1764586", "tt3707104")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Unfriended", 5.5, 63196, 2014, 83, "Horror,Mystery,Thriller", "nm0300174", "tt3713166")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Hollars", 6.5, 10399, 2016, 88, "Comedy,Drama,Romance", "nm1024677", "tt3714720")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Quiet Place", 7.5, 325855, 2018, 90, "Drama,Horror,Sci-Fi", "nm1024677", "tt6644200")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Underworld: Blood Wars", 5.8, 64277, 2016, 91, "Action,Adventure,Fantasy", "nm0283816", "tt3717252")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Over the Garden Wall", 8.8, 30731, 2014, 110, "Action,Adventure,Animation", "nm2389161", "tt3718778")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Maudie", 7.6, 12326, 2016, 115, "Biography,Drama,Romance", "nm0909532", "tt3721954")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gringo", 6.1, 22534, 2018, 111, "Action,Comedy,Crime", "nm0003482", "tt3721964")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Experimenter", 6.6, 16340, 2015, 98, "Biography,Drama,History", "nm0021899", "tt3726704")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Disappearance of Eleanor Rigby: Them", 6.3, 11012, 2014, 123, "Drama,Romance", "nm0072600", "tt3729920")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Trust", 5.4, 16365, 2016, 92, "Comedy,Crime,Drama", "nm5082761", "tt3733774")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tokyo Ghoul", 7.9, 27612, 2014, 24, "Action,Animation,Drama", "nm1557215", "tt3741634")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lion", 8.0, 187370, 2016, 118, "Biography,Drama", "nm0204628", "tt3741834")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("NH10", 7.2, 11327, 2015, 115, "Action,Crime,Drama", "nm2480204", "tt3742284")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Second Mother", 7.8, 11164, 2015, 112, "Comedy,Drama", "nm1155957", "tt3742378")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Akame ga Kill!", 7.9, 11810, 2014, 24, "Action,Animation,Comedy", "nm2459245", "tt3742982")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Wife", 7.2, 28095, 2017, 99, "Drama", "nm0750275", "tt3750872")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Truman", 7.3, 10401, 2015, 108, "Comedy,Drama", "nm0310747", "tt3754940")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Astérix: Le domaine des dieux", 6.9, 10281, 2014, 85, "Adventure,Animation,Comedy", "nm3088151", "tt3759416")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hello, My Name Is Doris", 6.6, 17717, 2015, 90, "Comedy,Drama,Romance", "nm0795290", "tt3766394")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Big Sick", 7.6, 107445, 2017, 120, "Comedy,Drama,Romance", "nm0795290", "tt5462602")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ashby", 6.4, 13757, 2015, 100, "Comedy,Crime,Drama", "nm1110111", "tt3774466")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("They Call Me Jeeg", 7.1, 11640, 2015, 112, "Action,Drama,Sci-Fi", "nm0537734", "tt3775086")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("We Are Your Friends", 6.2, 33105, 2015, 96, "Drama,Music,Romance", "nm3273000", "tt3787590")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Escort", 6.0, 10485, 2016, 88, "Comedy,Drama,Romance", "nm2034711", "tt3793788")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Kissing Booth", 6.1, 48123, 2018, 105, "Comedy,Romance", "nm1479803", "tt3799232")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("6 Years", 5.6, 10359, 2015, 79, "Drama,Romance", "nm4227232", "tt3799372")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Son of Saul", 7.5, 40038, 2015, 107, "Drama,War", "nm1841577", "tt3808342")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Minimalism: A Documentary About the Important Things", 6.7, 10097, 2015, 78, "Documentary", "nm6576361", "tt3810760")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dragon Ball Z: Resurrection 'F'", 7.3, 18710, 2015, 93, "Action,Adventure,Animation", "nm2238569", "tt3819668")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lava", 7.2, 12827, 2014, 7, "Animation,Family,Fantasy", "nm0614330", "tt3824386")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tangerine", 7.1, 23690, 2015, 88, "Comedy,Crime,Drama", "nm0048918", "tt3824458")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Florida Project", 7.6, 75490, 2017, 111, "Drama", "nm0048918", "tt5649144")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Labyrinth of Lies", 7.3, 10669, 2014, 124, "Drama,History", "nm0723285", "tt3825638")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Z Nation", 6.7, 30153, 2014, 44, "Action,Comedy,Drama", "nm1159727", "tt3843168")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Final Problem", 8.3, 22881, 2017, 89, "Crime,Drama,Mystery", "nm0139081", "tt3845892")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Crown", 8.7, 87803, 2016, 58, "Drama,History", "nm0139081", "tt4786824")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("To All the Boys I've Loved Before", 7.2, 67973, 2018, 99, "Drama,Romance", "nm0426287", "tt3846674")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dope", 7.2, 77390, 2015, 103, "Comedy,Crime,Drama", "nm0266622", "tt3850214")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Truth", 6.8, 17333, 2015, 125, "Biography,Drama,History", "nm0888743", "tt3859076")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cargo", 6.3, 29091, 2017, 105, "Drama,Horror,Sci-Fi", "nm3262170", "tt3860916")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Your Lie in April", 8.6, 10406, 2014, 23, "Animation,Drama,Music", "nm4303848", "tt3895150")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Breadwinner", 7.7, 15191, 2017, 94, "Animation,Drama,Family", "nm1316072", "tt3901826")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Siege of Jadotville", 7.3, 25438, 2016, 108, "Action,Biography,Drama", "nm1100217", "tt3922798")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Killjoys", 7.2, 18620, 2015, 42, "Action,Adventure,Sci-Fi", "nm0687238", "tt3952222")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Things to Come", 7.0, 10282, 2016, 102, "Drama", "nm0361135", "tt4120176")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Humans", 8.0, 33059, 2015, 42, "Drama,Sci-Fi", "nm1587079", "tt4122068")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("After", 5.4, 18410, 2019, 105, "Drama,Romance", "nm1788310", "tt4126476")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Permanent Roommates", 8.6, 19608, 2014, 21, "Comedy,Romance", "nm6845075", "tt4156586")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dark Matter", 7.5, 36267, 2015, 42, "Adventure,Drama,Mystery", "nm0614672", "tt4159076")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Gift", 7.0, 126105, 2015, 108, "Drama,Mystery,Thriller", "nm0249291", "tt4178092")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Boy Erased", 7.0, 22430, 2018, 115, "Biography,Drama", "nm0249291", "tt7008872")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Last Kingdom", 8.3, 56602, 2015, 60, "Action,Drama,History", "nm0387486", "tt4179452")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Meet the Blacks", 4.9, 34952, 2016, 94, "Comedy,Horror", "nm1938064", "tt4191580")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Traffik", 6.0, 17063, 2018, 96, "Action,Crime,Drama", "nm1938064", "tt5670152")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Glitch", 7.5, 11359, 2015, 45, "Drama,Sci-Fi", "nm1175458", "tt4192782")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Indignation", 6.7, 10759, 2016, 110, "Drama,Romance", "nm0770005", "tt4193394")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Telling Tales", 7.6, 13287, 2015, 103, "Comedy,Fantasy,Romance", "nm4342198", "tt4195278")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Birth of a Nation", 6.4, 18766, 2016, 120, "Biography,Drama,History", "nm1676649", "tt4196450")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Filthy Frank Show", 9.5, 31199, 2011, 12, "Comedy,Fantasy,Music", "nm9215103", "tt4202274")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Molly's Game", 7.5, 110143, 2017, 140, "Biography,Crime,Drama", "nm0815070", "tt4209788")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Victoria", 7.7, 45969, 2015, 138, "Crime,Drama,Romance", "nm0771923", "tt4226388")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Original", 8.9, 18475, 2016, 68, "Drama,Mystery,Sci-Fi", "nm0634300", "tt4227538")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Bicameral Mind", 9.7, 24606, 2016, 90, "Drama,Mystery,Sci-Fi", "nm0634300", "tt5229638")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cobain: Montage of Heck", 7.5, 26452, 2015, 145, "Animation,Biography,Documentary", "nm0605137", "tt4229236")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Defenders", 7.3, 79558, 2017, 50, "Action,Adventure,Crime", "nm1237416", "tt4230076")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Collateral", 6.8, 10170, 2018, 57, "Crime,Drama,Mystery", "nm1237416", "tt6729080")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Yellowstone", 8.4, 13535, 2018, 60, "Drama,Western", "nm0792263", "tt4236770")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wind River", 7.7, 176388, 2017, 107, "Crime,Drama,Mystery", "nm0792263", "tt5362988")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beta Test", 6.0, 11342, 2016, 88, "Action,Sci-Fi,Thriller", "nm2422911", "tt4244162")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Void", 5.8, 26225, 2016, 90, "Horror,Mystery,Sci-Fi", "nm2725627", "tt4255304")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Witch", 6.8, 162141, 2015, 92, "Horror,Mystery", "nm3211470", "tt4263482")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Billions", 8.4, 58820, 2016, 60, "Drama", "nm4945419", "tt4270492")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Under the Shadow", 6.9, 19483, 2016, 84, "Drama,Horror,Thriller", "nm2035118", "tt4273292")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("What Happened, Miss Simone?", 7.6, 10475, 2015, 101, "Biography,Documentary,Music", "nm0305017", "tt4284010")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Embrace of the Serpent", 7.9, 17976, 2015, 125, "Adventure,Drama", "nm1458734", "tt4285496")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Atlanta", 8.6, 41910, 2016, 30, "Comedy,Drama,Music", "nm2033604", "tt4288182")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lady Macbeth", 6.8, 15884, 2016, 89, "Drama,Romance", "nm4399706", "tt4291600")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chef's Table", 8.6, 11091, 2015, 50, "Documentary", "nm0422316", "tt4295140")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kubo and the Two Strings", 7.8, 108087, 2016, 101, "Action,Adventure,Animation", "nm1325899", "tt4302938")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bumblebee", 6.8, 107279, 2018, 114, "Action,Adventure,Sci-Fi", "nm1325899", "tt4701182")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Am Not a Serial Killer", 6.2, 12408, 2016, 104, "Drama,Horror,Thriller", "nm0639376", "tt4303340")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Resurrection: Ertugrul", 7.5, 18674, 2014, 120, "Action,Adventure,Drama", "nm1699689", "tt4320258")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("F Is for Family", 8.0, 22671, 2015, 30, "Animation,Comedy,Drama", "nm4107636", "tt4326894")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tau", 5.8, 21721, 2018, 97, "Sci-Fi,Thriller", "nm1730090", "tt4357394")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Taxi", 7.3, 12163, 2015, 82, "Comedy,Drama", "nm0070159", "tt4359416")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Catastrophe", 8.2, 13277, 2015, 24, "Comedy", "nm4829613", "tt4374208")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sex Education", 8.3, 76646, 2019, 45, "Comedy,Drama", "nm4829613", "tt7767422")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Babylon Berlin", 8.4, 12368, 2017, 45, "Crime,Drama,Thriller", "nm0359634", "tt4378376")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hot Girls Wanted", 6.1, 14080, 2015, 84, "Documentary", "nm4991143", "tt4382552")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Airlift", 8.0, 49244, 2016, 130, "Drama,History", "nm1329166", "tt4387040")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Gifted", 7.4, 28109, 2017, 43, "Action,Drama,Fantasy", "nm0453003", "tt4396630")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Clan", 7.0, 10986, 2015, 108, "Biography,Crime,Drama", "nm0871086", "tt4411504")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kedi", 7.7, 11353, 2016, 79, "Documentary", "nm2167704", "tt4420704")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Limitless", 7.7, 57468, 2015, 42, "Comedy,Crime,Drama", "nm0250267", "tt4422836")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("John Wick: Chapter 2", 7.5, 314841, 2017, 122, "Action,Crime,Thriller", "nm0821432", "tt4425200")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("John Wick: Chapter 3 - Parabellum", 7.6, 174712, 2019, 131, "Action,Crime,Thriller", "nm0821432", "tt6146586")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Quantico", 6.7, 55024, 2015, 42, "Crime,Drama,Mystery", "nm0574765", "tt4428122")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Drishyam", 8.3, 57609, 2015, 163, "Crime,Drama,Mystery", "nm1723225", "tt4430212")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Madaari", 7.5, 11328, 2016, 133, "Adventure,Drama,Thriller", "nm1723225", "tt5713232")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("RangiTaranga", 8.4, 11391, 2015, 149, "Mystery,Thriller", "nm4093647", "tt4432480")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Udta Punjab", 7.8, 23801, 2016, 148, "Action,Crime,Drama", "nm1322477", "tt4434004")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Better Watch Out", 6.5, 23309, 2016, 89, "Comedy,Crime,Horror", "nm2577199", "tt4443658")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Code Name: K.O.Z.", 1.4, 26828, 2015, 114, "Crime,Mystery", "nm2930027", "tt4458206")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Terminal", 5.3, 15560, 2018, 95, "Crime,Drama,Thriller", "nm2389363", "tt4463816")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blindspot", 7.4, 61545, 2015, 42, "Action,Crime,Drama", "nm0593576", "tt4474344")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Superstore", 7.8, 16861, 2015, 22, "Comedy", "nm1133651", "tt4477976")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The House", 5.6, 35399, 2017, 88, "Comedy,Crime", "nm1157527", "tt4481514")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Emelie", 5.4, 12268, 2015, 82, "Horror,Thriller", "nm2836676", "tt4503598")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("One Punch Man", 8.9, 92030, 2015, 24, "Action,Adventure,Animation", "nm3884401", "tt4508902")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Morgan", 5.8, 36342, 2016, 92, "Action,Horror,Sci-Fi", "nm0779524", "tt4520364")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Spit on Your Grave: Vengeance is Mine", 5.2, 10313, 2015, 92, "Horror,Thriller", "nm5189759", "tt4530884")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("DC's Legends of Tomorrow", 6.8, 82884, 2016, 42, "Action,Adventure,Drama", "nm0311454", "tt4532368")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Kill Giants", 6.2, 24562, 2017, 106, "Drama,Fantasy,Thriller", "nm2225334", "tt4547194")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fauda", 8.3, 10245, 2015, 60, "Action,Drama,Thriller", "nm0077002", "tt4565380")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Look Away", 6.2, 12627, 2018, 103, "Horror,Thriller", "nm0077002", "tt5834760")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chapter Seven: The Bathtub", 9.1, 14625, 2016, 41, "Drama,Fantasy,Horror", "nm1819973", "tt4593134")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chapter One: MADMAX", 8.3, 13510, 2017, 48, "Drama,Fantasy,Horror", "nm1819973", "tt6020684")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chapter Eight: The Mind Flayer", 9.3, 14599, 2017, 47, "Drama,Fantasy,Horror", "nm1819973", "tt6020812")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chapter Nine: The Gate", 9.4, 16385, 2017, 62, "Drama,Fantasy,Horror", "nm1819973", "tt6020876")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chapter One: Suzie, Do You Copy?", 8.0, 13557, 2019, 50, "Drama,Fantasy,Horror", "nm1819973", "tt7445494")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Doctor Foster: A Woman Scorned", 7.8, 11948, 2015, 60, "Drama", "nm1978693", "tt4602768")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Alienist", 7.7, 29644, 2018, 60, "Drama,Mystery", "nm1347708", "tt4604612")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Men Against Fire", 7.6, 28152, 2016, 60, "Drama,Sci-Fi,Thriller", "nm1347708", "tt5709234")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Contrapasso", 8.7, 12006, 2016, 56, "Drama,Mystery,Sci-Fi", "nm0132600", "tt4625866")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Master of None", 8.3, 58920, 2015, 30, "Comedy", "nm1520649", "tt4635276")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Good Place", 8.1, 68395, 2016, 22, "Comedy,Drama,Fantasy", "nm1520649", "tt4955642")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The OA", 7.9, 78980, 2016, 60, "Drama,Fantasy,Mystery", "nm2326407", "tt4635282")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Masaan", 8.1, 19657, 2015, 109, "Drama", "nm4784536", "tt4635372")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dragon Ball Super", 8.4, 19242, 2015, 24, "Action,Adventure,Animation", "nm5975001", "tt4644488")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bad Moms", 6.2, 103886, 2016, 100, "Comedy", "nm0601859", "tt4651520")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chicago Med", 7.5, 10777, 2015, 43, "Drama", "nm0915400", "tt4655480")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Christine", 6.9, 11640, 2016, 119, "Biography,Drama", "nm1290515", "tt4666726")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Premam", 8.3, 14270, 2015, 156, "Comedy,Drama,Romance", "nm4737195", "tt4679210")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Frontier", 7.2, 13669, 2016, 60, "Adventure,Drama,History", "nm1274170", "tt4686698")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("OtherLife", 6.3, 11640, 2017, 96, "Crime,Mystery,Sci-Fi", "nm2279930", "tt4693358")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Once Upon a Time in Venice", 5.3, 15246, 2017, 94, "Action,Comedy", "nm0191502", "tt4694544")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("It Comes at Night", 6.2, 71456, 2017, 91, "Horror,Mystery", "nm4099092", "tt4695012")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("6 Days", 6.2, 15003, 2017, 94, "Action,Drama,History", "nm1089736", "tt4703048")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Swamp Thing", 7.9, 11410, 2019, 60, "Action,Adventure,Drama", "nm1089736", "tt8362852")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Srimanthudu", 7.5, 10139, 2015, 158, "Action,Drama", "nm2270180", "tt4727512")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bharat Ane Nenu", 7.7, 14051, 2018, 173, "Action,Drama", "nm2270180", "tt6980546")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Perfect Strangers", 7.8, 47651, 2016, 97, "Comedy,Drama", "nm0002645", "tt4901306")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Winter on Fire: Ukraine's Fight for Freedom", 8.4, 10972, 2015, 102, "Documentary", "nm1017958", "tt4908644")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Curse of La Llorona", 5.4, 24545, 2019, 93, "Horror,Mystery,Thriller", "nm1980431", "tt4913966")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("3%", 7.4, 18096, 2016, 49, "Action,Drama,Sci-Fi", "nm2944272", "tt4922804")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lady Bird", 7.4, 186389, 2017, 94, "Comedy,Drama", "nm1950086", "tt4925292")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Talvar", 8.2, 26358, 2015, 132, "Crime,Drama,Mystery", "nm1126068", "tt4934950")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Raazi", 7.8, 19893, 2018, 138, "Action,Drama,Thriller", "nm1126068", "tt7098658")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mars", 7.5, 10885, 2016, 60, "Adventure,Drama,Sci-Fi", "nm0332740", "tt4939064")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Raw", 7.0, 51700, 2016, 99, "Drama,Horror", "nm4469445", "tt4954522")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Moonlight", 7.4, 235761, 2016, 111, "Drama", "nm1503575", "tt4975722")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("If Beale Street Could Talk", 7.2, 29954, 2018, 119, "Drama,Romance", "nm1503575", "tt7125860")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Future Man", 7.8, 16095, 2017, 30, "Action,Adventure,Comedy", "nm0915920", "tt4975856")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Good Girls", 7.9, 20665, 2018, 43, "Comedy,Crime,Drama", "nm0915920", "tt6474378")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("24", 7.8, 15024, 2016, 164, "Action,Sci-Fi,Thriller", "nm1653460", "tt4981966")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Titan", 4.8, 24786, 2018, 97, "Drama,Mystery,Romance", "nm2569510", "tt4986098")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thani Oruvan", 8.4, 14242, 2015, 160, "Action,Crime,Thriller", "nm1001345", "tt4987556")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Deuce", 8.1, 19240, 2017, 60, "Drama", "nm0355285", "tt4998350")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Everything, Everything", 6.4, 28428, 2017, 96, "Drama,Romance", "nm4907810", "tt5001718")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Braven", 6.1, 24154, 2018, 94, "Action,Drama", "nm0644204", "tt5001754")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Get Out", 7.7, 422179, 2017, 104, "Horror,Mystery,Thriller", "nm1443502", "tt5052448")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Us", 6.9, 151568, 2019, 116, "Horror,Mystery,Thriller", "nm1443502", "tt6857112")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tom Clancy's Jack Ryan", 8.2, 55759, 2018, 60, "Action,Drama,Thriller", "nm0193681", "tt5057054")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Medici", 7.9, 12187, 2016, 60, "Biography,Drama,History", "nm1429095", "tt5057130")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ronaldo", 6.4, 13366, 2015, 102, "Biography,Documentary,Sport", "nm1637865", "tt5065822")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kabali", 6.2, 10606, 2016, 153, "Action,Crime,Drama", "nm3163794", "tt5071886")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dangal", 8.4, 129353, 2016, 161, "Action,Biography,Drama", "nm4318159", "tt5074352")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Two Is a Family", 7.4, 18758, 2016, 118, "Comedy,Drama", "nm0312315", "tt5078204")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Papillon", 7.1, 37594, 2017, 133, "Adventure,Biography,Crime", "nm1840064", "tt5093026")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Troy: Fall of a City", 3.8, 10452, 2018, 60, "Action,Adventure,Fantasy", "nm1067853", "tt5103758")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Scientology Movie", 6.7, 11091, 2015, 99, "Documentary", "nm0235770", "tt5111874")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Super Dark Times", 6.6, 14979, 2017, 103, "Crime,Drama,Horror", "nm2023590", "tt5112578")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Legion", 8.3, 75857, 2017, 60, "Action,Drama,Sci-Fi", "nm0131625", "tt5114356")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Victoria", 8.2, 19281, 2016, 60, "Biography,Drama,History", "nm1192526", "tt5137338")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("12 Feet Deep", 5.6, 11019, 2017, 85, "Horror,Thriller", "nm1760759", "tt5143226")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lethal Weapon", 7.9, 33049, 2016, 44, "Action,Comedy,Crime", "nm0102434", "tt5164196")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rustom", 7.1, 20578, 2016, 148, "Crime,Drama,Thriller", "nm4819186", "tt5165344")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Making a Murderer", 8.6, 78981, 2015, 60, "Crime,Documentary", "nm3309730", "tt5189670")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pickle Rick", 9.3, 11406, 2017, 23, "Adventure,Animation,Comedy", "nm0161125", "tt5218268")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ricklantis Mixup", 9.8, 20835, 2017, 22, "Adventure,Animation,Comedy", "nm0688913", "tt5218332")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Aquarius", 7.5, 15697, 2016, 146, "Drama", "nm2207625", "tt5221584")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Lost in Space", 7.2, 52593, 2018, 60, "Adventure,Drama,Family", "nm0816074", "tt5232792")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("How It Ends", 5.0, 37924, 2018, 113, "Action,Adventure,Drama", "nm1270033", "tt5246700")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Erased", 8.5, 18434, 2016, 30, "Animation,Drama,Fantasy", "nm2423816", "tt5249462")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Marcella", 7.4, 16453, 2016, 45, "Crime,Drama,Mystery", "nm0052364", "tt5269594")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("O.J.: Made in America", 8.9, 15392, 2016, 467, "Biography,Crime,Documentary", "nm1554601", "tt5275892")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tickled", 7.6, 14299, 2016, 92, "Documentary,Mystery", "nm3910931", "tt5278506")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Neerja", 7.7, 18915, 2016, 122, "Biography,Drama,Thriller", "nm0534879", "tt5286444")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Skam", 8.7, 24262, 2015, 30, "Drama,Romance", "nm4049300", "tt5288312")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Set It Up", 6.5, 34367, 2018, 105, "Comedy,Romance", "nm0768957", "tt5304992")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Saala Khadoos", 7.6, 10436, 2016, 109, "Action,Drama,Sport", "nm1464314", "tt5310090")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sairat", 8.3, 10025, 2016, 174, "Drama,Romance", "nm5616219", "tt5312232")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Close", 5.6, 16710, 2019, 94, "Action,Thriller", "nm2351920", "tt5316540")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Silent Voice", 8.2, 29188, 2016, 130, "Animation,Drama,Romance", "nm2210720", "tt5323662")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Barry", 8.3, 29451, 2018, 30, "Action,Comedy,Crime", "nm0352778", "tt5348176")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Aynabaji", 9.2, 18686, 2016, 147, "Crime,Mystery,Thriller", "nm2755490", "tt5354160")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Disenchantment", 7.2, 33270, 2018, 30, "Adventure,Animation,Comedy", "nm1403481", "tt5363918")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Riverdale", 7.2, 94698, 2017, 45, "Crime,Drama,Mystery", "nm1032600", "tt5420376")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Frequency", 7.5, 11780, 2016, 42, "Drama,Fantasy,Mystery", "nm1032600", "tt5531470")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chilling Adventures of Sabrina", 7.7, 53977, 2018, 60, "Drama,Fantasy,Horror", "nm1032600", "tt7569592")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gilmore Girls: A Year in the Life", 7.8, 25068, 2016, 90, "Comedy,Drama", "nm0792371", "tt5435008")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Colette", 6.8, 14262, 2018, 111, "Biography,Drama,History", "nm0922903", "tt5437928")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Theri", 7.1, 11521, 2016, 157, "Action,Drama", "nm5961051", "tt5440700")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mersal", 7.7, 22392, 2017, 172, "Action,Thriller", "nm5961051", "tt6485666")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("24 Hours to Live", 5.7, 10730, 2017, 93, "Action,Sci-Fi,Thriller", "nm0810706", "tt5442456")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kaabil", 7.1, 22572, 2017, 139, "Action,Drama,Thriller", "nm0348495", "tt5460276")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hotel Mumbai", 7.6, 31647, 2018, 123, "Drama,History,Thriller", "nm2285536", "tt5461944")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Midnight, Texas", 7.4, 11354, 2017, 60, "Drama,Fantasy,Mystery", "nm0021772", "tt5464086")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Planet Earth II", 9.5, 79808, 2016, 298, "Documentary", "nm4830788", "tt5491994")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Border", 7.0, 15273, 2018, 110, "Crime,Drama,Fantasy", "nm4389150", "tt5501104")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gypsy", 6.9, 12206, 2017, 51, "Drama,Thriller", "nm0317328", "tt5503718")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Seven Seconds", 7.7, 10864, 2018, 60, "Crime,Drama", "nm0317328", "tt6297682")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ghost Stories", 6.4, 25280, 2017, 98, "Drama,Horror", "nm0246037", "tt5516328")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("You Get Me", 4.6, 10023, 2017, 89, "Crime,Drama,Romance", "nm2979453", "tt5539054")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Tick", 7.4, 13220, 2017, 29, "Action,Adventure,Comedy", "nm0864268", "tt5540054")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("S.W.A.T.", 6.9, 10299, 2017, 43, "Action,Adventure,Crime", "nm0864268", "tt6111130")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("To the Bone", 6.8, 34365, 2017, 107, "Drama", "nm0637497", "tt5541240")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pink", 8.2, 33536, 2016, 136, "Drama,Thriller", "nm2287772", "tt5571734")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Santa Clarita Diet", 7.8, 49584, 2017, 30, "Comedy,Horror", "nm0118530", "tt5580540")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kingsglaive: Final Fantasy XV", 6.8, 18735, 2016, 110, "Action,Adventure,Animation", "nm1481959", "tt5595168")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fullmetal Alchemist", 5.3, 17738, 2017, 135, "Action,Adventure,Fantasy", "nm1216495", "tt5607028")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("On Body and Soul", 7.6, 19764, 2017, 116, "Drama,Fantasy,Mystery", "nm0258221", "tt5607714")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Piper", 8.4, 22658, 2016, 6, "Animation,Family,Short", "nm0054659", "tt5613056")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mid90s", 7.4, 30555, 2018, 85, "Comedy,Drama", "nm1706767", "tt5613484")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("My Hero Academia", 8.5, 19766, 2016, 24, "Action,Adventure,Animation", "nm9219905", "tt5626028")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("God's Own Country", 7.7, 19113, 2017, 104, "Drama,Romance", "nm0497274", "tt5635086")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mick", 7.8, 12308, 2017, 30, "Comedy", "nm0812304", "tt5638056")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ritual", 6.3, 59979, 2017, 94, "Horror,Mystery,Thriller", "nm1410159", "tt5638642")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Fantastic Woman", 7.2, 19135, 2017, 104, "Drama", "nm0133326", "tt5639354")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Disobedience", 6.6, 19950, 2017, 114, "Drama,Romance", "nm0133326", "tt6108178")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("ARQ", 6.4, 30094, 2016, 88, "Action,Sci-Fi,Thriller", "nm0254660", "tt5640450")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Thoroughbreds", 6.7, 27040, 2017, 92, "Crime,Drama,Thriller", "nm8083973", "tt5649108")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Genius", 8.4, 14581, 2017, 43, "Biography,Drama,History", "nm0819083", "tt5673782")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Fleabag", 8.7, 37643, 2016, 27, "Comedy,Drama", "nm1469191", "tt5687612")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sorry to Bother You", 7.0, 46311, 2018, 112, "Comedy,Fantasy,Sci-Fi", "nm1108556", "tt5688932")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Two Lottery Tickets", 7.7, 10185, 2016, 86, "Comedy", "nm2735137", "tt5700224")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Train to Busan", 7.5, 115260, 2016, 118, "Action,Horror,Thriller", "nm3613566", "tt5700672")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dear White People", 6.3, 19726, 2017, 30, "Comedy,Drama", "nm1891632", "tt5707802")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Don't Feel at Home in This World Anymore.", 6.9, 39990, 2017, 93, "Comedy,Crime,Drama", "nm0086301", "tt5710514")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wildlife", 6.9, 16965, 2018, 105, "Drama", "nm0200452", "tt5929754")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Professor and the Madman", 7.3, 17973, 2019, 124, "Biography,Drama,Mystery", "nm1731154", "tt5932728")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Amanda Knox", 6.9, 17880, 2016, 92, "Crime,Documentary", "nm2770831", "tt5952332")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vox Lux", 6.0, 11499, 2018, 114, "Drama,Music", "nm1227232", "tt5960374")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ingrid Goes West", 6.6, 28554, 2017, 98, "Comedy,Drama", "nm0818485", "tt5962210")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Reis", 1.5, 71974, 2017, 108, "Biography,Drama", "nm1760911", "tt5988370")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Columbus", 7.2, 11478, 2017, 104, "Drama", "nm3226379", "tt5990474")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("TVF Tripling", 8.6, 11910, 2016, 30, "Drama", "nm8392933", "tt6005644")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kin", 5.8, 10579, 2018, 102, "Action,Crime,Drama", "nm5192757", "tt6017942")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chapter Seven: The Lost Sister", 6.1, 19666, 2017, 45, "Drama,Fantasy,Horror", "nm3275942", "tt6020810")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Lightning", 6.2, 17498, 2018, 43, "Action,Drama,Sci-Fi", "nm0015328", "tt6045840")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Sinner", 8.0, 62429, 2017, 60, "Crime,Drama,Mystery", "nm1464511", "tt6048596")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Radius", 6.2, 10653, 2017, 93, "Sci-Fi,Thriller", "nm3537925", "tt6097798")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Late Night", 6.6, 10246, 2019, 102, "Comedy,Drama", "nm0304091", "tt6107548")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Secret Superstar", 7.9, 17449, 2017, 150, "Drama,Music", "nm2378914", "tt6108090")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Content Cop", 9.2, 10377, 2015, 20, "Comedy,Crime,Documentary", "nm7954541", "tt6111552")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The First Purge", 5.1, 44687, 2018, 98, "Action,Horror,Sci-Fi", "nm2618764", "tt6133466")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("BPM (Beats Per Minute)", 7.5, 10989, 2017, 143, "Drama", "nm0133028", "tt6135348")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vikram Vedha", 8.7, 19910, 2017, 147, "Action,Crime,Thriller", "nm2566836", "tt6148156")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Smallfoot", 6.6, 26455, 2018, 96, "Adventure,Animation,Comedy", "nm1134222", "tt6182908")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Inside Look: The People v. O.J. Simpson - American Crime Story", 8.4, 20319, 2016, 5, "Documentary,Short", "nm2223412", "tt6205862")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Assassination Nation", 5.9, 10966, 2018, 108, "Action,Comedy,Crime", "nm0506094", "tt6205872")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Euphoria", 8.4, 27755, 2019, 55, "Drama", "nm0506094", "tt8772296")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Rider", 7.4, 10810, 2017, 104, "Drama,Western", "nm2125482", "tt6217608")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Calibre", 6.7, 16575, 2018, 101, "Drama,Thriller", "nm2160297", "tt6218358")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Riddle of the Sphinx", 9.0, 10460, 2018, 71, "Drama,Mystery,Sci-Fi", "nm2847370", "tt6243300")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kiksuya", 9.2, 13091, 2018, 58, "Drama,Mystery,Sci-Fi", "nm0003802", "tt6243308")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chapter Five: The Flayed", 8.6, 11249, 2019, 51, "Drama,Fantasy,Horror", "nm0003802", "tt7911894")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Chapter Six: E Pluribus Unum", 8.7, 11293, 2019, 59, "Drama,Fantasy,Horror", "nm0003802", "tt7911914")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Miseducation of Cameron Post", 6.6, 14691, 2018, 91, "Drama", "nm3034178", "tt6257174")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The End of the F***ing World", 8.1, 99900, 2017, 25, "Adventure,Comedy,Crime", "nm3370884", "tt6257970")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kesari", 7.4, 10217, 2019, 150, "Action,Drama,History", "nm5326250", "tt6264938")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Clovehitch Killer", 6.5, 11303, 2018, 109, "Crime,Drama,Mystery", "nm1892658", "tt6269368")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Am Mother", 6.8, 49706, 2019, 113, "Drama,Horror,Sci-Fi", "nm3078140", "tt6292852")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Ghazi Attack", 7.6, 10229, 2017, 116, "Action,Thriller,War", "nm8623146", "tt6299040")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beach Rats", 6.4, 10022, 2017, 98, "Drama", "nm2151374", "tt6303866")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ayla: The Daughter of War", 8.6, 27913, 2017, 125, "Biography,Drama,History", "nm8631915", "tt6316138")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Final Space", 8.4, 23811, 2018, 30, "Action,Adventure,Animation", "nm2380535", "tt6317068")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Icarus", 7.9, 30724, 2017, 120, "Documentary,Sport,Thriller", "nm2406731", "tt6333060")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Creed II", 7.2, 82893, 2018, 130, "Drama,Sport", "nm4023702", "tt6343314")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Charmed", 4.4, 10248, 2018, 43, "Drama,Fantasy", "nm1060984", "tt6394324")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Five Feet Apart", 7.2, 23010, 2019, 116, "Drama,Romance", "nm1682573", "tt6472976")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Mirzapur", 8.5, 20034, 2018, 60, "Action,Crime,Drama", "nm6085179", "tt6473300")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Newton", 7.7, 13508, 2017, 106, "Drama", "nm3536895", "tt6484982")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Castlevania", 8.1, 25665, 2017, 23, "Action,Adventure,Animation", "nm4702485", "tt6517102")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Big Mouth", 8.0, 39352, 2017, 30, "Animation,Comedy,Romance", "nm1046217", "tt6524350")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dark Phoenix", 5.8, 96909, 2019, 113, "Action,Adventure,Sci-Fi", "nm1334526", "tt6565702")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Patrick Melrose", 8.2, 18966, 2018, 60, "Drama", "nm0074163", "tt6586318")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kingdom", 8.3, 11924, 2019, 45, "Action,Drama,Thriller", "nm1826454", "tt6611916")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Rain", 6.3, 22900, 2018, 45, "Sci-Fi,Thriller", "nm1490101", "tt6656238")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Spy Who Dumped Me", 6.0, 55528, 2018, 117, "Action,Adventure,Comedy", "nm2573005", "tt6663582")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("El Chapo", 7.9, 10857, 2017, 43, "Crime,Drama", "nm0176496", "tt6692188")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Arif V 216", 7.3, 27572, 2018, 125, "Comedy,Sci-Fi", "nm1738966", "tt6697582")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Revenge", 6.3, 29003, 2017, 108, "Action,Horror,Thriller", "nm0267287", "tt6738136")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Guilty", 7.5, 30769, 2018, 85, "Crime,Drama,Thriller", "nm7546166", "tt6742252")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Occupation", 5.3, 11688, 2018, 119, "Action,Drama,Sci-Fi", "nm1543645", "tt6774786")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bad Genius", 7.6, 14239, 2017, 130, "Comedy,Crime,Drama", "nm5464371", "tt6788942")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("I Feel Pretty", 5.5, 42097, 2018, 110, "Comedy,Romance", "nm0463359", "tt6791096")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Keepers", 8.1, 14145, 2017, 436, "Crime,Documentary", "nm1713913", "tt6792200")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Arctic", 6.8, 27642, 2018, 98, "Adventure,Drama", "nm1020835", "tt6820256")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Week Of", 5.1, 15122, 2018, 116, "Comedy", "nm0806912", "tt6821012")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Parmanu: The Story of Pokhran", 7.7, 18023, 2018, 129, "Action,Drama,History", "nm0788855", "tt6826438")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Saaho", 5.8, 10794, 2019, 170, "Action,Thriller", "nm6682160", "tt6836936")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Book Club", 6.1, 20702, 2018, 104, "Comedy,Drama,Romance", "nm2250139", "tt6857166")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Professor", 6.7, 12383, 2018, 90, "Comedy,Drama", "nm7214191", "tt6865690")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Mechanism", 8.5, 34520, 2018, 41, "Crime,Drama,Thriller", "nm1179870", "tt6873658")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("American Vandal", 8.2, 23460, 2017, 34, "Comedy,Crime,Drama", "nm2829241", "tt6877772")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("A Taxi Driver", 7.8, 10233, 2017, 137, "Action,Drama,History", "nm1922242", "tt6878038")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Vivegam", 5.7, 10096, 2017, 149, "Action,Thriller", "nm2350892", "tt6878378")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Nothing to Lose", 5.6, 22712, 2018, 134, "Biography,Drama", "nm0042768", "tt6910020")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Johnny English Strikes Again", 6.2, 51829, 2018, 89, "Action,Adventure,Comedy", "nm1256143", "tt6921996")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hanna", 7.6, 14482, 2019, 60, "Action,Drama", "nm2262138", "tt6932244")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bareilly Ki Barfi", 7.5, 14559, 2017, 116, "Comedy,Romance", "nm6436658", "tt6967980")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Crimea", 7.0, 32868, 2017, 99, "Action,Drama", "nm2671235", "tt6990206")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Eighth Grade", 7.4, 48024, 2018, 93, "Comedy,Drama", "nm3102998", "tt7014006")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Killing Eve", 8.3, 54088, 2018, null, "Action,Adventure,Drama", "nm2270017", "tt7016936")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("96", 8.7, 11875, 2018, 158, "Drama,Romance", "nm4242320", "tt7019842")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Insult", 7.7, 11835, 2017, 113, "Crime,Drama,Thriller", "nm0234780", "tt7048622")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Ratsasan", 8.7, 12050, 2018, 170, "Action,Crime,Thriller", "nm6442107", "tt7060344")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Derry Girls", 8.3, 12211, 2018, 30, "Comedy", "nm3156269", "tt7120662")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Next Gen", 6.6, 11494, 2018, 106, "Action,Adventure,Animation", "nm2788440", "tt7133686")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Elite", 7.6, 22944, 2018, 60, "Crime,Drama,Thriller", "nm0757749", "tt7134908")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Death of Superman", 7.4, 10094, 2018, 81, "Action,Animation,Sci-Fi", "nm4267562", "tt7167658")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Like Father", 6.1, 16134, 2018, 98, "Comedy,Drama", "nm1601643", "tt7170950")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cumali Ceber: Allah Seni Alsin", 1.0, 37205, 2017, 100, "Comedy", "nm9107963", "tt7221896")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Blindspotting", 7.4, 19582, 2018, 95, "Comedy,Crime,Drama", "nm2788015", "tt7242142")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Kominsky Method", 8.1, 12767, 2018, 30, "Comedy,Short", "nm0565063", "tt7255502")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Student of the Year 2", 2.4, 12347, 2019, 146, "Drama,Romance,Sport", "nm1159647", "tt7255568")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Burning", 7.6, 28332, 2018, 148, "Drama,Mystery", "nm0496969", "tt7282468")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Gaga: Five Foot Two", 7.1, 10187, 2017, 100, "Documentary,Music", "nm3139198", "tt7291268")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Arjun Reddy", 8.2, 17217, 2017, 182, "Action,Drama,Romance", "nm9227039", "tt7294534")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kabir Singh", 7.3, 18917, 2019, 173, "Drama,Romance", "nm9227039", "tt8983202")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Singularity", 3.9, 12471, 2017, 92, "Action,Adventure,Drama", "nm4134911", "tt7312940")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Good Boys", 6.8, 15424, 2019, 90, "Adventure,Comedy", "nm1969144", "tt7343762")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Always Be My Maybe", 6.8, 34240, 2019, 101, "Comedy,Romance", "nm0451274", "tt7374948")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Teen Titans Go! To the Movies", 6.8, 13801, 2018, 84, "Action,Animation,Comedy", "nm1739338", "tt7424200")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Race 3", 2.0, 29821, 2018, 160, "Action,Thriller", "nm1150656", "tt7431594")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Koombiyo", 9.7, 15500, 2017, 20, "Crime,Drama,Thriller", "nm9313483", "tt7450814")

INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sahsiyet", 9.1, 15529, 2018, 60, "Crime,Drama,Mystery", "nm2380484", "tt7920978")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Flames", 9.3, 14785, 2018, 20, "Comedy,Drama,Romance", "nm8600313", "tt7927936")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Prospect", 6.1, 12017, 2018, 100, "Drama,Sci-Fi,Thriller", "nm4938950", "tt7946422")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dragon Ball Super: Broly", 7.9, 18155, 2018, 100, "Action,Adventure,Animation", "nm0619110", "tt7961060")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Dead to Me", 8.1, 27783, 2019, 30, "Comedy,Drama", "nm1203789", "tt8064302")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Someone Great", 6.2, 12572, 2019, 92, "Comedy,Romance", "nm3066492", "tt8075260")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Bao", 7.5, 18265, 2018, 8, "Animation,Family,Fantasy", "nm7626019", "tt8075496")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Legacies", 7.5, 11369, 2018, 45, "Adventure,Drama,Fantasy", "nm0021592", "tt8103070")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Stree", 7.7, 22041, 2018, 128, "Comedy,Horror", "nm3603873", "tt8108202")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Wine Country", 5.4, 14674, 2019, 103, "Comedy", "nm0688132", "tt8169446")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Perfect Date", 5.8, 24022, 2019, 89, "Comedy,Romance", "nm0625245", "tt8201170")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Tumbbad", 8.2, 15870, 2018, 104, "Drama,Fantasy,Horror", "nm4205110", "tt8239946")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Uri: The Surgical Strike", 8.4, 34161, 2019, 138, "Action,Drama,War", "nm2336554", "tt8291224")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Order", 6.9, 11229, 2019, 60, "Drama,Fantasy,Horror", "nm0394012", "tt8295472")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Evil Genius: The True Story of America's Most Diabolical Bank Heist", 7.6, 16084, 2018, 192, "Crime,Documentary", "nm0775446", "tt8342862")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Annabelle Comes Home", 6.0, 33654, 2019, 106, "Horror,Mystery,Thriller", "nm2477891", "tt8350360")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Cam", 5.9, 19366, 2018, 94, "Horror,Mystery,Thriller", "nm3771823", "tt8361028")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Manifest", 7.2, 15799, 2018, 43, "Drama,Mystery", "nm2745490", "tt8421350")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Yeh Meri Family", 9.3, 15990, 2018, 30, "Comedy,Drama,Family", "nm6875639", "tt8595766")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Child's Play", 5.9, 23398, 2019, 90, "Horror", "nm2209002", "tt8663516")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Who Is America?", 8.3, 13038, 2018, 30, "Comedy", "nm2777326", "tt8679236")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Act", 8.0, 12119, 2019, 60, "Biography,Crime,Drama", "nm0166438", "tt8682948")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Quicksand", 7.6, 11861, 2019, 45, "Drama", "nm7087171", "tt8686106")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Years and Years", 8.4, 11240, 2019, 60, "Drama,Sci-Fi", "nm0148116", "tt8694364")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Apollo 11", 8.3, 11675, 2019, 93, "Documentary,History", "nm1530433", "tt8760684")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Society", 7.1, 12355, 2019, 58, "Drama,Mystery,Sci-Fi", "nm0341722", "tt8778064")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("College Romance", 9.3, 18570, 2018, 30, "Comedy,Drama,Romance", "nm9587614", "tt8809646")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Black Summer", 6.3, 14922, 2019, 40, "Action,Drama,Horror", "nm1117802", "tt8923854")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Unplanned", 5.8, 10216, 2019, 109, "Biography,Drama", "nm0813301", "tt9024106")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Rachel, Jack and Ashley Too", 6.0, 25149, 2019, 67, "Drama,Sci-Fi,Thriller", "nm3205815", "tt9053874")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Our Planet", 9.4, 17639, 2019, 403, "Documentary", "nm1651928", "tt9253866")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Great Hack", 7.0, 11535, 2019, 113, "Documentary", "nm5255757", "tt9358204")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Between Two Ferns: The Movie", 6.2, 13622, 2019, 82, "Comedy", "nm0042006", "tt9398640")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Secret Obsession", 4.3, 13574, 2019, 97, "Drama,Mystery,Thriller", "nm0838289", "tt9419834")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Kota Factory", 9.2, 14761, 2019, 45, "Comedy,Drama", "nm7402819", "tt9432978")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Love, Death & Robots", 8.6, 66606, 2019, 15, "Animation,Comedy,Fantasy", "nm1159646", "tt9561862")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Three Robots", 8.1, 11194, 2019, 12, "Animation,Comedy,Fantasy", "nm1159646", "tt9788484")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Pew News", 9.5, 11631, 2018, 15, "Comedy,News", "nm5579304", "tt9566030")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Leaving Neverland", 7.0, 21986, 2019, 240, "Documentary", "nm0715371", "tt9573980")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Enaaya", 8.9, 10283, 2019, 25, "Drama", "nm7249446", "tt9649436")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Sonnie's Edge", 8.3, 12130, 2019, 17, "Animation,Comedy,Fantasy", "nm1166916", "tt9781722")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("The Witness", 7.8, 10680, 2019, 12, "Animation,Comedy,Fantasy", "nm2856960", "tt9788486")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Beyond the Aquila Rift", 8.6, 11151, 2019, 17, "Animation,Comedy,Fantasy", "nm2379899", "tt9788496")
INSERT OR REPLACE INTO movies (title, rating, vote_count, start_year, minutes, genres, director_id, imdb_id) values ("Hero", 10.0, 22437, 2019, 24, "Action,Adventure,Animation", "nm2967345", "tt9906260")

In [21]:
c = conn.cursor()

for index, row in df.iterrows():
    values = f'("{row["primaryName"]}", {row["birthYear"]}, {row["deathYear"]}, "{row["nconst"]}")'
    query = f'INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values {values}'
    c.execute(query)
    conn.commit()
    print(query)
c.close()

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Georges Méliès", 1861, 1938, "nm0617588")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edwin S. Porter", 1870, 1941, "nm0692105")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("D.W. Griffith", 1875, 1948, "nm0000428")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("D.W. Griffith", 1875, 1948, "nm0000428")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Wiene", 1873, 1938, "nm0927468")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Chaplin", 1889, 1977, "nm0000122")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Chaplin", 1889, 1977, "nm0000122")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Chaplin", 1889, 1977, "nm0000122")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Chaplin", 1889, 1977, "nm0000122")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Chaplin", 1889, 1977, "nm0000122")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Chaplin", 1889, 1977, "nm0000122")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Chaplin", 1889, 1977, "nm0000122")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Chaplin", 1889, 1977, "nm0000122")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Benjamin Christensen", 1879, 1959, "nm0159725")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("F.W. Murnau", 1888, 1931, "nm0003638")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("F.W. Murnau", 1888, 1931, "nm0003638")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("F.W. Murnau", 1888, 1931, "nm0003638")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("F.W. Murnau", 1888, 1931, "nm0003638")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fred C. Newmeyer", 1888, 1967, "nm0628345")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Buster Keaton", 1895, 1966, "nm0000036")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Buster Keaton", 1895, 1966, "nm0000036")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sergei M. Eisenstein", 1898, 1948, "nm0001178")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rupert Julian", 1879, 1943, "nm0432216")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fritz Lang", 1890, 1976, "nm0000485")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fritz Lang", 1890, 1976, "nm0000485")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fritz Lang", 1890, 1976, "nm0000485")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fritz Lang", 1890, 1976, "nm0000485")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fritz Lang", 1890, 1976, "nm0000485")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fritz Lang", 1890, 1976, "nm0000485")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fritz Lang", 1890, 1976, "nm0000485")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William A. Wellman", 1896, 1975, "nm0920074")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William A. Wellman", 1896, 1975, "nm0920074")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William A. Wellman", 1896, 1975, "nm0920074")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carl Theodor Dreyer", 1889, 1968, "nm0003433")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carl Theodor Dreyer", 1889, 1968, "nm0003433")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carl Theodor Dreyer", 1889, 1968, "nm0003433")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Reisner", 1887, 1962, "nm0718469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dziga Vertov", 1896, 1954, "nm0895048")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luis Buñuel", 1900, 1983, "nm0000320")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luis Buñuel", 1900, 1983, "nm0000320")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luis Buñuel", 1900, 1983, "nm0000320")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luis Buñuel", 1900, 1983, "nm0000320")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luis Buñuel", 1900, 1983, "nm0000320")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luis Buñuel", 1900, 1983, "nm0000320")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luis Buñuel", 1900, 1983, "nm0000320")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luis Buñuel", 1900, 1983, "nm0000320")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luis Buñuel", 1900, 1983, "nm0000320")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lewis Milestone", 1895, 1980, "nm0587277")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lewis Milestone", 1895, 1980, "nm0587277")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Victor Heerman", 1893, 1977, "nm0373511")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Josef von Sternberg", 1894, 1969, "nm0903049")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mervyn LeRoy", 1900, 1987, "nm0503777")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mervyn LeRoy", 1900, 1987, "nm0503777")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mervyn LeRoy", 1900, 1987, "nm0503777")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mervyn LeRoy", 1900, 1987, "nm0503777")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mervyn LeRoy", 1900, 1987, "nm0503777")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tod Browning", 1880, 1962, "nm0115218")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tod Browning", 1880, 1962, "nm0115218")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Whale", 1889, 1957, "nm0001843")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Whale", 1889, 1957, "nm0001843")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Whale", 1889, 1957, "nm0001843")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Norman Z. McLeod", 1895, 1964, "nm0572851")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Norman Z. McLeod", 1895, 1964, "nm0572851")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rouben Mamoulian", 1897, 1987, "nm0541149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edmund Goulding", 1891, 1959, "nm0332539")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Karl Freund", 1890, 1969, "nm0005713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Rosson", 1893, 1953, "nm0744514")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ernst Lubitsch", 1892, 1947, "nm0523932")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ernst Lubitsch", 1892, 1947, "nm0523932")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ernst Lubitsch", 1892, 1947, "nm0523932")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ernst Lubitsch", 1892, 1947, "nm0523932")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Leo McCarey", 1896, 1969, "nm0564970")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Leo McCarey", 1896, 1969, "nm0564970")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Leo McCarey", 1896, 1969, "nm0564970")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Merian C. Cooper", 1893, 1973, "nm0178260")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean Vigo", 1905, 1934, "nm0897118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Capra", 1897, 1991, "nm0001008")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Capra", 1897, 1991, "nm0001008")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Capra", 1897, 1991, "nm0001008")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Capra", 1897, 1991, "nm0001008")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Capra", 1897, 1991, "nm0001008")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Capra", 1897, 1991, "nm0001008")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Capra", 1897, 1991, "nm0001008")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Capra", 1897, 1991, "nm0001008")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Hitchcock", 1899, 1980, "nm0000033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("W.S. Van Dyke", 1889, 1943, "nm0886754")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Leni Riefenstahl", 1902, 2003, "nm0726166")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Curtiz", 1886, 1962, "nm0002031")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Curtiz", 1886, 1962, "nm0002031")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Curtiz", 1886, 1962, "nm0002031")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Curtiz", 1886, 1962, "nm0002031")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Curtiz", 1886, 1962, "nm0002031")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Curtiz", 1886, 1962, "nm0002031")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Curtiz", 1886, 1962, "nm0002031")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Lloyd", 1886, 1960, "nm0515979")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Wood", 1883, 1949, "nm0939992")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Wood", 1883, 1949, "nm0939992")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Sandrich", 1900, 1945, "nm0762263")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Sandrich", 1900, 1945, "nm0762263")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregory La Cava", 1892, 1952, "nm0478441")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Archie Mayo", 1891, 1968, "nm0562845")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Stevens", 1904, 1975, "nm0828419")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Stevens", 1904, 1975, "nm0828419")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Stevens", 1904, 1975, "nm0828419")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Stevens", 1904, 1975, "nm0828419")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Stevens", 1904, 1975, "nm0828419")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Stevens", 1904, 1975, "nm0828419")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean Renoir", 1894, 1979, "nm0719756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean Renoir", 1894, 1979, "nm0719756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Cottrell", 1906, 1995, "nm0183183")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Hawks", 1896, 1977, "nm0001328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Hawks", 1896, 1977, "nm0001328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Hawks", 1896, 1977, "nm0001328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Hawks", 1896, 1977, "nm0001328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Hawks", 1896, 1977, "nm0001328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Hawks", 1896, 1977, "nm0001328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Hawks", 1896, 1977, "nm0001328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Hawks", 1896, 1977, "nm0001328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Hawks", 1896, 1977, "nm0001328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Hawks", 1896, 1977, "nm0001328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Hawks", 1896, 1977, "nm0001328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Hawks", 1896, 1977, "nm0001328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Cukor", 1899, 1983, "nm0002030")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Cukor", 1899, 1983, "nm0002030")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Cukor", 1899, 1983, "nm0002030")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Cukor", 1899, 1983, "nm0002030")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Cukor", 1899, 1983, "nm0002030")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Cukor", 1899, 1983, "nm0002030")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Cukor", 1899, 1983, "nm0002030")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Cukor", 1899, 1983, "nm0002030")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Wyler", 1902, 1981, "nm0943758")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Wyler", 1902, 1981, "nm0943758")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Wyler", 1902, 1981, "nm0943758")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Wyler", 1902, 1981, "nm0943758")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Wyler", 1902, 1981, "nm0943758")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Wyler", 1902, 1981, "nm0943758")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Wyler", 1902, 1981, "nm0943758")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Wyler", 1902, 1981, "nm0943758")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Wyler", 1902, 1981, "nm0943758")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Wyler", 1902, 1981, "nm0943758")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Wyler", 1902, 1981, "nm0943758")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Wyler", 1902, 1981, "nm0943758")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Raoul Walsh", 1887, 1980, "nm0909825")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Raoul Walsh", 1887, 1980, "nm0909825")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Raoul Walsh", 1887, 1980, "nm0909825")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Ford", 1894, 1973, "nm0000406")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Ford", 1894, 1973, "nm0000406")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Ford", 1894, 1973, "nm0000406")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Ford", 1894, 1973, "nm0000406")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Ford", 1894, 1973, "nm0000406")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Ford", 1894, 1973, "nm0000406")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Ford", 1894, 1973, "nm0000406")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Ford", 1894, 1973, "nm0000406")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Ford", 1894, 1973, "nm0000406")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Ford", 1894, 1973, "nm0000406")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Ford", 1894, 1973, "nm0000406")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Ford", 1894, 1973, "nm0000406")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ford Beebe Jr.", 1913, 2006, "nm1968474")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Norman Ferguson", 1902, 1957, "nm0272568")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Norman Ferguson", 1902, 1957, "nm0272568")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ludwig Berger", 1892, 1969, "nm0003490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Orson Welles", 1915, 1985, "nm0000080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Orson Welles", 1915, 1985, "nm0000080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Orson Welles", 1915, 1985, "nm0000080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Orson Welles", 1915, 1985, "nm0000080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Orson Welles", 1915, 1985, "nm0000080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Orson Welles", 1915, 1985, "nm0000080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Samuel Armstrong", 1893, 1976, "nm0035899")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Preston Sturges", 1898, 1959, "nm0002545")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Preston Sturges", 1898, 1959, "nm0002545")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Huston", 1906, 1987, "nm0001379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Huston", 1906, 1987, "nm0001379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Huston", 1906, 1987, "nm0001379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Huston", 1906, 1987, "nm0001379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Huston", 1906, 1987, "nm0001379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Huston", 1906, 1987, "nm0001379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Huston", 1906, 1987, "nm0001379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Huston", 1906, 1987, "nm0001379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Huston", 1906, 1987, "nm0001379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Huston", 1906, 1987, "nm0001379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Huston", 1906, 1987, "nm0001379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Waggner", 1894, 1984, "nm0905729")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Algar", 1912, 1998, "nm0019282")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Algar", 1912, 1998, "nm0019282")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Algar", 1912, 1998, "nm0019282")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jacques Tourneur", 1904, 1977, "nm0869664")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jacques Tourneur", 1904, 1977, "nm0869664")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jacques Tourneur", 1904, 1977, "nm0869664")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Irving Rapper", 1898, 1999, "nm0710924")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Mangold", 1963, null, "nm0003506")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Mangold", 1963, null, "nm0003506")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Mangold", 1963, null, "nm0003506")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Mangold", 1963, null, "nm0003506")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Mangold", 1963, null, "nm0003506")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Mangold", 1963, null, "nm0003506")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Mangold", 1963, null, "nm0003506")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Mangold", 1963, null, "nm0003506")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Mangold", 1963, null, "nm0003506")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Powell", 1905, 1990, "nm0003836")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Powell", 1905, 1990, "nm0003836")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Powell", 1905, 1990, "nm0003836")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Wilder", 1906, 2002, "nm0000697")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Wilder", 1906, 2002, "nm0000697")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Wilder", 1906, 2002, "nm0000697")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Wilder", 1906, 2002, "nm0000697")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Wilder", 1906, 2002, "nm0000697")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Wilder", 1906, 2002, "nm0000697")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Wilder", 1906, 2002, "nm0000697")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Wilder", 1906, 2002, "nm0000697")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Wilder", 1906, 2002, "nm0000697")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Wilder", 1906, 2002, "nm0000697")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Wilder", 1906, 2002, "nm0000697")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Wilder", 1906, 2002, "nm0000697")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Wilder", 1906, 2002, "nm0000697")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Wilder", 1906, 2002, "nm0000697")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Wilder", 1906, 2002, "nm0000697")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Otto Preminger", 1905, 1986, "nm0695937")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Otto Preminger", 1905, 1986, "nm0695937")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vincente Minnelli", 1903, 1986, "nm0591486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vincente Minnelli", 1903, 1986, "nm0591486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vincente Minnelli", 1903, 1986, "nm0591486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vincente Minnelli", 1903, 1986, "nm0591486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edward Dmytryk", 1908, 1999, "nm0229424")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edward Dmytryk", 1908, 1999, "nm0229424")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("René Clair", 1898, 1981, "nm0163229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lean", 1908, 1991, "nm0000180")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lean", 1908, 1991, "nm0000180")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lean", 1908, 1991, "nm0000180")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lean", 1908, 1991, "nm0000180")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lean", 1908, 1991, "nm0000180")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lean", 1908, 1991, "nm0000180")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lean", 1908, 1991, "nm0000180")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edgar G. Ulmer", 1904, 1972, "nm0880618")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marcel Carné", 1906, 1996, "nm0138893")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Albert Lewin", 1894, 1968, "nm0506797")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean Cocteau", 1889, 1963, "nm0168413")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Vidor", 1900, 1959, "nm0896533")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Siodmak", 1900, 1973, "nm0802563")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Emeric Pressburger", 1902, 1988, "nm0696247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Emeric Pressburger", 1902, 1988, "nm0696247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tay Garnett", 1894, 1977, "nm0307819")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roberto Rossellini", 1906, 1977, "nm0744023")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harve Foster", 1907, 1962, "nm0287836")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Henry Koster", 1905, 1988, "nm0467396")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Henry Koster", 1905, 1988, "nm0467396")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Delmer Daves", 1904, 1977, "nm0202681")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Delmer Daves", 1904, 1977, "nm0202681")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Elia Kazan", 1909, 2003, "nm0001415")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Elia Kazan", 1909, 2003, "nm0001415")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Elia Kazan", 1909, 2003, "nm0001415")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Elia Kazan", 1909, 2003, "nm0001415")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Elia Kazan", 1909, 2003, "nm0001415")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Elia Kazan", 1909, 2003, "nm0001415")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph L. Mankiewicz", 1909, 1993, "nm0000581")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph L. Mankiewicz", 1909, 1993, "nm0000581")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph L. Mankiewicz", 1909, 1993, "nm0000581")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph L. Mankiewicz", 1909, 1993, "nm0000581")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph L. Mankiewicz", 1909, 1993, "nm0000581")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph L. Mankiewicz", 1909, 1993, "nm0000581")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Seaton", 1911, 1979, "nm0780833")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Seaton", 1911, 1979, "nm0780833")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Barton", 1902, 1981, "nm0059106")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Laurence Olivier", 1907, 1989, "nm0000059")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vittorio De Sica", 1901, 1974, "nm0001120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vittorio De Sica", 1901, 1974, "nm0001120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Max Ophüls", 1902, 1957, "nm0649097")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jules Dassin", 1911, 2008, "nm0202088")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jules Dassin", 1911, 2008, "nm0202088")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jules Dassin", 1911, 2008, "nm0202088")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Rossen", 1908, 1966, "nm0744035")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Rossen", 1908, 1966, "nm0744035")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yasujirô Ozu", 1903, 1963, "nm0654868")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yasujirô Ozu", 1903, 1963, "nm0654868")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Hamer", 1911, 1963, "nm0357607")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Akira Kurosawa", 1910, 1998, "nm0000041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Akira Kurosawa", 1910, 1998, "nm0000041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Akira Kurosawa", 1910, 1998, "nm0000041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Akira Kurosawa", 1910, 1998, "nm0000041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Akira Kurosawa", 1910, 1998, "nm0000041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Akira Kurosawa", 1910, 1998, "nm0000041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Akira Kurosawa", 1910, 1998, "nm0000041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Akira Kurosawa", 1910, 1998, "nm0000041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Akira Kurosawa", 1910, 1998, "nm0000041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Akira Kurosawa", 1910, 1998, "nm0000041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Akira Kurosawa", 1910, 1998, "nm0000041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Akira Kurosawa", 1910, 1998, "nm0000041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Akira Kurosawa", 1910, 1998, "nm0000041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Akira Kurosawa", 1910, 1998, "nm0000041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Donen", 1924, 2019, "nm0002045")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Donen", 1924, 2019, "nm0002045")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Donen", 1924, 2019, "nm0002045")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Donen", 1924, 2019, "nm0002045")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Donen", 1924, 2019, "nm0002045")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Donen", 1924, 2019, "nm0002045")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carol Reed", 1906, 1976, "nm0715346")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carol Reed", 1906, 1976, "nm0715346")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carol Reed", 1906, 1976, "nm0715346")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Henry King", 1886, 1982, "nm0454771")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wilfred Jackson", 1906, 1988, "nm0414144")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph H. Lewis", 1907, 2000, "nm0507390")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Ray", 1911, 1979, "nm0712947")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Ray", 1911, 1979, "nm0712947")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Ray", 1911, 1979, "nm0712947")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Mann", 1906, 1967, "nm0542649")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Mann", 1906, 1967, "nm0542649")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Asher", 1921, 2012, "nm0038906")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Asher", 1921, 2012, "nm0038906")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clyde Geronimi", 1901, 1989, "nm0314671")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clyde Geronimi", 1901, 1989, "nm0314671")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clyde Geronimi", 1901, 1989, "nm0314671")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clyde Geronimi", 1901, 1989, "nm0314671")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clyde Geronimi", 1901, 1989, "nm0314671")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Wise", 1914, 2005, "nm0936404")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Wise", 1914, 2005, "nm0936404")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Wise", 1914, 2005, "nm0936404")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Wise", 1914, 2005, "nm0936404")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Wise", 1914, 2005, "nm0936404")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Wise", 1914, 2005, "nm0936404")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Wise", 1914, 2005, "nm0936404")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("René Clément", 1913, 1996, "nm0167496")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("René Clément", 1913, 1996, "nm0167496")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Desmond Hurst", 1895, 1986, "nm0221423")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christian Nyby", 1913, 1993, "nm0638528")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cecil B. DeMille", 1881, 1959, "nm0001124")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cecil B. DeMille", 1881, 1959, "nm0001124")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fred Zinnemann", 1907, 1997, "nm0003593")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fred Zinnemann", 1907, 1997, "nm0003593")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fred Zinnemann", 1907, 1997, "nm0003593")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fred Zinnemann", 1907, 1997, "nm0003593")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fred Zinnemann", 1907, 1997, "nm0003593")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Crichton", 1910, 1999, "nm0187769")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Crichton", 1910, 1999, "nm0187769")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Crichton", 1910, 1999, "nm0187769")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("André De Toth", 1913, 2002, "nm0211964")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean Negulesco", 1900, 1993, "nm0624535")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Henry Hathaway", 1898, 1985, "nm0368871")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Henry Hathaway", 1898, 1985, "nm0368871")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Henry Hathaway", 1898, 1985, "nm0368871")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Samuel Fuller", 1912, 1997, "nm0002087")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Samuel Fuller", 1912, 1997, "nm0002087")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Samuel Fuller", 1912, 1997, "nm0002087")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Henri-Georges Clouzot", 1907, 1977, "nm0167241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Henri-Georges Clouzot", 1907, 1977, "nm0167241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ingmar Bergman", 1918, 2007, "nm0000005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ingmar Bergman", 1918, 2007, "nm0000005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ingmar Bergman", 1918, 2007, "nm0000005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ingmar Bergman", 1918, 2007, "nm0000005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ingmar Bergman", 1918, 2007, "nm0000005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ingmar Bergman", 1918, 2007, "nm0000005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ingmar Bergman", 1918, 2007, "nm0000005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ingmar Bergman", 1918, 2007, "nm0000005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ingmar Bergman", 1918, 2007, "nm0000005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ingmar Bergman", 1918, 2007, "nm0000005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ingmar Bergman", 1918, 2007, "nm0000005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ingmar Bergman", 1918, 2007, "nm0000005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ingmar Bergman", 1918, 2007, "nm0000005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ingmar Bergman", 1918, 2007, "nm0000005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ingmar Bergman", 1918, 2007, "nm0000005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenji Mizoguchi", 1898, 1956, "nm0003226")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenji Mizoguchi", 1898, 1956, "nm0003226")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jacques Tati", 1907, 1982, "nm0004244")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jacques Tati", 1907, 1982, "nm0004244")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jacques Tati", 1907, 1982, "nm0004244")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Federico Fellini", 1920, 1993, "nm0000019")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Federico Fellini", 1920, 1993, "nm0000019")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Federico Fellini", 1920, 1993, "nm0000019")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Federico Fellini", 1920, 1993, "nm0000019")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Federico Fellini", 1920, 1993, "nm0000019")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Federico Fellini", 1920, 1993, "nm0000019")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Federico Fellini", 1920, 1993, "nm0000019")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Federico Fellini", 1920, 1993, "nm0000019")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Federico Fellini", 1920, 1993, "nm0000019")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Byron Haskin", 1899, 1984, "nm0005738")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Fleischer", 1916, 2006, "nm0281507")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Fleischer", 1916, 2006, "nm0281507")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Fleischer", 1916, 2006, "nm0281507")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Fleischer", 1916, 2006, "nm0281507")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Fleischer", 1916, 2006, "nm0281507")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Fleischer", 1916, 2006, "nm0281507")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Fleischer", 1916, 2006, "nm0281507")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jack Arnold", 1916, 1992, "nm0000791")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jack Arnold", 1916, 1992, "nm0000791")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jack Arnold", 1916, 1992, "nm0000791")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ishirô Honda", 1911, 1993, "nm0393094")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gordon Douglas", 1907, 1993, "nm0235066")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Laslo Benedek", 1905, 1992, "nm0070670")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Stevens", 1920, 1989, "nm0828720")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Douglas Sirk", 1897, 1987, "nm0802862")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Douglas Sirk", 1897, 1987, "nm0802862")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Halas", 1912, 1995, "nm0354691")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Sturges", 1910, 1992, "nm0836328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Sturges", 1910, 1992, "nm0836328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Sturges", 1910, 1992, "nm0836328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Sturges", 1910, 1992, "nm0836328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Sturges", 1910, 1992, "nm0836328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Sturges", 1910, 1992, "nm0836328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Kubrick", 1928, 1999, "nm0000040")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Kubrick", 1928, 1999, "nm0000040")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Kubrick", 1928, 1999, "nm0000040")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Kubrick", 1928, 1999, "nm0000040")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Kubrick", 1928, 1999, "nm0000040")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Kubrick", 1928, 1999, "nm0000040")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Kubrick", 1928, 1999, "nm0000040")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Kubrick", 1928, 1999, "nm0000040")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Kubrick", 1928, 1999, "nm0000040")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Kubrick", 1928, 1999, "nm0000040")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Kubrick", 1928, 1999, "nm0000040")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Kubrick", 1928, 1999, "nm0000040")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Aldrich", 1918, 1983, "nm0000736")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Aldrich", 1918, 1983, "nm0000736")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Aldrich", 1918, 1983, "nm0000736")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Aldrich", 1918, 1983, "nm0000736")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Aldrich", 1918, 1983, "nm0000736")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Aldrich", 1918, 1983, "nm0000736")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alexander Mackendrick", 1912, 1993, "nm0533241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alexander Mackendrick", 1912, 1993, "nm0533241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Delbert Mann", 1920, 2007, "nm0542720")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Laughton", 1899, 1962, "nm0001452")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alain Resnais", 1922, 2014, "nm0720297")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alain Resnais", 1922, 2014, "nm0720297")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alain Resnais", 1922, 2014, "nm0720297")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Satyajit Ray", 1921, 1992, "nm0006249")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Satyajit Ray", 1921, 1992, "nm0006249")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Farrow", 1904, 1963, "nm0268513")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Albert Lamorisse", 1922, 1970, "nm0483738")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Melvin Frank", 1913, 1988, "nm0291035")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fred M. Wilcox", 1907, 1964, "nm0928208")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Walters", 1911, 1982, "nm0910199")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Siegel", 1912, 1991, "nm0796923")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Siegel", 1912, 1991, "nm0796923")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Siegel", 1912, 1991, "nm0796923")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Siegel", 1912, 1991, "nm0796923")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Siegel", 1912, 1991, "nm0796923")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Siegel", 1912, 1991, "nm0796923")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Siegel", 1912, 1991, "nm0796923")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walter Lang", 1896, 1972, "nm0485943")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Bresson", 1901, 1999, "nm0000975")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Bresson", 1901, 1999, "nm0000975")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Bresson", 1901, 1999, "nm0000975")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sidney Lumet", 1924, 2011, "nm0001486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sidney Lumet", 1924, 2011, "nm0001486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sidney Lumet", 1924, 2011, "nm0001486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sidney Lumet", 1924, 2011, "nm0001486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sidney Lumet", 1924, 2011, "nm0001486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sidney Lumet", 1924, 2011, "nm0001486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sidney Lumet", 1924, 2011, "nm0001486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sidney Lumet", 1924, 2011, "nm0001486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sidney Lumet", 1924, 2011, "nm0001486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sidney Lumet", 1924, 2011, "nm0001486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sidney Lumet", 1924, 2011, "nm0001486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sidney Lumet", 1924, 2011, "nm0001486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sidney Lumet", 1924, 2011, "nm0001486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sidney Lumet", 1924, 2011, "nm0001486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mikhail Kalatozov", 1903, 1973, "nm0435563")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Stevenson", 1905, 1986, "nm0829038")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Stevenson", 1905, 1986, "nm0829038")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Stevenson", 1905, 1986, "nm0829038")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Stevenson", 1905, 1986, "nm0829038")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nathan Juran", 1907, 2002, "nm0432846")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Louis Malle", 1932, 1995, "nm0001501")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Louis Malle", 1932, 1995, "nm0001501")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Louis Malle", 1932, 1995, "nm0001501")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Louis Malle", 1932, 1995, "nm0001501")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Louis Malle", 1932, 1995, "nm0001501")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Irvin S. Yeaworth Jr.", 1926, 2004, "nm0947105")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Brooks", 1912, 1992, "nm0112218")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Brooks", 1912, 1992, "nm0112218")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Brooks", 1912, 1992, "nm0112218")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Kramer", 1913, 2001, "nm0006452")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Kramer", 1913, 2001, "nm0006452")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Kramer", 1913, 2001, "nm0006452")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Kramer", 1913, 2001, "nm0006452")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Kramer", 1913, 2001, "nm0006452")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Kramer", 1913, 2001, "nm0006452")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terence Fisher", 1904, 1980, "nm0279807")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kurt Neumann", 1908, 1958, "nm0627087")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Castle", 1914, 1977, "nm0145336")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roy Ward Baker", 1916, 2010, "nm0001928")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edward D. Wood Jr.", 1924, 1978, "nm0000248")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Rich", 1925, 2012, "nm0723664")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Henry Levin", 1909, 1980, "nm0505610")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Blake Edwards", 1922, 2010, "nm0001175")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Blake Edwards", 1922, 2010, "nm0001175")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Blake Edwards", 1922, 2010, "nm0001175")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Blake Edwards", 1922, 2010, "nm0001175")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Blake Edwards", 1922, 2010, "nm0001175")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Blake Edwards", 1922, 2010, "nm0001175")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Blake Edwards", 1922, 2010, "nm0001175")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Blake Edwards", 1922, 2010, "nm0001175")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Blake Edwards", 1922, 2010, "nm0001175")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Blake Edwards", 1922, 2010, "nm0001175")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Blake Edwards", 1922, 2010, "nm0001175")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Blake Edwards", 1922, 2010, "nm0001175")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Blake Edwards", 1922, 2010, "nm0001175")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Gordon", 1909, 1993, "nm0330456")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("François Truffaut", 1932, 1984, "nm0000076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("François Truffaut", 1932, 1984, "nm0000076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("François Truffaut", 1932, 1984, "nm0000076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("François Truffaut", 1932, 1984, "nm0000076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("François Truffaut", 1932, 1984, "nm0000076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("François Truffaut", 1932, 1984, "nm0000076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("François Truffaut", 1932, 1984, "nm0000076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Georges Franju", 1912, 1987, "nm0290802")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Luc Godard", 1930, null, "nm0000419")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Luc Godard", 1930, null, "nm0000419")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Luc Godard", 1930, null, "nm0000419")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Luc Godard", 1930, null, "nm0000419")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Luc Godard", 1930, null, "nm0000419")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Luc Godard", 1930, null, "nm0000419")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Luc Godard", 1930, null, "nm0000419")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Luc Godard", 1930, null, "nm0000419")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Luc Godard", 1930, null, "nm0000419")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Rafkin", 1928, 2001, "nm0706347")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Friz Freleng", 1906, 1995, "nm0293989")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Friz Freleng", 1906, 1995, "nm0293989")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph Barbera", 1911, 2006, "nm0053484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph Barbera", 1911, 2006, "nm0053484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Wayne", 1907, 1979, "nm0000078")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelangelo Antonioni", 1912, 2007, "nm0000774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelangelo Antonioni", 1912, 2007, "nm0000774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelangelo Antonioni", 1912, 2007, "nm0000774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelangelo Antonioni", 1912, 2007, "nm0000774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelangelo Antonioni", 1912, 2007, "nm0000774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelangelo Antonioni", 1912, 2007, "nm0000774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelangelo Antonioni", 1912, 2007, "nm0000774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Corman", 1926, null, "nm0000339")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Corman", 1926, null, "nm0000339")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Corman", 1926, null, "nm0000339")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Corman", 1926, null, "nm0000339")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mario Bava", 1914, 1980, "nm0000878")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luchino Visconti", 1906, 1976, "nm0899581")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luchino Visconti", 1906, 1976, "nm0899581")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luchino Visconti", 1906, 1976, "nm0899581")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Annakin", 1914, 2009, "nm0002175")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Annakin", 1914, 2009, "nm0002175")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Annakin", 1914, 2009, "nm0002175")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Pal", 1908, 1980, "nm0657162")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jacques Becker", 1906, 1960, "nm0065442")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wolf Rilla", 1920, 2005, "nm0727211")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J. Lee Thompson", 1914, 2002, "nm0496746")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J. Lee Thompson", 1914, 2002, "nm0496746")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J. Lee Thompson", 1914, 2002, "nm0496746")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J. Lee Thompson", 1914, 2002, "nm0496746")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J. Lee Thompson", 1914, 2002, "nm0496746")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jack Clayton", 1921, 1995, "nm0002338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jack Clayton", 1921, 1995, "nm0002338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Swift", 1919, 2001, "nm0842582")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Arthur Davis", 1905, 2000, "nm0204190")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Herk Harvey", 1924, 1996, "nm0367547")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Agnès Varda", 1928, 2019, "nm0889513")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pietro Germi", 1914, 1974, "nm0314584")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terence Young", 1915, 1994, "nm0950109")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terence Young", 1915, 1994, "nm0950109")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terence Young", 1915, 1994, "nm0950109")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terence Young", 1915, 1994, "nm0950109")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Masaki Kobayashi", 1916, 1996, "nm0462030")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Masaki Kobayashi", 1916, 1996, "nm0462030")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrei Tarkovsky", 1932, 1986, "nm0001789")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrei Tarkovsky", 1932, 1986, "nm0001789")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrei Tarkovsky", 1932, 1986, "nm0001789")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrei Tarkovsky", 1932, 1986, "nm0001789")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrei Tarkovsky", 1932, 1986, "nm0001789")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrei Tarkovsky", 1932, 1986, "nm0001789")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrei Tarkovsky", 1932, 1986, "nm0001789")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Marker", 1921, 2012, "nm0003408")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Frankenheimer", 1930, 2002, "nm0001239")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Frankenheimer", 1930, 2002, "nm0001239")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Frankenheimer", 1930, 2002, "nm0001239")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Frankenheimer", 1930, 2002, "nm0001239")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Frankenheimer", 1930, 2002, "nm0001239")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Frankenheimer", 1930, 2002, "nm0001239")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Frankenheimer", 1930, 2002, "nm0001239")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Frankenheimer", 1930, 2002, "nm0001239")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Arthur Penn", 1922, 2010, "nm0671957")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Arthur Penn", 1922, 2010, "nm0671957")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Arthur Penn", 1922, 2010, "nm0671957")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Arthur Penn", 1922, 2010, "nm0671957")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Morton DaCosta", 1914, 1989, "nm0196536")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roman Polanski", 1933, null, "nm0000591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roman Polanski", 1933, null, "nm0000591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roman Polanski", 1933, null, "nm0000591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roman Polanski", 1933, null, "nm0000591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roman Polanski", 1933, null, "nm0000591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roman Polanski", 1933, null, "nm0000591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roman Polanski", 1933, null, "nm0000591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roman Polanski", 1933, null, "nm0000591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roman Polanski", 1933, null, "nm0000591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roman Polanski", 1933, null, "nm0000591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roman Polanski", 1933, null, "nm0000591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roman Polanski", 1933, null, "nm0000591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roman Polanski", 1933, null, "nm0000591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roman Polanski", 1933, null, "nm0000591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roman Polanski", 1933, null, "nm0000591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roman Polanski", 1933, null, "nm0000591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roman Polanski", 1933, null, "nm0000591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roman Polanski", 1933, null, "nm0000591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Peckinpah", 1925, 1984, "nm0001603")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Peckinpah", 1925, 1984, "nm0001603")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Peckinpah", 1925, 1984, "nm0001603")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Peckinpah", 1925, 1984, "nm0001603")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Peckinpah", 1925, 1984, "nm0001603")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Peckinpah", 1925, 1984, "nm0001603")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Peckinpah", 1925, 1984, "nm0001603")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Peckinpah", 1925, 1984, "nm0001603")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Mulligan", 1925, 2008, "nm0612322")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Mulligan", 1925, 2008, "nm0612322")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Douglas Camfield", 1931, 1984, "nm0131769")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Ritt", 1914, 1990, "nm0728688")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Ritt", 1914, 1990, "nm0728688")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Ritt", 1914, 1990, "nm0728688")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Chaffey", 1917, 1990, "nm0149548")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Chaffey", 1917, 1990, "nm0149548")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Brook", 1925, null, "nm0111656")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew V. McLaglen", 1920, 2014, "nm0572132")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew V. McLaglen", 1920, 2014, "nm0572132")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jerry Lewis", 1926, 2017, "nm0001471")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wolfgang Reitherman", 1909, 1985, "nm0718627")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wolfgang Reitherman", 1909, 1985, "nm0718627")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wolfgang Reitherman", 1909, 1985, "nm0718627")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wolfgang Reitherman", 1909, 1985, "nm0718627")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Richardson", 1928, 1991, "nm0724798")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nat Perrin", 1905, 1998, "nm0674759")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Richardson", 1918, 1996, "nm0724504")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Cacoyannis", 1922, 2011, "nm0128050")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Glenville", 1913, 1996, "nm0322706")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean Girault", 1924, 1982, "nm0320833")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Hamilton", 1922, 2016, "nm0357891")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Hamilton", 1922, 2016, "nm0357891")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Hamilton", 1922, 2016, "nm0357891")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Hamilton", 1922, 2016, "nm0357891")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Hamilton", 1922, 2016, "nm0357891")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Hamilton", 1922, 2016, "nm0357891")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Hamilton", 1922, 2016, "nm0357891")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Hamilton", 1922, 2016, "nm0357891")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Lester", 1932, null, "nm0504513")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Lester", 1932, null, "nm0504513")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Lester", 1932, null, "nm0504513")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Lester", 1932, null, "nm0504513")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Lester", 1932, null, "nm0504513")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Lester", 1932, null, "nm0504513")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Lester", 1932, null, "nm0504513")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kaneto Shindô", 1912, 2012, "nm0793881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jacques Demy", 1931, 1990, "nm0218840")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sergio Leone", 1929, 1989, "nm0001466")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sergio Leone", 1929, 1989, "nm0001466")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sergio Leone", 1929, 1989, "nm0001466")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sergio Leone", 1929, 1989, "nm0001466")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sergio Leone", 1929, 1989, "nm0001466")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sergio Leone", 1929, 1989, "nm0001466")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Larry Roemer", 1917, 1995, "nm0736392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Webster", 1912, 2006, "nm0916977")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hiroshi Teshigahara", 1927, 2001, "nm0856267")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ubaldo Ragona", 1916, 1987, "nm0706575")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cy Endfield", 1914, 1995, "nm0256831")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Bogart", 1919, 2012, "nm0091575")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Bogart", 1919, 2012, "nm0091575")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Ansara", 1922, 2013, "nm0030516")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gillo Pontecorvo", 1919, 2006, "nm0690597")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Elliot Silverstein", 1927, null, "nm0799033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bill Melendez", 1916, 2008, "nm0006837")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bill Melendez", 1916, 2008, "nm0006837")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Norman Jewison", 1926, null, "nm0422484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Norman Jewison", 1926, null, "nm0422484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Norman Jewison", 1926, null, "nm0422484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Norman Jewison", 1926, null, "nm0422484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Norman Jewison", 1926, null, "nm0422484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Norman Jewison", 1926, null, "nm0422484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Norman Jewison", 1926, null, "nm0422484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Norman Jewison", 1926, null, "nm0422484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Norman Jewison", 1926, null, "nm0422484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Norman Jewison", 1926, null, "nm0422484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Russ Meyer", 1922, 2004, "nm0000540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sidney J. Furie", 1933, null, "nm0002089")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sidney J. Furie", 1933, null, "nm0002089")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sidney J. Furie", 1933, null, "nm0002089")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sidney J. Furie", 1933, null, "nm0002089")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Leonid Gaidai", 1923, 1993, "nm0301145")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Leonid Gaidai", 1923, 1993, "nm0301145")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Leonid Gaidai", 1923, 1993, "nm0301145")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Robson", 1913, 1978, "nm0733476")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Robson", 1913, 1978, "nm0733476")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Neilson", 1909, 1979, "nm0624809")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Daniels", 1912, 1989, "nm0200022")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lewis Gilbert", 1920, 2018, "nm0318150")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lewis Gilbert", 1920, 2018, "nm0318150")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lewis Gilbert", 1920, 2018, "nm0318150")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lewis Gilbert", 1920, 2018, "nm0318150")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lewis Gilbert", 1920, 2018, "nm0318150")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Leslie H. Martinson", 1915, 2016, "nm0554169")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sergio Corbucci", 1926, 1990, "nm0179281")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sergio Corbucci", 1926, 1990, "nm0179281")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chuck Jones", 1912, 2002, "nm0005062")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gérard Oury", 1919, 2006, "nm0653620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gérard Oury", 1919, 2006, "nm0653620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harold P. Warren", 1923, 1985, "nm0912849")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jirí Menzel", 1938, null, "nm0579954")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Nichols", 1931, 2014, "nm0001566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Nichols", 1931, 2014, "nm0001566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Nichols", 1931, 2014, "nm0001566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Nichols", 1931, 2014, "nm0001566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Nichols", 1931, 2014, "nm0001566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Nichols", 1931, 2014, "nm0001566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Nichols", 1931, 2014, "nm0001566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Nichols", 1931, 2014, "nm0001566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Nichols", 1931, 2014, "nm0001566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Nichols", 1931, 2014, "nm0001566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Nichols", 1931, 2014, "nm0001566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Nichols", 1931, 2014, "nm0001566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Nichols", 1931, 2014, "nm0001566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Nichols", 1931, 2014, "nm0001566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Nichols", 1931, 2014, "nm0001566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patrick McGoohan", 1928, 2009, "nm0001526")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gene Saks", 1921, 2015, "nm0757256")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gene Saks", 1921, 2015, "nm0757256")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph McGrath", 1930, null, "nm0569825")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Rosenberg", 1927, 2007, "nm0742341")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Rosenberg", 1927, 2007, "nm0742341")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Rosenberg", 1927, 2007, "nm0742341")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ted Post", 1918, 2013, "nm0692872")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ted Post", 1918, 2013, "nm0692872")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ted Post", 1918, 2013, "nm0692872")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Boorman", 1933, null, "nm0000958")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Boorman", 1933, null, "nm0000958")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Boorman", 1933, null, "nm0000958")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Boorman", 1933, null, "nm0000958")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Boorman", 1933, null, "nm0000958")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Boorman", 1933, null, "nm0000958")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Boorman", 1933, null, "nm0000958")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Pierre Melville", 1917, 1973, "nm0578483")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Pierre Melville", 1917, 1973, "nm0578483")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Pierre Melville", 1917, 1973, "nm0578483")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Clavell", 1921, 1994, "nm0165412")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("René Goscinny", 1926, 1977, "nm0331453")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("René Goscinny", 1926, 1977, "nm0331453")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Vadim", 1928, 2000, "nm0671862")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Yates", 1929, 2011, "nm0946811")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Yates", 1929, 2011, "nm0946811")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Yates", 1929, 2011, "nm0946811")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Yates", 1929, 2011, "nm0946811")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Hughes", 1922, 2001, "nm0400731")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ray Kellogg", 1905, 1976, "nm0446129")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Harvey", 1930, 2017, "nm0367431")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George A. Romero", 1940, 2017, "nm0001681")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George A. Romero", 1940, 2017, "nm0001681")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George A. Romero", 1940, 2017, "nm0001681")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George A. Romero", 1940, 2017, "nm0001681")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George A. Romero", 1940, 2017, "nm0001681")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George A. Romero", 1940, 2017, "nm0001681")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George A. Romero", 1940, 2017, "nm0001681")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George A. Romero", 1940, 2017, "nm0001681")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George A. Romero", 1940, 2017, "nm0001681")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Franklin J. Schaffner", 1920, 1989, "nm0769874")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Franklin J. Schaffner", 1920, 1989, "nm0769874")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Franklin J. Schaffner", 1920, 1989, "nm0769874")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Franklin J. Schaffner", 1920, 1989, "nm0769874")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mel Brooks", 1926, null, "nm0000316")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mel Brooks", 1926, null, "nm0000316")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mel Brooks", 1926, null, "nm0000316")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mel Brooks", 1926, null, "nm0000316")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mel Brooks", 1926, null, "nm0000316")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mel Brooks", 1926, null, "nm0000316")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mel Brooks", 1926, null, "nm0000316")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mel Brooks", 1926, null, "nm0000316")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mel Brooks", 1926, null, "nm0000316")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Franco Zeffirelli", 1923, 2019, "nm0001874")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Franco Zeffirelli", 1923, 2019, "nm0001874")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Franco Zeffirelli", 1923, 2019, "nm0001874")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Franco Zeffirelli", 1923, 2019, "nm0001874")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pier Paolo Pasolini", 1922, 1975, "nm0001596")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pier Paolo Pasolini", 1922, 1975, "nm0001596")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Dunning", 1920, 1979, "nm0242945")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lindsay Anderson", 1923, 1994, "nm0000755")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bernard Wiesen", 1922, null, "nm0927612")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Howard Davies", 1939, 2011, "nm0203791")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gerry Chiniquy", 1912, 1989, "nm0157908")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Diego", null, null, "nm0225924")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Roy Hill", 1921, 2002, "nm0001351")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Roy Hill", 1921, 2002, "nm0001351")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Roy Hill", 1921, 2002, "nm0001351")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Roy Hill", 1921, 2002, "nm0001351")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Roy Hill", 1921, 2002, "nm0001351")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Roy Hill", 1921, 2002, "nm0001351")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennis Hopper", 1936, 2010, "nm0000454")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennis Hopper", 1936, 2010, "nm0000454")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jules Bass", 1935, null, "nm0060072")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jules Bass", 1935, null, "nm0060072")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jules Bass", 1935, null, "nm0060072")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gene Kelly", 1912, 1996, "nm0000037")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Collinson", 1936, 1980, "nm0172772")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Loach", 1936, null, "nm0516360")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Loach", 1936, null, "nm0516360")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Loach", 1936, null, "nm0516360")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Loach", 1936, null, "nm0516360")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Loach", 1936, null, "nm0516360")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Loach", 1936, null, "nm0516360")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Schlesinger", 1926, 2003, "nm0772259")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Schlesinger", 1926, 2003, "nm0772259")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Schlesinger", 1926, 2003, "nm0772259")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Schlesinger", 1926, 2003, "nm0772259")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Schlesinger", 1926, 2003, "nm0772259")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter R. Hunt", 1925, 2002, "nm0402597")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joshua Logan", 1908, 1988, "nm0517597")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woody Allen", 1935, null, "nm0000095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sydney Pollack", 1934, 2008, "nm0001628")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sydney Pollack", 1934, 2008, "nm0001628")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sydney Pollack", 1934, 2008, "nm0001628")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sydney Pollack", 1934, 2008, "nm0001628")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sydney Pollack", 1934, 2008, "nm0001628")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sydney Pollack", 1934, 2008, "nm0001628")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sydney Pollack", 1934, 2008, "nm0001628")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sydney Pollack", 1934, 2008, "nm0001628")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sydney Pollack", 1934, 2008, "nm0001628")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sydney Pollack", 1934, 2008, "nm0001628")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sydney Pollack", 1934, 2008, "nm0001628")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dario Argento", 1940, null, "nm0000783")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dario Argento", 1940, null, "nm0000783")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dario Argento", 1940, null, "nm0000783")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dario Argento", 1940, null, "nm0000783")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dario Argento", 1940, null, "nm0000783")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dario Argento", 1940, null, "nm0000783")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dario Argento", 1940, null, "nm0000783")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian G. Hutton", 1935, 2014, "nm0404606")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian G. Hutton", 1935, 2014, "nm0404606")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Costa-Gavras", 1933, null, "nm0002020")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Costa-Gavras", 1933, null, "nm0002020")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Costa-Gavras", 1933, null, "nm0002020")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Costa-Gavras", 1933, null, "nm0002020")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bernardo Bertolucci", 1941, 2018, "nm0000934")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bernardo Bertolucci", 1941, 2018, "nm0000934")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bernardo Bertolucci", 1941, 2018, "nm0000934")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bernardo Bertolucci", 1941, 2018, "nm0000934")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bernardo Bertolucci", 1941, 2018, "nm0000934")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bernardo Bertolucci", 1941, 2018, "nm0000934")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bernardo Bertolucci", 1941, 2018, "nm0000934")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bernardo Bertolucci", 1941, 2018, "nm0000934")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Rafelson", 1933, null, "nm0706182")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Rafelson", 1933, null, "nm0706182")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Arthur Allan Seidelman", null, null, "nm0782381")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Arthur Hiller", 1923, 2016, "nm0002137")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Arthur Hiller", 1923, 2016, "nm0002137")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Arthur Hiller", 1923, 2016, "nm0002137")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Altman", 1925, 2006, "nm0000265")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Altman", 1925, 2006, "nm0000265")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Altman", 1925, 2006, "nm0000265")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Altman", 1925, 2006, "nm0000265")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Altman", 1925, 2006, "nm0000265")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Altman", 1925, 2006, "nm0000265")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Altman", 1925, 2006, "nm0000265")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Altman", 1925, 2006, "nm0000265")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Altman", 1925, 2006, "nm0000265")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Altman", 1925, 2006, "nm0000265")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Altman", 1925, 2006, "nm0000265")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Altman", 1925, 2006, "nm0000265")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Altman", 1925, 2006, "nm0000265")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Altman", 1925, 2006, "nm0000265")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Arthur Rankin Jr.", 1924, 2014, "nm0710230")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Lucas", 1944, null, "nm0000184")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Lucas", 1944, null, "nm0000184")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Lucas", 1944, null, "nm0000184")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Lucas", 1944, null, "nm0000184")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Lucas", 1944, null, "nm0000184")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Lucas", 1944, null, "nm0000184")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Wadleigh", 1939, null, "nm0905579")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Fuest", 1927, 2012, "nm0297523")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hrishikesh Mukherjee", 1922, 2006, "nm0611531")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hrishikesh Mukherjee", 1922, 2006, "nm0611531")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hrishikesh Mukherjee", 1922, 2006, "nm0611531")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ian MacNaughton", 1925, 2002, "nm0534084")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Sherman", 1908, 1991, "nm0792450")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Russell", 1927, 2011, "nm0001692")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Russell", 1927, 2011, "nm0001692")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Russell", 1927, 2011, "nm0001692")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Spielberg", 1946, null, "nm0000229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Taylor", 1920, 1998, "nm0852279")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Taylor", 1920, 1998, "nm0852279")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Friedkin", 1935, null, "nm0001243")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Friedkin", 1935, null, "nm0001243")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Friedkin", 1935, null, "nm0001243")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Friedkin", 1935, null, "nm0001243")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Friedkin", 1935, null, "nm0001243")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Friedkin", 1935, null, "nm0001243")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Friedkin", 1935, null, "nm0001243")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Friedkin", 1935, null, "nm0001243")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Friedkin", 1935, null, "nm0001243")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Friedkin", 1935, null, "nm0001243")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Friedkin", 1935, null, "nm0001243")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Friedkin", 1935, null, "nm0001243")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Hodges", 1932, null, "nm0388198")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Hodges", 1932, null, "nm0388198")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Hodges", 1932, null, "nm0388198")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Hodges", 1932, null, "nm0388198")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hal Ashby", 1929, 1988, "nm0000797")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hal Ashby", 1929, 1988, "nm0000797")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hal Ashby", 1929, 1988, "nm0000797")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hal Ashby", 1929, 1988, "nm0000797")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dalton Trumbo", 1905, 1976, "nm0874308")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan J. Pakula", 1928, 1998, "nm0001587")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan J. Pakula", 1928, 1998, "nm0001587")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan J. Pakula", 1928, 1998, "nm0001587")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan J. Pakula", 1928, 1998, "nm0001587")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan J. Pakula", 1928, 1998, "nm0001587")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan J. Pakula", 1928, 1998, "nm0001587")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan J. Pakula", 1928, 1998, "nm0001587")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Bogdanovich", 1939, null, "nm0000953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Bogdanovich", 1939, null, "nm0000953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Bogdanovich", 1939, null, "nm0000953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Bogdanovich", 1939, null, "nm0000953")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Bogdanovich", 1939, null, "nm0000953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Enzo Barboni", 1922, 2002, "nm0005645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Enzo Barboni", 1922, 2002, "nm0005645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Boris Sagal", 1923, 1981, "nm0755963")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jerry Schatzberg", 1927, null, "nm0770234")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jerry Schatzberg", 1927, null, "nm0770234")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clint Eastwood", 1930, null, "nm0000142")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gordon Parks", 1912, 2006, "nm0662953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Douglas Trumbull", 1942, null, "nm0874320")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Douglas Trumbull", 1942, null, "nm0874320")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chia-Hsiang Wu", 1919, 1993, "nm0156927")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alejandro Jodorowsky", 1929, null, "nm0423524")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alejandro Jodorowsky", 1929, null, "nm0423524")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alejandro Jodorowsky", 1929, null, "nm0423524")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Monte Hellman", 1932, null, "nm0375494")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard C. Sarafian", 1930, 2013, "nm0764781")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicolas Roeg", 1928, 2018, "nm0001676")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicolas Roeg", 1928, 2018, "nm0001676")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicolas Roeg", 1928, 2018, "nm0001676")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicolas Roeg", 1928, 2018, "nm0001676")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mel Stuart", 1928, 2012, "nm0835799")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles S. Dubin", 1919, 2011, "nm0239291")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Werner Herzog", 1942, null, "nm0001348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Werner Herzog", 1942, null, "nm0001348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Werner Herzog", 1942, null, "nm0001348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Werner Herzog", 1942, null, "nm0001348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Werner Herzog", 1942, null, "nm0001348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Werner Herzog", 1942, null, "nm0001348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Werner Herzog", 1942, null, "nm0001348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Werner Herzog", 1942, null, "nm0001348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Werner Herzog", 1942, null, "nm0001348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Werner Herzog", 1942, null, "nm0001348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Werner Herzog", 1942, null, "nm0001348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Werner Herzog", 1942, null, "nm0001348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Fosse", 1927, 1987, "nm0002080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Fosse", 1927, 1987, "nm0002080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Fosse", 1927, 1987, "nm0002080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Rydell", 1929, null, "nm0753073")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Rydell", 1929, null, "nm0753073")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ralph Bakshi", 1938, null, "nm0000835")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ralph Bakshi", 1938, null, "nm0000835")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ralph Bakshi", 1938, null, "nm0000835")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Ford Coppola", 1939, null, "nm0000338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Ford Coppola", 1939, null, "nm0000338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Ford Coppola", 1939, null, "nm0000338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Ford Coppola", 1939, null, "nm0000338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Ford Coppola", 1939, null, "nm0000338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Ford Coppola", 1939, null, "nm0000338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Ford Coppola", 1939, null, "nm0000338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Ford Coppola", 1939, null, "nm0000338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Ford Coppola", 1939, null, "nm0000338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Ford Coppola", 1939, null, "nm0000338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Ford Coppola", 1939, null, "nm0000338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Ford Coppola", 1939, null, "nm0000338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Ford Coppola", 1939, null, "nm0000338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Ford Coppola", 1939, null, "nm0000338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Ford Coppola", 1939, null, "nm0000338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Ford Coppola", 1939, null, "nm0000338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wei Lo", 1918, 1996, "nm0516344")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Craven", 1939, 2015, "nm0000127")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Craven", 1939, 2015, "nm0000127")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Craven", 1939, 2015, "nm0000127")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Craven", 1939, 2015, "nm0000127")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Craven", 1939, 2015, "nm0000127")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Craven", 1939, 2015, "nm0000127")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Craven", 1939, 2015, "nm0000127")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Craven", 1939, 2015, "nm0000127")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Craven", 1939, 2015, "nm0000127")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Craven", 1939, 2015, "nm0000127")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Craven", 1939, 2015, "nm0000127")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Craven", 1939, 2015, "nm0000127")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Craven", 1939, 2015, "nm0000127")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Craven", 1939, 2015, "nm0000127")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Craven", 1939, 2015, "nm0000127")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Craven", 1939, 2015, "nm0000127")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Craven", 1939, 2015, "nm0000127")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Winner", 1935, 2013, "nm0935382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Winner", 1935, 2013, "nm0935382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Winner", 1935, 2013, "nm0935382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Winner", 1935, 2013, "nm0935382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruce Lee", 1940, 1973, "nm0000045")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruce Lee", 1940, 1973, "nm0000045")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Waters", 1946, null, "nm0000691")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Waters", 1946, null, "nm0000691")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Waters", 1946, null, "nm0000691")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Waters", 1946, null, "nm0000691")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Waters", 1946, null, "nm0000691")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Waters", 1946, null, "nm0000691")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Waters", 1946, null, "nm0000691")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Herbert Ross", 1927, 2001, "nm0006889")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Herbert Ross", 1927, 2001, "nm0006889")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Herbert Ross", 1927, 2001, "nm0006889")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Herbert Ross", 1927, 2001, "nm0006889")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Herbert Ross", 1927, 2001, "nm0006889")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Herbert Ross", 1927, 2001, "nm0006889")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Herbert Ross", 1927, 2001, "nm0006889")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ronald Neame", 1911, 2010, "nm0623768")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terrence Malick", 1943, null, "nm0000517")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terrence Malick", 1943, null, "nm0000517")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terrence Malick", 1943, null, "nm0000517")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terrence Malick", 1943, null, "nm0000517")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terrence Malick", 1943, null, "nm0000517")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terrence Malick", 1943, null, "nm0000517")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terrence Malick", 1943, null, "nm0000517")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terrence Malick", 1943, null, "nm0000517")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carpenter", 1948, null, "nm0000118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carpenter", 1948, null, "nm0000118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carpenter", 1948, null, "nm0000118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carpenter", 1948, null, "nm0000118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carpenter", 1948, null, "nm0000118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carpenter", 1948, null, "nm0000118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carpenter", 1948, null, "nm0000118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carpenter", 1948, null, "nm0000118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carpenter", 1948, null, "nm0000118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carpenter", 1948, null, "nm0000118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carpenter", 1948, null, "nm0000118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carpenter", 1948, null, "nm0000118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carpenter", 1948, null, "nm0000118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carpenter", 1948, null, "nm0000118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carpenter", 1948, null, "nm0000118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carpenter", 1948, null, "nm0000118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carpenter", 1948, null, "nm0000118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carpenter", 1948, null, "nm0000118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles A. Nichols", 1910, 1992, "nm0629363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Clouse", 1928, 1997, "nm0167195")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Víctor Erice", 1940, null, "nm0258977")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marco Ferreri", 1928, 1997, "nm0274659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tonino Valerii", 1934, 2016, "nm0884547")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Hough", 1941, null, "nm0396421")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Scorsese", 1942, null, "nm0000217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("René Laloux", 1929, 2004, "nm0482537")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian De Palma", 1940, null, "nm0000361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian De Palma", 1940, null, "nm0000361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian De Palma", 1940, null, "nm0000361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian De Palma", 1940, null, "nm0000361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian De Palma", 1940, null, "nm0000361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian De Palma", 1940, null, "nm0000361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian De Palma", 1940, null, "nm0000361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian De Palma", 1940, null, "nm0000361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian De Palma", 1940, null, "nm0000361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian De Palma", 1940, null, "nm0000361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian De Palma", 1940, null, "nm0000361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian De Palma", 1940, null, "nm0000361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian De Palma", 1940, null, "nm0000361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian De Palma", 1940, null, "nm0000361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian De Palma", 1940, null, "nm0000361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian De Palma", 1940, null, "nm0000361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian De Palma", 1940, null, "nm0000361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian De Palma", 1940, null, "nm0000361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian De Palma", 1940, null, "nm0000361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Crichton", 1942, 2008, "nm0000341")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Crichton", 1942, 2008, "nm0000341")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Crichton", 1942, 2008, "nm0000341")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Crichton", 1942, 2008, "nm0000341")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Crichton", 1942, 2008, "nm0000341")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robin Hardy", 1929, 2016, "nm0362736")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Buxton", 1930, 2018, "nm0125518")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Leo Penn", 1921, 1998, "nm0671984")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Smith", null, null, "nm0809252")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rainer Werner Fassbinder", 1945, 1982, "nm0001202")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rainer Werner Fassbinder", 1945, 1982, "nm0001202")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Clark", 1939, 2007, "nm0163706")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Clark", 1939, 2007, "nm0163706")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Clark", 1939, 2007, "nm0163706")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Clark", 1939, 2007, "nm0163706")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Clark", 1939, 2007, "nm0163706")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Clark", 1939, 2007, "nm0163706")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Jones", 1942, null, "nm0001402")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Jones", 1942, null, "nm0001402")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Jones", 1942, null, "nm0001402")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Jones", 1942, null, "nm0001402")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Jones", 1942, null, "nm0001402")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Liliana Cavani", 1933, null, "nm0146960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Liliana Cavani", 1933, null, "nm0146960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph Sargent", 1925, 2014, "nm0765121")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph Sargent", 1925, 2014, "nm0765121")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph Sargent", 1925, 2014, "nm0765121")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tobe Hooper", 1943, 2017, "nm0001361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tobe Hooper", 1943, 2017, "nm0001361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tobe Hooper", 1943, 2017, "nm0001361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tobe Hooper", 1943, 2017, "nm0001361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tobe Hooper", 1943, 2017, "nm0001361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tobe Hooper", 1943, 2017, "nm0001361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Cimino", 1939, 2016, "nm0001047")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Cimino", 1939, 2016, "nm0001047")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Cimino", 1939, 2016, "nm0001047")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Cimino", 1939, 2016, "nm0001047")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Guillermin", 1925, 2015, "nm0347086")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Guillermin", 1925, 2015, "nm0347086")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Guillermin", 1925, 2015, "nm0347086")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Cassavetes", 1929, 1989, "nm0001023")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Spiers", 1945, 2008, "nm0818639")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Spiers", 1945, 2008, "nm0818639")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Spiers", 1945, 2008, "nm0818639")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ralph Glenn Howard", null, null, "nm1019498")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("L.Q. Jones", 1927, null, "nm0428618")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Bartel", 1938, 2000, "nm0000860")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oja Kodar", 1941, null, "nm0462648")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ivo Caprino", 1920, 2001, "nm0135653")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ellen Hovde", null, null, "nm0396985")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eldar Ryazanov", 1927, 2015, "nm0752922")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Milos Forman", 1932, 2018, "nm0001232")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Milos Forman", 1932, 2018, "nm0001232")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Milos Forman", 1932, 2018, "nm0001232")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Milos Forman", 1932, 2018, "nm0001232")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Milos Forman", 1932, 2018, "nm0001232")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Milos Forman", 1932, 2018, "nm0001232")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Milos Forman", 1932, 2018, "nm0001232")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Weir", 1944, null, "nm0001837")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Weir", 1944, null, "nm0001837")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Weir", 1944, null, "nm0001837")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Weir", 1944, null, "nm0001837")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Weir", 1944, null, "nm0001837")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Weir", 1944, null, "nm0001837")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Weir", 1944, null, "nm0001837")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Weir", 1944, null, "nm0001837")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Weir", 1944, null, "nm0001837")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Weir", 1944, null, "nm0001837")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Weir", 1944, null, "nm0001837")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Sharman", 1945, null, "nm0788940")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Cronenberg", 1943, null, "nm0000343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Cronenberg", 1943, null, "nm0000343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Cronenberg", 1943, null, "nm0000343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Cronenberg", 1943, null, "nm0000343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Cronenberg", 1943, null, "nm0000343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Cronenberg", 1943, null, "nm0000343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Cronenberg", 1943, null, "nm0000343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Cronenberg", 1943, null, "nm0000343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Cronenberg", 1943, null, "nm0000343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Cronenberg", 1943, null, "nm0000343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Cronenberg", 1943, null, "nm0000343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Cronenberg", 1943, null, "nm0000343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Cronenberg", 1943, null, "nm0000343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Cronenberg", 1943, null, "nm0000343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Cronenberg", 1943, null, "nm0000343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Cronenberg", 1943, null, "nm0000343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Cronenberg", 1943, null, "nm0000343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ramesh Sippy", 1947, null, "nm0802693")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bryan Forbes", 1926, 2013, "nm0285302")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Herbert Wise", 1924, 2015, "nm0936358")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Harris", null, null, "nm0365192")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nagisa Ôshima", 1932, 2013, "nm0651915")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nagisa Ôshima", 1932, 2013, "nm0651915")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Ritchie", 1938, 2001, "nm0006916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Ritchie", 1938, 2001, "nm0006916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Ritchie", 1938, 2001, "nm0006916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Ritchie", 1938, 2001, "nm0006916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Ritchie", 1938, 2001, "nm0006916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Parker", 1944, null, "nm0000570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Parker", 1944, null, "nm0000570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Parker", 1944, null, "nm0000570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Parker", 1944, null, "nm0000570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Parker", 1944, null, "nm0000570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Parker", 1944, null, "nm0000570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Parker", 1944, null, "nm0000570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Parker", 1944, null, "nm0000570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Parker", 1944, null, "nm0000570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Parker", 1944, null, "nm0000570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Parker", 1944, null, "nm0000570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Parker", 1944, null, "nm0000570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Fargo", 1938, null, "nm0267309")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Fargo", 1938, null, "nm0267309")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lynch", 1946, null, "nm0000186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lynch", 1946, null, "nm0000186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lynch", 1946, null, "nm0000186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lynch", 1946, null, "nm0000186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lynch", 1946, null, "nm0000186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lynch", 1946, null, "nm0000186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lynch", 1946, null, "nm0000186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lynch", 1946, null, "nm0000186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lynch", 1946, null, "nm0000186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lynch", 1946, null, "nm0000186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lynch", 1946, null, "nm0000186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lynch", 1946, null, "nm0000186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lynch", 1946, null, "nm0000186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicolas Gessner", 1931, null, "nm0004654")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Anderson", 1920, 2018, "nm0027183")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Moustapha Akkad", 1930, 2005, "nm0002160")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Moustapha Akkad", 1930, 2005, "nm0002160")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jack Smight", 1925, 2003, "nm0806915")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Moore", 1927, 1984, "nm0601800")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Donner", 1930, null, "nm0001149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Donner", 1930, null, "nm0001149")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Donner", 1930, null, "nm0001149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Donner", 1930, null, "nm0001149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Donner", 1930, null, "nm0001149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Donner", 1930, null, "nm0001149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Donner", 1930, null, "nm0001149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Donner", 1930, null, "nm0001149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Donner", 1930, null, "nm0001149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Donner", 1930, null, "nm0001149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Donner", 1930, null, "nm0001149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Donner", 1930, null, "nm0001149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Donner", 1930, null, "nm0001149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Donner", 1930, null, "nm0001149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Donner", 1930, null, "nm0001149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Donner", 1930, null, "nm0001149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John G. Avildsen", 1935, 2017, "nm0000814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John G. Avildsen", 1935, 2017, "nm0000814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John G. Avildsen", 1935, 2017, "nm0000814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John G. Avildsen", 1935, 2017, "nm0000814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John G. Avildsen", 1935, 2017, "nm0000814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John G. Avildsen", 1935, 2017, "nm0000814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marvin J. Chomsky", 1929, null, "nm0159007")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dave Powers", 1932, 2008, "nm0694516")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wim Wenders", 1945, null, "nm0000694")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wim Wenders", 1945, null, "nm0000694")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wim Wenders", 1945, null, "nm0000694")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wim Wenders", 1945, null, "nm0000694")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wim Wenders", 1945, null, "nm0000694")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wim Wenders", 1945, null, "nm0000694")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Attenborough", 1923, 2014, "nm0000277")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Attenborough", 1923, 2014, "nm0000277")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Attenborough", 1923, 2014, "nm0000277")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Attenborough", 1923, 2014, "nm0000277")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Attenborough", 1923, 2014, "nm0000277")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ridley Scott", 1937, null, "nm0000631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Nelson", 1934, null, "nm0625379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Nelson", 1934, null, "nm0625379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Nelson", 1934, null, "nm0625379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Nelson", 1934, null, "nm0625379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ettore Scola", 1931, 2016, "nm0778633")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nobuhiko Ôbayashi", 1938, null, "nm0643171")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Gilliam", 1940, null, "nm0000416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Gilliam", 1940, null, "nm0000416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Gilliam", 1940, null, "nm0000416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Gilliam", 1940, null, "nm0000416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Gilliam", 1940, null, "nm0000416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Gilliam", 1940, null, "nm0000416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Gilliam", 1940, null, "nm0000416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Gilliam", 1940, null, "nm0000416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Gilliam", 1940, null, "nm0000416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Gilliam", 1940, null, "nm0000416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Gilliam", 1940, null, "nm0000416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Gilliam", 1940, null, "nm0000416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Landis", 1950, null, "nm0000484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Landis", 1950, null, "nm0000484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Landis", 1950, null, "nm0000484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Landis", 1950, null, "nm0000484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Landis", 1950, null, "nm0000484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Landis", 1950, null, "nm0000484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Landis", 1950, null, "nm0000484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Landis", 1950, null, "nm0000484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Landis", 1950, null, "nm0000484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Landis", 1950, null, "nm0000484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Landis", 1950, null, "nm0000484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Landis", 1950, null, "nm0000484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Landis", 1950, null, "nm0000484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Landis", 1950, null, "nm0000484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Slobodan Sijan", 1946, null, "nm0797672")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Slobodan Sijan", 1946, null, "nm0797672")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Lounsbery", 1911, 1976, "nm0522028")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Lounsbery", 1911, 1976, "nm0522028")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Butler", 1943, null, "nm1000159")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Badham", 1939, null, "nm0000824")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Badham", 1939, null, "nm0000824")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Badham", 1939, null, "nm0000824")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Badham", 1939, null, "nm0000824")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Badham", 1939, null, "nm0000824")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Badham", 1939, null, "nm0000824")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Badham", 1939, null, "nm0000824")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Badham", 1939, null, "nm0000824")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Badham", 1939, null, "nm0000824")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Badham", 1939, null, "nm0000824")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Badham", 1939, null, "nm0000824")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hal Needham", 1931, 2013, "nm0624102")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hal Needham", 1931, 2013, "nm0624102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hal Needham", 1931, 2013, "nm0624102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hal Needham", 1931, 2013, "nm0624102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Verhoeven", 1938, null, "nm0000682")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Verhoeven", 1938, null, "nm0000682")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Verhoeven", 1938, null, "nm0000682")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Verhoeven", 1938, null, "nm0000682")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Verhoeven", 1938, null, "nm0000682")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Verhoeven", 1938, null, "nm0000682")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Verhoeven", 1938, null, "nm0000682")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Verhoeven", 1938, null, "nm0000682")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Verhoeven", 1938, null, "nm0000682")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Verhoeven", 1938, null, "nm0000682")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rod Holcomb", null, null, "nm0390103")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gwen Arner", 1932, null, "nm0036206")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bernard McEveety", 1924, 2004, "nm0568535")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Storm", 1939, null, "nm0832573")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Storm", 1939, null, "nm0832573")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Hyams", 1943, null, "nm0001382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Hyams", 1943, null, "nm0001382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Hyams", 1943, null, "nm0001382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Hyams", 1943, null, "nm0001382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Hyams", 1943, null, "nm0001382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Hyams", 1943, null, "nm0001382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Hyams", 1943, null, "nm0001382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Hyams", 1943, null, "nm0001382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Hyams", 1943, null, "nm0001382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Hyams", 1943, null, "nm0001382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Hyams", 1943, null, "nm0001382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Hyams", 1943, null, "nm0001382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chandra Barot", null, null, "nm0056423")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walter Hill", 1942, null, "nm0001353")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walter Hill", 1942, null, "nm0001353")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walter Hill", 1942, null, "nm0001353")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walter Hill", 1942, null, "nm0001353")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walter Hill", 1942, null, "nm0001353")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walter Hill", 1942, null, "nm0001353")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walter Hill", 1942, null, "nm0001353")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walter Hill", 1942, null, "nm0001353")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walter Hill", 1942, null, "nm0001353")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walter Hill", 1942, null, "nm0001353")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walter Hill", 1942, null, "nm0001353")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walter Hill", 1942, null, "nm0001353")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walter Hill", 1942, null, "nm0001353")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Colin Higgins", 1941, 1988, "nm0383359")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Colin Higgins", 1941, 1988, "nm0383359")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Randal Kleiser", 1946, null, "nm0459170")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Randal Kleiser", 1946, null, "nm0459170")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Randal Kleiser", 1946, null, "nm0459170")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Randal Kleiser", 1946, null, "nm0459170")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Randal Kleiser", 1946, null, "nm0459170")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Randal Kleiser", 1946, null, "nm0459170")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Warren Beatty", 1937, null, "nm0000886")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Warren Beatty", 1937, null, "nm0000886")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Warren Beatty", 1937, null, "nm0000886")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Warren Beatty", 1937, null, "nm0000886")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Meir Zarchi", 1937, null, "nm0953392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philip Kaufman", 1936, null, "nm0442241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philip Kaufman", 1936, null, "nm0442241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philip Kaufman", 1936, null, "nm0442241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philip Kaufman", 1936, null, "nm0442241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philip Kaufman", 1936, null, "nm0442241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philip Kaufman", 1936, null, "nm0442241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philip Kaufman", 1936, null, "nm0442241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeannot Szwarc", 1939, null, "nm0844358")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeannot Szwarc", 1939, null, "nm0844358")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeannot Szwarc", 1939, null, "nm0844358")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeannot Szwarc", 1939, null, "nm0844358")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Dante", 1946, null, "nm0001102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Dante", 1946, null, "nm0001102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Dante", 1946, null, "nm0001102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Dante", 1946, null, "nm0001102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Dante", 1946, null, "nm0001102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Dante", 1946, null, "nm0001102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Dante", 1946, null, "nm0001102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Dante", 1946, null, "nm0001102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Dante", 1946, null, "nm0001102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Dante", 1946, null, "nm0001102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Dante", 1946, null, "nm0001102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chia-Liang Liu", 1936, 2013, "nm0514906")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lou Adler", 1933, null, "nm0004693")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Rosen", 1936, null, "nm0742034")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carroll Ballard", 1937, null, "nm0050597")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carroll Ballard", 1937, null, "nm0050597")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Volker Schlöndorff", 1939, null, "nm0772522")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ruggero Deodato", 1939, null, "nm0219959")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Bridges", 1936, 1993, "nm0108745")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Bridges", 1936, 1993, "nm0108745")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carl Reiner", 1922, null, "nm0005348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carl Reiner", 1922, null, "nm0005348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carl Reiner", 1922, null, "nm0005348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carl Reiner", 1922, null, "nm0005348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carl Reiner", 1922, null, "nm0005348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carl Reiner", 1922, null, "nm0005348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Benton", 1932, null, "nm0000914")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Benton", 1932, null, "nm0000914")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Benton", 1932, null, "nm0000914")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Benton", 1932, null, "nm0000914")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Benton", 1932, null, "nm0000914")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Miller", 1945, null, "nm0004306")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Miller", 1945, null, "nm0004306")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Miller", 1945, null, "nm0004306")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Miller", 1945, null, "nm0004306")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Miller", 1945, null, "nm0004306")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Miller", 1945, null, "nm0004306")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Miller", 1945, null, "nm0004306")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Miller", 1945, null, "nm0004306")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ivan Reitman", 1946, null, "nm0718645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ivan Reitman", 1946, null, "nm0718645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ivan Reitman", 1946, null, "nm0718645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ivan Reitman", 1946, null, "nm0718645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ivan Reitman", 1946, null, "nm0718645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ivan Reitman", 1946, null, "nm0718645")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ivan Reitman", 1946, null, "nm0718645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ivan Reitman", 1946, null, "nm0718645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ivan Reitman", 1946, null, "nm0718645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ivan Reitman", 1946, null, "nm0718645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ivan Reitman", 1946, null, "nm0718645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ivan Reitman", 1946, null, "nm0718645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ivan Reitman", 1946, null, "nm0718645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ivan Reitman", 1946, null, "nm0718645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vladimir Menshov", 1939, null, "nm0579828")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Frawley", 1936, 2019, "nm0292419")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Coscarelli", 1954, null, "nm0181741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Coscarelli", 1954, null, "nm0181741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Coscarelli", 1954, null, "nm0181741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Coscarelli", 1954, null, "nm0181741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Coscarelli", 1954, null, "nm0181741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Franc Roddam", 1946, null, "nm0734466")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sylvester Stallone", 1946, null, "nm0000230")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sylvester Stallone", 1946, null, "nm0000230")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sylvester Stallone", 1946, null, "nm0000230")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sylvester Stallone", 1946, null, "nm0000230")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sylvester Stallone", 1946, null, "nm0000230")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sylvester Stallone", 1946, null, "nm0000230")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sylvester Stallone", 1946, null, "nm0000230")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hayao Miyazaki", 1941, null, "nm0594503")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hayao Miyazaki", 1941, null, "nm0594503")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hayao Miyazaki", 1941, null, "nm0594503")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hayao Miyazaki", 1941, null, "nm0594503")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hayao Miyazaki", 1941, null, "nm0594503")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hayao Miyazaki", 1941, null, "nm0594503")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hayao Miyazaki", 1941, null, "nm0594503")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hayao Miyazaki", 1941, null, "nm0594503")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hayao Miyazaki", 1941, null, "nm0594503")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hayao Miyazaki", 1941, null, "nm0594503")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Meyer", 1945, null, "nm0583292")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Meyer", 1945, null, "nm0583292")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Meyer", 1945, null, "nm0583292")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Meyer", 1945, null, "nm0583292")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lucio Fulci", 1927, 1996, "nm0002086")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lucio Fulci", 1927, 1996, "nm0002086")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lucio Fulci", 1927, 1996, "nm0002086")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lucio Fulci", 1927, 1996, "nm0002086")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woo-Ping Yuen", 1945, null, "nm0950759")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woo-Ping Yuen", 1945, null, "nm0950759")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Woo-Ping Yuen", 1945, null, "nm0950759")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Russ Mayberry", 1925, 2012, "nm0562251")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jerry London", 1947, null, "nm0518719")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Allen", 1931, null, "nm0021079")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruce Beresford", 1940, null, "nm0000915")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruce Beresford", 1940, null, "nm0000915")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruce Beresford", 1940, null, "nm0000915")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruce Beresford", 1940, null, "nm0000915")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruce Beresford", 1940, null, "nm0000915")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Abrahams", 1944, null, "nm0000720")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Abrahams", 1944, null, "nm0000720")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Abrahams", 1944, null, "nm0000720")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Abrahams", 1944, null, "nm0000720")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Abrahams", 1944, null, "nm0000720")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Abrahams", 1944, null, "nm0000720")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Abrahams", 1944, null, "nm0000720")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Schrader", 1946, null, "nm0001707")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Schrader", 1946, null, "nm0001707")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Schrader", 1946, null, "nm0001707")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Schrader", 1946, null, "nm0001707")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Schrader", 1946, null, "nm0001707")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Buddy Van Horn", 1929, null, "nm0887174")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Buddy Van Horn", 1929, null, "nm0887174")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Buddy Van Horn", 1929, null, "nm0887174")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John De Bello", 1952, null, "nm0207357")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harold Ramis", 1944, 2014, "nm0000601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harold Ramis", 1944, 2014, "nm0000601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harold Ramis", 1944, 2014, "nm0000601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harold Ramis", 1944, 2014, "nm0000601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harold Ramis", 1944, 2014, "nm0000601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harold Ramis", 1944, 2014, "nm0000601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harold Ramis", 1944, 2014, "nm0000601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harold Ramis", 1944, 2014, "nm0000601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harold Ramis", 1944, 2014, "nm0000601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tinto Brass", 1933, null, "nm0000972")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Medak", 1937, null, "nm0575389")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Medak", 1937, null, "nm0575389")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Medak", 1937, null, "nm0575389")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Medak", 1937, null, "nm0575389")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Medak", 1937, null, "nm0575389")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tommy Chong", 1938, null, "nm0001045")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Apted", 1941, null, "nm0000776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Apted", 1941, null, "nm0000776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Apted", 1941, null, "nm0000776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Apted", 1941, null, "nm0000776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Apted", 1941, null, "nm0000776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Apted", 1941, null, "nm0000776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Apted", 1941, null, "nm0000776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Apted", 1941, null, "nm0000776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Apted", 1941, null, "nm0000776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Apted", 1941, null, "nm0000776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Apted", 1941, null, "nm0000776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Apted", 1941, null, "nm0000776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Apted", 1941, null, "nm0000776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Irvin Kershner", 1923, 2010, "nm0449984")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Irvin Kershner", 1923, 2010, "nm0449984")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Irvin Kershner", 1923, 2010, "nm0449984")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean S. Cunningham", 1941, null, "nm0192446")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jamie Uys", 1921, 1996, "nm0371059")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jamie Uys", 1921, 1996, "nm0371059")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Mackenzie", 1928, 2011, "nm0533334")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Lustig", 1955, null, "nm0527350")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Lustig", 1955, null, "nm0527350")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Redford", 1936, null, "nm0000602")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Redford", 1936, null, "nm0000602")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Redford", 1936, null, "nm0000602")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Redford", 1936, null, "nm0000602")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Redford", 1936, null, "nm0000602")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Redford", 1936, null, "nm0000602")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Redford", 1936, null, "nm0000602")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Redford", 1936, null, "nm0000602")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Zieff", 1927, 2009, "nm0956052")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Zieff", 1927, 2009, "nm0956052")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Zieff", 1927, 2009, "nm0956052")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Zieff", 1927, 2009, "nm0956052")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Lynch", 1946, null, "nm0528420")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sidney Poitier", 1927, null, "nm0001627")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Zemeckis", 1951, null, "nm0000709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Zemeckis", 1951, null, "nm0000709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Zemeckis", 1951, null, "nm0000709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Zemeckis", 1951, null, "nm0000709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Zemeckis", 1951, null, "nm0000709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Zemeckis", 1951, null, "nm0000709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Zemeckis", 1951, null, "nm0000709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Zemeckis", 1951, null, "nm0000709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Zemeckis", 1951, null, "nm0000709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Zemeckis", 1951, null, "nm0000709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Zemeckis", 1951, null, "nm0000709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Zemeckis", 1951, null, "nm0000709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Zemeckis", 1951, null, "nm0000709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Zemeckis", 1951, null, "nm0000709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Zemeckis", 1951, null, "nm0000709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Zemeckis", 1951, null, "nm0000709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Zemeckis", 1951, null, "nm0000709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Zemeckis", 1951, null, "nm0000709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Art Linson", 1942, null, "nm0513165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Greenwald", 1945, null, "nm0339254")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wolfgang Petersen", 1941, null, "nm0000583")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wolfgang Petersen", 1941, null, "nm0000583")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wolfgang Petersen", 1941, null, "nm0000583")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wolfgang Petersen", 1941, null, "nm0000583")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wolfgang Petersen", 1941, null, "nm0000583")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wolfgang Petersen", 1941, null, "nm0000583")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wolfgang Petersen", 1941, null, "nm0000583")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wolfgang Petersen", 1941, null, "nm0000583")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wolfgang Petersen", 1941, null, "nm0000583")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wolfgang Petersen", 1941, null, "nm0000583")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard J. Wells", null, null, "nm0920396")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Susan Belbin", 1948, null, "nm0067621")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ray Patterson", 1911, 2001, "nm0666362")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Gordon", 1938, 1982, "nm0330619")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lawrence Kasdan", 1949, null, "nm0001410")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lawrence Kasdan", 1949, null, "nm0001410")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lawrence Kasdan", 1949, null, "nm0001410")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lawrence Kasdan", 1949, null, "nm0001410")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lawrence Kasdan", 1949, null, "nm0001410")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lawrence Kasdan", 1949, null, "nm0001410")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lawrence Kasdan", 1949, null, "nm0001410")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lawrence Kasdan", 1949, null, "nm0001410")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lawrence Kasdan", 1949, null, "nm0001410")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Maylam", 1943, null, "nm0562699")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Maylam", 1943, null, "nm0562699")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hugh Hudson", 1936, null, "nm0399853")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hugh Hudson", 1936, null, "nm0399853")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Uli Edel", 1947, null, "nm0248942")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Uli Edel", 1947, null, "nm0248942")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Uli Edel", 1947, null, "nm0248942")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Uli Edel", 1947, null, "nm0248942")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Uli Edel", 1947, null, "nm0248942")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Desmond Davis", 1926, null, "nm0204471")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Milius", 1944, null, "nm0587518")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Milius", 1944, null, "nm0587518")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Jacques Beineix", 1946, null, "nm0000894")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Jacques Beineix", 1946, null, "nm0000894")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew Robbins", 1945, null, "nm0730422")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew Robbins", 1945, null, "nm0730422")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Graham Baker", 1938, null, "nm0048491")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Graham Baker", 1938, null, "nm0048491")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Graham Baker", 1938, null, "nm0048491")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Glen", 1932, null, "nm0322515")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Glen", 1932, null, "nm0322515")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Glen", 1932, null, "nm0322515")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Glen", 1932, null, "nm0322515")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Glen", 1932, null, "nm0322515")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ted Berman", 1919, 2001, "nm0075859")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ted Berman", 1919, 2001, "nm0075859")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Karel Reisz", 1926, 2002, "nm0718554")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Miner", 1951, null, "nm0591171")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Miner", 1951, null, "nm0591171")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Miner", 1951, null, "nm0591171")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Miner", 1951, null, "nm0591171")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Miner", 1951, null, "nm0591171")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Miner", 1951, null, "nm0591171")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Miner", 1951, null, "nm0591171")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Miner", 1951, null, "nm0591171")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Miner", 1951, null, "nm0591171")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Miner", 1951, null, "nm0591171")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Miner", 1951, null, "nm0591171")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Henson", 1936, 1990, "nm0001345")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Henson", 1936, 1990, "nm0001345")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Jacques Annaud", 1943, null, "nm0000269")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Jacques Annaud", 1943, null, "nm0000269")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Jacques Annaud", 1943, null, "nm0000269")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Jacques Annaud", 1943, null, "nm0000269")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Jacques Annaud", 1943, null, "nm0000269")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Jacques Annaud", 1943, null, "nm0000269")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Jacques Annaud", 1943, null, "nm0000269")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Jacques Annaud", 1943, null, "nm0000269")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rick Rosenthal", 1949, null, "nm0742819")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rick Rosenthal", 1949, null, "nm0742819")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rick Rosenthal", 1949, null, "nm0742819")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gerald Potterton", 1931, null, "nm0693376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Perry", 1930, 1995, "nm0675068")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Mihalka", 1953, null, "nm0586198")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrzej Zulawski", 1940, 2016, "nm0958558")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Georges Lautner", 1926, 2013, "nm0491626")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harold Becker", 1928, null, "nm0000887")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harold Becker", 1928, null, "nm0000887")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harold Becker", 1928, null, "nm0000887")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harold Becker", 1928, null, "nm0000887")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harold Becker", 1928, null, "nm0000887")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harold Becker", 1928, null, "nm0000887")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Mann", 1943, null, "nm0000520")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Mann", 1943, null, "nm0000520")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Mann", 1943, null, "nm0000520")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Mann", 1943, null, "nm0000520")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Mann", 1943, null, "nm0000520")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Mann", 1943, null, "nm0000520")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Mann", 1943, null, "nm0000520")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Mann", 1943, null, "nm0000520")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Mann", 1943, null, "nm0000520")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Mann", 1943, null, "nm0000520")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Mann", 1943, null, "nm0000520")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Burrows", 1940, null, "nm0123273")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Burrows", 1940, null, "nm0123273")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Burrows", 1940, null, "nm0123273")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew Diamond", null, null, "nm0224683")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew Diamond", null, null, "nm0224683")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew Diamond", null, null, "nm0224683")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sidney Hayers", 1921, 2000, "nm0370868")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Zucker", 1947, null, "nm0001878")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Zucker", 1947, null, "nm0001878")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Zucker", 1947, null, "nm0001878")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Zucker", 1947, null, "nm0001878")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Zucker", 1947, null, "nm0001878")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Zucker", 1947, null, "nm0001878")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Zucker", 1947, null, "nm0001878")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Jackson", 1947, null, "nm0413921")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Finkleman", 1946, null, "nm0277946")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Henenlotter", 1950, null, "nm0376963")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Oz", 1944, null, "nm0000568")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Oz", 1944, null, "nm0000568")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Oz", 1944, null, "nm0000568")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Oz", 1944, null, "nm0000568")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Oz", 1944, null, "nm0000568")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Oz", 1944, null, "nm0000568")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Oz", 1944, null, "nm0000568")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Oz", 1944, null, "nm0000568")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Oz", 1944, null, "nm0000568")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Oz", 1944, null, "nm0000568")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Oz", 1944, null, "nm0000568")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Oz", 1944, null, "nm0000568")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Levinson", 1942, null, "nm0001469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Levinson", 1942, null, "nm0001469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Levinson", 1942, null, "nm0001469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Levinson", 1942, null, "nm0001469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Levinson", 1942, null, "nm0001469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Levinson", 1942, null, "nm0001469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Levinson", 1942, null, "nm0001469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Levinson", 1942, null, "nm0001469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Levinson", 1942, null, "nm0001469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Levinson", 1942, null, "nm0001469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Levinson", 1942, null, "nm0001469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Levinson", 1942, null, "nm0001469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Levinson", 1942, null, "nm0001469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Levinson", 1942, null, "nm0001469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Levinson", 1942, null, "nm0001469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Levinson", 1942, null, "nm0001469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Levinson", 1942, null, "nm0001469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Levinson", 1942, null, "nm0001469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Raimi", 1959, null, "nm0000600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Raimi", 1959, null, "nm0000600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Raimi", 1959, null, "nm0000600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Raimi", 1959, null, "nm0000600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Raimi", 1959, null, "nm0000600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Raimi", 1959, null, "nm0000600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Raimi", 1959, null, "nm0000600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Raimi", 1959, null, "nm0000600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Raimi", 1959, null, "nm0000600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Raimi", 1959, null, "nm0000600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Raimi", 1959, null, "nm0000600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Raimi", 1959, null, "nm0000600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Raimi", 1959, null, "nm0000600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amy Heckerling", 1954, null, "nm0002132")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amy Heckerling", 1954, null, "nm0002132")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amy Heckerling", 1954, null, "nm0002132")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amy Heckerling", 1954, null, "nm0002132")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amy Heckerling", 1954, null, "nm0002132")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amy Heckerling", 1954, null, "nm0002132")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amy Heckerling", 1954, null, "nm0002132")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amy Heckerling", 1954, null, "nm0002132")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amy Heckerling", 1954, null, "nm0002132")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ted Kotcheff", 1931, null, "nm0467646")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ted Kotcheff", 1931, null, "nm0467646")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patricia Birch", null, null, "nm0083279")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Hughes", null, null, "nm0400958")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Hughes", null, null, "nm0400958")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Hughes", null, null, "nm0400958")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Howard", 1954, null, "nm0000165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Taylor Hackford", 1944, null, "nm0000431")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Taylor Hackford", 1944, null, "nm0000431")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Taylor Hackford", 1944, null, "nm0000431")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Taylor Hackford", 1944, null, "nm0000431")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Taylor Hackford", 1944, null, "nm0000431")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Taylor Hackford", 1944, null, "nm0000431")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Taylor Hackford", 1944, null, "nm0000431")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Bluth", 1937, null, "nm0089940")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Bluth", 1937, null, "nm0089940")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Bluth", 1937, null, "nm0089940")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Bluth", 1937, null, "nm0089940")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dianne Jackson", 1941, 1992, "nm0413452")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Lisberger", 1951, null, "nm0513974")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Burton", 1958, null, "nm0000318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Burton", 1958, null, "nm0000318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Burton", 1958, null, "nm0000318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Burton", 1958, null, "nm0000318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Burton", 1958, null, "nm0000318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Burton", 1958, null, "nm0000318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Burton", 1958, null, "nm0000318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Burton", 1958, null, "nm0000318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Burton", 1958, null, "nm0000318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Burton", 1958, null, "nm0000318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Burton", 1958, null, "nm0000318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Burton", 1958, null, "nm0000318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Burton", 1958, null, "nm0000318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Burton", 1958, null, "nm0000318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Burton", 1958, null, "nm0000318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Burton", 1958, null, "nm0000318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Burton", 1958, null, "nm0000318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Burton", 1958, null, "nm0000318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Burton", 1958, null, "nm0000318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Burton", 1958, null, "nm0000318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Burton", 1958, null, "nm0000318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Serif Gören", 1944, null, "nm0351410")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Les Sheldon", null, null, "nm0791045")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Shardlow", null, null, "nm0788724")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruno Bianchi", 1955, 2011, "nm0080588")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenneth Johnson", 1942, null, "nm0425540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenneth Johnson", 1942, null, "nm0425540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenneth Johnson", 1942, null, "nm0425540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jackie Chan", 1954, null, "nm0000329")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jackie Chan", 1954, null, "nm0000329")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jackie Chan", 1954, null, "nm0000329")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jackie Chan", 1954, null, "nm0000329")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jackie Chan", 1954, null, "nm0000329")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jackie Chan", 1954, null, "nm0000329")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Chapman", 1935, null, "nm0152469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lewis Teague", 1938, null, "nm0853546")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lewis Teague", 1938, null, "nm0853546")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lewis Teague", 1938, null, "nm0853546")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lewis Teague", 1938, null, "nm0853546")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruce Gowers", 1940, null, "nm0332985")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruce Gowers", 1940, null, "nm0332985")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adrian Lyne", 1941, null, "nm0001490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adrian Lyne", 1941, null, "nm0001490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adrian Lyne", 1941, null, "nm0001490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adrian Lyne", 1941, null, "nm0001490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adrian Lyne", 1941, null, "nm0001490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adrian Lyne", 1941, null, "nm0001490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adrian Lyne", 1941, null, "nm0001490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tommy Lee Wallace", 1949, null, "nm0908890")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tommy Lee Wallace", 1949, null, "nm0908890")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tommy Lee Wallace", 1949, null, "nm0908890")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Scott", 1944, 2012, "nm0001716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Scott", 1944, 2012, "nm0001716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Scott", 1944, 2012, "nm0001716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Scott", 1944, 2012, "nm0001716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Scott", 1944, 2012, "nm0001716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Scott", 1944, 2012, "nm0001716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Scott", 1944, 2012, "nm0001716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Scott", 1944, 2012, "nm0001716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Scott", 1944, 2012, "nm0001716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Scott", 1944, 2012, "nm0001716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Scott", 1944, 2012, "nm0001716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Scott", 1944, 2012, "nm0001716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Scott", 1944, 2012, "nm0001716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Scott", 1944, 2012, "nm0001716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Scott", 1944, 2012, "nm0001716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Scott", 1944, 2012, "nm0001716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kundan Shah", 1947, 2017, "nm0787453")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kundan Shah", 1947, 2017, "nm0787453")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Alves", 1936, null, "nm0023469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Godfrey Reggio", 1940, null, "nm0716585")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bill Forsyth", 1946, null, "nm0287025")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stan Dragoti", 1932, 2018, "nm0236769")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stan Dragoti", 1932, 2018, "nm0236769")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Franklin", 1948, 2007, "nm0002207")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Marquand", 1937, 1987, "nm0549658")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Marquand", 1937, 1987, "nm0549658")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Brickman", 1949, null, "nm0001887")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Hiltzik", 1957, null, "nm0385349")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rick Moranis", 1953, null, "nm0001548")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James L. Brooks", 1940, null, "nm0000985")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James L. Brooks", 1940, null, "nm0000985")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James L. Brooks", 1940, null, "nm0000985")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James L. Brooks", 1940, null, "nm0000985")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James L. Brooks", 1940, null, "nm0000985")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martha Coolidge", 1946, null, "nm0004838")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martha Coolidge", 1946, null, "nm0004838")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martha Coolidge", 1946, null, "nm0004838")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martha Coolidge", 1946, null, "nm0004838")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barbra Streisand", 1942, null, "nm0000659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barbra Streisand", 1942, null, "nm0000659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barbra Streisand", 1942, null, "nm0000659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Croft", 1922, 2011, "nm0188462")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Grint", null, null, "nm0342487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Sandrich", 1932, null, "nm0004105")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Nicolella", 1945, 1998, "nm0630372")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Pullen Shaw", 1952, null, "nm0789598")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Margaret Nichols", null, 2012, "nm0282736")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("W.D. Richter", 1945, null, "nm0725379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neal Israel", 1945, null, "nm0411477")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Brest", 1951, null, "nm0000976")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Brest", 1951, null, "nm0000976")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Brest", 1951, null, "nm0000976")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Brest", 1951, null, "nm0000976")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Brest", 1951, null, "nm0000976")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Coen", 1954, null, "nm0001054")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Coen", 1954, null, "nm0001054")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Coen", 1954, null, "nm0001054")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Coen", 1954, null, "nm0001054")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Coen", 1954, null, "nm0001054")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Coen", 1954, null, "nm0001054")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Coen", 1954, null, "nm0001054")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Coen", 1954, null, "nm0001054")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Coen", 1954, null, "nm0001054")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Donaldson", 1945, null, "nm0002044")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Donaldson", 1945, null, "nm0002044")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Donaldson", 1945, null, "nm0002044")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Donaldson", 1945, null, "nm0002044")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Donaldson", 1945, null, "nm0002044")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Donaldson", 1945, null, "nm0002044")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Donaldson", 1945, null, "nm0002044")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Donaldson", 1945, null, "nm0002044")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Donaldson", 1945, null, "nm0002044")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Donaldson", 1945, null, "nm0002044")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Donaldson", 1945, null, "nm0002044")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Donaldson", 1945, null, "nm0002044")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Donaldson", 1945, null, "nm0002044")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fritz Kiersch", 1951, null, "nm0452607")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clive Donner", 1926, 2010, "nm0232795")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Jordan", 1950, null, "nm0001403")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Jordan", 1950, null, "nm0001403")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Jordan", 1950, null, "nm0001403")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Jordan", 1950, null, "nm0001403")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Jordan", 1950, null, "nm0001403")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Jordan", 1950, null, "nm0001403")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Jordan", 1950, null, "nm0001403")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Jordan", 1950, null, "nm0001403")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Jordan", 1950, null, "nm0001403")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Jordan", 1950, null, "nm0001403")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Jordan", 1950, null, "nm0001403")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Jordan", 1950, null, "nm0001403")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Jordan", 1950, null, "nm0001403")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Jordan", 1950, null, "nm0001403")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph Ruben", 1950, null, "nm0747849")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph Ruben", 1950, null, "nm0747849")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph Ruben", 1950, null, "nm0747849")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph Ruben", 1950, null, "nm0747849")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph Ruben", 1950, null, "nm0747849")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph Ruben", 1950, null, "nm0747849")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph Ruben", 1950, null, "nm0747849")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph Ruben", 1950, null, "nm0747849")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ulu Grosbard", 1929, 2012, "nm0343260")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ulu Grosbard", 1929, 2012, "nm0343260")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark L. Lester", 1946, null, "nm0504495")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark L. Lester", 1946, null, "nm0504495")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark L. Lester", 1946, null, "nm0504495")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark L. Lester", 1946, null, "nm0504495")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph Zito", 1946, null, "nm0957263")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph Zito", 1946, null, "nm0957263")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roland Joffé", 1945, null, "nm0423646")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roland Joffé", 1945, null, "nm0423646")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roland Joffé", 1945, null, "nm0423646")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roland Joffé", 1945, null, "nm0423646")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sammo Kam-Bo Hung", 1952, null, "nm0005033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sammo Kam-Bo Hung", 1952, null, "nm0005033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Castle", 1947, null, "nm0145309")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Castle", 1947, null, "nm0145309")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Castle", 1947, null, "nm0145309")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Mazursky", 1930, 2014, "nm0005196")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Mazursky", 1930, 2014, "nm0005196")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thom Eberhardt", 1947, null, "nm0248054")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thom Eberhardt", 1947, null, "nm0248054")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Radford", 1946, null, "nm0705535")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Radford", 1946, null, "nm0705535")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Radford", 1946, null, "nm0705535")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Radford", 1946, null, "nm0705535")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stewart Raffill", 1942, null, "nm0706296")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stewart Raffill", 1942, null, "nm0706296")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hugh Wilson", 1943, 2018, "nm0933505")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hugh Wilson", 1943, 2018, "nm0933505")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hugh Wilson", 1943, 2018, "nm0933505")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hugh Wilson", 1943, 2018, "nm0933505")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Albert Magnoli", null, null, "nm0536299")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Cox", 1954, null, "nm0007182")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Cox", 1954, null, "nm0007182")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Kanew", 1944, null, "nm0437596")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Juliusz Machulski", 1955, null, "nm0532702")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles E. Sellier Jr.", 1943, 2011, "nm0783398")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Hughes", 1950, 2009, "nm0000455")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Hughes", 1950, 2009, "nm0000455")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Hughes", 1950, 2009, "nm0000455")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Hughes", 1950, 2009, "nm0000455")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Hughes", 1950, 2009, "nm0000455")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Hughes", 1950, 2009, "nm0000455")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Hughes", 1950, 2009, "nm0000455")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Hughes", 1950, 2009, "nm0000455")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Leonard Nimoy", 1931, 2015, "nm0000559")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Leonard Nimoy", 1931, 2015, "nm0000559")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Leonard Nimoy", 1931, 2015, "nm0000559")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Demme", 1944, 2017, "nm0001129")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Demme", 1944, 2017, "nm0001129")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Demme", 1944, 2017, "nm0001129")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Demme", 1944, 2017, "nm0001129")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Demme", 1944, 2017, "nm0001129")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Demme", 1944, 2017, "nm0001129")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Demme", 1944, 2017, "nm0001129")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Demme", 1944, 2017, "nm0001129")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Jarmusch", 1953, null, "nm0000464")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Jarmusch", 1953, null, "nm0000464")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Jarmusch", 1953, null, "nm0000464")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Jarmusch", 1953, null, "nm0000464")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Jarmusch", 1953, null, "nm0000464")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Jarmusch", 1953, null, "nm0000464")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Jarmusch", 1953, null, "nm0000464")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Jarmusch", 1953, null, "nm0000464")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Jarmusch", 1953, null, "nm0000464")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Jarmusch", 1953, null, "nm0000464")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Jarmusch", 1953, null, "nm0000464")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Jarmusch", 1953, null, "nm0000464")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Cameron", 1954, null, "nm0000116")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Cameron", 1954, null, "nm0000116")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Cameron", 1954, null, "nm0000116")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Cameron", 1954, null, "nm0000116")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Cameron", 1954, null, "nm0000116")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Cameron", 1954, null, "nm0000116")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Cameron", 1954, null, "nm0000116")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Reiner", 1947, null, "nm0001661")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Reiner", 1947, null, "nm0001661")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Reiner", 1947, null, "nm0001661")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Reiner", 1947, null, "nm0001661")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Reiner", 1947, null, "nm0001661")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Reiner", 1947, null, "nm0001661")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Reiner", 1947, null, "nm0001661")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Reiner", 1947, null, "nm0001661")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Reiner", 1947, null, "nm0001661")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Reiner", 1947, null, "nm0001661")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Reiner", 1947, null, "nm0001661")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Reiner", 1947, null, "nm0001661")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Reiner", 1947, null, "nm0001661")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Reiner", 1947, null, "nm0001661")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Reiner", 1947, null, "nm0001661")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Reiner", 1947, null, "nm0001661")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Tuggle", 1948, null, "nm0876227")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gene Wilder", 1933, 2016, "nm0000698")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mandie Fletcher", 1954, null, "nm0282064")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mandie Fletcher", 1954, null, "nm0282064")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mandie Fletcher", 1954, null, "nm0282064")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Minoru Okazaki", 1942, null, "nm0645572")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Minoru Okazaki", 1942, null, "nm0645572")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Minoru Okazaki", 1942, null, "nm0645572")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Tracy", null, null, "nm0870533")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Correll", 1944, 2004, "nm0180891")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Connor", 1937, null, "nm0175428")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Katsuhito Akiyama", 1950, null, "nm0015425")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Firstenberg", 1950, null, "nm0278735")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Sullivan", null, null, "nm0838195")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Savage Steve Holland", 1960, null, "nm0390822")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Savage Steve Holland", 1960, null, "nm0390822")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Lynn", 1943, null, "nm0528718")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Lynn", 1943, null, "nm0528718")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Lynn", 1943, null, "nm0528718")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Lynn", 1943, null, "nm0528718")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Lynn", 1943, null, "nm0528718")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Lynn", 1943, null, "nm0528718")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Lynn", 1943, null, "nm0528718")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Wincer", 1943, null, "nm0934578")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Wincer", 1943, null, "nm0934578")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Wincer", 1943, null, "nm0934578")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Wincer", 1943, null, "nm0934578")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Wincer", 1943, null, "nm0934578")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Wincer", 1943, null, "nm0934578")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Wincer", 1943, null, "nm0934578")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lamberto Bava", 1944, null, "nm0000877")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Susan Seidelman", 1952, null, "nm0782384")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Susan Seidelman", 1952, null, "nm0782384")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Mandel", null, null, "nm0541677")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Mandel", null, null, "nm0541677")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Mandel", null, null, "nm0541677")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny Steinmann", 1942, 2012, "nm0826164")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Holland", 1943, null, "nm0276169")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Holland", 1943, null, "nm0276169")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Holland", 1943, null, "nm0276169")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Holland", 1943, null, "nm0276169")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rick Sloane", 1961, null, "nm0707691")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chi-Hwa Chen", null, null, "nm0155179")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lisa Gottlieb", null, null, "nm0331989")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hector Babenco", 1946, 2016, "nm0002199")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hector Babenco", 1946, 2016, "nm0002199")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Schultz", 1938, null, "nm0776317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lasse Hallström", 1946, null, "nm0002120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lasse Hallström", 1946, null, "nm0002120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lasse Hallström", 1946, null, "nm0002120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lasse Hallström", 1946, null, "nm0002120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lasse Hallström", 1946, null, "nm0002120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lasse Hallström", 1946, null, "nm0002120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lasse Hallström", 1946, null, "nm0002120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lasse Hallström", 1946, null, "nm0002120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lasse Hallström", 1946, null, "nm0002120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lasse Hallström", 1946, null, "nm0002120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lasse Hallström", 1946, null, "nm0002120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lasse Hallström", 1946, null, "nm0002120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lasse Hallström", 1946, null, "nm0002120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lasse Hallström", 1946, null, "nm0002120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lasse Hallström", 1946, null, "nm0002120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lasse Hallström", 1946, null, "nm0002120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jack Sholder", 1945, null, "nm0794791")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jack Sholder", 1945, null, "nm0794791")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Corey Yuen", 1951, null, "nm0477035")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Corey Yuen", 1951, null, "nm0477035")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jerry Paris", 1925, 1986, "nm0661577")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jerry Paris", 1925, 1986, "nm0661577")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Geoff Murphy", 1938, 2018, "nm0614276")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Geoff Murphy", 1938, 2018, "nm0614276")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Geoff Murphy", 1938, 2018, "nm0614276")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Geoff Murphy", 1938, 2018, "nm0614276")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George P. Cosmatos", 1941, 2005, "nm0181902")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George P. Cosmatos", 1941, 2005, "nm0181902")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George P. Cosmatos", 1941, 2005, "nm0181902")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George P. Cosmatos", 1941, 2005, "nm0181902")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Gordon", 1947, null, "nm0002340")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Gordon", 1947, null, "nm0002340")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Gordon", 1947, null, "nm0002340")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Gordon", 1947, null, "nm0002340")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Gordon", 1947, null, "nm0002340")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Gordon", 1947, null, "nm0002340")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan O'Bannon", 1946, 2009, "nm0639321")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walter Murch", 1943, null, "nm0004555")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrey Konchalovskiy", 1937, null, "nm0464846")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrey Konchalovskiy", 1937, null, "nm0464846")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrey Konchalovskiy", 1937, null, "nm0464846")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Attias", null, null, "nm0003733")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Attias", null, null, "nm0003733")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Attias", null, null, "nm0003733")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Attias", null, null, "nm0003733")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Attias", null, null, "nm0003733")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Attias", null, null, "nm0003733")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Schumacher", 1939, null, "nm0001708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Schumacher", 1939, null, "nm0001708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Schumacher", 1939, null, "nm0001708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Schumacher", 1939, null, "nm0001708")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Schumacher", 1939, null, "nm0001708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Schumacher", 1939, null, "nm0001708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Schumacher", 1939, null, "nm0001708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Schumacher", 1939, null, "nm0001708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Schumacher", 1939, null, "nm0001708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Schumacher", 1939, null, "nm0001708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Schumacher", 1939, null, "nm0001708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Schumacher", 1939, null, "nm0001708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Schumacher", 1939, null, "nm0001708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Schumacher", 1939, null, "nm0001708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Schumacher", 1939, null, "nm0001708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Schumacher", 1939, null, "nm0001708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Schumacher", 1939, null, "nm0001708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Schumacher", 1939, null, "nm0001708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Schumacher", 1939, null, "nm0001708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Schumacher", 1939, null, "nm0001708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Larry Cohen", 1936, 2019, "nm0169540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luc Besson", 1959, null, "nm0000108")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luc Besson", 1959, null, "nm0000108")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luc Besson", 1959, null, "nm0000108")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luc Besson", 1959, null, "nm0000108")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luc Besson", 1959, null, "nm0000108")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luc Besson", 1959, null, "nm0000108")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luc Besson", 1959, null, "nm0000108")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luc Besson", 1959, null, "nm0000108")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luc Besson", 1959, null, "nm0000108")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luc Besson", 1959, null, "nm0000108")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luc Besson", 1959, null, "nm0000108")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luc Besson", 1959, null, "nm0000108")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luc Besson", 1959, null, "nm0000108")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rod Daniel", 1942, 2016, "nm0199722")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rod Daniel", 1942, 2016, "nm0199722")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rod Daniel", 1942, 2016, "nm0199722")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rod Daniel", 1942, 2016, "nm0199722")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mick Jackson", 1943, null, "nm0413875")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mick Jackson", 1943, null, "nm0413875")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mick Jackson", 1943, null, "nm0413875")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mick Jackson", 1943, null, "nm0413875")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mick Jackson", 1943, null, "nm0413875")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mick Jackson", 1943, null, "nm0413875")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Herz", null, null, "nm0381230")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Toyoo Ashida", 1944, 2011, "nm0038953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nancy Heydorn", null, null, "nm0382191")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Faiman", null, null, "nm0265363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Faiman", null, null, "nm0265363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edward Zwick", 1952, null, "nm0001880")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edward Zwick", 1952, null, "nm0001880")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edward Zwick", 1952, null, "nm0001880")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edward Zwick", 1952, null, "nm0001880")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edward Zwick", 1952, null, "nm0001880")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edward Zwick", 1952, null, "nm0001880")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edward Zwick", 1952, null, "nm0001880")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edward Zwick", 1952, null, "nm0001880")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edward Zwick", 1952, null, "nm0001880")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edward Zwick", 1952, null, "nm0001880")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edward Zwick", 1952, null, "nm0001880")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fred Walton", null, null, "nm0910510")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Foley", 1953, null, "nm0001226")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Foley", 1953, null, "nm0001226")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Foley", 1953, null, "nm0001226")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Foley", 1953, null, "nm0001226")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Foley", 1953, null, "nm0001226")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Foley", 1953, null, "nm0001226")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Foley", 1953, null, "nm0001226")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Foley", 1953, null, "nm0001226")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Foley", 1953, null, "nm0001226")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Foley", 1953, null, "nm0001226")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Metter", 1933, null, "nm0582635")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Metter", 1933, null, "nm0582635")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Randa Haines", 1945, null, "nm0354279")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Morahan", 1929, 2017, "nm0602454")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Herek", 1958, null, "nm0378893")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Herek", 1958, null, "nm0378893")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Herek", 1958, null, "nm0378893")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Herek", 1958, null, "nm0378893")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Herek", 1958, null, "nm0378893")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Herek", 1958, null, "nm0378893")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Herek", 1958, null, "nm0378893")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Herek", 1958, null, "nm0378893")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Herek", 1958, null, "nm0378893")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Herek", 1958, null, "nm0378893")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Herek", 1958, null, "nm0378893")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Herek", 1958, null, "nm0378893")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Menahem Golan", 1929, 2014, "nm0324875")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Menahem Golan", 1929, 2014, "nm0324875")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom McLoughlin", 1950, null, "nm0572951")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Michener", 1932, 2018, "nm0585150")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Russell Mulcahy", 1953, null, "nm0611683")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Russell Mulcahy", 1953, null, "nm0611683")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Russell Mulcahy", 1953, null, "nm0611683")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Russell Mulcahy", 1953, null, "nm0611683")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Russell Mulcahy", 1953, null, "nm0611683")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Russell Mulcahy", 1953, null, "nm0611683")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Russell Mulcahy", 1953, null, "nm0611683")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Russell Mulcahy", 1953, null, "nm0611683")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Russell Mulcahy", 1953, null, "nm0611683")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Harmon", null, null, "nm0363553")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Harmon", null, null, "nm0363553")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Harmon", null, null, "nm0363553")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Anspaugh", 1946, null, "nm0000770")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Anspaugh", 1946, null, "nm0000770")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Willard Huyck", 1945, null, "nm0404754")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Elem Klimov", 1933, 2003, "nm0459552")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Claude Berri", 1934, 2009, "nm0001945")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Claude Berri", 1934, 2009, "nm0001945")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Claude Berri", 1934, 2009, "nm0001945")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Penny Marshall", 1943, 2018, "nm0001508")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Penny Marshall", 1943, 2018, "nm0001508")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Penny Marshall", 1943, 2018, "nm0001508")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Penny Marshall", 1943, 2018, "nm0001508")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Penny Marshall", 1943, 2018, "nm0001508")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Penny Marshall", 1943, 2018, "nm0001508")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Penny Marshall", 1943, 2018, "nm0001508")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Georgiy Daneliya", 1930, 2019, "nm0199381")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Seltzer", 1940, null, "nm0783544")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Lasseter", 1957, null, "nm0005124")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Lasseter", 1957, null, "nm0005124")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Lasseter", 1957, null, "nm0005124")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Lasseter", 1957, null, "nm0005124")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Lasseter", 1957, null, "nm0005124")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Lasseter", 1957, null, "nm0005124")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen King", 1947, null, "nm0000175")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Benjamin", 1938, null, "nm0000907")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Benjamin", 1938, null, "nm0000907")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Benjamin", 1938, null, "nm0000907")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Benjamin", 1938, null, "nm0000907")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Benjamin", 1938, null, "nm0000907")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Frears", 1941, null, "nm0001241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Frears", 1941, null, "nm0001241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Frears", 1941, null, "nm0001241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Frears", 1941, null, "nm0001241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Frears", 1941, null, "nm0001241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Frears", 1941, null, "nm0001241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Frears", 1941, null, "nm0001241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Frears", 1941, null, "nm0001241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Frears", 1941, null, "nm0001241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Frears", 1941, null, "nm0001241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Frears", 1941, null, "nm0001241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Frears", 1941, null, "nm0001241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Frears", 1941, null, "nm0001241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Frears", 1941, null, "nm0001241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Frears", 1941, null, "nm0001241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Frears", 1941, null, "nm0001241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fred Dekker", 1959, null, "nm0215269")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fred Dekker", 1959, null, "nm0215269")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fred Dekker", 1959, null, "nm0215269")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Stone", 1946, null, "nm0000231")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Stone", 1946, null, "nm0000231")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Stone", 1946, null, "nm0000231")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Stone", 1946, null, "nm0000231")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Stone", 1946, null, "nm0000231")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Stone", 1946, null, "nm0000231")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Stone", 1946, null, "nm0000231")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Stone", 1946, null, "nm0000231")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Stone", 1946, null, "nm0000231")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Stone", 1946, null, "nm0000231")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Stone", 1946, null, "nm0000231")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Stone", 1946, null, "nm0000231")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Stone", 1946, null, "nm0000231")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Stone", 1946, null, "nm0000231")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Stone", 1946, null, "nm0000231")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Stone", 1946, null, "nm0000231")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Stone", 1946, null, "nm0000231")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Stone", 1946, null, "nm0000231")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Gibson", 1944, 2004, "nm0001270")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Gibson", 1944, 2004, "nm0001270")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Gibson", 1944, 2004, "nm0001270")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Deutch", 1950, null, "nm0222043")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Deutch", 1950, null, "nm0222043")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Deutch", 1950, null, "nm0222043")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Deutch", 1950, null, "nm0222043")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Deutch", 1950, null, "nm0222043")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Deutch", 1950, null, "nm0222043")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Deutch", 1950, null, "nm0222043")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Perkins", 1932, 1992, "nm0000578")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Irvin", 1940, null, "nm0410139")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Irvin", 1940, null, "nm0410139")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Hunter", 1947, null, "nm0006853")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Hunter", 1947, null, "nm0006853")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Hunter", 1947, null, "nm0006853")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Ivory", 1928, null, "nm0412465")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Ivory", 1928, null, "nm0412465")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Ivory", 1928, null, "nm0412465")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Ivory", 1928, null, "nm0412465")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Ivory", 1928, null, "nm0412465")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harry Winer", 1947, null, "nm0934863")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jûzô Itami", 1933, 1997, "nm0411631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nelson Shin", 1939, null, "nm0793802")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Marvin", null, null, "nm0555549")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Woo", 1946, null, "nm0000247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Woo", 1946, null, "nm0000247")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Woo", 1946, null, "nm0000247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Woo", 1946, null, "nm0000247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Woo", 1946, null, "nm0000247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Woo", 1946, null, "nm0000247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Woo", 1946, null, "nm0000247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Woo", 1946, null, "nm0000247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Woo", 1946, null, "nm0000247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Woo", 1946, null, "nm0000247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Woo", 1946, null, "nm0000247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Markle", 1952, null, "nm0548533")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Randy Bradshaw", null, null, "nm0103523")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Krzysztof Kieslowski", 1941, 1996, "nm0001425")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Krzysztof Kieslowski", 1941, 1996, "nm0001425")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Krzysztof Kieslowski", 1941, 1996, "nm0001425")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Krzysztof Kieslowski", 1941, 1996, "nm0001425")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Krzysztof Kieslowski", 1941, 1996, "nm0001425")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Krzysztof Kieslowski", 1941, 1996, "nm0001425")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Krzysztof Kieslowski", 1941, 1996, "nm0001425")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Hathcock", 1944, null, "nm0368906")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Hathcock", 1944, null, "nm0368906")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Zwick", 1942, null, "nm0959034")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Zwick", 1942, null, "nm0959034")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Zwick", 1942, null, "nm0959034")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Zwick", 1942, null, "nm0959034")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gerry Cohen", null, null, "nm0169394")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gerry Cohen", null, null, "nm0169394")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cliff Bole", 1937, 2014, "nm0092853")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Cornell", 1941, null, "nm0180257")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Columbus", 1958, null, "nm0001060")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Columbus", 1958, null, "nm0001060")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Columbus", 1958, null, "nm0001060")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Columbus", 1958, null, "nm0001060")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Columbus", 1958, null, "nm0001060")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Columbus", 1958, null, "nm0001060")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Columbus", 1958, null, "nm0001060")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Columbus", 1958, null, "nm0001060")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Columbus", 1958, null, "nm0001060")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Columbus", 1958, null, "nm0001060")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Columbus", 1958, null, "nm0001060")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Columbus", 1958, null, "nm0001060")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Columbus", 1958, null, "nm0001060")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gabriel Axel", 1918, 2014, "nm0002196")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Shyer", 1941, null, "nm0796124")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Shyer", 1941, null, "nm0796124")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Shyer", 1941, null, "nm0796124")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Shyer", 1941, null, "nm0796124")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Shyer", 1941, null, "nm0796124")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Jackson", 1961, null, "nm0001392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Jackson", 1961, null, "nm0001392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Jackson", 1961, null, "nm0001392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Jackson", 1961, null, "nm0001392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Jackson", 1961, null, "nm0001392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Jackson", 1961, null, "nm0001392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Jackson", 1961, null, "nm0001392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Jackson", 1961, null, "nm0001392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Jackson", 1961, null, "nm0001392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Jackson", 1961, null, "nm0001392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Jackson", 1961, null, "nm0001392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Jackson", 1961, null, "nm0001392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Jackson", 1961, null, "nm0001392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Jackson", 1961, null, "nm0001392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barbet Schroeder", 1941, null, "nm0775447")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barbet Schroeder", 1941, null, "nm0775447")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barbet Schroeder", 1941, null, "nm0775447")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barbet Schroeder", 1941, null, "nm0775447")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barbet Schroeder", 1941, null, "nm0775447")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barbet Schroeder", 1941, null, "nm0775447")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim McBride", 1941, null, "nm0564319")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim McBride", 1941, null, "nm0564319")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Newt Arnold", 1922, 2000, "nm0036582")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jerry Rees", 1956, null, "nm0715916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Rash", null, null, "nm0711114")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Rash", null, null, "nm0711114")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Rash", null, null, "nm0711114")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Rash", null, null, "nm0711114")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Rash", null, null, "nm0711114")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Rash", null, null, "nm0711114")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Gornick", null, null, "nm0331193")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Emile Ardolino", 1943, 1993, "nm0001915")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Emile Ardolino", 1943, 1993, "nm0001915")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Emile Ardolino", 1943, 1993, "nm0001915")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Mankiewicz", 1942, 2010, "nm0542539")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Townsend", 1957, null, "nm0870186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John R. Cherry III", null, null, "nm0156047")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John R. Cherry III", null, null, "nm0156047")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tibor Takács", 1954, null, "nm0847749")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Dear", 1944, null, "nm0213100")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Dear", 1944, null, "nm0213100")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clive Barker", 1952, null, "nm0000850")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clive Barker", 1952, null, "nm0000850")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clive Barker", 1952, null, "nm0000850")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Mamet", 1947, null, "nm0000519")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Mamet", 1947, null, "nm0000519")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Mamet", 1947, null, "nm0000519")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Mamet", 1947, null, "nm0000519")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Mamet", 1947, null, "nm0000519")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Mamet", 1947, null, "nm0000519")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luis Valdez", 1940, null, "nm0883609")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marek Kanievska", 1952, null, "nm0437709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Gottlieb", 1945, 2014, "nm0331998")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Goddard", 1954, null, "nm0323787")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shekhar Kapur", 1945, null, "nm0001408")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shekhar Kapur", 1945, null, "nm0001408")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shekhar Kapur", 1945, null, "nm0001408")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shekhar Kapur", 1945, null, "nm0001408")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mani Ratnam", 1955, null, "nm0711745")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mani Ratnam", 1955, null, "nm0711745")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mani Ratnam", 1955, null, "nm0711745")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mani Ratnam", 1955, null, "nm0711745")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mani Ratnam", 1955, null, "nm0711745")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kathryn Bigelow", 1951, null, "nm0000941")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kathryn Bigelow", 1951, null, "nm0000941")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kathryn Bigelow", 1951, null, "nm0000941")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kathryn Bigelow", 1951, null, "nm0000941")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kathryn Bigelow", 1951, null, "nm0000941")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kathryn Bigelow", 1951, null, "nm0000941")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kathryn Bigelow", 1951, null, "nm0000941")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kathryn Bigelow", 1951, null, "nm0000941")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Tenney", 1955, null, "nm0855107")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chuck Russell", 1958, null, "nm0751080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chuck Russell", 1958, null, "nm0751080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chuck Russell", 1958, null, "nm0751080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chuck Russell", 1958, null, "nm0751080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chuck Russell", 1958, null, "nm0751080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chuck Russell", 1958, null, "nm0751080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chuck Russell", 1958, null, "nm0751080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Garry Marshall", 1934, 2016, "nm0005190")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Garry Marshall", 1934, 2016, "nm0005190")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Garry Marshall", 1934, 2016, "nm0005190")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Garry Marshall", 1934, 2016, "nm0005190")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Garry Marshall", 1934, 2016, "nm0005190")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Garry Marshall", 1934, 2016, "nm0005190")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Garry Marshall", 1934, 2016, "nm0005190")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Garry Marshall", 1934, 2016, "nm0005190")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Garry Marshall", 1934, 2016, "nm0005190")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Garry Marshall", 1934, 2016, "nm0005190")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Garry Marshall", 1934, 2016, "nm0005190")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Garry Marshall", 1934, 2016, "nm0005190")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Garry Marshall", 1934, 2016, "nm0005190")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Drake", null, null, "nm0236930")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John McTiernan", 1951, null, "nm0001532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John McTiernan", 1951, null, "nm0001532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John McTiernan", 1951, null, "nm0001532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John McTiernan", 1951, null, "nm0001532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John McTiernan", 1951, null, "nm0001532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John McTiernan", 1951, null, "nm0001532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John McTiernan", 1951, null, "nm0001532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John McTiernan", 1951, null, "nm0001532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John McTiernan", 1951, null, "nm0001532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Roth", 1948, null, "nm0005387")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Roth", 1948, null, "nm0005387")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Roth", 1948, null, "nm0005387")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Roth", 1948, null, "nm0005387")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fred Schepisi", 1939, null, "nm0770961")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fred Schepisi", 1939, null, "nm0770961")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fred Schepisi", 1939, null, "nm0770961")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fred Schepisi", 1939, null, "nm0770961")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fred Schepisi", 1939, null, "nm0770961")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Michael Glaser", 1943, null, "nm0001274")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Michael Glaser", 1943, null, "nm0001274")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Michael Glaser", 1943, null, "nm0001274")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ramón Menéndez", null, null, "nm0579466")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Leitch", null, null, "nm0500609")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phil Joanou", 1961, null, "nm0423333")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phil Joanou", 1961, null, "nm0423333")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phil Joanou", 1961, null, "nm0423333")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phil Joanou", 1961, null, "nm0423333")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny DeVito", 1944, null, "nm0000362")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny DeVito", 1944, null, "nm0000362")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny DeVito", 1944, null, "nm0000362")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny DeVito", 1944, null, "nm0000362")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny DeVito", 1944, null, "nm0000362")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny DeVito", 1944, null, "nm0000362")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruce Robinson", 1946, null, "nm0732430")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruce Robinson", 1946, null, "nm0732430")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruce Robinson", 1946, null, "nm0732430")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael J. Nelson", 1964, null, "nm0625621")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edward Bennett", 1950, null, "nm0071734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ed Bye", 1955, null, "nm0125753")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ed Bye", 1955, null, "nm0125753")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ed Bye", 1955, null, "nm0125753")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philip Charles MacKenzie", 1946, null, "nm0533383")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philip Charles MacKenzie", 1946, null, "nm0533383")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philip Charles MacKenzie", 1946, null, "nm0533383")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Dinner", null, null, "nm0227781")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Dinner", null, null, "nm0227781")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Davis", 1946, null, "nm0001112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Davis", 1946, null, "nm0001112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Davis", 1946, null, "nm0001112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Davis", 1946, null, "nm0001112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Davis", 1946, null, "nm0001112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Davis", 1946, null, "nm0001112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Davis", 1946, null, "nm0001112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Davis", 1946, null, "nm0001112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Kaplan", 1947, null, "nm0438279")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Kaplan", 1947, null, "nm0438279")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Kaplan", 1947, null, "nm0438279")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Kaplan", 1947, null, "nm0438279")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Katsuhiro Ôtomo", 1954, null, "nm0960028")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Katsuhiro Ôtomo", 1954, null, "nm0960028")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Boden", 1953, null, "nm0090877")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Boden", 1953, null, "nm0090877")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Shelton", 1945, null, "nm0005421")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Shelton", 1945, null, "nm0005421")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Shelton", 1945, null, "nm0005421")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Shelton", 1945, null, "nm0005421")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Shelton", 1945, null, "nm0005421")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Shelton", 1945, null, "nm0005421")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Allan Arkush", 1948, null, "nm0035106")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Allan Arkush", 1948, null, "nm0035106")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Petrie", 1920, 2004, "nm0677951")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mick Garris", 1951, null, "nm0308376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mick Garris", 1951, null, "nm0308376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mick Garris", 1951, null, "nm0308376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mick Garris", 1951, null, "nm0308376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mick Garris", 1951, null, "nm0308376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Sayles", 1950, null, "nm0000626")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Sayles", 1950, null, "nm0000626")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Signorelli", null, null, "nm0797526")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carl Buechler", 1952, 2019, "nm0119106")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dwight H. Little", 1956, null, "nm0514546")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dwight H. Little", 1956, null, "nm0514546")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dwight H. Little", 1956, null, "nm0514546")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dwight H. Little", 1956, null, "nm0514546")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dwight H. Little", 1956, null, "nm0514546")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dwight H. Little", 1956, null, "nm0514546")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Randel", 1956, null, "nm0709752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Isao Takahata", 1935, 2018, "nm0847223")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Isao Takahata", 1935, 2018, "nm0847223")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Isao Takahata", 1935, 2018, "nm0847223")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Isao Takahata", 1935, 2018, "nm0847223")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Keenen Ivory Wayans", 1958, null, "nm0005540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Keenen Ivory Wayans", 1958, null, "nm0005540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Keenen Ivory Wayans", 1958, null, "nm0005540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Keenen Ivory Wayans", 1958, null, "nm0005540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Keenen Ivory Wayans", 1958, null, "nm0005540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Chiodo", 1954, null, "nm0158014")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Beeman", 1962, null, "nm0066439")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Beeman", 1962, null, "nm0066439")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Beeman", 1962, null, "nm0066439")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jerry Kramer", null, null, "nm0469557")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pedro Almodóvar", 1949, null, "nm0000264")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pedro Almodóvar", 1949, null, "nm0000264")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pedro Almodóvar", 1949, null, "nm0000264")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pedro Almodóvar", 1949, null, "nm0000264")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pedro Almodóvar", 1949, null, "nm0000264")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pedro Almodóvar", 1949, null, "nm0000264")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pedro Almodóvar", 1949, null, "nm0000264")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pedro Almodóvar", 1949, null, "nm0000264")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pedro Almodóvar", 1949, null, "nm0000264")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pedro Almodóvar", 1949, null, "nm0000264")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pedro Almodóvar", 1949, null, "nm0000264")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pedro Almodóvar", 1949, null, "nm0000264")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pedro Almodóvar", 1949, null, "nm0000264")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pedro Almodóvar", 1949, null, "nm0000264")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Donald Petrie", 1954, null, "nm0677953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Donald Petrie", 1954, null, "nm0677953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Donald Petrie", 1954, null, "nm0677953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Donald Petrie", 1954, null, "nm0677953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Donald Petrie", 1954, null, "nm0677953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Donald Petrie", 1954, null, "nm0677953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Donald Petrie", 1954, null, "nm0677953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Donald Petrie", 1954, null, "nm0677953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Donald Petrie", 1954, null, "nm0677953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jan Svankmajer", 1934, null, "nm0840905")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Renny Harlin", 1959, null, "nm0001317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Renny Harlin", 1959, null, "nm0001317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Renny Harlin", 1959, null, "nm0001317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Renny Harlin", 1959, null, "nm0001317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Renny Harlin", 1959, null, "nm0001317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Renny Harlin", 1959, null, "nm0001317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Renny Harlin", 1959, null, "nm0001317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Renny Harlin", 1959, null, "nm0001317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Renny Harlin", 1959, null, "nm0001317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Renny Harlin", 1959, null, "nm0001317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Renny Harlin", 1959, null, "nm0001317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Renny Harlin", 1959, null, "nm0001317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Renny Harlin", 1959, null, "nm0001317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Renny Harlin", 1959, null, "nm0001317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Renny Harlin", 1959, null, "nm0001317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Renny Harlin", 1959, null, "nm0001317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Renny Harlin", 1959, null, "nm0001317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Giuseppe Tornatore", 1956, null, "nm0868153")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Giuseppe Tornatore", 1956, null, "nm0868153")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Giuseppe Tornatore", 1956, null, "nm0868153")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Giuseppe Tornatore", 1956, null, "nm0868153")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Giuseppe Tornatore", 1956, null, "nm0868153")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Scribner", null, null, "nm0780117")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Percy Adlon", 1935, null, "nm0000727")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Myerson", 1940, null, "nm0002887")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Myerson", 1940, null, "nm0002887")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Sherman", 1945, null, "nm0792446")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stan Winston", 1946, 2008, "nm0935644")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter MacDonald", 1939, null, "nm0003423")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter MacDonald", 1939, null, "nm0003423")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter MacDonald", 1939, null, "nm0003423")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Wiederhorn", 1945, null, "nm0927296")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carl Schultz", 1939, null, "nm0776209")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Spottiswoode", 1945, null, "nm0006854")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Spottiswoode", 1945, null, "nm0006854")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Spottiswoode", 1945, null, "nm0006854")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Spottiswoode", 1945, null, "nm0006854")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Spottiswoode", 1945, null, "nm0006854")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Spottiswoode", 1945, null, "nm0006854")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Spottiswoode", 1945, null, "nm0006854")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Sluizer", 1932, 2014, "nm0806293")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Sluizer", 1932, 2014, "nm0806293")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Towne", 1934, null, "nm0001801")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shin'ya Tsukamoto", 1960, null, "nm0875354")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Errol Morris", 1948, null, "nm0001554")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Errol Morris", 1948, null, "nm0001554")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Cain", 1943, null, "nm0128883")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Cain", 1943, null, "nm0128883")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anson Williams", 1949, null, "nm0930041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Kimball", 1941, null, "nm0453809")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rich Correll", 1948, null, "nm0180902")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rich Correll", 1948, null, "nm0180902")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rich Correll", 1948, null, "nm0180902")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Birkin", 1953, null, "nm0083606")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Whitmore Jr.", 1948, null, "nm0926215")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Shimokawa", null, null, "nm0793727")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike B. Anderson", null, null, "nm0027214")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Valerie Breiman", null, null, "nm0106928")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Radler", null, null, "nm0705675")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phillip Noyce", 1950, null, "nm0637518")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phillip Noyce", 1950, null, "nm0637518")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phillip Noyce", 1950, null, "nm0637518")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phillip Noyce", 1950, null, "nm0637518")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phillip Noyce", 1950, null, "nm0637518")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phillip Noyce", 1950, null, "nm0637518")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phillip Noyce", 1950, null, "nm0637518")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phillip Noyce", 1950, null, "nm0637518")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phillip Noyce", 1950, null, "nm0637518")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phillip Noyce", 1950, null, "nm0637518")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phillip Noyce", 1950, null, "nm0637518")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Masanori Hata", 1935, null, "nm0368675")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Greenaway", 1942, null, "nm0000425")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Greenaway", 1942, null, "nm0000425")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Albert Pyun", 1954, null, "nm0089502")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Albert Pyun", 1954, null, "nm0089502")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Spike Lee", 1957, null, "nm0000490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Spike Lee", 1957, null, "nm0000490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Spike Lee", 1957, null, "nm0000490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Spike Lee", 1957, null, "nm0000490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Spike Lee", 1957, null, "nm0000490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Spike Lee", 1957, null, "nm0000490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Spike Lee", 1957, null, "nm0000490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Spike Lee", 1957, null, "nm0000490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Spike Lee", 1957, null, "nm0000490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Spike Lee", 1957, null, "nm0000490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Spike Lee", 1957, null, "nm0000490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Spike Lee", 1957, null, "nm0000490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Emir Kusturica", 1954, null, "nm0001437")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Emir Kusturica", 1954, null, "nm0001437")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Emir Kusturica", 1954, null, "nm0001437")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Emir Kusturica", 1954, null, "nm0001437")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Emir Kusturica", 1954, null, "nm0001437")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gus Van Sant", 1952, null, "nm0001814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gus Van Sant", 1952, null, "nm0001814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gus Van Sant", 1952, null, "nm0001814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gus Van Sant", 1952, null, "nm0001814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gus Van Sant", 1952, null, "nm0001814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gus Van Sant", 1952, null, "nm0001814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gus Van Sant", 1952, null, "nm0001814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gus Van Sant", 1952, null, "nm0001814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gus Van Sant", 1952, null, "nm0001814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gus Van Sant", 1952, null, "nm0001814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gus Van Sant", 1952, null, "nm0001814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gus Van Sant", 1952, null, "nm0001814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gus Van Sant", 1952, null, "nm0001814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gus Van Sant", 1952, null, "nm0001814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gus Van Sant", 1952, null, "nm0001814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julien Temple", 1953, null, "nm0854697")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Kloves", 1960, null, "nm0460141")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phil Alden Robinson", 1950, null, "nm0004675")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phil Alden Robinson", 1950, null, "nm0004675")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phil Alden Robinson", 1950, null, "nm0004675")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phil Alden Robinson", 1950, null, "nm0004675")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Walas", 1955, null, "nm0906901")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Hedden", 1954, null, "nm0373154")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dominique Othenin-Girard", 1958, null, "nm0652860")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eddie Murphy", 1961, null, "nm0000552")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Lehmann", 1957, null, "nm0499724")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Lehmann", 1957, null, "nm0499724")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Lehmann", 1957, null, "nm0499724")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Lehmann", 1957, null, "nm0499724")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Lehmann", 1957, null, "nm0499724")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Lehmann", 1957, null, "nm0499724")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Lehmann", 1957, null, "nm0499724")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Lehmann", 1957, null, "nm0499724")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Lehmann", 1957, null, "nm0499724")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenneth Branagh", 1960, null, "nm0000110")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenneth Branagh", 1960, null, "nm0000110")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenneth Branagh", 1960, null, "nm0000110")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenneth Branagh", 1960, null, "nm0000110")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenneth Branagh", 1960, null, "nm0000110")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenneth Branagh", 1960, null, "nm0000110")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenneth Branagh", 1960, null, "nm0000110")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenneth Branagh", 1960, null, "nm0000110")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenneth Branagh", 1960, null, "nm0000110")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenneth Branagh", 1960, null, "nm0000110")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Johnston", 1950, null, "nm0002653")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Johnston", 1950, null, "nm0002653")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Johnston", 1950, null, "nm0002653")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Johnston", 1950, null, "nm0002653")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Johnston", 1950, null, "nm0002653")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Johnston", 1950, null, "nm0002653")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Johnston", 1950, null, "nm0002653")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Johnston", 1950, null, "nm0002653")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark DiSalle", null, null, "nm0228262")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Clements", 1953, null, "nm0166256")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Clements", 1953, null, "nm0166256")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Clements", 1953, null, "nm0166256")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Clements", 1953, null, "nm0166256")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Clements", 1953, null, "nm0166256")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Clements", 1953, null, "nm0166256")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Greenberg", 1947, 2018, "nm0338572")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Flynn", 1932, 2007, "nm0283500")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Flynn", 1932, 2007, "nm0283500")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David S. Ward", 1945, null, "nm0911486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David S. Ward", 1945, null, "nm0911486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David S. Ward", 1945, null, "nm0911486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David S. Ward", 1945, null, "nm0911486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Sheridan", 1949, null, "nm0006487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Sheridan", 1949, null, "nm0006487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Sheridan", 1949, null, "nm0006487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Sheridan", 1949, null, "nm0006487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Sheridan", 1949, null, "nm0006487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Sheridan", 1949, null, "nm0006487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Sheridan", 1949, null, "nm0006487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremiah S. Chechik", 1955, null, "nm0154819")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremiah S. Chechik", 1955, null, "nm0154819")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremiah S. Chechik", 1955, null, "nm0154819")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremiah S. Chechik", 1955, null, "nm0154819")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremiah S. Chechik", 1955, null, "nm0154819")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Hopkins", 1958, null, "nm0394280")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Hopkins", 1958, null, "nm0394280")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Hopkins", 1958, null, "nm0394280")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Hopkins", 1958, null, "nm0394280")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Hopkins", 1958, null, "nm0394280")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Hopkins", 1958, null, "nm0394280")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Hopkins", 1958, null, "nm0394280")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Hopkins", 1958, null, "nm0394280")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Hopkins", 1958, null, "nm0394280")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Hopkins", 1958, null, "nm0394280")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Hopkins", 1958, null, "nm0394280")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mary Lambert", 1951, null, "nm0005116")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mary Lambert", 1951, null, "nm0005116")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Bonerz", 1938, null, "nm0094288")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Bonerz", 1938, null, "nm0094288")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Goldblatt", null, null, "nm0325358")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rowdy Herrington", 1951, null, "nm0380705")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rowdy Herrington", 1951, null, "nm0380705")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Moore", 1954, null, "nm0601619")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Moore", 1954, null, "nm0601619")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Moore", 1954, null, "nm0601619")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Moore", 1954, null, "nm0601619")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Moore", 1954, null, "nm0601619")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Moore", 1954, null, "nm0601619")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Moore", 1954, null, "nm0601619")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Moore", 1954, null, "nm0601619")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cameron Crowe", 1957, null, "nm0001081")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cameron Crowe", 1957, null, "nm0001081")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cameron Crowe", 1957, null, "nm0001081")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cameron Crowe", 1957, null, "nm0001081")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cameron Crowe", 1957, null, "nm0001081")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cameron Crowe", 1957, null, "nm0001081")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cameron Crowe", 1957, null, "nm0001081")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cameron Crowe", 1957, null, "nm0001081")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Haneke", 1942, null, "nm0359734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Haneke", 1942, null, "nm0359734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Haneke", 1942, null, "nm0359734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Haneke", 1942, null, "nm0359734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Haneke", 1942, null, "nm0359734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Haneke", 1942, null, "nm0359734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Haneke", 1942, null, "nm0359734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Haneke", 1942, null, "nm0359734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Haneke", 1942, null, "nm0359734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Haneke", 1942, null, "nm0359734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Yuzna", 1949, null, "nm0951206")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Yuzna", 1949, null, "nm0951206")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Yuzna", 1949, null, "nm0951206")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Yuzna", 1949, null, "nm0951206")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Shatner", 1931, null, "nm0000638")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Veber", 1937, null, "nm0891554")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Veber", 1937, null, "nm0891554")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Veber", 1937, null, "nm0891554")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Veber", 1937, null, "nm0891554")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Levey", null, null, "nm0505409")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Bierman", null, null, "nm0081590")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Flaherty", 1945, null, "nm0280901")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Holland", 1961, null, "nm0390844")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Holland", 1961, null, "nm0390844")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Holland", 1961, null, "nm0390844")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Holland", 1961, null, "nm0390844")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Soderbergh", 1963, null, "nm0001752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Soderbergh", 1963, null, "nm0001752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Soderbergh", 1963, null, "nm0001752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Soderbergh", 1963, null, "nm0001752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Soderbergh", 1963, null, "nm0001752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Soderbergh", 1963, null, "nm0001752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Soderbergh", 1963, null, "nm0001752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Soderbergh", 1963, null, "nm0001752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Soderbergh", 1963, null, "nm0001752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Soderbergh", 1963, null, "nm0001752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Soderbergh", 1963, null, "nm0001752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Soderbergh", 1963, null, "nm0001752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Soderbergh", 1963, null, "nm0001752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Soderbergh", 1963, null, "nm0001752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Soderbergh", 1963, null, "nm0001752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Soderbergh", 1963, null, "nm0001752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Soderbergh", 1963, null, "nm0001752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Soderbergh", 1963, null, "nm0001752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Soderbergh", 1963, null, "nm0001752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Soderbergh", 1963, null, "nm0001752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Soderbergh", 1963, null, "nm0001752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Soderbergh", 1963, null, "nm0001752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Burns", 1953, null, "nm0122741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Burns", 1953, null, "nm0122741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfonso Ribeiro", 1971, null, "nm0005355")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Seed", 1947, null, "nm0781477")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ferdinand Fairfax", 1944, 2008, "nm0265564")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harold Snoad", 1935, null, "nm0811185")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Pressman", 1950, null, "nm0696309")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Pressman", 1950, null, "nm0696309")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jack Bender", 1949, null, "nm0070474")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jack Bender", 1949, null, "nm0070474")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jack Bender", 1949, null, "nm0070474")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jack Bender", 1949, null, "nm0070474")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jack Bender", 1949, null, "nm0070474")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Ackerman", null, null, "nm0009953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Ackerman", null, null, "nm0009953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Ackerman", null, null, "nm0009953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Ackerman", null, null, "nm0009953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ed Ghertner", null, null, "nm0315695")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Boyer", null, null, "nm0102061")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Marshall", 1946, null, "nm0550881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Marshall", 1946, null, "nm0550881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Marshall", 1946, null, "nm0550881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Marshall", 1946, null, "nm0550881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Lafia", null, null, "nm0480843")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Paul Rappeneau", 1932, null, "nm0710919")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Costner", 1955, null, "nm0000126")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Costner", 1955, null, "nm0000126")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Costner", 1955, null, "nm0000126")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Deran Sarafian", 1958, null, "nm0764776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Deran Sarafian", 1958, null, "nm0764776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Deran Sarafian", 1958, null, "nm0764776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Peter Blatty", 1928, 2017, "nm0087861")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Bergman", 1945, null, "nm0000921")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Bergman", 1945, null, "nm0000921")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Bergman", 1945, null, "nm0000921")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Bergman", 1945, null, "nm0000921")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jerry Zucker", 1950, null, "nm0958387")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jerry Zucker", 1950, null, "nm0958387")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jerry Zucker", 1950, null, "nm0958387")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruce Malmuth", 1934, 2005, "nm0540330")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Stanley", 1966, null, "nm0822582")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John McNaughton", 1950, null, "nm0573796")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John McNaughton", 1950, null, "nm0573796")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John McNaughton", 1950, null, "nm0573796")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Agnieszka Holland", 1948, null, "nm0002140")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Agnieszka Holland", 1948, null, "nm0002140")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Agnieszka Holland", 1948, null, "nm0002140")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Agnieszka Holland", 1948, null, "nm0002140")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Reginald Hudlin", 1961, null, "nm0399737")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Reginald Hudlin", 1961, null, "nm0399737")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Reginald Hudlin", 1961, null, "nm0399737")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Reginald Hudlin", 1961, null, "nm0399737")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Reginald Hudlin", 1961, null, "nm0399737")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Figgis", 1948, null, "nm0001214")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Figgis", 1948, null, "nm0001214")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Figgis", 1948, null, "nm0001214")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Patrick Shanley", 1950, null, "nm0788234")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Patrick Shanley", 1950, null, "nm0788234")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Abel Ferrara", 1951, null, "nm0001206")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Abel Ferrara", 1951, null, "nm0001206")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Abel Ferrara", 1951, null, "nm0001206")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Burr", 1963, null, "nm0123009")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sheldon Lettich", 1951, null, "nm0504802")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sheldon Lettich", 1951, null, "nm0504802")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harry Hook", 1960, null, "nm0393591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sooraj R. Barjatya", 1965, null, "nm0054744")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sooraj R. Barjatya", 1965, null, "nm0054744")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sooraj R. Barjatya", 1965, null, "nm0054744")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Caton-Jones", 1957, null, "nm0001994")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Caton-Jones", 1957, null, "nm0001994")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Caton-Jones", 1957, null, "nm0001994")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Caton-Jones", 1957, null, "nm0001994")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Caton-Jones", 1957, null, "nm0001994")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Caton-Jones", 1957, null, "nm0001994")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Caton-Jones", 1957, null, "nm0001994")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Caton-Jones", 1957, null, "nm0001994")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Emilio Estevez", 1962, null, "nm0000389")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Emilio Estevez", 1962, null, "nm0000389")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Emilio Estevez", 1962, null, "nm0000389")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Orr", 1953, null, "nm0650561")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Abbas Kiarostami", 1940, 2016, "nm0452102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Abbas Kiarostami", 1940, 2016, "nm0452102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Abbas Kiarostami", 1940, 2016, "nm0452102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Miller", 1943, null, "nm0004305")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Savini", 1946, null, "nm0767741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jennie Livingston", null, null, "nm0515255")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennis Dugan", 1946, null, "nm0240797")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennis Dugan", 1946, null, "nm0240797")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennis Dugan", 1946, null, "nm0240797")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennis Dugan", 1946, null, "nm0240797")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennis Dugan", 1946, null, "nm0240797")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennis Dugan", 1946, null, "nm0240797")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennis Dugan", 1946, null, "nm0240797")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennis Dugan", 1946, null, "nm0240797")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennis Dugan", 1946, null, "nm0240797")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennis Dugan", 1946, null, "nm0240797")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennis Dugan", 1946, null, "nm0240797")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennis Dugan", 1946, null, "nm0240797")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennis Dugan", 1946, null, "nm0240797")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Allan Moyle", 1947, null, "nm0610496")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Allan Moyle", 1947, null, "nm0610496")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard Franklin", null, null, "nm0291442")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hendel Butoy", 1958, null, "nm0125186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Stoppard", 1937, null, "nm0001779")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Harrison", null, null, "nm0365666")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Harrison", null, null, "nm0365666")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Barron", 1956, null, "nm0006625")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Barron", 1956, null, "nm0006625")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Barron", 1956, null, "nm0006625")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Underwood", 1953, null, "nm0881038")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Underwood", 1953, null, "nm0881038")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Underwood", 1953, null, "nm0881038")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Underwood", 1953, null, "nm0881038")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Underwood", 1953, null, "nm0881038")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jack Nicholson", 1937, null, "nm0000197")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zalman King", 1942, 2012, "nm0455394")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tad Stones", 1952, null, "nm0832309")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tad Stones", 1952, null, "nm0832309")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tad Stones", 1952, null, "nm0832309")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Trbovich", 1942, null, "nm0871541")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Eastman", null, null, "nm0247678")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Morris", null, null, "nm0606357")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Camp", 1956, null, "nm0131968")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Ressel", null, null, "nm0720383")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Ressel", null, null, "nm0720383")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kar-Wai Wong", 1956, null, "nm0939182")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kar-Wai Wong", 1956, null, "nm0939182")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kar-Wai Wong", 1956, null, "nm0939182")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kar-Wai Wong", 1956, null, "nm0939182")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kar-Wai Wong", 1956, null, "nm0939182")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kar-Wai Wong", 1956, null, "nm0939182")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kar-Wai Wong", 1956, null, "nm0939182")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kar-Wai Wong", 1956, null, "nm0939182")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kar-Wai Wong", 1956, null, "nm0939182")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Sonnenfeld", 1953, null, "nm0001756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Sonnenfeld", 1953, null, "nm0001756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Sonnenfeld", 1953, null, "nm0001756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Sonnenfeld", 1953, null, "nm0001756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Sonnenfeld", 1953, null, "nm0001756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Sonnenfeld", 1953, null, "nm0001756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Sonnenfeld", 1953, null, "nm0001756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Sonnenfeld", 1953, null, "nm0001756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Sonnenfeld", 1953, null, "nm0001756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Sonnenfeld", 1953, null, "nm0001756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Sonnenfeld", 1953, null, "nm0001756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Leos Carax", 1960, null, "nm0136021")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Leos Carax", 1960, null, "nm0136021")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Wells", 1961, null, "nm0920425")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Wells", 1961, null, "nm0920425")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Wells", 1961, null, "nm0920425")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Wells", 1961, null, "nm0920425")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Wells", 1961, null, "nm0920425")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kirk Wise", 1963, null, "nm0936374")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kirk Wise", 1963, null, "nm0936374")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kirk Wise", 1963, null, "nm0936374")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Hewitt", 1962, null, "nm0382072")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Hewitt", 1962, null, "nm0382072")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Hewitt", 1962, null, "nm0382072")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Hewitt", 1962, null, "nm0382072")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Hewitt", 1962, null, "nm0382072")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Singleton", 1968, 2019, "nm0005436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Singleton", 1968, 2019, "nm0005436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Singleton", 1968, 2019, "nm0005436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Singleton", 1968, 2019, "nm0005436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Singleton", 1968, 2019, "nm0005436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Singleton", 1968, 2019, "nm0005436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Singleton", 1968, 2019, "nm0005436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Singleton", 1968, 2019, "nm0005436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kristine Peterson", null, null, "nm0677253")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yimou Zhang", 1951, null, "nm0955443")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yimou Zhang", 1951, null, "nm0955443")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yimou Zhang", 1951, null, "nm0955443")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yimou Zhang", 1951, null, "nm0955443")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yimou Zhang", 1951, null, "nm0955443")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yimou Zhang", 1951, null, "nm0955443")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yimou Zhang", 1951, null, "nm0955443")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yimou Zhang", 1951, null, "nm0955443")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Albert Brooks", 1947, null, "nm0000983")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Albert Brooks", 1947, null, "nm0000983")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Pierre Jeunet", 1953, null, "nm0000466")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Pierre Jeunet", 1953, null, "nm0000466")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Pierre Jeunet", 1953, null, "nm0000466")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Pierre Jeunet", 1953, null, "nm0000466")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Pierre Jeunet", 1953, null, "nm0000466")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Pierre Jeunet", 1953, null, "nm0000466")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ate de Jong", 1953, null, "nm0429517")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lars von Trier", 1956, null, "nm0001885")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lars von Trier", 1956, null, "nm0001885")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lars von Trier", 1956, null, "nm0001885")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lars von Trier", 1956, null, "nm0001885")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lars von Trier", 1956, null, "nm0001885")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lars von Trier", 1956, null, "nm0001885")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lars von Trier", 1956, null, "nm0001885")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lars von Trier", 1956, null, "nm0001885")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lars von Trier", 1956, null, "nm0001885")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lars von Trier", 1956, null, "nm0001885")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lars von Trier", 1956, null, "nm0001885")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lars von Trier", 1956, null, "nm0001885")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lars von Trier", 1956, null, "nm0001885")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rachel Talalay", 1958, null, "nm0003080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rachel Talalay", 1958, null, "nm0003080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rachel Talalay", 1958, null, "nm0003080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rachel Talalay", 1958, null, "nm0003080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Avnet", 1949, null, "nm0000816")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Avnet", 1949, null, "nm0000816")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Avnet", 1949, null, "nm0000816")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Avnet", 1949, null, "nm0000816")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Avnet", 1949, null, "nm0000816")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Avnet", 1949, null, "nm0000816")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fax Bahr", null, null, "nm0046943")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ngai Choi Lam", null, null, "nm0482670")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jodie Foster", 1962, null, "nm0000149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jodie Foster", 1962, null, "nm0000149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jodie Foster", 1962, null, "nm0000149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jodie Foster", 1962, null, "nm0000149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jodie Foster", 1962, null, "nm0000149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dale Launer", 1952, null, "nm0490958")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gabriele Salvatores", 1950, null, "nm0759368")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gabriele Salvatores", 1950, null, "nm0759368")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mario Van Peebles", 1957, null, "nm0005522")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Gilbert", 1960, null, "nm0317981")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Gilbert", 1960, null, "nm0317981")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan Aykroyd", 1952, null, "nm0000101")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Levant", 1952, null, "nm0505152")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Levant", 1952, null, "nm0505152")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Levant", 1952, null, "nm0505152")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Levant", 1952, null, "nm0505152")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Levant", 1952, null, "nm0505152")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Levant", 1952, null, "nm0505152")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Levant", 1952, null, "nm0505152")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Levant", 1952, null, "nm0505152")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Levant", 1952, null, "nm0505152")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William A. Graham", 1926, 2013, "nm0334353")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Reynolds", 1952, null, "nm0721817")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Reynolds", 1952, null, "nm0721817")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Reynolds", 1952, null, "nm0721817")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Reynolds", 1952, null, "nm0721817")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Reynolds", 1952, null, "nm0721817")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Reynolds", 1952, null, "nm0721817")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Reynolds", 1952, null, "nm0721817")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Linklater", 1960, null, "nm0000500")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Linklater", 1960, null, "nm0000500")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Linklater", 1960, null, "nm0000500")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Linklater", 1960, null, "nm0000500")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Linklater", 1960, null, "nm0000500")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Linklater", 1960, null, "nm0000500")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Linklater", 1960, null, "nm0000500")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Linklater", 1960, null, "nm0000500")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Linklater", 1960, null, "nm0000500")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Linklater", 1960, null, "nm0000500")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Linklater", 1960, null, "nm0000500")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Linklater", 1960, null, "nm0000500")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Linklater", 1960, null, "nm0000500")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Linklater", 1960, null, "nm0000500")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Linklater", 1960, null, "nm0000500")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Linklater", 1960, null, "nm0000500")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Hoffman", 1956, null, "nm0001355")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Hoffman", 1956, null, "nm0001355")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Hoffman", 1956, null, "nm0001355")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Hoffman", 1956, null, "nm0001355")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Hoffman", 1956, null, "nm0001355")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Hoffman", 1956, null, "nm0001355")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Hoffman", 1956, null, "nm0001355")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Petrie Jr.", 1952, null, "nm0677943")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Petrie Jr.", 1952, null, "nm0677943")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hark Tsui", 1950, null, "nm0007139")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hark Tsui", 1950, null, "nm0007139")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hark Tsui", 1950, null, "nm0007139")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hark Tsui", 1950, null, "nm0007139")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("D.J. MacHale", 1956, null, "nm0532530")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Altieri", null, null, "nm0022828")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennis Berry", 1944, null, "nm0077533")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Moore", 1943, null, "nm0601963")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bethany Rooney", null, null, "nm0385151")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Larry Houston", null, null, "nm0396860")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Turteltaub", 1963, null, "nm0005509")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Turteltaub", 1963, null, "nm0005509")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Turteltaub", 1963, null, "nm0005509")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Turteltaub", 1963, null, "nm0005509")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Turteltaub", 1963, null, "nm0005509")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Turteltaub", 1963, null, "nm0005509")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Turteltaub", 1963, null, "nm0005509")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Turteltaub", 1963, null, "nm0005509")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Turteltaub", 1963, null, "nm0005509")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Turteltaub", 1963, null, "nm0005509")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Turteltaub", 1963, null, "nm0005509")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Fincher", 1962, null, "nm0000399")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Fincher", 1962, null, "nm0000399")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Fincher", 1962, null, "nm0000399")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Fincher", 1962, null, "nm0000399")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Fincher", 1962, null, "nm0000399")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Fincher", 1962, null, "nm0000399")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Fincher", 1962, null, "nm0000399")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Fincher", 1962, null, "nm0000399")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Fincher", 1962, null, "nm0000399")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Fincher", 1962, null, "nm0000399")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Fincher", 1962, null, "nm0000399")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Fricke", null, null, "nm0294825")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Fricke", null, null, "nm0294825")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Robbins", 1958, null, "nm0000209")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Robbins", 1958, null, "nm0000209")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fran Rubel Kuzui", null, null, "nm0476900")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rémy Belvaux", 1966, 2006, "nm0069715")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bernard Rose", 1960, null, "nm0741262")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bernard Rose", 1960, null, "nm0741262")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfonso Arau", 1932, null, "nm0000778")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfonso Arau", 1932, null, "nm0000778")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guillermo del Toro", 1964, null, "nm0868219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guillermo del Toro", 1964, null, "nm0868219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guillermo del Toro", 1964, null, "nm0868219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guillermo del Toro", 1964, null, "nm0868219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guillermo del Toro", 1964, null, "nm0868219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guillermo del Toro", 1964, null, "nm0868219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guillermo del Toro", 1964, null, "nm0868219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guillermo del Toro", 1964, null, "nm0868219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guillermo del Toro", 1964, null, "nm0868219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guillermo del Toro", 1964, null, "nm0868219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Kosminsky", 1956, null, "nm0467225")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Kosminsky", 1956, null, "nm0467225")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Les Mayfield", null, null, "nm0562645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Les Mayfield", null, null, "nm0562645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Les Mayfield", null, null, "nm0562645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Les Mayfield", null, null, "nm0562645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Les Mayfield", null, null, "nm0562645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Les Mayfield", null, null, "nm0562645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Les Mayfield", null, null, "nm0562645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bill Kroyer", null, null, "nm0472386")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Park", 1958, null, "nm0661910")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Park", 1958, null, "nm0661910")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Park", 1958, null, "nm0661910")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Park", 1958, null, "nm0661910")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Park", 1958, null, "nm0661910")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Park", 1958, null, "nm0661910")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Curtis Hanson", 1945, 2016, "nm0000436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Curtis Hanson", 1945, 2016, "nm0000436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Curtis Hanson", 1945, 2016, "nm0000436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Curtis Hanson", 1945, 2016, "nm0000436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Curtis Hanson", 1945, 2016, "nm0000436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Curtis Hanson", 1945, 2016, "nm0000436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Curtis Hanson", 1945, 2016, "nm0000436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Curtis Hanson", 1945, 2016, "nm0000436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Hickox", 1959, null, "nm0382776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bigas Luna", 1946, 2013, "nm0000940")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Tong", 1960, null, "nm0867262")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Tong", 1960, null, "nm0867262")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Tong", 1960, null, "nm0867262")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Tong", 1960, null, "nm0867262")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Tong", 1960, null, "nm0867262")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mansoor Khan", null, null, "nm0451257")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ernest R. Dickerson", 1951, null, "nm0225416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ernest R. Dickerson", 1951, null, "nm0225416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ernest R. Dickerson", 1951, null, "nm0225416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ernest R. Dickerson", 1951, null, "nm0225416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ernest R. Dickerson", 1951, null, "nm0225416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ernest R. Dickerson", 1951, null, "nm0225416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ernest R. Dickerson", 1951, null, "nm0225416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ernest R. Dickerson", 1951, null, "nm0225416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ernest R. Dickerson", 1951, null, "nm0225416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brett Leonard", 1959, null, "nm0502577")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brett Leonard", 1959, null, "nm0502577")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Pearce", 1943, null, "nm0669004")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Rodriguez", 1968, null, "nm0001675")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Rodriguez", 1968, null, "nm0001675")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Rodriguez", 1968, null, "nm0001675")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Rodriguez", 1968, null, "nm0001675")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Rodriguez", 1968, null, "nm0001675")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Rodriguez", 1968, null, "nm0001675")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Rodriguez", 1968, null, "nm0001675")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Rodriguez", 1968, null, "nm0001675")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Rodriguez", 1968, null, "nm0001675")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Rodriguez", 1968, null, "nm0001675")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Rodriguez", 1968, null, "nm0001675")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Rodriguez", 1968, null, "nm0001675")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Rodriguez", 1968, null, "nm0001675")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Rodriguez", 1968, null, "nm0001675")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Rodriguez", 1968, null, "nm0001675")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Henson", 1963, null, "nm0005008")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Henson", 1963, null, "nm0005008")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Henson", 1963, null, "nm0005008")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenny Ortega", 1950, null, "nm0650905")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenny Ortega", 1950, null, "nm0650905")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenny Ortega", 1950, null, "nm0650905")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenny Ortega", 1950, null, "nm0650905")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenny Ortega", 1950, null, "nm0650905")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenny Ortega", 1950, null, "nm0650905")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenny Ortega", 1950, null, "nm0650905")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Sinise", 1955, null, "nm0000641")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Hooks", 1958, null, "nm0393661")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Hooks", 1958, null, "nm0393661")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Hooks", 1958, null, "nm0393661")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Katt Shea", 1957, null, "nm0002240")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Katt Shea", 1957, null, "nm0002240")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Dahl", 1956, null, "nm0001093")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Dahl", 1956, null, "nm0001093")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Dahl", 1956, null, "nm0001093")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Dahl", 1956, null, "nm0001093")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Dahl", 1956, null, "nm0001093")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Dahl", 1956, null, "nm0001093")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Dahl", 1956, null, "nm0001093")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Dahl", 1956, null, "nm0001093")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Quentin Tarantino", 1963, null, "nm0000233")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Quentin Tarantino", 1963, null, "nm0000233")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Quentin Tarantino", 1963, null, "nm0000233")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Quentin Tarantino", 1963, null, "nm0000233")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Quentin Tarantino", 1963, null, "nm0000233")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Quentin Tarantino", 1963, null, "nm0000233")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Quentin Tarantino", 1963, null, "nm0000233")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Quentin Tarantino", 1963, null, "nm0000233")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Quentin Tarantino", 1963, null, "nm0000233")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Quentin Tarantino", 1963, null, "nm0000233")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Quentin Tarantino", 1963, null, "nm0000233")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Geoffrey Wright", 1959, null, "nm0942408")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Geoffrey Wright", 1959, null, "nm0942408")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Baz Luhrmann", 1962, null, "nm0525303")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Baz Luhrmann", 1962, null, "nm0525303")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Baz Luhrmann", 1962, null, "nm0525303")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Baz Luhrmann", 1962, null, "nm0525303")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Baz Luhrmann", 1962, null, "nm0525303")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Claudio Fragasso", 1951, null, "nm0289576")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roland Emmerich", 1955, null, "nm0000386")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roland Emmerich", 1955, null, "nm0000386")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roland Emmerich", 1955, null, "nm0000386")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roland Emmerich", 1955, null, "nm0000386")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roland Emmerich", 1955, null, "nm0000386")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roland Emmerich", 1955, null, "nm0000386")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roland Emmerich", 1955, null, "nm0000386")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roland Emmerich", 1955, null, "nm0000386")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roland Emmerich", 1955, null, "nm0000386")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roland Emmerich", 1955, null, "nm0000386")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roland Emmerich", 1955, null, "nm0000386")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Penelope Spheeris", 1945, null, "nm0790715")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Penelope Spheeris", 1945, null, "nm0790715")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Penelope Spheeris", 1945, null, "nm0790715")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Penelope Spheeris", 1945, null, "nm0790715")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Penelope Spheeris", 1945, null, "nm0790715")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfred Gimeno", null, null, "nm0319791")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Vejar", 1943, null, "nm0892144")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Vejar", 1943, null, "nm0892144")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Judge", 1962, null, "nm0431918")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Judge", 1962, null, "nm0431918")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Judge", 1962, null, "nm0431918")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Judge", 1962, null, "nm0431918")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Judge", 1962, null, "nm0431918")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Judge", 1962, null, "nm0431918")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lee", null, null, "nm0497115")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kathy Bates", 1948, null, "nm0000870")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Morris Abraham", null, null, "nm0008956")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jerry Foley", null, null, "nm0284159")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philip Sgriccia", null, null, "nm0004223")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philip Sgriccia", null, null, "nm0004223")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terence H. Winkless", null, null, "nm0935288")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff McCracken", 1952, null, "nm0566841")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Posner", null, null, "nm0692733")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Murray", 1961, null, "nm0615061")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Power", 1930, 2016, "nm0694411")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Preece", null, null, "nm0695779")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kim Manners", 1951, 2009, "nm0543129")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kaige Chen", 1952, null, "nm0155280")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kaige Chen", 1952, null, "nm0155280")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mastan Alibhai Burmawalla", null, null, "nm0122217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mastan Alibhai Burmawalla", null, null, "nm0122217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rolf de Heer", 1951, null, "nm0208854")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eric Radomski", null, null, "nm0705779")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jennifer Lynch", 1968, null, "nm0528337")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jennifer Lynch", 1968, null, "nm0528337")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jennifer Lynch", 1968, null, "nm0528337")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jennifer Lynch", 1968, null, "nm0528337")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert De Niro", 1943, null, "nm0000134")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert De Niro", 1943, null, "nm0000134")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Shapiro", 1957, null, "nm0788454")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marco Brambilla", 1960, null, "nm0104193")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marco Brambilla", 1960, null, "nm0104193")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Yukich", null, null, "nm0950819")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Cohen", 1949, null, "nm0003418")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Cohen", 1949, null, "nm0003418")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Cohen", 1949, null, "nm0003418")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Cohen", 1949, null, "nm0003418")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Cohen", 1949, null, "nm0003418")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Cohen", 1949, null, "nm0003418")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Cohen", 1949, null, "nm0003418")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Cohen", 1949, null, "nm0003418")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Cohen", 1949, null, "nm0003418")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Cohen", 1949, null, "nm0003418")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Cohen", 1949, null, "nm0003418")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Lieberman", null, null, "nm0509409")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Lieberman", null, null, "nm0509409")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Lieberman", null, null, "nm0509409")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Maxwell", 1949, null, "nm0561813")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Maxwell", 1949, null, "nm0561813")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Duwayne Dunham", 1952, null, "nm0242271")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Duwayne Dunham", 1952, null, "nm0242271")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Duwayne Dunham", 1952, null, "nm0242271")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bille August", 1948, null, "nm0000806")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bille August", 1948, null, "nm0000806")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bille August", 1948, null, "nm0000806")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bille August", 1948, null, "nm0000806")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bille August", 1948, null, "nm0000806")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ang Lee", 1954, null, "nm0000487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ang Lee", 1954, null, "nm0000487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ang Lee", 1954, null, "nm0000487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ang Lee", 1954, null, "nm0000487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ang Lee", 1954, null, "nm0000487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ang Lee", 1954, null, "nm0000487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ang Lee", 1954, null, "nm0000487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ang Lee", 1954, null, "nm0000487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ang Lee", 1954, null, "nm0000487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ang Lee", 1954, null, "nm0000487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ang Lee", 1954, null, "nm0000487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ang Lee", 1954, null, "nm0000487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Marcus", 1968, null, "nm0546057")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wayne Wang", 1949, null, "nm0911061")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wayne Wang", 1949, null, "nm0911061")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wayne Wang", 1949, null, "nm0911061")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wayne Wang", 1949, null, "nm0911061")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wayne Wang", 1949, null, "nm0911061")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dominic Sena", 1949, null, "nm0784061")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dominic Sena", 1949, null, "nm0784061")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dominic Sena", 1949, null, "nm0784061")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dominic Sena", 1949, null, "nm0784061")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dominic Sena", 1949, null, "nm0784061")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Jones", 1953, null, "nm0428751")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Ropelewski", null, null, "nm0740568")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mel Gibson", 1956, null, "nm0000154")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mel Gibson", 1956, null, "nm0000154")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mel Gibson", 1956, null, "nm0000154")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mel Gibson", 1956, null, "nm0000154")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mel Gibson", 1956, null, "nm0000154")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Albert Hughes", 1972, null, "nm0400436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Albert Hughes", 1972, null, "nm0400436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Albert Hughes", 1972, null, "nm0400436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Albert Hughes", 1972, null, "nm0400436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Albert Hughes", 1972, null, "nm0400436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Leigh", 1943, null, "nm0005139")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Leigh", 1943, null, "nm0005139")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Leigh", 1943, null, "nm0005139")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Leigh", 1943, null, "nm0005139")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Leigh", 1943, null, "nm0005139")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Leigh", 1943, null, "nm0005139")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Leigh", 1943, null, "nm0005139")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gene Quintano", 1946, null, "nm0704164")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fraser C. Heston", 1955, null, "nm0381699")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Henry Selick", 1952, null, "nm0783139")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Henry Selick", 1952, null, "nm0783139")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Henry Selick", 1952, null, "nm0783139")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Henry Selick", 1952, null, "nm0783139")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yoshiaki Kawajiri", 1950, null, "nm0159109")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yoshiaki Kawajiri", 1950, null, "nm0159109")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sally Potter", 1949, null, "nm0006845")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sally Potter", 1949, null, "nm0006845")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sally Potter", 1949, null, "nm0006845")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jane Campion", 1954, null, "nm0001005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jane Campion", 1954, null, "nm0001005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jane Campion", 1954, null, "nm0001005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jane Campion", 1954, null, "nm0001005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jane Campion", 1954, null, "nm0001005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jane Campion", 1954, null, "nm0001005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Stern", 1957, null, "nm0827663")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Mickey Evans", 1962, null, "nm0262693")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Zaillian", 1953, null, "nm0001873")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Zaillian", 1953, null, "nm0001873")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Zaillian", 1953, null, "nm0001873")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Zaillian", 1953, null, "nm0001873")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bill Duke", 1943, null, "nm0004886")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nora Ephron", 1941, 2012, "nm0001188")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nora Ephron", 1941, 2012, "nm0001188")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nora Ephron", 1941, 2012, "nm0001188")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nora Ephron", 1941, 2012, "nm0001188")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nora Ephron", 1941, 2012, "nm0001188")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luis Llosa", 1951, null, "nm0515891")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luis Llosa", 1951, null, "nm0515891")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luis Llosa", 1951, null, "nm0515891")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thomas Schlamme", 1950, null, "nm0772095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Amiel", 1948, null, "nm0000750")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Amiel", 1948, null, "nm0000750")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Amiel", 1948, null, "nm0000750")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Amiel", 1948, null, "nm0000750")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Amiel", 1948, null, "nm0000750")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Amiel", 1948, null, "nm0000750")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Amiel", 1948, null, "nm0000750")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takeshi Kitano", 1947, null, "nm0001429")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takeshi Kitano", 1947, null, "nm0001429")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takeshi Kitano", 1947, null, "nm0001429")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takeshi Kitano", 1947, null, "nm0001429")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takeshi Kitano", 1947, null, "nm0001429")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takeshi Kitano", 1947, null, "nm0001429")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takeshi Kitano", 1947, null, "nm0001429")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph Vilsmaier", 1939, null, "nm0005917")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Annabel Jankel", 1955, null, "nm0417708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thomas Carter", 1953, null, "nm0141961")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thomas Carter", 1953, null, "nm0141961")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thomas Carter", 1953, null, "nm0141961")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thomas Carter", 1953, null, "nm0141961")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thomas Carter", 1953, null, "nm0141961")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thomas Carter", 1953, null, "nm0141961")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Gillard", 1950, null, "nm0318795")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Gillard", 1950, null, "nm0318795")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Bill", 1940, null, "nm0082300")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Bill", 1940, null, "nm0082300")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Marie Poiré", 1945, null, "nm0688585")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Marie Poiré", 1945, null, "nm0688585")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Surjik", null, null, "nm0839660")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Surjik", null, null, "nm0839660")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Surjik", null, null, "nm0839660")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Surjik", null, null, "nm0839660")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Surjik", null, null, "nm0839660")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Klane", 1941, null, "nm0458228")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Chulack", null, null, "nm0161078")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Chulack", null, null, "nm0161078")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Chulack", null, null, "nm0161078")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Halvorson", null, null, "nm0357143")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Halvorson", null, null, "nm0357143")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kazuo Terada", null, null, "nm0855380")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Piznarski", null, null, "nm0686184")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gareth Carrivick", 1957, 2010, "nm0140617")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gareth Carrivick", 1957, 2010, "nm0140617")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Pollack", 1959, 2013, "nm0689385")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Shadyac", 1958, null, "nm0001723")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Shadyac", 1958, null, "nm0001723")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Shadyac", 1958, null, "nm0001723")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Shadyac", 1958, null, "nm0001723")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Shadyac", 1958, null, "nm0001723")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Shadyac", 1958, null, "nm0001723")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Shadyac", 1958, null, "nm0001723")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephan Elliott", 1964, null, "nm0254632")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephan Elliott", 1964, null, "nm0254632")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephan Elliott", 1964, null, "nm0254632")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephan Elliott", 1964, null, "nm0254632")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rajkumar Santoshi", null, null, "nm0764316")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rajkumar Santoshi", null, null, "nm0764316")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rajkumar Santoshi", null, null, "nm0764316")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rajkumar Santoshi", null, null, "nm0764316")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patrick Read Johnson", 1962, null, "nm0425957")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rupert Wainwright", 1961, null, "nm0906548")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rupert Wainwright", 1961, null, "nm0906548")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rupert Wainwright", 1961, null, "nm0906548")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Rifkin", 1966, null, "nm0726472")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Rifkin", 1966, null, "nm0726472")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Weiland", 1953, null, "nm0917992")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Weiland", 1953, null, "nm0917992")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Weiland", 1953, null, "nm0917992")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Smith", 1970, null, "nm0003620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Smith", 1970, null, "nm0003620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Smith", 1970, null, "nm0003620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Smith", 1970, null, "nm0003620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Smith", 1970, null, "nm0003620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Smith", 1970, null, "nm0003620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Smith", 1970, null, "nm0003620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Smith", 1970, null, "nm0003620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Smith", 1970, null, "nm0003620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Smith", 1970, null, "nm0003620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Smith", 1970, null, "nm0003620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Smith", 1970, null, "nm0003620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Smith", 1970, null, "nm0003620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Rush", 1929, null, "nm0750701")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jessie Nelson", null, null, "nm0625458")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jessie Nelson", null, null, "nm0625458")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jessie Nelson", null, null, "nm0625458")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Proyas", 1963, null, "nm0001639")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Proyas", 1963, null, "nm0001639")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Proyas", 1963, null, "nm0001639")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Proyas", 1963, null, "nm0001639")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Proyas", 1963, null, "nm0001639")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Zwigoff", 1949, null, "nm0959062")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Zwigoff", 1949, null, "nm0959062")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Zwigoff", 1949, null, "nm0959062")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry Zwigoff", 1949, null, "nm0959062")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Weisman", null, null, "nm0918873")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Weisman", null, null, "nm0918873")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Weisman", null, null, "nm0918873")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Weisman", null, null, "nm0918873")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Weisman", null, null, "nm0918873")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yash Chopra", 1932, 2012, "nm0007181")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yash Chopra", 1932, 2012, "nm0007181")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yash Chopra", 1932, 2012, "nm0007181")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yash Chopra", 1932, 2012, "nm0007181")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michele Soavi", 1957, null, "nm0811714")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Farrelly", 1956, null, "nm0268380")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Farrelly", 1956, null, "nm0268380")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Farrelly", 1956, null, "nm0268380")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Farrelly", 1956, null, "nm0268380")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Farrelly", 1956, null, "nm0268380")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Farrelly", 1956, null, "nm0268380")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Atom Egoyan", 1960, null, "nm0000382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Atom Egoyan", 1960, null, "nm0000382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Atom Egoyan", 1960, null, "nm0000382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Atom Egoyan", 1960, null, "nm0000382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Atom Egoyan", 1960, null, "nm0000382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Atom Egoyan", 1960, null, "nm0000382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Atom Egoyan", 1960, null, "nm0000382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Atom Egoyan", 1960, null, "nm0000382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Newell", 1942, null, "nm0001565")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Newell", 1942, null, "nm0001565")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Newell", 1942, null, "nm0001565")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Newell", 1942, null, "nm0001565")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Newell", 1942, null, "nm0001565")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Newell", 1942, null, "nm0001565")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Newell", 1942, null, "nm0001565")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Newell", 1942, null, "nm0001565")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Newell", 1942, null, "nm0001565")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Boaz Yakin", 1966, null, "nm0945026")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Boaz Yakin", 1966, null, "nm0945026")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Boaz Yakin", 1966, null, "nm0945026")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Boaz Yakin", 1966, null, "nm0945026")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Boaz Yakin", 1966, null, "nm0945026")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Brill", 1962, null, "nm0109359")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Brill", 1962, null, "nm0109359")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Brill", 1962, null, "nm0109359")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Brill", 1962, null, "nm0109359")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Brill", 1962, null, "nm0109359")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Brill", 1962, null, "nm0109359")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Brill", 1962, null, "nm0109359")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Brill", 1962, null, "nm0109359")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Morahan", null, null, "nm0602452")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Morahan", null, null, "nm0602452")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve James", null, null, "nm0416945")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve James", null, null, "nm0416945")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gordon Chan", 1960, null, "nm0150906")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gordon Chan", 1960, null, "nm0150906")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Sommers", 1962, null, "nm0814085")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Sommers", 1962, null, "nm0814085")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Sommers", 1962, null, "nm0814085")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Sommers", 1962, null, "nm0814085")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Sommers", 1962, null, "nm0814085")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Sommers", 1962, null, "nm0814085")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Sommers", 1962, null, "nm0814085")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Avary", 1965, null, "nm0000812")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Avary", 1965, null, "nm0000812")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Allers", 1949, null, "nm0021249")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Allers", 1949, null, "nm0021249")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gillian Armstrong", 1950, null, "nm0000788")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gillian Armstrong", 1950, null, "nm0000788")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Hytner", 1956, null, "nm0405336")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Hytner", 1956, null, "nm0405336")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Hytner", 1956, null, "nm0405336")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Hytner", 1956, null, "nm0405336")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Hytner", 1956, null, "nm0405336")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Hytner", 1956, null, "nm0405336")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("P.J. Hogan", 1962, null, "nm0389591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("P.J. Hogan", 1962, null, "nm0389591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("P.J. Hogan", 1962, null, "nm0389591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("P.J. Hogan", 1962, null, "nm0389591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Segal", 1962, null, "nm0781842")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Segal", 1962, null, "nm0781842")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Segal", 1962, null, "nm0781842")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Segal", 1962, null, "nm0781842")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Segal", 1962, null, "nm0781842")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Segal", 1962, null, "nm0781842")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Segal", 1962, null, "nm0781842")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Segal", 1962, null, "nm0781842")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Segal", 1962, null, "nm0781842")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Segal", 1962, null, "nm0781842")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ole Bornedal", 1959, null, "nm0097079")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ole Bornedal", 1959, null, "nm0097079")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ole Bornedal", 1959, null, "nm0097079")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Campbell", 1943, null, "nm0132709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Campbell", 1943, null, "nm0132709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Campbell", 1943, null, "nm0132709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Campbell", 1943, null, "nm0132709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Campbell", 1943, null, "nm0132709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Campbell", 1943, null, "nm0132709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Campbell", 1943, null, "nm0132709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Campbell", 1943, null, "nm0132709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Campbell", 1943, null, "nm0132709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Campbell", 1943, null, "nm0132709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Seagal", 1952, null, "nm0000219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lee Tamahori", 1950, null, "nm0848414")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lee Tamahori", 1950, null, "nm0848414")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lee Tamahori", 1950, null, "nm0848414")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lee Tamahori", 1950, null, "nm0848414")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lee Tamahori", 1950, null, "nm0848414")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lee Tamahori", 1950, null, "nm0848414")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lee Tamahori", 1950, null, "nm0848414")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lee Tamahori", 1950, null, "nm0848414")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hart Bochner", 1956, null, "nm0000952")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hart Bochner", 1956, null, "nm0000952")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pixote Hunt", null, null, "nm0402563")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Milcho Manchevski", 1959, null, "nm0541391")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Stiller", 1965, null, "nm0001774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Stiller", 1965, null, "nm0001774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Stiller", 1965, null, "nm0001774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Stiller", 1965, null, "nm0001774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Stiller", 1965, null, "nm0001774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Stiller", 1965, null, "nm0001774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Stiller", 1965, null, "nm0001774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ted Demme", 1963, 2002, "nm0001130")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ted Demme", 1963, 2002, "nm0001130")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ted Demme", 1963, 2002, "nm0001130")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ted Demme", 1963, 2002, "nm0001130")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patrice Chéreau", 1944, 2013, "nm0161717")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patrice Chéreau", 1944, 2013, "nm0161717")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kim Henkel", 1946, null, "nm0377066")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Pasquin", 1945, null, "nm0664756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Pasquin", 1945, null, "nm0664756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Pasquin", 1945, null, "nm0664756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny Boyle", 1956, null, "nm0000965")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny Boyle", 1956, null, "nm0000965")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny Boyle", 1956, null, "nm0000965")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny Boyle", 1956, null, "nm0000965")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny Boyle", 1956, null, "nm0000965")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny Boyle", 1956, null, "nm0000965")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny Boyle", 1956, null, "nm0000965")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny Boyle", 1956, null, "nm0000965")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny Boyle", 1956, null, "nm0000965")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny Boyle", 1956, null, "nm0000965")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny Boyle", 1956, null, "nm0000965")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny Boyle", 1956, null, "nm0000965")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny Boyle", 1956, null, "nm0000965")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Darabont", 1959, null, "nm0001104")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Darabont", 1959, null, "nm0001104")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Darabont", 1959, null, "nm0001104")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Darabont", 1959, null, "nm0001104")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Darabont", 1959, null, "nm0001104")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jan de Bont", 1943, null, "nm0000957")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jan de Bont", 1943, null, "nm0000957")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jan de Bont", 1943, null, "nm0000957")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jan de Bont", 1943, null, "nm0000957")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jan de Bont", 1943, null, "nm0000957")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Carson", null, null, "nm0141222")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Carson", null, null, "nm0141222")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven E. de Souza", 1947, null, "nm0211823")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Rich", null, null, "nm0723704")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Fleming", 1965, null, "nm0281598")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Fleming", 1965, null, "nm0281598")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Fleming", 1965, null, "nm0281598")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Fleming", 1965, null, "nm0281598")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Fleming", 1965, null, "nm0281598")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Fleming", 1965, null, "nm0281598")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Fleming", 1965, null, "nm0281598")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Fleming", 1965, null, "nm0281598")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Fleming", 1965, null, "nm0281598")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Goldman", 1944, null, "nm0325776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Goldman", 1944, null, "nm0325776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Goldman", 1944, null, "nm0325776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Gallo", 1956, null, "nm0303032")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Gallo", 1956, null, "nm0303032")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Gallo", 1956, null, "nm0303032")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nikita Mikhalkov", 1945, null, "nm0586482")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nikita Mikhalkov", 1945, null, "nm0586482")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nikita Mikhalkov", 1945, null, "nm0586482")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luis Mandoki", 1954, null, "nm0001502")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luis Mandoki", 1954, null, "nm0001502")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luis Mandoki", 1954, null, "nm0001502")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luis Mandoki", 1954, null, "nm0001502")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alek Keshishian", 1964, null, "nm0450194")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alek Keshishian", 1964, null, "nm0450194")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy De Emmony", null, null, "nm0214320")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig Pryce", null, null, "nm0003588")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruce Campbell", 1958, null, "nm0132257")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruce Campbell", 1958, null, "nm0132257")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("LeVar Burton", 1957, null, "nm0000996")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("LeVar Burton", 1957, null, "nm0000996")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Juli Murphy", 1965, null, "nm0368029")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Juli Murphy", 1965, null, "nm0368029")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mario Azzopardi", 1950, null, "nm0044524")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Toshihiko Masuda", null, null, "nm0557926")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Langton", 1941, null, "nm0486748")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hideaki Anno", 1960, null, "nm0030417")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hideaki Anno", 1960, null, "nm0030417")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hideaki Anno", 1960, null, "nm0030417")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hideaki Anno", 1960, null, "nm0030417")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Raimondi", null, null, "nm0004048")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Richardson", null, null, "nm0724436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nancy Malone", 1935, 2014, "nm0540487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Garth Maxwell", 1963, null, "nm0561703")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Oedekerk", 1961, null, "nm0644203")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Oedekerk", 1961, null, "nm0644203")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Oedekerk", 1961, null, "nm0644203")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Oedekerk", 1961, null, "nm0644203")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Noonan", 1952, null, "nm0003088")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Noonan", 1952, null, "nm0003088")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Bay", 1965, null, "nm0000881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Bay", 1965, null, "nm0000881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Bay", 1965, null, "nm0000881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Bay", 1965, null, "nm0000881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Bay", 1965, null, "nm0000881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Bay", 1965, null, "nm0000881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Bay", 1965, null, "nm0000881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Bay", 1965, null, "nm0000881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Bay", 1965, null, "nm0000881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Bay", 1965, null, "nm0000881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Bay", 1965, null, "nm0000881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Bay", 1965, null, "nm0000881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Bay", 1965, null, "nm0000881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Kalvert", 1964, 2014, "nm0436284")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tamra Davis", 1962, null, "nm0205542")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tamra Davis", 1962, null, "nm0205542")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tamra Davis", 1962, null, "nm0205542")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Betty Thomas", 1947, null, "nm0858525")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Betty Thomas", 1947, null, "nm0858525")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Betty Thomas", 1947, null, "nm0858525")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Betty Thomas", 1947, null, "nm0858525")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Betty Thomas", 1947, null, "nm0858525")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Betty Thomas", 1947, null, "nm0858525")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Betty Thomas", 1947, null, "nm0858525")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Silberling", 1963, null, "nm0797869")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Silberling", 1963, null, "nm0797869")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Silberling", 1963, null, "nm0797869")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Silberling", 1963, null, "nm0797869")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Silberling", 1963, null, "nm0797869")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Silberling", 1963, null, "nm0797869")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Gerolmo", null, null, "nm0314665")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Caro", 1956, null, "nm0001988")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean Penn", 1960, null, "nm0000576")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean Penn", 1960, null, "nm0000576")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean Penn", 1960, null, "nm0000576")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christophe Gans", 1960, null, "nm0304521")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christophe Gans", 1960, null, "nm0304521")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christophe Gans", 1960, null, "nm0304521")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christophe Gans", 1960, null, "nm0304521")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John N. Smith", 1943, null, "nm0808807")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carl Franklin", 1949, null, "nm0002083")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carl Franklin", 1949, null, "nm0002083")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carl Franklin", 1949, null, "nm0002083")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carl Franklin", 1949, null, "nm0002083")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carl Franklin", 1949, null, "nm0002083")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aditya Chopra", 1971, null, "nm0159147")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aditya Chopra", 1971, null, "nm0159147")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aditya Chopra", 1971, null, "nm0159147")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremy Leven", 1941, null, "nm0505230")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregg Araki", 1959, null, "nm0000777")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregg Araki", 1959, null, "nm0000777")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregg Araki", 1959, null, "nm0000777")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregg Araki", 1959, null, "nm0000777")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregg Araki", 1959, null, "nm0000777")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregg Araki", 1959, null, "nm0000777")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Álex de la Iglesia", 1965, null, "nm0407067")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Álex de la Iglesia", 1965, null, "nm0407067")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Álex de la Iglesia", 1965, null, "nm0407067")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Álex de la Iglesia", 1965, null, "nm0407067")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Álex de la Iglesia", 1965, null, "nm0407067")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Álex de la Iglesia", 1965, null, "nm0407067")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Álex de la Iglesia", 1965, null, "nm0407067")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Monger", 1950, null, "nm0003355")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Sipes", null, null, "nm0802617")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Crystal", 1948, null, "nm0000345")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Crystal", 1948, null, "nm0000345")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Allison Anders", 1954, null, "nm0025978")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("F. Gary Gray", 1969, null, "nm0336620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("F. Gary Gray", 1969, null, "nm0336620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("F. Gary Gray", 1969, null, "nm0336620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("F. Gary Gray", 1969, null, "nm0336620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("F. Gary Gray", 1969, null, "nm0336620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("F. Gary Gray", 1969, null, "nm0336620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("F. Gary Gray", 1969, null, "nm0336620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("F. Gary Gray", 1969, null, "nm0336620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("F. Gary Gray", 1969, null, "nm0336620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("F. Gary Gray", 1969, null, "nm0336620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Lima", 1962, null, "nm0510674")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Lima", 1962, null, "nm0510674")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Lima", 1962, null, "nm0510674")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Iain Softley", 1958, null, "nm0812200")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Iain Softley", 1958, null, "nm0812200")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Iain Softley", 1958, null, "nm0812200")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Iain Softley", 1958, null, "nm0812200")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mathieu Kassovitz", 1967, null, "nm0440913")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mathieu Kassovitz", 1967, null, "nm0440913")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mathieu Kassovitz", 1967, null, "nm0440913")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mathieu Kassovitz", 1967, null, "nm0440913")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Chappelle", null, null, "nm0152640")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Chappelle", null, null, "nm0152640")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Chappelle", null, null, "nm0152640")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Chappelle", null, null, "nm0152640")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Chappelle", null, null, "nm0152640")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jocelyn Moorhouse", 1960, null, "nm0602104")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jocelyn Moorhouse", 1960, null, "nm0602104")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Tennant", 1955, null, "nm0855035")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Tennant", 1955, null, "nm0855035")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Tennant", 1955, null, "nm0855035")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Tennant", 1955, null, "nm0855035")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Tennant", 1955, null, "nm0855035")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Tennant", 1955, null, "nm0855035")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Tennant", 1955, null, "nm0855035")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Tennant", 1955, null, "nm0855035")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Longo", 1953, null, "nm0519434")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny Cannon", 1968, null, "nm0134176")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny Cannon", 1968, null, "nm0134176")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny Cannon", 1968, null, "nm0134176")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Arne Glimcher", 1938, null, "nm0322865")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rakesh Roshan", 1949, null, "nm0004363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rakesh Roshan", 1949, null, "nm0004363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rakesh Roshan", 1949, null, "nm0004363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rakesh Roshan", 1949, null, "nm0004363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rakesh Roshan", 1949, null, "nm0004363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Larry Clark", 1943, null, "nm0164187")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Larry Clark", 1943, null, "nm0164187")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mamoru Oshii", 1951, null, "nm0651900")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mamoru Oshii", 1951, null, "nm0651900")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mamoru Oshii", 1951, null, "nm0651900")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mamoru Oshii", 1951, null, "nm0651900")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stacy Title", null, null, "nm0864468")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stacy Title", null, null, "nm0864468")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfonso Cuarón", 1961, null, "nm0190859")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfonso Cuarón", 1961, null, "nm0190859")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfonso Cuarón", 1961, null, "nm0190859")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfonso Cuarón", 1961, null, "nm0190859")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfonso Cuarón", 1961, null, "nm0190859")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfonso Cuarón", 1961, null, "nm0190859")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfonso Cuarón", 1961, null, "nm0190859")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom DiCillo", 1953, null, "nm0001139")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tensai Okamura", 1961, null, "nm0645513")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bryan Spicer", null, null, "nm0818465")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bryan Spicer", null, null, "nm0818465")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yoshifumi Kondô", 1950, 1998, "nm0464911")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul W.S. Anderson", 1965, null, "nm0027271")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul W.S. Anderson", 1965, null, "nm0027271")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul W.S. Anderson", 1965, null, "nm0027271")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul W.S. Anderson", 1965, null, "nm0027271")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul W.S. Anderson", 1965, null, "nm0027271")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul W.S. Anderson", 1965, null, "nm0027271")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul W.S. Anderson", 1965, null, "nm0027271")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul W.S. Anderson", 1965, null, "nm0027271")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul W.S. Anderson", 1965, null, "nm0027271")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul W.S. Anderson", 1965, null, "nm0027271")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul W.S. Anderson", 1965, null, "nm0027271")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Rocco", 1962, 2009, "nm0733692")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Irwin Winkler", 1931, null, "nm0005563")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Irwin Winkler", 1931, null, "nm0005563")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Irwin Winkler", 1931, null, "nm0005563")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Irwin Winkler", 1931, null, "nm0005563")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Irwin Winkler", 1931, null, "nm0005563")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lesli Linka Glatter", null, null, "nm0322128")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lesli Linka Glatter", null, null, "nm0322128")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lesli Linka Glatter", null, null, "nm0322128")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Gabriel", 1954, null, "nm0300265")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Victor Salva", 1958, null, "nm0759207")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Victor Salva", 1958, null, "nm0759207")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Victor Salva", 1958, null, "nm0759207")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Victor Salva", 1958, null, "nm0759207")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Victor Salva", 1958, null, "nm0759207")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregory Widen", 1958, null, "nm0927074")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Loncraine", 1946, null, "nm0518644")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Loncraine", 1946, null, "nm0518644")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Loncraine", 1946, null, "nm0518644")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Haynes", 1961, null, "nm0001331")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Haynes", 1961, null, "nm0001331")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Haynes", 1961, null, "nm0001331")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Haynes", 1961, null, "nm0001331")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Haynes", 1961, null, "nm0001331")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Haynes", 1961, null, "nm0001331")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kazuhisa Takenouchi", null, null, "nm1387613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christian Duguay", 1957, null, "nm0240995")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christian Duguay", 1957, null, "nm0240995")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christian Duguay", 1957, null, "nm0240995")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Huang", null, null, "nm0398986")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Fleder", 1965, null, "nm0001219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Fleder", 1965, null, "nm0001219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Fleder", 1965, null, "nm0001219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Fleder", 1965, null, "nm0001219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Fleder", 1965, null, "nm0001219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Fleder", 1965, null, "nm0001219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Fleder", 1965, null, "nm0001219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Beeban Kidron", 1961, null, "nm0452319")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Beeban Kidron", 1961, null, "nm0452319")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("S.S. Wilson", null, null, "nm0934093")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("S.S. Wilson", null, null, "nm0934093")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bryan Singer", 1965, null, "nm0001741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bryan Singer", 1965, null, "nm0001741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bryan Singer", 1965, null, "nm0001741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bryan Singer", 1965, null, "nm0001741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bryan Singer", 1965, null, "nm0001741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bryan Singer", 1965, null, "nm0001741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bryan Singer", 1965, null, "nm0001741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bryan Singer", 1965, null, "nm0001741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bryan Singer", 1965, null, "nm0001741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bryan Singer", 1965, null, "nm0001741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Solondz", 1959, null, "nm0001754")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Solondz", 1959, null, "nm0001754")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Solondz", 1959, null, "nm0001754")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Solondz", 1959, null, "nm0001754")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel J. Feigenbaum", null, null, "nm0270570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Barsh", null, null, "nm0058266")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Alvarez", null, null, "nm0023317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Socki", 1955, null, "nm0811973")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Whittingham", null, null, "nm0926526")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chuck Bowman", 1937, null, "nm0101304")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kim Friedman", null, null, "nm0295272")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Cadiff", null, null, "nm0128225")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Cadiff", null, null, "nm0128225")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Cadiff", null, null, "nm0128225")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nobuo Tomizawa", null, null, "nm0866758")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Herzfeld", null, null, "nm0381273")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Herzfeld", null, null, "nm0381273")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Herzfeld", null, null, "nm0381273")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gilles Mimouni", 1956, null, "nm0590813")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Twohy", 1955, null, "nm0878638")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Twohy", 1955, null, "nm0878638")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Twohy", 1955, null, "nm0878638")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Twohy", 1955, null, "nm0878638")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Twohy", 1955, null, "nm0878638")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Twohy", 1955, null, "nm0878638")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Hogan", null, null, "nm0389514")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julian Schnabel", 1951, null, "nm0773603")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julian Schnabel", 1951, null, "nm0773603")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julian Schnabel", 1951, null, "nm0773603")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julian Schnabel", 1951, null, "nm0773603")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hettie Macdonald", null, null, "nm0531751")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hettie Macdonald", null, null, "nm0531751")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stanley Tucci", 1960, null, "nm0001804")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Bloom", null, null, "nm0089176")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Lee", null, null, "nm0496752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Lee", null, null, "nm0496752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Anderson", 1969, null, "nm0027572")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Anderson", 1969, null, "nm0027572")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Anderson", 1969, null, "nm0027572")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Anderson", 1969, null, "nm0027572")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Anderson", 1969, null, "nm0027572")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Anderson", 1969, null, "nm0027572")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Anderson", 1969, null, "nm0027572")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Anderson", 1969, null, "nm0027572")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Anderson", 1969, null, "nm0027572")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Anderson", 1969, null, "nm0027572")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lana Wachowski", 1965, null, "nm0905154")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lana Wachowski", 1965, null, "nm0905154")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lana Wachowski", 1965, null, "nm0905154")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lana Wachowski", 1965, null, "nm0905154")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lana Wachowski", 1965, null, "nm0905154")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Herman", 1954, null, "nm0379179")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Herman", 1954, null, "nm0379179")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Herman", 1954, null, "nm0379179")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Trey Parker", 1969, null, "nm0005295")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Trey Parker", 1969, null, "nm0005295")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Trey Parker", 1969, null, "nm0005295")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Trey Parker", 1969, null, "nm0005295")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Pope", null, null, "nm0691194")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paris Barclay", 1956, null, "nm0054077")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paris Barclay", 1956, null, "nm0054077")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Kwapis", 1957, null, "nm0477129")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Kwapis", 1957, null, "nm0477129")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Kwapis", 1957, null, "nm0477129")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Kwapis", 1957, null, "nm0477129")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Kwapis", 1957, null, "nm0477129")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Kwapis", 1957, null, "nm0477129")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Douglas McGrath", 1958, null, "nm0569790")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Douglas McGrath", 1958, null, "nm0569790")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Douglas McGrath", 1958, null, "nm0569790")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Douglas McGrath", 1958, null, "nm0569790")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Minghella", 1954, 2008, "nm0005237")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Minghella", 1954, 2008, "nm0005237")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Minghella", 1954, 2008, "nm0005237")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Minghella", 1954, 2008, "nm0005237")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yavuz Turgul", 1946, null, "nm0877078")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yavuz Turgul", 1946, null, "nm0877078")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Baird", 1947, null, "nm0000829")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Baird", 1947, null, "nm0000829")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Baird", 1947, null, "nm0000829")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Baigelman", null, null, "nm0047076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David O. Russell", 1958, null, "nm0751102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David O. Russell", 1958, null, "nm0751102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David O. Russell", 1958, null, "nm0751102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David O. Russell", 1958, null, "nm0751102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David O. Russell", 1958, null, "nm0751102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David O. Russell", 1958, null, "nm0751102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David O. Russell", 1958, null, "nm0751102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew Bright", 1952, null, "nm0109165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Gray", null, null, "nm0336726")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Yagher", 1962, null, "nm0944892")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David R. Ellis", 1952, 2013, "nm0254786")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David R. Ellis", 1952, 2013, "nm0254786")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David R. Ellis", 1952, 2013, "nm0254786")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David R. Ellis", 1952, 2013, "nm0254786")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David R. Ellis", 1952, 2013, "nm0254786")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David R. Ellis", 1952, 2013, "nm0254786")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Trousdale", 1960, null, "nm0873779")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Trousdale", 1960, null, "nm0873779")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Payson", null, null, "nm0668500")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bobby Farrelly", 1958, null, "nm0268370")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bobby Farrelly", 1958, null, "nm0268370")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bobby Farrelly", 1958, null, "nm0268370")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bobby Farrelly", 1958, null, "nm0268370")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bobby Farrelly", 1958, null, "nm0268370")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bobby Farrelly", 1958, null, "nm0268370")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bobby Farrelly", 1958, null, "nm0268370")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jan Sverák", 1965, null, "nm0841232")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Srdjan Dragojevic", 1963, null, "nm0236729")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Srdjan Dragojevic", 1963, null, "nm0236729")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jerry Zaks", 1946, null, "nm0952360")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ringo Lam", 1955, 2018, "nm0482681")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ringo Lam", 1955, 2018, "nm0482681")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ringo Lam", 1955, 2018, "nm0482681")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Claude Nuridsany", null, null, "nm0638175")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lane", 1940, null, "nm0485298")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Mallon", 1956, null, "nm0540075")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Berlinger", 1961, null, "nm0075666")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Berlinger", 1961, null, "nm0075666")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Berlinger", 1961, null, "nm0075666")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Berlinger", 1961, null, "nm0075666")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Berlinger", 1961, null, "nm0075666")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregory Hoblit", 1944, null, "nm0387706")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregory Hoblit", 1944, null, "nm0387706")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregory Hoblit", 1944, null, "nm0387706")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregory Hoblit", 1944, null, "nm0387706")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregory Hoblit", 1944, null, "nm0387706")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregory Hoblit", 1944, null, "nm0387706")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicolas Winding Refn", 1970, null, "nm0716347")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicolas Winding Refn", 1970, null, "nm0716347")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicolas Winding Refn", 1970, null, "nm0716347")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicolas Winding Refn", 1970, null, "nm0716347")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicolas Winding Refn", 1970, null, "nm0716347")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicolas Winding Refn", 1970, null, "nm0716347")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicolas Winding Refn", 1970, null, "nm0716347")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicolas Winding Refn", 1970, null, "nm0716347")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Claude Van Damme", 1960, null, "nm0000241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rod Hardy", 1949, null, "nm0362738")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rod Hardy", 1949, null, "nm0362738")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Masayuki Suo", 1956, null, "nm0839397")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edward Burns", 1968, null, "nm0122653")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Hicks", 1953, null, "nm0382956")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Hicks", 1953, null, "nm0382956")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Hicks", 1953, null, "nm0382956")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Hicks", 1953, null, "nm0382956")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Hicks", 1953, null, "nm0382956")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Hicks", 1953, null, "nm0382956")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Bob Thornton", 1955, null, "nm0000671")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Bob Thornton", 1955, null, "nm0000671")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Pytka", 1938, null, "nm0701592")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rick Friedberg", 1944, null, "nm0295007")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Frakes", 1952, null, "nm0000408")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Frakes", 1952, null, "nm0000408")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Frakes", 1952, null, "nm0000408")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Frakes", 1952, null, "nm0000408")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Frakes", 1952, null, "nm0000408")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Frakes", 1952, null, "nm0000408")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Doug Liman", 1965, null, "nm0510731")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Doug Liman", 1965, null, "nm0510731")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Doug Liman", 1965, null, "nm0510731")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Doug Liman", 1965, null, "nm0510731")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Doug Liman", 1965, null, "nm0510731")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Doug Liman", 1965, null, "nm0510731")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Doug Liman", 1965, null, "nm0510731")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Doug Liman", 1965, null, "nm0510731")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Doug Liman", 1965, null, "nm0510731")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gilbert Adler", 1946, null, "nm0012155")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alejandro Amenábar", 1972, null, "nm0024622")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alejandro Amenábar", 1972, null, "nm0024622")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alejandro Amenábar", 1972, null, "nm0024622")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alejandro Amenábar", 1972, null, "nm0024622")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alejandro Amenábar", 1972, null, "nm0024622")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alejandro Amenábar", 1972, null, "nm0024622")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Hanks", 1956, null, "nm0000158")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Hanks", 1956, null, "nm0000158")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Buscemi", 1957, null, "nm0000114")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Buscemi", 1957, null, "nm0000114")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Buscemi", 1957, null, "nm0000114")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Guest", 1948, null, "nm0001302")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Guest", 1948, null, "nm0001302")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Guest", 1948, null, "nm0001302")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Guest", 1948, null, "nm0001302")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Guest", 1948, null, "nm0001302")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Leon Gast", null, null, "nm0309382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mel Damski", 1946, null, "nm0198991")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan Riba", null, null, "nm0722713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Brazil", 1955, 2006, "nm0106368")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Deane Taylor", null, null, "nm0852244")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Karen Disher", null, null, "nm0228327")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregory Prange", null, null, "nm0695219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregory Prange", null, null, "nm0695219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Cohn", null, null, "nm0169874")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gail Mancuso", 1958, null, "nm0541562")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gail Mancuso", 1958, null, "nm0541562")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gail Mancuso", 1958, null, "nm0541562")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kirk Tingblad", null, null, "nm0863945")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wesley Archer", 1961, null, "nm0033741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wesley Archer", 1961, null, "nm0033741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Audrey Cooke", null, null, "nm0177370")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Morrow", 1962, null, "nm0001555")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Morrow", 1962, null, "nm0001555")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter DeLuise", 1966, null, "nm0217938")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter DeLuise", 1966, null, "nm0217938")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter DeLuise", 1966, null, "nm0217938")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean McNamara", 1962, null, "nm0573732")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean McNamara", 1962, null, "nm0573732")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean McNamara", 1962, null, "nm0573732")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean McNamara", 1962, null, "nm0573732")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Griffin Dunne", 1955, null, "nm0001162")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Griffin Dunne", 1955, null, "nm0001162")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Griffin Dunne", 1955, null, "nm0001162")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Martin Smith", 1953, null, "nm0001747")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Martin Smith", 1953, null, "nm0001747")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vondie Curtis-Hall", 1950, null, "nm0193554")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vondie Curtis-Hall", 1950, null, "nm0193554")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Waller", 1959, null, "nm0909026")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Duvall", 1931, null, "nm0000380")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Roach", 1957, null, "nm0005366")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Roach", 1957, null, "nm0005366")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Roach", 1957, null, "nm0005366")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Roach", 1957, null, "nm0005366")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Roach", 1957, null, "nm0005366")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Roach", 1957, null, "nm0005366")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Roach", 1957, null, "nm0005366")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Roach", 1957, null, "nm0005366")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Roach", 1957, null, "nm0005366")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Roach", 1957, null, "nm0005366")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Roach", 1957, null, "nm0005366")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Roach", 1957, null, "nm0005366")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mel Smith", 1952, 2013, "nm0809321")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Thomas Anderson", 1970, null, "nm0000759")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Thomas Anderson", 1970, null, "nm0000759")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Thomas Anderson", 1970, null, "nm0000759")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Thomas Anderson", 1970, null, "nm0000759")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Thomas Anderson", 1970, null, "nm0000759")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Thomas Anderson", 1970, null, "nm0000759")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Thomas Anderson", 1970, null, "nm0000759")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Thomas Anderson", 1970, null, "nm0000759")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J.P. Dutta", 1949, null, "nm0244892")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aleksey Balabanov", 1959, 2013, "nm0049326")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aleksey Balabanov", 1959, 2013, "nm0049326")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Mostow", 1961, null, "nm0609236")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Mostow", 1961, null, "nm0609236")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Mostow", 1961, null, "nm0609236")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Mostow", 1961, null, "nm0609236")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vincent Gallo", 1961, null, "nm0001252")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vincent Gallo", 1961, null, "nm0001252")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roberto Benigni", 1952, null, "nm0000905")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roberto Benigni", 1952, null, "nm0000905")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Sitch", 1962, null, "nm0803203")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Sitch", 1962, null, "nm0803203")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Majid Majidi", 1959, null, "nm0006498")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Majid Majidi", 1959, null, "nm0006498")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Dobkin", 1969, null, "nm0229694")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Dobkin", 1969, null, "nm0229694")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Dobkin", 1969, null, "nm0229694")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Dobkin", 1969, null, "nm0229694")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Dobkin", 1969, null, "nm0229694")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Dobkin", 1969, null, "nm0229694")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon West", 1961, null, "nm0922346")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon West", 1961, null, "nm0922346")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon West", 1961, null, "nm0922346")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon West", 1961, null, "nm0922346")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon West", 1961, null, "nm0922346")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon West", 1961, null, "nm0922346")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon West", 1961, null, "nm0922346")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon West", 1961, null, "nm0922346")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marshall Herskovitz", 1952, null, "nm0380980")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jan Kounen", 1964, null, "nm0468007")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jan Kounen", 1964, null, "nm0468007")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jan Kounen", 1964, null, "nm0468007")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Félix Enríquez Alcalá", 1951, null, "nm0258066")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Félix Enríquez Alcalá", 1951, null, "nm0258066")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Félix Enríquez Alcalá", 1951, null, "nm0258066")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Félix Enríquez Alcalá", 1951, null, "nm0258066")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Cattaneo", 1964, null, "nm0146341")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Cattaneo", 1964, null, "nm0146341")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Niccol", 1964, null, "nm0629272")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Niccol", 1964, null, "nm0629272")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Niccol", 1964, null, "nm0629272")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Niccol", 1964, null, "nm0629272")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Niccol", 1964, null, "nm0629272")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Niccol", 1964, null, "nm0629272")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Niccol", 1964, null, "nm0629272")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeb Stuart", 1956, null, "nm0835732")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Robbins", 1963, null, "nm0005367")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Robbins", 1963, null, "nm0005367")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Robbins", 1963, null, "nm0005367")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Robbins", 1963, null, "nm0005367")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Robbins", 1963, null, "nm0005367")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Robbins", 1963, null, "nm0005367")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Robbins", 1963, null, "nm0005367")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Robbins", 1963, null, "nm0005367")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Robbins", 1963, null, "nm0005367")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Armitage", 1942, null, "nm0000786")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Armitage", 1942, null, "nm0000786")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harmony Korine", 1973, null, "nm0005101")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harmony Korine", 1973, null, "nm0005101")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harmony Korine", 1973, null, "nm0005101")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Madden", 1949, null, "nm0006960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Madden", 1949, null, "nm0006960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Madden", 1949, null, "nm0006960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Madden", 1949, null, "nm0006960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Madden", 1949, null, "nm0006960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Madden", 1949, null, "nm0006960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Madden", 1949, null, "nm0006960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Madden", 1949, null, "nm0006960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Madden", 1949, null, "nm0006960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Madden", 1949, null, "nm0006960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Raja Gosnell", 1958, null, "nm0331532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Raja Gosnell", 1958, null, "nm0331532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Raja Gosnell", 1958, null, "nm0331532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Raja Gosnell", 1958, null, "nm0331532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Raja Gosnell", 1958, null, "nm0331532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Raja Gosnell", 1958, null, "nm0331532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Raja Gosnell", 1958, null, "nm0331532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Raja Gosnell", 1958, null, "nm0331532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Raja Gosnell", 1958, null, "nm0331532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dean Cundey", 1946, null, "nm0005678")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Forest Whitaker", 1961, null, "nm0001845")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Forest Whitaker", 1961, null, "nm0001845")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Gillespie", null, null, "nm0318947")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Gillespie", null, null, "nm0318947")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil LaBute", 1963, null, "nm0001438")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil LaBute", 1963, null, "nm0001438")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil LaBute", 1963, null, "nm0001438")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil LaBute", 1963, null, "nm0001438")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil LaBute", 1963, null, "nm0001438")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil LaBute", 1963, null, "nm0001438")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil LaBute", 1963, null, "nm0001438")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Erik Skjoldbjærg", 1964, null, "nm0804408")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Erik Skjoldbjærg", 1964, null, "nm0804408")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pat O'Connor", 1943, null, "nm0640466")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pat O'Connor", 1943, null, "nm0640466")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike van Diem", 1959, null, "nm0226016")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thomas Jahn", 1965, null, "nm0415714")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Chelsom", 1956, null, "nm0155093")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Chelsom", 1956, null, "nm0155093")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Chelsom", 1956, null, "nm0155093")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Chelsom", 1956, null, "nm0155093")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Chelsom", 1956, null, "nm0155093")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Chelsom", 1956, null, "nm0155093")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brett Ratner", 1969, null, "nm0711840")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brett Ratner", 1969, null, "nm0711840")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brett Ratner", 1969, null, "nm0711840")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brett Ratner", 1969, null, "nm0711840")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brett Ratner", 1969, null, "nm0711840")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brett Ratner", 1969, null, "nm0711840")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brett Ratner", 1969, null, "nm0711840")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brett Ratner", 1969, null, "nm0711840")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brett Ratner", 1969, null, "nm0711840")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brett Ratner", 1969, null, "nm0711840")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John R. Leonetti", 1956, null, "nm0502954")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John R. Leonetti", 1956, null, "nm0502954")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John R. Leonetti", 1956, null, "nm0502954")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John R. Leonetti", 1956, null, "nm0502954")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John R. Leonetti", 1956, null, "nm0502954")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gore Verbinski", 1964, null, "nm0893659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gore Verbinski", 1964, null, "nm0893659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gore Verbinski", 1964, null, "nm0893659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gore Verbinski", 1964, null, "nm0893659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gore Verbinski", 1964, null, "nm0893659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gore Verbinski", 1964, null, "nm0893659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gore Verbinski", 1964, null, "nm0893659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gore Verbinski", 1964, null, "nm0893659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gore Verbinski", 1964, null, "nm0893659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gore Verbinski", 1964, null, "nm0893659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Subhash Ghai", 1945, null, "nm0007131")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mimi Leder", 1952, null, "nm0001460")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mimi Leder", 1952, null, "nm0001460")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mimi Leder", 1952, null, "nm0001460")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mimi Leder", 1952, null, "nm0001460")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mimi Leder", 1952, null, "nm0001460")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Glenn Gordon Caron", 1954, null, "nm0139111")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Antoine Fuqua", 1965, null, "nm0298807")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Antoine Fuqua", 1965, null, "nm0298807")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Antoine Fuqua", 1965, null, "nm0298807")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Antoine Fuqua", 1965, null, "nm0298807")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Antoine Fuqua", 1965, null, "nm0298807")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Antoine Fuqua", 1965, null, "nm0298807")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Antoine Fuqua", 1965, null, "nm0298807")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Antoine Fuqua", 1965, null, "nm0298807")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Antoine Fuqua", 1965, null, "nm0298807")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Antoine Fuqua", 1965, null, "nm0298807")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Antoine Fuqua", 1965, null, "nm0298807")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Antoine Fuqua", 1965, null, "nm0298807")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Mirkin", 1955, null, "nm0592400")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Mirkin", 1955, null, "nm0592400")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregory Nava", 1949, null, "nm0622695")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob LaDuca", 1956, null, "nm0480349")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Howitt", 1957, null, "nm0398185")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Howitt", 1957, null, "nm0398185")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Howitt", 1957, null, "nm0398185")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Howitt", 1957, null, "nm0398185")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Howitt", 1957, null, "nm0398185")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark A.Z. Dippé", 1956, null, "nm0228147")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter O'Fallon", null, null, "nm0640964")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter O'Fallon", null, null, "nm0640964")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roy Andersson", 1943, null, "nm0027815")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roy Andersson", 1943, null, "nm0027815")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roy Andersson", 1943, null, "nm0027815")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Butler", 1927, null, "nm0125111")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Kessler", null, null, "nm0450387")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Bruno", null, null, "nm0116497")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Coraci", 1966, null, "nm0178997")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Coraci", 1966, null, "nm0178997")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Coraci", 1966, null, "nm0178997")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Coraci", 1966, null, "nm0178997")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Coraci", 1966, null, "nm0178997")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Coraci", 1966, null, "nm0178997")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Coraci", 1966, null, "nm0178997")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Coraci", 1966, null, "nm0178997")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Kurtzman", 1964, null, "nm0476071")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aziz Mirza", null, null, "nm0592583")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aziz Mirza", null, null, "nm0592583")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Frankel", 1959, null, "nm0291205")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Frankel", 1959, null, "nm0291205")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Frankel", 1959, null, "nm0291205")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Frankel", 1959, null, "nm0291205")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Frankel", 1959, null, "nm0291205")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Frankel", 1959, null, "nm0291205")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Frankel", 1959, null, "nm0291205")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Frankel", 1959, null, "nm0291205")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Christopher", 1963, null, "nm0160602")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Kaye", 1952, null, "nm0443411")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Kaye", 1952, null, "nm0443411")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Johnson", null, null, "nm0426333")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Johnson", null, null, "nm0426333")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Johnson", null, null, "nm0426333")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Sinyor", 1962, null, "nm0802551")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Spike Jonze", 1969, null, "nm0005069")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Spike Jonze", 1969, null, "nm0005069")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Spike Jonze", 1969, null, "nm0005069")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Spike Jonze", 1969, null, "nm0005069")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kirk Wong", 1949, null, "nm0939202")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Norrington", 1964, null, "nm0635759")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Norrington", 1964, null, "nm0635759")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Saget", 1956, null, "nm0756114")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Story", 1970, null, "nm1103162")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Story", 1970, null, "nm1103162")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Story", 1970, null, "nm1103162")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Story", 1970, null, "nm1103162")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Story", 1970, null, "nm1103162")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Story", 1970, null, "nm1103162")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Story", 1970, null, "nm1103162")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Story", 1970, null, "nm1103162")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Story", 1970, null, "nm1103162")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julie Taymor", 1952, null, "nm0853380")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julie Taymor", 1952, null, "nm0853380")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julie Taymor", 1952, null, "nm0853380")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bill Condon", 1955, null, "nm0174374")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bill Condon", 1955, null, "nm0174374")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bill Condon", 1955, null, "nm0174374")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bill Condon", 1955, null, "nm0174374")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bill Condon", 1955, null, "nm0174374")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bill Condon", 1955, null, "nm0174374")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bill Condon", 1955, null, "nm0174374")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bill Condon", 1955, null, "nm0174374")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("P.J. Pesce", 1961, null, "nm0675894")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("P.J. Pesce", 1961, null, "nm0675894")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("P.J. Pesce", 1961, null, "nm0675894")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mikael Salomon", 1945, null, "nm0004121")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mikael Salomon", 1945, null, "nm0004121")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mikael Salomon", 1945, null, "nm0004121")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Kassovitz", 1938, null, "nm0440914")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Whit Stillman", 1952, null, "nm0001775")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Whit Stillman", 1952, null, "nm0001775")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Ritchie", 1968, null, "nm0005363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Ritchie", 1968, null, "nm0005363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Ritchie", 1968, null, "nm0005363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Ritchie", 1968, null, "nm0005363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Ritchie", 1968, null, "nm0005363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Ritchie", 1968, null, "nm0005363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Ritchie", 1968, null, "nm0005363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Ritchie", 1968, null, "nm0005363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Ritchie", 1968, null, "nm0005363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Ritchie", 1968, null, "nm0005363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Randall Wallace", 1949, null, "nm0908824")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Randall Wallace", 1949, null, "nm0908824")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Randall Wallace", 1949, null, "nm0908824")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Randall Wallace", 1949, null, "nm0908824")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Bancroft", 1967, null, "nm0051643")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Fortenberry", null, null, "nm0287198")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Fortenberry", null, null, "nm0287198")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Fortenberry", null, null, "nm0287198")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Roos", 1955, null, "nm0740400")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Roos", 1955, null, "nm0740400")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Roos", 1955, null, "nm0740400")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nancy Meyers", 1949, null, "nm0583600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nancy Meyers", 1949, null, "nm0583600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nancy Meyers", 1949, null, "nm0583600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nancy Meyers", 1949, null, "nm0583600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nancy Meyers", 1949, null, "nm0583600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nancy Meyers", 1949, null, "nm0583600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Helgeland", 1961, null, "nm0001338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Helgeland", 1961, null, "nm0001338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Helgeland", 1961, null, "nm0001338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Helgeland", 1961, null, "nm0001338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Helgeland", 1961, null, "nm0001338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dean Semler", 1943, null, "nm0005871")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Ross", 1956, null, "nm0002657")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Ross", 1956, null, "nm0002657")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Ross", 1956, null, "nm0002657")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Ross", 1956, null, "nm0002657")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Ross", 1956, null, "nm0002657")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Hickner", null, null, "nm9054338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frederik Du Chau", 1965, null, "nm0238865")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frederik Du Chau", 1965, null, "nm0238865")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frederik Du Chau", 1965, null, "nm0238865")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("François Girard", 1963, null, "nm0320660")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("François Girard", 1963, null, "nm0320660")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tamara Jenkins", 1962, null, "nm0420982")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tamara Jenkins", 1962, null, "nm0420982")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tamara Jenkins", 1962, null, "nm0420982")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Buck", 1958, null, "nm0118333")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Buck", 1958, null, "nm0118333")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Buck", 1958, null, "nm0118333")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Spiegel", 1957, null, "nm0818547")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Spiegel", 1957, null, "nm0818547")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Santiago Segura", 1965, null, "nm0782213")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vincent Ward", 1956, null, "nm0911910")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pat Proft", 1947, null, "nm0698493")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Bowman", 1960, null, "nm0101385")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Bowman", 1960, null, "nm0101385")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Bowman", 1960, null, "nm0101385")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jake Kasdan", 1974, null, "nm0440458")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jake Kasdan", 1974, null, "nm0440458")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jake Kasdan", 1974, null, "nm0440458")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jake Kasdan", 1974, null, "nm0440458")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jake Kasdan", 1974, null, "nm0440458")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jake Kasdan", 1974, null, "nm0440458")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Dindal", null, null, "nm0227540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Dindal", null, null, "nm0227540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daisuke Nishio", 1959, null, "nm0632788")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daisuke Nishio", 1959, null, "nm0632788")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daisuke Nishio", 1959, null, "nm0632788")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eric Stough", null, null, "nm0832833")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bonnie Hunt", 1961, null, "nm0001372")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Parker", 1960, null, "nm0662529")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Parker", 1960, null, "nm0662529")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Parker", 1960, null, "nm0662529")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Parker", 1960, null, "nm0662529")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Parker", 1960, null, "nm0662529")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vincenzo Natali", 1969, null, "nm0622112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vincenzo Natali", 1969, null, "nm0622112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vincenzo Natali", 1969, null, "nm0622112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vincenzo Natali", 1969, null, "nm0622112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vincenzo Natali", 1969, null, "nm0622112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vincenzo Natali", 1969, null, "nm0622112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vincenzo Natali", 1969, null, "nm0622112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Cristofer", 1945, null, "nm0188165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Cristofer", 1945, null, "nm0188165")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Berg", 1964, null, "nm0000916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Berg", 1964, null, "nm0000916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Berg", 1964, null, "nm0000916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Berg", 1964, null, "nm0000916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Berg", 1964, null, "nm0000916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Berg", 1964, null, "nm0000916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Berg", 1964, null, "nm0000916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Berg", 1964, null, "nm0000916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Berg", 1964, null, "nm0000916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Berg", 1964, null, "nm0000916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Steven Johnson", 1964, null, "nm0425756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Steven Johnson", 1964, null, "nm0425756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Steven Johnson", 1964, null, "nm0425756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Steven Johnson", 1964, null, "nm0425756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Steven Johnson", 1964, null, "nm0425756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Skip Woods", null, null, "nm0940790")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Michell", 1956, null, "nm0585011")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Michell", 1956, null, "nm0585011")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Michell", 1956, null, "nm0585011")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Michell", 1956, null, "nm0585011")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Michell", 1956, null, "nm0585011")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Michell", 1956, null, "nm0585011")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Roberts", null, null, "nm0731253")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Adamson", 1966, null, "nm0011470")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Adamson", 1966, null, "nm0011470")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Adamson", 1966, null, "nm0011470")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Adamson", 1966, null, "nm0011470")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Arkwright", null, null, "nm0035110")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chuck Sheetz", 1960, null, "nm0790746")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alexander Payne", 1961, null, "nm0668247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alexander Payne", 1961, null, "nm0668247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alexander Payne", 1961, null, "nm0668247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alexander Payne", 1961, null, "nm0668247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alexander Payne", 1961, null, "nm0668247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alexander Payne", 1961, null, "nm0668247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Benny Chan", null, null, "nm0150802")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Benny Chan", null, null, "nm0150802")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Benny Chan", null, null, "nm0150802")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Benny Chan", null, null, "nm0150802")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harry Elfont", 1968, null, "nm0253323")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harry Elfont", 1968, null, "nm0253323")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zeki Demirkubuz", 1964, null, "nm0218547")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zeki Demirkubuz", 1964, null, "nm0218547")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Bird", 1957, null, "nm0083348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Bird", 1957, null, "nm0083348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Bird", 1957, null, "nm0083348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Bird", 1957, null, "nm0083348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Bird", 1957, null, "nm0083348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Bird", 1957, null, "nm0083348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Antonia Bird", 1951, 2013, "nm0000944")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dominic Brigstocke", null, null, "nm0109273")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kelly Makin", null, null, "nm0538614")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eric Leighton", 1962, null, "nm0500343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Tykwer", 1965, null, "nm0878756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Tykwer", 1965, null, "nm0878756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Tykwer", 1965, null, "nm0878756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Tykwer", 1965, null, "nm0878756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Tykwer", 1965, null, "nm0878756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Tykwer", 1965, null, "nm0878756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jan Pinkava", 1963, null, "nm0684342")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jan Pinkava", 1963, null, "nm0684342")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bill Wolf", null, null, "nm1277993")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Roberts", 1968, null, "nm0730932")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Chialtas", 1953, null, "nm1013649")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Des McAnuff", 1952, null, "nm0005197")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kinka Usher", null, null, "nm0882330")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bharat Nalluri", 1965, null, "nm0620576")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bharat Nalluri", 1965, null, "nm0620576")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bharat Nalluri", 1965, null, "nm0620576")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Williamson", 1965, null, "nm0932078")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Merendino", 1969, null, "nm0580669")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julio Medem", 1958, null, "nm0575523")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julio Medem", 1958, null, "nm0575523")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julio Medem", 1958, null, "nm0575523")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Claude Zidi", 1934, null, "nm0956022")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Norton Virgien", null, null, "nm0899329")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Nutter", 1960, null, "nm0638354")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Nutter", 1960, null, "nm0638354")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Nutter", 1960, null, "nm0638354")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Nutter", 1960, null, "nm0638354")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Nutter", 1960, null, "nm0638354")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Nutter", 1960, null, "nm0638354")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Nutter", 1960, null, "nm0638354")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Nutter", 1960, null, "nm0638354")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Nutter", 1960, null, "nm0638354")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Nutter", 1960, null, "nm0638354")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Nutter", 1960, null, "nm0638354")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig R. Baxley", 1949, null, "nm0062644")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig R. Baxley", 1949, null, "nm0062644")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig R. Baxley", 1949, null, "nm0062644")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Lembeck", 1948, null, "nm0501185")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Lembeck", 1948, null, "nm0501185")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Lembeck", 1948, null, "nm0501185")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Lembeck", 1948, null, "nm0501185")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Risa Bramon Garcia", 1956, null, "nm0305405")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Pellington", 1962, null, "nm0671210")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Pellington", 1962, null, "nm0671210")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Pellington", 1962, null, "nm0671210")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rand Ravich", null, null, "nm0712444")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rodman Flender", 1962, null, "nm0281869")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Darren Aronofsky", 1969, null, "nm0004716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Darren Aronofsky", 1969, null, "nm0004716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Darren Aronofsky", 1969, null, "nm0004716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Darren Aronofsky", 1969, null, "nm0004716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Darren Aronofsky", 1969, null, "nm0004716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Darren Aronofsky", 1969, null, "nm0004716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Darren Aronofsky", 1969, null, "nm0004716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeffrey Katzenberg", 1950, null, "nm0005076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Gray", 1969, null, "nm0336695")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Gray", 1969, null, "nm0336695")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Gray", 1969, null, "nm0336695")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Gray", 1969, null, "nm0336695")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Gray", 1969, null, "nm0336695")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Gray", 1969, null, "nm0336695")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Kumble", 1966, null, "nm0474955")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Kumble", 1966, null, "nm0474955")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Kumble", 1966, null, "nm0474955")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Kumble", 1966, null, "nm0474955")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Kumble", 1966, null, "nm0474955")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Kumble", 1966, null, "nm0474955")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Josef Rusnak", 1958, null, "nm0750857")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walter Salles", 1956, null, "nm0758574")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walter Salles", 1956, null, "nm0758574")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walter Salles", 1956, null, "nm0758574")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walter Salles", 1956, null, "nm0758574")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bronwen Hughes", null, null, "nm0400486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bronwen Hughes", null, null, "nm0400486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Troy Miller", null, null, "nm0003474")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Troy Miller", null, null, "nm0003474")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Kellogg", 1952, null, "nm0446109")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Timothy Van Patten", 1959, null, "nm0887700")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Timothy Van Patten", 1959, null, "nm0887700")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Timothy Van Patten", 1959, null, "nm0887700")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Timothy Van Patten", 1959, null, "nm0887700")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Timothy Van Patten", 1959, null, "nm0887700")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Timothy Van Patten", 1959, null, "nm0887700")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Boyd Kirkland", 1950, 2011, "nm0456631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Ellery", null, null, "nm0254085")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mary Harron", 1953, null, "nm0366004")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mary Harron", 1953, null, "nm0366004")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Troy Duffy", 1971, null, "nm0240627")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Troy Duffy", 1971, null, "nm0240627")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ronny Yu", 1950, null, "nm0950553")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ronny Yu", 1950, null, "nm0950553")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ronny Yu", 1950, null, "nm0950553")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ronny Yu", 1950, null, "nm0950553")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patrice Leconte", 1947, null, "nm0496312")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Damon Santostefano", null, null, "nm0764319")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Damon Santostefano", null, null, "nm0764319")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Damon Santostefano", null, null, "nm0764319")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Douglas Aarniokoski", null, null, "nm0007439")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Douglas Aarniokoski", null, null, "nm0007439")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("István Szabó", 1938, null, "nm0843640")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("István Szabó", 1938, null, "nm0843640")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Willard Carroll", 1955, null, "nm0141033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Tarlov", null, null, "nm0850516")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jamie Blanks", null, null, "nm0087595")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jamie Blanks", null, null, "nm0087595")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Butch Lukic", null, null, "nm0525665")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Butch Lukic", null, null, "nm0525665")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gil Junger", 1954, null, "nm0432627")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gil Junger", 1954, null, "nm0432627")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gil Junger", 1954, null, "nm0432627")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gil Junger", 1954, null, "nm0432627")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Avanzino", null, null, "nm0042796")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Avanzino", null, null, "nm0042796")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Avanzino", null, null, "nm0042796")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lukas Moodysson", 1969, null, "nm0600546")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lukas Moodysson", 1969, null, "nm0600546")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lukas Moodysson", 1969, null, "nm0600546")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sanjay Leela Bhansali", 1963, null, "nm0080220")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sanjay Leela Bhansali", 1963, null, "nm0080220")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sanjay Leela Bhansali", 1963, null, "nm0080220")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sanjay Leela Bhansali", 1963, null, "nm0080220")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sanjay Leela Bhansali", 1963, null, "nm0080220")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sanjay Leela Bhansali", 1963, null, "nm0080220")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sanjay Leela Bhansali", 1963, null, "nm0080220")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gérard Pirès", 1942, null, "nm0000091")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ray Pointer", 1952, null, "nm1383087")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thomas Vinterberg", 1969, null, "nm0899121")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thomas Vinterberg", 1969, null, "nm0899121")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thomas Vinterberg", 1969, null, "nm0899121")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Nolan", 1970, null, "nm0634240")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Nolan", 1970, null, "nm0634240")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Nolan", 1970, null, "nm0634240")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Nolan", 1970, null, "nm0634240")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Nolan", 1970, null, "nm0634240")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Nolan", 1970, null, "nm0634240")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Nolan", 1970, null, "nm0634240")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Nolan", 1970, null, "nm0634240")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Nolan", 1970, null, "nm0634240")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Nolan", 1970, null, "nm0634240")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Nolan", 1970, null, "nm0634240")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Darren Stein", 1971, null, "nm0825434")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Darren Stein", 1971, null, "nm0825434")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Russell", 1960, null, "nm0751221")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Russell", 1960, null, "nm0751221")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Russell", 1960, null, "nm0751221")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Russell", 1960, null, "nm0751221")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Satoshi Kon", 1963, 2010, "nm0464804")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Satoshi Kon", 1963, 2010, "nm0464804")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Satoshi Kon", 1963, 2010, "nm0464804")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Satoshi Kon", 1963, 2010, "nm0464804")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gaspar Noé", 1963, null, "nm0637615")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gaspar Noé", 1963, null, "nm0637615")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gaspar Noé", 1963, null, "nm0637615")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gaspar Noé", 1963, null, "nm0637615")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gaspar Noé", 1963, null, "nm0637615")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Allan A. Goldstein", 1949, null, "nm0326161")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Patrick Jann", 1970, null, "nm0417794")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Patrick Jann", 1970, null, "nm0417794")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Patrick Jann", 1970, null, "nm0417794")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John T. Kretchmer", 1954, null, "nm0470971")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John T. Kretchmer", 1954, null, "nm0470971")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Toshiya Fujita", 1932, 1997, "nm0297846")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Hill", null, null, "nm0384722")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Hill", null, null, "nm0384722")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Hill", null, null, "nm0384722")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Hill", null, null, "nm0384722")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sofia Coppola", 1971, null, "nm0001068")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sofia Coppola", 1971, null, "nm0001068")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sofia Coppola", 1971, null, "nm0001068")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sofia Coppola", 1971, null, "nm0001068")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sofia Coppola", 1971, null, "nm0001068")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sofia Coppola", 1971, null, "nm0001068")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sofia Coppola", 1971, null, "nm0001068")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Patrick King", 1954, null, "nm0455078")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Patrick King", 1954, null, "nm0455078")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Patrick King", 1954, null, "nm0455078")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Moore", 1970, null, "nm0601382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Moore", 1970, null, "nm0601382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Moore", 1970, null, "nm0601382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Moore", 1970, null, "nm0601382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Moore", 1970, null, "nm0601382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Moore", 1970, null, "nm0601382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("McG", 1968, null, "nm0629334")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("McG", 1968, null, "nm0629334")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("McG", 1968, null, "nm0629334")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("McG", 1968, null, "nm0629334")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("McG", 1968, null, "nm0629334")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("McG", 1968, null, "nm0629334")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("McG", 1968, null, "nm0629334")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("McG", 1968, null, "nm0629334")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Janusz Kaminski", 1959, null, "nm0001405")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thaddeus O'Sullivan", 1947, null, "nm0642823")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Iscove", 1947, null, "nm0410769")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Iscove", 1947, null, "nm0410769")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Iscove", 1947, null, "nm0410769")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alrick Riley", null, null, "nm0726975")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alrick Riley", null, null, "nm0726975")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Caroline Link", 1964, null, "nm0512862")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James A. Contner", null, null, "nm0176448")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Shore", 1959, null, "nm0794960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Diane Keaton", 1946, null, "nm0000473")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Strachan", null, null, "nm2525467")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Arthur Forrest", null, null, "nm0286601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Weitz", 1965, null, "nm0919369")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Weitz", 1965, null, "nm0919369")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Weitz", 1965, null, "nm0919369")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Weitz", 1965, null, "nm0919369")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Weitz", 1965, null, "nm0919369")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Weitz", 1965, null, "nm0919369")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Weitz", 1965, null, "nm0919369")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Weitz", 1965, null, "nm0919369")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Weitz", 1965, null, "nm0919369")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Schultz", null, null, "nm0776271")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Schultz", null, null, "nm0776271")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Schultz", null, null, "nm0776271")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Koepp", 1963, null, "nm0462895")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Koepp", 1963, null, "nm0462895")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Koepp", 1963, null, "nm0462895")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Koepp", 1963, null, "nm0462895")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Koepp", 1963, null, "nm0462895")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Minkoff", 1962, null, "nm0591450")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Minkoff", 1962, null, "nm0591450")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Minkoff", 1962, null, "nm0591450")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Minkoff", 1962, null, "nm0591450")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Minkoff", 1962, null, "nm0591450")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Minkoff", 1962, null, "nm0591450")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pitof", 1957, null, "nm0685759")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pitof", 1957, null, "nm0685759")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Schiller", null, null, "nm0771673")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Schiller", null, null, "nm0771673")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Trainer", null, null, "nm0870699")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Trainer", null, null, "nm0870699")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Gale", 1951, null, "nm0301826")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrzej Bartkowiak", 1950, null, "nm0005647")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrzej Bartkowiak", 1950, null, "nm0005647")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrzej Bartkowiak", 1950, null, "nm0005647")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrzej Bartkowiak", 1950, null, "nm0005647")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrzej Bartkowiak", 1950, null, "nm0005647")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patrick Gilmore", null, null, "nm1369708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Damien O'Donnell", 1967, null, "nm0640740")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Damien O'Donnell", 1967, null, "nm0640740")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kirk Jones", 1964, null, "nm0428600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kirk Jones", 1964, null, "nm0428600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kirk Jones", 1964, null, "nm0428600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kirk Jones", 1964, null, "nm0428600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kirk Jones", 1964, null, "nm0428600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kelly Asbury", 1960, null, "nm0038432")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kelly Asbury", 1960, null, "nm0038432")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kelly Asbury", 1960, null, "nm0038432")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("M. Night Shyamalan", 1970, null, "nm0796117")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("M. Night Shyamalan", 1970, null, "nm0796117")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("M. Night Shyamalan", 1970, null, "nm0796117")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("M. Night Shyamalan", 1970, null, "nm0796117")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("M. Night Shyamalan", 1970, null, "nm0796117")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("M. Night Shyamalan", 1970, null, "nm0796117")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("M. Night Shyamalan", 1970, null, "nm0796117")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("M. Night Shyamalan", 1970, null, "nm0796117")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("M. Night Shyamalan", 1970, null, "nm0796117")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("M. Night Shyamalan", 1970, null, "nm0796117")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("M. Night Shyamalan", 1970, null, "nm0796117")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("M. Night Shyamalan", 1970, null, "nm0796117")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruce McCulloch", 1961, null, "nm0567126")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruce McCulloch", 1961, null, "nm0567126")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carol Millican", null, null, "nm0589636")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martyn Burke", 1952, null, "nm0121789")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Masamitsu Hidaka", 1960, null, "nm0383020")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Denzel Washington", 1954, null, "nm0000243")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Denzel Washington", 1954, null, "nm0000243")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Denzel Washington", 1954, null, "nm0000243")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ashutosh Gowariker", 1964, null, "nm0332950")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ashutosh Gowariker", 1964, null, "nm0332950")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ashutosh Gowariker", 1964, null, "nm0332950")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Bailey", null, null, "nm0047278")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Mendes", 1965, null, "nm0005222")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Mendes", 1965, null, "nm0005222")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Mendes", 1965, null, "nm0005222")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Mendes", 1965, null, "nm0005222")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Mendes", 1965, null, "nm0005222")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Mendes", 1965, null, "nm0005222")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Mendes", 1965, null, "nm0005222")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edward Norton", 1969, null, "nm0001570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kimberly Peirce", 1967, null, "nm0005303")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kimberly Peirce", 1967, null, "nm0005303")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kimberly Peirce", 1967, null, "nm0005303")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Karan Johar", 1972, null, "nm0424103")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Karan Johar", 1972, null, "nm0424103")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Karan Johar", 1972, null, "nm0424103")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Karan Johar", 1972, null, "nm0424103")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Karan Johar", 1972, null, "nm0424103")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Karan Johar", 1972, null, "nm0424103")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Motonori Sakakibara", null, null, "nm1012102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joan Chen", 1961, null, "nm0001040")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig McCracken", 1971, null, "nm0566833")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mic Rodgers", 1954, null, "nm0734747")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Davis Guggenheim", 1963, null, "nm0346550")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Davis Guggenheim", 1963, null, "nm0346550")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Davis Guggenheim", 1963, null, "nm0346550")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Davis Guggenheim", 1963, null, "nm0346550")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dean Parisot", null, null, "nm0661751")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dean Parisot", null, null, "nm0661751")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dean Parisot", null, null, "nm0661751")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fatih Akin", 1973, null, "nm0015359")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fatih Akin", 1973, null, "nm0015359")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fatih Akin", 1973, null, "nm0015359")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fatih Akin", 1973, null, "nm0015359")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fatih Akin", 1973, null, "nm0015359")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fatih Akin", 1973, null, "nm0015359")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patricia Rozema", 1958, null, "nm0005390")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patricia Rozema", 1958, null, "nm0005390")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hideo Nakata", 1961, null, "nm0620378")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hideo Nakata", 1961, null, "nm0620378")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hideo Nakata", 1961, null, "nm0620378")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hideo Nakata", 1961, null, "nm0620378")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jamie Babbit", 1970, null, "nm0044803")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jamie Babbit", 1970, null, "nm0044803")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jamie Babbit", 1970, null, "nm0044803")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jamie Babbit", 1970, null, "nm0044803")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jamie Babbit", 1970, null, "nm0044803")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stéphane Bernasconi", null, null, "nm0076558")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lasse Spang Olsen", 1965, null, "nm0647718")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Smith", 1970, null, "nm0807687")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Smith", 1970, null, "nm0807687")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Smith", 1970, null, "nm0807687")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Younger", 1972, null, "nm0950226")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Younger", 1972, null, "nm0950226")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Younger", 1972, null, "nm0950226")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan Povenmire", 1963, null, "nm0693933")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yûji Mitsuya", 1954, null, "nm0594094")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ed Harris", 1950, null, "nm0000438")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ed Harris", 1950, null, "nm0000438")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gérard Krawczyk", 1953, null, "nm0470443")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gérard Krawczyk", 1953, null, "nm0470443")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gérard Krawczyk", 1953, null, "nm0470443")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gérard Krawczyk", 1953, null, "nm0470443")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Russ Mooney", null, null, "nm1172823")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vincent Kok", 1965, null, "nm0463674")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Blake Nelson", 1964, null, "nm0625789")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Blake Nelson", 1964, null, "nm0625789")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Dey", 1965, null, "nm0223359")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Dey", 1965, null, "nm0223359")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Dey", 1965, null, "nm0223359")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Dey", 1965, null, "nm0223359")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Koch", null, null, "nm0462277")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Koch", null, null, "nm0462277")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Noriyuki Abe", 1961, null, "nm0994244")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Noriyuki Abe", 1961, null, "nm0994244")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Christian", 1944, null, "nm0002337")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Malone", 1953, null, "nm0540532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Malone", 1953, null, "nm0540532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Myrick", 1963, null, "nm0617130")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Gomez", 1963, null, "nm0327064")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Gomez", 1963, null, "nm0327064")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Gomez", 1963, null, "nm0327064")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francine McDougall", null, null, "nm0568230")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kris Isacsson", 1972, null, "nm0410640")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Tilse", null, null, "nm0863477")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edgar Wright", 1974, null, "nm0942367")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edgar Wright", 1974, null, "nm0942367")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edgar Wright", 1974, null, "nm0942367")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edgar Wright", 1974, null, "nm0942367")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edgar Wright", 1974, null, "nm0942367")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edgar Wright", 1974, null, "nm0942367")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stefan Ruzowitzky", 1961, null, "nm0752328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stefan Ruzowitzky", 1961, null, "nm0752328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stefan Ruzowitzky", 1961, null, "nm0752328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jez Butterworth", 1969, null, "nm0125336")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Kerrigan", 1974, null, "nm0449863")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Swanbeck", null, null, "nm0841647")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("E. Elias Merhige", 1964, null, "nm0580729")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("E. Elias Merhige", 1964, null, "nm0580729")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Courtney Solomon", 1971, null, "nm0813309")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Courtney Solomon", 1971, null, "nm0813309")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Courtney Solomon", 1971, null, "nm0813309")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vikram Bhatt", 1969, null, "nm0080333")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ethan Coen", 1957, null, "nm0001053")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ethan Coen", 1957, null, "nm0001053")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ethan Coen", 1957, null, "nm0001053")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ethan Coen", 1957, null, "nm0001053")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ethan Coen", 1957, null, "nm0001053")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ethan Coen", 1957, null, "nm0001053")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ethan Coen", 1957, null, "nm0001053")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ethan Coen", 1957, null, "nm0001053")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ethan Coen", 1957, null, "nm0001053")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kunihiko Yuyama", 1952, null, "nm0951197")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kunihiko Yuyama", 1952, null, "nm0951197")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kunihiko Yuyama", 1952, null, "nm0951197")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tommy O'Haver", 1968, null, "nm0641373")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tommy O'Haver", 1968, null, "nm0641373")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tommy O'Haver", 1968, null, "nm0641373")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Waters", 1964, null, "nm0914134")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Waters", 1964, null, "nm0914134")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Waters", 1964, null, "nm0914134")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Waters", 1964, null, "nm0914134")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Waters", 1964, null, "nm0914134")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Waters", 1964, null, "nm0914134")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Waters", 1964, null, "nm0914134")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Waters", 1964, null, "nm0914134")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Waters", 1964, null, "nm0914134")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Ottman", 1964, null, "nm0653211")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hiroyuki Okiura", 1966, null, "nm0645657")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Binder", 1932, null, "nm0004596")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ram Gopal Varma", 1962, null, "nm0890060")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ram Gopal Varma", 1962, null, "nm0890060")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ram Gopal Varma", 1962, null, "nm0890060")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nigel Cole", 1959, null, "nm0170719")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nigel Cole", 1959, null, "nm0170719")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nigel Cole", 1959, null, "nm0170719")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nigel Cole", 1959, null, "nm0170719")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Wong", null, null, "nm0939128")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Wong", null, null, "nm0939128")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Wong", null, null, "nm0939128")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Wong", null, null, "nm0939128")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Carr", null, null, "nm0139867")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Carr", null, null, "nm0139867")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Carr", null, null, "nm0139867")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Carr", null, null, "nm0139867")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Carr", null, null, "nm0139867")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Carr", null, null, "nm0139867")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Williams", 1964, null, "nm0931285")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pete Docter", 1968, null, "nm0230032")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pete Docter", 1968, null, "nm0230032")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pete Docter", 1968, null, "nm0230032")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pete Docter", 1968, null, "nm0230032")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gina Prince-Bythewood", 1969, null, "nm0697656")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gina Prince-Bythewood", 1969, null, "nm0697656")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gina Prince-Bythewood", 1969, null, "nm0697656")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Antony Hoffman", null, null, "nm0388817")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Pierre Dardenne", 1951, null, "nm0201094")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Pierre Dardenne", 1951, null, "nm0201094")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Pierre Dardenne", 1951, null, "nm0201094")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Mathew Matthan", null, null, "nm0559877")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Misiano", null, null, "nm0592808")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Misiano", null, null, "nm0592808")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David McNally", null, null, "nm0573589")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David McNally", null, null, "nm0573589")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Serdar Akar", 1964, null, "nm0015091")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Serdar Akar", 1964, null, "nm0015091")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Serdar Akar", 1964, null, "nm0015091")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nesli Çölgeçen", 1955, null, "nm0171443")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patrick R. Norris", null, null, "nm0606845")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher McQuarrie", 1968, null, "nm0003160")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher McQuarrie", 1968, null, "nm0003160")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher McQuarrie", 1968, null, "nm0003160")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher McQuarrie", 1968, null, "nm0003160")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Tillman Jr.", 1969, null, "nm0863387")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Tillman Jr.", 1969, null, "nm0863387")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Tillman Jr.", 1969, null, "nm0863387")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Tillman Jr.", 1969, null, "nm0863387")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Tillman Jr.", 1969, null, "nm0863387")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kazuhiro Furuhashi", null, null, "nm0299173")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Glazer", 1965, null, "nm0322242")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Glazer", 1965, null, "nm0322242")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Glazer", 1965, null, "nm0322242")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenneth Lonergan", 1962, null, "nm0518836")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenneth Lonergan", 1962, null, "nm0518836")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenneth Lonergan", 1962, null, "nm0518836")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Dobbs", null, null, "nm0229650")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harald Zwart", 1965, null, "nm0958969")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harald Zwart", 1965, null, "nm0958969")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harald Zwart", 1965, null, "nm0958969")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harald Zwart", 1965, null, "nm0958969")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harald Zwart", 1965, null, "nm0958969")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harald Zwart", 1965, null, "nm0958969")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Charbanic", null, null, "nm0152741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peyton Reed", 1964, null, "nm0715636")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peyton Reed", 1964, null, "nm0715636")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peyton Reed", 1964, null, "nm0715636")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peyton Reed", 1964, null, "nm0715636")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peyton Reed", 1964, null, "nm0715636")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peyton Reed", 1964, null, "nm0715636")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Woolnough", null, null, "nm0941276")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Mitchell", null, null, "nm0593610")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Mitchell", null, null, "nm0593610")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Mitchell", null, null, "nm0593610")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Mitchell", null, null, "nm0593610")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Mitchell", null, null, "nm0593610")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Mitchell", null, null, "nm0593610")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Mitchell", null, null, "nm0593610")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Germain", 1959, null, "nm0314480")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Paloian", 1991, null, "nm6600275")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rod Lurie", 1962, null, "nm0527109")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rod Lurie", 1962, null, "nm0527109")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rod Lurie", 1962, null, "nm0527109")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rod Lurie", 1962, null, "nm0527109")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rod Lurie", 1962, null, "nm0527109")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Kay", 1963, null, "nm0443181")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Kay", 1963, null, "nm0443181")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Kay", 1963, null, "nm0443181")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Kay", 1963, null, "nm0443181")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nanni Moretti", 1953, null, "nm0604335")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nanni Moretti", 1953, null, "nm0604335")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edward Lachman", 1948, null, "nm0005767")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Shankman", 1964, null, "nm0788202")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Shankman", 1964, null, "nm0788202")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Shankman", 1964, null, "nm0788202")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Shankman", 1964, null, "nm0788202")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Shankman", 1964, null, "nm0788202")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Shankman", 1964, null, "nm0788202")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Shankman", 1964, null, "nm0788202")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Shankman", 1964, null, "nm0788202")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Shankman", 1964, null, "nm0788202")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tarsem Singh", 1961, null, "nm0802248")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tarsem Singh", 1961, null, "nm0802248")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tarsem Singh", 1961, null, "nm0802248")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tarsem Singh", 1961, null, "nm0802248")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tarsem Singh", 1961, null, "nm0802248")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tarsem Singh", 1961, null, "nm0802248")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul McGuigan", 1963, null, "nm0006476")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul McGuigan", 1963, null, "nm0006476")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul McGuigan", 1963, null, "nm0006476")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul McGuigan", 1963, null, "nm0006476")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul McGuigan", 1963, null, "nm0006476")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul McGuigan", 1963, null, "nm0006476")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul McGuigan", 1963, null, "nm0006476")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul McGuigan", 1963, null, "nm0006476")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul McGuigan", 1963, null, "nm0006476")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul McGuigan", 1963, null, "nm0006476")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Fawcett", 1968, null, "nm0269502")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Fawcett", 1968, null, "nm0269502")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Fawcett", 1968, null, "nm0269502")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Fawcett", 1968, null, "nm0269502")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Bailey", 1962, null, "nm0047193")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Nimoy", 1966, null, "nm0632383")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Isaac", 1960, 2012, "nm0410494")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Isaac", 1960, 2012, "nm0410494")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Koppelman", 1966, null, "nm0002718")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Koppelman", 1966, null, "nm0002718")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joby Harold", null, null, "nm1703612")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Abbas Alibhai Burmawalla", null, null, "nm0122216")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Abbas Alibhai Burmawalla", null, null, "nm0122216")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hannes Stöhr", 1970, null, "nm0836708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Blanchard", null, null, "nm0087071")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stig Bergqvist", 1962, null, "nm0075010")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("T.J. Scott", null, null, "nm0779830")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shin'ichirô Watanabe", null, null, "nm0913860")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shin'ichirô Watanabe", null, null, "nm0913860")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Davis", 1961, null, "nm0205157")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Davis", 1961, null, "nm0205157")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Phillips", 1970, null, "nm0680846")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Phillips", 1970, null, "nm0680846")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Phillips", 1970, null, "nm0680846")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Phillips", 1970, null, "nm0680846")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Phillips", 1970, null, "nm0680846")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Phillips", 1970, null, "nm0680846")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Phillips", 1970, null, "nm0680846")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Phillips", 1970, null, "nm0680846")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Phillips", 1970, null, "nm0680846")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Phillips", 1970, null, "nm0680846")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patrick Lussier", null, null, "nm0527261")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patrick Lussier", null, null, "nm0527261")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patrick Lussier", null, null, "nm0527261")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patrick Lussier", null, null, "nm0527261")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michel Gondry", 1963, null, "nm0327273")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michel Gondry", 1963, null, "nm0327273")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michel Gondry", 1963, null, "nm0327273")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michel Gondry", 1963, null, "nm0327273")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michel Gondry", 1963, null, "nm0327273")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michel Gondry", 1963, null, "nm0327273")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jun Falkenstein", 1969, null, "nm0266255")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Juan Carlos Fresnadillo", 1967, null, "nm0294379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Juan Carlos Fresnadillo", 1967, null, "nm0294379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Juan Carlos Fresnadillo", 1967, null, "nm0294379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mahesh Manjrekar", 1953, null, "nm0542498")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Dilworth", 1963, null, "nm0227139")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Dominik", 1967, null, "nm0231596")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Dominik", 1967, null, "nm0231596")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Dominik", 1967, null, "nm0231596")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Sackheim", null, null, "nm0755261")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Sackheim", null, null, "nm0755261")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Sackheim", null, null, "nm0755261")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Sackheim", null, null, "nm0755261")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kamal Haasan", 1954, null, "nm0352032")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kamal Haasan", 1954, null, "nm0352032")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kamal Haasan", 1954, null, "nm0352032")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Favreau", 1966, null, "nm0269463")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Favreau", 1966, null, "nm0269463")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Favreau", 1966, null, "nm0269463")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Favreau", 1966, null, "nm0269463")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Favreau", 1966, null, "nm0269463")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Favreau", 1966, null, "nm0269463")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Favreau", 1966, null, "nm0269463")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Favreau", 1966, null, "nm0269463")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Favreau", 1966, null, "nm0269463")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Derrickson", 1966, null, "nm0220600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Derrickson", 1966, null, "nm0220600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Derrickson", 1966, null, "nm0220600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Derrickson", 1966, null, "nm0220600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Derrickson", 1966, null, "nm0220600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Derrickson", 1966, null, "nm0220600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Weitz", 1969, null, "nm0919363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Weitz", 1969, null, "nm0919363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Weitz", 1969, null, "nm0919363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Weitz", 1969, null, "nm0919363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Weitz", 1969, null, "nm0919363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Weitz", 1969, null, "nm0919363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Demian Lichtenstein", null, null, "nm0509028")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Curt Geda", null, null, "nm0311435")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Curt Geda", null, null, "nm0311435")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lilly Wachowski", 1967, null, "nm0905152")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lilly Wachowski", 1967, null, "nm0905152")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lilly Wachowski", 1967, null, "nm0905152")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Atkins", null, null, "nm0040575")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Tollin", 1955, null, "nm0866132")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Tollin", 1955, null, "nm0866132")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takashi Miike", 1960, null, "nm0586281")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takashi Miike", 1960, null, "nm0586281")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takashi Miike", 1960, null, "nm0586281")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takashi Miike", 1960, null, "nm0586281")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takashi Miike", 1960, null, "nm0586281")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takashi Miike", 1960, null, "nm0586281")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takashi Miike", 1960, null, "nm0586281")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takashi Miike", 1960, null, "nm0586281")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("D.J. Caruso", 1965, null, "nm0142286")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("D.J. Caruso", 1965, null, "nm0142286")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("D.J. Caruso", 1965, null, "nm0142286")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("D.J. Caruso", 1965, null, "nm0142286")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("D.J. Caruso", 1965, null, "nm0142286")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("D.J. Caruso", 1965, null, "nm0142286")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("D.J. Caruso", 1965, null, "nm0142286")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tuck Tucker", null, null, "nm0970388")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anders Thomas Jensen", 1972, null, "nm0421314")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anders Thomas Jensen", 1972, null, "nm0421314")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anders Thomas Jensen", 1972, null, "nm0421314")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Dennis", null, null, "nm0219513")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Dennis", null, null, "nm0219513")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kurt Wimmer", 1964, null, "nm0934483")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kurt Wimmer", 1964, null, "nm0934483")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Rymer", 1963, null, "nm0753382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Rymer", 1963, null, "nm0753382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Rymer", 1963, null, "nm0753382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Rymer", 1963, null, "nm0753382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Care", 1953, null, "nm0136775")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Simon", null, null, "nm0800301")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lawrence Guterman", null, null, "nm0349183")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lawrence Guterman", null, null, "nm0349183")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J.B. Rogers", null, null, "nm0736930")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J.B. Rogers", null, null, "nm0736930")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Deepa Mehta", 1950, null, "nm0576548")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Green", 1971, null, "nm0338381")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Kammerud", 1960, null, "nm0436851")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dewey Nicks", 1961, null, "nm0630083")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mira Nair", 1957, null, "nm0619762")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mira Nair", 1957, null, "nm0619762")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mira Nair", 1957, null, "nm0619762")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mira Nair", 1957, null, "nm0619762")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mira Nair", 1957, null, "nm0619762")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mira Nair", 1957, null, "nm0619762")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ed Decter", 1959, null, "nm0214036")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny Leiner", 1961, 2018, "nm0500444")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny Leiner", 1961, 2018, "nm0500444")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Priyadarshan", null, null, "nm0698184")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Priyadarshan", null, null, "nm0698184")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Priyadarshan", null, null, "nm0698184")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Priyadarshan", null, null, "nm0698184")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Hamm", 1957, null, "nm0358327")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Hamm", 1957, null, "nm0358327")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sharon Maguire", 1960, null, "nm0536632")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sharon Maguire", 1960, null, "nm0536632")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Wain", 1969, null, "nm0906476")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Wain", 1969, null, "nm0906476")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Wain", 1969, null, "nm0906476")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Wain", 1969, null, "nm0906476")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Wain", 1969, null, "nm0906476")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Wain", 1969, null, "nm0906476")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Wain", 1969, null, "nm0906476")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lone Scherfig", 1959, null, "nm0771054")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lone Scherfig", 1959, null, "nm0771054")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lone Scherfig", 1959, null, "nm0771054")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lone Scherfig", 1959, null, "nm0771054")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lone Scherfig", 1959, null, "nm0771054")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edward Yang", 1947, 2007, "nm0945981")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Livingston", null, null, "nm0515237")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Goldwyn", 1960, null, "nm0001282")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Goldwyn", 1960, null, "nm0001282")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Goldwyn", 1960, null, "nm0001282")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Léa Pool", 1950, null, "nm0690794")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Beck", null, null, "nm0065284")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Beck", null, null, "nm0065284")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennie Gordon", 1953, null, "nm0330140")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennie Gordon", 1953, null, "nm0330140")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennie Gordon", 1953, null, "nm0330140")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alejandro G. Iñárritu", 1963, null, "nm0327944")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alejandro G. Iñárritu", 1963, null, "nm0327944")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alejandro G. Iñárritu", 1963, null, "nm0327944")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alejandro G. Iñárritu", 1963, null, "nm0327944")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alejandro G. Iñárritu", 1963, null, "nm0327944")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alejandro G. Iñárritu", 1963, null, "nm0327944")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Hunter", null, null, "nm0402995")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Kelly", 1975, null, "nm0446819")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Kelly", 1975, null, "nm0446819")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Kelly", 1975, null, "nm0446819")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregory Poirier", 1961, null, "nm0201304")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenneth Fink", null, null, "nm0277830")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Henry Bean", 1945, null, "nm0063785")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Field", 1964, null, "nm0276062")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Field", 1964, null, "nm0276062")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fabián Bielinsky", 1959, 2006, "nm0081433")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fabián Bielinsky", 1959, 2006, "nm0081433")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Chandrasekhar", 1968, null, "nm0151540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Chandrasekhar", 1968, null, "nm0151540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Chandrasekhar", 1968, null, "nm0151540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Chandrasekhar", 1968, null, "nm0151540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Chandrasekhar", 1968, null, "nm0151540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Chandrasekhar", 1968, null, "nm0151540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Chandrasekhar", 1968, null, "nm0151540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Chandrasekhar", 1968, null, "nm0151540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Herbig", 1968, null, "nm0378660")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Herbig", 1968, null, "nm0378660")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Ball", 1957, null, "nm0050332")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Ball", 1957, null, "nm0050332")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ralph Eggleston", 1965, null, "nm0250995")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Cameron Mitchell", 1963, null, "nm0593463")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Cameron Mitchell", 1963, null, "nm0593463")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Cameron Mitchell", 1963, null, "nm0593463")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ágnes Hranitzky", 1945, null, "nm0398555")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kunihisa Sugishima", null, null, "nm0837515")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Santosh Sivan", null, null, "nm0007144")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Virginie Despentes", 1969, null, "nm0221591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Daldry", 1960, null, "nm0197636")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Daldry", 1960, null, "nm0197636")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Daldry", 1960, null, "nm0197636")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Daldry", 1960, null, "nm0197636")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Daldry", 1960, null, "nm0197636")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alain Chabat", 1958, null, "nm0149260")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alain Chabat", 1958, null, "nm0149260")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Stockwell", 1961, null, "nm0007082")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Stockwell", 1961, null, "nm0007082")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Stockwell", 1961, null, "nm0007082")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Stockwell", 1961, null, "nm0007082")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Stockwell", 1961, null, "nm0007082")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Hirschbiegel", 1957, null, "nm0386570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Hirschbiegel", 1957, null, "nm0386570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Hirschbiegel", 1957, null, "nm0386570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Hirschbiegel", 1957, null, "nm0386570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oliver Hirschbiegel", 1957, null, "nm0386570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Pritts", null, null, "nm0698125")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Siegel", null, null, "nm0796915")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Luketic", 1973, null, "nm0525659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Luketic", 1973, null, "nm0525659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Luketic", 1973, null, "nm0525659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Luketic", 1973, null, "nm0525659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Luketic", 1973, null, "nm0525659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Luketic", 1973, null, "nm0525659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Luketic", 1973, null, "nm0525659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Cassavetes", 1959, null, "nm0001024")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Cassavetes", 1959, null, "nm0001024")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Cassavetes", 1959, null, "nm0001024")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Cassavetes", 1959, null, "nm0001024")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Cassavetes", 1959, null, "nm0001024")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Satoshi Nishimura", null, null, "nm0632763")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Zombie", 1965, null, "nm0957772")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Zombie", 1965, null, "nm0957772")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Zombie", 1965, null, "nm0957772")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Zombie", 1965, null, "nm0957772")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Zombie", 1965, null, "nm0957772")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Zombie", 1965, null, "nm0957772")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregor Jordan", 1966, null, "nm0429964")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregor Jordan", 1966, null, "nm0429964")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregor Jordan", 1966, null, "nm0429964")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregor Jordan", 1966, null, "nm0429964")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ertem Egilmez", 1929, 1989, "nm0251027")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ertem Egilmez", 1929, 1989, "nm0251027")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ertem Egilmez", 1929, 1989, "nm0251027")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ertem Egilmez", 1929, 1989, "nm0251027")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ertem Egilmez", 1929, 1989, "nm0251027")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ertem Egilmez", 1929, 1989, "nm0251027")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Atif Yilmaz", 1925, 2006, "nm0947998")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Atif Yilmaz", 1925, 2006, "nm0947998")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brendan Malloy", null, null, "nm0540139")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kartal Tibet", 1938, null, "nm0862605")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kartal Tibet", 1938, null, "nm0862605")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zeki Ökten", 1941, 2009, "nm0006703")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ki-duk Kim", 1960, null, "nm1104118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ki-duk Kim", 1960, null, "nm1104118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ki-duk Kim", 1960, null, "nm1104118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ki-duk Kim", 1960, null, "nm1104118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ki-duk Kim", 1960, null, "nm1104118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ki-duk Kim", 1960, null, "nm1104118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ki-duk Kim", 1960, null, "nm1104118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luke Greenfield", 1972, null, "nm0339004")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luke Greenfield", 1972, null, "nm0339004")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luke Greenfield", 1972, null, "nm0339004")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luke Greenfield", 1972, null, "nm0339004")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clark Johnson", 1954, null, "nm0424800")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clark Johnson", 1954, null, "nm0424800")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Louis C.K.", 1967, null, "nm0127373")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Louis C.K.", 1967, null, "nm0127373")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Blair Hayes", null, null, "nm0370912")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christian Zübert", 1973, null, "nm0959255")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Berkeley", null, null, "nm0075331")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Berkeley", null, null, "nm0075331")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ray Lawrence", 1948, null, "nm0492979")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brent Maddock", null, null, "nm0534681")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chan-wook Park", 1963, null, "nm0661791")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chan-wook Park", 1963, null, "nm0661791")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chan-wook Park", 1963, null, "nm0661791")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chan-wook Park", 1963, null, "nm0661791")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chan-wook Park", 1963, null, "nm0661791")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chan-wook Park", 1963, null, "nm0661791")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chan-wook Park", 1963, null, "nm0661791")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chan-wook Park", 1963, null, "nm0661791")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Anderson", 1964, null, "nm0026442")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Anderson", 1964, null, "nm0026442")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Anderson", 1964, null, "nm0026442")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Anderson", 1964, null, "nm0026442")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Anderson", 1964, null, "nm0026442")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Anderson", 1964, null, "nm0026442")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Anderson", 1964, null, "nm0026442")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Anderson", 1964, null, "nm0026442")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Laurie Lynd", 1959, null, "nm0528508")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ömer Vargi", null, null, "nm0889943")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ömer Vargi", null, null, "nm0889943")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruno Barreto", 1955, null, "nm0000853")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert B. Weide", 1959, null, "nm0004332")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert B. Weide", 1959, null, "nm0004332")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Tremaine", null, null, "nm0871860")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Tremaine", null, null, "nm0871860")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Tremaine", null, null, "nm0871860")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Tremaine", null, null, "nm0871860")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Tremaine", null, null, "nm0871860")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Tremaine", null, null, "nm0871860")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Tremaine", null, null, "nm0871860")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Tremaine", null, null, "nm0871860")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Sullivan", 1964, null, "nm0838374")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bill Paxton", 1955, 2017, "nm0000200")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bill Paxton", 1955, 2017, "nm0000200")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Herman-Wurmfeld", 1966, null, "nm0379237")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Herman-Wurmfeld", 1966, null, "nm0379237")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shawn Levy", 1968, null, "nm0506613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shawn Levy", 1968, null, "nm0506613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shawn Levy", 1968, null, "nm0506613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shawn Levy", 1968, null, "nm0506613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shawn Levy", 1968, null, "nm0506613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shawn Levy", 1968, null, "nm0506613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shawn Levy", 1968, null, "nm0506613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shawn Levy", 1968, null, "nm0506613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shawn Levy", 1968, null, "nm0506613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shawn Levy", 1968, null, "nm0506613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shawn Levy", 1968, null, "nm0506613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shawn Levy", 1968, null, "nm0506613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shawn Levy", 1968, null, "nm0506613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shawn Levy", 1968, null, "nm0506613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shawn Levy", 1968, null, "nm0506613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shawn Levy", 1968, null, "nm0506613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shawn Levy", 1968, null, "nm0506613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shawn Levy", 1968, null, "nm0506613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Romanek", 1959, null, "nm0738796")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Romanek", 1959, null, "nm0738796")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Lee Hancock", 1956, null, "nm0359387")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Lee Hancock", 1956, null, "nm0359387")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Lee Hancock", 1956, null, "nm0359387")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Lee Hancock", 1956, null, "nm0359387")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Lee Hancock", 1956, null, "nm0359387")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Lee Hancock", 1956, null, "nm0359387")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kinji Fukasaku", 1930, 2003, "nm0297935")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Pierson", 1925, 2012, "nm0682757")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lee Unkrich", 1967, null, "nm0881279")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lee Unkrich", 1967, null, "nm0881279")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ariel Zeitoun", 1949, null, "nm0954437")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry W. Blaustein", 1955, null, "nm0087904")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Wedge", 1957, null, "nm0917188")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Wedge", 1957, null, "nm0917188")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Wedge", 1957, null, "nm0917188")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Wedge", 1957, null, "nm0917188")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John A. Davis", 1961, null, "nm0204884")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John A. Davis", 1961, null, "nm0204884")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Josef Fares", 1977, null, "nm0267244")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Josef Fares", 1977, null, "nm0267244")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yilmaz Erdogan", 1967, null, "nm0258784")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yilmaz Erdogan", 1967, null, "nm0258784")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yilmaz Erdogan", 1967, null, "nm0258784")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yilmaz Erdogan", 1967, null, "nm0258784")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Clooney", 1961, null, "nm0000123")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Clooney", 1961, null, "nm0000123")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Clooney", 1961, null, "nm0000123")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Clooney", 1961, null, "nm0000123")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Clooney", 1961, null, "nm0000123")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Clooney", 1961, null, "nm0000123")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Nahon", 1968, null, "nm0619599")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Nahon", 1968, null, "nm0619599")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Nahon", 1968, null, "nm0619599")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Russo", 1970, null, "nm0751577")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Russo", 1970, null, "nm0751577")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Russo", 1970, null, "nm0751577")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Russo", 1970, null, "nm0751577")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Russo", 1970, null, "nm0751577")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Seth Kearsley", 1971, null, "nm0444054")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ellory Elkayem", 1970, null, "nm0253819")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Teddy Chan", null, null, "nm0151125")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Carnahan", 1969, null, "nm0138620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Carnahan", 1969, null, "nm0138620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Carnahan", 1969, null, "nm0138620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Carnahan", 1969, null, "nm0138620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Carnahan", 1969, null, "nm0138620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rachel Feldman", 1954, null, "nm0271095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jaume Balagueró", 1968, null, "nm0049371")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jaume Balagueró", 1968, null, "nm0049371")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jaume Balagueró", 1968, null, "nm0049371")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jaume Balagueró", 1968, null, "nm0049371")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jaume Balagueró", 1968, null, "nm0049371")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Widdoes", 1953, null, "nm0927042")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Widdoes", 1953, null, "nm0927042")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Widdoes", 1953, null, "nm0927042")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Widdoes", 1953, null, "nm0927042")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jacques Audiard", 1952, null, "nm0002191")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jacques Audiard", 1952, null, "nm0002191")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jacques Audiard", 1952, null, "nm0002191")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jacques Audiard", 1952, null, "nm0002191")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jacques Audiard", 1952, null, "nm0002191")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jacques Audiard", 1952, null, "nm0002191")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Winterbottom", 1961, null, "nm0935863")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Winterbottom", 1961, null, "nm0935863")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Winterbottom", 1961, null, "nm0935863")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Winterbottom", 1961, null, "nm0935863")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Winterbottom", 1961, null, "nm0935863")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Winterbottom", 1961, null, "nm0935863")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Winterbottom", 1961, null, "nm0935863")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Winterbottom", 1961, null, "nm0935863")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rick Bota", null, null, "nm0098400")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Algrant", 1959, null, "nm0019341")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Shainberg", 1963, null, "nm0787601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Shainberg", 1963, null, "nm0787601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sung-su Kim", 1961, null, "nm1226290")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Prinzi", null, null, "nm0697910")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hiroyuki Kitakubo", 1963, null, "nm0457541")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stacy Peralta", 1957, null, "nm0672769")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ryûhei Kitamura", 1969, null, "nm0457565")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ryûhei Kitamura", 1969, null, "nm0457565")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ryûhei Kitamura", 1969, null, "nm0457565")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ryûhei Kitamura", 1969, null, "nm0457565")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Sanders", 1962, null, "nm0761498")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Gallen", null, null, "nm0302778")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Genndy Tartakovsky", 1970, null, "nm0850733")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Genndy Tartakovsky", 1970, null, "nm0850733")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Genndy Tartakovsky", 1970, null, "nm0850733")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Genndy Tartakovsky", 1970, null, "nm0850733")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Genndy Tartakovsky", 1970, null, "nm0850733")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Bray", null, null, "nm0106230")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Bray", null, null, "nm0106230")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jesse Dylan", 1966, null, "nm0245888")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jesse Dylan", 1966, null, "nm0245888")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jesse Dylan", 1966, null, "nm0245888")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Loter", null, null, "nm0521425")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Petter Næss", 1960, null, "nm0639033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Petter Næss", 1960, null, "nm0639033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kazuya Tsurumaki", 1966, null, "nm0875453")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Miguel Arteta", 1965, null, "nm0037708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Miguel Arteta", 1965, null, "nm0037708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Miguel Arteta", 1965, null, "nm0037708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Miguel Arteta", 1965, null, "nm0037708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Malcolm D. Lee", 1970, null, "nm0002700")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Malcolm D. Lee", 1970, null, "nm0002700")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Malcolm D. Lee", 1970, null, "nm0002700")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Malcolm D. Lee", 1970, null, "nm0002700")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Malcolm D. Lee", 1970, null, "nm0002700")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Malcolm D. Lee", 1970, null, "nm0002700")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Malcolm D. Lee", 1970, null, "nm0002700")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Malcolm D. Lee", 1970, null, "nm0002700")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Whitney Ransick", null, null, "nm0003447")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Callie Khouri", 1957, null, "nm0451884")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Callie Khouri", 1957, null, "nm0451884")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Callie Khouri", 1957, null, "nm0451884")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wallace Wolodarsky", null, null, "nm0938645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Darrell Rooney", null, null, "nm0740311")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robin Budd", null, null, "nm1180460")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Dolman", null, null, "nm0231190")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Greengrass", 1955, null, "nm0339030")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Greengrass", 1955, null, "nm0339030")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Greengrass", 1955, null, "nm0339030")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Greengrass", 1955, null, "nm0339030")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Greengrass", 1955, null, "nm0339030")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Greengrass", 1955, null, "nm0339030")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Greengrass", 1955, null, "nm0339030")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Greengrass", 1955, null, "nm0339030")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Marshall", 1970, null, "nm0551076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Marshall", 1970, null, "nm0551076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Marshall", 1970, null, "nm0551076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Marshall", 1970, null, "nm0551076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Marshall", 1970, null, "nm0551076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Marshall", 1970, null, "nm0551076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Marshall", 1970, null, "nm0551076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Marshall", 1970, null, "nm0551076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daisy von Scherler Mayer", 1966, null, "nm0902939")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Burr Steers", 1965, null, "nm0824882")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Burr Steers", 1965, null, "nm0824882")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Burr Steers", 1965, null, "nm0824882")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Burr Steers", 1965, null, "nm0824882")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Eyre", 1943, null, "nm0264236")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Eyre", 1943, null, "nm0264236")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Eyre", 1943, null, "nm0264236")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Evans", 1963, null, "nm0263009")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Evans", 1963, null, "nm0263009")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cathy Malkasian", null, null, "nm0539782")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Liebesman", 1976, null, "nm0509448")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Liebesman", 1976, null, "nm0509448")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Liebesman", 1976, null, "nm0509448")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Liebesman", 1976, null, "nm0509448")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Liebesman", 1976, null, "nm0509448")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Liebesman", 1976, null, "nm0509448")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonas Åkerlund", 1965, null, "nm0959774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonas Åkerlund", 1965, null, "nm0959774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonas Åkerlund", 1965, null, "nm0959774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Polson", 1965, null, "nm0689852")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Polson", 1965, null, "nm0689852")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Polson", 1965, null, "nm0689852")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walt Becker", 1968, null, "nm0065608")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walt Becker", 1968, null, "nm0065608")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walt Becker", 1968, null, "nm0065608")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Walt Becker", 1968, null, "nm0065608")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Trenbirth", null, null, "nm0872045")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danis Tanovic", 1969, null, "nm0849786")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("François Ozon", 1967, null, "nm0654830")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("François Ozon", 1967, null, "nm0654830")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("François Ozon", 1967, null, "nm0654830")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("François Ozon", 1967, null, "nm0654830")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("François Ozon", 1967, null, "nm0654830")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Morgan J. Freeman", 1969, null, "nm0293533")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cédric Klapisch", 1961, null, "nm0458251")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cédric Klapisch", 1961, null, "nm0458251")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cédric Klapisch", 1961, null, "nm0458251")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cédric Klapisch", 1961, null, "nm0458251")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jack Kenny", 1958, null, "nm0448579")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Mylod", null, null, "nm0617042")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Mylod", null, null, "nm0617042")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Mylod", null, null, "nm0617042")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Mylod", null, null, "nm0617042")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Mylod", null, null, "nm0617042")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Mylod", null, null, "nm0617042")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Mylod", null, null, "nm0617042")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Mylod", null, null, "nm0617042")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Mylod", null, null, "nm0617042")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Mylod", null, null, "nm0617042")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Mylod", null, null, "nm0617042")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barbara Kopple", 1946, null, "nm0465932")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ian Toynton", 1946, null, "nm0870306")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ian Toynton", 1946, null, "nm0870306")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ian Toynton", 1946, null, "nm0870306")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bertram van Munster", null, null, "nm0887536")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eren Celeboglu", null, null, "nm2202596")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mort Nathan", null, null, "nm0622240")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mort Nathan", null, null, "nm0622240")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrzej Sekula", 1954, null, "nm0782900")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Forster", 1969, null, "nm0286975")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Forster", 1969, null, "nm0286975")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Forster", 1969, null, "nm0286975")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Forster", 1969, null, "nm0286975")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Forster", 1969, null, "nm0286975")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Forster", 1969, null, "nm0286975")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Forster", 1969, null, "nm0286975")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Forster", 1969, null, "nm0286975")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Forster", 1969, null, "nm0286975")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Kwietniowski", 1957, null, "nm0477193")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Chow", 1962, null, "nm0159507")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Chow", 1962, null, "nm0159507")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Chow", 1962, null, "nm0159507")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Chow", 1962, null, "nm0159507")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sylvain Chomet", 1963, null, "nm0158984")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sylvain Chomet", 1963, null, "nm0158984")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("M.J. Bassett", null, null, "nm1068186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("M.J. Bassett", null, null, "nm1068186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("M.J. Bassett", null, null, "nm1068186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("M.J. Bassett", null, null, "nm1068186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("M.J. Bassett", null, null, "nm1068186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Ferland", 1966, null, "nm0272704")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Ferland", 1966, null, "nm0272704")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Ferland", 1966, null, "nm0272704")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Ferland", 1966, null, "nm0272704")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Ferland", 1966, null, "nm0272704")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Ferland", 1966, null, "nm0272704")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Ferland", 1966, null, "nm0272704")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gurinder Chadha", 1960, null, "nm0149446")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gurinder Chadha", 1960, null, "nm0149446")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gurinder Chadha", 1960, null, "nm0149446")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kiyoshi Kurosawa", 1955, null, "nm0475905")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Yaitanes", 1970, null, "nm0944981")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Yaitanes", 1970, null, "nm0944981")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Yaitanes", 1970, null, "nm0944981")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Yaitanes", 1970, null, "nm0944981")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Yaitanes", 1970, null, "nm0944981")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eleanore Lindo", null, null, "nm0512052")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Mackenzie", 1966, null, "nm0533284")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Mackenzie", 1966, null, "nm0533284")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Mackenzie", 1966, null, "nm0533284")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Mackenzie", 1966, null, "nm0533284")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Mackenzie", 1966, null, "nm0533284")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Mackenzie", 1966, null, "nm0533284")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Mackenzie", 1966, null, "nm0533284")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eric Bress", null, null, "nm0107774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Donovan", null, null, "nm1019493")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yasunao Aoki", null, null, "nm0031835")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ricky Gervais", 1961, null, "nm0315041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ricky Gervais", 1961, null, "nm0315041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ricky Gervais", 1961, null, "nm0315041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ricky Gervais", 1961, null, "nm0315041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ricky Gervais", 1961, null, "nm0315041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ricky Gervais", 1961, null, "nm0315041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ricky Gervais", 1961, null, "nm0315041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ricky Gervais", 1961, null, "nm0315041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ricky Gervais", 1961, null, "nm0315041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Clattenburg", null, null, "nm0154104")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Clattenburg", null, null, "nm0154104")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Skolnick", 1966, null, "nm1032759")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("S. Shankar", null, null, "nm0788171")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("S. Shankar", null, null, "nm0788171")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("S. Shankar", null, null, "nm0788171")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("S. Shankar", null, null, "nm0788171")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("S. Shankar", null, null, "nm0788171")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("S. Shankar", null, null, "nm0788171")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("S. Shankar", null, null, "nm0788171")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Laetitia Colombani", 1976, null, "nm0172989")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Farhan Akhtar", 1974, null, "nm1027719")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Farhan Akhtar", 1974, null, "nm1027719")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Farhan Akhtar", 1974, null, "nm1027719")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Farhan Akhtar", 1974, null, "nm1027719")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Juan José Campanella", 1959, null, "nm0002728")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Juan José Campanella", 1959, null, "nm0002728")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Juan José Campanella", 1959, null, "nm0002728")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Juan José Campanella", 1959, null, "nm0002728")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shaun Cashman", null, null, "nm0143663")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rintaro", 1941, null, "nm0727336")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Louis Leterrier", 1973, null, "nm0504642")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Louis Leterrier", 1973, null, "nm0504642")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Louis Leterrier", 1973, null, "nm0504642")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Louis Leterrier", 1973, null, "nm0504642")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Louis Leterrier", 1973, null, "nm0504642")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Louis Leterrier", 1973, null, "nm0504642")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Louis Leterrier", 1973, null, "nm0504642")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Louis Leterrier", 1973, null, "nm0504642")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jae-young Kwak", 1959, null, "nm1030706")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marcus Raboy", 1965, null, "nm1048560")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Larry Shaw", null, null, "nm0789834")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Perry Andelin Blake", null, null, "nm0086690")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Schmidt", 1965, null, "nm0003343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alastair Fothergill", 1960, null, "nm0288144")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alastair Fothergill", 1960, null, "nm0288144")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alastair Fothergill", 1960, null, "nm0288144")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Michael Paul", 1963, null, "nm0666806")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Michael Paul", 1963, null, "nm0666806")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dave Willis", 1970, null, "nm0932302")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Niki Caro", 1967, null, "nm0138927")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Niki Caro", 1967, null, "nm0138927")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Niki Caro", 1967, null, "nm0138927")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Niki Caro", 1967, null, "nm0138927")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lisa Cholodenko", 1964, null, "nm0158966")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lisa Cholodenko", 1964, null, "nm0158966")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lisa Cholodenko", 1964, null, "nm0158966")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dylan Kidd", 1969, null, "nm1071898")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dylan Kidd", 1969, null, "nm1071898")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Sanford", null, null, "nm0998551")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Gordon Green", 1975, null, "nm0337773")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Gordon Green", 1975, null, "nm0337773")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Gordon Green", 1975, null, "nm0337773")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Gordon Green", 1975, null, "nm0337773")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Gordon Green", 1975, null, "nm0337773")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Gordon Green", 1975, null, "nm0337773")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Gordon Green", 1975, null, "nm0337773")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Gordon Green", 1975, null, "nm0337773")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Gordon Green", 1975, null, "nm0337773")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Gordon Green", 1975, null, "nm0337773")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Marshall", 1960, null, "nm0551128")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Marshall", 1960, null, "nm0551128")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Marshall", 1960, null, "nm0551128")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Marshall", 1960, null, "nm0551128")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Marshall", 1960, null, "nm0551128")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Marshall", 1960, null, "nm0551128")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wolfgang Becker", 1954, null, "nm0065615")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jacques Cluzaud", null, null, "nm0167384")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew Ryan Hoge", null, null, "nm1097297")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Brady", null, null, "nm0103744")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Brady", null, null, "nm0103744")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Brady", null, null, "nm0103744")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lucky McKee", 1975, null, "nm1031246")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lucky McKee", 1975, null, "nm1031246")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lucky McKee", 1975, null, "nm1031246")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Solomon", null, null, "nm0813313")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Solomon", null, null, "nm0813313")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eli Roth", 1972, null, "nm0744834")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eli Roth", 1972, null, "nm0744834")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eli Roth", 1972, null, "nm0744834")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eli Roth", 1972, null, "nm0744834")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eli Roth", 1972, null, "nm0744834")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eli Roth", 1972, null, "nm0744834")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eli Roth", 1972, null, "nm0744834")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Stone III", 1966, null, "nm0831690")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Stone III", 1966, null, "nm0831690")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Stone III", 1966, null, "nm0831690")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shari Springer Berman", 1963, null, "nm0075849")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shari Springer Berman", 1963, null, "nm0075849")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shari Springer Berman", 1963, null, "nm0075849")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vipul Amrutlal Shah", null, null, "nm1150959")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vipul Amrutlal Shah", null, null, "nm1150959")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Fall", 1962, null, "nm0266302")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bibo Bergeron", null, null, "nm0074426")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bibo Bergeron", null, null, "nm0074426")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Baptiste Andrea", 1971, null, "nm1125131")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Baptiste Andrea", 1971, null, "nm1125131")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wych Kaosayananda", 1974, null, "nm1126346")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Louis Pepe", 1966, null, "nm0672492")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eric Till", 1929, null, "nm0863254")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Glen Morgan", 1947, null, "nm0604688")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Glen Morgan", 1947, null, "nm0604688")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremy Silberston", 1950, 2006, "nm0797928")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aki Kaurismäki", 1957, null, "nm0442454")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aki Kaurismäki", 1957, null, "nm0442454")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Hedges", 1962, null, "nm0373282")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Hedges", 1962, null, "nm0373282")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Hedges", 1962, null, "nm0373282")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Hedges", 1962, null, "nm0373282")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Box", 1967, null, "nm0101508")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Warburton", null, null, "nm1146489")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Randy Zisk", null, null, "nm0957198")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bo Welch", 1951, null, "nm0919514")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sion Sono", 1961, null, "nm0814469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sion Sono", 1961, null, "nm0814469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Hill", null, null, "nm0003880")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Hill", null, null, "nm0003880")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Hill", null, null, "nm0003880")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carlos Carrera", 1962, null, "nm0140196")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Lawrence", 1959, null, "nm0492909")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Lawrence", 1959, null, "nm0492909")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Lawrence", 1959, null, "nm0492909")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Lawrence", 1959, null, "nm0492909")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Enki Bilal", 1951, null, "nm0082094")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nae Caranfil", 1960, null, "nm0135952")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Curtis", 1956, null, "nm0193485")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Curtis", 1956, null, "nm0193485")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Curtis", 1956, null, "nm0193485")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Isabel Coixet", 1960, null, "nm0170043")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Isabel Coixet", 1960, null, "nm0170043")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Isabel Coixet", 1960, null, "nm0170043")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bejoy Nambiar", 1979, null, "nm2349060")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vadim Perelman", 1963, null, "nm1166926")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vadim Perelman", 1963, null, "nm1166926")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Ranft", 1960, 2005, "nm0710020")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fernando Meirelles", 1955, null, "nm0576987")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fernando Meirelles", 1955, null, "nm0576987")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fernando Meirelles", 1955, null, "nm0576987")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fernando Meirelles", 1955, null, "nm0576987")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Uwe Boll", 1965, null, "nm0093051")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Uwe Boll", 1965, null, "nm0093051")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Uwe Boll", 1965, null, "nm0093051")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Uwe Boll", 1965, null, "nm0093051")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Uwe Boll", 1965, null, "nm0093051")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Uwe Boll", 1965, null, "nm0093051")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Uwe Boll", 1965, null, "nm0093051")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Uwe Boll", 1965, null, "nm0093051")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J.J. Abrams", 1966, null, "nm0009190")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J.J. Abrams", 1966, null, "nm0009190")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J.J. Abrams", 1966, null, "nm0009190")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J.J. Abrams", 1966, null, "nm0009190")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J.J. Abrams", 1966, null, "nm0009190")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aleksandr Sokurov", 1951, null, "nm0812546")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wayne Kramer", 1965, null, "nm0469694")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wayne Kramer", 1965, null, "nm0469694")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wayne Kramer", 1965, null, "nm0469694")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wayne Kramer", 1965, null, "nm0469694")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bradley Raymond", null, null, "nm0713214")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bradley Raymond", null, null, "nm0713214")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Mullan", 1959, null, "nm0611932")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alexander Witt", 1952, null, "nm0936838")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Breck Eisner", 1970, null, "nm0252135")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Breck Eisner", 1970, null, "nm0252135")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Breck Eisner", 1970, null, "nm0252135")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Mills", 1966, null, "nm0590122")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Mills", 1966, null, "nm0590122")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Mills", 1966, null, "nm0590122")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Naohito Takahashi", null, null, "nm0652951")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Arvin Brown", 1940, null, "nm0113054")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fernando León de Aranoa", 1968, null, "nm0508208")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fernando León de Aranoa", 1968, null, "nm0508208")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fernando León de Aranoa", 1968, null, "nm0508208")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alison Maclean", 1958, null, "nm0533744")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe DeMaio", null, null, "nm0218039")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fenton Bailey", null, null, "nm0047259")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Len Wiseman", 1973, null, "nm0936482")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Len Wiseman", 1973, null, "nm0936482")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Len Wiseman", 1973, null, "nm0936482")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Len Wiseman", 1973, null, "nm0936482")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amy Hudson", null, null, "nm2824265")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Zuckerman", null, null, "nm0958449")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John F. Showalter", null, null, "nm0795288")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John F. Showalter", null, null, "nm0795288")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bille Woodruff", null, null, "nm0937306")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bille Woodruff", null, null, "nm0937306")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Katherine Brooks", 1976, null, "nm0112085")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Damian Nieman", null, null, "nm1195760")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Ray", null, null, "nm0712753")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Ray", null, null, "nm0712753")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Ray", null, null, "nm0712753")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marcus Nispel", 1963, null, "nm1197971")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marcus Nispel", 1963, null, "nm1197971")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marcus Nispel", 1963, null, "nm1197971")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marcus Nispel", 1963, null, "nm1197971")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Rock", 1965, null, "nm0001674")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Rock", 1965, null, "nm0001674")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Rock", 1965, null, "nm0001674")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Umanosuke Iida", 1961, 2010, "nm0407341")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roland Suso Richter", 1961, null, "nm0725345")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny Pang", 1965, null, "nm0659380")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny Pang", 1965, null, "nm0659380")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Reggie Rock Bythewood", 1965, null, "nm0090066")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim McCanlies", 1953, null, "nm0564827")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Whitesell", null, null, "nm0925870")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Whitesell", null, null, "nm0925870")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Whitesell", null, null, "nm0925870")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Whitesell", null, null, "nm0925870")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Whitesell", null, null, "nm0925870")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Catherine Hardwicke", 1955, null, "nm0362566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Catherine Hardwicke", 1955, null, "nm0362566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Catherine Hardwicke", 1955, null, "nm0362566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Catherine Hardwicke", 1955, null, "nm0362566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Catherine Hardwicke", 1955, null, "nm0362566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Audrey Wells", 1960, 2018, "nm0920108")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Chung", 1961, null, "nm0161285")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Chung", 1961, null, "nm0161285")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Walker", 1961, 2015, "nm1074107")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("François Dupeyron", 1950, 2016, "nm0243191")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph Kahn", 1972, null, "nm0994538")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph Kahn", 1972, null, "nm0994538")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rose Troche", 1964, null, "nm0873266")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Hensleigh", 1959, null, "nm0378144")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Hensleigh", 1959, null, "nm0378144")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Marcks", 1976, null, "nm1009775")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Marcks", 1976, null, "nm1009775")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pieter Jan Brugge", 1956, null, "nm0115764")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Dannelly", null, null, "nm0200380")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Dannelly", null, null, "nm0200380")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Crowley", 1969, null, "nm1259871")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Crowley", 1969, null, "nm1259871")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Crowley", 1969, null, "nm1259871")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Crowley", 1969, null, "nm1259871")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zach Braff", 1975, null, "nm0103785")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zach Braff", 1975, null, "nm0103785")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zach Braff", 1975, null, "nm0103785")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeffrey Blitz", 1969, null, "nm0998825")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeffrey Blitz", 1969, null, "nm0998825")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeffrey Blitz", 1969, null, "nm0998825")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Webber", 1968, null, "nm0916424")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Webber", 1968, null, "nm0916424")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Webber", 1968, null, "nm0916424")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Cox", 1975, null, "nm0185063")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Olivier Dahan", 1967, null, "nm0196860")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Olivier Dahan", 1967, null, "nm0196860")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Olivier Dahan", 1967, null, "nm0196860")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Winick", 1961, 2011, "nm0935095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Winick", 1961, 2011, "nm0935095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Winick", 1961, 2011, "nm0935095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Winick", 1961, 2011, "nm0935095")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ravi Chopra", 1946, 2014, "nm0159162")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Rodney Sullivan", 1958, null, "nm0838198")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Rodney Sullivan", 1958, null, "nm0838198")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Casey La Scala", null, null, "nm0489453")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alexandre Aja", 1978, null, "nm0014960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alexandre Aja", 1978, null, "nm0014960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alexandre Aja", 1978, null, "nm0014960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alexandre Aja", 1978, null, "nm0014960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alexandre Aja", 1978, null, "nm0014960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alexandre Aja", 1978, null, "nm0014960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alexandre Aja", 1978, null, "nm0014960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Duigan", 1949, null, "nm0241090")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Denys Arcand", 1941, null, "nm0000780")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mikael Håfström", 1960, null, "nm0405632")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mikael Håfström", 1960, null, "nm0405632")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mikael Håfström", 1960, null, "nm0405632")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mikael Håfström", 1960, null, "nm0405632")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mikael Håfström", 1960, null, "nm0405632")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Abascal", 1958, null, "nm0007708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anand Tucker", 1963, null, "nm0875793")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anand Tucker", 1963, null, "nm0875793")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Mak", 1965, null, "nm0538320")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenta Fukasaku", 1972, null, "nm0297934")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takashi Yamazaki", 1964, null, "nm0945724")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Spierig", null, null, "nm1294961")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Spierig", null, null, "nm1294961")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Spierig", null, null, "nm1294961")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Spierig", null, null, "nm1294961")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Florent-Emilio Siri", 1965, null, "nm0802807")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom McCarthy", 1966, null, "nm0565336")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom McCarthy", 1966, null, "nm0565336")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom McCarthy", 1966, null, "nm0565336")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom McCarthy", 1966, null, "nm0565336")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom McCarthy", 1966, null, "nm0565336")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patty Jenkins", 1971, null, "nm0420941")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patty Jenkins", 1971, null, "nm0420941")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Jarecki", null, null, "nm1285613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Jarecki", null, null, "nm1285613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Jarecki", null, null, "nm1285613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Hamburg", 1970, null, "nm0357453")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Hamburg", 1970, null, "nm0357453")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Hamburg", 1970, null, "nm0357453")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ciro Nieli", 1974, null, "nm1367649")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pen-Ek Ratanaruang", 1962, null, "nm0711579")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("C. Jay Cox", 1962, null, "nm0184947")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Hillenburg", 1961, 2018, "nm0384864")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nuri Bilge Ceylan", 1959, null, "nm0149196")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nuri Bilge Ceylan", 1959, null, "nm0149196")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nuri Bilge Ceylan", 1959, null, "nm0149196")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nuri Bilge Ceylan", 1959, null, "nm0149196")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nuri Bilge Ceylan", 1959, null, "nm0149196")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nuri Bilge Ceylan", 1959, null, "nm0149196")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kerry Conran", 1964, null, "nm0175775")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenji Kamiyama", 1966, null, "nm0436784")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marco Tullio Giordana", 1950, null, "nm0320285")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Firestone", null, null, "nm0278669")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jennifer Graves", null, null, "nm0336296")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Ramsey", null, null, "nm0708870")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nikkhil Advani", 1971, null, "nm0012541")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Farah Khan", 1965, null, "nm0007134")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Farah Khan", 1965, null, "nm0007134")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Farah Khan", 1965, null, "nm0007134")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Farah Khan", 1965, null, "nm0007134")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hiroyuki Morita", 1964, null, "nm1293863")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob McKittrick", 1973, null, "nm1301035")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tod Williams", 1968, null, "nm0931095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tod Williams", 1968, null, "nm0931095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tod Williams", 1968, null, "nm0931095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Grossman", null, null, "nm0343622")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Grossman", null, null, "nm0343622")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Grossman", null, null, "nm0343622")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Taylor", 1965, null, "nm0851930")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Taylor", 1965, null, "nm0851930")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Taylor", 1965, null, "nm0851930")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Taylor", 1965, null, "nm0851930")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Taylor", 1965, null, "nm0851930")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Taylor", 1965, null, "nm0851930")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Taylor", 1965, null, "nm0851930")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Taylor", 1965, null, "nm0851930")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Taylor", 1965, null, "nm0851930")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Taylor", 1965, null, "nm0851930")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gavin O'Connor", 1963, null, "nm0640334")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gavin O'Connor", 1963, null, "nm0640334")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gavin O'Connor", 1963, null, "nm0640334")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gavin O'Connor", 1963, null, "nm0640334")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gavin O'Connor", 1963, null, "nm0640334")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Casey", null, null, "nm1392455")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eric Darnell", null, null, "nm0201509")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eric Darnell", null, null, "nm0201509")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yôji Yamada", 1931, null, "nm0945282")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ferzan Ozpetek", 1959, null, "nm0654858")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ferzan Ozpetek", 1959, null, "nm0654858")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rusty Cundieff", 1960, null, "nm0192090")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brett Sullivan", null, null, "nm0837977")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joon-ho Bong", 1969, null, "nm0094435")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joon-ho Bong", 1969, null, "nm0094435")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joon-ho Bong", 1969, null, "nm0094435")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joon-ho Bong", 1969, null, "nm0094435")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joon-ho Bong", 1969, null, "nm0094435")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joon-ho Bong", 1969, null, "nm0094435")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Schaffer", null, null, "nm0769840")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Schaffer", null, null, "nm0769840")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Rosman", 1959, null, "nm0743093")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Rosman", 1959, null, "nm0743093")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thomas Bezucha", 1964, null, "nm0080120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thomas Bezucha", 1964, null, "nm0080120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rebecca Miller", 1962, null, "nm0589182")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rebecca Miller", 1962, null, "nm0589182")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rebecca Miller", 1962, null, "nm0589182")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam McKay", 1968, null, "nm0570912")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam McKay", 1968, null, "nm0570912")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam McKay", 1968, null, "nm0570912")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam McKay", 1968, null, "nm0570912")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam McKay", 1968, null, "nm0570912")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam McKay", 1968, null, "nm0570912")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam McKay", 1968, null, "nm0570912")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Allen", 1962, null, "nm0020728")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shaun Monson", null, null, "nm0598671")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Bendelack", null, null, "nm0070436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Bendelack", null, null, "nm0070436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David S. Goyer", 1965, null, "nm0333060")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David S. Goyer", 1965, null, "nm0333060")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David S. Goyer", 1965, null, "nm0333060")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David S. Goyer", 1965, null, "nm0333060")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Mayer", 1960, null, "nm1555287")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Lawrence", 1971, null, "nm1349376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Lawrence", 1971, null, "nm1349376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Lawrence", 1971, null, "nm1349376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Lawrence", 1971, null, "nm1349376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Lawrence", 1971, null, "nm1349376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Lawrence", 1971, null, "nm1349376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Lawrence", 1971, null, "nm1349376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ramin Bahrani", 1975, null, "nm1023919")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ramin Bahrani", 1975, null, "nm1023919")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Chapman", null, null, "nm1369705")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicole Kassell", null, null, "nm0975026")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicole Kassell", null, null, "nm0975026")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael M. Robin", null, null, "nm0732218")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael M. Robin", null, null, "nm0732218")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael M. Robin", null, null, "nm0732218")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sara Sugarman", 1965, null, "nm0837406")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Hurran", 1959, null, "nm0403541")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Hurran", 1959, null, "nm0403541")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Hurran", 1959, null, "nm0403541")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Hurran", 1959, null, "nm0403541")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Hurran", 1959, null, "nm0403541")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Hurran", 1959, null, "nm0403541")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guillaume Canet", 1973, null, "nm0133899")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guillaume Canet", 1973, null, "nm0133899")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guillaume Canet", 1973, null, "nm0133899")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Lange", 1950, null, "nm0004627")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Mock", null, null, "nm0595136")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Virgil L. Fabian", null, null, "nm0264590")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Spacey", 1959, null, "nm0000228")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zack Snyder", 1966, null, "nm0811583")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zack Snyder", 1966, null, "nm0811583")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zack Snyder", 1966, null, "nm0811583")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zack Snyder", 1966, null, "nm0811583")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zack Snyder", 1966, null, "nm0811583")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zack Snyder", 1966, null, "nm0811583")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zack Snyder", 1966, null, "nm0811583")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zack Snyder", 1966, null, "nm0811583")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Derick Martini", 1972, null, "nm0553796")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Derick Martini", 1972, null, "nm0553796")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Omar Naim", 1977, null, "nm0619715")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takashi Shimizu", 1972, null, "nm1234345")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takashi Shimizu", 1972, null, "nm1234345")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takashi Shimizu", 1972, null, "nm1234345")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takashi Shimizu", 1972, null, "nm1234345")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yann Samuell", 1965, null, "nm1367933")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yann Samuell", 1965, null, "nm1367933")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rawson Marshall Thurber", 1975, null, "nm1098493")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rawson Marshall Thurber", 1975, null, "nm1098493")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rawson Marshall Thurber", 1975, null, "nm1098493")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rawson Marshall Thurber", 1975, null, "nm1098493")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Katleman", 1960, null, "nm0003150")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Katleman", 1960, null, "nm0003150")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Katleman", 1960, null, "nm0003150")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven DePaul", null, null, "nm0220049")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan J. Levi", null, null, "nm0505420")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Niels Mueller", 1961, null, "nm0007158")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jee-woon Kim", 1964, null, "nm0453518")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jee-woon Kim", 1964, null, "nm0453518")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jee-woon Kim", 1964, null, "nm0453518")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jee-woon Kim", 1964, null, "nm0453518")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jee-woon Kim", 1964, null, "nm0453518")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Shepard", null, null, "nm0791672")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Shepard", null, null, "nm0791672")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Shepard", null, null, "nm0791672")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Shepard", null, null, "nm0791672")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nikolai Müllerschön", 1958, null, "nm0618391")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Gaghan", 1965, null, "nm0300866")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Gaghan", 1965, null, "nm0300866")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Liam Lynch", 1970, null, "nm0528381")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Binder", 1958, null, "nm0082802")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Binder", 1958, null, "nm0082802")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Binder", 1958, null, "nm0082802")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Frank", 1960, null, "nm0291082")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Frank", 1960, null, "nm0291082")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Frank", 1960, null, "nm0291082")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Stokes", null, null, "nm0831321")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Judy Morris", 1947, null, "nm0606688")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Maybury", 1958, null, "nm0562266")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Maybury", 1958, null, "nm0562266")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Maybury", 1958, null, "nm0562266")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Maybury", 1958, null, "nm0562266")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dave McKean", 1963, null, "nm0571098")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jessy Terrero", 1975, null, "nm0855843")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Noah Baumbach", 1969, null, "nm0000876")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Noah Baumbach", 1969, null, "nm0000876")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Noah Baumbach", 1969, null, "nm0000876")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Noah Baumbach", 1969, null, "nm0000876")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Noah Baumbach", 1969, null, "nm0000876")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Noah Baumbach", 1969, null, "nm0000876")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Noah Baumbach", 1969, null, "nm0000876")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phil Tippett", 1951, null, "nm0864138")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mick Davis", 1961, null, "nm0205169")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sundar C.", null, null, "nm1326535")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Angela Robinson", 1971, null, "nm1286340")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Angela Robinson", 1971, null, "nm1286340")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Angela Robinson", 1971, null, "nm1286340")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Bigelow", null, null, "nm1600805")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Turturro", 1957, null, "nm0001806")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Turturro", 1957, null, "nm0001806")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tommy Wiseau", 1955, null, "nm1382072")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Zakrzewski", null, null, "nm0952352")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Zakrzewski", null, null, "nm0952352")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Prachya Pinkaew", 1962, null, "nm1272773")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Prachya Pinkaew", 1962, null, "nm1272773")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Prachya Pinkaew", 1962, null, "nm1272773")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Prachya Pinkaew", 1962, null, "nm1272773")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Nussbaum", 1973, null, "nm0638271")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Nussbaum", 1973, null, "nm0638271")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Nussbaum", 1973, null, "nm0638271")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Nussbaum", 1973, null, "nm0638271")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Lau", 1960, null, "nm0490487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Lau", 1960, null, "nm0490487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Lau", 1960, null, "nm0490487")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Seth Gordon", null, null, "nm1164861")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Seth Gordon", null, null, "nm1164861")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Seth Gordon", null, null, "nm1164861")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Seth Gordon", null, null, "nm1164861")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Seth Gordon", null, null, "nm1164861")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Colin Trevorrow", 1976, null, "nm1119880")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Colin Trevorrow", 1976, null, "nm1119880")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Colin Trevorrow", 1976, null, "nm1119880")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shainee Gabel", 1969, null, "nm0300015")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Abrams", null, null, "nm1462143")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jesper Møller", null, null, "nm0597026")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Garth Jennings", 1972, null, "nm1134029")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Garth Jennings", 1972, null, "nm1134029")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Garth Jennings", 1972, null, "nm1134029")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clare Kilner", null, null, "nm0453270")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christophe Barratier", 1963, null, "nm0056725")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hyung-rae Shim", 1958, null, "nm0405374")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eric Brevig", 1957, null, "nm0108094")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eric Brevig", 1957, null, "nm0108094")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ryan Little", 1971, null, "nm0514662")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shane Black", 1961, null, "nm0000948")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shane Black", 1961, null, "nm0000948")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shane Black", 1961, null, "nm0000948")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shane Black", 1961, null, "nm0000948")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan Fausett", null, null, "nm0269229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Prakash Jha", 1952, null, "nm0422552")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Prakash Jha", 1952, null, "nm0422552")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Yates", 1963, null, "nm0946734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Yates", 1963, null, "nm0946734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Yates", 1963, null, "nm0946734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Yates", 1963, null, "nm0946734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Yates", 1963, null, "nm0946734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Yates", 1963, null, "nm0946734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Yates", 1963, null, "nm0946734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nimród Antal", 1973, null, "nm0030735")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nimród Antal", 1973, null, "nm0030735")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nimród Antal", 1973, null, "nm0030735")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nimród Antal", 1973, null, "nm0030735")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nimród Antal", 1973, null, "nm0030735")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Kentis", 1962, null, "nm0448900")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Kentis", 1962, null, "nm0448900")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Satish Kaushik", 1956, null, "nm0442479")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Speyrer", null, null, "nm2994351")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rajkumar Hirani", 1962, null, "nm0386246")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rajkumar Hirani", 1962, null, "nm0386246")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rajkumar Hirani", 1962, null, "nm0386246")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rajkumar Hirani", 1962, null, "nm0386246")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rajkumar Hirani", 1962, null, "nm0386246")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jared Hess", 1979, null, "nm0381478")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jared Hess", 1979, null, "nm0381478")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jared Hess", 1979, null, "nm0381478")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jared Hess", 1979, null, "nm0381478")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Geoffrey Sax", 1949, null, "nm0768249")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Geoffrey Sax", 1949, null, "nm0768249")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Bowers", null, null, "nm0101047")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Bowers", null, null, "nm0101047")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Bowers", null, null, "nm0101047")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Bowers", null, null, "nm0101047")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Haggis", 1953, null, "nm0353673")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Haggis", 1953, null, "nm0353673")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Haggis", 1953, null, "nm0353673")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Haggis", 1953, null, "nm0353673")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Haggis", 1953, null, "nm0353673")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew Vaughn", 1971, null, "nm0891216")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew Vaughn", 1971, null, "nm0891216")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew Vaughn", 1971, null, "nm0891216")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew Vaughn", 1971, null, "nm0891216")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew Vaughn", 1971, null, "nm0891216")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew Vaughn", 1971, null, "nm0891216")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Laurence Dunmore", null, null, "nm1461380")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ewan McGregor", 1971, null, "nm0000191")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrey Zvyagintsev", 1964, null, "nm1168657")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrey Zvyagintsev", 1964, null, "nm1168657")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrey Zvyagintsev", 1964, null, "nm1168657")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrey Zvyagintsev", 1964, null, "nm1168657")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Dance", 1946, null, "nm0001097")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jacob Estes", 1972, null, "nm1096524")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Walker", null, null, "nm0908095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ernie Barbarash", null, null, "nm0053228")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ernie Barbarash", null, null, "nm0053228")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ernie Barbarash", null, null, "nm0053228")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shona Auerbach", null, null, "nm0994254")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicolas Coquard", null, null, "nm1434968")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kunal Kohli", null, null, "nm0463316")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kunal Kohli", null, null, "nm0463316")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrés Wood", 1965, null, "nm0939540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jessica Sharzer", 1972, null, "nm0789366")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tassos Boulmetis", null, null, "nm0099552")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Achbar", null, null, "nm0009788")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Barker", 1965, null, "nm0054954")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Barker", 1965, null, "nm0054954")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Barker", 1965, null, "nm0054954")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Barker", 1965, null, "nm0054954")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Macdonald", 1967, null, "nm0531817")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Macdonald", 1967, null, "nm0531817")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Macdonald", 1967, null, "nm0531817")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Macdonald", 1967, null, "nm0531817")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Macdonald", 1967, null, "nm0531817")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Macdonald", 1967, null, "nm0531817")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Macdonald", 1967, null, "nm0531817")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Suzanne Luna", null, null, "nm2554911")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Otto Bathurst", 1971, null, "nm1163264")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Otto Bathurst", 1971, null, "nm1163264")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Otto Bathurst", 1971, null, "nm1163264")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bennett Miller", 1966, null, "nm0587955")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bennett Miller", 1966, null, "nm0587955")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bennett Miller", 1966, null, "nm0587955")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joss Whedon", 1964, null, "nm0923736")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joss Whedon", 1964, null, "nm0923736")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joss Whedon", 1964, null, "nm0923736")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joss Whedon", 1964, null, "nm0923736")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joss Whedon", 1964, null, "nm0923736")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Kalin", null, null, "nm0435788")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ian Lorimer", null, null, "nm0520961")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Corben", 1978, null, "nm0179117")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Makoto Shinkai", 1973, null, "nm1396121")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Makoto Shinkai", 1973, null, "nm1396121")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Makoto Shinkai", 1973, null, "nm1396121")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Makoto Shinkai", 1973, null, "nm1396121")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Makoto Shinkai", 1973, null, "nm1396121")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Valerie Harrington", null, null, "nm2113194")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ivan Engler", null, null, "nm1393530")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Smith", 1970, null, "nm1247462")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Smith", 1970, null, "nm1247462")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Smith", 1970, null, "nm1247462")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Smith", 1970, null, "nm1247462")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew O'Callaghan", null, null, "nm0639965")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew O'Callaghan", null, null, "nm0639965")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pawel Pawlikowski", 1957, null, "nm0667734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pawel Pawlikowski", 1957, null, "nm0667734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pawel Pawlikowski", 1957, null, "nm0667734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kay Pollak", 1938, null, "nm0689392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charlie Kaufman", 1958, null, "nm0442109")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alice Dallow", null, null, "nm1535835")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ömer Faruk Sorak", null, null, "nm0814716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ömer Faruk Sorak", null, null, "nm0814716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ömer Faruk Sorak", null, null, "nm0814716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Wadlow", 1976, null, "nm0905592")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Wadlow", 1976, null, "nm0905592")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Wadlow", 1976, null, "nm0905592")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Wadlow", 1976, null, "nm0905592")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Wadlow", 1976, null, "nm0905592")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennis Gansel", 1973, null, "nm0304541")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennis Gansel", 1973, null, "nm0304541")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennis Gansel", 1973, null, "nm0304541")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Pink", null, null, "nm0684336")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Pink", null, null, "nm0684336")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Pink", null, null, "nm0684336")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Pink", null, null, "nm0684336")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Douglas", null, null, "nm1497918")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lexi Alexander", 1974, null, "nm0591994")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lexi Alexander", 1974, null, "nm0591994")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Shin", null, null, "nm0793804")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tetsuya Nomura", 1970, null, "nm0634602")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Love", 1969, null, "nm0522393")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Love", 1969, null, "nm0522393")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Love", 1969, null, "nm0522393")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Love", 1969, null, "nm0522393")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Gartner", null, null, "nm1595280")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gil Kenan", 1976, null, "nm1481493")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gil Kenan", 1976, null, "nm1481493")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gil Kenan", 1976, null, "nm1481493")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Je-kyu Kang", 1962, null, "nm0437625")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Purdum", 1971, null, "nm1398960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Susanne Bier", 1960, null, "nm0081540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Susanne Bier", 1960, null, "nm0081540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Susanne Bier", 1960, null, "nm0081540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Susanne Bier", 1960, null, "nm0081540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Susanne Bier", 1960, null, "nm0081540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Susanne Bier", 1960, null, "nm0081540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Susanne Bier", 1960, null, "nm0081540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Susanne Bier", 1960, null, "nm0081540")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig Zisk", null, null, "nm0957197")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig Zisk", null, null, "nm0957197")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig Zisk", null, null, "nm0957197")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christian Volckman", null, null, "nm1466691")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Davidson", 1964, null, "nm0203215")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Davidson", 1964, null, "nm0203215")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Wan", 1977, null, "nm1490123")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Wan", 1977, null, "nm1490123")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Wan", 1977, null, "nm1490123")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Wan", 1977, null, "nm1490123")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Wan", 1977, null, "nm1490123")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Wan", 1977, null, "nm1490123")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Wan", 1977, null, "nm1490123")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Wan", 1977, null, "nm1490123")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Wan", 1977, null, "nm1490123")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Mancini", 1963, null, "nm0238841")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Mancini", 1963, null, "nm0238841")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Mancini", 1963, null, "nm0238841")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Becky Martin", null, null, "nm0551953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Becky Martin", null, null, "nm0551953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Dowse", 1973, null, "nm0236226")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Dowse", 1973, null, "nm0236226")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Dowse", 1973, null, "nm0236226")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Dowse", 1973, null, "nm0236226")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Dowse", 1973, null, "nm0236226")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Cahill", null, null, "nm0128687")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Munehisa Sakai", null, null, "nm2909800")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Xavier de Lestrade", 1963, null, "nm0994355")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ross Kauffman", null, null, "nm1502104")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sebastian Gutierrez", 1974, null, "nm0349406")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Milan Cheylov", null, null, "nm0156838")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Slade", 1969, null, "nm1720541")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Slade", 1969, null, "nm1720541")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Slade", 1969, null, "nm1720541")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Slade", 1969, null, "nm1720541")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Slade", 1969, null, "nm1720541")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Slade", 1969, null, "nm1720541")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Slade", 1969, null, "nm1720541")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon J. Smith", null, null, "nm0971239")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon J. Smith", null, null, "nm0971239")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David J. Burke", 1948, null, "nm0121653")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joshua Marston", 1968, null, "nm0551358")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shane Carruth", 1972, null, "nm1503403")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shane Carruth", 1972, null, "nm1503403")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Morgan Spurlock", 1970, null, "nm1041597")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Morgan Spurlock", 1970, null, "nm1041597")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Morgan Spurlock", 1970, null, "nm1041597")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Olivier Marchal", 1958, null, "nm0545356")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Maguire", null, null, "nm1512429")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rian Johnson", 1973, null, "nm0426059")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rian Johnson", 1973, null, "nm0426059")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rian Johnson", 1973, null, "nm0426059")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rian Johnson", 1973, null, "nm0426059")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rian Johnson", 1973, null, "nm0426059")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rian Johnson", 1973, null, "nm0426059")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rian Johnson", 1973, null, "nm0426059")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Agustín Díaz Yanes", 1950, null, "nm0246503")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry George", 1952, null, "nm0313623")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry George", 1952, null, "nm0313623")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry George", 1952, null, "nm0313623")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Susan Stroman", 1954, null, "nm0834893")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bud Luckey", 1934, 2018, "nm0524726")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Susannah Grant", 1963, null, "nm0335666")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Bailey", null, null, "nm0047458")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Bailey", null, null, "nm0047458")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen J. Anderson", 1970, null, "nm0027459")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen J. Anderson", 1970, null, "nm0027459")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Fywell", 1951, null, "nm0299563")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Katja von Garnier", 1966, null, "nm0902290")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jaume Collet-Serra", 1974, null, "nm1429471")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jaume Collet-Serra", 1974, null, "nm1429471")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jaume Collet-Serra", 1974, null, "nm1429471")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jaume Collet-Serra", 1974, null, "nm1429471")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jaume Collet-Serra", 1974, null, "nm1429471")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jaume Collet-Serra", 1974, null, "nm1429471")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jaume Collet-Serra", 1974, null, "nm1429471")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jaume Collet-Serra", 1974, null, "nm1429471")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jaume Collet-Serra", 1974, null, "nm1429471")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Ayoade", 1977, null, "nm1547964")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Ayoade", 1977, null, "nm1547964")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Ayoade", 1977, null, "nm1547964")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Hughart", 1961, null, "nm0400423")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Allan Kroeker", null, null, "nm0471862")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Byron Howard", 1968, null, "nm0397174")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Byron Howard", 1968, null, "nm0397174")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Byron Howard", 1968, null, "nm0397174")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Jacobson", null, null, "nm0414817")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-François Richet", 1966, null, "nm0724938")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-François Richet", 1966, null, "nm0724938")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-François Richet", 1966, null, "nm0724938")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-François Richet", 1966, null, "nm0724938")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gabor Csupo", 1952, null, "nm0190780")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paolo Sorrentino", 1970, null, "nm0815204")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paolo Sorrentino", 1970, null, "nm0815204")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paolo Sorrentino", 1970, null, "nm0815204")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paolo Sorrentino", 1970, null, "nm0815204")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paolo Sorrentino", 1970, null, "nm0815204")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paolo Sorrentino", 1970, null, "nm0815204")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marco Kreuzpaintner", 1977, null, "nm0471086")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marco Kreuzpaintner", 1977, null, "nm0471086")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Arntz", null, null, "nm0036802")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anurag Kashyap", 1972, null, "nm0440604")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anurag Kashyap", 1972, null, "nm0440604")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anurag Kashyap", 1972, null, "nm0440604")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anurag Kashyap", 1972, null, "nm0440604")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anurag Kashyap", 1972, null, "nm0440604")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anurag Kashyap", 1972, null, "nm0440604")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anurag Kashyap", 1972, null, "nm0440604")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Marc Vallée", 1963, null, "nm0885249")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Marc Vallée", 1963, null, "nm0885249")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Marc Vallée", 1963, null, "nm0885249")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Marc Vallée", 1963, null, "nm0885249")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Marc Vallée", 1963, null, "nm0885249")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Marc Vallée", 1963, null, "nm0885249")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Marc Vallée", 1963, null, "nm0885249")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Marc Vallée", 1963, null, "nm0885249")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shinji Aramaki", 1960, null, "nm0032925")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shinji Aramaki", 1960, null, "nm0032925")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shinji Aramaki", 1960, null, "nm0032925")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Saul Blinkoff", 1972, null, "nm1291225")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Olivier Assayas", 1955, null, "nm0000801")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Olivier Assayas", 1955, null, "nm0000801")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Olivier Assayas", 1955, null, "nm0000801")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Olivier Assayas", 1955, null, "nm0000801")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Stanton", 1965, null, "nm0004056")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Stanton", 1965, null, "nm0004056")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Stanton", 1965, null, "nm0004056")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Stanton", 1965, null, "nm0004056")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Stanton", 1965, null, "nm0004056")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Karyn Kusama", 1968, null, "nm0476201")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Karyn Kusama", 1968, null, "nm0476201")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Karyn Kusama", 1968, null, "nm0476201")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Karyn Kusama", 1968, null, "nm0476201")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sturla Gunnarsson", 1951, null, "nm0348274")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Listo", null, null, "nm0514278")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruce Hunt", null, null, "nm0402365")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Giglio", 1971, null, "nm0317638")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Timur Bekmambetov", 1961, null, "nm0067457")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Timur Bekmambetov", 1961, null, "nm0067457")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Timur Bekmambetov", 1961, null, "nm0067457")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Timur Bekmambetov", 1961, null, "nm0067457")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Timur Bekmambetov", 1961, null, "nm0067457")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Alexanian", null, null, "nm1256362")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Liev Schreiber", 1967, null, "nm0000630")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Florian Henckel von Donnersmarck", 1973, null, "nm0003697")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Florian Henckel von Donnersmarck", 1973, null, "nm0003697")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Judd Apatow", 1967, null, "nm0031976")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Judd Apatow", 1967, null, "nm0031976")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Judd Apatow", 1967, null, "nm0031976")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Judd Apatow", 1967, null, "nm0031976")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Judd Apatow", 1967, null, "nm0031976")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve 'Spaz' Williams", null, null, "nm0931727")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rakeysh Omprakash Mehra", 1963, null, "nm1018493")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rakeysh Omprakash Mehra", 1963, null, "nm1018493")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Menendez", 1969, null, "nm0994553")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kazuaki Kiriya", 1968, null, "nm1589546")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kazuaki Kiriya", 1968, null, "nm1589546")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Arie Posin", null, null, "nm1242062")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Moreau", 1976, null, "nm1219963")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Moreau", 1976, null, "nm1219963")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Duncan Tucker", null, null, "nm1053371")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bill Eagles", null, null, "nm0247123")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fabrice du Welz", 1972, null, "nm0239001")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Bolt", 1952, null, "nm0093322")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hirokazu Koreeda", 1962, null, "nm0466153")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hirokazu Koreeda", 1962, null, "nm0466153")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hirokazu Koreeda", 1962, null, "nm0466153")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hirokazu Koreeda", 1962, null, "nm0466153")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hirokazu Koreeda", 1962, null, "nm0466153")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hans Weingartner", 1977, null, "nm0918326")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Schwentke", 1968, null, "nm0777881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Schwentke", 1968, null, "nm0777881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Schwentke", 1968, null, "nm0777881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Schwentke", 1968, null, "nm0777881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Schwentke", 1968, null, "nm0777881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Schwentke", 1968, null, "nm0777881")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hayato Date", null, null, "nm1618147")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig Brewer", 1971, null, "nm0108132")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig Brewer", 1971, null, "nm0108132")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig Brewer", 1971, null, "nm0108132")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alejandro Agresti", 1961, null, "nm0002159")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Levin", null, null, "nm0505662")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Levin", null, null, "nm0505662")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("György Pálfi", 1974, null, "nm0701650")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Larry Bishop", 1948, null, "nm0084114")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aaron Lipstadt", 1952, null, "nm0003497")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sarah Pia Anderson", null, null, "nm0027413")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julian Jarrold", 1960, null, "nm0418982")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julian Jarrold", 1960, null, "nm0418982")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julian Jarrold", 1960, null, "nm0418982")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julian Jarrold", 1960, null, "nm0418982")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig Rosenberg", 1965, null, "nm0742194")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Winther", null, null, "nm0936044")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Miller", 1968, null, "nm1844237")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Miller", 1968, null, "nm1844237")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Corn", null, null, "nm0180085")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Corn", null, null, "nm0180085")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Wright", 1972, null, "nm0942504")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Wright", 1972, null, "nm0942504")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Wright", 1972, null, "nm0942504")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Wright", 1972, null, "nm0942504")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Wright", 1972, null, "nm0942504")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Wright", 1972, null, "nm0942504")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Wright", 1972, null, "nm0942504")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Wright", 1972, null, "nm0942504")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pierre Morel", 1964, null, "nm0603628")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pierre Morel", 1964, null, "nm0603628")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pierre Morel", 1964, null, "nm0603628")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pierre Morel", 1964, null, "nm0603628")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pierre Morel", 1964, null, "nm0603628")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Weissman", null, null, "nm0004597")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Menno Meyjes", 1954, null, "nm0583675")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Miranda July", 1974, null, "nm0432380")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sergei Bodrov", 1948, null, "nm0091076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sergei Bodrov", 1948, null, "nm0091076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg McLean", null, null, "nm0572562")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg McLean", null, null, "nm0572562")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg McLean", null, null, "nm0572562")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg McLean", null, null, "nm0572562")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg McLean", null, null, "nm0572562")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg McLean", null, null, "nm0572562")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul King", null, null, "nm1653753")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul King", null, null, "nm1653753")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul King", null, null, "nm1653753")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joachim Rønning", 1972, null, "nm1461392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joachim Rønning", 1972, null, "nm1461392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joachim Rønning", 1972, null, "nm1461392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joachim Rønning", 1972, null, "nm1461392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kamal Tabrizi", 1959, null, "nm0846092")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary David Goldberg", 1944, 2013, "nm0325204")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Heins", null, null, "nm1659908")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joaquim Dos Santos", 1977, null, "nm1690966")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Percival", null, null, "nm1093053")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Percival", null, null, "nm1093053")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher McCulloch", 1971, null, "nm0567129")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fedor Bondarchuk", 1967, null, "nm0094080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fedor Bondarchuk", 1967, null, "nm0094080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Lin", 1973, null, "nm0510912")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Lin", 1973, null, "nm0510912")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Lin", 1973, null, "nm0510912")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Lin", 1973, null, "nm0510912")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Lin", 1973, null, "nm0510912")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Lin", 1973, null, "nm0510912")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Lin", 1973, null, "nm0510912")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bent Hamer", 1956, null, "nm0357584")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Dhawan", null, null, "nm0223522")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Dhawan", null, null, "nm0223522")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Gatins", null, null, "nm0309691")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phil Morrison", null, null, "nm0607275")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clement Virgo", 1966, null, "nm0899364")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neeraj Vora", 1963, 2017, "nm0903423")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tommy Lee Jones", 1946, null, "nm0000169")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tommy Lee Jones", 1946, null, "nm0000169")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tommy Lee Jones", 1946, null, "nm0000169")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lauren Faust", 1974, null, "nm0269260")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shane Meadows", 1972, null, "nm0276349")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shane Meadows", 1972, null, "nm0276349")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shane Meadows", 1972, null, "nm0276349")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Kasdan", 1979, null, "nm0440459")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Kasdan", 1979, null, "nm0440459")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Bonito", null, null, "nm1669022")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig Gillespie", 1967, null, "nm0318916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig Gillespie", 1967, null, "nm0318916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig Gillespie", 1967, null, "nm0318916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig Gillespie", 1967, null, "nm0318916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig Gillespie", 1967, null, "nm0318916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig Gillespie", 1967, null, "nm0318916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Fell", null, null, "nm0271402")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fruit Chan", 1959, null, "nm0150897")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kyle Patrick Alvarez", 1983, null, "nm1547859")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ulli Lommel", 1944, 2017, "nm0518579")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Ayer", 1968, null, "nm0043742")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Ayer", 1968, null, "nm0043742")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Ayer", 1968, null, "nm0043742")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Ayer", 1968, null, "nm0043742")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Ayer", 1968, null, "nm0043742")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Ayer", 1968, null, "nm0043742")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Ayer", 1968, null, "nm0043742")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anton Corbijn", 1955, null, "nm0179221")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anton Corbijn", 1955, null, "nm0179221")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anton Corbijn", 1955, null, "nm0179221")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Hillcoat", 1961, null, "nm0384825")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Hillcoat", 1961, null, "nm0384825")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Hillcoat", 1961, null, "nm0384825")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Hillcoat", 1961, null, "nm0384825")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Hillcoat", 1961, null, "nm0384825")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jale Atabey Özberk", null, null, "nm1856836")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Seiji Mizushima", null, null, "nm1159782")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Osman Sinav", 1956, null, "nm0801543")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ol Parker", 1969, null, "nm0662530")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ol Parker", 1969, null, "nm0662530")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ol Parker", 1969, null, "nm0662530")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sanjay Gadhvi", null, null, "nm1189376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sanjay Gadhvi", null, null, "nm1189376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Darren Grant", null, null, "nm0335337")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Green", 1975, null, "nm1697112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Green", 1975, null, "nm1697112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Green", 1975, null, "nm1697112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Laurie Collyer", 1967, null, "nm0172877")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ash Brannon", null, null, "nm0105169")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Gunn", null, null, "nm1215179")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kei Tsunematsu", null, null, "nm2408470")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Poll", null, null, "nm0689343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christian Carion", 1963, null, "nm0137228")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bahman Ghobadi", 1969, null, "nm0315842")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Ben Garant", 1970, null, "nm0304830")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Ben Garant", 1970, null, "nm0304830")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Armfield", 1955, null, "nm0035462")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Coolidge", 1972, null, "nm0177637")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Jeffcoat", null, null, "nm0420112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mert Baykal", 1979, null, "nm1729063")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Schwimmer", 1966, null, "nm0001710")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Schwimmer", 1966, null, "nm0001710")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kelly Sandefur", null, null, "nm0761349")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Gulager", 1957, null, "nm0347657")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Gulager", 1957, null, "nm0347657")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Rothemund", 1968, null, "nm0745131")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig Mazin", 1971, null, "nm0563301")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kirsten Sheridan", 1976, null, "nm0792202")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Reitman", 1977, null, "nm0718646")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Reitman", 1977, null, "nm0718646")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Reitman", 1977, null, "nm0718646")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Reitman", 1977, null, "nm0718646")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Reitman", 1977, null, "nm0718646")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Reitman", 1977, null, "nm0718646")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Reitman", 1977, null, "nm0718646")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Allen Coulter", null, null, "nm0002339")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Allen Coulter", null, null, "nm0002339")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luc Jacquet", 1967, null, "nm0415207")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John H. Lee", null, null, "nm0497565")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Elizabeth Allen Rosenbaum", null, null, "nm0020491")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Elizabeth Allen Rosenbaum", null, null, "nm0020491")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jessica Bendinger", 1966, null, "nm0070566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Diane English", 1948, null, "nm0257606")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard LaGravenese", 1959, null, "nm0481418")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard LaGravenese", 1959, null, "nm0481418")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard LaGravenese", 1959, null, "nm0481418")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Darren Lynn Bousman", 1979, null, "nm1135423")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Darren Lynn Bousman", 1979, null, "nm1135423")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Darren Lynn Bousman", 1979, null, "nm1135423")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Darren Lynn Bousman", 1979, null, "nm1135423")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Darren Lynn Bousman", 1979, null, "nm1135423")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Darren Lynn Bousman", 1979, null, "nm1135423")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Darren Lynn Bousman", 1979, null, "nm1135423")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Hickenlooper", 1963, 2010, "nm0382584")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Hickenlooper", 1963, 2010, "nm0382584")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oz Scott", 1949, null, "nm0779641")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oz Scott", 1949, null, "nm0779641")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oz Scott", 1949, null, "nm0779641")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Spierig", null, null, "nm1294962")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Asif Kapadia", 1972, null, "nm0438090")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Asif Kapadia", 1972, null, "nm0438090")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Asif Kapadia", 1972, null, "nm0438090")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James McTeigue", null, null, "nm0574625")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James McTeigue", null, null, "nm0574625")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James McTeigue", null, null, "nm0574625")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James McTeigue", null, null, "nm0574625")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James McTeigue", null, null, "nm0574625")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Masayuki Kojima", 1961, null, "nm0463628")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hans Canosa", null, null, "nm0134396")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Kessler", null, null, "nm1383079")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Menhaj Huda", 1967, null, "nm0399630")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Penn Jillette", 1955, null, "nm0422710")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicole Holofcener", 1960, null, "nm0392237")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicole Holofcener", 1960, null, "nm0392237")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicole Holofcener", 1960, null, "nm0392237")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hoyt Yeatman", 1955, null, "nm0947087")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Graeme Harper", 1945, null, "nm0363865")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sharon Trojan Hollinger", null, null, "nm0391116")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregory Dark", 1957, null, "nm0201283")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michele Mulroney", null, null, "nm1802251")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Seth Green", 1974, null, "nm0001293")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sanaa Hamri", null, null, "nm1065402")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sanaa Hamri", null, null, "nm1065402")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sanaa Hamri", null, null, "nm1065402")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sanaa Hamri", null, null, "nm1065402")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Doug Atchison", null, null, "nm0040328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Glosserman", 1976, null, "nm1795664")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carlos Saldanha", 1965, null, "nm0757858")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carlos Saldanha", 1965, null, "nm0757858")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carlos Saldanha", 1965, null, "nm0757858")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carlos Saldanha", 1965, null, "nm0757858")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ryan Murphy", 1965, null, "nm0614682")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ryan Murphy", 1965, null, "nm0614682")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ryan Murphy", 1965, null, "nm0614682")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ryan Murphy", 1965, null, "nm0614682")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ryan Murphy", 1965, null, "nm0614682")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Gunn", 1966, null, "nm0348181")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Gunn", 1966, null, "nm0348181")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Gunn", 1966, null, "nm0348181")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Gunn", 1966, null, "nm0348181")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Banjong Pisanthanakun", null, null, "nm1802294")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Osborne", 1970, null, "nm0651706")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Osborne", 1970, null, "nm0651706")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Robinson", null, null, "nm0733149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Robinson", null, null, "nm0733149")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Brent Bell", null, null, "nm0068587")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Brent Bell", null, null, "nm0068587")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Brent Bell", null, null, "nm0068587")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pete Travis", null, null, "nm0871428")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pete Travis", null, null, "nm0871428")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Larry Charles", 1956, null, "nm0153078")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Larry Charles", 1956, null, "nm0153078")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Larry Charles", 1956, null, "nm0153078")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Larry Charles", 1956, null, "nm0153078")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Evans", 1981, null, "nm0262635")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Wiper", 1970, null, "nm0007045")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Leech", 1968, null, "nm0498555")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Burger", 1963, null, "nm1139726")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Burger", 1963, null, "nm1139726")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Burger", 1963, null, "nm1139726")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Burger", 1963, null, "nm1139726")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Burger", 1963, null, "nm1139726")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Isaac Florentine", null, null, "nm0282708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Isaac Florentine", null, null, "nm0282708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Isaac Florentine", null, null, "nm0282708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Isaac Florentine", null, null, "nm0282708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Carter", 1956, null, "nm0004810")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rachid Bouchareb", 1959, null, "nm0098953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Niall Johnson", 1965, null, "nm0425894")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hany Abu-Assad", 1961, null, "nm0009463")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hany Abu-Assad", 1961, null, "nm0009463")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hany Abu-Assad", 1961, null, "nm0009463")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Josh Gordon", null, null, "nm0330347")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ericson Core", null, null, "nm0179697")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ericson Core", null, null, "nm0179697")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Liz Friedlander", null, null, "nm0295107")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Liz Friedlander", null, null, "nm0295107")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremy Brock", 1959, null, "nm0110591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Curran", 1960, null, "nm0192845")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Curran", 1960, null, "nm0192845")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Curran", 1960, null, "nm0192845")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Curran", 1960, null, "nm0192845")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patrick Stettner", null, null, "nm0828099")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David F. Sandberg", null, null, "nm2497546")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David F. Sandberg", null, null, "nm2497546")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David F. Sandberg", null, null, "nm2497546")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stefen Fangmeier", 1960, null, "nm0266777")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Dayton", 1957, null, "nm0206760")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Dayton", 1957, null, "nm0206760")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Dayton", 1957, null, "nm0206760")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hunter Richards", null, null, "nm1862705")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rodrigo García", 1959, null, "nm0006554")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rodrigo García", 1959, null, "nm0006554")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rodrigo García", 1959, null, "nm0006554")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("A.R. Murugadoss", null, null, "nm1436693")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("A.R. Murugadoss", null, null, "nm1436693")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("A.R. Murugadoss", null, null, "nm1436693")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("A.R. Murugadoss", null, null, "nm1436693")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("A.R. Murugadoss", null, null, "nm1436693")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("A.R. Murugadoss", null, null, "nm1436693")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Brand", null, null, "nm1868746")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Martino", 1959, null, "nm0553942")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Martino", 1959, null, "nm0553942")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Martino", 1959, null, "nm0553942")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amol Palekar", 1944, null, "nm0657505")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Matheson", 1947, null, "nm0001513")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Matheson", 1947, null, "nm0001513")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Matheson", 1947, null, "nm0001513")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Affleck", 1972, null, "nm0000255")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Affleck", 1972, null, "nm0000255")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Affleck", 1972, null, "nm0000255")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Affleck", 1972, null, "nm0000255")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Helfrich", null, null, "nm0375068")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Munroe", null, null, "nm1083489")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Munroe", null, null, "nm1083489")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nagesh Kukunoor", null, null, "nm0474398")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Keach", 1947, null, "nm0005077")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Keach", 1947, null, "nm0005077")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Sonzero", null, null, "nm0814517")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gabriele Muccino", 1967, null, "nm0610831")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gabriele Muccino", 1967, null, "nm0610831")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gabriele Muccino", 1967, null, "nm0610831")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gabriele Muccino", 1967, null, "nm0610831")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Fickman", null, null, "nm0275698")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Fickman", null, null, "nm0275698")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Fickman", null, null, "nm0275698")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Fickman", null, null, "nm0275698")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Fickman", null, null, "nm0275698")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Fickman", null, null, "nm0275698")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Odenkirk", 1962, null, "nm0644022")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Odenkirk", 1962, null, "nm0644022")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bobby Roth", 1950, null, "nm0744794")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bobby Roth", 1950, null, "nm0744794")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Maiellaro", null, null, "nm0537410")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Mastandrea", 1955, null, "nm0557608")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tyler Perry", 1969, null, "nm1347153")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tyler Perry", 1969, null, "nm1347153")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tyler Perry", 1969, null, "nm1347153")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tyler Perry", 1969, null, "nm1347153")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dave Meyers", null, null, "nm0583515")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cristi Puiu", 1967, null, "nm1090998")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luc Dardenne", 1954, null, "nm0201095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholaus Goossen", null, null, "nm0329650")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zach Helm", 1975, null, "nm1590998")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Currie", null, null, "nm0192933")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Leondis", 1967, null, "nm1902232")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Leondis", 1967, null, "nm1902232")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Leondis", 1967, null, "nm1902232")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul B. Cummings", null, null, "nm2650185")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Ridge", null, null, "nm2198694")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jesse Peretz", 1968, null, "nm0673400")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jesse Peretz", 1968, null, "nm0673400")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jesse Peretz", 1968, null, "nm0673400")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Gorak", 1969, null, "nm0329755")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Gorak", 1969, null, "nm0329755")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pascal Chaumeil", 1961, 2015, "nm0154312")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pascal Chaumeil", 1961, 2015, "nm0154312")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Miller", 1957, null, "nm0588340")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Miller", 1957, null, "nm0588340")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gavin Hood", 1963, null, "nm0004303")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gavin Hood", 1963, null, "nm0004303")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gavin Hood", 1963, null, "nm0004303")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gavin Hood", 1963, null, "nm0004303")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gavin Hood", 1963, null, "nm0004303")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Addison", 1971, null, "nm1128050")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Addison", 1971, null, "nm1128050")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lev L. Spiro", null, null, "nm0002973")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lev L. Spiro", null, null, "nm0002973")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lev L. Spiro", null, null, "nm0002973")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ian Sander", 1947, 2016, "nm0761401")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Greenberg", null, null, "nm0338576")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Greenberg", null, null, "nm0338576")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lawrence Trilling", null, null, "nm0872823")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lawrence Trilling", null, null, "nm0872823")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lawrence Trilling", null, null, "nm0872823")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lawrence Trilling", null, null, "nm0872823")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lawrence Trilling", null, null, "nm0872823")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dean White", null, null, "nm0924693")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dean White", null, null, "nm0924693")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dean White", null, null, "nm0924693")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean Ellis", 1970, null, "nm1193346")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean Ellis", 1970, null, "nm1193346")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marcos Siega", 1969, null, "nm0796864")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marcos Siega", 1969, null, "nm0796864")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marcos Siega", 1969, null, "nm0796864")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean McGinly", null, null, "nm0003152")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fred Savage", 1976, null, "nm0000625")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Howard", 1970, null, "nm1937470")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Howard", 1970, null, "nm1937470")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Howard", 1970, null, "nm1937470")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Wheatley", 1972, null, "nm1296554")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Wheatley", 1972, null, "nm1296554")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Wheatley", 1972, null, "nm1296554")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Wheatley", 1972, null, "nm1296554")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Wheatley", 1972, null, "nm1296554")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Doug Lefler", null, null, "nm0498991")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Howard McCain", null, null, "nm0564586")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelle MacLaren", 1965, null, "nm0533713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelle MacLaren", 1965, null, "nm0533713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelle MacLaren", 1965, null, "nm0533713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelle MacLaren", 1965, null, "nm0533713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelle MacLaren", 1965, null, "nm0533713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelle MacLaren", 1965, null, "nm0533713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelle MacLaren", 1965, null, "nm0533713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelle MacLaren", 1965, null, "nm0533713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelle MacLaren", 1965, null, "nm0533713")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelle MacLaren", 1965, null, "nm0533713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelle MacLaren", 1965, null, "nm0533713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelle MacLaren", 1965, null, "nm0533713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelle MacLaren", 1965, null, "nm0533713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelle MacLaren", 1965, null, "nm0533713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelle MacLaren", 1965, null, "nm0533713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelle MacLaren", 1965, null, "nm0533713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelle MacLaren", 1965, null, "nm0533713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelle MacLaren", 1965, null, "nm0533713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelle MacLaren", 1965, null, "nm0533713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelle MacLaren", 1965, null, "nm0533713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelle MacLaren", 1965, null, "nm0533713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michelle MacLaren", 1965, null, "nm0533713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Silverman", 1957, null, "nm0798899")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anne Fletcher", 1966, null, "nm0281945")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anne Fletcher", 1966, null, "nm0281945")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anne Fletcher", 1966, null, "nm0281945")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anne Fletcher", 1966, null, "nm0281945")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anne Fletcher", 1966, null, "nm0281945")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anne Fletcher", 1966, null, "nm0281945")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Russo", 1971, null, "nm0751648")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frédéric Forestier", 1969, null, "nm0004689")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Glenn", null, null, "nm1726457")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J.A. Bayona", 1975, null, "nm1291105")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J.A. Bayona", 1975, null, "nm1291105")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J.A. Bayona", 1975, null, "nm1291105")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J.A. Bayona", 1975, null, "nm1291105")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michel Hazanavicius", 1967, null, "nm0371890")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michel Hazanavicius", 1967, null, "nm0371890")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michel Hazanavicius", 1967, null, "nm0371890")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fuminori Kizaki", null, null, "nm2328122")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Andrew Williams", 1973, null, "nm1440314")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Andrew Williams", 1973, null, "nm1440314")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Xavier Gens", 1975, null, "nm1164755")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Xavier Gens", 1975, null, "nm1164755")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Xavier Gens", 1975, null, "nm1164755")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Gilroy", 1956, null, "nm0006904")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Gilroy", 1956, null, "nm0006904")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Gilroy", 1956, null, "nm0006904")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Gluck", 1976, null, "nm0994310")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aaron Seltzer", 1974, null, "nm0783536")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aaron Seltzer", 1974, null, "nm0783536")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dibakar Banerjee", 1969, null, "nm1962313")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dibakar Banerjee", 1969, null, "nm1962313")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dibakar Banerjee", 1969, null, "nm1962313")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Robinson", null, null, "nm1309090")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Chadwick", 1968, null, "nm0149491")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Chadwick", 1968, null, "nm0149491")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Chadwick", 1968, null, "nm0149491")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mat Whitecross", null, null, "nm1475971")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ryan Fleck", 1976, null, "nm0281396")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Declan Lowney", 1960, null, "nm0523276")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Polish", 1970, null, "nm0689187")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hans Horn", null, null, "nm0394841")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Garland", 1970, null, "nm0307497")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Garland", 1970, null, "nm0307497")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrea Arnold", 1961, null, "nm0036349")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrea Arnold", 1961, null, "nm0036349")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrea Arnold", 1961, null, "nm0036349")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Mann", null, null, "nm1470993")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Mann", null, null, "nm1470993")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Trivikram Srinivas", null, null, "nm1894520")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dwayne Carey-Hill", null, null, "nm1401752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dwayne Carey-Hill", null, null, "nm1401752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Hooper", 1972, null, "nm0393799")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Hooper", 1972, null, "nm0393799")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Hooper", 1972, null, "nm0393799")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Hooper", 1972, null, "nm0393799")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Hooper", 1972, null, "nm0393799")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shane Acker", null, null, "nm0009942")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Palansky", null, null, "nm0657372")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Palansky", null, null, "nm0657372")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Randall Einhorn", 1963, null, "nm0251848")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adrienne Shelly", 1966, 2006, "nm0791248")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Abbas Tyrewala", 1984, null, "nm1063072")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dito Montiel", 1965, null, "nm1996918")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dito Montiel", 1965, null, "nm1996918")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dito Montiel", 1965, null, "nm1996918")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dito Montiel", 1965, null, "nm1996918")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Géla Babluani", 1979, null, "nm1201875")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Géla Babluani", 1979, null, "nm1201875")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ten Shimoyama", 1966, null, "nm1033087")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nacho Cerdà", null, null, "nm0148511")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Çagan Irmak", 1970, null, "nm1463981")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Çagan Irmak", 1970, null, "nm1463981")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Simpson", null, null, "nm0801055")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mennan Yapo", 1966, null, "nm0946327")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Vaughan", 1969, null, "nm0891114")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Vaughan", 1969, null, "nm0891114")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Vaughan", 1969, null, "nm0891114")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Vaughan", 1969, null, "nm0891114")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Vaughan", 1969, null, "nm0891114")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Goran Dukic", null, null, "nm1058247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wilson Yip", null, null, "nm0948159")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wilson Yip", null, null, "nm0948159")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wilson Yip", null, null, "nm0948159")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wilson Yip", null, null, "nm0948159")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wilson Yip", null, null, "nm0948159")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Dunn", null, null, "nm0242757")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John McKay", 1965, null, "nm0563814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Andrews", 1968, null, "nm0028764")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Andrews", 1968, null, "nm0028764")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Von Ancken", null, null, "nm1204568")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Von Ancken", null, null, "nm1204568")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Erik Canuel", 1961, null, "nm0134811")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Taylor", null, null, "nm0962729")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Taylor", null, null, "nm0962729")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Taylor", null, null, "nm0962729")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Taylor", null, null, "nm0962729")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom McGrath", 1964, null, "nm0569891")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom McGrath", 1964, null, "nm0569891")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom McGrath", 1964, null, "nm0569891")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eric Valette", 1967, null, "nm0884659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Johansson", 1964, null, "nm0424035")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sylvain White", null, null, "nm1234893")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sylvain White", null, null, "nm1234893")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sylvain White", null, null, "nm1234893")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mamoru Kanbe", null, null, "nm1319197")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nacho Vigalondo", 1977, null, "nm1443023")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nacho Vigalondo", 1977, null, "nm1443023")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nacho Vigalondo", 1977, null, "nm1443023")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kirk DeMicco", 1969, null, "nm0210320")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kirk DeMicco", 1969, null, "nm0210320")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Hurwitz", 1977, null, "nm1375358")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Hurwitz", 1977, null, "nm1375358")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Hurwitz", 1977, null, "nm1375358")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pierre Salvadori", 1964, null, "nm0759270")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alejandro Monteverde", 1977, null, "nm1920049")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alejandro Monteverde", 1977, null, "nm1920049")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Masayuki Ochiai", null, null, "nm0643696")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bryan Bertino", 1977, null, "nm1052162")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bryan Bertino", 1977, null, "nm1052162")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael O. Sajbel", null, null, "nm0756935")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David L. Cunningham", 1971, null, "nm0192289")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Ian Black", 1971, null, "nm0085438")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Goddard", null, null, "nm0323758")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Goddard", null, null, "nm0323758")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Goddard", null, null, "nm0323758")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tomm Moore", 1977, null, "nm1119079")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tomm Moore", 1977, null, "nm1119079")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Petrarca", null, null, "nm0007008")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Petrarca", null, null, "nm0007008")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Petrarca", null, null, "nm0007008")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jieho Lee", 1973, null, "nm0497528")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jaco Van Dormael", 1957, null, "nm0233757")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jaco Van Dormael", 1957, null, "nm0233757")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Hemingway", null, null, "nm0376006")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Hemingway", null, null, "nm0376006")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Hemingway", null, null, "nm0376006")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregory Jacobs", null, null, "nm0414423")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregory Jacobs", null, null, "nm0414423")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Heidi Ewing", null, null, "nm1823216")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Graham Linehan", 1968, null, "nm0512627")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vishal Bhardwaj", null, null, "nm0080235")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vishal Bhardwaj", null, null, "nm0080235")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vishal Bhardwaj", null, null, "nm0080235")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anees Bazmee", null, null, "nm0063357")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anees Bazmee", null, null, "nm0063357")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anees Bazmee", null, null, "nm0063357")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Paine", null, null, "nm2071216")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kyle Newman", 1976, null, "nm1381100")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kyle Newman", 1976, null, "nm1381100")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fred Wolf", 1964, null, "nm0937748")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fred Wolf", 1964, null, "nm0937748")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hisham Abed", null, null, "nm0008408")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hisham Abed", null, null, "nm0008408")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Levine", null, null, "nm1349522")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Levine", null, null, "nm1349522")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Levine", null, null, "nm1349522")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Levine", null, null, "nm1349522")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Levine", null, null, "nm1349522")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Levine", null, null, "nm1349522")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Levine", null, null, "nm1349522")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Schneider", 1963, null, "nm0001705")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Hunter", 1969, null, "nm0403038")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Colin Budds", null, null, "nm0118959")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joanna Kerns", 1953, null, "nm0005088")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sarah Polley", 1979, null, "nm0001631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sarah Polley", 1979, null, "nm0001631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sarah Polley", 1979, null, "nm0001631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Cornwell", null, null, "nm1433996")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paddy Breathnach", 1964, null, "nm0106456")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jody Hill", null, null, "nm2095817")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jody Hill", null, null, "nm2095817")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jody Hill", null, null, "nm2095817")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jody Hill", null, null, "nm2095817")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roger Christiansen", 1952, null, "nm0006919")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dax Shepard", 1975, null, "nm1009277")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kirby Dick", 1952, null, "nm0225269")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Taika Waititi", 1975, null, "nm0169806")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Taika Waititi", 1975, null, "nm0169806")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Taika Waititi", 1975, null, "nm0169806")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Taika Waititi", 1975, null, "nm0169806")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Taika Waititi", 1975, null, "nm0169806")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rohit Shetty", 1974, null, "nm1460159")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rohit Shetty", 1974, null, "nm1460159")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rohit Shetty", 1974, null, "nm1460159")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rohit Shetty", 1974, null, "nm1460159")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rohit Shetty", 1974, null, "nm1460159")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tomokazu Tokoro", null, null, "nm1261681")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tomokazu Tokoro", null, null, "nm1261681")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gorô Miyazaki", 1967, null, "nm2066439")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gorô Miyazaki", 1967, null, "nm2066439")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Carlock", null, null, "nm1061622")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Waters", 1962, null, "nm0914058")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("F. Javier Gutiérrez", 1973, null, "nm1279573")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Özer Kiziltan", 1963, null, "nm1699703")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philip G. Atwell", null, null, "nm0041161")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Robison", 1955, null, "nm0733227")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Schenkman", 1958, null, "nm0770942")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Strause", 1975, null, "nm0833780")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Olin", 1954, null, "nm0646440")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Olin", 1954, null, "nm0646440")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shûsuke Kaneko", 1955, null, "nm0437526")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shûsuke Kaneko", 1955, null, "nm0437526")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeffrey Reiner", null, null, "nm0718001")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeffrey Reiner", null, null, "nm0718001")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeffrey Reiner", null, null, "nm0718001")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Kirk", 1968, null, "nm1047532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Kirk", 1968, null, "nm1047532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Kirk", 1968, null, "nm1047532")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Kirk", 1968, null, "nm1047532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank A. Cappello", null, null, "nm0135141")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scooter Tidwell", null, null, "nm1709820")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Javier Abad", null, null, "nm3371961")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aram Rappaport", null, null, "nm1736575")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cal Brunker", null, null, "nm2117510")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lajos Koltai", 1946, null, "nm0005759")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Shaye", 1939, null, "nm0790144")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenn Navarro", 1979, null, "nm1487668")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremy Podeswa", 1962, null, "nm0687964")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremy Podeswa", 1962, null, "nm0687964")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremy Podeswa", 1962, null, "nm0687964")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremy Podeswa", 1962, null, "nm0687964")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremy Podeswa", 1962, null, "nm0687964")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremy Podeswa", 1962, null, "nm0687964")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremy Podeswa", 1962, null, "nm0687964")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan King", null, null, "nm2204480")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Susanna White", 1960, null, "nm1264352")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Susanna White", 1960, null, "nm1264352")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Susanna White", 1960, null, "nm1264352")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Susanna White", 1960, null, "nm1264352")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin McDonagh", 1970, null, "nm1732981")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin McDonagh", 1970, null, "nm1732981")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin McDonagh", 1970, null, "nm1732981")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Karey Kirkpatrick", 1964, null, "nm0456732")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruce A. Evans", 1946, null, "nm0262595")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan Bush", null, null, "nm0124112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan Bush", null, null, "nm0124112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mitchell Lichtenstein", 1956, null, "nm0509033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Karen Moncrieff", 1963, null, "nm0597673")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ralph Ziman", 1963, null, "nm0956537")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thor Freudenthal", 1972, null, "nm0294457")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thor Freudenthal", 1972, null, "nm0294457")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thor Freudenthal", 1972, null, "nm0294457")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thor Freudenthal", 1972, null, "nm0294457")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thor Freudenthal", 1972, null, "nm0294457")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Lowell", 1973, null, "nm0523094")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Jaa", 1976, null, "nm1388074")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Jaa", 1976, null, "nm1388074")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Graham Annable", null, null, "nm0030253")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Akiva Schaffer", 1977, null, "nm1676223")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Akiva Schaffer", 1977, null, "nm1676223")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Akiva Schaffer", 1977, null, "nm1676223")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Shiban", null, null, "nm0793062")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Shiban", null, null, "nm0793062")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Brown", null, null, "nm0114226")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Evans", null, null, "nm0262678")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Melisa Wallack", null, null, "nm2214893")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Scardino", 1949, null, "nm0769135")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Scardino", 1949, null, "nm0769135")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Scardino", 1949, null, "nm0769135")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oren Moverman", 1966, null, "nm0610219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oren Moverman", 1966, null, "nm0610219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ted Wass", 1952, null, "nm0913637")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shûkô Murase", null, null, "nm0613562")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christian Alvart", 1974, null, "nm0023355")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christian Alvart", 1974, null, "nm0023355")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phyllida Lloyd", 1957, null, "nm1630273")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phyllida Lloyd", 1957, null, "nm1630273")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Koolhoven", 1969, null, "nm0465551")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Koolhoven", 1969, null, "nm0465551")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Ross", null, null, "nm1565107")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Distad", null, null, "nm0228436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Friedberg", 1970, null, "nm0294997")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Friedberg", 1970, null, "nm0294997")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Friedberg", 1970, null, "nm0294997")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Friedberg", 1970, null, "nm0294997")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eric Steel", null, null, "nm0824414")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("C.B. Harding", null, null, "nm1085552")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Stoller", 1976, null, "nm0831557")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Stoller", 1976, null, "nm0831557")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Stoller", 1976, null, "nm0831557")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Stoller", 1976, null, "nm0831557")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Stoller", 1976, null, "nm0831557")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Stoller", 1976, null, "nm0831557")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Stoller", 1976, null, "nm0831557")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Weisz", 1966, null, "nm1170286")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marcel Langenegger", null, null, "nm2251947")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anurag Basu", null, null, "nm1397301")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anurag Basu", null, null, "nm1397301")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anurag Basu", null, null, "nm1397301")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Conrad", 1968, null, "nm0175726")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kriv Stenders", null, null, "nm0826541")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kriv Stenders", null, null, "nm0826541")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Duncan Jones", 1971, null, "nm1512910")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Duncan Jones", 1971, null, "nm1512910")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Duncan Jones", 1971, null, "nm1512910")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Duncan Jones", 1971, null, "nm1512910")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Putnam", 1972, null, "nm0701245")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anna Boden", 1979, null, "nm1349818")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anna Boden", 1979, null, "nm1349818")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anna Boden", 1979, null, "nm1349818")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phil Abraham", null, null, "nm0008971")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phil Abraham", null, null, "nm0008971")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phil Abraham", null, null, "nm0008971")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phil Abraham", null, null, "nm0008971")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Franck Khalfoun", null, null, "nm0451076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Franck Khalfoun", null, null, "nm0451076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Franck Khalfoun", null, null, "nm0451076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Lynch", null, null, "nm1362570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Lynch", null, null, "nm1362570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Lynch", null, null, "nm1362570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Lynch", null, null, "nm1362570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Kendrick", 1970, null, "nm1731937")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Kendrick", 1970, null, "nm1731937")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Kendrick", 1970, null, "nm1731937")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Kendrick", 1970, null, "nm1731937")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sanford Bookstaver", 1973, null, "nm0095424")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sanford Bookstaver", 1973, null, "nm0095424")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Wolk", null, null, "nm0938490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sajid Khan", 1970, null, "nm1349318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sajid Khan", 1970, null, "nm1349318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sajid Khan", 1970, null, "nm1349318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Jay Epstein", null, null, "nm0258418")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Pastor", 1978, null, "nm0665041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hiroshi Nagahama", null, null, "nm1061192")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Quinn", 1970, null, "nm0703975")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jens Lien", 1967, null, "nm0509633")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roar Uthaug", 1973, null, "nm1012385")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roar Uthaug", 1973, null, "nm1012385")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roar Uthaug", 1973, null, "nm1012385")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Ratliff", 1968, null, "nm0711807")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jérôme Salle", 1971, null, "nm1362432")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jérôme Salle", 1971, null, "nm1362432")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vincent Paronnaud", 1970, null, "nm1749112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mamoru Hosoda", 1967, null, "nm0396074")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mamoru Hosoda", 1967, null, "nm0396074")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mamoru Hosoda", 1967, null, "nm0396074")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mamoru Hosoda", 1967, null, "nm0396074")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dario Piana", null, null, "nm0224191")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John August", 1970, null, "nm0041864")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marco Schnabel", null, null, "nm0773605")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Cassar", 1958, null, "nm0143984")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Cassar", 1958, null, "nm0143984")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Cassar", 1958, null, "nm0143984")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Cassar", 1958, null, "nm0143984")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oxide Chun Pang", 1965, null, "nm0161152")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nelson McCormick", null, null, "nm1879589")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nelson McCormick", null, null, "nm1879589")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Field Smith", 1979, null, "nm1637768")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Field Smith", 1979, null, "nm1637768")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Guard", null, null, "nm0345294")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Puri Jagannadh", 1966, null, "nm0700872")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Nerlich", null, null, "nm2299471")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Anderson", null, null, "nm1757667")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Stewart", null, null, "nm0829820")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Stewart", null, null, "nm0829820")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Stewart", null, null, "nm0829820")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nadine Labaki", 1974, null, "nm1701024")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nadine Labaki", 1974, null, "nm1701024")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nadine Labaki", 1974, null, "nm1701024")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mikkel Serup", 1973, null, "nm1400437")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ali Taner Baltaci", null, null, "nm0051166")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Shore", 1981, null, "nm2411495")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Mackay", null, null, "nm0533145")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Mottola", 1964, null, "nm0609549")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Mottola", 1964, null, "nm0609549")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Mottola", 1964, null, "nm0609549")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Mottola", 1964, null, "nm0609549")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Mottola", 1964, null, "nm0609549")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregory Wilson", null, null, "nm0933471")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gareth Edwards", 1975, null, "nm2284484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gareth Edwards", 1975, null, "nm2284484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gareth Edwards", 1975, null, "nm2284484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Arias", null, null, "nm0034712")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Brooks", 1956, null, "nm0111845")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patrick Tatopoulos", null, null, "nm0851281")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Flinth", 1964, null, "nm0282425")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Kölsch", null, null, "nm1556116")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Kölsch", null, null, "nm1556116")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Agnieszka Wojtowicz-Vosloo", null, null, "nm1033683")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Felipe Salazar", null, null, "nm2475067")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kent Alterman", null, null, "nm0022768")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Martin", null, null, "nm1790560")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julie Delpy", 1969, null, "nm0000365")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julie Delpy", 1969, null, "nm0000365")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adrian Shergold", null, null, "nm0792120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philipp Stölzl", 1967, null, "nm0836715")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philipp Stölzl", 1967, null, "nm0836715")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philipp Stölzl", 1967, null, "nm0836715")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Miller", 1975, null, "nm0588087")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Miller", 1975, null, "nm0588087")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marcus Dunstan", null, null, "nm1729303")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marcus Dunstan", null, null, "nm1729303")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Beesley", null, null, "nm0066582")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Deb Hagan", null, null, "nm1834176")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennis Iliadis", null, null, "nm1531934")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edward Neumeier", null, null, "nm0627159")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Jones", null, null, "nm0428448")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Disa", null, null, "nm1918538")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Indra Kumar", null, null, "nm0409791")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Drew Heriot", null, null, "nm2288328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Townsend", 1972, null, "nm0870204")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pavel Lungin", 1949, null, "nm0526732")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Beeson", null, null, "nm0066596")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Beeson", null, null, "nm0066596")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Beeson", null, null, "nm0066596")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Hughes", 1961, null, "nm1471248")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Gibney", 1953, null, "nm0316795")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Gibney", 1953, null, "nm0316795")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Gibney", 1953, null, "nm0316795")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julien Maury", null, null, "nm2377660")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shane Abbess", null, null, "nm2325065")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shane Abbess", null, null, "nm2325065")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Noam Murro", 1961, null, "nm1729171")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Noam Murro", 1961, null, "nm1729171")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aristomenis Tsirbas", 1967, null, "nm0875056")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Masayuki", 1961, null, "nm0556094")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Masayuki", 1961, null, "nm0556094")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("José Padilha", 1967, null, "nm0655683")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("José Padilha", 1967, null, "nm0655683")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("José Padilha", 1967, null, "nm0655683")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("José Padilha", 1967, null, "nm0655683")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christine Jeffs", 1963, null, "nm0420422")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Dougherty", 1974, null, "nm1002424")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Dougherty", 1974, null, "nm1002424")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Dougherty", 1974, null, "nm1002424")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Bobin", 1972, null, "nm0090386")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Bobin", 1972, null, "nm0090386")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Bobin", 1972, null, "nm0090386")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Bobin", 1972, null, "nm0090386")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Saul Dibb", 1968, null, "nm1314116")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Saul Dibb", 1968, null, "nm1314116")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robin Swicord", 1952, null, "nm0842523")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robin Swicord", 1952, null, "nm0842523")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paulo Morelli", null, null, "nm0603758")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael McCullers", null, null, "nm0567112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shimit Amin", null, null, "nm0024912")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shimit Amin", null, null, "nm0024912")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frederick King Keller", null, null, "nm0445631")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hironori Aoyagi", null, null, "nm8332028")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrzej Wajda", 1926, 2016, "nm0906667")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alister Grierson", null, null, "nm0340958")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phil Traill", 1973, null, "nm1288766")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phil Traill", 1973, null, "nm1288766")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ric Roman Waugh", 1968, null, "nm0006846")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ric Roman Waugh", 1968, null, "nm0006846")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ric Roman Waugh", 1968, null, "nm0006846")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ric Roman Waugh", 1968, null, "nm0006846")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Shearman", null, null, "nm2272622")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joshua Seftel", 1968, null, "nm0781733")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremy Garelick", 1975, null, "nm1275670")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Will Speck", null, null, "nm0817447")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Will Speck", null, null, "nm0817447")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bret Haaland", 1964, null, "nm0351821")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dean DeBlois", 1970, null, "nm0213450")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dean DeBlois", 1970, null, "nm0213450")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dean DeBlois", 1970, null, "nm0213450")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Conrad Vernon", 1968, null, "nm0970447")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Barker", 1971, null, "nm1530422")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gerald McMorrow", 1970, null, "nm0573389")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Angel Gracia", null, null, "nm0333471")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gadi Harel", 1971, null, "nm0362847")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Larysa Kondracki", null, null, "nm2326979")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Sivertson", null, null, "nm1032754")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kristy Cecil", null, null, "nm0943349")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brandon Camp", 1971, null, "nm0131969")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eric Red", 1961, null, "nm0714599")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julian Gilbey", null, null, "nm1402202")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julian Gilbey", null, null, "nm1402202")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dave Bullock", null, null, "nm1989960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Glenn McQuaid", 1973, null, "nm1137264")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bill Pohlad", null, null, "nm0688361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthijs van Heijningen Jr.", null, null, "nm0374048")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carney", 1972, null, "nm0138809")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carney", 1972, null, "nm0138809")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carney", 1972, null, "nm0138809")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christine Gernon", 1970, null, "nm0314641")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Willing", 1961, null, "nm0932216")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bertrand Tavernier", 1941, null, "nm0851724")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Krisel", null, null, "nm1730037")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Gero", 1977, null, "nm1236625")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Ho-Sun Chan", 1962, null, "nm0151066")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Ho-Sun Chan", 1962, null, "nm0151066")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Terrio", 1976, null, "nm0006516")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Randall Miller", null, null, "nm0589168")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ole Christian Madsen", 1966, null, "nm0535234")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ole Christian Madsen", 1966, null, "nm0535234")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregg Bishop", null, null, "nm0084059")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Erik Van Looy", 1962, null, "nm0887452")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Erik Van Looy", 1962, null, "nm0887452")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matteo Garrone", 1968, null, "nm0308520")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matteo Garrone", 1968, null, "nm0308520")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matteo Garrone", 1968, null, "nm0308520")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Wood", null, null, "nm0939869")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Wood", null, null, "nm0939869")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lee Daniels", 1959, null, "nm0200005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lee Daniels", 1959, null, "nm0200005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lee Daniels", 1959, null, "nm0200005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patrice Désilets", null, null, "nm2493380")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart McDonald", null, null, "nm0568018")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lauren Montgomery", 1980, null, "nm2304017")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lauren Montgomery", 1980, null, "nm2304017")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lauren Montgomery", 1980, null, "nm2304017")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lauren Montgomery", 1980, null, "nm2304017")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lauren Montgomery", 1980, null, "nm2304017")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lauren Montgomery", 1980, null, "nm2304017")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonah Markowitz", null, null, "nm0995691")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert C. Cooper", 1968, null, "nm0178338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Arthur Qwak", null, null, "nm0704588")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Rydstrom", 1959, null, "nm0003977")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tôru Yoshida", null, null, "nm1250199")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Webb", 1974, null, "nm1989536")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Webb", 1974, null, "nm1989536")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Webb", 1974, null, "nm1989536")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Webb", 1974, null, "nm1989536")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luiso Berdejo", 1975, null, "nm1084937")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nic Balthazar", 1964, null, "nm0051206")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Cragg", null, null, "nm0185734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frederick E.O. Toye", 1967, null, "nm0870295")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frederick E.O. Toye", 1967, null, "nm0870295")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frederick E.O. Toye", 1967, null, "nm0870295")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George C. Wolfe", 1954, null, "nm0938045")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George C. Wolfe", 1954, null, "nm0938045")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Shadley", 1975, null, "nm1124577")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vince Gilligan", 1967, null, "nm0319213")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vince Gilligan", 1967, null, "nm0319213")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vince Gilligan", 1967, null, "nm0319213")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vince Gilligan", 1967, null, "nm0319213")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vince Gilligan", 1967, null, "nm0319213")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vince Gilligan", 1967, null, "nm0319213")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vince Gilligan", 1967, null, "nm0319213")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Melman", null, null, "nm0578162")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Til Schweiger", 1963, null, "nm0001709")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Lee", null, null, "nm0999415")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennis Lee", null, null, "nm1433720")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ti West", 1980, null, "nm1488800")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ti West", 1980, null, "nm1488800")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ti West", 1980, null, "nm1488800")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ti West", 1980, null, "nm1488800")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ti West", 1980, null, "nm1488800")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rupert Wyatt", 1972, null, "nm1012501")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rupert Wyatt", 1972, null, "nm1012501")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rupert Wyatt", 1972, null, "nm1012501")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rupert Wyatt", 1972, null, "nm1012501")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takanori Suzuki", null, null, "nm3006773")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carter Smith", 1971, null, "nm2127650")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Madhur Bhandarkar", 1966, null, "nm1055105")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Schölermann", 1971, null, "nm0774340")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amyn Kaderali", null, null, "nm0434320")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Hoefer", null, null, "nm1543688")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Waller", null, null, "nm0909022")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sacha Gervasi", 1966, null, "nm0315065")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sacha Gervasi", 1966, null, "nm0315065")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shawn Piller", 1972, null, "nm0683525")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Graff", 1959, null, "nm0333804")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Courtney Hunt", 1964, null, "nm2581581")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Courtney Hunt", 1964, null, "nm2581581")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Elliot", 1972, null, "nm0254178")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Erik White", null, null, "nm1336172")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Sollett", 1976, null, "nm0813164")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Sollett", 1976, null, "nm0813164")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Hunter", null, null, "nm0402870")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Starzak", 1959, null, "nm0326450")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dong Joon Kim", null, null, "nm2009210")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ethan Maniquis", null, null, "nm0542450")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve McQueen", 1969, null, "nm2588606")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve McQueen", 1969, null, "nm2588606")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve McQueen", 1969, null, "nm2588606")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve McQueen", 1969, null, "nm2588606")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aamir Khan", 1965, null, "nm0451148")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeffrey Nachmanoff", 1967, null, "nm0618680")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeffrey Nachmanoff", 1967, null, "nm0618680")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ilmar Raag", 1968, null, "nm0704664")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yuki Sugihara", null, null, "nm10073374")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Olly Blackburn", null, null, "nm0085627")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Olly Blackburn", null, null, "nm0085627")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gorô Taniguchi", null, null, "nm0849465")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lucía Puenzo", 1976, null, "nm0699932")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Zimbalist", 1980, null, "nm3104562")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daisuke Chiba", null, null, "nm1783646")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Scheuring", 1968, null, "nm0771228")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("China Moo-Young", 1977, null, "nm1743350")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amy Hennig", null, null, "nm0377339")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amy Hennig", null, null, "nm0377339")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Erick Dowdle", 1972, null, "nm0235719")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Erick Dowdle", 1972, null, "nm0235719")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Erick Dowdle", 1972, null, "nm0235719")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Erick Dowdle", 1972, null, "nm0235719")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Erick Dowdle", 1972, null, "nm0235719")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sagar Ballary", null, null, "nm2625699")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yann Arthus-Bertrand", 1946, null, "nm0037867")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Espinosa", 1977, null, "nm1174251")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Espinosa", 1977, null, "nm1174251")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Espinosa", 1977, null, "nm1174251")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Espinosa", 1977, null, "nm1174251")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Tancharoen", 1984, null, "nm1160495")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luis Piedrahita", 1977, null, "nm1618276")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Floria Sigismondi", 1965, null, "nm0797455")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brett Simon", null, null, "nm1843195")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ross Katz", 1971, null, "nm0441839")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ross Katz", 1971, null, "nm0441839")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ava DuVernay", 1972, null, "nm1148550")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ava DuVernay", 1972, null, "nm1148550")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ava DuVernay", 1972, null, "nm1148550")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ava DuVernay", 1972, null, "nm1148550")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Watkins", 1978, null, "nm1220140")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Watkins", 1978, null, "nm1220140")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Watkins", 1978, null, "nm1220140")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Watkins", 1978, null, "nm1220140")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Watkins", 1978, null, "nm1220140")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phil Claydon", 1976, null, "nm0165616")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon M. Chu", 1979, null, "nm0160840")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon M. Chu", 1979, null, "nm0160840")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon M. Chu", 1979, null, "nm0160840")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon M. Chu", 1979, null, "nm0160840")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon M. Chu", 1979, null, "nm0160840")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon M. Chu", 1979, null, "nm0160840")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon M. Chu", 1979, null, "nm0160840")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jake West", 1972, null, "nm0922115")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Moore", null, null, "nm0601680")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clark Gregg", 1962, null, "nm0163988")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joshua Michael Stern", null, null, "nm0827750")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joshua Michael Stern", null, null, "nm0827750")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pascal Laugier", null, null, "nm1052791")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pascal Laugier", null, null, "nm1052791")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pascal Laugier", null, null, "nm1052791")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Toby Wilkins", 1972, null, "nm0929317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Toby Wilkins", 1972, null, "nm0929317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anubhav Sinha", 1965, null, "nm1025280")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anubhav Sinha", 1965, null, "nm1025280")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anubhav Sinha", 1965, null, "nm1025280")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sngmoo Lee", null, null, "nm2788363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Timothy Linh Bui", 1970, null, "nm0119613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Toback", 1944, null, "nm0864812")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cristian Mungiu", 1968, null, "nm0612816")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cristian Mungiu", 1968, null, "nm0612816")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cristian Mungiu", 1968, null, "nm0612816")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eran Kolirin", 1973, null, "nm0464115")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Neveldine", 1973, null, "nm0004410")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Neveldine", 1973, null, "nm0004410")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Neveldine", 1973, null, "nm0004410")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Timo Vuorensola", 1979, null, "nm1993322")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luca Guadagnino", 1971, null, "nm0345174")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luca Guadagnino", 1971, null, "nm0345174")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luca Guadagnino", 1971, null, "nm0345174")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luca Guadagnino", 1971, null, "nm0345174")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anne Fontaine", 1959, null, "nm0284774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anne Fontaine", 1959, null, "nm0284774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Baillie Walsh", null, null, "nm0909547")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Darnell Martin", 1964, null, "nm0552140")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carol Banker", null, null, "nm0052059")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Glenn Ficarra", null, null, "nm0275629")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Glenn Ficarra", null, null, "nm0275629")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Glenn Ficarra", null, null, "nm0275629")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Glenn Ficarra", null, null, "nm0275629")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Hopkins", 1970, null, "nm0394199")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Hopkins", 1970, null, "nm0394199")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeffrey Friedman", 1951, null, "nm0295243")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Turner", null, null, "nm0877427")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Turner", null, null, "nm0877427")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Letterman", null, null, "nm1224299")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Letterman", null, null, "nm1224299")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Letterman", null, null, "nm1224299")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Miguel Sapochnik", 1974, null, "nm0764601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Miguel Sapochnik", 1974, null, "nm0764601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Miguel Sapochnik", 1974, null, "nm0764601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Miguel Sapochnik", 1974, null, "nm0764601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Miguel Sapochnik", 1974, null, "nm0764601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Miguel Sapochnik", 1974, null, "nm0764601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Miguel Sapochnik", 1974, null, "nm0764601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Miguel Sapochnik", 1974, null, "nm0764601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sherry Hormann", 1960, null, "nm0394776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Abraham", null, null, "nm0008953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Bernstein", 1960, null, "nm0002835")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Bernstein", 1960, null, "nm0002835")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Bernstein", 1960, null, "nm0002835")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Bernstein", 1960, null, "nm0002835")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Bernstein", 1960, null, "nm0002835")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Bernstein", 1960, null, "nm0002835")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Bernstein", 1960, null, "nm0002835")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Bernstein", 1960, null, "nm0002835")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Bernstein", 1960, null, "nm0002835")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Bernstein", 1960, null, "nm0002835")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim McKay", null, null, "nm0570995")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tricia Brock", null, null, "nm0110644")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tricia Brock", null, null, "nm0110644")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Berlanti", 1972, null, "nm0075528")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Berlanti", 1972, null, "nm0075528")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Frazee", null, null, "nm0292468")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Antonio Negret", 1982, null, "nm0624423")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Antonio Negret", 1982, null, "nm0624423")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Reeves", 1966, null, "nm0716257")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Reeves", 1966, null, "nm0716257")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Reeves", 1966, null, "nm0716257")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Reeves", 1966, null, "nm0716257")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eduardo Sánchez", 1968, null, "nm0844896")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dany Boon", 1966, null, "nm0200702")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dany Boon", 1966, null, "nm0200702")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Coffey", 1964, null, "nm0168892")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guillermo Arriaga", 1958, null, "nm0037247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Laurent Cantet", 1961, null, "nm0134559")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philippe Claudel", 1962, null, "nm1061623")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Emily Young", 1970, null, "nm1369721")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yôjirô Takita", 1955, null, "nm0847690")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jamin Winans", null, null, "nm1985821")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Harris", 1967, null, "nm1154184")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bryan Gordon", null, null, "nm0330057")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Casey Hudson", null, null, "nm1890556")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Casey Hudson", null, null, "nm1890556")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Casey Hudson", null, null, "nm1890556")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tung-Shing Yee", 1957, null, "nm0232504")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jimmy Hayward", null, null, "nm0371755")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jimmy Hayward", null, null, "nm0371755")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sriram Raghavan", null, null, "nm1437189")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sriram Raghavan", null, null, "nm1437189")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sriram Raghavan", null, null, "nm1437189")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Billingsley", 1971, null, "nm0082526")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Thurmeier", null, null, "nm0862211")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Thurmeier", null, null, "nm0862211")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stan Lathan", 1945, null, "nm0490133")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Belber", 1967, null, "nm0067619")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dexter Fletcher", 1966, null, "nm0002077")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dexter Fletcher", 1966, null, "nm0002077")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dexter Fletcher", 1966, null, "nm0002077")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Will Gluck", null, null, "nm0323239")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Will Gluck", null, null, "nm0323239")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Will Gluck", null, null, "nm0323239")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Will Gluck", null, null, "nm0323239")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Will Gluck", null, null, "nm0323239")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Prabhu Deva", null, null, "nm0222150")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Prabhu Deva", null, null, "nm0222150")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian A. Miller", null, null, "nm2357819")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian A. Miller", null, null, "nm2357819")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Ray", null, null, "nm3144036")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nathan Frankowski", null, null, "nm2021984")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neal Brennan", null, null, "nm0107366")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neal Brennan", null, null, "nm0107366")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Imtiaz Ali", 1971, null, "nm1665004")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Imtiaz Ali", 1971, null, "nm1665004")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Imtiaz Ali", 1971, null, "nm1665004")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Imtiaz Ali", 1971, null, "nm1665004")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Imtiaz Ali", 1971, null, "nm1665004")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Imtiaz Ali", 1971, null, "nm1665004")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Levine", null, null, "nm1686028")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Levine", null, null, "nm1686028")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonas Elmer", 1966, null, "nm0255411")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kari Skogland", null, null, "nm0804556")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Roskin", null, null, "nm0743059")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph Kosinski", 1974, null, "nm2676052")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph Kosinski", 1974, null, "nm2676052")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph Kosinski", 1974, null, "nm2676052")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael McGowan", 1966, null, "nm1313340")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Abe Sylvia", null, null, "nm0843281")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Blieden", 1971, null, "nm0088392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Blieden", 1971, null, "nm0088392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yasuhiro Aoki", null, null, "nm1638463")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonah Loop", null, null, "nm0516380")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Derek Cianfrance", 1974, null, "nm0161834")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Derek Cianfrance", 1974, null, "nm0161834")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Derek Cianfrance", 1974, null, "nm0161834")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Masahiro Andô", 1967, null, "nm1622836")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason West", null, null, "nm2310136")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason West", null, null, "nm2310136")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Antin", 1958, null, "nm0031078")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Noel Clarke", 1975, null, "nm0164929")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Noel Clarke", 1975, null, "nm0164929")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cary Joji Fukunaga", 1977, null, "nm1560977")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cary Joji Fukunaga", 1977, null, "nm1560977")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cary Joji Fukunaga", 1977, null, "nm1560977")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cary Joji Fukunaga", 1977, null, "nm1560977")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cary Joji Fukunaga", 1977, null, "nm1560977")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cary Joji Fukunaga", 1977, null, "nm1560977")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cary Joji Fukunaga", 1977, null, "nm1560977")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cary Joji Fukunaga", 1977, null, "nm1560977")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cary Joji Fukunaga", 1977, null, "nm1560977")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cary Joji Fukunaga", 1977, null, "nm1560977")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cary Joji Fukunaga", 1977, null, "nm1560977")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cary Joji Fukunaga", 1977, null, "nm1560977")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cary Joji Fukunaga", 1977, null, "nm1560977")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Olivier Megaton", 1965, null, "nm0576298")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Olivier Megaton", 1965, null, "nm0576298")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Olivier Megaton", 1965, null, "nm0576298")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Olivier Megaton", 1965, null, "nm0576298")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mabrouk El Mechri", 1976, null, "nm1333798")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mabrouk El Mechri", 1976, null, "nm1333798")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Currie", null, null, "nm0192984")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Morgan O'Neill", 1973, null, "nm0642041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Fisher", 1971, null, "nm1084723")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Fisher", 1971, null, "nm1084723")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Fisher", 1971, null, "nm1084723")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Fisher", 1971, null, "nm1084723")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Fisher", 1971, null, "nm1084723")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Fisher", 1971, null, "nm1084723")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Niels Arden Oplev", 1961, null, "nm0649117")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Niels Arden Oplev", 1961, null, "nm0649117")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Niels Arden Oplev", 1961, null, "nm0649117")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Niels Arden Oplev", 1961, null, "nm0649117")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Hackl", null, null, "nm0352524")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Goodman", 1963, null, "nm0329023")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Goodman", 1963, null, "nm0329023")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Luessenhop", null, null, "nm0525141")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Luessenhop", null, null, "nm0525141")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Heffernan", 1968, null, "nm0373571")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean Anders", null, null, "nm1890845")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean Anders", null, null, "nm1890845")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean Anders", null, null, "nm1890845")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean Anders", null, null, "nm1890845")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean Anders", null, null, "nm1890845")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean Anders", null, null, "nm1890845")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neill Blomkamp", 1979, null, "nm0088955")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neill Blomkamp", 1979, null, "nm0088955")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neill Blomkamp", 1979, null, "nm0088955")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tomas Alfredson", 1965, null, "nm0019247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tomas Alfredson", 1965, null, "nm0019247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tomas Alfredson", 1965, null, "nm0019247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eddy Houchins", 1958, null, "nm0396317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vicky Jenson", null, null, "nm0421776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Bell", null, null, "nm0068106")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Trevor Moore", 1980, null, "nm2222515")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Barnz", null, null, "nm1400426")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Barnz", null, null, "nm1400426")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kurt Kuenne", 1973, null, "nm0473936")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kelly Reichardt", null, null, "nm0716980")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kelly Reichardt", null, null, "nm0716980")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kelly Reichardt", null, null, "nm0716980")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kelly Reichardt", null, null, "nm0716980")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Damien Dante Wayans", 1980, null, "nm1349040")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Marsh", 1963, null, "nm1016428")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Marsh", 1963, null, "nm1016428")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Marsh", 1963, null, "nm1016428")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ruben Fleischer", 1974, null, "nm0281508")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ruben Fleischer", 1974, null, "nm0281508")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ruben Fleischer", 1974, null, "nm0281508")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ruben Fleischer", 1974, null, "nm0281508")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Renfroe", null, null, "nm1199954")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Joseph", null, null, "nm2879822")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Joseph", null, null, "nm2879822")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Joseph", null, null, "nm2879822")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Berry", 1950, null, "nm0006939")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Levent Semerci", null, null, "nm2896395")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Drew Barrymore", 1975, null, "nm0000106")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Shankland", null, null, "nm0788191")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Shankland", null, null, "nm0788191")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Shankland", null, null, "nm0788191")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Wells", 1956, null, "nm0920274")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Wells", 1956, null, "nm0920274")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Wells", 1956, null, "nm0920274")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Wells", 1956, null, "nm0920274")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Götz Spielmann", 1961, null, "nm0818608")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Raymond De Felitta", 1964, null, "nm0208343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Raymond De Felitta", 1964, null, "nm0208343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Makoto Kamiya", null, null, "nm0436780")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Makoto Kamiya", null, null, "nm0436780")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Toby Haynes", null, null, "nm1595284")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Toby Haynes", null, null, "nm1595284")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Toby Haynes", null, null, "nm1595284")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Toby Haynes", null, null, "nm1595284")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Toby Haynes", null, null, "nm1595284")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Mickle", null, null, "nm0585344")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Mickle", null, null, "nm0585344")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Mickle", null, null, "nm0585344")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Mickle", null, null, "nm0585344")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Samuel Bayer", 1962, null, "nm1207904")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Måns Mårlind", 1969, null, "nm0617523")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Måns Mårlind", 1969, null, "nm0617523")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jac Schaeffer", null, null, "nm2356614")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Keith Truesdell", null, null, "nm0874133")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oren Peli", null, null, "nm2305431")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oren Peli", null, null, "nm2305431")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan Trachtenberg", null, null, "nm0870469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan Trachtenberg", null, null, "nm0870469")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guy Moshe", null, null, "nm1679136")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Danny Kallis", null, null, "nm0436039")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yannick Dahan", null, null, "nm2278184")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carles Torrens", 1984, null, "nm2165066")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carles Torrens", 1984, null, "nm2165066")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jordan Scott", 1977, null, "nm0779386")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yoshihiro Nishimura", 1967, null, "nm1883583")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Copus", 1966, null, "nm0178944")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Copus", 1966, null, "nm0178944")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jake Scott", 1965, null, "nm0779265")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bo Zenga", null, null, "nm0954848")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tarun Mansukhani", null, null, "nm1160374")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ari Folman", 1962, null, "nm0284369")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ari Folman", 1962, null, "nm0284369")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dave Filoni", 1974, null, "nm1396048")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Max Mayer", null, null, "nm0562470")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon East", null, null, "nm1113890")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Lander", null, null, "nm1740888")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sohail Khan", 1969, null, "nm0451326")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Furman", null, null, "nm1026778")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Furman", null, null, "nm1026778")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Furman", null, null, "nm1026778")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Sanders", null, null, "nm0761715")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hong-jin Na", null, null, "nm2947553")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hong-jin Na", null, null, "nm2947553")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hong-jin Na", null, null, "nm2947553")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Feig", 1962, null, "nm0082450")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Feig", 1962, null, "nm0082450")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Feig", 1962, null, "nm0082450")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Feig", 1962, null, "nm0082450")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Feig", 1962, null, "nm0082450")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Feig", 1962, null, "nm0082450")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Togan Gökbakar", 1984, null, "nm2204103")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Togan Gökbakar", 1984, null, "nm2204103")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Togan Gökbakar", 1984, null, "nm2204103")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Togan Gökbakar", 1984, null, "nm2204103")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Togan Gökbakar", 1984, null, "nm2204103")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Togan Gökbakar", 1984, null, "nm2204103")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Denis Villeneuve", 1967, null, "nm0898288")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Denis Villeneuve", 1967, null, "nm0898288")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Denis Villeneuve", 1967, null, "nm0898288")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Denis Villeneuve", 1967, null, "nm0898288")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Denis Villeneuve", 1967, null, "nm0898288")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Denis Villeneuve", 1967, null, "nm0898288")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Denis Villeneuve", 1967, null, "nm0898288")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aaron Schneider", null, null, "nm0773689")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Albert Calleros", 1969, null, "nm1401737")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Allison Liddi-Brown", null, null, "nm0509183")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Allison Liddi-Brown", null, null, "nm0509183")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Verica", 1964, null, "nm0894225")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Verica", 1964, null, "nm0894225")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fredrik Bond", null, null, "nm0093934")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Shill", null, null, "nm0793455")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Shill", null, null, "nm0793455")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ashley Way", 1971, null, "nm0915416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shea Wageman", 1977, null, "nm1047123")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shea Wageman", 1977, null, "nm1047123")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paddy Considine", 1973, null, "nm0175916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stiles White", null, null, "nm0925482")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bart Freundlich", 1970, null, "nm0294505")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Cooper", 1970, null, "nm0178376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Cooper", 1970, null, "nm0178376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Cooper", 1970, null, "nm0178376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Cooper", 1970, null, "nm0178376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adrian Grunberg", null, null, "nm0344496")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adrian Grunberg", null, null, "nm0344496")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Poul", null, null, "nm0693561")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Poul", null, null, "nm0693561")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rick Jacobson", null, null, "nm0414910")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rick Jacobson", null, null, "nm0414910")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Bell", null, null, "nm0068034")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Damien Chazelle", 1985, null, "nm3227090")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Damien Chazelle", 1985, null, "nm3227090")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Damien Chazelle", 1985, null, "nm3227090")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Monahan", 1960, null, "nm1184258")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takuya Igarashi", null, null, "nm0407024")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Alfredson", 1959, null, "nm0019242")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Alfredson", 1959, null, "nm0019242")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Alfredson", 1959, null, "nm0019242")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Cuesta", 1963, null, "nm0191147")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Cuesta", 1963, null, "nm0191147")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Benedek Fliegauf", 1974, null, "nm1212903")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rupert Sanders", 1971, null, "nm2782185")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rupert Sanders", 1971, null, "nm2782185")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Olatunde Osunsanmi", 1977, null, "nm1069989")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Olatunde Osunsanmi", 1977, null, "nm1069989")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Palmer", null, null, "nm1414582")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Palmer", null, null, "nm1414582")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Palmer", null, null, "nm1414582")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Malcolm Venville", null, null, "nm0893473")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harry Sinclair", 1959, null, "nm0801625")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yaron Zilberman", null, null, "nm1597629")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruce McDonald", 1959, null, "nm0567680")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Armando Iannucci", 1963, null, "nm0406334")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Armando Iannucci", 1963, null, "nm0406334")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Felix van Groeningen", 1977, null, "nm0886976")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Felix van Groeningen", 1977, null, "nm0886976")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruce Hendricks", null, null, "nm0376712")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Abhishek Kapoor", null, null, "nm0438461")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Abhishek Kapoor", null, null, "nm0438461")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Rolfe", 1980, null, "nm3005544")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lara Shapiro", null, null, "nm0788555")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Gregory", null, null, "nm0339733")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bryan Cranston", 1956, null, "nm0186505")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bryan Cranston", 1956, null, "nm0186505")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bryan Cranston", 1956, null, "nm0186505")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Colin Bucksey", 1946, null, "nm0118778")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Colin Bucksey", 1946, null, "nm0118778")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Colin Bucksey", 1946, null, "nm0118778")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Colin Bucksey", 1946, null, "nm0118778")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Colin Bucksey", 1946, null, "nm0118778")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Haid", 1943, null, "nm0354024")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry McDonough", null, null, "nm0568192")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry McDonough", null, null, "nm0568192")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry McDonough", null, null, "nm0568192")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terry McDonough", null, null, "nm0568192")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Johan Renck", 1966, null, "nm0719307")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Johan Renck", 1966, null, "nm0719307")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Johan Renck", 1966, null, "nm0719307")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Johan Renck", 1966, null, "nm0719307")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Johan Renck", 1966, null, "nm0719307")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Johan Renck", 1966, null, "nm0719307")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Johan Renck", 1966, null, "nm0719307")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Johan Renck", 1966, null, "nm0719307")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Johan Renck", 1966, null, "nm0719307")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Johan Renck", 1966, null, "nm0719307")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stewart Hendler", 1978, null, "nm0376664")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stewart Hendler", 1978, null, "nm0376664")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stewart Hendler", 1978, null, "nm0376664")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phil Lord", 1975, null, "nm0520488")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phil Lord", 1975, null, "nm0520488")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Greutert", 1965, null, "nm0340436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Greutert", 1965, null, "nm0340436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Greutert", 1965, null, "nm0340436")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan English", null, null, "nm0257646")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Seth Grossman", 1975, null, "nm0343713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Grant Heslov", 1963, null, "nm0381416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan Bradley", null, null, "nm0103187")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark A. Lewis", null, null, "nm1721795")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Allen Hughes", 1972, null, "nm0400441")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Fresco", null, null, "nm0294350")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gustavo Taretto", 1965, null, "nm1391924")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ramsey Nickell", 1963, null, "nm1052973")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Wingard", 1982, null, "nm1417392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Wingard", 1982, null, "nm1417392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Wingard", 1982, null, "nm1417392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Wingard", 1982, null, "nm1417392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Wingard", 1982, null, "nm1417392")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Monzón", 1968, null, "nm0600409")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven R. Monroe", 1964, null, "nm0003458")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven R. Monroe", 1964, null, "nm0003458")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lynne Ramsay", 1969, null, "nm0708903")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lynne Ramsay", 1969, null, "nm0708903")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Doug Sweetland", null, null, "nm0842339")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paco Plaza", 1973, null, "nm0687042")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paco Plaza", 1973, null, "nm0687042")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paco Plaza", 1973, null, "nm0687042")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Evan Goldberg", null, null, "nm1698571")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Evan Goldberg", null, null, "nm1698571")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patrick Alessandrin", 1965, null, "nm0018133")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonas Pate", 1970, null, "nm0665321")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonas Pate", 1970, null, "nm0665321")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonas Pate", 1970, null, "nm0665321")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Hoen", null, null, "nm0388505")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Etan Cohen", 1974, null, "nm1000113")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Etan Cohen", 1974, null, "nm1000113")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Hazeldine", 1971, null, "nm0371955")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Hazeldine", 1971, null, "nm0371955")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("RZA", 1969, null, "nm0753526")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Drew Goddard", 1975, null, "nm1206844")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Drew Goddard", 1975, null, "nm1206844")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christian Gudegast", 1970, null, "nm0345615")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Declan O'Brien", null, null, "nm0639508")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Declan O'Brien", null, null, "nm0639508")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Declan O'Brien", null, null, "nm0639508")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bobcat Goldthwait", 1962, null, "nm0001281")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bobcat Goldthwait", 1962, null, "nm0001281")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Laurent Tirard", 1967, null, "nm1016687")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Laurent Tirard", 1967, null, "nm1016687")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christian E. Christiansen", 1972, null, "nm0160157")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dean Holland", null, null, "nm0390657")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dean Holland", null, null, "nm0390657")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Taylor-Johnson", 1967, null, "nm0853374")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Taylor-Johnson", 1967, null, "nm0853374")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Strauss-Schulson", 1980, null, "nm0833889")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Strauss-Schulson", 1980, null, "nm0833889")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Strauss-Schulson", 1980, null, "nm0833889")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Troy Nixey", null, null, "nm2552536")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anh Hung Tran", 1962, null, "nm0870841")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Baltasar Kormákur", 1966, null, "nm0466349")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Baltasar Kormákur", 1966, null, "nm0466349")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Baltasar Kormákur", 1966, null, "nm0466349")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Baltasar Kormákur", 1966, null, "nm0466349")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Srdjan Spasojevic", 1976, null, "nm3094978")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nikolaj Arcel", 1972, null, "nm1064048")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nikolaj Arcel", 1972, null, "nm1064048")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harvey Glazer", null, null, "nm2188866")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cyrus Nowrasteh", 1956, null, "nm0637493")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tommy Wirkola", 1979, null, "nm2482088")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tommy Wirkola", 1979, null, "nm2482088")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tommy Wirkola", 1979, null, "nm2482088")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tommy Wirkola", 1979, null, "nm2482088")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neeraj Pandey", null, null, "nm3109770")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neeraj Pandey", null, null, "nm3109770")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neeraj Pandey", null, null, "nm3109770")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neeraj Pandey", null, null, "nm3109770")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sefton Hill", null, null, "nm2322229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sefton Hill", null, null, "nm2322229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sefton Hill", null, null, "nm2322229")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Johannes Roberts", 1976, null, "nm1266897")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Johannes Roberts", 1976, null, "nm1266897")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Johannes Roberts", 1976, null, "nm1266897")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Derrick Borte", 1967, null, "nm0097517")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yann Demange", 1977, null, "nm1312919")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yann Demange", 1977, null, "nm1312919")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yann Demange", 1977, null, "nm1312919")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Mikita", null, null, "nm0586539")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Mikita", null, null, "nm0586539")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cem Yilmaz", 1973, null, "nm0948000")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cem Yilmaz", 1973, null, "nm0948000")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cem Yilmaz", 1973, null, "nm0948000")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edward James Olmos", 1947, null, "nm0001579")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Kenner", null, null, "nm0448422")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Peyton", 1978, null, "nm0679031")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Peyton", 1978, null, "nm0679031")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Peyton", 1978, null, "nm0679031")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Peyton", 1978, null, "nm0679031")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Peyton", 1978, null, "nm0679031")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Hyams", null, null, "nm0404882")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Hyams", null, null, "nm0404882")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fede Alvarez", 1978, null, "nm1793079")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fede Alvarez", 1978, null, "nm1793079")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fede Alvarez", 1978, null, "nm1793079")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Barber", null, null, "nm2905562")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Afonso Poyart", 1979, null, "nm4139472")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christian Ditter", 1977, null, "nm0228542")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christian Ditter", 1977, null, "nm0228542")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christian Ditter", 1977, null, "nm0228542")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julie Anne Robinson", null, null, "nm1455688")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julie Anne Robinson", null, null, "nm1455688")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julie Anne Robinson", null, null, "nm1455688")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Massy Tadjedin", 1976, null, "nm1127653")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Elliott Lester", null, null, "nm1714255")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Elliott Lester", null, null, "nm1714255")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julian Farino", null, null, "nm0267497")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julian Farino", null, null, "nm0267497")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julian Farino", null, null, "nm0267497")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jesse V. Johnson", 1971, null, "nm0425364")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jennifer Yuh Nelson", 1972, null, "nm0950775")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jennifer Yuh Nelson", 1972, null, "nm0950775")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Stebbings", 1971, null, "nm0824220")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bong Hee Han", null, null, "nm2634350")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lorene Scafaria", null, null, "nm1032521")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lorene Scafaria", null, null, "nm1032521")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lorene Scafaria", null, null, "nm1032521")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Barrett", null, null, "nm0057106")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Barrett", null, null, "nm0057106")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Barrett", null, null, "nm0057106")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Barrett", null, null, "nm0057106")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Zicherman", null, null, "nm0955974")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Krokidas", 1973, null, "nm1045865")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Michôd", null, null, "nm2391575")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Michôd", null, null, "nm2391575")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Michôd", null, null, "nm2391575")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Louie Psihoyos", 1957, null, "nm3174775")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Ford", 1961, null, "nm1053530")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Ford", 1961, null, "nm1053530")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Nguyen", 1966, null, "nm1343100")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean Byrne", null, null, "nm2015237")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean Byrne", null, null, "nm2015237")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Béla Tarr", 1955, null, "nm0850601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Greenspan", null, null, "nm1042371")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sheng Ding", null, null, "nm0227625")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Dowling", null, null, "nm0235852")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Dowling", null, null, "nm0235852")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Radu Mihaileanu", 1958, null, "nm0586123")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Stamm", 1976, null, "nm0821844")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Stamm", 1976, null, "nm0821844")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Traucki", null, null, "nm0871188")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Ketai", null, null, "nm2406892")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nanette Burstein", 1970, null, "nm0123379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nanette Burstein", 1970, null, "nm0123379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pierre Coffin", 1967, null, "nm1853544")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pierre Coffin", 1967, null, "nm1853544")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pierre Coffin", 1967, null, "nm1853544")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ayan Mukherjee", null, null, "nm2209781")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ayan Mukherjee", null, null, "nm2209781")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Liu", null, null, "nm0515005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Liu", null, null, "nm0515005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Liu", null, null, "nm0515005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Liu", null, null, "nm0515005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Liu", null, null, "nm0515005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Liu", null, null, "nm0515005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Liu", null, null, "nm0515005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Liu", null, null, "nm0515005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Liu", null, null, "nm0515005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Liu", null, null, "nm0515005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bradley Buecker", null, null, "nm1267896")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bradley Buecker", null, null, "nm1267896")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bradley Buecker", null, null, "nm1267896")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony DiBlasi", null, null, "nm1304669")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony DiBlasi", null, null, "nm1304669")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marius Holst", 1965, null, "nm0392319")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Elizabeth Banks", 1974, null, "nm0006969")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Elizabeth Banks", 1974, null, "nm0006969")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Antti Jokinen", 1968, null, "nm0427037")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Winer", null, null, "nm0934864")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Winer", null, null, "nm0934864")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Tomnay", null, null, "nm1204442")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carl Rinsch", null, null, "nm0727754")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("D. Kerry Prior", null, null, "nm0697934")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Duplass", 1976, null, "nm0243233")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Morris", 1965, null, "nm0606439")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Knautz", 1979, null, "nm1394062")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jack Perez", null, null, "nm0673512")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Murray", null, null, "nm2541017")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("R.J. Cutler", 1962, null, "nm0191712")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Masahiro Sonoda", null, null, "nm2460551")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Morten Tyldum", 1967, null, "nm0878763")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Morten Tyldum", 1967, null, "nm0878763")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Morten Tyldum", 1967, null, "nm0878763")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Casey Affleck", 1975, null, "nm0000729")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Asghar Farhadi", 1972, null, "nm1410815")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Asghar Farhadi", 1972, null, "nm1410815")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Asghar Farhadi", 1972, null, "nm1410815")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Asghar Farhadi", 1972, null, "nm1410815")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Asghar Farhadi", 1972, null, "nm1410815")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Henrik Ruben Genz", 1959, null, "nm0313227")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthias Hoene", null, null, "nm2775497")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim O'Hanlon", 1970, null, "nm1317262")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim O'Hanlon", 1970, null, "nm1317262")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ralph Fiennes", 1962, null, "nm0000146")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Juan Solanas", 1966, null, "nm0812626")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lily Mariye", 1956, null, "nm0548159")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J Blakeson", null, null, "nm2128335")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J Blakeson", null, null, "nm2128335")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yorgos Lanthimos", 1973, null, "nm0487166")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yorgos Lanthimos", 1973, null, "nm0487166")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yorgos Lanthimos", 1973, null, "nm0487166")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yorgos Lanthimos", 1973, null, "nm0487166")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Nolfi", null, null, "nm1079776")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fisher Stevens", 1963, null, "nm0001770")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fisher Stevens", 1963, null, "nm0001770")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ami Canaan Mann", null, null, "nm0542642")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ami Canaan Mann", null, null, "nm0542642")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joey Stewart", 1967, null, "nm0829518")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marcos Efron", null, null, "nm1259604")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Milan Luthria", null, null, "nm0527453")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sergio Castellitto", 1953, null, "nm0144812")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Muschietti", null, null, "nm0615592")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Muschietti", null, null, "nm0615592")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Muschietti", null, null, "nm0615592")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Martinez", null, null, "nm0553635")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Debra Granik", 1963, null, "nm0335138")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Debra Granik", 1963, null, "nm0335138")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jalmari Helander", 1976, null, "nm1118351")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jalmari Helander", 1976, null, "nm1118351")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Spencer Susser", null, null, "nm1127632")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Galt Niederhoffer", 1975, null, "nm0630633")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lee Toland Krieger", null, null, "nm1767218")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lee Toland Krieger", null, null, "nm1767218")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joshua Butler", 1973, null, "nm0124991")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Putch", 1961, null, "nm0003289")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Putch", 1961, null, "nm0003289")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Osamu Kasai", 1941, null, "nm0440391")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carl Tibbetts", null, null, "nm3393440")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carl Tibbetts", null, null, "nm3393440")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carl Tibbetts", null, null, "nm3393440")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicolai Fuglsig", 1972, null, "nm3350420")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phill Lewis", 1968, null, "nm0507629")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Phill Lewis", 1968, null, "nm0507629")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Beattie", null, null, "nm0064181")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Beattie", null, null, "nm0064181")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kim Chapiron", 1980, null, "nm1320966")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Icíar Bollaín", 1967, null, "nm0093081")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard J. Lewis", null, null, "nm0003557")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard J. Lewis", null, null, "nm0003557")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard J. Lewis", null, null, "nm0003557")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Xavier Dolan", 1989, null, "nm0230859")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Xavier Dolan", 1989, null, "nm0230859")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Xavier Dolan", 1989, null, "nm0230859")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Xavier Dolan", 1989, null, "nm0230859")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Xavier Dolan", 1989, null, "nm0230859")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Xavier Dolan", 1989, null, "nm0230859")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Sohn", 1977, null, "nm0812307")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Sohn", 1977, null, "nm0812307")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Epstein", 1955, null, "nm0258531")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Hough", 1974, null, "nm0396426")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve DiMarco", null, null, "nm0227192")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Judge", null, null, "nm0431908")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sarah Smith", null, null, "nm0809877")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Camille Delamarre", 1979, null, "nm0216214")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Camille Delamarre", 1979, null, "nm0216214")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Lord", 1953, null, "nm0520485")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Miller", 1964, null, "nm1783265")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kiran Rao", null, null, "nm1444479")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Henry Alex Rubin", null, null, "nm0748066")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Lincoln", 1976, null, "nm1447139")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tanya Wexler", 1970, null, "nm0923330")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kimble Rendall", null, null, "nm0719320")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tristram Shapeero", 1966, null, "nm0788426")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tristram Shapeero", 1966, null, "nm0788426")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Declan Donnellan", 1953, null, "nm3077950")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean Durkin", null, null, "nm1699934")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rufus Norris", null, null, "nm0635895")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dustin Hoffman", 1937, null, "nm0000163")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Kent", null, null, "nm0448757")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregory Smith", 1983, null, "nm0808376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jesse Warn", null, null, "nm1168394")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jesse Warn", null, null, "nm1168394")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jesse Warn", null, null, "nm1168394")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rosemary Rodriguez", null, null, "nm0735504")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lee Shallat Chemel", 1943, null, "nm0155117")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Ramsey", null, null, "nm0709056")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Ramsey", null, null, "nm0709056")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("S.S. Rajamouli", null, null, "nm1442514")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("S.S. Rajamouli", null, null, "nm1442514")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("S.S. Rajamouli", null, null, "nm1442514")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("S.S. Rajamouli", null, null, "nm1442514")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anusha Rizvi", null, null, "nm3470556")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Max Giwa", null, null, "nm2791932")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary McKendry", null, null, "nm1834213")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon S. Baird", 1972, null, "nm1580671")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon S. Baird", 1972, null, "nm1580671")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sergio Mimica-Gezzan", 1957, null, "nm0590790")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan Scanlon", 1976, null, "nm0768959")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tate Taylor", 1969, null, "nm0853238")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tate Taylor", 1969, null, "nm0853238")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tate Taylor", 1969, null, "nm0853238")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tate Taylor", 1969, null, "nm0853238")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Elkins", null, null, "nm0253899")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luis Prieto", null, null, "nm1060986")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rodrigo Cortés", 1973, null, "nm0181579")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rodrigo Cortés", 1973, null, "nm0181579")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eli Craig", 1972, null, "nm0185848")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eli Craig", 1972, null, "nm0185848")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vincent McEveety", 1929, 2018, "nm0568546")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Six", 1973, null, "nm1519353")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Six", 1973, null, "nm1519353")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Six", 1973, null, "nm1519353")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jorma Taccone", 1977, null, "nm1672246")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Miller", 1962, null, "nm0589284")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Miller", 1962, null, "nm0589284")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Cornish", 1968, null, "nm0180428")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Cornish", 1968, null, "nm0180428")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Josh Radnor", 1974, null, "nm1102140")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Josh Radnor", 1974, null, "nm1102140")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Renaud", null, null, "nm0719208")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Renaud", null, null, "nm0719208")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Renaud", null, null, "nm0719208")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Samuel Maoz", 1962, null, "nm1413443")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Gracey", null, null, "nm1243905")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bryan Fordney", null, null, "nm0285990")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J.C. Chandor", null, null, "nm1170855")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J.C. Chandor", null, null, "nm1170855")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J.C. Chandor", null, null, "nm1170855")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J.C. Chandor", null, null, "nm1170855")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Arkin", 1956, null, "nm0035060")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Arkin", 1956, null, "nm0035060")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Olivia Wilde", 1984, null, "nm1312575")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ariel Vromen", 1973, null, "nm1033517")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ariel Vromen", 1973, null, "nm1033517")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jairus Cobb", null, null, "nm2329145")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Liz Plonka", null, null, "nm0687390")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hae-jun Lee", null, null, "nm1409622")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roel Reiné", 1969, null, "nm0004152")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roel Reiné", 1969, null, "nm0004152")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Josh Trank", 1984, null, "nm2503633")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Josh Trank", 1984, null, "nm2503633")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Guillem Morales", 1975, null, "nm0602616")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kurt Sayenga", null, null, "nm1012131")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Engler", null, null, "nm0257554")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Engler", null, null, "nm0257554")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Engler", null, null, "nm0257554")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bradley Cooper", 1975, null, "nm0177896")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Deven Bhojani", 1969, null, "nm0080409")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Rohl", null, null, "nm0737517")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Rohl", null, null, "nm0737517")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Goldstein", 1969, null, "nm0326246")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Goldstein", 1969, null, "nm0326246")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Wright", 1971, null, "nm1229323")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew Parkhill", null, null, "nm1213712")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jesper W. Nielsen", 1962, null, "nm0630861")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeong-beom Lee", null, null, "nm2556572")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hiroyuki Fukushima", null, null, "nm8272201")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan Rush", null, null, "nm3656297")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("R. Balki", null, null, "nm2669564")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("R. Balki", null, null, "nm2669564")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martha Holmes", null, null, "nm2280670")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Juliet May", null, null, "nm0562013")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Juliet May", null, null, "nm0562013")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Panos Cosmatos", null, null, "nm0181903")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Panos Cosmatos", null, null, "nm0181903")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Uluç Bayraktar", null, null, "nm1760721")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Uluç Bayraktar", null, null, "nm1760721")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew Chapman", null, null, "nm0152466")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Madonna", 1958, null, "nm0000187")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julien Magnat", null, null, "nm1077275")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Michael McDonagh", 1967, null, "nm0567620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Michael McDonagh", 1967, null, "nm0567620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Michael McDonagh", 1967, null, "nm0567620")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew Weiner", 1965, null, "nm1980806")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fred Cavayé", null, null, "nm0146991")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Green", null, null, "nm3407375")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Cahill", 1979, null, "nm2648685")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Cahill", 1979, null, "nm2648685")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Haber", null, null, "nm0352191")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary A. Randall", null, null, "nm0709592")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Powell", null, null, "nm0694249")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan Fraga", 1973, null, "nm1683464")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shana Feste", 1976, null, "nm0275277")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shana Feste", 1976, null, "nm0275277")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Hetherington", 1970, 2011, "nm1770672")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bernard Derriman", null, null, "nm0220615")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zoya Akhtar", 1972, null, "nm0015295")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zoya Akhtar", 1972, null, "nm0015295")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zoya Akhtar", 1972, null, "nm0015295")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brad Kreisberg", null, null, "nm0470676")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Colin Strause", 1976, null, "nm0833779")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Pierre Améris", 1961, null, "nm0025534")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lee Fulkerson", null, null, "nm0298132")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marjane Satrapi", 1969, null, "nm2277869")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Asger Leth", null, null, "nm1300606")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hiromasa Yonebayashi", null, null, "nm0948488")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brandon Vietti", 1974, null, "nm1541845")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lena Dunham", 1986, null, "nm2501633")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lena Dunham", 1986, null, "nm2501633")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christian Rivers", null, null, "nm0729514")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig Johnson", null, null, "nm2574897")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig Johnson", null, null, "nm2574897")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Kaufman", null, null, "nm0442287")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Víctor García", 1974, null, "nm1414579")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Norman Buckley", null, null, "nm0118665")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Grossman", null, null, "nm0343687")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Goldbach", null, null, "nm1492832")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Kassen", 1974, null, "nm0440859")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Iain B. MacDonald", null, null, "nm1564798")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Tonderai", null, null, "nm0867127")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Henry Joost", null, null, "nm1160962")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Henry Joost", null, null, "nm1160962")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Henry Joost", null, null, "nm1160962")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Stromberg", null, null, "nm0834902")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Banksy", null, null, "nm2612991")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Duplass", 1973, null, "nm0243231")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Xavier Beauvois", 1967, null, "nm0064741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julia Leigh", null, null, "nm3772967")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Apichatpong Weerasethakul", 1970, null, "nm0917405")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tetsuya Nakashima", 1959, null, "nm0620363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy Gierhart", null, null, "nm0317382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike McCoy", null, null, "nm0566788")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eagle Egilsson", 1966, null, "nm0251032")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Mather", null, null, "nm1140492")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lisa Azuelos", 1965, null, "nm0018132")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hakan Algül", null, null, "nm1699659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hakan Algül", null, null, "nm1699659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paolo Barzman", 1957, null, "nm0059556")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paolo Barzman", 1957, null, "nm0059556")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eric Laneuville", 1952, null, "nm0485637")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig Zobel", null, null, "nm0957505")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig Zobel", null, null, "nm0957505")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hadi Hajaig", null, null, "nm1561205")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michaël R. Roskam", null, null, "nm1742427")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michaël R. Roskam", null, null, "nm1742427")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Ensler", 1970, null, "nm0258128")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Ensler", 1970, null, "nm0258128")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Brooks", null, null, "nm3360080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clayton Boen", null, null, "nm2143401")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lenny Abrahamson", 1966, null, "nm1049433")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lenny Abrahamson", 1966, null, "nm1049433")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Pavone", null, null, "nm0667937")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Sucsy", 1973, null, "nm1302591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Sucsy", 1973, null, "nm1302591")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Cage", 1969, null, "nm1317665")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Geoff Moore", null, null, "nm3819792")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Maneesh Sharma", null, null, "nm1834891")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Maneesh Sharma", null, null, "nm1834891")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kyle Newacheck", 1984, null, "nm1760830")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kyle Newacheck", 1984, null, "nm1760830")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kyle Newacheck", 1984, null, "nm1760830")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Flanagan", 1978, null, "nm1093039")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Flanagan", 1978, null, "nm1093039")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Flanagan", 1978, null, "nm1093039")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Flanagan", 1978, null, "nm1093039")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Flanagan", 1978, null, "nm1093039")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Flanagan", 1978, null, "nm1093039")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Flanagan", 1978, null, "nm1093039")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Quentin Dupieux", null, null, "nm1189197")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Winant", null, null, "nm0934525")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Winant", null, null, "nm0934525")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Slovis", null, null, "nm0806252")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Slovis", null, null, "nm0806252")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Slovis", null, null, "nm0806252")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Slovis", null, null, "nm0806252")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Slovis", null, null, "nm0806252")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Slovis", null, null, "nm0806252")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Slovis", null, null, "nm0806252")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Slovis", null, null, "nm0806252")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jerry Levine", 1957, null, "nm0505842")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pablo Larraín", 1976, null, "nm1883257")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pablo Larraín", 1976, null, "nm1883257")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Teddy Newton", 1964, null, "nm0628599")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Abhinav Kashyap", null, null, "nm3508781")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tigmanshu Dhulia", null, null, "nm0223606")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Quale", null, null, "nm0702797")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Quale", null, null, "nm0702797")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Butler", 1974, null, "nm2752098")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vinton Heuck", null, null, "nm0381817")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Klein", null, null, "nm0458676")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gwyneth Horder-Payton", null, null, "nm0394586")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gwyneth Horder-Payton", null, null, "nm0394586")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gwyneth Horder-Payton", null, null, "nm0394586")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gwyneth Horder-Payton", null, null, "nm0394586")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philip Einstein Lipski", null, null, "nm3860992")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dave Anthony", null, null, "nm2594425")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dave Anthony", null, null, "nm2594425")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dragan Bjelogrlic", 1963, null, "nm0081449")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Geoffrey Fletcher", 1970, null, "nm2819316")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nima Nourizadeh", 1977, null, "nm1294036")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nima Nourizadeh", 1977, null, "nm1294036")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Allan Kartun", null, null, "nm1097698")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Seth MacFarlane", 1973, null, "nm0532235")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Seth MacFarlane", 1973, null, "nm0532235")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Seth MacFarlane", 1973, null, "nm0532235")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ed Bianchi", 1942, null, "nm0080601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ed Bianchi", 1942, null, "nm0080601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ed Bianchi", 1942, null, "nm0080601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sian Heder", 1977, null, "nm1571761")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vikramaditya Motwane", 1976, null, "nm0003939")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vikramaditya Motwane", 1976, null, "nm0003939")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Eisener", null, null, "nm2639032")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shane Van Dyke", 1979, null, "nm0886749")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Melchior Zwyer", 1977, null, "nm1955513")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Herman Yau", 1961, null, "nm0946875")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Fehlbaum", 1982, null, "nm2959497")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gavin Wiesen", null, null, "nm1026883")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Ferguson", 1955, null, "nm2480587")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carlo Carlei", 1960, null, "nm0137363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cheol-soo Jang", null, null, "nm1564550")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Brandt", 1968, null, "nm0104973")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Flip Van der Kuil", null, null, "nm1475794")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patricia Riggen", 1970, null, "nm0726638")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patricia Riggen", 1970, null, "nm0726638")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patricia Riggen", 1970, null, "nm0726638")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fernando González Molina", null, null, "nm2692858")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fernando González Molina", null, null, "nm2692858")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Curtis", 1960, null, "nm0193508")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Curtis", 1960, null, "nm0193508")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Curtis", 1960, null, "nm0193508")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stéphane Rybojad", null, null, "nm1360702")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sheree Folkson", null, null, "nm0284308")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Chbosky", 1970, null, "nm0154716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Chbosky", 1970, null, "nm0154716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kasper Barfoed", 1972, null, "nm0054504")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rosario Roveto Jr.", null, null, "nm0746307")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Maïwenn", 1976, null, "nm0494069")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Josh Schwartz", 1976, null, "nm0777300")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Schechter", null, null, "nm1633080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Lauer", null, null, "nm0490792")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Euros Lyn", 1971, null, "nm0528186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Euros Lyn", 1971, null, "nm0528186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Benny Boom", null, null, "nm1534600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ari Sandel", null, null, "nm1847738")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ari Sandel", null, null, "nm1847738")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ari Sandel", null, null, "nm1847738")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gilles Paquet-Brenner", null, null, "nm0660707")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gilles Paquet-Brenner", null, null, "nm0660707")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gilles Paquet-Brenner", null, null, "nm0660707")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ciaran Donnelly", null, null, "nm1012772")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ciaran Donnelly", null, null, "nm1012772")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wayne Blair", 1971, null, "nm0992370")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Doug Ellin", 1968, null, "nm0254120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Nichols", 1978, null, "nm2158772")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Nichols", 1978, null, "nm2158772")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Nichols", 1978, null, "nm2158772")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Nichols", 1978, null, "nm2158772")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Olivier Nakache", 1973, null, "nm0619923")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Olivier Nakache", 1973, null, "nm0619923")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Melanie Mayron", 1952, null, "nm0563039")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Melanie Mayron", 1952, null, "nm0563039")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Kurzel", 1974, null, "nm2355933")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Kurzel", 1974, null, "nm2355933")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Kurzel", 1974, null, "nm2355933")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Gould", null, null, "nm0332467")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Gould", null, null, "nm0332467")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eran Creevy", 1976, null, "nm2123102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eran Creevy", 1976, null, "nm2123102")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mahsun Kirmizigül", 1969, null, "nm1749449")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Loressa Clisby", null, null, "nm3388028")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nick Murphy", null, null, "nm1960322")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ry Russo-Young", 1981, null, "nm1735543")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ry Russo-Young", 1981, null, "nm1735543")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Klay Hall", 1958, null, "nm0355806")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aanand L. Rai", null, null, "nm2399862")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aanand L. Rai", null, null, "nm2399862")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aanand L. Rai", null, null, "nm2399862")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aanand L. Rai", null, null, "nm2399862")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ian Graham", null, null, "nm1685611")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Pogue", null, null, "nm0688282")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Pogue", null, null, "nm0688282")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sylvain Bernard", null, null, "nm2551334")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Tiernan", 1965, null, "nm0862911")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Terence Davies", 1945, null, "nm0203993")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Ribeiro", 1982, null, "nm2406154")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Krishnendu Majumdar", null, null, "nm1672024")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Piedmont", null, null, "nm0682126")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Nettheim", null, null, "nm0626706")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Nettheim", null, null, "nm0626706")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Ortiz", null, null, "nm3425513")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Victor Nelli Jr.", null, null, "nm0625065")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Grandage", 1962, null, "nm0334787")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Venkat Prabhu", 1975, null, "nm1862815")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sebastián Borensztein", 1963, null, "nm0096375")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Reinhard Klooss", null, null, "nm0459996")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ruairi Robinson", 1978, null, "nm1099711")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Davis Infantino", 1968, null, "nm2804592")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Lucas", null, null, "nm0524190")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Lucas", null, null, "nm0524190")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Ponsoldt", 1978, null, "nm1242054")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Ponsoldt", 1978, null, "nm1242054")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Ponsoldt", 1978, null, "nm1242054")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Ponsoldt", 1978, null, "nm1242054")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Angelina Jolie", 1975, null, "nm0001401")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Angelina Jolie", 1975, null, "nm0001401")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Angelina Jolie", 1975, null, "nm0001401")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Angelina Jolie", 1975, null, "nm0001401")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Haigh", 1973, null, "nm0354091")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Haigh", 1973, null, "nm0354091")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Haigh", 1973, null, "nm0354091")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jorge Dorado", 1976, null, "nm1085270")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jamie Linden", null, null, "nm1956691")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Kurtzman", 1973, null, "nm0476064")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Kurtzman", 1973, null, "nm0476064")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jennifer Westfeldt", 1970, null, "nm0922724")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Liam O'Donnell", 1982, null, "nm2880943")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rowan Joffe", 1972, null, "nm0423626")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Siergey", null, null, "nm0797053")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Rash", 1971, null, "nm0711110")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Landon", 1975, null, "nm0484907")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Landon", 1975, null, "nm0484907")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Landon", 1975, null, "nm0484907")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Landon", 1975, null, "nm0484907")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Siddique", null, null, "nm0796504")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Henrik Georgsson", null, null, "nm1380082")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Raj Kumar Gupta", null, null, "nm2955107")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Raj Kumar Gupta", null, null, "nm2955107")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew L. Schmidt", null, null, "nm2112570")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carlo Ledesma", null, null, "nm2765527")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joachim Trier", 1974, null, "nm1258686")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joachim Trier", 1974, null, "nm1258686")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joachim Trier", 1974, null, "nm1258686")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Deborah Chow", null, null, "nm1278887")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("André Øvredal", null, null, "nm0004217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("André Øvredal", null, null, "nm0004217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("André Øvredal", null, null, "nm0004217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Hardcastle", 1972, null, "nm1420377")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Hardcastle", 1972, null, "nm1420377")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Hardcastle", 1972, null, "nm1420377")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lynn Shelton", null, null, "nm1119645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lynn Shelton", null, null, "nm1119645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lynn Shelton", null, null, "nm1119645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Gunther", null, null, "nm0348389")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zal Batmanglij", null, null, "nm2610231")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zal Batmanglij", null, null, "nm2610231")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jim Miller", null, null, "nm2638285")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Jai White", 1967, null, "nm0925220")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sreenu Vaitla", null, null, "nm1626425")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Scott", null, null, "nm0779433")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Scott", null, null, "nm0779433")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Scott", null, null, "nm0779433")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nir Paniry", null, null, "nm2040027")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Drake Doremus", 1983, null, "nm2035886")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Drake Doremus", 1983, null, "nm2035886")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Drake Doremus", 1983, null, "nm2035886")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Drake Doremus", 1983, null, "nm2035886")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Maggie Carey", 1975, null, "nm0962849")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Cook", 1958, null, "nm0176905")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Jarecki", null, null, "nm1906430")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brendan McNamara", null, null, "nm1721084")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gonzalo López-Gallego", null, null, "nm1018426")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gonzalo López-Gallego", null, null, "nm1018426")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrés Baiz", null, null, "nm1223381")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrés Baiz", null, null, "nm1223381")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrés Baiz", null, null, "nm1223381")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan Fogelman", null, null, "nm1557594")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan Fogelman", null, null, "nm1557594")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rich Moore", 1963, null, "nm0601781")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rich Moore", 1963, null, "nm0601781")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Gelb", 1983, null, "nm0312173")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Gelb", 1983, null, "nm0312173")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Strong", null, null, "nm1326093")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ariel Schulman", null, null, "nm1413364")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lance Bangs", 1972, null, "nm0051972")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicolás López", 1983, null, "nm1240647")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Watts", 1981, null, "nm1218281")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Watts", 1981, null, "nm1218281")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Watts", 1981, null, "nm1218281")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jon Watts", 1981, null, "nm1218281")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Jakubowicz", 1978, null, "nm1189755")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Faruk Aksoy", 1964, null, "nm1147588")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Reema Kagti", null, null, "nm1030373")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Ball", null, null, "nm1226871")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Ball", null, null, "nm1226871")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wes Ball", null, null, "nm1226871")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Hare", 1947, null, "nm0002376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Noah Hughes", null, null, "nm1502100")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William H. Macy", 1950, null, "nm0000513")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William H. Macy", 1950, null, "nm0000513")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wendey Stanzler", null, null, "nm0007096")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wendey Stanzler", null, null, "nm0007096")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Gormican", null, null, "nm3230448")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Speer", null, null, "nm1228976")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Speer", null, null, "nm1228976")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Richmond", null, null, "nm2541892")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Connolly", 1974, null, "nm0175305")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Flowers", null, null, "nm2111922")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aytaç Agirlar", null, null, "nm1741731")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tolga Örnek", null, null, "nm1376035")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stéphane Aubier", 1964, null, "nm0041334")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kat Coiro", null, null, "nm0192478")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Spiller", 1961, null, "nm0818785")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eriq La Salle", 1962, null, "nm0005113")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sujoy Ghosh", 1966, null, "nm1223910")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sujoy Ghosh", 1966, null, "nm1223910")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Lepeniotis", null, null, "nm0503259")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bilal Lashari", null, null, "nm2850440")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Morris", null, null, "nm2385621")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ryan Coogler", 1986, null, "nm3363032")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ryan Coogler", 1986, null, "nm3363032")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ryan Coogler", 1986, null, "nm3363032")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Bernstein", null, null, "nm0076997")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Doyle", null, null, "nm0236506")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Foenkinos", null, null, "nm2271931")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Norberto Barba", 1963, null, "nm0053157")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Onur Ünlü", 1973, null, "nm1729447")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Onur Ünlü", 1973, null, "nm1729447")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean de Segonzac", null, null, "nm0211523")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vijay Krishna Acharya", null, null, "nm1715502")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vijay Krishna Acharya", null, null, "nm1715502")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Strickland", 1973, null, "nm3270827")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Strickland", 1973, null, "nm3270827")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeffrey Hornaday", 1956, null, "nm0394944")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James M. Muro", 1966, null, "nm0614013")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Battles", null, null, "nm2030556")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Debbie Allen", 1950, null, "nm0000739")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Earl Beesley", null, null, "nm0066584")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Earl Beesley", null, null, "nm0066584")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Akiva Goldsman", 1962, null, "nm0326040")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Minahan", null, null, "nm0590889")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Minahan", null, null, "nm0590889")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Minahan", null, null, "nm0590889")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Minahan", null, null, "nm0590889")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Minahan", null, null, "nm0590889")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Minahan", null, null, "nm0590889")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Heitor Dhalia", 1970, null, "nm1104944")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sandra Nettelbeck", 1966, null, "nm0626686")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Carter", null, null, "nm0141448")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Helen Shaver", 1951, null, "nm0001726")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Klugman", 1975, null, "nm0460206")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Will Canon", null, null, "nm1949943")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig Powell", 1971, null, "nm0694072")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Donovan Marsh", null, null, "nm1804518")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Céline Sciamma", 1980, null, "nm1780037")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Durul Taylan", null, null, "nm1533201")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Karan Malhotra", null, null, "nm1633551")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Karan Malhotra", null, null, "nm1633551")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Moore", 1970, null, "nm0601337")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Moore", 1970, null, "nm0601337")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan Mazer", 1971, null, "nm0563243")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan Mazer", 1971, null, "nm0563243")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Soren", 1973, null, "nm1659741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Soren", 1973, null, "nm1659741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Selçuk Aydemir", null, null, "nm3252853")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Selçuk Aydemir", null, null, "nm3252853")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Selçuk Aydemir", null, null, "nm3252853")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Selçuk Aydemir", null, null, "nm3252853")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aaron Springer", 1973, null, "nm0819711")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Maxine Lapiduss", null, null, "nm0487521")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Lewin", 1946, null, "nm0506802")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Douglas Mackinnon", null, null, "nm0533559")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Douglas Mackinnon", null, null, "nm0533559")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Douglas Mackinnon", null, null, "nm0533559")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kelly Fremon Craig", null, null, "nm2609807")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Middleditch", null, null, "nm0585452")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Henry Hobson", null, null, "nm3918746")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philipp Kadelbach", null, null, "nm0434298")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aaron Harvey", 1980, null, "nm1980747")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ian Barnes", null, null, "nm1357838")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Knight", 1959, null, "nm1140275")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Knight", 1959, null, "nm1140275")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Knight", 1959, null, "nm1140275")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gareth Evans", null, null, "nm2153088")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gareth Evans", null, null, "nm2153088")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gareth Evans", null, null, "nm2153088")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alexandros Avranas", null, null, "nm3189793")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Victor Bojinov", 1972, null, "nm0092514")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hiroshi Hamazaki", null, null, "nm1058480")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Cohen", null, null, "nm0169300")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mukunda Michael Dewil", null, null, "nm4320125")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Leslye Headland", 1980, null, "nm2853516")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Leslye Headland", 1980, null, "nm2853516")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Leslye Headland", 1980, null, "nm2853516")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luv Ranjan", null, null, "nm3060331")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luv Ranjan", null, null, "nm3060331")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luv Ranjan", null, null, "nm3060331")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alexandre Amancio", 1976, null, "nm1978089")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig Moss", null, null, "nm0608936")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Huddles", null, null, "nm0399655")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charles Binamé", 1949, null, "nm0082748")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Zackham", null, null, "nm0951698")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Naomi Foner", 1946, null, "nm0284524")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stuart Blumberg", 1969, null, "nm0089742")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott McGehee", null, null, "nm0569166")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Abhinay Deo", null, null, "nm3218978")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frank Pavich", null, null, "nm0667650")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ramaa Mosley", 1978, null, "nm1310794")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oriol Paulo", 1975, null, "nm1079062")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oriol Paulo", 1975, null, "nm1079062")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oriol Paulo", 1975, null, "nm1079062")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mic Graves", null, null, "nm1071795")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Swirsky", null, null, "nm2499666")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Straiton", null, null, "nm0833191")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Straiton", null, null, "nm0833191")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Straiton", null, null, "nm0833191")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Straiton", null, null, "nm0833191")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex van Warmerdam", 1952, null, "nm0912334")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jan Ole Gerster", 1978, null, "nm1673756")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Enrico Casarosa", 1970, null, "nm1154836")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lisa Marie Gamlem", null, null, "nm2517015")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jen Soska", 1983, null, "nm3609341")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patrick Hughes", null, null, "nm0400850")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patrick Hughes", null, null, "nm0400850")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lawrence Sher", 1970, null, "nm0003394")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bart Layton", null, null, "nm1717925")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bart Layton", null, null, "nm1717925")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Maya Forbes", null, null, "nm0285379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gabe Ibáñez", 1971, null, "nm2688320")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hossein Amini", 1966, null, "nm0024925")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aaron Moorhead", null, null, "nm1823264")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Keishi Ohtomo", null, null, "nm3311094")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Keishi Ohtomo", null, null, "nm3311094")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Josh Cooley", null, null, "nm2155757")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dean Devlin", 1962, null, "nm0002041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dean Devlin", 1962, null, "nm0002041")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Atencio", 1983, null, "nm1534595")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Atencio", 1983, null, "nm1534595")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Bates Jr.", null, null, "nm3160595")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jerusha Hess", 1980, null, "nm1415801")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fergal Reilly", null, null, "nm0717678")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cody Cameron", 1970, null, "nm0970606")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rohit Dhawan", null, null, "nm2539328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Simon", 1955, 2015, "nm0800376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Catherine Millar", null, null, "nm0588049")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gabe Torres", null, null, "nm0868650")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jake Schreier", null, null, "nm1500577")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jake Schreier", null, null, "nm1500577")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jake Schreier", null, null, "nm1500577")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bradley Parker", null, null, "nm0662086")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jamie Travis", 1979, null, "nm1637474")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jamie Travis", 1979, null, "nm1637474")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jamie Travis", 1979, null, "nm1637474")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cate Shortland", 1968, null, "nm0795153")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cate Shortland", 1968, null, "nm0795153")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregory Plotkin", null, null, "nm0687427")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gregory Plotkin", null, null, "nm0687427")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Guy Levy", null, null, "nm1428946")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Walker", 1971, null, "nm1960428")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Crispian Mills", 1973, null, "nm1553775")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Zandvliet", 1971, null, "nm1324710")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martin Zandvliet", 1971, null, "nm1324710")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philippe Falardeau", 1968, null, "nm0265852")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philippe Falardeau", 1968, null, "nm0265852")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Kenneally", null, null, "nm0447863")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kabir Khan", null, null, "nm1203138")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kabir Khan", null, null, "nm1203138")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kabir Khan", null, null, "nm1203138")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Keanu Reeves", 1964, null, "nm0000206")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Hollingsworth", null, null, "nm2288960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Han-min Kim", null, null, "nm3482943")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ed Gass-Donnelly", 1977, null, "nm1424878")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eugenio Mira", 1977, null, "nm1079001")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas McCarthy", null, null, "nm1130275")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas McCarthy", null, null, "nm1130275")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francesca Comencini", 1961, null, "nm0173726")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sebastián Cordero", 1972, null, "nm0179542")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Teplitzky", null, null, "nm0855300")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Teplitzky", null, null, "nm0855300")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Annie Griffin", 1960, null, "nm0341112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takahiro Ômori", null, null, "nm0648464")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Glanz", null, null, "nm2871592")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Naoto Hosoda", null, null, "nm2395083")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alik Sakharov", 1959, null, "nm0002399")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alik Sakharov", 1959, null, "nm0002399")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alik Sakharov", 1959, null, "nm0002399")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alik Sakharov", 1959, null, "nm0002399")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Régis Roinsard", 1972, null, "nm1672051")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shinji Higuchi", 1965, null, "nm0383688")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Baran bo Odar", 1978, null, "nm2171633")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Baran bo Odar", 1978, null, "nm2171633")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Baran bo Odar", 1978, null, "nm2171633")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Birbiglia", 1978, null, "nm1898126")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Birbiglia", 1978, null, "nm1898126")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Lorenz", null, null, "nm0520749")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Owen Harris", null, null, "nm2787176")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Owen Harris", null, null, "nm2787176")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Owen Harris", null, null, "nm2787176")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Owen Harris", null, null, "nm2787176")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rodney Ascher", null, null, "nm0038896")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Elodie Keene", 1949, null, "nm0444709")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Welsh", 1981, null, "nm2965282")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christian Cantamessa", null, null, "nm1703669")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paco Cabezas", null, null, "nm2161247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paco Cabezas", null, null, "nm2161247")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Liza Johnson", null, null, "nm1637785")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Liza Johnson", null, null, "nm1637785")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eric Heisserer", 1970, null, "nm2104063")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Palmer", null, null, "nm3124542")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hiroshi Kôjina", 1963, null, "nm1130145")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brandon Cronenberg", null, null, "nm0188722")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yesenia 'Moony' Perez", null, null, "nm6575069")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brin Hill", null, null, "nm1067779")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Falcone", 1973, null, "nm1229520")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Falcone", 1973, null, "nm1229520")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Falcone", 1973, null, "nm1229520")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Bettinelli-Olpin", null, null, "nm2366012")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Bettinelli-Olpin", null, null, "nm2366012")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nic Mathieu", null, null, "nm0558873")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Arbaaz Khan", 1967, null, "nm0451170")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nathan Greno", 1975, null, "nm1977355")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Felix Herngren", 1967, null, "nm0379773")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ruben Östlund", 1974, null, "nm1128037")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ruben Östlund", 1974, null, "nm1128037")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tyler Shields", 1982, null, "nm2574176")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Benh Zeitlin", 1982, null, "nm1022455")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Malik Bendjelloul", 1977, 2014, "nm0070594")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lauren Greenfield", null, null, "nm1132362")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Duffer", null, null, "nm1819972")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Duffer", null, null, "nm1819972")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Duffer", null, null, "nm1819972")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Duffer", null, null, "nm1819972")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Duffer", null, null, "nm1819972")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Duffer", null, null, "nm1819972")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Duffer", null, null, "nm1819972")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Duffer", null, null, "nm1819972")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Duffer", null, null, "nm1819972")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Duffer", null, null, "nm1819972")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Reardon", null, null, "nm2489573")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Druckmann", null, null, "nm3773654")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neil Druckmann", null, null, "nm3773654")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Max Nichols", 1973, null, "nm0629658")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Long", null, null, "nm0518910")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew Saville", null, null, "nm1234242")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Oliva", null, null, "nm0646515")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Oliva", null, null, "nm0646515")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Oliva", null, null, "nm0646515")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Oliva", null, null, "nm0646515")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Oliva", null, null, "nm0646515")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Oliva", null, null, "nm0646515")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Oliva", null, null, "nm0646515")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Oliva", null, null, "nm0646515")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Homi Adajania", null, null, "nm1223294")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Bateman", 1969, null, "nm0000867")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Freddie Wong", 1985, null, "nm3087799")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Theodore Melfi", 1970, null, "nm0577647")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Theodore Melfi", 1970, null, "nm0577647")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Donavon Warren", null, null, "nm1919905")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Sobol", null, null, "nm1038286")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Farren Blackburn", null, null, "nm1879225")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Farren Blackburn", null, null, "nm1879225")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bob Koherr", null, null, "nm0463199")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Graves", null, null, "nm0336241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Graves", null, null, "nm0336241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Graves", null, null, "nm0336241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Graves", null, null, "nm0336241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Graves", null, null, "nm0336241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Graves", null, null, "nm0336241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Benioff", 1970, null, "nm1125275")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Benioff", 1970, null, "nm1125275")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christian Petzold", 1960, null, "nm0678857")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christian Petzold", 1960, null, "nm0678857")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jordan Vogt-Roberts", null, null, "nm3611349")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jordan Vogt-Roberts", null, null, "nm3611349")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthieu Delaporte", 1971, null, "nm1141181")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hansal Mehta", null, null, "nm0576554")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gauri Shinde", null, null, "nm1903006")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gauri Shinde", null, null, "nm1903006")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dave Green", null, null, "nm1757777")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dave Green", null, null, "nm1757777")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Gyllenhaal", 1949, null, "nm0350455")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Wilson", 1958, null, "nm0933002")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James DeMonaco", 1969, null, "nm0218621")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James DeMonaco", 1969, null, "nm0218621")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James DeMonaco", 1969, null, "nm0218621")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tucker Gates", null, null, "nm0003163")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Nankin", 1955, null, "nm0002749")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Nankin", 1955, null, "nm0002749")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremy Lovering", null, null, "nm0522634")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Katie Cassidy", 1986, null, "nm1556320")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Grant Harvey", 1966, null, "nm0367538")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Meltzer", null, null, "nm0578446")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Duncan McNeill", 1964, null, "nm0000536")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mohit Suri", null, null, "nm1887138")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mohit Suri", null, null, "nm1887138")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Josh Boone", 1979, null, "nm1837748")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Josh Boone", 1979, null, "nm1837748")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wally Pfister", 1961, null, "nm0002892")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Grovic", null, null, "nm4333222")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan Cutforth", 1967, null, "nm0193838")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tobias Lindholm", 1977, null, "nm2105585")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Chang", null, null, "nm0970607")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Warren", null, null, "nm2425648")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joseph Gordon-Levitt", 1981, null, "nm0330687")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aditya Datt", null, null, "nm2024446")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Poliquin", 1986, null, "nm2151439")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Simien", null, null, "nm2282177")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Tiddes", null, null, "nm1639277")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Tiddes", null, null, "nm1639277")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Tiddes", null, null, "nm1639277")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Tiddes", null, null, "nm1639277")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don Hall", 1969, null, "nm2320658")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Crispin Reece", 1958, null, "nm0715240")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dinesh D'Souza", 1961, null, "nm1625338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Williams", null, null, "nm0931724")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Williams", null, null, "nm0931724")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Williams", null, null, "nm0931724")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Williams", null, null, "nm0931724")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Williams", null, null, "nm0931724")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Yûsuke Maruyama", null, null, "nm6894751")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Haifaa Al-Mansour", 1974, null, "nm2223783")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Salli Richardson-Whitfield", 1967, null, "nm0724757")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Salli Richardson-Whitfield", 1967, null, "nm0724757")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eric Summer", null, null, "nm0838599")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jorge R. Gutiérrez", null, null, "nm1509613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kasra Farahani", null, null, "nm1227484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Masahiro Hosoda", null, null, "nm0396075")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Swanberg", 1981, null, "nm1846132")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Liz W. Garcia", 1977, null, "nm1225921")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alessandro Carloni", null, null, "nm1868917")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zak Hilditch", null, null, "nm1991847")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zak Hilditch", null, null, "nm1991847")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rupert Goold", 1972, null, "nm3734458")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Emilis Velyvis", null, null, "nm2543774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Abdellatif Kechiche", 1960, null, "nm0444244")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Tibbitt", 1968, null, "nm1196684")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eric England", 1988, null, "nm3146718")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Jung", null, null, "nm5169133")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Umesh Shukla", null, null, "nm1084488")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Holahan", null, null, "nm0389972")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Meyers", null, null, "nm1836315")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Allan Cubitt", null, null, "nm0190930")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lake Bell", 1979, null, "nm1128572")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Scott", 1966, null, "nm0779350")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Woliner", null, null, "nm0938471")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Catlin", null, null, "nm1028558")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("George Mastras", null, null, "nm2297407")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thomas Schnauz", null, null, "nm1041475")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Susan Tully", 1967, null, "nm0876448")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Susan Tully", 1967, null, "nm0876448")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clio Barnard", null, null, "nm1163237")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dave Grohl", 1969, null, "nm0342970")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aharon Keshales", 1976, null, "nm3522076")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Lofing", null, null, "nm3951039")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Derek Lee", null, null, "nm1854114")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Byrne", 1975, null, "nm1396104")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Byrne", 1975, null, "nm1396104")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Caradog W. James", null, null, "nm1589670")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Caradog W. James", null, null, "nm1589670")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shoojit Sircar", null, null, "nm1999473")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shoojit Sircar", null, null, "nm1999473")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shoojit Sircar", null, null, "nm1999473")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shoojit Sircar", null, null, "nm1999473")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Don McKellar", 1963, null, "nm0001528")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Laurent Bernier", null, null, "nm3843839")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Claude Barras", null, null, "nm1957706")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jennifer Kent", 1969, null, "nm0448768")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ana Lily Amirpour", 1976, null, "nm3235877")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ana Lily Amirpour", 1976, null, "nm3235877")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Josie Rourke", null, null, "nm6066050")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brie Larson", 1989, null, "nm0488953")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Harper", 1980, null, "nm2197777")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tom Harper", 1980, null, "nm2197777")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Landesman", null, null, "nm1481618")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Landesman", null, null, "nm1481618")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ritesh Batra", 1979, null, "nm3592235")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pawan Kumar", null, null, "nm5237694")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremy Saulnier", 1976, null, "nm1099918")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremy Saulnier", 1976, null, "nm1099918")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremy Saulnier", 1976, null, "nm1099918")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Dunnison", null, null, "nm0242966")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ryan Gosling", 1980, null, "nm0331516")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew Heineman", null, null, "nm1292648")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew Heineman", null, null, "nm1292648")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Waugh", null, null, "nm0915304")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Destin Daniel Cretton", 1978, null, "nm2308774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Destin Daniel Cretton", 1978, null, "nm2308774")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew McCarthy", 1962, null, "nm0000530")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Colin Teague", 1970, null, "nm0853535")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sajid Nadiadwala", null, null, "nm0618898")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Abhishek Varman", null, null, "nm2831530")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sukumar", null, null, "nm1335875")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sukumar", null, null, "nm1335875")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joshua Oppenheimer", 1974, null, "nm1484791")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joshua Oppenheimer", 1974, null, "nm1484791")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philip Martin", null, null, "nm1530431")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eugenio Derbez", 1962, null, "nm0220240")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Merchant", 1974, null, "nm0580351")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Merchant", 1974, null, "nm0580351")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Naoyoshi Shiotani", null, null, "nm2022248")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adrian Molina", null, null, "nm2937122")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephanie Soechtig", null, null, "nm3253001")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cedric Nicolas-Troyan", 1969, null, "nm1031639")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Munden", null, null, "nm0612720")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bryn Higgins", null, null, "nm0383343")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Krawczyk", null, null, "nm2710471")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lowery", 1980, null, "nm1108007")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lowery", 1980, null, "nm1108007")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lowery", 1980, null, "nm1108007")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Lowery", 1980, null, "nm1108007")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Kahrs", null, null, "nm0434969")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Serkis", 1964, null, "nm0785227")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Serkis", 1964, null, "nm0785227")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("E.L. Katz", 1981, null, "nm1414810")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Griffiths", null, null, "nm2926263")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Russell Lee Fine", null, null, "nm0277655")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Hyett", null, null, "nm0404931")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ann Druyan", 1949, null, "nm0238668")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Morgan Neville", 1967, null, "nm1365879")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Morgan Neville", 1967, null, "nm1365879")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dee Rees", null, null, "nm2011696")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Benmayor", 1978, null, "nm2038223")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Duke Johnson", 1979, null, "nm2122478")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jamie Payne", null, null, "nm0668350")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jamie Payne", null, null, "nm0668350")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bud Kremp", null, null, "nm0470817")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amma Asante", 1969, null, "nm1392994")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amma Asante", 1969, null, "nm1392994")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Leitch", null, null, "nm0500610")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Leitch", null, null, "nm0500610")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Leitch", null, null, "nm0500610")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Leitch", null, null, "nm0500610")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Winckler", null, null, "nm1577262")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Darren Paul Fisher", null, null, "nm0279441")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Crystal Moselle", 1980, null, "nm1145920")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jay Baruchel", 1982, null, "nm0059431")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Radha Krishna Jagarlamudi", null, null, "nm3758453")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patrick Brice", null, null, "nm2674307")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patrick Brice", null, null, "nm2674307")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patrick Brice", null, null, "nm2674307")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Carlin", null, null, "nm0137520")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dean Israelite", 1984, null, "nm2410311")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dean Israelite", 1984, null, "nm2410311")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Krishna D.K.", 1972, null, "nm1354763")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mikkel Nørgaard", null, null, "nm1031708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mikkel Nørgaard", null, null, "nm1031708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Colm McCarthy", 1973, null, "nm1142073")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Colm McCarthy", 1973, null, "nm1142073")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Colm McCarthy", 1973, null, "nm1142073")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Colm McCarthy", 1973, null, "nm1142073")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Angus MacLane", null, null, "nm0533691")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Timo Tjahjanto", null, null, "nm3464186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Timo Tjahjanto", null, null, "nm3464186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Timo Tjahjanto", null, null, "nm3464186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julius Avery", null, null, "nm1170339")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julius Avery", null, null, "nm1170339")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Burnett", 1962, null, "nm0122427")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Raso", null, null, "nm1764816")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paolo Virzì", 1964, null, "nm0899501")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vic Armstrong", 1946, null, "nm0002184")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel J. Goor", 1975, null, "nm0329634")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alper Caglar", null, null, "nm3809021")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alper Caglar", null, null, "nm3809021")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Corin Hardy", 1975, null, "nm2379028")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Corin Hardy", 1975, null, "nm2379028")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gia Coppola", 1987, null, "nm0178886")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alice Troughton", null, null, "nm1488618")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peggy Holmes", null, null, "nm0391996")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Victor Levin", 1961, null, "nm0505741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Victor Levin", 1961, null, "nm0505741")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Milott", null, null, "nm5732579")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("S. Craig Zahler", 1973, null, "nm0951975")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("S. Craig Zahler", 1973, null, "nm0951975")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("S. Craig Zahler", 1973, null, "nm0951975")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zachary Donohue", null, null, "nm3628670")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Allison Burnett", null, null, "nm0122335")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrea Di Stefano", 1972, null, "nm0224331")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ivan Kavanagh", null, null, "nm2830839")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frédéric Mermoud", null, null, "nm0581081")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Wnendt", 1977, null, "nm1177494")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Wnendt", 1977, null, "nm1177494")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harold Cronk", null, null, "nm1880561")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Harold Cronk", null, null, "nm1880561")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kay Cannon", 1974, null, "nm0134224")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kiah Roache-Turner", null, null, "nm3737504")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremy Webb", null, null, "nm2007278")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gabriela Cowperthwaite", null, null, "nm1363250")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gabriela Cowperthwaite", null, null, "nm1363250")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jimmy Chin", null, null, "nm3011011")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julius Onah", 1983, null, "nm1564809")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven S. DeKnight", null, null, "nm0215299")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shintaro Itoga", null, null, "nm2172473")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfonso Gomez-Rejon", null, null, "nm0004234")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alfonso Gomez-Rejon", null, null, "nm0004234")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Katrina Bartlam", null, null, "nm5419661")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ali Abbas Zafar", null, null, "nm1804614")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ali Abbas Zafar", null, null, "nm1804614")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ali Abbas Zafar", null, null, "nm1804614")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ali Abbas Zafar", null, null, "nm1804614")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lucia Aniello", null, null, "nm3622659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lucia Aniello", null, null, "nm3622659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Fingleton", null, null, "nm2850285")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Baena", 1977, null, "nm1337885")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Baena", 1977, null, "nm1337885")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fernando Coimbra", null, null, "nm2036500")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Murat Dündar", null, null, "nm2339782")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Klose", 1975, null, "nm5205122")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Tucker", null, null, "nm1131680")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephan Lacant", 1972, null, "nm0479810")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alexandre Bustillo", null, null, "nm2376614")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Subhash Kapoor", null, null, "nm1378015")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Subhash Kapoor", null, null, "nm1378015")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hoon-jung Park", null, null, "nm4219902")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Trish Sie", null, null, "nm2586324")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Trish Sie", null, null, "nm2586324")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Hawes", null, null, "nm0369949")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Hawes", null, null, "nm0369949")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Hawes", null, null, "nm0369949")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew Hastings", 1967, null, "nm0368602")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew Hastings", 1967, null, "nm0368602")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Rickman", 1946, 2016, "nm0000614")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ira Sachs", 1965, null, "nm0755158")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Larry Teng", 1977, null, "nm1270350")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andreas Prochaska", 1964, null, "nm0698283")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff T. Thomas", null, null, "nm1926923")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J. Miles Dale", null, null, "nm0197703")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Zinberg", null, null, "nm0956910")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Zinberg", null, null, "nm0956910")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hwan-kyung Lee", null, null, "nm1085908")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dermott Downs", 1962, null, "nm0236173")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dermott Downs", 1962, null, "nm0236173")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dermott Downs", 1962, null, "nm0236173")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Gomez", null, null, "nm2684095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bradley King", null, null, "nm1783713")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thea Sharrock", null, null, "nm4824763")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hans Petter Moland", 1955, null, "nm0596407")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hans Petter Moland", 1955, null, "nm0596407")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hans Petter Moland", 1955, null, "nm0596407")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aleksander Bach", 1980, null, "nm5507490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Mogel", 1974, null, "nm2361949")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jamie Donoughue", null, null, "nm4385546")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Molotnikov", null, null, "nm1098790")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jalil Lespert", 1976, null, "nm0504267")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Mielants", null, null, "nm2139803")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Mosier", 1971, null, "nm0608714")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Linda Mendoza", null, null, "nm0579318")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fred Gerber", null, null, "nm0314104")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Maloof", null, null, "nm5525244")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kristian Levring", 1957, null, "nm0506290")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony C. Ferrante", null, null, "nm0003116")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony C. Ferrante", null, null, "nm0003116")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony C. Ferrante", null, null, "nm0003116")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Hamilton", 1954, null, "nm0357725")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andy Hay", 1954, null, "nm1016595")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ashraf Ismail", null, null, "nm5569371")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ciarán Foy", null, null, "nm1164602")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charlie McDowell", 1983, null, "nm1660595")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charlie McDowell", 1983, null, "nm1660595")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bradley Walsh", null, null, "nm0909568")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Bleckner", 1943, null, "nm0088121")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Thomas", 1965, null, "nm0859432")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luke Cormican", null, null, "nm1406291")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Hall", 1972, null, "nm0355699")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jordan Rubin", 1972, null, "nm1140290")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Petroni", null, null, "nm0678104")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Josh Lawson", 1981, null, "nm0493257")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shira Piven", 1961, null, "nm0686099")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Nicotero", 1963, null, "nm0630524")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Nicotero", 1963, null, "nm0630524")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Nicotero", 1963, null, "nm0630524")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Nicotero", 1963, null, "nm0630524")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Nicotero", 1963, null, "nm0630524")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Nicotero", 1963, null, "nm0630524")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Nicotero", 1963, null, "nm0630524")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Nicotero", 1963, null, "nm0630524")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Nicotero", 1963, null, "nm0630524")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Nicotero", 1963, null, "nm0630524")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greg Nicotero", 1963, null, "nm0630524")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Grégory Levasseur", null, null, "nm0505183")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Philippe de Chauveron", 1965, null, "nm0154385")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ralph Hemecker", null, null, "nm0375973")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Burns", 1975, null, "nm0122567")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Uppendahl", null, null, "nm0881461")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Uppendahl", null, null, "nm0881461")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Uppendahl", null, null, "nm0881461")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Tinker", 1951, null, "nm0863990")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("D.B. Weiss", 1971, null, "nm1888967")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jake Szymanski", null, null, "nm2021516")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jake Szymanski", null, null, "nm2021516")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jake Szymanski", null, null, "nm2021516")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Benoit Richer", null, null, "nm2973719")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kornél Mundruczó", 1975, null, "nm0610960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alain Guiraudie", 1964, null, "nm0347492")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeff Tomsic", null, null, "nm1762961")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Rice", null, null, "nm0723470")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Ward Byrkit", null, null, "nm0126096")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan Gilroy", 1959, null, "nm0319659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan Gilroy", 1959, null, "nm0319659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan Gilroy", 1959, null, "nm0319659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Burton", null, null, "nm0123666")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John David Coles", null, null, "nm0171315")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Siddharth Anand", null, null, "nm1893457")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gillian Robespierre", 1978, null, "nm3521871")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Eubank", null, null, "nm1827931")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jane Pollard", null, null, "nm3558886")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Slattery", 1962, null, "nm0805476")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sarik Andreasyan", 1984, null, "nm3550361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sarik Andreasyan", 1984, null, "nm3550361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven G. Lee", null, null, "nm1184241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam MacDonald", 1977, null, "nm0531595")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fouad Mikati", null, null, "nm3087552")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Emilio Martínez Lázaro", 1945, null, "nm0554880")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Colin Minihan", null, null, "nm4017355")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gren Wells", 1974, null, "nm0920227")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Esmail", 1977, null, "nm1322753")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Esmail", 1977, null, "nm1322753")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Esmail", 1977, null, "nm1322753")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Courteney Cox", 1964, null, "nm0001073")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roberts Gannaway", 1965, null, "nm0304432")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bora Dagtekin", 1978, null, "nm1480916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bora Dagtekin", 1978, null, "nm1480916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clay Kaytis", null, null, "nm0443505")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Zaza Urushadze", 1965, null, "nm0882203")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Konrad Tomaszkiewicz", null, null, "nm2840922")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Sattler", null, null, "nm0972104")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Metin Hüseyin", 1959, null, "nm0406177")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Metin Hüseyin", 1959, null, "nm0406177")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Russell Crowe", 1964, null, "nm0000128")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Damián Szifron", 1975, null, "nm1167933")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Johnny Martin", 1963, null, "nm0552565")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Charlie Bean", null, null, "nm0063769")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Erwin", null, null, "nm3401779")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Erwin", null, null, "nm3401779")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rebecca Sugar", 1987, null, "nm3566987")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ilya Naishuller", null, null, "nm5820154")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sarah Gavron", null, null, "nm0310673")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Severin Fiala", 1985, null, "nm3868633")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Damon Beesley", 1971, null, "nm1720648")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian DeCubellis", null, null, "nm1802093")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aaron Hann", null, null, "nm5278146")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ian Samuels", null, null, "nm3859682")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ethan Spaulding", null, null, "nm2320725")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ethan Spaulding", null, null, "nm2320725")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Morgan Matthews", null, null, "nm2051728")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul McCrane", 1961, null, "nm0005204")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul McCrane", 1961, null, "nm0005204")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matthew Warchus", 1966, null, "nm0911334")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Randall", 1980, null, "nm1726691")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marielle Heller", 1979, null, "nm1716636")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marielle Heller", 1979, null, "nm1716636")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vinil Mathew", null, null, "nm5932553")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Leigh Janiak", 1980, null, "nm4074404")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen S. Campanelli", null, null, "nm0132120")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Leigh Whannell", 1977, null, "nm1191481")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Leigh Whannell", 1977, null, "nm1191481")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Young", null, null, "nm1587778")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Maclean", null, null, "nm3304468")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bill D'Elia", null, null, "nm0002704")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Spencer", null, null, "nm0817895")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Shakman", 1975, null, "nm0787687")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Shakman", 1975, null, "nm0787687")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Shakman", 1975, null, "nm0787687")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Solomon", 1970, null, "nm1231253")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jennifer Getzinger", 1967, null, "nm0315298")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jennifer Getzinger", 1967, null, "nm0315298")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Robert Mitchell", 1974, null, "nm1379002")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Robert Mitchell", 1974, null, "nm1379002")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Benjamin Statler", null, null, "nm3788242")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alberto Rodríguez", 1971, null, "nm0735705")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Helpert", 1983, null, "nm2407401")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julius Ramsay", null, null, "nm1905909")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dorota Kobiela", null, null, "nm3699790")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Zellner", 1974, null, "nm0954655")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Knappenberger", null, null, "nm0460534")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oz Perkins", 1974, null, "nm0674020")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Oz Perkins", 1974, null, "nm0674020")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Grímur Hákonarson", 1977, null, "nm1963886")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cédric Jimenez", 1976, null, "nm1473428")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Babak Najafi", 1975, null, "nm0619836")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kip Andersen", null, null, "nm6057112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kip Andersen", null, null, "nm6057112")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael E. Satrazemis", null, null, "nm0766349")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael E. Satrazemis", null, null, "nm0766349")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael E. Satrazemis", null, null, "nm0766349")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael E. Satrazemis", null, null, "nm0766349")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Glatzer", 1952, 2015, "nm0322144")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mischa Kamp", 1970, null, "nm0436899")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vikas Bahl", 1971, null, "nm2134474")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vikas Bahl", 1971, null, "nm2134474")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roxanne Benjamin", null, null, "nm1671066")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Roxanne Benjamin", null, null, "nm1671066")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todor Chapkanov", 1977, null, "nm1359237")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Verhoeven", 1972, null, "nm0894207")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kenichi Shimizu", null, null, "nm0793664")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dome Karukoski", 1976, null, "nm1933648")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Zada", null, null, "nm4941030")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Robitel", 1978, null, "nm0733263")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Robitel", 1978, null, "nm0733263")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Robitel", 1978, null, "nm0733263")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Benson", 1983, null, "nm1918140")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Benson", 1983, null, "nm1918140")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Benson", 1983, null, "nm1918140")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amy Winfrey", null, null, "nm2441608")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Simone", null, null, "nm9985593")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richie Keen", null, null, "nm0007193")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rahul Dholakia", null, null, "nm1194320")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Abderrahmane Sissako", 1961, null, "nm0803066")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pamela Fryman", null, null, "nm0296945")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeethu Joseph", null, null, "nm2572228")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sally Wainwright", 1964, null, "nm0906550")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Skye Borgman", null, null, "nm1341941")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dave Diomedi", null, null, "nm1206693")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ketan Mehta", 1952, null, "nm0576559")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marwan Hamed", null, null, "nm1441566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Denise Di Novi", 1956, null, "nm0224145")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Miguel Ángel Vivas", null, null, "nm0900251")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Miguel Ángel Vivas", null, null, "nm0900251")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eric Guillon", null, null, "nm3210494")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Sandberg", null, null, "nm6247887")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Leto", null, null, "nm0504716")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Leone", 1971, null, "nm0002814")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gail Lerner", null, null, "nm0503611")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sharat Katariya", 1978, null, "nm2680506")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Laxton", null, null, "nm0493441")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Laxton", null, null, "nm0493441")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eric Stoltz", 1961, null, "nm0000655")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alain Desrochers", null, null, "nm0221662")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Fields", null, null, "nm0276317")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gaby Hoffmann", 1982, null, "nm0000451")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gerard Johnstone", null, null, "nm2067421")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hsiao-Hsien Hou", 1947, null, "nm0396284")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ted Geoghegan", 1979, null, "nm0313295")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Franco", 1978, null, "nm0290556")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Fox", null, null, "nm0289186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Fox", null, null, "nm0289186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Pennolino", null, null, "nm2142199")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eric Lartigau", 1964, null, "nm0489309")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean Kavanagh", null, null, "nm0442586")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Ross", 1970, null, "nm0743671")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gideon Raff", 1972, null, "nm1356268")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gideon Raff", 1972, null, "nm1356268")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gideon Raff", 1972, null, "nm1356268")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Hayman", null, null, "nm0371348")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Omar Madha", null, null, "nm0534850")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Omar Madha", null, null, "nm0534850")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Börkur Sigþórsson", null, null, "nm1156404")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Khurram H. Alavi", null, null, "nm6735778")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Craig Viveiros", null, null, "nm2244239")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Les Butler", null, null, "nm0125024")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Fee", null, null, "nm0270263")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rebecca Asher", 1969, null, "nm0038893")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Damien Macé", null, null, "nm1835055")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Valeri Milev", null, null, "nm2274197")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Katis", null, null, "nm1238038")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joss Agnew", null, null, "nm0013140")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anders Engström", 1963, null, "nm0257775")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shintaro Shimosawa", null, null, "nm0989941")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Courtney Rowe", null, null, "nm0746489")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Dudok de Wit", 1953, null, "nm0240196")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anjali Menon", null, null, "nm3250747")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("François Simard", null, null, "nm2379331")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("François Simard", null, null, "nm2379331")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Juliano Ribeiro Salgado", null, null, "nm2081382")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shashank Khaitan", null, null, "nm4264671")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Richanbach", null, null, "nm2795127")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeffrey F. January", null, null, "nm0418362")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patrick Osborne", null, null, "nm2444148")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gerard Barrett", 1987, null, "nm3584506")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Lei Howden", null, null, "nm3950520")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fabio Guaglione", 1981, null, "nm1764586")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Levan Gabriadze", 1969, null, "nm0300174")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Krasinski", 1979, null, "nm1024677")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Krasinski", 1979, null, "nm1024677")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anna Foerster", null, null, "nm0283816")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nate Cash", 1976, null, "nm2389161")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aisling Walsh", 1958, null, "nm0909532")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nash Edgerton", 1973, null, "nm0003482")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Almereyda", 1959, null, "nm0021899")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ned Benson", 1977, null, "nm0072600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Brewer", null, null, "nm5082761")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shûhei Morita", null, null, "nm1557215")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Garth Davis", null, null, "nm0204628")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Navdeep Singh", null, null, "nm2480204")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anna Muylaert", 1964, null, "nm1155957")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tomoki Kobayashi", null, null, "nm2459245")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Björn Runge", 1961, null, "nm0750275")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cesc Gay", 1967, null, "nm0310747")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Louis Clichy", null, null, "nm3088151")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Showalter", 1970, null, "nm0795290")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Showalter", 1970, null, "nm0795290")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony McNamara", null, null, "nm1110111")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gabriele Mainetti", 1976, null, "nm0537734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Max Joseph", null, null, "nm3273000")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Will Slocombe", null, null, "nm2034711")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vince Marcello", null, null, "nm1479803")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hannah Fidell", 1985, null, "nm4227232")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("László Nemes", 1977, null, "nm1841577")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt D'Avella", null, null, "nm6576361")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tadayoshi Yamamuro", null, null, "nm2238569")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Ford Murphy", null, null, "nm0614330")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean Baker", 1971, null, "nm0048918")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sean Baker", 1971, null, "nm0048918")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Giulio Ricciarelli", 1965, null, "nm0723285")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("J.D. McKee", 1981, null, "nm1159727")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Benjamin Caron", null, null, "nm0139081")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Benjamin Caron", null, null, "nm0139081")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Susan Johnson", 1970, null, "nm0426287")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rick Famuyiwa", 1973, null, "nm0266622")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Vanderbilt", 1975, null, "nm0888743")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Howling", null, null, "nm3262170")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takahiro Majima", null, null, "nm4303848")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nora Twomey", 1971, null, "nm1316072")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richie Smyth", null, null, "nm1100217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stefan Pleszczynski", null, null, "nm0687238")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven C. Miller", 1981, null, "nm1921345")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven C. Miller", 1981, null, "nm1921345")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Deniz Gamze Ergüven", 1978, null, "nm2197025")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lynn M. McCracken", null, null, "nm0566849")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Florian Gallenberger", 1972, null, "nm0302780")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adam Schindler", null, null, "nm2040169")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Darren Doane", 1972, null, "nm0229544")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jennifer Fox", null, null, "nm2060706")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gee Malik Linton", 1973, null, "nm1768304")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stefano Sollima", 1966, null, "nm1356588")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stefano Sollima", 1966, null, "nm1356588")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan Kwan", null, null, "nm3453283")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Laura Poitras", 1964, null, "nm0688636")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Maren Ade", 1976, null, "nm0011752")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gordon Anderson", null, null, "nm1807629")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Louis Shaw Milito", null, null, "nm0587508")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hannes Holm", 1962, null, "nm0391502")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jean-Stéphane Sauvaire", null, null, "nm0767160")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bethany Ashton Wolf", null, null, "nm0039192")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeetu Arora", null, null, "nm1206356")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris McKay", null, null, "nm0003021")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mia Hansen-Løve", 1981, null, "nm0361135")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Richard Senior", null, null, "nm1587079")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jenny Gage", null, null, "nm1788310")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Biswapati Sarkar", null, null, "nm6845075")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ron Murphy", null, null, "nm0614672")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Edgerton", 1974, null, "nm0249291")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Edgerton", 1974, null, "nm0249291")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Hoar", null, null, "nm0387486")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Deon Taylor", null, null, "nm1938064")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Deon Taylor", null, null, "nm1938064")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Emma Freeman", null, null, "nm1175458")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("James Schamus", 1959, null, "nm0770005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Burak Aksak", null, null, "nm4342198")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nate Parker", 1979, null, "nm1676649")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Saint M.", null, null, "nm9215103")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aaron Sorkin", 1961, null, "nm0815070")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sebastian Schipper", 1968, null, "nm0771923")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Nolan", 1976, null, "nm0634300")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Nolan", 1976, null, "nm0634300")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brett Morgen", 1968, null, "nm0605137")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("S.J. Clarkson", null, null, "nm1237416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("S.J. Clarkson", null, null, "nm1237416")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Taylor Sheridan", null, null, "nm0792263")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Taylor Sheridan", null, null, "nm0792263")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nicholas Gyeney", 1986, null, "nm2422911")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Kostanski", null, null, "nm2725627")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Eggers", null, null, "nm3211470")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stacie Passon", null, null, "nm4945419")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Babak Anvari", null, null, "nm2035118")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Liz Garbus", null, null, "nm0305017")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ciro Guerra", 1981, null, "nm1458734")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hiro Murai", null, null, "nm2033604")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("William Oldroyd", null, null, "nm4399706")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Clay Jeter", null, null, "nm0422316")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Travis Knight", 1973, null, "nm1325899")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Travis Knight", 1973, null, "nm1325899")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Billy O'Brien", 1970, null, "nm0639376")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Metin Günay", 1963, null, "nm1699689")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Olivier Schramm", null, null, "nm4107636")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Federico D'Alessandro", null, null, "nm1730090")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jafar Panahi", 1960, null, "nm0070159")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Taylor", null, null, "nm4829613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Taylor", null, null, "nm4829613")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Henk Handloegten", 1968, null, "nm0359634")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ronna Gradus", null, null, "nm4991143")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Raja Menon", null, null, "nm1329166")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Maggie Kiley", null, null, "nm0453003")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pablo Trapero", 1971, null, "nm0871086")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ceyda Torun", null, null, "nm2167704")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul A. Edwards", null, null, "nm0250267")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chad Stahelski", 1968, null, "nm0821432")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chad Stahelski", 1968, null, "nm0821432")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David McWhirter", null, null, "nm0574765")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nishikant Kamat", null, null, "nm1723225")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nishikant Kamat", null, null, "nm1723225")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anup Bhandari", null, null, "nm4093647")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Abhishek Chaubey", null, null, "nm1322477")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Peckover", null, null, "nm2577199")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Celal Çimen", null, null, "nm2930027")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vaughn Stein", null, null, "nm2389363")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Martha Mitchell", null, null, "nm0593576")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben Feldman", 1980, null, "nm1133651")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Andrew Jay Cohen", null, null, "nm1157527")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Thelin", null, null, "nm2836676")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Akitsugu Hisagi", null, null, "nm3884401")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luke Scott", 1968, null, "nm0779524")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("R.D. Braunstein", null, null, "nm5189759")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Geddes", 1949, null, "nm0311454")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anders Walter", 1978, null, "nm2225334")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Assaf Bernstein", 1970, null, "nm0077002")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Assaf Bernstein", 1970, null, "nm0077002")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ross Duffer", null, null, "nm1819973")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ross Duffer", null, null, "nm1819973")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ross Duffer", null, null, "nm1819973")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ross Duffer", null, null, "nm1819973")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ross Duffer", null, null, "nm1819973")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bruce Goodison", null, null, "nm1978693")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jakob Verbruggen", null, null, "nm1347708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jakob Verbruggen", null, null, "nm1347708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonny Campbell", null, null, "nm0132600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Yang", null, null, "nm1520649")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Yang", null, null, "nm1520649")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anna Rose Holmer", null, null, "nm2326407")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Neeraj Ghaywan", null, null, "nm4784536")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kazuya Karasawa", null, null, "nm5975001")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Moore", null, null, "nm0601859")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Waxman", null, null, "nm0915400")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Antonio Campos", 1983, null, "nm1290515")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alphonse Puthren", null, null, "nm4737195")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Vatcher", null, null, "nm1274170")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ben C. Lucas", null, null, "nm2279930")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Cullen", null, null, "nm0191502")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Trey Edward Shults", null, null, "nm4099092")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Toa Fraser", null, null, "nm1089736")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Toa Fraser", null, null, "nm1089736")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Koratala Siva", null, null, "nm2270180")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Koratala Siva", null, null, "nm2270180")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Juan Carlos Medina", 1977, null, "nm0575726")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amit Golani", null, null, "nm6905586")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephen Susco", null, null, "nm0839812")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Ragussis", null, null, "nm2495732")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ken Marino", 1968, null, "nm0547800")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Liam Gavin", null, null, "nm2201016")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ribhu Dasgupta", null, null, "nm4138262")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Claire Denis", 1946, null, "nm0219136")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pete Michels", 1964, null, "nm0585086")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Benny Safdie", null, null, "nm1509478")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shakun Batra", null, null, "nm2439708")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paolo Genovese", 1966, null, "nm0002645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Evgeny Afineevsky", 1972, null, "nm1017958")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Chaves", null, null, "nm1980431")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jotagá Crema", null, null, "nm2944272")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Greta Gerwig", 1983, null, "nm1950086")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Meghna Gulzar", null, null, "nm1126068")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Meghna Gulzar", null, null, "nm1126068")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Everardo Gout", null, null, "nm0332740")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julia Ducournau", 1983, null, "nm4469445")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Jenkins", 1979, null, "nm1503575")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barry Jenkins", 1979, null, "nm1503575")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Weaver", null, null, "nm0915920")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Weaver", null, null, "nm0915920")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vikram K. Kumar", null, null, "nm1653460")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lennart Ruff", 1986, null, "nm2569510")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mohan Raja", null, null, "nm1001345")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Hall", null, null, "nm0355285")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stella Meghie", null, null, "nm4907810")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lin Oeding", 1977, null, "nm0644204")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jordan Peele", 1979, null, "nm1443502")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jordan Peele", 1979, null, "nm1443502")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carlton Cuse", 1959, null, "nm0193681")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jan Michelini", 1979, null, "nm1429095")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Wonke", null, null, "nm1637865")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Pa. Ranjith", null, null, "nm3163794")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nitesh Tiwari", null, null, "nm4318159")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hugo Gélin", 1980, null, "nm0312315")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Noer", null, null, "nm1840064")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mark Brozel", null, null, "nm1067853")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Dower", null, null, "nm0235770")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin Phillips", null, null, "nm2023590")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Cameron", 1958, null, "nm0131625")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chloe Thomas", null, null, "nm1192526")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Eskandari", null, null, "nm1760759")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steve Boyum", 1952, null, "nm0102434")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dharmendra Suresh Desai", null, null, "nm4819186")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Laura Ricciardi", null, null, "nm3309730")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Chun", null, null, "nm0161125")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dominic Polcino", 1964, null, "nm0688913")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kleber Mendonça Filho", 1968, null, "nm2207625")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Southam", 1961, null, "nm0816074")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David M. Rosenthal", 1969, null, "nm1270033")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tomohiko Itô", null, null, "nm2423816")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gilles Bannier", null, null, "nm0052364")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ezra Edelman", null, null, "nm1554601")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Farrier", null, null, "nm3910931")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ram Madhvani", null, null, "nm0534879")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julie Andem", 1982, null, "nm4049300")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Claire Scanlon", null, null, "nm0768957")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sudha Kongara", null, null, "nm1464314")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nagraj Manjule", null, null, "nm5616219")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vicky Jewson", 1985, null, "nm2351920")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Naoko Yamada", 1984, null, "nm2210720")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bill Hader", 1978, null, "nm0352778")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amitabh Reza Chowdhury", null, null, "nm2755490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ira Sherak", null, null, "nm1403481")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Seidenglanz", null, null, "nm1032600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Seidenglanz", null, null, "nm1032600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rob Seidenglanz", null, null, "nm1032600")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amy Sherman-Palladino", 1968, null, "nm0792371")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wash Westmoreland", 1966, null, "nm0922903")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Atlee Kumar", 1983, null, "nm5961051")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Atlee Kumar", 1983, null, "nm5961051")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian Smrz", null, null, "nm0810706")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sanjay Gupta", null, null, "nm0348495")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anthony Maras", null, null, "nm2285536")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mairzee Almas", null, null, "nm0021772")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fredi Devas", null, null, "nm4830788")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ali Abbasi", 1981, null, "nm4389150")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Coky Giedroyc", 1962, null, "nm0317328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Coky Giedroyc", 1962, null, "nm0317328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremy Dyson", 1966, null, "nm0246037")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brent Bonacorso", null, null, "nm2979453")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Romeo Tirone", null, null, "nm0864268")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Romeo Tirone", null, null, "nm0864268")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marti Noxon", 1964, null, "nm0637497")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aniruddha Roy Chowdhury", null, null, "nm2287772")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Marc Buckland", null, null, "nm0118530")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takeshi Nozue", null, null, "nm1481959")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Fumihiko Sori", null, null, "nm1216495")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ildikó Enyedi", 1955, null, "nm0258221")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alan Barillaro", null, null, "nm0054659")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonah Hill", 1983, null, "nm1706767")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Takudai Kakuchi", null, null, "nm9219905")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Francis Lee", null, null, "nm0497274")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Sohn", null, null, "nm0812304")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Bruckner", null, null, "nm1410159")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sebastián Lelio", 1974, null, "nm0133326")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sebastián Lelio", 1974, null, "nm0133326")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Elliott", null, null, "nm0254660")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cory Finley", null, null, "nm8083973")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Minkie Spiro", null, null, "nm0819083")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Kirkby", 1970, null, "nm1469191")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Boots Riley", 1971, null, "nm1108556")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Negoescu", null, null, "nm2735137")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sang-ho Yeon", null, null, "nm3613566")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Janicza Bravo", null, null, "nm1891632")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Macon Blair", null, null, "nm0086301")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Farr", 1969, null, "nm1016333")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gavin Whitehead", null, null, "nm2524239")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hallie Meyers-Shyer", 1987, null, "nm0583654")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jeremy Rush", 1977, null, "nm1423438")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Janus Metz", 1974, null, "nm2178458")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Diederik Van Rooijen", null, null, "nm1082611")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Saket Chaudhary", null, null, "nm1062080")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shree Narayan Singh", null, null, "nm3109648")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Raoul Peck", 1953, null, "nm0669704")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dave McCary", null, null, "nm5050824")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dennis Smith", null, null, "nm0807932")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Drew Pearce", 1975, null, "nm1510800")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cory Barlog", 1975, null, "nm0055194")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Shashanka Ghosh", null, null, "nm1492802")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brooke Kennedy", null, null, "nm0447942")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John Carroll Lynch", 1963, null, "nm0002253")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike White", 1970, null, "nm0925234")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Stephan Rick", 1974, null, "nm1357855")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sergio G. Sánchez", 1973, null, "nm1037221")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Patrick Graham", null, null, "nm3318887")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Lehmann", null, null, "nm1411972")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Paul Dano", 1984, null, "nm0200452")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Farhad Safinia", 1975, null, "nm1731154")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brian McGinn", 1984, null, "nm2770831")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Brady Corbet", 1988, null, "nm1227232")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Spicer", 1984, null, "nm0818485")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hüdaverdi Yavuz", null, null, "nm1760911")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kogonada", null, null, "nm3226379")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rajesh Krishnan", null, null, "nm8392933")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jonathan Baker", null, null, "nm5192757")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Rebecca Thomas", null, null, "nm3275942")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Salim Akil", 1964, null, "nm0015328")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jody Lee Lipes", 1982, null, "nm1464511")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Caroline Labrèche", null, null, "nm3537925")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nisha Ganatra", 1974, null, "nm0304091")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Advait Chandan", null, null, "nm2378914")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ian Carter", null, null, "nm7954541")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gerard McMurray", null, null, "nm2618764")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robin Campillo", 1962, null, "nm0133028")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gayatri", null, null, "nm2566836")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jason Reisig", 1970, null, "nm1134222")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Knoernschild", null, null, "nm2223412")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Levinson", null, null, "nm0506094")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Levinson", null, null, "nm0506094")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chloé Zhao", null, null, "nm2125482")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Palmer", null, null, "nm2160297")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lisa Joy", null, null, "nm2847370")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Uta Briesewitz", 1967, null, "nm0003802")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Uta Briesewitz", 1967, null, "nm0003802")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Uta Briesewitz", 1967, null, "nm0003802")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Desiree Akhavan", 1984, null, "nm3034178")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lucy Tcherniak", null, null, "nm3370884")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anurag Singh", null, null, "nm5326250")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Duncan Skiles", null, null, "nm1892658")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Grant Sputore", null, null, "nm3078140")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sankalp Reddy", null, null, "nm8623146")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Eliza Hittman", null, null, "nm2151374")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Can Ulkay", 1964, null, "nm8631915")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Mike Roberts", null, null, "nm2380535")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bryan Fogel", null, null, "nm2406731")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Steven Caple Jr.", null, null, "nm4023702")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Vanessa Parise", 1970, null, "nm1060984")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Justin Baldoni", 1984, null, "nm1682573")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gurmmeet Singh", null, null, "nm6085179")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amit Masurkar", null, null, "nm3536895")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sam Deats", null, null, "nm4702485")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joel Moser", null, null, "nm1046217")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Kinberg", 1973, null, "nm1334526")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Edward Berger", 1970, null, "nm0074163")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Seong-hun Kim", 1971, null, "nm1826454")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Søren Balle", null, null, "nm1490101")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Susanna Fogel", null, null, "nm2573005")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ernesto Contreras", 1969, null, "nm0176496")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kivanç Baruönü", null, null, "nm1738966")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Coralie Fargeat", null, null, "nm0267287")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gustav Möller", 1988, null, "nm7546166")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Luke Sparke", null, null, "nm1543645")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nattawut Poonpiriya", null, null, "nm5464371")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Abby Kohn", null, null, "nm0463359")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ryan White", null, null, "nm1713913")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Joe Penna", null, null, "nm1020835")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Smigel", 1960, null, "nm0806912")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Abhishek Sharma", null, null, "nm0788855")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sujeeth", null, null, "nm6682160")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bill Holderman", null, null, "nm2250139")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wayne Roberts", null, null, "nm7214191")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Rezende", 1975, null, "nm1179870")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tony Yacenda", null, null, "nm2829241")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hun Jang", 1975, null, "nm1922242")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Siva", null, null, "nm2350892")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alexandre Avancini", null, null, "nm0042768")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Kerr", 1967, null, "nm1256143")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sarah Adina Smith", null, null, "nm2262138")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ashwiny Iyer Tiwari", null, null, "nm6436658")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aleksey Pimanov", 1962, null, "nm2671235")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Bo Burnham", 1990, null, "nm3102998")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Damon Thomas", null, null, "nm2270017")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("C. Prem Kumar", null, null, "nm4242320")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ziad Doueiri", 1963, null, "nm0234780")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ram Kumar", null, null, "nm6442107")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael Lennox", null, null, "nm3156269")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kevin R. Adams", null, null, "nm2788440")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ramón Salazar", 1973, null, "nm0757749")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jake Castorena", null, null, "nm4267562")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lauren Miller Rogen", 1982, null, "nm1601643")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gökhan Gök", null, null, "nm9107963")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Carlos López Estrada", null, null, "nm2788015")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Beth McCarthy-Miller", 1963, null, "nm0565063")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Punit Malhotra", null, null, "nm1159647")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chang-dong Lee", 1954, null, "nm0496969")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Moukarbel", null, null, "nm3139198")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sandeep Reddy Vanga", null, null, "nm9227039")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sandeep Reddy Vanga", null, null, "nm9227039")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Robert Kouba", 1992, null, "nm4134911")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gene Stupnitsky", 1977, null, "nm1969144")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nahnatchka Khan", 1973, null, "nm0451274")

INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aaron Horvath", 1980, null, "nm1739338")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Remo D'Souza", null, null, "nm1150656")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lakmal Darmarathna", null, null, "nm9313483")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Junpei Mizusaki", null, null, "nm2459558")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ratnaa Sinha", null, null, "nm9323057")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Thomas Vincent", 1964, null, "nm0898773")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chiwetel Ejiofor", 1977, null, "nm0252230")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barbara Brown", null, null, "nm0113073")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Frant Gwo", null, null, "nm4914792")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Matt Angel", 1990, null, "nm2460402")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alex Zamm", null, null, "nm0005618")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ozan Açiktan", null, null, "nm1560896")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tim Wardle", null, null, "nm2268736")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gökhan Tiryaki", 1972, null, "nm1780337")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Kamil Cetin", null, null, "nm0149131")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aneesh Chaganty", null, null, "nm3792134")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amit Ravindernath Sharma", null, null, "nm2279430")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ram", null, null, "nm3591496")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ali Atay", null, null, "nm1778124")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("David Yarovesky", null, null, "nm0946521")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chapman Way", 1986, null, "nm1331494")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Elizabeth Chai Vasarhelyi", null, null, "nm1888091")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ari Aster", null, null, "nm4170048")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Ari Aster", null, null, "nm4170048")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tyler Gillett", null, null, "nm2419470")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wagner Moura", 1976, null, "nm0609944")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("John L. Spencer", null, null, "nm0817989")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Prashanth Neel", null, null, "nm6073824")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Julia Ford", 1963, null, "nm0285726")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jemaine Clement", 1974, null, "nm1318596")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Onur Saylak", 1977, null, "nm2380484")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Apoorv Singh Karki", null, null, "nm8600313")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Christopher Caldwell", null, null, "nm4938950")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Tatsuya Nagamine", null, null, "nm0619110")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Geeta Patel", 1975, null, "nm1203789")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Jennifer Kaytin Robinson", null, null, "nm3066492")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Domee Shi", null, null, "nm7626019")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Michael A. Allowitz", 1964, null, "nm0021592")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amar Kaushik", null, null, "nm3603873")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Amy Poehler", 1971, null, "nm0688132")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Chris Nelson", null, null, "nm0625245")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Adesh Prasad", null, null, "nm4205110")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Aditya Dhar", null, null, "nm2336554")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Leslie Hope", 1965, null, "nm0394012")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Barbara Schroeder", null, null, "nm0775446")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gary Dauberman", null, null, "nm2477891")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Goldhaber", null, null, "nm3771823")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Nina Lopez-Corrado", null, null, "nm2745490")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Sameer Saxena", null, null, "nm6875639")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lars Klevberg", null, null, "nm2209002")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Daniel Gray Longino", 1984, null, "nm2777326")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Laure de Clermont-Tonnerre", null, null, "nm0166438")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Lisa Farzaneh", null, null, "nm7087171")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simon Cellan Jones", null, null, "nm0148116")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Todd Douglas Miller", null, null, "nm1530433")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Megan Griffiths", 1975, null, "nm0341722")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Simarpreet Singh", null, null, "nm9587614")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Abram Cox", null, null, "nm1117802")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Cary Solomon", null, null, "nm0813301")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Anne Sewitsky", 1978, null, "nm3205815")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Hugh Pearson", null, null, "nm1651928")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Karim Amer", null, null, "nm5255757")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Scott Aukerman", 1970, null, "nm0042006")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Peter Sullivan", 1976, null, "nm0838289")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Raghav Subbu", null, null, "nm7402819")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Víctor Maldonado", 1978, null, "nm1159646")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Víctor Maldonado", 1978, null, "nm1159646")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Felix Kjellberg", null, null, "nm5579304")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dan Reed", 1964, null, "nm0715371")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Wajahat Rauf", null, null, "nm7249446")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Gabriele Pennacchioli", null, null, "nm1166916")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Alberto Mielgo", null, null, "nm2856960")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Dominique Boidin", null, null, "nm2379899")
INSERT OR REPLACE INTO directors (name, birth_year, death_year, imdb_director_id) values ("Masashi Koizuka", null, null, "nm2967345")

In [22]:
conn.close()